<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Aarti Pharma</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>AARTI PHARMALABS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>492.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4486.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1199.94</td><td>1945.23</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>686.72</td><td>1141.17</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>49.05</td><td>125.36</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>44.14</td><td>75.1</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>197.88</td><td>314.56</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>85.2</td><td>129.69</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>27.35</td><td>63.98</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.75</td><td>3.65</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2.51</td><td>1.93</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>42.12</td><td>62.54</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>11.96</td><td>21.05</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>155.38</td><td>260.78</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>33.13</td><td>67.28</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>122.25</td><td>193.49</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>18.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td>460.3</td><td>457.37</td><td>531.17</td><td>471.62</td><td>485.06</td><td>458.36</td><td>439.8</td><td>448.69</td></tr>
<tr><td>Expenses</td><td></td><td></td><td>384.68</td><td>371.32</td><td>441.4</td><td>385.37</td><td>405.07</td><td>373.49</td><td>351.81</td><td>353.02</td></tr>
<tr><td>Other Income</td><td></td><td></td><td>2.52</td><td>0.02</td><td>1.27</td><td>0.28</td><td>0.74</td><td>0.48</td><td>0.98</td><td>1.39</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td>14.07</td><td>13.77</td><td>16.57</td><td>16.25</td><td>15.95</td><td>17.2</td><td>18.14</td><td>18.77</td></tr>
<tr><td>Interest</td><td></td><td></td><td>4.59</td><td>4.24</td><td>5.63</td><td>5.25</td><td>5.94</td><td>4.17</td><td>3.89</td><td>4.48</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td>59.48</td><td>68.06</td><td>68.84</td><td>65.03</td><td>58.84</td><td>63.98</td><td>66.94</td><td>73.81</td></tr>
<tr><td>Tax</td><td></td><td></td><td>10.61</td><td>16.22</td><td>17.75</td><td>17.35</td><td>15.97</td><td>16.89</td><td>15.14</td><td>21.05</td></tr>
<tr><td>Net profit</td><td></td><td></td><td>48.87</td><td>51.84</td><td>51.09</td><td>47.68</td><td>42.87</td><td>47.09</td><td>51.8</td><td>52.76</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td>75.62</td><td>86.05</td><td>89.77</td><td>86.25</td><td>79.99</td><td>84.87</td><td>87.99</td><td>95.67</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.25</td><td>0.25</td><td>45.31</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>-0.02</td><td>1386.23</td><td>1513.17</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.02</td><td>341.4</td><td>215.31</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>312.02</td><td>457.14</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.25</td><td>2039.9</td><td>2230.93</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>782.09</td><td>925.84</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>187.37</td><td>101.87</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>32.23</td><td>73.71</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.25</td><td>1038.21</td><td>1129.51</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.25</td><td>2039.9</td><td>2230.93</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>376.66</td><td>440.05</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>475.45</td><td>602.04</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.25</td><td>83.27</td><td>25</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>250000</td><td>250000</td><td>90626008</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>-43.7</td><td>263</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>-138.74</td><td>-157.8</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>260.38</td><td>-163.47</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>77.94</td><td>-58.27</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>275.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>9.06</td></tr>
</table>
</body>
</html>