<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Adani Power</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ADANI POWER LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>612.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>236904.02</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>18683.21</td><td>25377.33</td><td>22615.51</td><td>20304.28</td><td>23884.18</td><td>26467.72</td><td>26221.48</td><td>27711.18</td><td>38773.3</td><td>50351.25</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>222.26</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>11619.13</td><td>14745.14</td><td>14630.49</td><td>12535.25</td><td>15952.45</td><td>17580.39</td><td>14781.15</td><td>14762.21</td><td>25480.85</td><td>28452.64</td></tr>
<tr><td>Other Mfr. Exp</td><td>1120.2</td><td>1025.25</td><td>1260.02</td><td>1551.86</td><td>1680.59</td><td>1864.95</td><td>1838.18</td><td>2066.68</td><td>1718.27</td><td></td></tr>
<tr><td>Employee Cost</td><td>320.17</td><td>378.89</td><td>361.01</td><td>353.9</td><td>363.47</td><td>427.04</td><td>431.89</td><td>470.72</td><td>570.46</td><td>643.7</td></tr>
<tr><td>Selling and admin</td><td>511.23</td><td>509.04</td><td>307.25</td><td>225.3</td><td>222.73</td><td>454.63</td><td>281.14</td><td>233.67</td><td>443.65</td><td></td></tr>
<tr><td>Other Expenses</td><td>434.73</td><td>-83.12</td><td>76.7</td><td>202.04</td><td>681.53</td><td>407.07</td><td>200.96</td><td>296.49</td><td>463.73</td><td>2851.95</td></tr>
<tr><td>Other Income</td><td>1188.34</td><td>-201.37</td><td>-3666.12</td><td>754.1</td><td>2447.87</td><td>322.76</td><td>1908.56</td><td>3908.04</td><td>4215.54</td><td>9930.23</td></tr>
<tr><td>Depreciation</td><td>1818.19</td><td>2665.82</td><td>2672.36</td><td>2698.72</td><td>2750.62</td><td>3006.5</td><td>3201.65</td><td>3117.54</td><td>3303.68</td><td>3931.33</td></tr>
<tr><td>Interest</td><td>4863.53</td><td>5560.22</td><td>5901.73</td><td>5570.23</td><td>5656.52</td><td>5314.82</td><td>5106.33</td><td>4094.78</td><td>3333.5</td><td>3388.09</td></tr>
<tr><td>Profit before tax</td><td>-815.63</td><td>374.72</td><td>-6260.17</td><td>-2078.92</td><td>-975.86</td><td>-2264.92</td><td>2288.74</td><td>6577.13</td><td>7674.7</td><td>20791.51</td></tr>
<tr><td>Tax</td><td></td><td>-176.08</td><td>-86.07</td><td>-5.15</td><td>8.54</td><td>9.85</td><td>1018.76</td><td>1665.55</td><td>-3051.94</td><td>-37.28</td></tr>
<tr><td>Net profit</td><td>-815.63</td><td>550.8</td><td>-6174.1</td><td>-2102.95</td><td>-984.4</td><td>-2274.77</td><td>1269.98</td><td>4911.58</td><td>10726.64</td><td>20828.79</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>5360.88</td><td>10597.78</td><td>13723.06</td><td>7043.77</td><td>7764.41</td><td>10242.06</td><td>11005.54</td><td>12990.58</td><td>12991.44</td><td>13363.69</td></tr>
<tr><td>Expenses</td><td>3590.11</td><td>5365.71</td><td>8003.32</td><td>6095.99</td><td>6294.68</td><td>8334.65</td><td>7491.31</td><td>7819.19</td><td>8346.1</td><td>8513.95</td></tr>
<tr><td>Other Income</td><td>232.7</td><td>2710.14</td><td>1785.94</td><td>1402.22</td><td>525.8</td><td>553.26</td><td>7103.47</td><td>1945.1</td><td>363.83</td><td>517.83</td></tr>
<tr><td>Depreciation</td><td>784.36</td><td>773.88</td><td>816.05</td><td>833.03</td><td>837.65</td><td>816.95</td><td>934.59</td><td>1004.48</td><td>1002.23</td><td>990.03</td></tr>
<tr><td>Interest</td><td>1014.77</td><td>1035.34</td><td>823.43</td><td>818.09</td><td>945.98</td><td>746</td><td>883.49</td><td>888.44</td><td>796.56</td><td>819.6</td></tr>
<tr><td>Profit before tax</td><td>204.34</td><td>6132.99</td><td>5866.2</td><td>698.88</td><td>211.9</td><td>897.72</td><td>8799.62</td><td>5223.57</td><td>3210.38</td><td>3557.94</td></tr>
<tr><td>Tax</td><td>-14.15</td><td>1487.52</td><td>1086.34</td><td>3.35</td><td>203.13</td><td>-4344.76</td><td>40.2</td><td>-1370.6</td><td>472.42</td><td>820.7</td></tr>
<tr><td>Net profit</td><td>218.49</td><td>4645.47</td><td>4779.86</td><td>695.53</td><td>8.77</td><td>5242.48</td><td>8759.42</td><td>6594.17</td><td>2737.96</td><td>2737.24</td></tr>
<tr><td>Operating Profit</td><td>1770.77</td><td>5232.07</td><td>5719.74</td><td>947.78</td><td>1469.73</td><td>1907.41</td><td>3514.23</td><td>5171.39</td><td>4645.34</td><td>4849.74</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>2871.92</td><td>3333.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td><td>3856.94</td></tr>
<tr><td>Reserves</td><td>2852.7</td><td>4133.92</td><td>-857.38</td><td>-2967.61</td><td>3855.35</td><td>2623.5</td><td>9255.65</td><td>14599.95</td><td>25772.17</td><td>39288.09</td></tr>
<tr><td>Borrowings</td><td>44741.97</td><td>52729.32</td><td>52484.37</td><td>52834.81</td><td>46979.7</td><td>55122.55</td><td>52430.34</td><td>48744</td><td>42180.58</td><td>34615.56</td></tr>
<tr><td>Other Liabilities</td><td>8007.63</td><td>15597.03</td><td>16027.12</td><td>15803.93</td><td>13292.61</td><td>13422.01</td><td>13262.98</td><td>14780.13</td><td>14011.58</td><td>14564.18</td></tr>
<tr><td>Total</td><td>58474.22</td><td>75794.21</td><td>71511.05</td><td>69528.07</td><td>67984.6</td><td>75025</td><td>78805.91</td><td>81981.02</td><td>85821.27</td><td>92324.77</td></tr>
<tr><td>Net Block</td><td>45079.68</td><td>56941.22</td><td>54390.93</td><td>52137.14</td><td>50418.76</td><td>55845.81</td><td>52851.3</td><td>53274.21</td><td>51451.38</td><td>63015.85</td></tr>
<tr><td>Capital Work in Progress</td><td>191.34</td><td>87.92</td><td>124.61</td><td>119.86</td><td>350.08</td><td>2346.77</td><td>6439.42</td><td>10269.74</td><td>12879.54</td><td>925.12</td></tr>
<tr><td>Investments</td><td>357.3</td><td>0.06</td><td>164.33</td><td>0.01</td><td>2.72</td><td>2.8</td><td>20.1</td><td>183.25</td><td>654.05</td><td>373.51</td></tr>
<tr><td>Other Assets</td><td>12845.9</td><td>18765.01</td><td>16831.18</td><td>17271.06</td><td>17213.04</td><td>16829.62</td><td>19495.09</td><td>18253.82</td><td>20836.3</td><td>28010.29</td></tr>
<tr><td>Total</td><td>58474.22</td><td>75794.21</td><td>71511.05</td><td>69528.07</td><td>67984.6</td><td>75025</td><td>78805.91</td><td>81981.02</td><td>85821.27</td><td>92324.77</td></tr>
<tr><td>Receivables</td><td>3489.54</td><td>12476.6</td><td>7704.34</td><td>6069.81</td><td>8550.99</td><td>8366.47</td><td>11839.28</td><td>9560.92</td><td>11529.36</td><td>11677.48</td></tr>
<tr><td>Inventory</td><td>1629.05</td><td>1619.2</td><td>1760.41</td><td>873.98</td><td>1224.08</td><td>2522.77</td><td>2025.11</td><td>2258.27</td><td>3075.2</td><td>4142.1</td></tr>
<tr><td>Cash & Bank</td><td>856.25</td><td>868.7</td><td>604.17</td><td>856.61</td><td>915.88</td><td>1979.31</td><td>1607.32</td><td>2364.68</td><td>1873.65</td><td>7211.76</td></tr>
<tr><td>No. of Equity Shares</td><td>2871922100</td><td>3333938941</td><td>3856938941</td><td>3856938941</td><td>3856938941</td><td>3856938941</td><td>3856938941</td><td>3856938941</td><td>3856938941</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>5823.52</td><td>5257.21</td><td>4725.2</td><td>5101.15</td><td>5610.38</td><td>5597.55</td><td>7014.35</td><td>10232.73</td><td>8430.53</td><td>14170.15</td></tr>
<tr><td>Cash from Investing Activity</td><td>-4737.06</td><td>-2692.11</td><td>-1212.04</td><td>-520.43</td><td>-984.02</td><td>-2303.81</td><td>-2187.57</td><td>774.46</td><td>1544.79</td><td>3485.03</td></tr>
<tr><td>Cash from Financing Activity</td><td>-1143.98</td><td>-2712.95</td><td>-3538.93</td><td>-4600.11</td><td>-4663.44</td><td>-2377.18</td><td>-5654.84</td><td>-10337.86</td><td>-10408.46</td><td>-16864.03</td></tr>
<tr><td>Net Cash Flow</td><td>-57.52</td><td>-147.85</td><td>-25.77</td><td>-19.39</td><td>-37.08</td><td>916.56</td><td>-828.06</td><td>669.33</td><td>-433.14</td><td>791.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>47.3</td><td>34.45</td><td>39.9</td><td>23.7</td><td>48.2</td><td>27.75</td><td>85.05</td><td>185.1</td><td>191.6</td><td>533.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>287.19</td><td>333.39</td><td>385.69</td><td>385.69</td><td>385.69</td><td>385.69</td><td>385.69</td><td>385.69</td><td>385.69</td><td>385.69</td></tr>
</table>
</body>
</html>