<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Aditya Birla Cap</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ADITYA BIRLA CAPITAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>209.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>54433.52</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td>2709.95</td><td>3644.92</td><td>5881.64</td><td>11526.01</td><td>15167.61</td><td>16696.41</td><td>19259.72</td><td>22231.73</td><td>30163.15</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td>6.16</td><td>7.24</td><td>9.49</td><td>6.41</td><td>7.88</td><td>6.85</td><td>6.18</td><td>6.21</td><td>8.11</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td>19.84</td><td>23.51</td><td>31.24</td><td>226.42</td><td>8357.33</td><td>9090.17</td><td>12087.75</td><td>14659.3</td><td>17114.14</td></tr>
<tr><td>Employee Cost</td><td></td><td>426.06</td><td>501.24</td><td>717.28</td><td>652.16</td><td>788.45</td><td>705.46</td><td>758.02</td><td>867.59</td><td>1140.07</td></tr>
<tr><td>Selling and admin</td><td></td><td>457.5</td><td>490.46</td><td>773.06</td><td>318.41</td><td>292.31</td><td>264.3</td><td>247.87</td><td>290.06</td><td>525.91</td></tr>
<tr><td>Other Expenses</td><td></td><td>91.99</td><td>133.54</td><td>946.6</td><td>6335.69</td><td>404.24</td><td>867.34</td><td>866.47</td><td>870.93</td><td>1183.61</td></tr>
<tr><td>Other Income</td><td></td><td>-39.4</td><td>24.21</td><td>4.05</td><td>176.84</td><td>230.2</td><td>253.82</td><td>282.47</td><td>350.52</td><td>310.75</td></tr>
<tr><td>Depreciation</td><td></td><td>37.49</td><td>32.85</td><td>43.17</td><td>44.27</td><td>57.89</td><td>102.56</td><td>114.45</td><td>121.91</td><td>144.83</td></tr>
<tr><td>Interest</td><td></td><td>1112.49</td><td>1611.64</td><td>2299.11</td><td>3023.65</td><td>4109.06</td><td>4633.81</td><td>3915.76</td><td>3479.53</td><td>4722</td></tr>
<tr><td>Profit before tax</td><td></td><td>519.02</td><td>868.65</td><td>1065.74</td><td>1095.84</td><td>1380.65</td><td>1279.74</td><td>1545.69</td><td>2286.72</td><td>5635.23</td></tr>
<tr><td>Tax</td><td></td><td>210.17</td><td>344.57</td><td>374.59</td><td>402.76</td><td>569.35</td><td>413.63</td><td>440.04</td><td>626.65</td><td>811.16</td></tr>
<tr><td>Net profit</td><td></td><td>308.85</td><td>524.08</td><td>530</td><td>693.06</td><td>870.94</td><td>919.78</td><td>1126.54</td><td>1705.97</td><td>4795.77</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>5596.49</td><td>5711.76</td><td>6616.85</td><td>5590.28</td><td>6825.01</td><td>6938.14</td><td>8024.95</td><td>7044.97</td><td>7720.55</td><td>8800.06</td></tr>
<tr><td>Expenses</td><td>4261.8</td><td>4139.71</td><td>5192.62</td><td>4087.88</td><td>5145.33</td><td>4943.91</td><td>5765.66</td><td>4489.87</td><td>4898.63</td><td>5763.64</td></tr>
<tr><td>Other Income</td><td>96.93</td><td>95.33</td><td>82.79</td><td>60.53</td><td>105.19</td><td>2810.07</td><td>90.66</td><td>70.23</td><td>62.01</td><td>60.34</td></tr>
<tr><td>Depreciation</td><td>30.39</td><td>30.42</td><td>33.08</td><td>32.27</td><td>34.66</td><td>37.69</td><td>40.21</td><td>42.8</td><td>47.95</td><td>49.57</td></tr>
<tr><td>Interest</td><td>871.98</td><td>885.28</td><td>865.78</td><td>916.98</td><td>1059.81</td><td>1267.61</td><td>1477.59</td><td>1671.01</td><td>1827.05</td><td>1997.42</td></tr>
<tr><td>Profit before tax</td><td>529.25</td><td>751.68</td><td>608.16</td><td>613.68</td><td>690.4</td><td>3499</td><td>832.15</td><td>911.52</td><td>1008.93</td><td>1049.77</td></tr>
<tr><td>Tax</td><td>172.2</td><td>180.44</td><td>146.73</td><td>189.86</td><td>211.03</td><td>213.9</td><td>196.37</td><td>245.82</td><td>284.15</td><td>289.47</td></tr>
<tr><td>Net profit</td><td>376.9</td><td>576.74</td><td>450.27</td><td>429.47</td><td>488.25</td><td>3269.4</td><td>608.65</td><td>648.76</td><td>705.05</td><td>735.76</td></tr>
<tr><td>Operating Profit</td><td>1334.69</td><td>1572.05</td><td>1424.23</td><td>1502.4</td><td>1679.68</td><td>1994.23</td><td>2259.29</td><td>2555.1</td><td>2821.92</td><td>3036.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td>757.01</td><td>796.01</td><td>1232.24</td><td>2201.04</td><td>2201.4</td><td>2413.76</td><td>2415.28</td><td>2416.31</td><td>2417.99</td></tr>
<tr><td>Reserves</td><td></td><td>1055.62</td><td>1921.18</td><td>5377.95</td><td>6336.8</td><td>7310.95</td><td>10162.03</td><td>11327.3</td><td>13075.8</td><td>17892.76</td></tr>
<tr><td>Borrowings</td><td></td><td>14815.14</td><td>23012.5</td><td>33215.1</td><td>44515.65</td><td>56324.17</td><td>55966.43</td><td>53043.73</td><td>58425.47</td><td>84737.5</td></tr>
<tr><td>Other Liabilities</td><td></td><td>3014.38</td><td>4311.84</td><td>38316.01</td><td>40502.4</td><td>43633.4</td><td>44977.93</td><td>57698.32</td><td>66897.49</td><td>75304.26</td></tr>
<tr><td>Total</td><td></td><td>19642.15</td><td>30041.53</td><td>78141.3</td><td>93555.89</td><td>109469.92</td><td>113520.15</td><td>124484.63</td><td>140815.07</td><td>180352.51</td></tr>
<tr><td>Net Block</td><td></td><td>284.48</td><td>313.75</td><td>777.77</td><td>837.49</td><td>892.02</td><td>1180.63</td><td>1258.8</td><td>1305.39</td><td>1278.74</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td>7.98</td><td>11.24</td><td>34.86</td><td>32.65</td><td>34.17</td><td>74.32</td><td>44.95</td><td>44.62</td><td>44.04</td></tr>
<tr><td>Investments</td><td></td><td>719.66</td><td>1363.19</td><td>11759.92</td><td>39572.99</td><td>43955.03</td><td>48414.86</td><td>57702.78</td><td>67355.17</td><td>80382.86</td></tr>
<tr><td>Other Assets</td><td></td><td>18630.03</td><td>28353.35</td><td>65568.75</td><td>53112.76</td><td>64588.7</td><td>63850.34</td><td>65478.1</td><td>72109.89</td><td>98646.87</td></tr>
<tr><td>Total</td><td></td><td>19642.15</td><td>30041.53</td><td>78141.3</td><td>93555.89</td><td>109469.92</td><td>113520.15</td><td>124484.63</td><td>140815.07</td><td>180352.51</td></tr>
<tr><td>Receivables</td><td></td><td>124.2</td><td>178.56</td><td>369.93</td><td>376.98</td><td>374.39</td><td>473.12</td><td>445.99</td><td>658.5</td><td>411.08</td></tr>
<tr><td>Inventory</td><td></td><td>467.57</td><td>330.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td></td><td>280.89</td><td>113.67</td><td>803.7</td><td>1056.36</td><td>1085.95</td><td>3117.13</td><td>3179.14</td><td>2637.66</td><td>2315.86</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td>757010000</td><td>796010000</td><td>1232240000</td><td>2201039348</td><td>2201404363</td><td>2413760708</td><td>2415277978</td><td>2416311986</td><td>2417994042</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>-8697.42</td><td>-7569.6</td><td>-11893.7</td><td>-10255.81</td><td>4270.98</td><td>63.96</td><td>-5069.51</td><td>-24028.59</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>-637.67</td><td>-1623.11</td><td>37.54</td><td>-690.43</td><td>-3069.55</td><td>2429.08</td><td>-1445.55</td><td>-2674.68</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td>9183.76</td><td>9870.36</td><td>12006.21</td><td>10851.83</td><td>874.71</td><td>-2580.62</td><td>5836.44</td><td>26385.21</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>-151.33</td><td>677.65</td><td>150.05</td><td>-94.41</td><td>2076.14</td><td>-87.58</td><td>-678.62</td><td>-318.06</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td>145.95</td><td>97.2</td><td>42.15</td><td>119.3</td><td>107.65</td><td>153.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td>75.7</td><td>79.6</td><td>123.22</td><td>220.1</td><td>220.14</td><td>241.38</td><td>241.53</td><td>241.63</td><td>241.8</td></tr>
</table>
</body>
</html>