<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Aditya Bir</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ADITYA BIRLA FASHION & RETAIL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>247.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>25092.84</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>8117.72</td><td>8787.86</td><td>5248.92</td><td>8136.22</td><td>12417.9</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td>4153.47</td><td>4586.36</td><td>1947.97</td><td>4660.6</td><td>6792.64</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td>228.5</td><td>362.21</td><td>-614.99</td><td>940.43</td><td>1240.66</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>129.47</td><td>144.05</td><td>84.57</td><td>111.04</td><td>183.16</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>237.8</td><td>270.8</td><td>214.19</td><td>294.02</td><td>446.73</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>913.24</td><td>1068.46</td><td>866.07</td><td>1159.16</td><td>1564.11</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>2273.06</td><td>1761.87</td><td>883.57</td><td>1654.25</td><td>3006.34</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>46.5</td><td>59.15</td><td>54.95</td><td>59.14</td><td>108.18</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>63.42</td><td>62.53</td><td>72.68</td><td>102.89</td><td>123.17</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>282.33</td><td>885.31</td><td>962.75</td><td>997.03</td><td>1226.96</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>224.67</td><td>469.49</td><td>530.08</td><td>389.23</td><td>536.05</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>149.1</td><td>-32.89</td><td>-837.54</td><td>-144.93</td><td>-82.44</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>-172.12</td><td>132.13</td><td>-101.54</td><td>-26.57</td><td>-22.97</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>321.22</td><td>-163.01</td><td>-672.51</td><td>-108.72</td><td>-36</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2054.34</td><td>2987.1</td><td>2282.83</td><td>2874.76</td><td>3074.61</td><td>3588.8</td><td>2879.73</td><td>3196.06</td><td>3226.44</td><td>4166.71</td></tr>
<tr><td>Expenses</td><td>1741.61</td><td>2404.99</td><td>1909.81</td><td>2406.32</td><td>2678.59</td><td>3153.17</td><td>2686.93</td><td>2903.73</td><td>2903.57</td><td>3613.44</td></tr>
<tr><td>Other Income</td><td>25.19</td><td>26.7</td><td>27.86</td><td>31.75</td><td>22.01</td><td>31.47</td><td>38.76</td><td>60.66</td><td>45.74</td><td>51.31</td></tr>
<tr><td>Depreciation</td><td>241.57</td><td>250.92</td><td>266.79</td><td>270.28</td><td>290.66</td><td>317.54</td><td>348.48</td><td>366.98</td><td>388.8</td><td>444.06</td></tr>
<tr><td>Interest</td><td>87.58</td><td>88.44</td><td>89.46</td><td>94.42</td><td>103.58</td><td>132.13</td><td>142.23</td><td>187.31</td><td>208.36</td><td>245.43</td></tr>
<tr><td>Profit before tax</td><td>8.77</td><td>269.45</td><td>44.63</td><td>135.49</td><td>23.79</td><td>17.43</td><td>-259.15</td><td>-201.3</td><td>-228.55</td><td>-84.91</td></tr>
<tr><td>Tax</td><td>3.68</td><td>72.65</td><td>12.73</td><td>41.05</td><td>-5.63</td><td>6.22</td><td>-64.61</td><td>-39.68</td><td>-28.21</td><td>22.69</td></tr>
<tr><td>Net profit</td><td>5.49</td><td>189.34</td><td>43.59</td><td>97.46</td><td>37.69</td><td>15.79</td><td>-186.94</td><td>-141.43</td><td>-179.15</td><td>-77.87</td></tr>
<tr><td>Operating Profit</td><td>312.73</td><td>582.11</td><td>373.02</td><td>468.44</td><td>396.02</td><td>435.63</td><td>192.8</td><td>292.33</td><td>322.87</td><td>553.27</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td>773.48</td><td>773.95</td><td>915.05</td><td>938.29</td><td>948.79</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>655.4</td><td>293.94</td><td>1728.74</td><td>1835.03</td><td>1919.5</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>1702.35</td><td>5284.32</td><td>3599.27</td><td>4099.91</td><td>6572.85</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>3489.84</td><td>3406.1</td><td>3805.61</td><td>5321.39</td><td>7348.46</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>6621.07</td><td>9758.31</td><td>10048.67</td><td>12194.62</td><td>16789.6</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>2555.48</td><td>4940</td><td>5626.9</td><td>6059.24</td><td>8359.39</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>22.39</td><td>47.62</td><td>37.6</td><td>103.21</td><td>203.7</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>4.21</td><td>14.2</td><td>417.9</td><td>684.03</td><td>266.58</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>4038.99</td><td>4756.49</td><td>3966.27</td><td>5348.14</td><td>7959.93</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>6621.07</td><td>9758.31</td><td>10048.67</td><td>12194.62</td><td>16789.6</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>780.81</td><td>840.46</td><td>607.97</td><td>756.43</td><td>886.44</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td>1921.28</td><td>2366.78</td><td>1846.96</td><td>2929.59</td><td>4214.38</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>57.41</td><td>266.94</td><td>261.75</td><td>120.53</td><td>701.06</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td>773481460</td><td>773947987</td><td>937530659</td><td>938304034</td><td>948790847</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td>527.61</td><td>644.04</td><td>1103.8</td><td>950.51</td><td>636.2</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-276.55</td><td>-550.89</td><td>-855.22</td><td>-552.82</td><td>-387.23</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-266.43</td><td>116.46</td><td>-269.25</td><td>-525.6</td><td>325.5</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td>-15.37</td><td>209.61</td><td>-20.67</td><td>-127.91</td><td>574.47</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td>217.2</td><td>150.72</td><td>201.25</td><td>302.1</td><td>214.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>86.39</td><td>86.44</td><td>84.76</td><td>93.82</td><td>94.88</td></tr>
</table>
</body>
</html>