<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Ajanta Pharma</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>AJANTA PHARMA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2410.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>30355.52</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1473.56</td><td>1749.37</td><td>1983.26</td><td>2125.76</td><td>2055.37</td><td>2587.87</td><td>2889.69</td><td>3340.99</td><td>3742.64</td><td>4208.71</td></tr>
<tr><td>Raw Material Cost</td><td>358.08</td><td>463.1</td><td>425.21</td><td>455.63</td><td>440.09</td><td>672.46</td><td>795.95</td><td>915.44</td><td>1024.64</td><td>1105.78</td></tr>
<tr><td>Change in Inventory</td><td>-7.34</td><td>49.27</td><td>10.62</td><td>49.22</td><td>56.61</td><td>16.75</td><td>150.9</td><td>83.17</td><td>-25.76</td><td>39.21</td></tr>
<tr><td>Power and Fuel</td><td>12.91</td><td>15.49</td><td>18.7</td><td>27.42</td><td>32.65</td><td>38.88</td><td>43.7</td><td>54.38</td><td>65.71</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>55.72</td><td>77.9</td><td>100.69</td><td>140.76</td><td>112.39</td><td>125.15</td><td>119.49</td><td>170.38</td><td>185.62</td><td></td></tr>
<tr><td>Employee Cost</td><td>200.58</td><td>256.64</td><td>295.42</td><td>376.7</td><td>434.78</td><td>489.88</td><td>555.11</td><td>656.66</td><td>792.18</td><td>900.34</td></tr>
<tr><td>Selling and admin</td><td>284.95</td><td>327.55</td><td>362.94</td><td>424.48</td><td>441.45</td><td>530.6</td><td>477.15</td><td>641.84</td><td>777.93</td><td></td></tr>
<tr><td>Other Expenses</td><td>48.7</td><td>63.98</td><td>100.15</td><td>91.59</td><td>83.96</td><td>64.22</td><td>48.42</td><td>52.29</td><td>62.54</td><td>1069.86</td></tr>
<tr><td>Other Income</td><td>8.29</td><td>14.23</td><td>19.97</td><td>24.15</td><td>20.85</td><td>88.17</td><td>23.77</td><td>111.81</td><td>73.63</td><td>84.6</td></tr>
<tr><td>Depreciation</td><td>51.64</td><td>44.43</td><td>61.21</td><td>59.59</td><td>72.08</td><td>95.72</td><td>116.09</td><td>125.3</td><td>130.8</td><td>135.4</td></tr>
<tr><td>Interest</td><td>5.92</td><td>4.89</td><td>1.36</td><td>0.41</td><td>1.16</td><td>11.91</td><td>8.27</td><td>10.2</td><td>5.84</td><td>7.21</td></tr>
<tr><td>Profit before tax</td><td>456.01</td><td>558.89</td><td>648.17</td><td>622.55</td><td>514.27</td><td>663.97</td><td>900.18</td><td>909.48</td><td>745.25</td><td>1113.93</td></tr>
<tr><td>Tax</td><td>146.15</td><td>143.28</td><td>141.34</td><td>153.91</td><td>127.3</td><td>196.27</td><td>246.31</td><td>196.8</td><td>157.27</td><td>297.76</td></tr>
<tr><td>Net profit</td><td>309.86</td><td>415.61</td><td>506.83</td><td>468.64</td><td>386.97</td><td>467.7</td><td>653.87</td><td>712.68</td><td>587.98</td><td>816.17</td></tr>
<tr><td>Dividend Amount</td><td>53.04</td><td>70.76</td><td>114.98</td><td></td><td>78.93</td><td>114.01</td><td>82.6</td><td>81.56</td><td>88.44</td><td>644.38</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>837.91</td><td>870.29</td><td>950.93</td><td>938.1</td><td>971.77</td><td>881.84</td><td>1021.04</td><td>1028.44</td><td>1105.15</td><td>1054.08</td></tr>
<tr><td>Expenses</td><td>598.33</td><td>663.6</td><td>729.17</td><td>741.76</td><td>802.22</td><td>732.47</td><td>749.72</td><td>737.78</td><td>791.08</td><td>775.76</td></tr>
<tr><td>Other Income</td><td>24.03</td><td>29.48</td><td>32.76</td><td>40.35</td><td>34.93</td><td>36.83</td><td>31.75</td><td>21.33</td><td>13.59</td><td>35.5</td></tr>
<tr><td>Depreciation</td><td>31.72</td><td>31.16</td><td>31.78</td><td>32.7</td><td>33.3</td><td>33.02</td><td>33.18</td><td>33.71</td><td>34.26</td><td>34.25</td></tr>
<tr><td>Interest</td><td>0.95</td><td>7.34</td><td>0.88</td><td>0.99</td><td>2.84</td><td>1.13</td><td>0.85</td><td>2.34</td><td>2.49</td><td>1.53</td></tr>
<tr><td>Profit before tax</td><td>230.94</td><td>197.67</td><td>221.86</td><td>203</td><td>168.34</td><td>152.05</td><td>269.04</td><td>275.94</td><td>290.91</td><td>278.04</td></tr>
<tr><td>Tax</td><td>39.16</td><td>46.46</td><td>47.24</td><td>46.4</td><td>33.83</td><td>29.8</td><td>60.92</td><td>80.64</td><td>80.88</td><td>75.32</td></tr>
<tr><td>Net profit</td><td>191.78</td><td>151.21</td><td>174.62</td><td>156.6</td><td>134.51</td><td>122.25</td><td>208.12</td><td>195.3</td><td>210.03</td><td>202.72</td></tr>
<tr><td>Operating Profit</td><td>239.58</td><td>206.69</td><td>221.76</td><td>196.34</td><td>169.55</td><td>149.37</td><td>271.32</td><td>290.66</td><td>314.07</td><td>278.32</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>17.68</td><td>17.69</td><td>17.69</td><td>17.69</td><td>17.54</td><td>17.54</td><td>17.39</td><td>17.17</td><td>25.27</td><td>25.27</td></tr>
<tr><td>Reserves</td><td>823.41</td><td>1173.17</td><td>1550</td><td>2023.68</td><td>2227.67</td><td>2581.33</td><td>2978.24</td><td>3247.17</td><td>3362.72</td><td>3542.09</td></tr>
<tr><td>Borrowings</td><td>72.38</td><td>81.35</td><td>1.28</td><td>1.8</td><td>35.96</td><td>74.96</td><td>31.36</td><td>25.03</td><td>35.63</td><td>35.28</td></tr>
<tr><td>Other Liabilities</td><td>232.88</td><td>207.17</td><td>254.28</td><td>382.81</td><td>383.2</td><td>619.46</td><td>701.63</td><td>710.66</td><td>1158.63</td><td>1035.75</td></tr>
<tr><td>Total</td><td>1146.35</td><td>1479.38</td><td>1823.25</td><td>2425.98</td><td>2664.37</td><td>3293.29</td><td>3728.62</td><td>4000.03</td><td>4582.25</td><td>4638.39</td></tr>
<tr><td>Net Block</td><td>288.09</td><td>450.74</td><td>589.17</td><td>1052.66</td><td>1178.23</td><td>1472.14</td><td>1541.11</td><td>1511.99</td><td>1496.44</td><td>1479.19</td></tr>
<tr><td>Capital Work in Progress</td><td>170.2</td><td>239.8</td><td>339.26</td><td>61.33</td><td>261.61</td><td>131.86</td><td>108.19</td><td>152.86</td><td>209.47</td><td>256.45</td></tr>
<tr><td>Investments</td><td>59.5</td><td>86.04</td><td>181.56</td><td>189.96</td><td>77.73</td><td>79.42</td><td>175.67</td><td>146.96</td><td>535.37</td><td>348.63</td></tr>
<tr><td>Other Assets</td><td>628.56</td><td>702.8</td><td>713.26</td><td>1122.03</td><td>1146.8</td><td>1609.87</td><td>1903.65</td><td>2188.22</td><td>2340.97</td><td>2554.12</td></tr>
<tr><td>Total</td><td>1146.35</td><td>1479.38</td><td>1823.25</td><td>2425.98</td><td>2664.37</td><td>3293.29</td><td>3728.62</td><td>4000.03</td><td>4582.25</td><td>4638.39</td></tr>
<tr><td>Receivables</td><td>258.76</td><td>372.35</td><td>323.15</td><td>459.79</td><td>459.48</td><td>775.3</td><td>738.43</td><td>1019.81</td><td>1056.9</td><td>1246.84</td></tr>
<tr><td>Inventory</td><td>159.03</td><td>204.58</td><td>211.02</td><td>350.63</td><td>435.71</td><td>495.68</td><td>766.47</td><td>791.07</td><td>815.63</td><td>828.36</td></tr>
<tr><td>Cash & Bank</td><td>136.76</td><td>43.37</td><td>69.95</td><td>93.09</td><td>100.51</td><td>205.25</td><td>209.61</td><td>211.79</td><td>330.9</td><td>130.77</td></tr>
<tr><td>No. of Equity Shares</td><td>88710000</td><td>88001250</td><td>88771500</td><td>88771500</td><td>88020270</td><td>88027770</td><td>87298270</td><td>86182270</td><td>126681155</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>279.42</td><td>326.15</td><td>609.29</td><td>281.12</td><td>374.51</td><td>456.77</td><td>576.31</td><td>561.71</td><td>791.78</td><td>785.07</td></tr>
<tr><td>Cash from Investing Activity</td><td>-158.36</td><td>-209.06</td><td>-383.12</td><td>-256.11</td><td>-222.78</td><td>-224.4</td><td>-282.38</td><td>-74.1</td><td>-559.6</td><td>65.39</td></tr>
<tr><td>Cash from Financing Activity</td><td>-105.19</td><td>-117.32</td><td>-201.77</td><td>-0.2</td><td>-147.46</td><td>-128.63</td><td>-318.29</td><td>-459.71</td><td>-107.87</td><td>-1051.06</td></tr>
<tr><td>Net Cash Flow</td><td>15.87</td><td>-0.23</td><td>24.4</td><td>24.81</td><td>4.27</td><td>103.74</td><td>-24.36</td><td>27.9</td><td>124.31</td><td>-200.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>819.33</td><td>939.43</td><td>1173.7</td><td>926.9</td><td>690.13</td><td>910.87</td><td>1194.6</td><td>1207.17</td><td>1208.8</td><td>2230.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>13.2</td><td>13.2</td><td>13.2</td><td>13.2</td><td>13.09</td><td>13.09</td><td>12.98</td><td>12.81</td><td>12.81</td><td>12.59</td></tr>
</table>
</body>
</html>