<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Ami Organics</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>AMI ORGANICS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1193.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4394.21</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>160.26</td><td>187.87</td><td>238.51</td><td>239.61</td><td>340.61</td><td>520.14</td><td>616.73</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>94.75</td><td>114.72</td><td>151.95</td><td>137.96</td><td>174.87</td><td>282.33</td><td>345.85</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td>-0.24</td><td>1.77</td><td>3.62</td><td>8.99</td><td>-4.81</td><td>9.5</td><td>14.96</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>1</td><td>1.27</td><td>4.14</td><td>4.54</td><td>5.26</td><td>21.4</td><td>22.28</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>15.42</td><td>19.87</td><td>17.04</td><td>34.54</td><td>40.65</td><td>49.53</td><td>46.71</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>7.38</td><td>9.89</td><td>11.8</td><td>17.87</td><td>21.11</td><td>41.68</td><td>49.44</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>17.6</td><td>12.56</td><td>11.51</td><td>10.46</td><td>12.03</td><td>27.03</td><td>36.09</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>0.73</td><td>0.81</td><td>3.61</td><td>1.44</td><td>1.39</td><td>2.49</td><td>7.97</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>0.21</td><td>2.96</td><td>0.38</td><td>2.07</td><td>1.04</td><td>2.76</td><td>3.57</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>1.37</td><td>1.91</td><td>2.6</td><td>3.52</td><td>4.19</td><td>10.08</td><td>12.34</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>3.3</td><td>3.23</td><td>4.75</td><td>5.59</td><td>5.62</td><td>6.41</td><td>2.41</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>18.68</td><td>28.34</td><td>35.11</td><td>34.75</td><td>71.72</td><td>91.45</td><td>112.17</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>6.63</td><td>9.86</td><td>11.81</td><td>7.29</td><td>17.72</td><td>19.5</td><td>28.88</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>12.05</td><td>18.5</td><td>23.3</td><td>27.47</td><td>54</td><td>71.95</td><td>83.29</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10.93</td><td>10.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>122.31</td><td>141.15</td><td>143.54</td><td>131.01</td><td>146.99</td><td>152.36</td><td>186.38</td><td>153.72</td><td>172.36</td><td>166.44</td></tr>
<tr><td>Expenses</td><td>94.94</td><td>111.22</td><td>117.76</td><td>108.09</td><td>118.86</td><td>121.56</td><td>145.53</td><td>119.71</td><td>147.54</td><td>139.93</td></tr>
<tr><td>Other Income</td><td>0.16</td><td>1.39</td><td>0.18</td><td>0.62</td><td>0.85</td><td>3.02</td><td>-0.17</td><td>1.15</td><td>-30.25</td><td>3.49</td></tr>
<tr><td>Depreciation</td><td>2.32</td><td>2.42</td><td>3.11</td><td>3.04</td><td>2.82</td><td>3.06</td><td>3.43</td><td>3.71</td><td>3.69</td><td>3.76</td></tr>
<tr><td>Interest</td><td>2.69</td><td>0.34</td><td>0.59</td><td>0.18</td><td>0.45</td><td>1.19</td><td>0.59</td><td>0.51</td><td>0.82</td><td>2.54</td></tr>
<tr><td>Profit before tax</td><td>22.52</td><td>28.56</td><td>22.26</td><td>20.32</td><td>25.71</td><td>29.57</td><td>36.66</td><td>30.94</td><td>-9.94</td><td>23.7</td></tr>
<tr><td>Tax</td><td>5.06</td><td>9.09</td><td>0.98</td><td>5.46</td><td>6.67</td><td>7.28</td><td>9.47</td><td>8.7</td><td>7.08</td><td>5.89</td></tr>
<tr><td>Net profit</td><td>17.47</td><td>19.47</td><td>21.28</td><td>14.86</td><td>19.04</td><td>22.28</td><td>27.2</td><td>19.72</td><td>-18.85</td><td>16.75</td></tr>
<tr><td>Operating Profit</td><td>27.37</td><td>29.93</td><td>25.78</td><td>22.92</td><td>28.13</td><td>30.8</td><td>40.85</td><td>34.01</td><td>24.82</td><td>26.51</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td>1.5</td><td>1.5</td><td>10.5</td><td>10.5</td><td>31.5</td><td>36.44</td><td>36.44</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td>37.49</td><td>56.18</td><td>71.72</td><td>101.31</td><td>135.43</td><td>485.84</td><td>557.52</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>26.53</td><td>43.83</td><td>53.91</td><td>59.42</td><td>136.63</td><td>0.84</td><td>3.6</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>43.42</td><td>53.94</td><td>77.02</td><td>60.66</td><td>109.71</td><td>135.76</td><td>169.38</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>108.94</td><td>155.45</td><td>213.15</td><td>231.89</td><td>413.27</td><td>658.88</td><td>766.94</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>27.76</td><td>31.54</td><td>78.78</td><td>85.19</td><td>186.31</td><td>204.53</td><td>258.95</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>11.42</td><td>30.33</td><td>1.96</td><td>11.71</td><td>0.2</td><td>2.96</td><td>29.8</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>1.43</td><td>2.55</td><td>1.64</td><td>1.73</td><td>1.43</td><td>1.71</td><td>1.65</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td>68.33</td><td>91.03</td><td>130.77</td><td>133.26</td><td>225.33</td><td>449.68</td><td>476.54</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>108.94</td><td>155.45</td><td>213.15</td><td>231.89</td><td>413.27</td><td>658.88</td><td>766.94</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>36.49</td><td>49.97</td><td>76.09</td><td>56.4</td><td>120.69</td><td>163.7</td><td>230.26</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>19.72</td><td>27.39</td><td>38.67</td><td>52.34</td><td>60.36</td><td>112.17</td><td>119.17</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td>3.58</td><td>1.17</td><td>0.49</td><td>3.82</td><td>2.68</td><td>99.55</td><td>58.67</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td>1500000</td><td>1500000</td><td>10500000</td><td>10500000</td><td>31500000</td><td>36437062</td><td>36437062</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>28.54</td><td>8.46</td><td>14.84</td><td>27.08</td><td>27.96</td><td>-11.93</td><td>65.53</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-18.61</td><td>-25.32</td><td>-20.87</td><td>-23.94</td><td>-101.21</td><td>-120.72</td><td>-33.04</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-7.11</td><td>14.62</td><td>5.62</td><td>0.19</td><td>72.11</td><td>140.26</td><td>-12.25</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>2.82</td><td>-2.24</td><td>-0.41</td><td>3.33</td><td>-1.14</td><td>7.61</td><td>20.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1002.25</td><td>889.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td>0.15</td><td>0.15</td><td>1.05</td><td>1.05</td><td>3.15</td><td>3.64</td><td>3.64</td></tr>
</table>
</body>
</html>