<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Angel One</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ANGEL ONE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2420.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>21769.24</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>450.43</td><td>451.2</td><td>440.05</td><td>770.25</td><td>777.69</td><td>747.6</td><td>1288.69</td><td>2291.9</td><td>3002.3</td><td>4271.68</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>6.91</td><td>7.37</td><td>6.44</td><td>5.65</td><td>5.4</td><td>4.73</td><td>1.79</td><td>1.64</td><td>1.39</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>12.03</td><td>15.81</td><td>18.83</td><td>21.08</td><td>3.37</td><td>253.79</td><td>400.36</td><td>621.87</td><td>769.2</td><td></td></tr>
<tr><td>Employee Cost</td><td>93.01</td><td>111.63</td><td>135.14</td><td>124.5</td><td>161.95</td><td>160</td><td>172.08</td><td>281.3</td><td>398.43</td><td>556.46</td></tr>
<tr><td>Selling and admin</td><td>58.39</td><td>210.51</td><td>270.38</td><td>354.29</td><td>129.72</td><td>100.74</td><td>207.81</td><td>440.47</td><td>495.11</td><td></td></tr>
<tr><td>Other Expenses</td><td>168.43</td><td>16.28</td><td>6.16</td><td>10.46</td><td>274.49</td><td>45.2</td><td>44.24</td><td>20.26</td><td>43.72</td><td>2023.71</td></tr>
<tr><td>Other Income</td><td>11.29</td><td>11.02</td><td>112.26</td><td>13.64</td><td>11.43</td><td>2.06</td><td>8.24</td><td>4.72</td><td>18.33</td><td>8.04</td></tr>
<tr><td>Depreciation</td><td>10.28</td><td>13.01</td><td>13.52</td><td>14.53</td><td>20</td><td>20.92</td><td>18.36</td><td>18.64</td><td>30.26</td><td>49.93</td></tr>
<tr><td>Interest</td><td>38.41</td><td>35.66</td><td>53.93</td><td>94.69</td><td>69.76</td><td>49.96</td><td>42.32</td><td>75.98</td><td>90.94</td><td>135.95</td></tr>
<tr><td>Profit before tax</td><td>74.26</td><td>51.95</td><td>47.91</td><td>158.69</td><td>124.43</td><td>114.32</td><td>409.97</td><td>836.46</td><td>1191.58</td><td>1513.67</td></tr>
<tr><td>Tax</td><td>27.3</td><td>20.22</td><td>16.89</td><td>50.76</td><td>44.59</td><td>31.98</td><td>113.11</td><td>211.65</td><td>301.63</td><td>388.14</td></tr>
<tr><td>Net profit</td><td>46.95</td><td>31.72</td><td>31.01</td><td>107.93</td><td>79.83</td><td>82.35</td><td>296.86</td><td>624.81</td><td>889.95</td><td>1125.53</td></tr>
<tr><td>Dividend Amount</td><td>6.32</td><td>8.04</td><td>9.76</td><td>97.92</td><td>19.44</td><td>19.44</td><td>105.23</td><td>224.55</td><td>332.43</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>597.32</td><td>680.81</td><td>682</td><td>745.3</td><td>748.6</td><td>825.74</td><td>807.5</td><td>1047.9</td><td>1059.05</td><td>1357.28</td></tr>
<tr><td>Expenses</td><td>361.37</td><td>384.43</td><td>415.6</td><td>428.9</td><td>424.3</td><td>440.01</td><td>487.2</td><td>604.5</td><td>661.09</td><td>827.43</td></tr>
<tr><td>Other Income</td><td>7.87</td><td>2.62</td><td>2.4</td><td>0.5</td><td>11.1</td><td>5.29</td><td>3.6</td><td>1.4</td><td>1.78</td><td>1.25</td></tr>
<tr><td>Depreciation</td><td>4.83</td><td>5.23</td><td>6.4</td><td>6.9</td><td>8</td><td>8.93</td><td>8.9</td><td>11.2</td><td>13.09</td><td>16.69</td></tr>
<tr><td>Interest</td><td>18.26</td><td>19.52</td><td>19.8</td><td>24.4</td><td>25.5</td><td>20.54</td><td>18.3</td><td>26.4</td><td>35.63</td><td>55.64</td></tr>
<tr><td>Profit before tax</td><td>220.73</td><td>274.25</td><td>242.6</td><td>285.6</td><td>301.9</td><td>361.55</td><td>296.7</td><td>407.2</td><td>351.02</td><td>458.77</td></tr>
<tr><td>Tax</td><td>56.19</td><td>69.56</td><td>61.1</td><td>72.1</td><td>73.9</td><td>94.64</td><td>75.9</td><td>102.7</td><td>90.71</td><td>118.83</td></tr>
<tr><td>Net profit</td><td>164.55</td><td>204.69</td><td>181.5</td><td>213.5</td><td>228</td><td>266.91</td><td>220.8</td><td>304.5</td><td>260.31</td><td>339.94</td></tr>
<tr><td>Operating Profit</td><td>235.95</td><td>296.38</td><td>266.4</td><td>316.4</td><td>324.3</td><td>385.73</td><td>320.3</td><td>443.4</td><td>397.96</td><td>529.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>14.36</td><td>14.36</td><td>14.36</td><td>72</td><td>72</td><td>72</td><td>81.83</td><td>82.86</td><td>83.42</td><td>84.01</td></tr>
<tr><td>Reserves</td><td>332.39</td><td>354.94</td><td>375.07</td><td>402.95</td><td>459.44</td><td>519.42</td><td>1049.17</td><td>1501.52</td><td>2078.14</td><td>2954.6</td></tr>
<tr><td>Borrowings</td><td>332.71</td><td>358.5</td><td>771.94</td><td>1124.98</td><td>871.82</td><td>490.88</td><td>1171.47</td><td>1257.74</td><td>787.19</td><td>2541.12</td></tr>
<tr><td>Other Liabilities</td><td>294.74</td><td>411.08</td><td>641.44</td><td>767.49</td><td>805.26</td><td>1107.88</td><td>2511.37</td><td>4377.82</td><td>4528.92</td><td>7674</td></tr>
<tr><td>Total</td><td>974.2</td><td>1138.88</td><td>1802.81</td><td>2367.42</td><td>2208.52</td><td>2190.18</td><td>4813.84</td><td>7219.94</td><td>7477.67</td><td>13253.73</td></tr>
<tr><td>Net Block</td><td>121.12</td><td>121.88</td><td>122.78</td><td>115.8</td><td>133.97</td><td>124.06</td><td>114.83</td><td>151.83</td><td>186.53</td><td>409.38</td></tr>
<tr><td>Capital Work in Progress</td><td>0.88</td><td>3.1</td><td>0.64</td><td></td><td>0.57</td><td>2.09</td><td>0.18</td><td>12</td><td>61.63</td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td>49.52</td><td>5.62</td><td>14.91</td><td>35.27</td><td>5.54</td><td>18.65</td><td>109.47</td><td></td></tr>
<tr><td>Other Assets</td><td>852.2</td><td>1013.9</td><td>1629.87</td><td>2246</td><td>2059.07</td><td>2028.76</td><td>4693.29</td><td>7037.46</td><td>7120.04</td><td>12844.35</td></tr>
<tr><td>Total</td><td>974.2</td><td>1138.88</td><td>1802.81</td><td>2367.42</td><td>2208.52</td><td>2190.18</td><td>4813.84</td><td>7219.94</td><td>7477.67</td><td>13253.73</td></tr>
<tr><td>Receivables</td><td>268.45</td><td>445.93</td><td>858.15</td><td>158.46</td><td>214.64</td><td>39.03</td><td>227.7</td><td>565.32</td><td>374.87</td><td>486.95</td></tr>
<tr><td>Inventory</td><td>0.09</td><td>0.15</td><td>0.18</td><td>0.06</td><td>0.05</td><td>0.05</td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>358.41</td><td>437.61</td><td>617.58</td><td>927.38</td><td>985.97</td><td>1413.56</td><td>1877.45</td><td>4874.96</td><td>5491.08</td><td>9844.29</td></tr>
<tr><td>No. of Equity Shares</td><td>14364175</td><td>14364175</td><td>14364175</td><td>71995003</td><td>71995003</td><td>71995003</td><td>81826507</td><td>82858722</td><td>83419741</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>10.58</td><td>-77.44</td><td>-209.97</td><td>-309.49</td><td></td><td>643.3</td><td>-1198.67</td><td>557.55</td><td>803.25</td><td>-329.9</td></tr>
<tr><td>Cash from Investing Activity</td><td>-7.14</td><td>-13.21</td><td>-49.52</td><td>47.41</td><td></td><td>-28.13</td><td>24.8</td><td>-52.35</td><td>-185.11</td><td>-91.05</td></tr>
<tr><td>Cash from Financing Activity</td><td>1.88</td><td>39.59</td><td>350.33</td><td>238.89</td><td></td><td>-448.89</td><td>894.12</td><td>-165.13</td><td>-907.18</td><td>1330.88</td></tr>
<tr><td>Net Cash Flow</td><td>5.32</td><td>-51.05</td><td>90.84</td><td>-23.19</td><td></td><td>166.27</td><td>-279.75</td><td>340.06</td><td>-289.05</td><td>909.92</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td>291.2</td><td>1536.75</td><td>1162.85</td><td>3045</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1.44</td><td>1.44</td><td>1.44</td><td>7.2</td><td>7.2</td><td>7.2</td><td>8.18</td><td>8.29</td><td>8.34</td><td>8.4</td></tr>
</table>
</body>
</html>