<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Apar Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>APAR INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>7616.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>30612.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4628.02</td><td>5107.67</td><td>5078.49</td><td>4831.92</td><td>5818.48</td><td>7963.62</td><td>7425.23</td><td>6388.02</td><td>9316.57</td><td>14352.15</td></tr>
<tr><td>Raw Material Cost</td><td>3683.19</td><td>4174.87</td><td>3850.94</td><td>3638.39</td><td>4492.55</td><td>6462.48</td><td>5872.14</td><td>4754.75</td><td>7549.03</td><td>11043.41</td></tr>
<tr><td>Change in Inventory</td><td>7.72</td><td>89.79</td><td>-53.71</td><td>65.55</td><td>-2.49</td><td>126.32</td><td>164.82</td><td>-45.35</td><td>341.21</td><td>334.66</td></tr>
<tr><td>Power and Fuel</td><td>56.41</td><td>59.36</td><td>56.42</td><td>61.18</td><td>60.49</td><td>100.81</td><td>91.78</td><td>78.28</td><td>89.98</td><td>127.04</td></tr>
<tr><td>Other Mfr. Exp</td><td>234.69</td><td>288.68</td><td>311.77</td><td>337.45</td><td>338.86</td><td>452.38</td><td>469.42</td><td>423.22</td><td>503.65</td><td>727</td></tr>
<tr><td>Employee Cost</td><td>70.09</td><td>81.47</td><td>96.44</td><td>114.75</td><td>130.75</td><td>152.66</td><td>172.53</td><td>164.36</td><td>178.72</td><td>237.42</td></tr>
<tr><td>Selling and admin</td><td>249.32</td><td>295.55</td><td>277.49</td><td>266.03</td><td>313.89</td><td>371.97</td><td>383.53</td><td>414.56</td><td>659.4</td><td>1153.76</td></tr>
<tr><td>Other Expenses</td><td>35.23</td><td>33.19</td><td>51.32</td><td>46.11</td><td>53.82</td><td>58.35</td><td>105.16</td><td>67.64</td><td>99.03</td><td>131.13</td></tr>
<tr><td>Other Income</td><td>3.54</td><td>1.23</td><td>10.04</td><td>15.33</td><td>11.08</td><td>14.72</td><td>15.18</td><td>18.61</td><td>32.61</td><td>35.96</td></tr>
<tr><td>Depreciation</td><td>27.02</td><td>31.21</td><td>37.76</td><td>44.97</td><td>55.87</td><td>66.67</td><td>87.12</td><td>93.44</td><td>97.84</td><td>104.34</td></tr>
<tr><td>Interest</td><td>154.8</td><td>161.89</td><td>175.14</td><td>130.52</td><td>158.07</td><td>223.12</td><td>254.14</td><td>156.76</td><td>170.74</td><td>344.11</td></tr>
<tr><td>Profit before tax</td><td>128.53</td><td>72.47</td><td>177.54</td><td>273.4</td><td>222.77</td><td>216.22</td><td>169.41</td><td>208.27</td><td>342</td><td>854.56</td></tr>
<tr><td>Tax</td><td>38.62</td><td>23.06</td><td>57.26</td><td>97.15</td><td>78.03</td><td>80.16</td><td>34.26</td><td>47.77</td><td>85.27</td><td>216.84</td></tr>
<tr><td>Net profit</td><td>89.91</td><td>49.51</td><td>121.69</td><td>176.57</td><td>144.74</td><td>136.06</td><td>135.15</td><td>160.5</td><td>256.73</td><td>637.72</td></tr>
<tr><td>Dividend Amount</td><td>20.2</td><td>13.48</td><td>25.02</td><td>38.27</td><td>36.36</td><td>36.36</td><td>36.36</td><td>36.36</td><td>57.4</td><td>153.08</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2269.09</td><td>2228.83</td><td>3012.45</td><td>3093.23</td><td>3234.88</td><td>3938.92</td><td>4088.58</td><td>3773.01</td><td>3925.46</td><td>4013.16</td></tr>
<tr><td>Expenses</td><td>2141.5</td><td>2111.77</td><td>2838.9</td><td>2855.83</td><td>3009</td><td>3595.7</td><td>3664.69</td><td>3426.89</td><td>3576.2</td><td>3608.2</td></tr>
<tr><td>Other Income</td><td>4.68</td><td>7.36</td><td>8.92</td><td>4.48</td><td>12.22</td><td>6.63</td><td>10.68</td><td>13.86</td><td>18.76</td><td>21</td></tr>
<tr><td>Depreciation</td><td>24.22</td><td>24.88</td><td>24.82</td><td>24.93</td><td>26.05</td><td>26.08</td><td>27.28</td><td>27.23</td><td>28.17</td><td>28.84</td></tr>
<tr><td>Interest</td><td>30.97</td><td>25.61</td><td>45.76</td><td>61.31</td><td>71.14</td><td>93.96</td><td>79.09</td><td>69.6</td><td>103.08</td><td>112.82</td></tr>
<tr><td>Profit before tax</td><td>77.08</td><td>73.93</td><td>111.89</td><td>155.64</td><td>140.91</td><td>229.81</td><td>328.2</td><td>263.15</td><td>236.77</td><td>284.3</td></tr>
<tr><td>Tax</td><td>20.19</td><td>18.97</td><td>29.28</td><td>33.18</td><td>38.28</td><td>59.91</td><td>85.47</td><td>65.72</td><td>62.89</td><td>66.73</td></tr>
<tr><td>Net profit</td><td>56.89</td><td>54.96</td><td>82.61</td><td>122.46</td><td>102.63</td><td>169.9</td><td>242.73</td><td>197.43</td><td>173.88</td><td>217.57</td></tr>
<tr><td>Operating Profit</td><td>127.59</td><td>117.06</td><td>173.55</td><td>237.4</td><td>225.88</td><td>343.22</td><td>423.89</td><td>346.12</td><td>349.26</td><td>404.96</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>38.47</td><td>38.5</td><td>38.5</td><td>38.27</td><td>38.27</td><td>38.27</td><td>38.27</td><td>38.27</td><td>38.27</td><td>38.27</td></tr>
<tr><td>Reserves</td><td>657.75</td><td>691.31</td><td>815.44</td><td>997.85</td><td>1069.98</td><td>1164.1</td><td>1128.16</td><td>1361.25</td><td>1676.96</td><td>2198.12</td></tr>
<tr><td>Borrowings</td><td>791.89</td><td>494.16</td><td>384.43</td><td>304.62</td><td>362.53</td><td>253.28</td><td>371.54</td><td>324.81</td><td>359.19</td><td>376.23</td></tr>
<tr><td>Other Liabilities</td><td>1509.88</td><td>1731.95</td><td>1680.19</td><td>2107.48</td><td>2805.07</td><td>3501.32</td><td>3115.83</td><td>3274.65</td><td>4533.1</td><td>5605.03</td></tr>
<tr><td>Total</td><td>2997.99</td><td>2955.92</td><td>2918.56</td><td>3448.22</td><td>4275.85</td><td>4956.97</td><td>4653.8</td><td>4998.98</td><td>6607.52</td><td>8217.65</td></tr>
<tr><td>Net Block</td><td>358.68</td><td>394.56</td><td>397.85</td><td>573.87</td><td>648.52</td><td>708.84</td><td>884.66</td><td>877.91</td><td>881.24</td><td>950.48</td></tr>
<tr><td>Capital Work in Progress</td><td>18.08</td><td>10.24</td><td>56.11</td><td>27.75</td><td>19.5</td><td>103.48</td><td>54.71</td><td>28.71</td><td>38.49</td><td>99.31</td></tr>
<tr><td>Investments</td><td>1.5</td><td>5.26</td><td>112.45</td><td>118.57</td><td></td><td>186.92</td><td></td><td>60.4</td><td>30.52</td><td>54.28</td></tr>
<tr><td>Other Assets</td><td>2619.73</td><td>2545.86</td><td>2352.15</td><td>2728.03</td><td>3607.83</td><td>3957.73</td><td>3714.43</td><td>4031.96</td><td>5657.27</td><td>7113.58</td></tr>
<tr><td>Total</td><td>2997.99</td><td>2955.92</td><td>2918.56</td><td>3448.22</td><td>4275.85</td><td>4956.97</td><td>4653.8</td><td>4998.98</td><td>6607.52</td><td>8217.65</td></tr>
<tr><td>Receivables</td><td>1103.57</td><td>1267</td><td>1090.39</td><td>1254.32</td><td>1734.48</td><td>2141.61</td><td>1898.6</td><td>1860.57</td><td>2531.13</td><td>3198.07</td></tr>
<tr><td>Inventory</td><td>1017.04</td><td>944.25</td><td>769.76</td><td>993.54</td><td>1212.26</td><td>1282.88</td><td>1331.43</td><td>1562.71</td><td>2138.65</td><td>2575.64</td></tr>
<tr><td>Cash & Bank</td><td>230.61</td><td>100.47</td><td>133.86</td><td>122.97</td><td>274.37</td><td>225.29</td><td>176.23</td><td>222.45</td><td>266.41</td><td>530.1</td></tr>
<tr><td>No. of Equity Shares</td><td>38470400</td><td>38496500</td><td>38496769</td><td>38268619</td><td>38268619</td><td>38268619</td><td>38268619</td><td>38268619</td><td>38268619</td><td>38268619</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-632.03</td><td>298.43</td><td>411.76</td><td>312.44</td><td>225.04</td><td>632.04</td><td>94.17</td><td>281.37</td><td>243.75</td><td>698.34</td></tr>
<tr><td>Cash from Investing Activity</td><td>-11.73</td><td>-59.3</td><td>-222.86</td><td>-165.89</td><td>-4.72</td><td>-387.81</td><td>45.34</td><td>-115.11</td><td>-91.26</td><td>-268.63</td></tr>
<tr><td>Cash from Financing Activity</td><td>-180.56</td><td>-369.27</td><td>-152.84</td><td>-157.45</td><td>-68.92</td><td>-293.31</td><td>-188.83</td><td>-123.16</td><td>-106.35</td><td>-184.06</td></tr>
<tr><td>Net Cash Flow</td><td>-824.32</td><td>-130.14</td><td>36.06</td><td>-10.9</td><td>151.4</td><td>-49.08</td><td>-49.32</td><td>43.1</td><td>46.14</td><td>245.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>144.9</td><td>370.45</td><td>460.95</td><td>749.55</td><td>728</td><td>671.9</td><td>288.2</td><td>475.3</td><td>649.25</td><td>2504.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>3.85</td><td>3.85</td><td>3.85</td><td>3.83</td><td>3.83</td><td>3.83</td><td>3.83</td><td>3.83</td><td>3.83</td><td>3.83</td></tr>
</table>
</body>
</html>