<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Archean Chemical</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ARCHEAN CHEMICAL INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>619.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7654.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>438.83</td><td>565.51</td><td>608.17</td><td>740.76</td><td>1130.44</td><td>1441.07</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>31.28</td><td>43.66</td><td>36.12</td><td>16.75</td><td>44.88</td><td>50.13</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>-18.2</td><td>-52.38</td><td></td><td>7.85</td><td>5.56</td><td>47.4</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>49.29</td><td>46.16</td><td>44.44</td><td>53.52</td><td>102.27</td><td>134.19</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>18.72</td><td>27.6</td><td>37.53</td><td>68.42</td><td>85.74</td><td>89.79</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>26.06</td><td>30.39</td><td>34.47</td><td>35.32</td><td>37.84</td><td>72.02</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>185.72</td><td>275.98</td><td>322.94</td><td>306.72</td><td>396.93</td><td>503.85</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>26.72</td><td>20.57</td><td>-15.36</td><td>5.45</td><td>1.03</td><td>4.12</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>6.07</td><td>121.35</td><td>8.29</td><td>13.82</td><td>12.64</td><td>44.18</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>72.77</td><td>47.27</td><td>51.92</td><td>55.38</td><td>66.86</td><td>68.51</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>101.53</td><td>113.66</td><td>121.76</td><td>130.39</td><td>161.67</td><td>96.96</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>-85.39</td><td>29.19</td><td>-17.36</td><td>90.48</td><td>251.42</td><td>513.08</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>-6.21</td><td>-11.87</td><td>18.29</td><td>23.89</td><td>62.8</td><td>129.43</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>-79.16</td><td>41.06</td><td>-35.65</td><td>66.59</td><td>188.61</td><td>383.65</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>30.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>249.75</td><td>307.32</td><td>372.6</td><td>400.27</td><td>293.49</td><td>364.92</td><td>382.37</td><td>343.09</td><td>290.47</td><td>412.63</td></tr>
<tr><td>Expenses</td><td>145.67</td><td>190.08</td><td>212.45</td><td>239.07</td><td>174.79</td><td>204.93</td><td>187.88</td><td>208.34</td><td>194.88</td><td>266.74</td></tr>
<tr><td>Other Income</td><td>7.57</td><td>6.04</td><td>3.8</td><td>8.78</td><td>19.15</td><td>7.66</td><td>8.58</td><td>11.2</td><td>11.58</td><td>10.09</td></tr>
<tr><td>Depreciation</td><td>16.62</td><td>16.82</td><td>17.29</td><td>17.62</td><td>16.86</td><td>16.78</td><td>17.26</td><td>17.47</td><td>17.46</td><td>17.6</td></tr>
<tr><td>Interest</td><td>41.64</td><td>40.53</td><td>39.4</td><td>39.15</td><td>34.97</td><td>19.42</td><td>3.42</td><td>3.06</td><td>2</td><td>2.44</td></tr>
<tr><td>Profit before tax</td><td>53.39</td><td>65.93</td><td>107.26</td><td>113.21</td><td>86.02</td><td>131.45</td><td>182.39</td><td>125.42</td><td>87.71</td><td>135.94</td></tr>
<tr><td>Tax</td><td>14.02</td><td>16.9</td><td>25.34</td><td>28.57</td><td>22.12</td><td>33.17</td><td>45.57</td><td>31.25</td><td>21.36</td><td>33.74</td></tr>
<tr><td>Net profit</td><td>39.38</td><td>49.02</td><td>81.92</td><td>84.64</td><td>63.91</td><td>98.28</td><td>136.82</td><td>94.17</td><td>66.35</td><td>102.19</td></tr>
<tr><td>Operating Profit</td><td>104.08</td><td>117.24</td><td>160.15</td><td>161.2</td><td>118.7</td><td>159.99</td><td>194.49</td><td>134.75</td><td>95.59</td><td>145.89</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>10</td><td>19.27</td><td>19.27</td><td>19.27</td><td>19.27</td><td>24.61</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>-37.74</td><td>24.15</td><td>-11.65</td><td>54.71</td><td>243.42</td><td>1407.91</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>968.39</td><td>754.09</td><td>854.32</td><td>903.52</td><td>897.23</td><td>69.38</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>315.56</td><td>439.37</td><td>568.29</td><td>456.53</td><td>371.77</td><td>253.95</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>1256.21</td><td>1236.88</td><td>1430.23</td><td>1434.03</td><td>1531.69</td><td>1755.85</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>940.01</td><td>913.5</td><td>882.37</td><td>1042.3</td><td>1086.19</td><td>1097.48</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>9.07</td><td>192.93</td><td>18.93</td><td>17.21</td><td>33.2</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>0.01</td><td></td><td>47.16</td><td>41.26</td><td>16.21</td><td>215.08</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>316.19</td><td>314.31</td><td>307.77</td><td>331.54</td><td>412.08</td><td>410.09</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>1256.21</td><td>1236.88</td><td>1430.23</td><td>1434.03</td><td>1531.69</td><td>1755.85</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>26.47</td><td>67</td><td>44.45</td><td>68.07</td><td>152.97</td><td>117.74</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>112.54</td><td>62.75</td><td>98.82</td><td>110.63</td><td>120.79</td><td>167.76</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>12.76</td><td>47.5</td><td>24.75</td><td>31.81</td><td>53.75</td><td>31.97</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>10000000</td><td>19266681</td><td>19266681</td><td>19266681</td><td>96333405</td><td>123052989</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>39.11</td><td>312.28</td><td>147.54</td><td>119.1</td><td>327.09</td><td>497.82</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>0.01</td><td>-24.89</td><td>-196.65</td><td>-1.75</td><td>-127.63</td><td>-287.82</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-87.43</td><td>-252.37</td><td>26.36</td><td>-110.32</td><td>-223.72</td><td>-211.97</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-48.31</td><td>35.02</td><td>-22.75</td><td>7.02</td><td>-24.26</td><td>-1.97</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>650.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>1</td><td>1.93</td><td>1.93</td><td>1.93</td><td>9.63</td><td>12.31</td></tr>
</table>
</body>
</html>