<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\ASK Automotive</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ASK AUTOMOTIVE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>295.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5845.11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>1785.29</td><td>1644.58</td><td>1543.99</td><td>2013.08</td><td>2555.17</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td>1178.42</td><td>1037.78</td><td>1015.44</td><td>1403.81</td><td>1798.58</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td>14.59</td><td>-4.92</td><td>17.26</td><td>10.35</td><td>16.8</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>69.49</td><td>65.31</td><td>60.35</td><td>74.41</td><td>92.82</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>153.94</td><td>157.95</td><td>151.33</td><td>199.26</td><td>233.89</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>116.24</td><td>120.42</td><td>102.26</td><td>122.7</td><td>139.37</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>24.64</td><td>21.52</td><td>39.67</td><td>46.82</td><td>64.27</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>31</td><td>27.7</td><td>10.28</td><td>10.63</td><td>12.5</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>12.38</td><td>6.77</td><td>23.78</td><td>11.18</td><td>11.11</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>37.27</td><td>51.85</td><td>51.89</td><td>55.91</td><td>60.71</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>20.15</td><td>20.01</td><td>10.85</td><td>8.08</td><td>11.19</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>181.11</td><td>143.89</td><td>142.96</td><td>112.99</td><td>169.75</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>59.85</td><td>26.1</td><td>36.76</td><td>30.33</td><td>46.81</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>113.74</td><td>106.98</td><td>106.2</td><td>82.66</td><td>122.95</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2.03</td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>745.76</td><td>637.02</td><td>656.51</td><td>793.87</td><td>761.66</td></tr>
<tr><td>Expenses</td><td></td><td></td><td></td><td></td><td></td><td>664.73</td><td>582.03</td><td>592.81</td><td>719.4</td><td>681.54</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>3.4</td><td>2.24</td><td>3.25</td><td>7.31</td><td>11.94</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>15.22</td><td>15.38</td><td>14.96</td><td>16.95</td><td>18.11</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>2.62</td><td>2.86</td><td>4.35</td><td>7.95</td><td>8.41</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>66.59</td><td>38.99</td><td>47.64</td><td>56.88</td><td>65.54</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>17.88</td><td>9.84</td><td>12.81</td><td>15.64</td><td>15.6</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>48.71</td><td>29.15</td><td>34.83</td><td>41.24</td><td>49.94</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td></td><td></td><td></td><td>81.03</td><td>54.99</td><td>63.7</td><td>74.47</td><td>80.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td>8.89</td><td>10.17</td><td>40.69</td><td>40.18</td><td>39.43</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>415.29</td><td>508.66</td><td>581.54</td><td>591.73</td><td>604.34</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>306.63</td><td>149.39</td><td>84.17</td><td>175.34</td><td>327.88</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>233.8</td><td>205.9</td><td>241.86</td><td>298.32</td><td>309.55</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>964.61</td><td>874.12</td><td>948.26</td><td>1105.57</td><td>1281.2</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>559.8</td><td>607.48</td><td>603.39</td><td>737.59</td><td>725.82</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>60.64</td><td>15.57</td><td>9.83</td><td>2.85</td><td>118.25</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>18.57</td><td>16.13</td><td>3.4</td><td></td><td>4.04</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>325.6</td><td>234.94</td><td>331.64</td><td>365.13</td><td>433.09</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>964.61</td><td>874.12</td><td>948.26</td><td>1105.57</td><td>1281.2</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>162.93</td><td>72.28</td><td>158.58</td><td>201.16</td><td>210.45</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td>99.47</td><td>93.04</td><td>112.68</td><td>124.37</td><td>153.58</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>1.67</td><td>3.55</td><td>18.67</td><td>1.57</td><td>2.38</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td>44470650</td><td>50860650</td><td>203442600</td><td>200892600</td><td>197142600</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td>176.13</td><td>245.51</td><td>127.96</td><td>144.22</td><td>138.58</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-297.35</td><td>-57.87</td><td>-6.02</td><td>-79.96</td><td>-160.86</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td>118.54</td><td>-185.76</td><td>-106.76</td><td>-81.48</td><td>23.21</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td>-2.69</td><td>1.87</td><td>15.17</td><td>-17.23</td><td>0.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>4.45</td><td>5.09</td><td>20.34</td><td>20.09</td><td>19.71</td></tr>
</table>
</body>
</html>