<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Astral</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ASTRAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2072.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>55671.52</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1056.9</td><td>1410.48</td><td>1677.8</td><td>1894.67</td><td>2072.92</td><td>2507.3</td><td>2577.9</td><td>3176.3</td><td>4394</td><td>5158.5</td></tr>
<tr><td>Raw Material Cost</td><td>805.25</td><td>1036.19</td><td>1230.95</td><td>1306.19</td><td>1402.08</td><td>1689.8</td><td>1665.6</td><td>1919.7</td><td>3061.4</td><td>3422.6</td></tr>
<tr><td>Change in Inventory</td><td>32.63</td><td>-13.28</td><td>29.71</td><td>2.7</td><td>18.71</td><td>42.1</td><td>69.9</td><td>-49.2</td><td>133.4</td><td>-12.1</td></tr>
<tr><td>Power and Fuel</td><td>20.45</td><td>28.88</td><td>36.01</td><td>43.54</td><td>53.25</td><td>65.3</td><td>70.3</td><td>64.3</td><td>77.7</td><td>101.9</td></tr>
<tr><td>Other Mfr. Exp</td><td>24.4</td><td>24.9</td><td>37.56</td><td>41.47</td><td>45.22</td><td>54.9</td><td>62.4</td><td>64.9</td><td>87.7</td><td>115.2</td></tr>
<tr><td>Employee Cost</td><td>24.45</td><td>48.07</td><td>75.07</td><td>88.79</td><td>106.58</td><td>139.2</td><td>175.4</td><td>191.3</td><td>245.6</td><td>319.6</td></tr>
<tr><td>Selling and admin</td><td>74.93</td><td>103.98</td><td>110.34</td><td>145.48</td><td>157.65</td><td>200.9</td><td>214.1</td><td>227.6</td><td>278.9</td><td>345.2</td></tr>
<tr><td>Other Expenses</td><td>-15.17</td><td>-13.12</td><td>10</td><td>10.58</td><td>12.71</td><td>17.7</td><td>17.9</td><td>21.7</td><td>22.6</td><td>32.3</td></tr>
<tr><td>Other Income</td><td>2.34</td><td>3.09</td><td>-4.05</td><td>8.01</td><td>12.68</td><td>15.1</td><td>11.3</td><td>25</td><td>34.8</td><td>36.7</td></tr>
<tr><td>Depreciation</td><td>21.91</td><td>36.42</td><td>41.79</td><td>50.2</td><td>57.13</td><td>81.4</td><td>107.9</td><td>116.5</td><td>126.9</td><td>178.1</td></tr>
<tr><td>Interest</td><td>31.12</td><td>25.45</td><td>30.24</td><td>18.4</td><td>21.58</td><td>31.9</td><td>39.4</td><td>13.1</td><td>12.9</td><td>40</td></tr>
<tr><td>Profit before tax</td><td>104.53</td><td>109.52</td><td>131.5</td><td>200.73</td><td>248.11</td><td>283.4</td><td>306.1</td><td>533</td><td>648.5</td><td>628.2</td></tr>
<tr><td>Tax</td><td>25.23</td><td>31.34</td><td>29.56</td><td>56.16</td><td>72.45</td><td>86.1</td><td>56.5</td><td>124.8</td><td>158.1</td><td>155.7</td></tr>
<tr><td>Net profit</td><td>78.91</td><td>75.89</td><td>100.95</td><td>144.68</td><td>175.09</td><td>195.8</td><td>247.9</td><td>404.4</td><td>483.8</td><td>456.6</td></tr>
<tr><td>Dividend Amount</td><td>3.65</td><td>4.44</td><td>4.79</td><td>7.19</td><td>7.19</td><td>8.4</td><td>15.1</td><td>40.2</td><td>60.3</td><td>94.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1199.9</td><td>1102.7</td><td>1390.6</td><td>1212.9</td><td>1171.6</td><td>1267.8</td><td>1506.2</td><td>1283.1</td><td>1363</td><td>1370.2</td></tr>
<tr><td>Expenses</td><td>988.4</td><td>905.1</td><td>1175.7</td><td>1042.3</td><td>1027.6</td><td>1081.4</td><td>1198.8</td><td>1081.5</td><td>1142.9</td><td>1165.1</td></tr>
<tr><td>Other Income</td><td>8</td><td>6.2</td><td>16.4</td><td>13.7</td><td>13.9</td><td>-1.7</td><td>12</td><td>12.1</td><td>13.4</td><td>6.4</td></tr>
<tr><td>Depreciation</td><td>31.4</td><td>32.1</td><td>32.8</td><td>43.3</td><td>44.8</td><td>45.5</td><td>44.5</td><td>46.3</td><td>48.7</td><td>50.1</td></tr>
<tr><td>Interest</td><td>1.1</td><td>2</td><td>5.2</td><td>13.3</td><td>14</td><td>9.4</td><td>3.3</td><td>5.8</td><td>8</td><td>7.5</td></tr>
<tr><td>Profit before tax</td><td>187</td><td>169.7</td><td>193.3</td><td>127.7</td><td>99.1</td><td>129.8</td><td>271.6</td><td>161.6</td><td>176.8</td><td>153.9</td></tr>
<tr><td>Tax</td><td>43.7</td><td>41.8</td><td>49.2</td><td>31.6</td><td>24.1</td><td>34.6</td><td>65.4</td><td>42.3</td><td>45.1</td><td>40.6</td></tr>
<tr><td>Net profit</td><td>141.2</td><td>127.3</td><td>141.4</td><td>88.9</td><td>69.1</td><td>93</td><td>205.7</td><td>119.8</td><td>131.2</td><td>113.5</td></tr>
<tr><td>Operating Profit</td><td>211.5</td><td>197.6</td><td>214.9</td><td>170.6</td><td>144</td><td>186.4</td><td>307.4</td><td>201.6</td><td>220.1</td><td>205.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>11.24</td><td>11.84</td><td>11.98</td><td>11.98</td><td>11.98</td><td>12</td><td>15.1</td><td>20.1</td><td>20.1</td><td>26.9</td></tr>
<tr><td>Reserves</td><td>304.08</td><td>606.94</td><td>696.38</td><td>834.87</td><td>1006.26</td><td>1265.7</td><td>1487.8</td><td>1875.7</td><td>2316.5</td><td>2684.3</td></tr>
<tr><td>Borrowings</td><td>141.95</td><td>202.64</td><td>196.56</td><td>228.97</td><td>189.08</td><td>275.3</td><td>191</td><td>80.2</td><td>98.3</td><td>87.1</td></tr>
<tr><td>Other Liabilities</td><td>237.1</td><td>343.89</td><td>396.53</td><td>385.79</td><td>467.7</td><td>546.1</td><td>595.2</td><td>696.7</td><td>952</td><td>1563.8</td></tr>
<tr><td>Total</td><td>694.37</td><td>1165.31</td><td>1301.45</td><td>1461.61</td><td>1675.02</td><td>2099.1</td><td>2289.1</td><td>2672.7</td><td>3386.9</td><td>4362.1</td></tr>
<tr><td>Net Block</td><td>289.3</td><td>556.84</td><td>645.08</td><td>741.2</td><td>842.47</td><td>1105.4</td><td>1254.9</td><td>1314.5</td><td>1496</td><td>1950.5</td></tr>
<tr><td>Capital Work in Progress</td><td>8.2</td><td>26.83</td><td>14.94</td><td>24.98</td><td>73.13</td><td>80.8</td><td>44.4</td><td>56.6</td><td>123.2</td><td>126.1</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>0.2</td><td>0.2</td><td></td><td></td><td></td></tr>
<tr><td>Other Assets</td><td>396.87</td><td>581.64</td><td>641.43</td><td>695.43</td><td>759.42</td><td>912.7</td><td>989.6</td><td>1301.6</td><td>1767.7</td><td>2285.5</td></tr>
<tr><td>Total</td><td>694.37</td><td>1165.31</td><td>1301.45</td><td>1461.61</td><td>1675.02</td><td>2099.1</td><td>2289.1</td><td>2672.7</td><td>3386.9</td><td>4362.1</td></tr>
<tr><td>Receivables</td><td>145.08</td><td>232.72</td><td>227.12</td><td>338.5</td><td>306.73</td><td>339.1</td><td>227.8</td><td>276.7</td><td>269.1</td><td>354.5</td></tr>
<tr><td>Inventory</td><td>194.97</td><td>265.55</td><td>277.32</td><td>272.1</td><td>357.24</td><td>397</td><td>540.4</td><td>472.1</td><td>733.4</td><td>874.6</td></tr>
<tr><td>Cash & Bank</td><td>0.96</td><td>11.52</td><td>49.92</td><td>18.19</td><td>43.65</td><td>98.1</td><td>130.1</td><td>476</td><td>641.8</td><td>682.1</td></tr>
<tr><td>No. of Equity Shares</td><td>56190280</td><td>118365079</td><td>119750283</td><td>119766565</td><td>119766565</td><td>119806565</td><td>150662206</td><td>200907768</td><td>200907768</td><td>268611572</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>30132441</td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>67.43</td><td>116.98</td><td>225.75</td><td>114.19</td><td>281.85</td><td>342</td><td>405.4</td><td>664.1</td><td>543.1</td><td>556.9</td></tr>
<tr><td>Cash from Investing Activity</td><td>-91.13</td><td>-343.49</td><td>-202.92</td><td>-157.98</td><td>-185.27</td><td>-291.3</td><td>-317.7</td><td>-454.1</td><td>71.5</td><td>-478.1</td></tr>
<tr><td>Cash from Financing Activity</td><td>13.14</td><td>237.07</td><td>15.65</td><td>12.05</td><td>-71.11</td><td>-5</td><td>-163</td><td>-153.2</td><td>-44</td><td>-190.6</td></tr>
<tr><td>Net Cash Flow</td><td>-10.56</td><td>10.56</td><td>38.48</td><td>-31.73</td><td>25.46</td><td>45.7</td><td>-75.3</td><td>56.8</td><td>570.6</td><td>-111.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>104.87</td><td>201.54</td><td>185.36</td><td>246.45</td><td>401.92</td><td>522.86</td><td>526.98</td><td>1212.64</td><td>1517.21</td><td>1337</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>62.45</td><td>26.3</td><td>26.61</td><td>26.61</td><td>26.61</td><td>26.61</td><td>26.79</td><td>26.79</td><td>26.79</td><td>26.86</td></tr>
</table>
</body>
</html>