<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Atul</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ATUL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>5836.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>17190.48</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2637.17</td><td>2594.59</td><td>2833.94</td><td>3513.78</td><td>4037.81</td><td>4093.06</td><td>3731.47</td><td>5080.89</td><td>5427.52</td><td>4725.68</td></tr>
<tr><td>Raw Material Cost</td><td>1434.45</td><td>1347.39</td><td>1424.68</td><td>1750.72</td><td>2213.17</td><td>1964.75</td><td>1755.62</td><td>2795.96</td><td>2828.63</td><td>2361.28</td></tr>
<tr><td>Change in Inventory</td><td>-10.96</td><td>20.7</td><td>-10.8</td><td>-52.75</td><td>107.09</td><td>-5.28</td><td>60.42</td><td>207.33</td><td>-35.35</td><td>-149.26</td></tr>
<tr><td>Power and Fuel</td><td>298.21</td><td>270.5</td><td>322.91</td><td>348.92</td><td>399.53</td><td>372.95</td><td>309.27</td><td>510.14</td><td>647.56</td><td>553.22</td></tr>
<tr><td>Other Mfr. Exp</td><td>177.11</td><td>190.49</td><td>188.05</td><td>208.52</td><td>251.01</td><td>275.8</td><td>269.4</td><td>297.54</td><td>296.05</td><td></td></tr>
<tr><td>Employee Cost</td><td>165.4</td><td>193.19</td><td>202.7</td><td>216.03</td><td>262.59</td><td>303.73</td><td>311.76</td><td>343.91</td><td>371.77</td><td>398.03</td></tr>
<tr><td>Selling and admin</td><td>118.49</td><td>99.83</td><td>103.65</td><td>133.29</td><td>152.81</td><td>165.11</td><td>130.18</td><td>313.4</td><td>324.31</td><td></td></tr>
<tr><td>Other Expenses</td><td>30.39</td><td>53.04</td><td>71.5</td><td>298.24</td><td>97.62</td><td>103.02</td><td>97.59</td><td>113.96</td><td>116.68</td><td>627.2</td></tr>
<tr><td>Other Income</td><td>9.38</td><td>37.24</td><td>57.02</td><td>30.02</td><td>38.49</td><td>82.61</td><td>109.28</td><td>82.29</td><td>86.38</td><td>67.89</td></tr>
<tr><td>Depreciation</td><td>60.27</td><td>66.07</td><td>95.44</td><td>110.38</td><td>118.91</td><td>130.21</td><td>136.32</td><td>176.69</td><td>197.81</td><td>242.88</td></tr>
<tr><td>Interest</td><td>25.69</td><td>27.53</td><td>25.17</td><td>12.74</td><td>7.41</td><td>9.4</td><td>9.35</td><td>9.17</td><td>7.9</td><td>11.08</td></tr>
<tr><td>Profit before tax</td><td>325.58</td><td>404.49</td><td>446.06</td><td>412.21</td><td>680.34</td><td>845.42</td><td>881.68</td><td>809.74</td><td>687.84</td><td>450.62</td></tr>
<tr><td>Tax</td><td>99.37</td><td>130.22</td><td>122.71</td><td>130.97</td><td>244.32</td><td>174.51</td><td>221.66</td><td>205</td><td>181.21</td><td>126.5</td></tr>
<tr><td>Net profit</td><td>240.65</td><td>274.18</td><td>322.97</td><td>276.48</td><td>432.23</td><td>666.46</td><td>655.76</td><td>604.26</td><td>514.09</td><td>323.02</td></tr>
<tr><td>Dividend Amount</td><td>25.23</td><td>25.23</td><td>29.68</td><td>35.62</td><td>44.52</td><td>81.62</td><td>59.22</td><td>74.02</td><td>95.97</td><td>58.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1380.31</td><td>1370.42</td><td>1476.85</td><td>1487.27</td><td>1268.25</td><td>1195.15</td><td>1182.02</td><td>1193.71</td><td>1137.8</td><td>1212.15</td></tr>
<tr><td>Expenses</td><td>1128.84</td><td>1165.22</td><td>1243.9</td><td>1266.99</td><td>1096.25</td><td>1045.78</td><td>999.76</td><td>1038.52</td><td>986.12</td><td>1064.59</td></tr>
<tr><td>Other Income</td><td>5.79</td><td>24.05</td><td>37.07</td><td>33.19</td><td>22.86</td><td>25.83</td><td>10.16</td><td>24.36</td><td>17.1</td><td>16.27</td></tr>
<tr><td>Depreciation</td><td>45.4</td><td>44.05</td><td>47.29</td><td>49.07</td><td>50.38</td><td>51.07</td><td>51.93</td><td>53.99</td><td>61.21</td><td>75.75</td></tr>
<tr><td>Interest</td><td>1.91</td><td>3.41</td><td>1.57</td><td>1.94</td><td>2.2</td><td>2.19</td><td>2.03</td><td>1.86</td><td>2.12</td><td>5.07</td></tr>
<tr><td>Profit before tax</td><td>209.95</td><td>181.79</td><td>221.16</td><td>202.46</td><td>142.28</td><td>121.94</td><td>138.46</td><td>123.7</td><td>105.45</td><td>83.01</td></tr>
<tr><td>Tax</td><td>53.04</td><td>45.23</td><td>57.69</td><td>54.39</td><td>39.4</td><td>29.73</td><td>36.41</td><td>32.47</td><td>33.4</td><td>24.22</td></tr>
<tr><td>Net profit</td><td>155.43</td><td>136.26</td><td>164.52</td><td>150.91</td><td>105.1</td><td>93.56</td><td>103.35</td><td>90.32</td><td>70.94</td><td>58.41</td></tr>
<tr><td>Operating Profit</td><td>251.47</td><td>205.2</td><td>232.95</td><td>220.28</td><td>172</td><td>149.37</td><td>182.26</td><td>155.19</td><td>151.68</td><td>147.56</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>29.68</td><td>29.68</td><td>29.68</td><td>29.68</td><td>29.68</td><td>29.68</td><td>29.61</td><td>29.61</td><td>29.53</td><td>29.46</td></tr>
<tr><td>Reserves</td><td>1009.31</td><td>1585.11</td><td>1936.26</td><td>2214.24</td><td>2676.03</td><td>3125.22</td><td>3796.91</td><td>4399.35</td><td>4641.85</td><td>5084.88</td></tr>
<tr><td>Borrowings</td><td>298.83</td><td>315.82</td><td>167.69</td><td>15.92</td><td>54.67</td><td>108.47</td><td>132.93</td><td>144.17</td><td>52.24</td><td>236.55</td></tr>
<tr><td>Other Liabilities</td><td>485.25</td><td>534.86</td><td>590.83</td><td>748.74</td><td>783.07</td><td>880.2</td><td>975.54</td><td>1116.75</td><td>1027.95</td><td>1125.39</td></tr>
<tr><td>Total</td><td>1823.07</td><td>2465.47</td><td>2724.46</td><td>3008.58</td><td>3543.45</td><td>4143.57</td><td>4934.99</td><td>5689.88</td><td>5751.57</td><td>6476.28</td></tr>
<tr><td>Net Block</td><td>513.66</td><td>749.6</td><td>1026.03</td><td>1027.28</td><td>1104.29</td><td>1110.13</td><td>1418.38</td><td>1634.19</td><td>1769.66</td><td>2792.18</td></tr>
<tr><td>Capital Work in Progress</td><td>112.05</td><td>180.44</td><td>58.99</td><td>96.2</td><td>172.27</td><td>368.14</td><td>249.7</td><td>420.47</td><td>1032.85</td><td>280.75</td></tr>
<tr><td>Investments</td><td>66.05</td><td>381.92</td><td>428.94</td><td>469.84</td><td>752.01</td><td>1137.31</td><td>1361.05</td><td>1338.7</td><td>880.94</td><td>1342.49</td></tr>
<tr><td>Other Assets</td><td>1131.31</td><td>1153.51</td><td>1210.5</td><td>1415.26</td><td>1514.88</td><td>1527.99</td><td>1905.86</td><td>2296.52</td><td>2068.12</td><td>2060.86</td></tr>
<tr><td>Total</td><td>1823.07</td><td>2465.47</td><td>2724.46</td><td>3008.58</td><td>3543.45</td><td>4143.57</td><td>4934.99</td><td>5689.88</td><td>5751.57</td><td>6476.28</td></tr>
<tr><td>Receivables</td><td>442.42</td><td>441.39</td><td>518.96</td><td>723.4</td><td>698.47</td><td>719.73</td><td>733.23</td><td>989.01</td><td>844.61</td><td>927.04</td></tr>
<tr><td>Inventory</td><td>415.27</td><td>427.78</td><td>419.24</td><td>411.43</td><td>511.82</td><td>503.37</td><td>594.14</td><td>864.12</td><td>789.36</td><td>618.26</td></tr>
<tr><td>Cash & Bank</td><td>36.62</td><td>22.01</td><td>28.3</td><td>49.39</td><td>54.5</td><td>35.37</td><td>348.18</td><td>68.92</td><td>52.03</td><td>72.3</td></tr>
<tr><td>No. of Equity Shares</td><td>29691691</td><td>29691724</td><td>29691724</td><td>29691724</td><td>29691724</td><td>29691724</td><td>29617042</td><td>29617042</td><td>29543746</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>306.26</td><td>400.97</td><td>391.74</td><td>355.71</td><td>403.58</td><td>881.38</td><td>717.95</td><td>231.45</td><td>706.69</td><td>667.46</td></tr>
<tr><td>Cash from Investing Activity</td><td>-166.62</td><td>-374.55</td><td>-174.54</td><td>-129.08</td><td>-407.58</td><td>-782.23</td><td>-645.04</td><td>-163.23</td><td>-468.84</td><td>-683.19</td></tr>
<tr><td>Cash from Financing Activity</td><td>-123.83</td><td>-39.34</td><td>-211.83</td><td>-207.4</td><td>-1.08</td><td>-110.55</td><td>-52.19</td><td>-57.44</td><td>-257.49</td><td>37.54</td></tr>
<tr><td>Net Cash Flow</td><td>15.81</td><td>-12.92</td><td>5.37</td><td>19.23</td><td>-5.08</td><td>-11.4</td><td>20.72</td><td>10.78</td><td>-19.64</td><td>21.81</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>1132</td><td>1534.3</td><td>2391.85</td><td>2613.4</td><td>3585.9</td><td>3988.45</td><td>7083.05</td><td>10292.55</td><td>6959.05</td><td>5740.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>2.97</td><td>2.97</td><td>2.97</td><td>2.97</td><td>2.97</td><td>2.97</td><td>2.96</td><td>2.96</td><td>2.95</td><td>2.94</td></tr>
</table>
</body>
</html>