<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Axis Bank</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>AXIS BANK LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1115.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>344389.43</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>35727.46</td><td>41409.25</td><td>45175.09</td><td>46614.06</td><td>56043.65</td><td>63715.68</td><td>64696.42</td><td>68846.06</td><td>87448.37</td><td>112759.05</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>753.16</td><td>736.13</td><td>880.53</td><td>878.06</td><td>1093.22</td><td>1186.04</td><td>1245.68</td><td>1449.92</td><td>1595.42</td><td></td></tr>
<tr><td>Employee Cost</td><td>3617.9</td><td>4022.38</td><td>4745.48</td><td>5417.98</td><td>5994.16</td><td>5823.4</td><td>6773.02</td><td>8421.24</td><td>9675.03</td><td>12193.68</td></tr>
<tr><td>Selling and admin</td><td>1746.62</td><td>1640.09</td><td>2126.47</td><td>2354.92</td><td>2483.83</td><td>2640.63</td><td>2942.37</td><td>3577.74</td><td>4022.69</td><td></td></tr>
<tr><td>Other Expenses</td><td>5403.74</td><td>7470.05</td><td>16574.38</td><td>21065.57</td><td>18448.5</td><td>26325.54</td><td>24230.96</td><td>17764.18</td><td>15705.63</td><td>29226.94</td></tr>
<tr><td>Other Income</td><td>8838.11</td><td>9954.98</td><td>12421.6</td><td>11862.62</td><td>14188.75</td><td>16341.99</td><td>16151.52</td><td>17268.13</td><td>18706.38</td><td>25230.31</td></tr>
<tr><td>Depreciation</td><td>419.64</td><td>461.39</td><td>526.67</td><td>590.58</td><td>737.17</td><td>806.07</td><td>979.39</td><td>1048.99</td><td>13145.65</td><td></td></tr>
<tr><td>Interest</td><td>21341.26</td><td>24344.23</td><td>26789.35</td><td>27603.69</td><td>33883.47</td><td>37995.94</td><td>34926.44</td><td>34922.66</td><td>43389.15</td><td>61390.74</td></tr>
<tr><td>Profit before tax</td><td>11283.25</td><td>12689.96</td><td>5953.81</td><td>565.88</td><td>7592.05</td><td>5280.05</td><td>9750.08</td><td>18929.46</td><td>18621.18</td><td>35178</td></tr>
<tr><td>Tax</td><td>3834.76</td><td>4332.38</td><td>1986.78</td><td>101.86</td><td>2544.96</td><td>3401.29</td><td>2497.69</td><td>4765.11</td><td>7768.52</td><td>8754.46</td></tr>
<tr><td>Net profit</td><td>7447.9</td><td>8349.67</td><td>3953.03</td><td>455.82</td><td>5038.59</td><td>1853.11</td><td>7195.5</td><td>14119.29</td><td>10818.45</td><td>26386.2</td></tr>
<tr><td>Dividend Amount</td><td>1090.43</td><td>1191.42</td><td>1197.52</td><td></td><td>257.16</td><td></td><td></td><td>306.98</td><td>307.68</td><td>308.66</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>17653.35</td><td>18208.52</td><td>19193.33</td><td>20782.8</td><td>22842.58</td><td>24629.66</td><td>26245.74</td><td>27417.53</td><td>28865.2</td><td>30230.58</td></tr>
<tr><td>Expenses</td><td>7994.47</td><td>7935.71</td><td>7168.26</td><td>7450.33</td><td>8577.28</td><td>8101.28</td><td>9730.68</td><td>10059.45</td><td>10506.5</td><td>11123.99</td></tr>
<tr><td>Other Income</td><td>4437.84</td><td>4792.17</td><td>3422.55</td><td>4390.25</td><td>5147.76</td><td>-7101.45</td><td>5648.46</td><td>5704.7</td><td>6271.63</td><td>7605.52</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>8795.33</td><td>9162.29</td><td>9564.8</td><td>10149.98</td><td>11093.99</td><td>12580.38</td><td>13971.9</td><td>14748.97</td><td>15942.63</td><td>16727.24</td></tr>
<tr><td>Profit before tax</td><td>5301.39</td><td>5902.69</td><td>5882.82</td><td>7572.74</td><td>8319.07</td><td>-3153.45</td><td>8191.62</td><td>8313.81</td><td>8687.7</td><td>9984.87</td></tr>
<tr><td>Tax</td><td>1328.32</td><td>1468.69</td><td>1493.6</td><td>1947.49</td><td>2109.7</td><td>2217.73</td><td>2092.67</td><td>2096.13</td><td>2194.34</td><td>2371.32</td></tr>
<tr><td>Net profit</td><td>3956.95</td><td>4417.73</td><td>4380.59</td><td>5612.33</td><td>6187.38</td><td>-5361.85</td><td>6091.35</td><td>6204.15</td><td>6491.66</td><td>7599.04</td></tr>
<tr><td>Operating Profit</td><td>9658.88</td><td>10272.81</td><td>12025.07</td><td>13332.47</td><td>14265.3</td><td>16528.38</td><td>16515.06</td><td>17358.08</td><td>18358.7</td><td>19106.59</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>474.1</td><td>476.57</td><td>479.01</td><td>513.31</td><td>514.33</td><td>564.34</td><td>612.75</td><td>613.95</td><td>615.37</td><td></td></tr>
<tr><td>Reserves</td><td>44475.49</td><td>53082.19</td><td>55901.34</td><td>63694.1</td><td>67288.29</td><td>85776.09</td><td>102980.95</td><td>117646.71</td><td>129166.34</td><td></td></tr>
<tr><td>Borrowings</td><td>406637.67</td><td>472149.92</td><td>527437.44</td><td>611424.85</td><td>711995.77</td><td>797337.38</td><td>859872.14</td><td>1020942.96</td><td>1152038.29</td><td></td></tr>
<tr><td>Other Liabilities</td><td>15655.71</td><td>20677.94</td><td>27644.22</td><td>28071.11</td><td>34247.58</td><td>44194</td><td>46859.49</td><td>56575.53</td><td>62597.96</td><td></td></tr>
<tr><td>Total</td><td>467242.97</td><td>546386.62</td><td>611462.01</td><td>703703.37</td><td>814045.97</td><td>927871.81</td><td>1010325.33</td><td>1195779.15</td><td>1344417.96</td><td></td></tr>
<tr><td>Net Block</td><td>2446.72</td><td>3357.87</td><td>3518.14</td><td>3697.03</td><td>3842.12</td><td>3911.74</td><td>4211.35</td><td>4753.23</td><td>4999.68</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td>105.18</td><td>215.89</td><td>292.1</td><td>351.79</td><td>287.76</td><td>482.6</td><td>118.34</td><td>215.13</td><td>142.14</td><td></td></tr>
<tr><td>Investments</td><td>118526.63</td><td>131398.64</td><td>129018.35</td><td>153036.71</td><td>174055.85</td><td>155281.63</td><td>225335.77</td><td>274608.13</td><td>288094.83</td><td></td></tr>
<tr><td>Other Assets</td><td>346164.44</td><td>411414.22</td><td>478633.42</td><td>546617.84</td><td>635860.24</td><td>768195.84</td><td>780659.87</td><td>916202.66</td><td>1051181.31</td><td></td></tr>
<tr><td>Total</td><td>467242.97</td><td>546386.62</td><td>611462.01</td><td>703703.37</td><td>814045.97</td><td>927871.81</td><td>1010325.33</td><td>1195779.15</td><td>1344417.96</td><td></td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>36492.1</td><td>33702.81</td><td>50966.12</td><td>43910.81</td><td>68004.31</td><td>97799.77</td><td>63424.35</td><td>112343.51</td><td>108707.93</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td>2370522199</td><td>2382831826</td><td>2395036109</td><td>2566538936</td><td>2571644871</td><td>2821677934</td><td>3063748652</td><td>3069747836</td><td>3076852012</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-15162.5</td><td>-34494.68</td><td>32208.62</td><td>-38390.3</td><td>37125.25</td><td>30415.64</td><td>12632.88</td><td>28137.3</td><td>22074.78</td><td>-5554.67</td></tr>
<tr><td>Cash from Investing Activity</td><td>-7972.38</td><td>9210.7</td><td>-12458.4</td><td>-10007.1</td><td>-18674.35</td><td>-9485.3</td><td>-54287.63</td><td>-27112.23</td><td>-32350.9</td><td>-9088.16</td></tr>
<tr><td>Cash from Financing Activity</td><td>31044.82</td><td>22494.69</td><td>-2486.91</td><td>41342.09</td><td>5642.6</td><td>8865.13</td><td>7279.33</td><td>47894.08</td><td>6640.54</td><td>22341.25</td></tr>
<tr><td>Net Cash Flow</td><td>7909.94</td><td>-2789.29</td><td>17263.31</td><td>-7055.3</td><td>24093.5</td><td>29795.47</td><td>-34375.42</td><td>48919.15</td><td>-3635.58</td><td>7698.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>560.2</td><td>444.15</td><td>490.8</td><td>510.5</td><td>777.25</td><td>379</td><td>697.45</td><td>761.15</td><td>858.5</td><td>1047.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>237.05</td><td>238.28</td><td>239.5</td><td>256.65</td><td>257.16</td><td>282.17</td><td>306.37</td><td>306.97</td><td>307.69</td><td>308.66</td></tr>
</table>
</body>
</html>