<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\B H E L</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BHARAT HEAVY ELECTRICALS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>273.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>95112.56</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>39561.15</td><td>31323.39</td><td>25505.19</td><td>28464.77</td><td>28827.48</td><td>30441.38</td><td>21463.14</td><td>17308.69</td><td>21211.09</td><td>23364.94</td></tr>
<tr><td>Raw Material Cost</td><td>17462.84</td><td>14198.83</td><td>13028.88</td><td>13125.88</td><td>12102.78</td><td>14982.73</td><td>11781.64</td><td>8158.56</td><td>9204.15</td><td>10532.61</td></tr>
<tr><td>Change in Inventory</td><td>-1053.39</td><td>339.5</td><td>-210.05</td><td>-992.94</td><td>-739</td><td>989.31</td><td>1042.43</td><td>-510.86</td><td>-525.64</td><td>57.15</td></tr>
<tr><td>Power and Fuel</td><td>605.54</td><td>556.46</td><td>499.47</td><td>451.55</td><td>463.62</td><td>496.94</td><td>459.41</td><td>319.57</td><td>415.08</td><td>487.67</td></tr>
<tr><td>Other Mfr. Exp</td><td>5553.17</td><td>4571.12</td><td>3665.51</td><td>3740.25</td><td>4329.32</td><td>4560.74</td><td>3522.22</td><td>3384.61</td><td>5229.76</td><td>6008.66</td></tr>
<tr><td>Employee Cost</td><td>5956.57</td><td>5475.48</td><td>5387.33</td><td>5402.71</td><td>6075.55</td><td>5509.25</td><td>5431.88</td><td>5378.36</td><td>5519.05</td><td>5700.63</td></tr>
<tr><td>Selling and admin</td><td>1650.44</td><td>1458.7</td><td>1032.5</td><td>1448.06</td><td>1365.75</td><td>1795.59</td><td>1542.87</td><td>1136.43</td><td>1047.14</td><td>1142.85</td></tr>
<tr><td>Other Expenses</td><td>2699.72</td><td>3261.47</td><td>3038.34</td><td>2208.37</td><td>2098.33</td><td>2053.19</td><td>-99.3</td><td>1468.98</td><td>-1557.77</td><td>-1257.81</td></tr>
<tr><td>Other Income</td><td>1617.02</td><td>1220.9</td><td>1492.27</td><td>753.19</td><td>679.24</td><td>661.52</td><td>590.02</td><td>392.56</td><td>404.67</td><td>544.49</td></tr>
<tr><td>Depreciation</td><td>985.36</td><td>1082.01</td><td>936.7</td><td>849.79</td><td>787.33</td><td>475.74</td><td>503.27</td><td>473.25</td><td>314.12</td><td>260.34</td></tr>
<tr><td>Interest</td><td>133.46</td><td>92.43</td><td>359.81</td><td>412.84</td><td>330.17</td><td>378.29</td><td>612.67</td><td>466.56</td><td>448.13</td><td>612.19</td></tr>
<tr><td>Profit before tax</td><td>5077.68</td><td>2187.29</td><td>-1161.13</td><td>585.57</td><td>1214.87</td><td>1839.74</td><td>-659.07</td><td>-3595.93</td><td>470.46</td><td>479.44</td></tr>
<tr><td>Tax</td><td>1575.34</td><td>736.85</td><td>-455.55</td><td>130.39</td><td>776.68</td><td>837.32</td><td>809.28</td><td>-896.23</td><td>25.75</td><td>2.05</td></tr>
<tr><td>Net profit</td><td>3502.86</td><td>1452.38</td><td>-704.13</td><td>457.26</td><td>441.16</td><td>1005.1</td><td>-1466.01</td><td>-2697.11</td><td>446.03</td><td>477.39</td></tr>
<tr><td>Dividend Amount</td><td>692.67</td><td>283.92</td><td>97.9</td><td>386.72</td><td>668.19</td><td>696.41</td><td></td><td></td><td>139.28</td><td>139.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>5112.19</td><td>5135.9</td><td>8061.68</td><td>4672</td><td>5202.57</td><td>5263.38</td><td>8226.99</td><td>5003.43</td><td>5125.29</td><td>5503.81</td></tr>
<tr><td>Expenses</td><td>5142.15</td><td>5046.69</td><td>6909.78</td><td>4841.93</td><td>5446.49</td><td>5119.12</td><td>7240.84</td><td>5367.52</td><td>5513</td><td>5566.67</td></tr>
<tr><td>Other Income</td><td>96.07</td><td>103.89</td><td>131.37</td><td>83.66</td><td>226.31</td><td>110.17</td><td>124.51</td><td>129.88</td><td>192.04</td><td>118.15</td></tr>
<tr><td>Depreciation</td><td>42.82</td><td>74.12</td><td>85.95</td><td>66.69</td><td>58.61</td><td>62.47</td><td>72.57</td><td>59.99</td><td>59.91</td><td>60.6</td></tr>
<tr><td>Interest</td><td>90.42</td><td>85.98</td><td>95.56</td><td>97.88</td><td>123.24</td><td>139.25</td><td>161.06</td><td>167.96</td><td>180.41</td><td>189.6</td></tr>
<tr><td>Profit before tax</td><td>-67.13</td><td>33</td><td>1101.76</td><td>-250.84</td><td>-199.46</td><td>52.71</td><td>877.03</td><td>-462.16</td><td>-435.99</td><td>-194.91</td></tr>
<tr><td>Tax</td><td>-20.55</td><td>5.98</td><td>189.29</td><td>-62.85</td><td>-211.56</td><td>10.43</td><td>266.03</td><td>-118.27</td><td>-197.87</td><td>-46.14</td></tr>
<tr><td>Net profit</td><td>-45.98</td><td>27.02</td><td>912.47</td><td>-187.99</td><td>12.1</td><td>42.28</td><td>611</td><td>-343.89</td><td>-238.12</td><td>-148.77</td></tr>
<tr><td>Operating Profit</td><td>-29.96</td><td>89.21</td><td>1151.9</td><td>-169.93</td><td>-243.92</td><td>144.26</td><td>986.15</td><td>-364.09</td><td>-387.71</td><td>-62.86</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>489.52</td><td>489.52</td><td>489.52</td><td>489.52</td><td>734.28</td><td>696.41</td><td>696.41</td><td>696.41</td><td>696.41</td><td>696.41</td></tr>
<tr><td>Reserves</td><td>32680.71</td><td>33717.08</td><td>31824.63</td><td>31899.47</td><td>31600.71</td><td>30207.93</td><td>27964.31</td><td>25287.25</td><td>25810.19</td><td>26131.62</td></tr>
<tr><td>Borrowings</td><td>4693.07</td><td>1889.47</td><td>211.4</td><td>155.89</td><td>109.73</td><td>2598.47</td><td>5079.96</td><td>4950.89</td><td>4829.93</td><td>5453.51</td></tr>
<tr><td>Other Liabilities</td><td>37467.92</td><td>34886.91</td><td>33051.48</td><td>29152.84</td><td>31495.34</td><td>30987.02</td><td>26550.33</td><td>25025.18</td><td>25654.31</td><td>27832.03</td></tr>
<tr><td>Total</td><td>75331.22</td><td>70982.98</td><td>65577.03</td><td>61697.72</td><td>63940.06</td><td>64489.83</td><td>60291.01</td><td>55959.73</td><td>56990.84</td><td>60113.57</td></tr>
<tr><td>Net Block</td><td>4729.4</td><td>4229.75</td><td>3968.71</td><td>3601.19</td><td>3073.21</td><td>2970.46</td><td>2817.12</td><td>2491.14</td><td>2398.46</td><td>2475.98</td></tr>
<tr><td>Capital Work in Progress</td><td>2930.82</td><td>2613.56</td><td>317.84</td><td>168.34</td><td>202.76</td><td>235.44</td><td>314</td><td>419.56</td><td>430.98</td><td>353.85</td></tr>
<tr><td>Investments</td><td>5.91</td><td>5.91</td><td>796.42</td><td>757.13</td><td>428.97</td><td>152.36</td><td>162.06</td><td>185.34</td><td>205.15</td><td>235.42</td></tr>
<tr><td>Other Assets</td><td>67665.09</td><td>64133.76</td><td>60494.06</td><td>57171.06</td><td>60235.12</td><td>61131.57</td><td>56997.83</td><td>52863.69</td><td>53956.25</td><td>57048.32</td></tr>
<tr><td>Total</td><td>75331.22</td><td>70982.98</td><td>65577.03</td><td>61697.72</td><td>63940.06</td><td>64489.83</td><td>60291.01</td><td>55959.73</td><td>56990.84</td><td>60113.57</td></tr>
<tr><td>Receivables</td><td>28198.55</td><td>26520.12</td><td>22438.89</td><td>22077.58</td><td>14064.68</td><td>11863.14</td><td>7108.6</td><td>4035.07</td><td>3024.75</td><td>3128.35</td></tr>
<tr><td>Inventory</td><td>9895.43</td><td>10253.86</td><td>9865.01</td><td>7729.94</td><td>6729.6</td><td>8355.56</td><td>9450.68</td><td>7913.97</td><td>7307.29</td><td>7499.69</td></tr>
<tr><td>Cash & Bank</td><td>12019.97</td><td>9948.9</td><td>10087.2</td><td>10493.55</td><td>11176.28</td><td>7503.54</td><td>6418.59</td><td>6701.45</td><td>7153.69</td><td>6642.58</td></tr>
<tr><td>No. of Equity Shares</td><td>2447600000</td><td>2447600000</td><td>2447600000</td><td>2447600000</td><td>3671400000</td><td>3482063355</td><td>3482063355</td><td>3482063355</td><td>3482063355</td><td>3482063355</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td>1223800000</td><td>1223800000</td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>4512</td><td>821.19</td><td>374.44</td><td>560.41</td><td>989.07</td><td>-3860.15</td><td>-2891.5</td><td>559.95</td><td>660.25</td><td>-741.52</td></tr>
<tr><td>Cash from Investing Activity</td><td>-867.86</td><td>650.4</td><td>23.07</td><td>-565.16</td><td>961.21</td><td>1918.85</td><td>1877.06</td><td>-42.5</td><td>-1118.04</td><td>1480.46</td></tr>
<tr><td>Cash from Financing Activity</td><td>523.33</td><td>-3542.66</td><td>-122.47</td><td>-467.87</td><td>-667.39</td><td>-31.64</td><td>1621.99</td><td>-394.15</td><td>-329.49</td><td>88.96</td></tr>
<tr><td>Net Cash Flow</td><td>4167.47</td><td>-2071.07</td><td>275.04</td><td>-472.62</td><td>1282.89</td><td>-1972.94</td><td>607.55</td><td>123.3</td><td>-787.28</td><td>827.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>130.7</td><td>156.9</td><td>75.9</td><td>108.57</td><td>81.35</td><td>74.95</td><td>20.8</td><td>48.75</td><td>49.35</td><td>70.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>367.14</td><td>367.14</td><td>367.14</td><td>367.14</td><td>367.14</td><td>348.21</td><td>348.21</td><td>348.21</td><td>348.21</td><td>348.21</td></tr>
</table>
</body>
</html>