<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\B P C L</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BHARAT PETROLEUM CORPORATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>592.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>128369.52</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>242598.5</td><td>187814.6</td><td>201250.66</td><td>235895.11</td><td>298225.59</td><td>284571.9</td><td>230170.81</td><td>346791.08</td><td>473187.18</td><td>448083.03</td></tr>
<tr><td>Raw Material Cost</td><td>212339.34</td><td>157769.77</td><td>177243.33</td><td>201908.35</td><td>262748.71</td><td>253665.2</td><td>191142.32</td><td>307442.89</td><td>434189.53</td><td>378085.99</td></tr>
<tr><td>Change in Inventory</td><td>-4351.45</td><td>-1304.82</td><td>5832.38</td><td>-203.35</td><td>1606.26</td><td>1073.07</td><td>3743.56</td><td>4041.62</td><td>977.24</td><td>1989.84</td></tr>
<tr><td>Power and Fuel</td><td>1940.21</td><td>1781.07</td><td>1483.97</td><td>1935.49</td><td>2396.38</td><td>2966.87</td><td>2502.3</td><td>3213.61</td><td>4020.86</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>2061.29</td><td>6685.45</td><td>6987.82</td><td>7760.76</td><td>8890.18</td><td>9073.29</td><td>8586.17</td><td>9711.07</td><td>11611.5</td><td></td></tr>
<tr><td>Employee Cost</td><td>2349.85</td><td>2962.06</td><td>3669.52</td><td>3748.53</td><td>3984.03</td><td>4020.51</td><td>4856.35</td><td>3408</td><td>2775.01</td><td>3577.17</td></tr>
<tr><td>Selling and admin</td><td>7191.01</td><td>2297.12</td><td>2077.76</td><td>2820.18</td><td>3175.96</td><td>2318.4</td><td>2128.43</td><td>3307.31</td><td>4472.49</td><td></td></tr>
<tr><td>Other Expenses</td><td>2584.89</td><td>2043.23</td><td>1837.84</td><td>2201</td><td>3524.36</td><td>4625.49</td><td>3697.75</td><td>4612.52</td><td>6196.2</td><td>24327.68</td></tr>
<tr><td>Other Income</td><td>2117.16</td><td>1912.87</td><td>2720.81</td><td>2926.81</td><td>2974.86</td><td>1393.46</td><td>7488.59</td><td>4939.42</td><td>2036.5</td><td>3032.56</td></tr>
<tr><td>Depreciation</td><td>3026.68</td><td>2071.87</td><td>2107.64</td><td>2885</td><td>3417.77</td><td>4080.09</td><td>4334.21</td><td>5434.35</td><td>6368.82</td><td>6771.26</td></tr>
<tr><td>Interest</td><td>1180.47</td><td>680.49</td><td>696.36</td><td>1185.74</td><td>1763.95</td><td>2637.01</td><td>1723.41</td><td>2605.64</td><td>3745.38</td><td>4148.89</td></tr>
<tr><td>Profit before tax</td><td>7690.47</td><td>12131.59</td><td>13699.61</td><td>14173.52</td><td>12905.37</td><td>3651.57</td><td>22432.02</td><td>16036.73</td><td>2821.13</td><td>36194.44</td></tr>
<tr><td>Tax</td><td>2608.46</td><td>4042.72</td><td>4192.64</td><td>4381.61</td><td>4377.52</td><td>-14.21</td><td>5112.19</td><td>4355.23</td><td>690.08</td><td>9335.6</td></tr>
<tr><td>Net profit</td><td>4806.57</td><td>8088.87</td><td>8720.94</td><td>9008.63</td><td>7802.3</td><td>3055.36</td><td>16164.98</td><td>11681.5</td><td>2131.05</td><td>26858.84</td></tr>
<tr><td>Dividend Amount</td><td>1626.93</td><td>2032.42</td><td>4261.56</td><td>4130.45</td><td>3737.07</td><td>3245.35</td><td>16533.99</td><td>3407.12</td><td>851.78</td><td>4486.21</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>95121.1</td><td>104079.84</td><td>121081.8</td><td>114820.44</td><td>119169.55</td><td>118115.39</td><td>112984.79</td><td>103044.37</td><td>115499.14</td><td>116554.73</td></tr>
<tr><td>Expenses</td><td>90018.72</td><td>98125.57</td><td>126905.94</td><td>113405.55</td><td>114956.98</td><td>107030.6</td><td>97199.66</td><td>90103.86</td><td>109300.28</td><td>107599.79</td></tr>
<tr><td>Other Income</td><td>687.98</td><td>1131</td><td>614.78</td><td>672.92</td><td>415.34</td><td>522.52</td><td>800.43</td><td>693.71</td><td>918.72</td><td>403</td></tr>
<tr><td>Depreciation</td><td>1393.54</td><td>1603.34</td><td>1616.98</td><td>1560.77</td><td>1586.28</td><td>1604.79</td><td>1613.96</td><td>1605.27</td><td>1830.14</td><td>1721.89</td></tr>
<tr><td>Interest</td><td>659.74</td><td>751.81</td><td>710.39</td><td>937.05</td><td>1128.26</td><td>1148.02</td><td>869.09</td><td>973.21</td><td>920.5</td><td>966.8</td></tr>
<tr><td>Profit before tax</td><td>3737.08</td><td>4730.12</td><td>-7536.73</td><td>-410.01</td><td>1913.37</td><td>8854.5</td><td>14102.51</td><td>11055.74</td><td>4366.94</td><td>6669.25</td></tr>
<tr><td>Tax</td><td>978.19</td><td>1927.38</td><td>-1388.79</td><td>-71.52</td><td>166.36</td><td>1984.03</td><td>3458.21</td><td>2812.19</td><td>1185.52</td><td>1879.68</td></tr>
<tr><td>Net profit</td><td>2758.89</td><td>2802.74</td><td>-6147.94</td><td>-338.49</td><td>1747.01</td><td>6870.47</td><td>10644.3</td><td>8243.55</td><td>3181.42</td><td>4789.57</td></tr>
<tr><td>Operating Profit</td><td>5102.38</td><td>5954.27</td><td>-5824.14</td><td>1414.89</td><td>4212.57</td><td>11084.79</td><td>15785.13</td><td>12940.51</td><td>6198.86</td><td>8954.94</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>723.08</td><td>655.62</td><td>1311.25</td><td>1966.88</td><td>1966.88</td><td>1966.88</td><td>2092.91</td><td>2129.45</td><td>2129.45</td><td>2136.29</td></tr>
<tr><td>Reserves</td><td>21825.42</td><td>27137.65</td><td>29508.5</td><td>34651.69</td><td>36797.84</td><td>34565.45</td><td>51462.17</td><td>49776.17</td><td>51392.91</td><td>73498.82</td></tr>
<tr><td>Borrowings</td><td>25492.21</td><td>23387.73</td><td>35725.44</td><td>37659.36</td><td>44839.1</td><td>65475.54</td><td>54531.86</td><td>64534.2</td><td>69376.03</td><td>54599.05</td></tr>
<tr><td>Other Liabilities</td><td>38281.38</td><td>35240.73</td><td>42541.07</td><td>46078.13</td><td>53322.29</td><td>48852.11</td><td>52891.08</td><td>71088.81</td><td>65210.38</td><td>72183.59</td></tr>
<tr><td>Total</td><td>86322.09</td><td>86421.73</td><td>109086.26</td><td>120356.06</td><td>136926.11</td><td>150859.98</td><td>160978.02</td><td>187528.63</td><td>188108.77</td><td>202417.75</td></tr>
<tr><td>Net Block</td><td>29109.4</td><td>25358.5</td><td>33683.86</td><td>45539.3</td><td>49314.84</td><td>60174.57</td><td>64098.31</td><td>83901.46</td><td>86675.12</td><td>98322.49</td></tr>
<tr><td>Capital Work in Progress</td><td>15787.34</td><td>17458.93</td><td>16833.87</td><td>9874.74</td><td>13654.49</td><td>17756.74</td><td>17037.29</td><td>15432.95</td><td>16248.93</td><td>8679.72</td></tr>
<tr><td>Investments</td><td>7711.81</td><td>9401.05</td><td>21327.13</td><td>23724.57</td><td>24906.91</td><td>27028.51</td><td>26767.73</td><td>23615.9</td><td>26778.28</td><td>26630.59</td></tr>
<tr><td>Other Assets</td><td>33713.54</td><td>34203.25</td><td>37241.4</td><td>41217.45</td><td>49049.87</td><td>45900.16</td><td>53074.69</td><td>64578.32</td><td>58406.44</td><td>68784.95</td></tr>
<tr><td>Total</td><td>86322.09</td><td>86421.73</td><td>109086.26</td><td>120356.06</td><td>136926.11</td><td>150859.98</td><td>160978.02</td><td>187528.63</td><td>188108.77</td><td>202417.75</td></tr>
<tr><td>Receivables</td><td>2901.85</td><td>2216.89</td><td>4803.75</td><td>5209.28</td><td>6906.25</td><td>5378.02</td><td>7834.77</td><td>9707.47</td><td>6723.78</td><td>8342.03</td></tr>
<tr><td>Inventory</td><td>17400.02</td><td>14643.7</td><td>21196.78</td><td>22530.94</td><td>22934.87</td><td>22242.6</td><td>26706.72</td><td>42178.74</td><td>38069.19</td><td>42836.13</td></tr>
<tr><td>Cash & Bank</td><td>3446.26</td><td>4202.37</td><td>1884.54</td><td>1353.86</td><td>662.52</td><td>1164.84</td><td>8110.11</td><td>2236.69</td><td>2574.38</td><td>6286.36</td></tr>
<tr><td>No. of Equity Shares</td><td>723084248</td><td>723084248</td><td>1446168496</td><td>2169252744</td><td>2169252744</td><td>2169252744</td><td>2092913412</td><td>2129455489</td><td>2129455489</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td>723084248</td><td>723084248</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>20741.65</td><td>11119.04</td><td>9041.11</td><td>11068.37</td><td>10157.15</td><td>7881.01</td><td>23455.14</td><td>20335.63</td><td>12465.6</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>-10535.63</td><td>-9232.69</td><td>-15273.94</td><td>-7065.51</td><td>-10451.17</td><td>-11135.11</td><td>-2474.04</td><td>-8137.57</td><td>-7806.41</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>-9792</td><td>-1331.57</td><td>4803.96</td><td>-4217.73</td><td>207.04</td><td>3583.21</td><td>-13980.9</td><td>-17671.68</td><td>-4402.01</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>414.02</td><td>554.78</td><td>-1428.87</td><td>-214.87</td><td>-86.98</td><td>329.11</td><td>7000.2</td><td>-5473.62</td><td>257.18</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>270.27</td><td>301.44</td><td>433.23</td><td>427.45</td><td>397.55</td><td>316.9</td><td>427.95</td><td>359.35</td><td>344.3</td><td>602.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>216.92</td><td>216.92</td><td>216.93</td><td>216.93</td><td>216.93</td><td>216.93</td><td>216.93</td><td>216.93</td><td>216.93</td><td>216.93</td></tr>
</table>
</body>
</html>