<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Bajaj Holdings</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BAJAJ HOLDINGS & INVESTMENT LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>8383.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>93139.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>523.93</td><td>470.11</td><td>842.36</td><td>419.67</td><td>431.29</td><td>435.42</td><td>457.18</td><td>484.36</td><td>521.66</td><td>1648.69</td></tr>
<tr><td>Raw Material Cost</td><td>1.02</td><td>0.92</td><td>1.1</td><td></td><td></td><td>9.39</td><td>8.4</td><td>9.48</td><td>7.06</td><td>5.51</td></tr>
<tr><td>Change in Inventory</td><td>0.18</td><td>-0.19</td><td>0.17</td><td></td><td></td><td>1.73</td><td>0.28</td><td>1.96</td><td>-2.52</td><td>0.04</td></tr>
<tr><td>Power and Fuel</td><td>0.11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>1.68</td><td>1.78</td><td>1.88</td><td>1.45</td><td>1.69</td><td>9.92</td><td>5.15</td><td>6.01</td><td>6.84</td><td></td></tr>
<tr><td>Employee Cost</td><td>8.72</td><td>17.56</td><td>22.84</td><td>25.49</td><td>32.29</td><td>48.98</td><td>46.76</td><td>47.91</td><td>53.67</td><td>51.66</td></tr>
<tr><td>Selling and admin</td><td>6.83</td><td>9.35</td><td>2.9</td><td>20.22</td><td>18.88</td><td>38.51</td><td>27.19</td><td>32.64</td><td>46.89</td><td></td></tr>
<tr><td>Other Expenses</td><td>21.53</td><td>11.78</td><td>186.13</td><td>17.44</td><td>31.7</td><td>28.89</td><td>18.29</td><td>23.34</td><td>25.07</td><td>83.1</td></tr>
<tr><td>Other Income</td><td>34.9</td><td>6.85</td><td>7.97</td><td>2389.62</td><td>2827.39</td><td>3058.08</td><td>3451.48</td><td>3895.82</td><td>4672.7</td><td>6020.07</td></tr>
<tr><td>Depreciation</td><td>5.93</td><td>5.48</td><td>5.39</td><td>5.24</td><td>4.1</td><td>33.33</td><td>33.61</td><td>33.71</td><td>33.86</td><td>33.86</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>12.54</td><td>3.8</td><td>3.15</td><td>6.94</td><td>2.16</td></tr>
<tr><td>Profit before tax</td><td>513.19</td><td>429.9</td><td>630.26</td><td>2739.45</td><td>3170.02</td><td>3313.67</td><td>3765.74</td><td>4225.9</td><td>5011.51</td><td>7492.51</td></tr>
<tr><td>Tax</td><td>99.36</td><td>88.31</td><td>134.57</td><td>84.7</td><td>121.64</td><td>233.48</td><td>111.59</td><td>100.29</td><td>65.3</td><td>127.6</td></tr>
<tr><td>Net profit</td><td>2029.24</td><td>2265.24</td><td>2473.19</td><td>2654.75</td><td>3048.38</td><td>2992</td><td>3649.83</td><td>4055.68</td><td>4850.52</td><td>7267.21</td></tr>
<tr><td>Dividend Amount</td><td>389.52</td><td>361.69</td><td>361.69</td><td>445.16</td><td>361.69</td><td>445.16</td><td>445.16</td><td>1279.84</td><td>1368.87</td><td>1457.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>95.57</td><td>89.46</td><td>91.33</td><td>187.6</td><td>98.41</td><td>86.69</td><td>104.07</td><td>224.73</td><td>108.05</td><td>1211.84</td></tr>
<tr><td>Expenses</td><td>31.12</td><td>32.59</td><td>36.83</td><td>36.52</td><td>36.82</td><td>31.88</td><td>35.88</td><td>33.21</td><td>36.01</td><td>35.13</td></tr>
<tr><td>Other Income</td><td>1003.74</td><td>1074.16</td><td>938.16</td><td>1213.75</td><td>1252.17</td><td>1326.25</td><td>1374.83</td><td>1479.41</td><td>1602.43</td><td>1563.4</td></tr>
<tr><td>Depreciation</td><td>8.43</td><td>8.46</td><td>8.44</td><td>8.45</td><td>8.47</td><td>8.5</td><td>8.46</td><td>8.45</td><td>8.47</td><td>8.48</td></tr>
<tr><td>Interest</td><td>0.78</td><td>0.8</td><td>0.66</td><td>0.67</td><td>0.69</td><td>4.92</td><td>0.54</td><td>0.53</td><td>0.55</td><td>0.54</td></tr>
<tr><td>Profit before tax</td><td>1058.98</td><td>1121.77</td><td>983.56</td><td>1355.71</td><td>1304.6</td><td>1367.64</td><td>1434.02</td><td>1661.95</td><td>1665.45</td><td>2731.09</td></tr>
<tr><td>Tax</td><td>17.21</td><td>15.6</td><td>13.53</td><td>19.8</td><td>17.48</td><td>14.49</td><td>18.28</td><td>73.87</td><td>20.53</td><td>14.92</td></tr>
<tr><td>Net profit</td><td>1040.16</td><td>1105.39</td><td>969.33</td><td>1242.79</td><td>1285.65</td><td>1352.75</td><td>1415.5</td><td>1491.16</td><td>1644.43</td><td>2716.12</td></tr>
<tr><td>Operating Profit</td><td>64.45</td><td>56.87</td><td>54.5</td><td>151.08</td><td>61.59</td><td>54.81</td><td>68.19</td><td>191.52</td><td>72.04</td><td>1176.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td><td>111.29</td></tr>
<tr><td>Reserves</td><td>13281.94</td><td>15182.03</td><td>17706.61</td><td>25089.94</td><td>26841.01</td><td>27652.25</td><td>37055.67</td><td>42730.96</td><td>44071.49</td><td>54136.22</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>167.77</td><td>136.18</td><td>113.69</td><td>92.79</td><td>62.57</td></tr>
<tr><td>Other Liabilities</td><td>499.75</td><td>178.36</td><td>70.77</td><td>67.61</td><td>56.11</td><td>4797.42</td><td>8186.45</td><td>10631.69</td><td>8912.53</td><td>10851</td></tr>
<tr><td>Total</td><td>13892.98</td><td>15471.68</td><td>17888.67</td><td>25268.84</td><td>27008.41</td><td>32728.73</td><td>45489.59</td><td>53587.63</td><td>53188.1</td><td>65161.08</td></tr>
<tr><td>Net Block</td><td>543.96</td><td>544.42</td><td>221.98</td><td>215.05</td><td>193.49</td><td>374.44</td><td>341.87</td><td>309.51</td><td>277.51</td><td>243.96</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Investments</td><td>13077.56</td><td>13275.84</td><td>17364.28</td><td>24575.43</td><td>26256.86</td><td>32067.75</td><td>44913.65</td><td>52964.39</td><td>52555.42</td><td>64714.58</td></tr>
<tr><td>Other Assets</td><td>271.46</td><td>1651.42</td><td>302.41</td><td>478.36</td><td>558.06</td><td>286.54</td><td>234.07</td><td>313.73</td><td>355.17</td><td>202.54</td></tr>
<tr><td>Total</td><td>13892.98</td><td>15471.68</td><td>17888.67</td><td>25268.84</td><td>27008.41</td><td>32728.73</td><td>45489.59</td><td>53587.63</td><td>53188.1</td><td>65161.08</td></tr>
<tr><td>Receivables</td><td>0.61</td><td>0.59</td><td>0.53</td><td></td><td></td><td>4.7</td><td>6.83</td><td>10.03</td><td>6.54</td><td>1.77</td></tr>
<tr><td>Inventory</td><td>0.31</td><td>0.13</td><td>0.28</td><td></td><td></td><td>3.36</td><td>3.6</td><td>6.46</td><td>3.8</td><td>3.66</td></tr>
<tr><td>Cash & Bank</td><td>48.24</td><td>1423.01</td><td>12.53</td><td>81.21</td><td>10.19</td><td>112.31</td><td>83.26</td><td>32.89</td><td>39.47</td><td>53.96</td></tr>
<tr><td>No. of Equity Shares</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td>111293510</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>796.01</td><td>1147.22</td><td>-923.34</td><td>1631.1</td><td>627.64</td><td>1919.83</td><td>271.66</td><td>1609.65</td><td>1727.65</td><td>1941.12</td></tr>
<tr><td>Cash from Investing Activity</td><td>-464.23</td><td>1019.43</td><td>-372.11</td><td>-1122.78</td><td>-163.24</td><td>-799.63</td><td>-307.91</td><td>-150.74</td><td>-136.84</td><td>-471.7</td></tr>
<tr><td>Cash from Financing Activity</td><td>-390.97</td><td>-760.76</td><td>-110.49</td><td>-434.18</td><td>-536.05</td><td>-1028.28</td><td>-36.64</td><td>-1459.54</td><td>-1586.91</td><td>-1455.47</td></tr>
<tr><td>Net Cash Flow</td><td>-59.19</td><td>1405.89</td><td>-1405.94</td><td>74.14</td><td>-71.65</td><td>91.92</td><td>-72.89</td><td>-0.63</td><td>3.9</td><td>13.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>1296.25</td><td>1468.5</td><td>2163.95</td><td>2664.5</td><td>3416.55</td><td>1798.55</td><td>3293.05</td><td>5011.05</td><td>5920.1</td><td>8272.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td><td>11.13</td></tr>
</table>
</body>
</html>