<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Balkrishna Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BALKRISHNA INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2441.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>47175.36</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3768.27</td><td>3813.08</td><td>3236.58</td><td>3723.3</td><td>4443.79</td><td>5209.99</td><td>4811.24</td><td>5783.19</td><td>8295.12</td><td>9759.53</td></tr>
<tr><td>Raw Material Cost</td><td>1834.78</td><td>1962.87</td><td>1396.02</td><td>1585.06</td><td>2194.44</td><td>2503.67</td><td>2079.52</td><td>2455.04</td><td>4035.41</td><td>4910.44</td></tr>
<tr><td>Change in Inventory</td><td>12.89</td><td>-15.5</td><td>-23.17</td><td>5.43</td><td>51.22</td><td>59.55</td><td>-59.23</td><td>144</td><td>257.57</td><td>-4.87</td></tr>
<tr><td>Power and Fuel</td><td>168.73</td><td>175.54</td><td>118.54</td><td>129.8</td><td>176.26</td><td>186.87</td><td>164.26</td><td>173.78</td><td>282.84</td><td>348.56</td></tr>
<tr><td>Other Mfr. Exp</td><td>267.92</td><td>292.34</td><td>252.15</td><td>237.31</td><td>308.17</td><td>362.82</td><td>287.36</td><td>384.85</td><td>463.65</td><td>526.7</td></tr>
<tr><td>Employee Cost</td><td>168.64</td><td>227.4</td><td>235.03</td><td>256.98</td><td>280.04</td><td>299.3</td><td>328.74</td><td>371.14</td><td>430.41</td><td>459.72</td></tr>
<tr><td>Selling and admin</td><td>338.73</td><td>388.43</td><td>320.64</td><td>348.5</td><td>381.34</td><td>557.77</td><td>572.91</td><td>682.86</td><td>1274.52</td><td>1732.52</td></tr>
<tr><td>Other Expenses</td><td>112.35</td><td>23.63</td><td>25.19</td><td>40.11</td><td>52.2</td><td>52.88</td><td>45.28</td><td>48.03</td><td>56.89</td><td>64.63</td></tr>
<tr><td>Other Income</td><td>13.9</td><td>277.44</td><td>130.58</td><td>253.63</td><td>339.71</td><td>215.38</td><td>249.98</td><td>171.49</td><td>437.9</td><td>341.83</td></tr>
<tr><td>Depreciation</td><td>170.28</td><td>243.7</td><td>282.32</td><td>304</td><td>311.4</td><td>332.61</td><td>373.61</td><td>416.3</td><td>455.37</td><td>570.81</td></tr>
<tr><td>Interest</td><td>27.46</td><td>47.77</td><td>39.85</td><td>22</td><td>14.83</td><td>12.44</td><td>10.79</td><td>11.76</td><td>9.35</td><td>48.32</td></tr>
<tr><td>Profit before tax</td><td>706.17</td><td>713.34</td><td>674.25</td><td>1058.6</td><td>1116.04</td><td>1176.56</td><td>1139.52</td><td>1554.92</td><td>1982.15</td><td>1434.79</td></tr>
<tr><td>Tax</td><td>231.55</td><td>240.77</td><td>228.53</td><td>341.75</td><td>380.25</td><td>402.91</td><td>179.87</td><td>377.39</td><td>546.77</td><td>377.39</td></tr>
<tr><td>Net profit</td><td>474.62</td><td>472.57</td><td>445.72</td><td>716.85</td><td>735.79</td><td>773.65</td><td>959.65</td><td>1177.53</td><td>1435.38</td><td>1057.4</td></tr>
<tr><td>Dividend Amount</td><td>19.33</td><td>23.2</td><td>53.16</td><td>77.32</td><td>154.64</td><td>154.64</td><td>386.6</td><td>328.61</td><td>541.24</td><td>309.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2072.23</td><td>2045.81</td><td>2374.21</td><td>2619.43</td><td>2657.52</td><td>2165.57</td><td>2317.01</td><td>2159.35</td><td>2253.19</td><td>2274.41</td></tr>
<tr><td>Expenses</td><td>1534.38</td><td>1589.16</td><td>1871.13</td><td>2175.45</td><td>2231.26</td><td>1896.28</td><td>1837.25</td><td>1658.41</td><td>1720.48</td><td>1733.81</td></tr>
<tr><td>Other Income</td><td>133.3</td><td>113.04</td><td>109.37</td><td>105.72</td><td>226.65</td><td>44.97</td><td>57.01</td><td>105.76</td><td>107.09</td><td>65.63</td></tr>
<tr><td>Depreciation</td><td>111.43</td><td>117.57</td><td>119.53</td><td>129.27</td><td>137.33</td><td>148.56</td><td>155.65</td><td>155.29</td><td>160.43</td><td>160.85</td></tr>
<tr><td>Interest</td><td>2.05</td><td>2.05</td><td>2.55</td><td>2.95</td><td>4.77</td><td>14.22</td><td>26.1</td><td>21.71</td><td>23.85</td><td>36.44</td></tr>
<tr><td>Profit before tax</td><td>557.67</td><td>450.07</td><td>490.37</td><td>417.48</td><td>510.81</td><td>151.48</td><td>355.02</td><td>429.7</td><td>455.52</td><td>408.94</td></tr>
<tr><td>Tax</td><td>166.64</td><td>111.12</td><td>115.53</td><td>110.52</td><td>128.55</td><td>43.1</td><td>95.22</td><td>97.82</td><td>108.08</td><td>103.52</td></tr>
<tr><td>Net profit</td><td>391.03</td><td>338.95</td><td>374.84</td><td>306.96</td><td>382.26</td><td>108.38</td><td>259.8</td><td>331.88</td><td>347.44</td><td>305.42</td></tr>
<tr><td>Operating Profit</td><td>537.85</td><td>456.65</td><td>503.08</td><td>443.98</td><td>426.26</td><td>269.29</td><td>479.76</td><td>500.94</td><td>532.71</td><td>540.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>38.66</td><td>38.66</td><td>38.66</td><td>38.66</td><td>38.66</td><td>38.66</td></tr>
<tr><td>Reserves</td><td>1875.75</td><td>2256.65</td><td>2755.5</td><td>3523.53</td><td>4044.73</td><td>4615</td><td>4969.62</td><td>5961.16</td><td>6894.35</td><td>7518.27</td></tr>
<tr><td>Borrowings</td><td>2438.52</td><td>2357.84</td><td>1898.3</td><td>1390.87</td><td>867.47</td><td>871.14</td><td>932</td><td>1001.12</td><td>2528.59</td><td>3346.53</td></tr>
<tr><td>Other Liabilities</td><td>687.7</td><td>684.53</td><td>725.27</td><td>855.35</td><td>927.35</td><td>954.21</td><td>866.07</td><td>1165.55</td><td>1517.38</td><td>1444.2</td></tr>
<tr><td>Total</td><td>5021.3</td><td>5318.35</td><td>5398.4</td><td>5789.08</td><td>5878.21</td><td>6479.01</td><td>6806.35</td><td>8166.49</td><td>10978.98</td><td>12347.66</td></tr>
<tr><td>Net Block</td><td>2389</td><td>2415.39</td><td>2858.78</td><td>2848.73</td><td>2849.14</td><td>2786.25</td><td>3307.51</td><td>3370.32</td><td>4019.39</td><td>5384.05</td></tr>
<tr><td>Capital Work in Progress</td><td>564.86</td><td>634.04</td><td>231.07</td><td>109.67</td><td>118.66</td><td>600.41</td><td>586.59</td><td>855.52</td><td>1258.4</td><td>1391.6</td></tr>
<tr><td>Investments</td><td>370.19</td><td>444.06</td><td>835.87</td><td>1349.19</td><td>1102.67</td><td>1082.55</td><td>1062.5</td><td>1417.65</td><td>1896.68</td><td>2036.71</td></tr>
<tr><td>Other Assets</td><td>1697.25</td><td>1824.86</td><td>1472.68</td><td>1481.49</td><td>1807.74</td><td>2009.8</td><td>1849.75</td><td>2523</td><td>3804.51</td><td>3535.3</td></tr>
<tr><td>Total</td><td>5021.3</td><td>5318.35</td><td>5398.4</td><td>5789.08</td><td>5878.21</td><td>6479.01</td><td>6806.35</td><td>8166.49</td><td>10978.98</td><td>12347.66</td></tr>
<tr><td>Receivables</td><td>613.76</td><td>581.15</td><td>384.95</td><td>411.67</td><td>479.63</td><td>517.1</td><td>589.86</td><td>753.59</td><td>1096.15</td><td>1115.27</td></tr>
<tr><td>Inventory</td><td>568.4</td><td>411.41</td><td>398.26</td><td>476.12</td><td>618.87</td><td>758.71</td><td>615.64</td><td>939.72</td><td>1672.09</td><td>1667.37</td></tr>
<tr><td>Cash & Bank</td><td>14.93</td><td>434.21</td><td>329.96</td><td>24.81</td><td>33.43</td><td>65.63</td><td>69.08</td><td>75.14</td><td>51.71</td><td>76.33</td></tr>
<tr><td>No. of Equity Shares</td><td>96658595</td><td>96658595</td><td>96658595</td><td>96658595</td><td>193317190</td><td>193317190</td><td>193317190</td><td>193317190</td><td>193317190</td><td>193317190</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td>96658595</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>601.67</td><td>984.13</td><td>1071.95</td><td>846.85</td><td>749.94</td><td>820.41</td><td>1173.14</td><td>1339.03</td><td>908.04</td><td>1447.97</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1229.61</td><td>-434.64</td><td>-551.82</td><td>-563.21</td><td>-92.28</td><td>-636.02</td><td>-677.8</td><td>-1172.87</td><td>-1897.41</td><td>-1783.12</td></tr>
<tr><td>Cash from Financing Activity</td><td>364.9</td><td>-130.22</td><td>-625.28</td><td>-589.34</td><td>-653.8</td><td>-164.68</td><td>-494.69</td><td>-158.06</td><td>980.36</td><td>358.54</td></tr>
<tr><td>Net Cash Flow</td><td>-263.04</td><td>419.27</td><td>-105.15</td><td>-305.7</td><td>3.86</td><td>19.71</td><td>0.65</td><td>8.1</td><td>-9.01</td><td>23.39</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>242.4</td><td>323</td><td>315.7</td><td>693.08</td><td>1068.65</td><td>995.5</td><td>791.65</td><td>1688.5</td><td>2136.2</td><td>1951.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td><td>19.33</td></tr>
</table>
</body>
</html>