<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Balrampur Chini</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BALRAMPUR CHINI MILLS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>371.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7486.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2664.95</td><td>2986.98</td><td>2756.66</td><td>3460.14</td><td>4342.54</td><td>4285.78</td><td>4741.29</td><td>4811.66</td><td>4846.03</td><td>4665.86</td></tr>
<tr><td>Raw Material Cost</td><td>2275</td><td>2083.54</td><td>2112.54</td><td>2576.85</td><td>3064.88</td><td>3595.41</td><td>3464.16</td><td>3511.86</td><td>3261.73</td><td>3419.4</td></tr>
<tr><td>Change in Inventory</td><td>184.1</td><td>-426.41</td><td>136.23</td><td>419.52</td><td>-409.75</td><td>538.36</td><td>-37.34</td><td>55.83</td><td>-194.42</td><td>10.16</td></tr>
<tr><td>Power and Fuel</td><td>4.69</td><td>4.25</td><td>5.74</td><td>5.24</td><td>4.93</td><td>4.26</td><td>4.04</td><td>2.36</td><td>2.69</td><td>0.97</td></tr>
<tr><td>Other Mfr. Exp</td><td>110.27</td><td>109.42</td><td>89.33</td><td>89.28</td><td>115.17</td><td>149.13</td><td>140.42</td><td>157.31</td><td>162.13</td><td>172.37</td></tr>
<tr><td>Employee Cost</td><td>141.76</td><td>150.44</td><td>155.46</td><td>181.99</td><td>205.04</td><td>231.52</td><td>255.18</td><td>282.98</td><td>309.27</td><td>365.26</td></tr>
<tr><td>Selling and admin</td><td>7.92</td><td>12.42</td><td>37.42</td><td>44.19</td><td>38.33</td><td>98.35</td><td>87.16</td><td>134.38</td><td>135.56</td><td>117.29</td></tr>
<tr><td>Other Expenses</td><td>85.18</td><td>72.31</td><td>78.24</td><td>79.23</td><td>49.95</td><td>54.37</td><td>71.02</td><td>64.76</td><td>73.09</td><td>79.19</td></tr>
<tr><td>Other Income</td><td>20.65</td><td>13.45</td><td>-129.84</td><td>-7.51</td><td>37.86</td><td>47.48</td><td>51.68</td><td>46.52</td><td>36.31</td><td>64.93</td></tr>
<tr><td>Depreciation</td><td>109.58</td><td>115.92</td><td>110.2</td><td>105.03</td><td>95.16</td><td>95.85</td><td>101.42</td><td>111.88</td><td>113.86</td><td>129.5</td></tr>
<tr><td>Interest</td><td>117.84</td><td>102.09</td><td>66.55</td><td>55.43</td><td>52.03</td><td>40.94</td><td>64.17</td><td>39.3</td><td>30.87</td><td>48.65</td></tr>
<tr><td>Profit before tax</td><td>17.46</td><td>-76.37</td><td>107.57</td><td>734.91</td><td>345.16</td><td>601.79</td><td>568.06</td><td>609.18</td><td>598.72</td><td>408.32</td></tr>
<tr><td>Tax</td><td>9.03</td><td>-18.43</td><td>7.44</td><td>142.15</td><td>113.49</td><td>25.97</td><td>48.7</td><td>129.39</td><td>134.08</td><td>124.15</td></tr>
<tr><td>Net profit</td><td>8.46</td><td>-57.95</td><td>100.2</td><td>592.99</td><td>231.66</td><td>575.82</td><td>519.35</td><td>479.79</td><td>464.64</td><td>284.17</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td>82.25</td><td>57.1</td><td>57.1</td><td>55</td><td>52.5</td><td>51</td><td>50.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1213.83</td><td>1212.15</td><td>1279.61</td><td>1080.08</td><td>1113.1</td><td>981.16</td><td>1491.53</td><td>1389.62</td><td>1539.47</td><td>1230.39</td></tr>
<tr><td>Expenses</td><td>1078.99</td><td>1112.36</td><td>949.52</td><td>1035.66</td><td>1129.04</td><td>901.49</td><td>1087.65</td><td>1226.43</td><td>1374.58</td><td>1117.01</td></tr>
<tr><td>Other Income</td><td>6.39</td><td>17.44</td><td>10.57</td><td>15.5</td><td>14.78</td><td>22.52</td><td>21.63</td><td>17.63</td><td>116.43</td><td>59.75</td></tr>
<tr><td>Depreciation</td><td>28.16</td><td>27.99</td><td>28.41</td><td>28.22</td><td>28.35</td><td>32.76</td><td>40.17</td><td>40.57</td><td>41.24</td><td>41.97</td></tr>
<tr><td>Interest</td><td>6.23</td><td>3.74</td><td>7.78</td><td>13.84</td><td>7.77</td><td>5.89</td><td>21.14</td><td>33.53</td><td>17.2</td><td>7.92</td></tr>
<tr><td>Profit before tax</td><td>106.84</td><td>85.5</td><td>304.47</td><td>17.86</td><td>-37.28</td><td>63.54</td><td>364.2</td><td>106.72</td><td>222.88</td><td>123.24</td></tr>
<tr><td>Tax</td><td>23.74</td><td>21.38</td><td>63.98</td><td>5.48</td><td>-8.33</td><td>17.24</td><td>109.75</td><td>33.2</td><td>56.63</td><td>31.92</td></tr>
<tr><td>Net profit</td><td>83.1</td><td>64.13</td><td>240.48</td><td>12.38</td><td>-28.95</td><td>46.29</td><td>254.45</td><td>73.51</td><td>166.25</td><td>91.33</td></tr>
<tr><td>Operating Profit</td><td>134.84</td><td>99.79</td><td>330.09</td><td>44.42</td><td>-15.94</td><td>79.67</td><td>403.88</td><td>163.19</td><td>164.89</td><td>113.38</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>24.48</td><td>24.49</td><td>24.5</td><td>23.5</td><td>22.84</td><td>22.84</td><td>22</td><td>21</td><td>20.4</td><td>20.17</td></tr>
<tr><td>Reserves</td><td>1191.86</td><td>1102.57</td><td>1204.57</td><td>1537.1</td><td>1594.22</td><td>2094.95</td><td>2393.69</td><td>2598.15</td><td>2749.31</td><td>2875.4</td></tr>
<tr><td>Borrowings</td><td>1527.08</td><td>1677.59</td><td>1666.62</td><td>1782.28</td><td>989.83</td><td>1734.01</td><td>1482.49</td><td>1240.38</td><td>1210.71</td><td>1879.61</td></tr>
<tr><td>Other Liabilities</td><td>1415.61</td><td>1099.34</td><td>804.86</td><td>684.61</td><td>1092.74</td><td>851.34</td><td>909.65</td><td>774.4</td><td>511.62</td><td>653.44</td></tr>
<tr><td>Total</td><td>4159.03</td><td>3903.99</td><td>3700.55</td><td>4027.49</td><td>3699.63</td><td>4703.14</td><td>4807.83</td><td>4633.93</td><td>4492.04</td><td>5428.62</td></tr>
<tr><td>Net Block</td><td>1524.26</td><td>1376.74</td><td>1340.06</td><td>1412.3</td><td>1445.67</td><td>1421.56</td><td>1624.05</td><td>1598.58</td><td>1633.65</td><td>2598.59</td></tr>
<tr><td>Capital Work in Progress</td><td>0.3</td><td>7.56</td><td>86.47</td><td>6.13</td><td>11.25</td><td>45.83</td><td>12.4</td><td>14.48</td><td>204.3</td><td>24.29</td></tr>
<tr><td>Investments</td><td>40.75</td><td>40.74</td><td>47.71</td><td>73.59</td><td>122.12</td><td>165.76</td><td>244.38</td><td>249.16</td><td>172.56</td><td>262.6</td></tr>
<tr><td>Other Assets</td><td>2593.72</td><td>2478.95</td><td>2226.31</td><td>2535.47</td><td>2120.59</td><td>3069.99</td><td>2927</td><td>2771.71</td><td>2481.53</td><td>2543.14</td></tr>
<tr><td>Total</td><td>4159.03</td><td>3903.99</td><td>3700.55</td><td>4027.49</td><td>3699.63</td><td>4703.14</td><td>4807.83</td><td>4633.93</td><td>4492.04</td><td>5428.62</td></tr>
<tr><td>Receivables</td><td>64.06</td><td>158.61</td><td>198.63</td><td>162.77</td><td>182.21</td><td>450.03</td><td>239.29</td><td>245.46</td><td>136.72</td><td>124.82</td></tr>
<tr><td>Inventory</td><td>2092.29</td><td>1669.25</td><td>1864.89</td><td>2313.63</td><td>1802.2</td><td>2316.86</td><td>2295.98</td><td>2378.46</td><td>2200.61</td><td>2318.79</td></tr>
<tr><td>Cash & Bank</td><td>143.52</td><td>82.2</td><td>9.07</td><td>4.49</td><td>8.71</td><td>4.93</td><td>4.66</td><td>2.8</td><td>3.28</td><td>11.9</td></tr>
<tr><td>No. of Equity Shares</td><td>244840817</td><td>244916267</td><td>244949767</td><td>235010467</td><td>228428327</td><td>228428327</td><td>220000000</td><td>210000000</td><td>204040000</td><td>201749245</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>462.33</td><td>-76.32</td><td>147</td><td>345.64</td><td>1179.84</td><td>-523.01</td><td>849.61</td><td>649.21</td><td>694.65</td><td>452.92</td></tr>
<tr><td>Cash from Investing Activity</td><td>-63.02</td><td>-23.02</td><td>-146.62</td><td>-117.05</td><td>-159.32</td><td>-159.2</td><td>-304.71</td><td>-81.13</td><td>-309.39</td><td>-858.75</td></tr>
<tr><td>Cash from Financing Activity</td><td>-446.92</td><td>37.77</td><td>-69.91</td><td>-232.72</td><td>-1020.1</td><td>681.88</td><td>-545.52</td><td>-569.13</td><td>-385.39</td><td>405.83</td></tr>
<tr><td>Net Cash Flow</td><td>-47.61</td><td>-61.58</td><td>-69.53</td><td>-4.13</td><td>0.42</td><td>-0.33</td><td>-0.63</td><td>-1.05</td><td>-0.12</td><td>-0.01</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>55.85</td><td>49.55</td><td>107.85</td><td>145.35</td><td>75.65</td><td>137.1</td><td>104.05</td><td>214.5</td><td>489.4</td><td>395.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>24.48</td><td>24.49</td><td>24.49</td><td>23.5</td><td>22.84</td><td>22.84</td><td>22</td><td>21</td><td>20.4</td><td>20.17</td></tr>
</table>
</body>
</html>