<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Bank of India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BANK OF INDIA</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>139</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>63326.62</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>38125.19</td><td>43684.87</td><td>42092.84</td><td>39585.23</td><td>38312.8</td><td>41004.82</td><td>42590.77</td><td>40853.83</td><td>38280.91</td><td>47931.69</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>64.37</td><td>64.47</td><td>64.42</td><td>66.39</td><td>66.87</td><td>64.77</td><td>74.52</td><td>61.73</td><td>68.82</td><td>79.61</td></tr>
<tr><td>Employee Cost</td><td>4039.49</td><td>5033.63</td><td>5406.68</td><td>5452.4</td><td>4967.28</td><td>6086.27</td><td>6201.34</td><td>6533.5</td><td>7116.39</td><td>8458.72</td></tr>
<tr><td>Selling and admin</td><td>1189.03</td><td>1303.42</td><td>1346.73</td><td>1488.96</td><td>1544.45</td><td>1599.23</td><td>1655.28</td><td>1837.13</td><td>1959.55</td><td>2246.79</td></tr>
<tr><td>Other Expenses</td><td>6180.49</td><td>7198.55</td><td>13023.68</td><td>14210.57</td><td>18039.46</td><td>19123.92</td><td>18454.93</td><td>9239.16</td><td>7117.93</td><td>10391.88</td></tr>
<tr><td>Other Income</td><td>4319</td><td>4278.08</td><td>3671.61</td><td>6819.45</td><td>5845.89</td><td>4862.24</td><td>6687.06</td><td>6778.33</td><td>8091.73</td><td>7168.42</td></tr>
<tr><td>Depreciation</td><td>233.9</td><td>291.08</td><td>289.96</td><td>-7.23</td><td>521.68</td><td>372.84</td><td>391.96</td><td>380.09</td><td>371.68</td><td>426.51</td></tr>
<tr><td>Interest</td><td>27169.77</td><td>32220.05</td><td>30245.32</td><td>27605.75</td><td>27678.83</td><td>27207.12</td><td>27191.46</td><td>26420.95</td><td>24083.43</td><td>27440.64</td></tr>
<tr><td>Profit before tax</td><td>3567.14</td><td>1851.75</td><td>-4612.34</td><td>-2412.16</td><td>-8659.88</td><td>-8587.09</td><td>-4691.66</td><td>3159.6</td><td>5654.84</td><td>6055.96</td></tr>
<tr><td>Tax</td><td>834.49</td><td>103.42</td><td>1722.63</td><td>-818.41</td><td>-2587</td><td>-3161</td><td>-1640.42</td><td>1079.03</td><td>2167.53</td><td>2216.62</td></tr>
<tr><td>Net profit</td><td>2986.78</td><td>2012.91</td><td>-6204.26</td><td>-1470.09</td><td>-5961.31</td><td>-5426.57</td><td>-3051.04</td><td>2082.75</td><td>3492.57</td><td>3837.96</td></tr>
<tr><td>Dividend Amount</td><td>321.5</td><td>332.82</td><td></td><td></td><td></td><td></td><td></td><td></td><td>820.86</td><td>820.86</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9580.23</td><td>9423.22</td><td>9903.14</td><td>10042.88</td><td>11545.36</td><td>12795.54</td><td>13547.92</td><td>14442.14</td><td>15062</td><td>15318.75</td></tr>
<tr><td>Expenses</td><td>3938.7</td><td>3557.47</td><td>4700.71</td><td>4408.83</td><td>5313.09</td><td>5291.39</td><td>6590.21</td><td>4579.26</td><td>4546.26</td><td>4189.79</td></tr>
<tr><td>Other Income</td><td>2177.71</td><td>1847.38</td><td>1650.17</td><td>1164.69</td><td>1455.96</td><td>1422.49</td><td>3168.03</td><td>1483.9</td><td>1717.41</td><td>1202.08</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>6012.59</td><td>5987.32</td><td>5887.87</td><td>5915.17</td><td>6433.45</td><td>7144.45</td><td>7947.56</td><td>8466.96</td><td>9255.71</td><td>9792.22</td></tr>
<tr><td>Profit before tax</td><td>1806.65</td><td>1725.81</td><td>964.73</td><td>883.57</td><td>1254.78</td><td>1782.19</td><td>2178.18</td><td>2879.82</td><td>2977.44</td><td>2538.82</td></tr>
<tr><td>Tax</td><td>734.57</td><td>734.16</td><td>320.62</td><td>300.68</td><td>502.6</td><td>623.35</td><td>789.99</td><td>1378.6</td><td>1488.62</td><td>643.34</td></tr>
<tr><td>Net profit</td><td>1073.03</td><td>996.04</td><td>688.14</td><td>657.62</td><td>854.1</td><td>914.72</td><td>1411.53</td><td>1561.55</td><td>1498.55</td><td>1930.48</td></tr>
<tr><td>Operating Profit</td><td>5641.53</td><td>5865.75</td><td>5202.43</td><td>5634.05</td><td>6232.27</td><td>7504.15</td><td>6957.71</td><td>9862.88</td><td>10515.74</td><td>11128.96</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>643</td><td>665.65</td><td>817.29</td><td>1055.43</td><td>1743.72</td><td>2760.03</td><td>3277.66</td><td>3277.66</td><td>4104.31</td><td>4104.31</td></tr>
<tr><td>Reserves</td><td>30130.72</td><td>31857.2</td><td>32528.37</td><td>32573.83</td><td>35012.76</td><td>44891.92</td><td>41795.49</td><td>46702.57</td><td>52417.55</td><td>56328.64</td></tr>
<tr><td>Borrowings</td><td>527122.59</td><td>574580.99</td><td>566825.75</td><td>581843.53</td><td>566595.16</td><td>566820.15</td><td>597138.9</td><td>661562.47</td><td>656801.87</td><td>737209.35</td></tr>
<tr><td>Other Liabilities</td><td>20126.08</td><td>18046.43</td><td>16456.92</td><td>16553.07</td><td>11832.52</td><td>16408.93</td><td>20805.1</td><td>21243.54</td><td>29807.13</td><td>28393.45</td></tr>
<tr><td>Total</td><td>578022.39</td><td>625150.27</td><td>616628.33</td><td>632025.86</td><td>615184.16</td><td>630881.03</td><td>663017.15</td><td>732786.24</td><td>743130.86</td><td>826035.75</td></tr>
<tr><td>Net Block</td><td>5677.54</td><td>5801.84</td><td>8381.74</td><td>8349.12</td><td>8191.65</td><td>8799.08</td><td>8765.29</td><td>8637.09</td><td>9570.11</td><td>9950.13</td></tr>
<tr><td>Capital Work in Progress</td><td>142.64</td><td>112.65</td><td>191.11</td><td>196.66</td><td>158.21</td><td>200</td><td>292.69</td><td>364.31</td><td>286.01</td><td>110.43</td></tr>
<tr><td>Investments</td><td>116489.74</td><td>123195.53</td><td>122620.91</td><td>130751.26</td><td>140321.07</td><td>150905.02</td><td>162322.91</td><td>191693.01</td><td>180273.95</td><td>211323.55</td></tr>
<tr><td>Other Assets</td><td>455712.47</td><td>496040.25</td><td>485434.57</td><td>492728.82</td><td>466513.23</td><td>470976.93</td><td>491636.26</td><td>532091.83</td><td>553000.79</td><td>604651.64</td></tr>
<tr><td>Total</td><td>578022.39</td><td>625150.27</td><td>616628.33</td><td>632025.86</td><td>615184.16</td><td>630881.03</td><td>663017.15</td><td>732786.24</td><td>743130.86</td><td>826035.75</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>61760.31</td><td>76938.92</td><td>99504.72</td><td>96464.71</td><td>96024.23</td><td>94860</td><td>86609.06</td><td>126693.63</td><td>91708.89</td><td>84683.28</td></tr>
<tr><td>No. of Equity Shares</td><td>644179213</td><td>666824715</td><td>817291564</td><td>1055434204</td><td>1743717496</td><td>2760028522</td><td>3277662450</td><td>3277662450</td><td>4104305170</td><td>4104305170</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>6451.62</td><td>14638.2</td><td>18310.79</td><td>-6624.08</td><td>-7366</td><td>-9218.1</td><td>-4827.08</td><td>37868</td><td>-35486.91</td><td>-7045.04</td></tr>
<tr><td>Cash from Investing Activity</td><td>-813.88</td><td>-754.66</td><td>-608.69</td><td>-371.06</td><td>-259.89</td><td>71.07</td><td>-231.8</td><td>-181.6</td><td>-643.95</td><td>-521.34</td></tr>
<tr><td>Cash from Financing Activity</td><td>745.44</td><td>1295.07</td><td>4863.7</td><td>3955.12</td><td>7185.41</td><td>7982.8</td><td>-3192.06</td><td>2398.16</td><td>1146.13</td><td>540.77</td></tr>
<tr><td>Net Cash Flow</td><td>6383.18</td><td>15178.61</td><td>22565.8</td><td>-3040.01</td><td>-440.48</td><td>-1164.24</td><td>-8250.94</td><td>40084.57</td><td>-34984.73</td><td>-7025.61</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>228.5</td><td>195.85</td><td>97.05</td><td>139.25</td><td>103.55</td><td>104.25</td><td>32.25</td><td>67.85</td><td>45.85</td><td>74.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>64.23</td><td>66.49</td><td>81.66</td><td>105.47</td><td>174.3</td><td>275.93</td><td>327.69</td><td>327.69</td><td>410.36</td><td>410.36</td></tr>
</table>
</body>
</html>