<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Bank of Baroda</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BANK OF BARODA</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>262.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>135722.42</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>40462.89</td><td>44914.97</td><td>45798.99</td><td>44473.45</td><td>46056.42</td><td>52906.25</td><td>78894.7</td><td>74313.98</td><td>73385.46</td><td>94138.61</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>382.13</td><td>481.41</td><td>550.74</td><td>625.22</td><td>755.55</td><td>938.31</td><td>1147.53</td><td>1125.9</td><td>1012.32</td><td>1051.56</td></tr>
<tr><td>Employee Cost</td><td>4337.35</td><td>4479.56</td><td>5203.7</td><td>4891.78</td><td>4905.26</td><td>5438.54</td><td>10079.02</td><td>11997.66</td><td>12649.45</td><td>14350.28</td></tr>
<tr><td>Selling and admin</td><td>1456.84</td><td>1629.29</td><td>1859.31</td><td>2012.28</td><td>2230.12</td><td>2395.21</td><td>3535.38</td><td>3725.66</td><td>3841.98</td><td>4462.56</td></tr>
<tr><td>Other Expenses</td><td>5872.79</td><td>6875.88</td><td>17777.54</td><td>11720.9</td><td>18202.21</td><td>17042.69</td><td>25820.89</td><td>21786.76</td><td>20014.43</td><td>18375.01</td></tr>
<tr><td>Other Income</td><td>5555.15</td><td>5449.27</td><td>5992.18</td><td>7936.78</td><td>7992.21</td><td>7887.05</td><td>12191.33</td><td>15253.65</td><td>14394.73</td><td>16639.37</td></tr>
<tr><td>Depreciation</td><td>368.11</td><td>368.26</td><td>525.11</td><td>539.97</td><td>900.69</td><td>948.25</td><td>1697.23</td><td>1357.31</td><td>1438.24</td><td>2031.86</td></tr>
<tr><td>Interest</td><td>27604.43</td><td>30546.61</td><td>32107.44</td><td>29595.73</td><td>29160.48</td><td>32505.72</td><td>50039.89</td><td>43201.18</td><td>38815.47</td><td>49942.17</td></tr>
<tr><td>Profit before tax</td><td>5996.39</td><td>5983.23</td><td>-6232.67</td><td>3024.35</td><td>-2105.68</td><td>1524.58</td><td>-1233.91</td><td>6373.16</td><td>10008.3</td><td>20564.54</td></tr>
<tr><td>Tax</td><td>1065.15</td><td>2150.54</td><td>-1179.58</td><td>1246.93</td><td>-193.62</td><td>437.51</td><td>-2176.09</td><td>4919.27</td><td>2308.07</td><td>5876.67</td></tr>
<tr><td>Net profit</td><td>5000.73</td><td>3911.73</td><td>-5067.68</td><td>1814.98</td><td>-1887.11</td><td>1100.1</td><td>927.75</td><td>1547.67</td><td>7849.69</td><td>14905.2</td></tr>
<tr><td>Dividend Amount</td><td>925.96</td><td>709.7</td><td></td><td>277.25</td><td></td><td></td><td></td><td></td><td>1475.63</td><td>2847.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>17540.89</td><td>18721.62</td><td>19097.17</td><td>20048.3</td><td>22424.47</td><td>24833.55</td><td>27196.3</td><td>28002.54</td><td>29262.76</td><td>30041.75</td></tr>
<tr><td>Expenses</td><td>9398.23</td><td>8980.58</td><td>10504.7</td><td>8209.62</td><td>10408.1</td><td>11011.84</td><td>10641.71</td><td>11040.32</td><td>12215.54</td><td>10555.7</td></tr>
<tr><td>Other Income</td><td>4457.87</td><td>3351.37</td><td>3373.29</td><td>1528.46</td><td>3896.02</td><td>5519.12</td><td>5331.76</td><td>5315.59</td><td>6503.24</td><td>5042.23</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>9505.39</td><td>9800.12</td><td>9955.71</td><td>10495.65</td><td>11494.57</td><td>13161.49</td><td>14790.46</td><td>16060.32</td><td>17527.69</td><td>18002.05</td></tr>
<tr><td>Profit before tax</td><td>3095.14</td><td>3292.29</td><td>2010.05</td><td>2871.49</td><td>4417.82</td><td>6179.34</td><td>7095.89</td><td>6217.49</td><td>6022.77</td><td>6526.23</td></tr>
<tr><td>Tax</td><td>900.09</td><td>844.45</td><td>121.91</td><td>732.1</td><td>1145.58</td><td>2013.23</td><td>1985.76</td><td>1915.23</td><td>1679.67</td><td>1777.91</td></tr>
<tr><td>Net profit</td><td>2167.85</td><td>2463.75</td><td>2031.55</td><td>1943.9</td><td>3400.47</td><td>4305.66</td><td>5255.17</td><td>4452.1</td><td>4394.31</td><td>4788.52</td></tr>
<tr><td>Operating Profit</td><td>8142.66</td><td>9741.04</td><td>8592.47</td><td>11838.68</td><td>12016.37</td><td>13821.71</td><td>16554.59</td><td>16962.22</td><td>17047.22</td><td>19486.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>430.68</td><td>443.56</td><td>462.09</td><td>462.09</td><td>530.36</td><td>530.36</td><td>925.37</td><td>1035.53</td><td>1035.53</td><td>1035.53</td></tr>
<tr><td>Reserves</td><td>37416.15</td><td>41574.09</td><td>42041.07</td><td>42605.48</td><td>46035.87</td><td>54465.76</td><td>75178.92</td><td>81354.05</td><td>90832.55</td><td>104019.18</td></tr>
<tr><td>Borrowings</td><td>616973.36</td><td>665482.77</td><td>620535.7</td><td>648498.87</td><td>672311.18</td><td>734456.22</td><td>1068980.85</td><td>1067173.15</td><td>1185330.55</td><td>1342592.16</td></tr>
<tr><td>Other Liabilities</td><td>21283.64</td><td>26465.13</td><td>28134.12</td><td>27649.38</td><td>28918.54</td><td>30217.16</td><td>54850.23</td><td>53104.49</td><td>62922.37</td><td>78223.97</td></tr>
<tr><td>Total</td><td>676103.83</td><td>733965.55</td><td>691172.98</td><td>719215.82</td><td>747795.95</td><td>819669.5</td><td>1199935.37</td><td>1202667.22</td><td>1340121</td><td>1525870.84</td></tr>
<tr><td>Net Block</td><td>2849.3</td><td>2978.41</td><td>6359.17</td><td>5929.68</td><td>5532.28</td><td>7367.62</td><td>9267.69</td><td>8438.49</td><td>11098.28</td><td>9864.7</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2.36</td><td>0.56</td><td>2.87</td></tr>
<tr><td>Investments</td><td>122112.86</td><td>124738.96</td><td>128894.06</td><td>140716.43</td><td>175137.23</td><td>195716.24</td><td>289726.72</td><td>281859</td><td>347587.1</td><td>397487.23</td></tr>
<tr><td>Other Assets</td><td>551141.67</td><td>606248.18</td><td>555919.75</td><td>572569.71</td><td>567126.44</td><td>616585.64</td><td>900940.96</td><td>912367.37</td><td>981435.06</td><td>1118516.04</td></tr>
<tr><td>Total</td><td>676103.83</td><td>733965.55</td><td>691172.98</td><td>719215.82</td><td>747795.95</td><td>819669.5</td><td>1199935.37</td><td>1202667.22</td><td>1340121</td><td>1525870.84</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>134355.67</td><td>151631.19</td><td>136999.05</td><td>154115</td><td>97422.75</td><td>97884.84</td><td>131005.07</td><td>128661.12</td><td>130228.6</td><td>102373.39</td></tr>
<tr><td>No. of Equity Shares</td><td>432148587</td><td>2217801906</td><td>2310465598</td><td>2317827098</td><td>2659183632</td><td>2659183632</td><td>4634234086</td><td>5185029679</td><td>5185029679</td><td>5185029679</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>42232.62</td><td>17838.31</td><td>-10011.31</td><td>17864.83</td><td>-59691.7</td><td>-1449.07</td><td>18530.57</td><td>-887.05</td><td>6210.35</td><td>-21270.55</td></tr>
<tr><td>Cash from Investing Activity</td><td>-730.36</td><td>-556.34</td><td>-4005.1</td><td>-550.62</td><td>-413.63</td><td>-2537.37</td><td>-139.01</td><td>-471.39</td><td>-3645.07</td><td>-1096.26</td></tr>
<tr><td>Cash from Financing Activity</td><td>5151.34</td><td>-6.45</td><td>-615.73</td><td>-198.26</td><td>3413.08</td><td>4448.53</td><td>14728.67</td><td>-985.5</td><td>-997.81</td><td>-5488.4</td></tr>
<tr><td>Net Cash Flow</td><td>46653.6</td><td>17275.52</td><td>-14632.14</td><td>17115.95</td><td>-56692.25</td><td>462.09</td><td>33120.23</td><td>-2343.94</td><td>1567.47</td><td>-27855.21</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>144.15</td><td>163.5</td><td>147</td><td>172.95</td><td>142.3</td><td>128.65</td><td>53.55</td><td>74.1</td><td>111.6</td><td>168.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>214.71</td><td>221.15</td><td>230.42</td><td>230.42</td><td>264.55</td><td>264.55</td><td>462.06</td><td>517.14</td><td>517.14</td><td>517.14</td></tr>
</table>
</body>
</html>