<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Blue Star</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BLUE STAR LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1387.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>28546.96</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3181.94</td><td>3797.96</td><td>4385.24</td><td>4638.95</td><td>5234.84</td><td>5360.19</td><td>4263.59</td><td>6064.08</td><td>7977.32</td><td>9685.36</td></tr>
<tr><td>Raw Material Cost</td><td>2238.38</td><td>1938.42</td><td>2266.2</td><td>2672.98</td><td>2489.42</td><td>2745.78</td><td>2223.72</td><td>3395.75</td><td>4418.38</td><td>7308.28</td></tr>
<tr><td>Change in Inventory</td><td>24.05</td><td>64.88</td><td>16.94</td><td>224.26</td><td>-170.44</td><td>7.95</td><td>-30.81</td><td>50.94</td><td>185.33</td><td>-83.69</td></tr>
<tr><td>Power and Fuel</td><td>14.89</td><td>17.02</td><td>16.64</td><td>17.23</td><td>17.22</td><td>17.59</td><td>13.85</td><td>17.54</td><td>27.5</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>196.35</td><td>931.64</td><td>1108.08</td><td>1046.71</td><td>1307.91</td><td>1318.35</td><td>1047.82</td><td>1429.28</td><td>2012.86</td><td></td></tr>
<tr><td>Employee Cost</td><td>273.76</td><td>417.86</td><td>339.63</td><td>397.72</td><td>421.49</td><td>484.51</td><td>381.81</td><td>508.55</td><td>591.44</td><td>749.48</td></tr>
<tr><td>Selling and admin</td><td>242.2</td><td>326.68</td><td>405.23</td><td>397.86</td><td>417.34</td><td>429.04</td><td>267.17</td><td>349.18</td><td>492.94</td><td></td></tr>
<tr><td>Other Expenses</td><td>72.33</td><td>64.45</td><td>43.28</td><td>64.21</td><td>62.87</td><td>89.9</td><td>58.6</td><td>67.6</td><td>119.8</td><td>878.97</td></tr>
<tr><td>Other Income</td><td>-33.75</td><td>65.94</td><td>33.87</td><td>21.62</td><td>25.76</td><td>40.48</td><td>64.95</td><td>36.16</td><td>195.13</td><td>47.91</td></tr>
<tr><td>Depreciation</td><td>43.15</td><td>57.09</td><td>60.58</td><td>63.81</td><td>74.9</td><td>87.99</td><td>92.29</td><td>85.98</td><td>84.78</td><td>97.61</td></tr>
<tr><td>Interest</td><td>48.53</td><td>43.15</td><td>37.78</td><td>28.74</td><td>47.87</td><td>29.47</td><td>64.72</td><td>46.4</td><td>54.7</td><td>58.08</td></tr>
<tr><td>Profit before tax</td><td>42.65</td><td>132.47</td><td>158.63</td><td>195.57</td><td>251.14</td><td>205.99</td><td>147.75</td><td>250.9</td><td>555.38</td><td>557.16</td></tr>
<tr><td>Tax</td><td>-7.89</td><td>27.7</td><td>36.67</td><td>49.42</td><td>41.99</td><td>65.32</td><td>47.09</td><td>82.9</td><td>154.69</td><td>142.85</td></tr>
<tr><td>Net profit</td><td>54.18</td><td>104.78</td><td>123.05</td><td>143.96</td><td>190.06</td><td>143.25</td><td>100.35</td><td>167.71</td><td>400.46</td><td>414.95</td></tr>
<tr><td>Dividend Amount</td><td>44.98</td><td>58.47</td><td>71.66</td><td>96</td><td>96.3</td><td>96.3</td><td>38.52</td><td>96.3</td><td>115.56</td><td>143.92</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1506.22</td><td>2254.21</td><td>1977.03</td><td>1582.29</td><td>1794.17</td><td>2623.83</td><td>2226</td><td>1890.4</td><td>2241.19</td><td>3327.77</td></tr>
<tr><td>Expenses</td><td>1415.63</td><td>2111.26</td><td>1854.19</td><td>1496.75</td><td>1689.81</td><td>2444.66</td><td>2081</td><td>1767.71</td><td>2085.84</td><td>3085.87</td></tr>
<tr><td>Other Income</td><td>13.74</td><td>6.94</td><td>10.51</td><td>8.55</td><td>5.16</td><td>178.73</td><td>9.4</td><td>13</td><td>12.77</td><td>12.74</td></tr>
<tr><td>Depreciation</td><td>22.45</td><td>23.05</td><td>22.04</td><td>24.47</td><td>15.55</td><td>22.72</td><td>22.79</td><td>23.01</td><td>23.49</td><td>28.32</td></tr>
<tr><td>Interest</td><td>11.56</td><td>12.93</td><td>10.62</td><td>12.09</td><td>13.92</td><td>18.07</td><td>18</td><td>17.65</td><td>10.24</td><td>12.19</td></tr>
<tr><td>Profit before tax</td><td>70.32</td><td>113.91</td><td>100.69</td><td>57.53</td><td>80.05</td><td>317.11</td><td>113.61</td><td>95.03</td><td>134.39</td><td>214.13</td></tr>
<tr><td>Tax</td><td>22.75</td><td>37.64</td><td>26.34</td><td>14.89</td><td>21.64</td><td>91.82</td><td>30.24</td><td>24.26</td><td>33.93</td><td>54.42</td></tr>
<tr><td>Net profit</td><td>47.5</td><td>76.16</td><td>74.25</td><td>42.55</td><td>58.41</td><td>225.25</td><td>83.35</td><td>70.67</td><td>100.39</td><td>160.54</td></tr>
<tr><td>Operating Profit</td><td>90.59</td><td>142.95</td><td>122.84</td><td>85.54</td><td>104.36</td><td>179.17</td><td>145</td><td>122.69</td><td>155.35</td><td>241.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>17.99</td><td>17.99</td><td>19.11</td><td>19.2</td><td>19.26</td><td>19.26</td><td>19.26</td><td>19.26</td><td>19.26</td><td>41.12</td></tr>
<tr><td>Reserves</td><td>437.58</td><td>612.43</td><td>738.02</td><td>773.53</td><td>853.8</td><td>763.11</td><td>865.92</td><td>998.32</td><td>1311.39</td><td>2568.96</td></tr>
<tr><td>Borrowings</td><td>397.73</td><td>364.73</td><td>221.12</td><td>375.62</td><td>347.56</td><td>520.16</td><td>510.13</td><td>553.7</td><td>661.95</td><td>242.93</td></tr>
<tr><td>Other Liabilities</td><td>1321.67</td><td>1529.56</td><td>1671.93</td><td>2067.87</td><td>2130.34</td><td>2136.73</td><td>2154.14</td><td>2741.36</td><td>3406.46</td><td>3765.24</td></tr>
<tr><td>Total</td><td>2174.97</td><td>2524.71</td><td>2650.18</td><td>3236.22</td><td>3350.96</td><td>3439.26</td><td>3549.45</td><td>4312.64</td><td>5399.06</td><td>6618.25</td></tr>
<tr><td>Net Block</td><td>256.59</td><td>259.45</td><td>356.11</td><td>392</td><td>400.2</td><td>443.79</td><td>383.56</td><td>432.8</td><td>858.89</td><td>1183.54</td></tr>
<tr><td>Capital Work in Progress</td><td>22.43</td><td>16.35</td><td>33.6</td><td>25.35</td><td>41.22</td><td>67.36</td><td>71.53</td><td>152.29</td><td>83.32</td><td>108.06</td></tr>
<tr><td>Investments</td><td>36.35</td><td>241.57</td><td>10.97</td><td>13.24</td><td>14.63</td><td>16.87</td><td>294.97</td><td>162.34</td><td>148.1</td><td>266.8</td></tr>
<tr><td>Other Assets</td><td>1859.6</td><td>2007.34</td><td>2249.5</td><td>2805.63</td><td>2894.91</td><td>2911.24</td><td>2799.39</td><td>3565.21</td><td>4308.75</td><td>5059.85</td></tr>
<tr><td>Total</td><td>2174.97</td><td>2524.71</td><td>2650.18</td><td>3236.22</td><td>3350.96</td><td>3439.26</td><td>3549.45</td><td>4312.64</td><td>5399.06</td><td>6618.25</td></tr>
<tr><td>Receivables</td><td>717.84</td><td>790.72</td><td>938.98</td><td>950.42</td><td>1112.05</td><td>837.67</td><td>810.98</td><td>1189.74</td><td>1548.82</td><td>1952.56</td></tr>
<tr><td>Inventory</td><td>478.54</td><td>534.76</td><td>595.58</td><td>1017.08</td><td>869.32</td><td>869.82</td><td>882.42</td><td>1144.24</td><td>1433.39</td><td>1407.18</td></tr>
<tr><td>Cash & Bank</td><td>44.32</td><td>45.5</td><td>96.57</td><td>80.88</td><td>100.94</td><td>293.94</td><td>332.16</td><td>269.66</td><td>247.27</td><td>377.37</td></tr>
<tr><td>No. of Equity Shares</td><td>89936105</td><td>89951105</td><td>95570388</td><td>95999788</td><td>96313888</td><td>96313888</td><td>96313888</td><td>96313888</td><td>96313888</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>214.93</td><td>256.74</td><td>158.52</td><td>18.87</td><td>258.41</td><td>449.95</td><td>349.81</td><td>87.4</td><td>247.38</td><td>289.22</td></tr>
<tr><td>Cash from Investing Activity</td><td>-48.72</td><td>-48.5</td><td>69.44</td><td>-88.32</td><td>-64.87</td><td>-80.75</td><td>-238.46</td><td>-67.31</td><td>-178.62</td><td>-524.62</td></tr>
<tr><td>Cash from Financing Activity</td><td>-190.34</td><td>-194.9</td><td>-203.05</td><td>51.39</td><td>-180.79</td><td>-166.91</td><td>-69.57</td><td>-82.37</td><td>-91.08</td><td>364.83</td></tr>
<tr><td>Net Cash Flow</td><td>-24.13</td><td>13.34</td><td>24.91</td><td>-18.06</td><td>12.75</td><td>202.29</td><td>41.78</td><td>-62.28</td><td>-22.32</td><td>129.43</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>153.85</td><td>195.15</td><td>346.2</td><td>377.73</td><td>338.95</td><td>229.73</td><td>467.1</td><td>526.03</td><td>689.58</td><td>1273.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>17.99</td><td>17.99</td><td>19.11</td><td>19.2</td><td>19.26</td><td>19.26</td><td>19.26</td><td>19.26</td><td>19.26</td><td>20.56</td></tr>
</table>
</body>
</html>