<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Britannia Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>BRITANNIA INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>5070.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>122042.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>7858.42</td><td>8397.23</td><td>9054.09</td><td>9913.99</td><td>11054.67</td><td>11599.55</td><td>13136.14</td><td>14136.26</td><td>16300.55</td><td>16769.27</td></tr>
<tr><td>Raw Material Cost</td><td>4722.21</td><td>5016.99</td><td>5642.88</td><td>6100.8</td><td>6616.64</td><td>6874.9</td><td>7663.22</td><td>8835.56</td><td>9663.83</td><td>9488.37</td></tr>
<tr><td>Change in Inventory</td><td>30.4</td><td>4.27</td><td>54.2</td><td>-6.3</td><td>55.18</td><td>-52.57</td><td>37.12</td><td>75.26</td><td>72.53</td><td>-3.66</td></tr>
<tr><td>Power and Fuel</td><td>110.96</td><td>95.16</td><td>104.28</td><td>128.83</td><td>175.17</td><td>177.7</td><td>182.29</td><td>217.68</td><td>272.2</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>555.68</td><td>510.15</td><td>509.93</td><td>487.59</td><td>621.32</td><td>610.68</td><td>672.21</td><td>752.29</td><td>893.75</td><td></td></tr>
<tr><td>Employee Cost</td><td>294.44</td><td>341.36</td><td>352.61</td><td>401.6</td><td>441.82</td><td>486.69</td><td>527.38</td><td>542.26</td><td>658.38</td><td>708.7</td></tr>
<tr><td>Selling and admin</td><td>1129.07</td><td>956.77</td><td>915.01</td><td>953.48</td><td>1107.49</td><td>1125.23</td><td>1163.82</td><td>1187.32</td><td>1473.86</td><td></td></tr>
<tr><td>Other Expenses</td><td>206.14</td><td>257.5</td><td>305.4</td><td>333.92</td><td>414.96</td><td>428.6</td><td>455.05</td><td>475.1</td><td>580.15</td><td>3401.89</td></tr>
<tr><td>Other Income</td><td>227.61</td><td>115.17</td><td>150.54</td><td>166.37</td><td>206.45</td><td>262.83</td><td>313.07</td><td>221.85</td><td>596.87</td><td>211.28</td></tr>
<tr><td>Depreciation</td><td>144.48</td><td>113.41</td><td>119.27</td><td>142.07</td><td>161.88</td><td>184.81</td><td>197.85</td><td>200.54</td><td>225.91</td><td>300.46</td></tr>
<tr><td>Interest</td><td>3.86</td><td>4.87</td><td>5.45</td><td>7.59</td><td>9.09</td><td>76.9</td><td>110.9</td><td>144.29</td><td>169.1</td><td>164</td></tr>
<tr><td>Profit before tax</td><td>949.59</td><td>1220.46</td><td>1304</td><td>1518.18</td><td>1767.93</td><td>1844.3</td><td>2513.61</td><td>2078.33</td><td>3032.77</td><td>2913.47</td></tr>
<tr><td>Tax</td><td>261.11</td><td>396.1</td><td>419.67</td><td>514.22</td><td>612.47</td><td>450.7</td><td>663.02</td><td>562.35</td><td>716.45</td><td>779.25</td></tr>
<tr><td>Net profit</td><td>688.64</td><td>824.58</td><td>884.47</td><td>1004.23</td><td>1159.12</td><td>1402.63</td><td>1863.9</td><td>1524.82</td><td>2321.77</td><td>2139.81</td></tr>
<tr><td>Dividend Amount</td><td>191.92</td><td>240</td><td>264</td><td>300.12</td><td>360.45</td><td>841.75</td><td>3794.18</td><td>1361.08</td><td>1734.48</td><td>1770.62</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3574.98</td><td>3550.45</td><td>3700.96</td><td>4379.61</td><td>4196.8</td><td>4023.18</td><td>4010.7</td><td>4432.88</td><td>4256.33</td><td>4069.36</td></tr>
<tr><td>Expenses</td><td>3035.97</td><td>3000.77</td><td>3200.37</td><td>3667.91</td><td>3379.22</td><td>3222.29</td><td>3321.82</td><td>3561.5</td><td>3436.58</td><td>3285.71</td></tr>
<tr><td>Other Income</td><td>54.15</td><td>53.91</td><td>55.5</td><td>53.3</td><td>427.82</td><td>60.4</td><td>56.92</td><td>52.35</td><td>47.66</td><td>57.34</td></tr>
<tr><td>Depreciation</td><td>50.38</td><td>50.93</td><td>50.96</td><td>51.66</td><td>57.96</td><td>65.33</td><td>70.76</td><td>71.68</td><td>78.09</td><td>79.93</td></tr>
<tr><td>Interest</td><td>37.38</td><td>33.75</td><td>41.97</td><td>54.14</td><td>38.13</td><td>34.86</td><td>53.05</td><td>53.42</td><td>31.09</td><td>26.44</td></tr>
<tr><td>Profit before tax</td><td>505.4</td><td>518.91</td><td>463.16</td><td>659.2</td><td>1149.31</td><td>761.1</td><td>621.99</td><td>798.63</td><td>758.23</td><td>734.62</td></tr>
<tr><td>Tax</td><td>136.22</td><td>140.96</td><td>127.42</td><td>168.62</td><td>216.91</td><td>203.5</td><td>166.54</td><td>212.13</td><td>202.57</td><td>198.01</td></tr>
<tr><td>Net profit</td><td>371.18</td><td>379.87</td><td>337.44</td><td>493.28</td><td>932.39</td><td>558.66</td><td>457.55</td><td>587.59</td><td>556.39</td><td>538.28</td></tr>
<tr><td>Operating Profit</td><td>539.01</td><td>549.68</td><td>500.59</td><td>711.7</td><td>817.58</td><td>800.89</td><td>688.88</td><td>871.38</td><td>819.75</td><td>783.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>23.99</td><td>24</td><td>24</td><td>24.01</td><td>24.03</td><td>24.05</td><td>24.09</td><td>24.09</td><td>24.09</td><td>24.09</td></tr>
<tr><td>Reserves</td><td>1221.12</td><td>2067.68</td><td>2672.42</td><td>3382.22</td><td>4229.22</td><td>4378.78</td><td>3523.57</td><td>2534.01</td><td>3510.18</td><td>3917.43</td></tr>
<tr><td>Borrowings</td><td>145.07</td><td>131.05</td><td>124.56</td><td>200.7</td><td>156.02</td><td>1537.59</td><td>2121.51</td><td>2481.2</td><td>2997.37</td><td>2064.96</td></tr>
<tr><td>Other Liabilities</td><td>1403.17</td><td>1271.18</td><td>1287.82</td><td>1580.99</td><td>1828.68</td><td>1889.12</td><td>2330.92</td><td>2487.3</td><td>2819.21</td><td>3067.08</td></tr>
<tr><td>Total</td><td>2793.35</td><td>3493.91</td><td>4108.8</td><td>5187.92</td><td>6237.95</td><td>7829.54</td><td>8000.09</td><td>7526.6</td><td>9350.85</td><td>9073.56</td></tr>
<tr><td>Net Block</td><td>844.07</td><td>950.24</td><td>1159.99</td><td>1345.6</td><td>1688.3</td><td>1878.18</td><td>1792.95</td><td>1753.21</td><td>2655.22</td><td>2771.14</td></tr>
<tr><td>Capital Work in Progress</td><td>48.37</td><td>90.07</td><td>30.07</td><td>202.82</td><td>101.24</td><td>39.55</td><td>116.52</td><td>535.68</td><td>105</td><td>187.54</td></tr>
<tr><td>Investments</td><td>517.94</td><td>788.38</td><td>486.85</td><td>1079.28</td><td>1476.28</td><td>2893.23</td><td>2780.91</td><td>1762.37</td><td>3324.24</td><td>2766.72</td></tr>
<tr><td>Other Assets</td><td>1382.97</td><td>1665.22</td><td>2431.89</td><td>2560.22</td><td>2972.13</td><td>3018.58</td><td>3309.71</td><td>3475.34</td><td>3266.39</td><td>3348.16</td></tr>
<tr><td>Total</td><td>2793.35</td><td>3493.91</td><td>4108.8</td><td>5187.92</td><td>6237.95</td><td>7829.54</td><td>8000.09</td><td>7526.6</td><td>9350.85</td><td>9073.56</td></tr>
<tr><td>Receivables</td><td>135.81</td><td>170.61</td><td>179.16</td><td>304.6</td><td>394.24</td><td>320.36</td><td>257.27</td><td>331.93</td><td>328.94</td><td>393.33</td></tr>
<tr><td>Inventory</td><td>404.04</td><td>440.65</td><td>661.45</td><td>652.79</td><td>781.38</td><td>740.96</td><td>1091.49</td><td>1367.49</td><td>1193.26</td><td>1181.22</td></tr>
<tr><td>Cash & Bank</td><td>226.33</td><td>87.65</td><td>120.76</td><td>186.42</td><td>109.82</td><td>122.85</td><td>211.34</td><td>184.9</td><td>197.98</td><td>446.35</td></tr>
<tr><td>No. of Equity Shares</td><td>119925800</td><td>119975815</td><td>120000815</td><td>120059148</td><td>240318294</td><td>240468296</td><td>240868296</td><td>240868296</td><td>240868296</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>584.46</td><td>959.23</td><td>441.28</td><td>1248.77</td><td>1155.78</td><td>1484.53</td><td>1875.52</td><td>1299.52</td><td>2526.21</td><td>2572.98</td></tr>
<tr><td>Cash from Investing Activity</td><td>-450.3</td><td>-705.2</td><td>-149.85</td><td>-956.52</td><td>-852.22</td><td>-1525.93</td><td>433.17</td><td>914.19</td><td>-1507</td><td>475.5</td></tr>
<tr><td>Cash from Financing Activity</td><td>-181.37</td><td>-246.18</td><td>-295.08</td><td>-231.75</td><td>-352.68</td><td>57.94</td><td>-2242.5</td><td>-2245.84</td><td>-1028.37</td><td>-2830.48</td></tr>
<tr><td>Net Cash Flow</td><td>-47.21</td><td>7.85</td><td>-3.65</td><td>60.5</td><td>-49.12</td><td>16.54</td><td>66.19</td><td>-32.13</td><td>-9.16</td><td>218</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>1079.28</td><td>1343.25</td><td>1687</td><td>2485.3</td><td>3085.5</td><td>2688.95</td><td>3625.05</td><td>3206.4</td><td>4322.15</td><td>4911.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>23.99</td><td>24</td><td>24</td><td>24.01</td><td>24.03</td><td>24.05</td><td>24.09</td><td>24.09</td><td>24.09</td><td>24.09</td></tr>
</table>
</body>
</html>