<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\C</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>C.E. INFO SYSTEMS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1804.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9722.53</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>149.33</td><td>134.88</td><td>148.63</td><td>152.38</td><td>198.16</td><td>253.85</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>21.58</td><td>18.27</td><td>14.49</td><td>15.54</td><td>18.95</td><td>36.95</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>1.32</td><td>-1.57</td><td>-0.07</td><td>-0.84</td><td>0.45</td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>1.35</td><td>1.42</td><td>1.59</td><td>1.29</td><td>1.48</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>4.56</td><td>2.76</td><td>2.82</td><td>1.78</td><td>2.14</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>45.2</td><td>49.45</td><td>63.55</td><td>52.53</td><td>56.28</td><td>53.46</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>24.25</td><td>24.05</td><td>26.06</td><td>22.78</td><td>27.78</td><td>15.17</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>6.14</td><td>16.21</td><td>9.58</td><td>6.38</td><td>5.67</td><td>32.54</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>11.36</td><td>28.23</td><td>14.92</td><td>39.75</td><td>38.98</td><td>35.38</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>5.73</td><td>5.17</td><td>8.93</td><td>9.21</td><td>7.96</td><td>6.16</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>0.17</td><td>0.27</td><td>2.84</td><td>2.53</td><td>2.13</td><td>1.8</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>53.03</td><td>43.94</td><td>33.62</td><td>79.25</td><td>115.2</td><td>143.15</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>17.62</td><td>8.63</td><td>8.28</td><td>19.07</td><td>29.66</td><td>34.4</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>35.41</td><td>35.31</td><td>25.34</td><td>60.18</td><td>85.55</td><td>108.75</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10.65</td><td>16.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>56.42</td><td>43.05</td><td>55.33</td><td>61.85</td><td>67.1</td><td>59.25</td><td>65.65</td><td>75.03</td><td>79.53</td><td>76.1</td></tr>
<tr><td>Expenses</td><td>30.91</td><td>27.94</td><td>29.97</td><td>31.12</td><td>36.64</td><td>31.7</td><td>39.06</td><td>37.76</td><td>40.19</td><td>41.86</td></tr>
<tr><td>Other Income</td><td>13.51</td><td>6.27</td><td>11.29</td><td>6.17</td><td>7.34</td><td>10.85</td><td>11.42</td><td>8.37</td><td>8.11</td><td>11.56</td></tr>
<tr><td>Depreciation</td><td>1.92</td><td>1.9</td><td>2.2</td><td>1.68</td><td>1.66</td><td>1.57</td><td>1.24</td><td>1.88</td><td>2.48</td><td>2.23</td></tr>
<tr><td>Interest</td><td>0.57</td><td>0.49</td><td>0.55</td><td>0.57</td><td>0.42</td><td>0.38</td><td>0.43</td><td>0.32</td><td>0.37</td><td>0.31</td></tr>
<tr><td>Profit before tax</td><td>36.53</td><td>18.99</td><td>33.9</td><td>34.65</td><td>35.72</td><td>36.45</td><td>36.34</td><td>43.44</td><td>44.6</td><td>43.26</td></tr>
<tr><td>Tax</td><td>11.46</td><td>3.24</td><td>10.31</td><td>9.53</td><td>9.57</td><td>6.6</td><td>8.7</td><td>10.18</td><td>10.51</td><td>10.93</td></tr>
<tr><td>Net profit</td><td>25.07</td><td>15.75</td><td>23.59</td><td>25.12</td><td>26.15</td><td>29.85</td><td>27.64</td><td>33.26</td><td>34.09</td><td>32.33</td></tr>
<tr><td>Operating Profit</td><td>25.51</td><td>15.11</td><td>25.36</td><td>30.73</td><td>30.46</td><td>27.55</td><td>26.59</td><td>37.27</td><td>39.34</td><td>34.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>3.83</td><td>3.83</td><td>3.83</td><td>3.83</td><td>10.65</td><td>10.73</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>107.76</td><td>154.07</td><td>165.57</td><td>226.74</td><td>427.49</td><td>524.47</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>0.19</td><td></td><td>22.86</td><td>20.19</td><td>15.94</td><td>11.91</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>165.73</td><td>159.31</td><td>167.3</td><td>177.53</td><td>51.17</td><td>92.15</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>277.51</td><td>317.21</td><td>359.56</td><td>428.29</td><td>505.25</td><td>639.26</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>21.96</td><td>20.04</td><td>39.98</td><td>32.98</td><td>27.59</td><td>36.11</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>168.41</td><td>203.56</td><td>204.01</td><td>275.02</td><td>313.07</td><td>378.88</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>87.14</td><td>93.61</td><td>115.57</td><td>120.29</td><td>164.59</td><td>224.27</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>277.51</td><td>317.21</td><td>359.56</td><td>428.29</td><td>505.25</td><td>639.26</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>29.4</td><td>23.72</td><td>31.14</td><td>28.28</td><td>42.17</td><td>56.79</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>7.91</td><td>4.7</td><td>4.77</td><td>3.33</td><td>8.85</td><td>4.95</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>9.27</td><td>20.86</td><td>28.85</td><td>62.06</td><td>50.76</td><td>98.92</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>3832831</td><td>3832831</td><td>3832831</td><td>3832831</td><td>53242967</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>25.93</td><td>23.15</td><td>24.07</td><td>79.48</td><td>30.56</td><td>99.69</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-26.17</td><td>-19.74</td><td>-2.36</td><td>-57.06</td><td>-11.18</td><td>-57.13</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-0.26</td><td>-0.18</td><td>-17.7</td><td>-5.66</td><td>-14.1</td><td>-5.06</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-0.5</td><td>3.23</td><td>4.01</td><td>16.76</td><td>5.28</td><td>37.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1510.7</td><td>992.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>0.38</td><td>0.38</td><td>0.38</td><td>0.38</td><td>5.32</td><td>5.37</td></tr>
</table>
</body>
</html>