<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Camlin Fine</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CAMLIN FINE SCIENCES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>98.6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>1651.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>508.67</td><td>558.28</td><td>489.34</td><td>533.93</td><td>720.6</td><td>892.17</td><td>1049.15</td><td>1187.1</td><td>1412.09</td><td>1681.56</td></tr>
<tr><td>Raw Material Cost</td><td>265.36</td><td>262.28</td><td>250.26</td><td>294.26</td><td>424.79</td><td>495.45</td><td>553.17</td><td>566.17</td><td>772.9</td><td>916.28</td></tr>
<tr><td>Change in Inventory</td><td>-10.37</td><td>-8.21</td><td>47.16</td><td>33.75</td><td>2.35</td><td>20.65</td><td>19.39</td><td>-17.32</td><td>13.41</td><td>103.05</td></tr>
<tr><td>Power and Fuel</td><td>51.43</td><td>58</td><td>47.43</td><td>46.35</td><td>61.43</td><td>80.42</td><td>76.38</td><td>84.16</td><td>123.01</td><td>204.6</td></tr>
<tr><td>Other Mfr. Exp</td><td>23.87</td><td>32.58</td><td>34.93</td><td>31.04</td><td>34.7</td><td>49.84</td><td>54.87</td><td>60.09</td><td>125.05</td><td>157.69</td></tr>
<tr><td>Employee Cost</td><td>34.42</td><td>40.8</td><td>40.75</td><td>61.66</td><td>73.76</td><td>88.54</td><td>100.23</td><td>121.09</td><td>145.71</td><td>163.68</td></tr>
<tr><td>Selling and admin</td><td>37.81</td><td>44.15</td><td>52.09</td><td>71.19</td><td>75.45</td><td>82.13</td><td>95.62</td><td>91.47</td><td>82.28</td><td>95.52</td></tr>
<tr><td>Other Expenses</td><td>22.8</td><td>28.09</td><td>18.95</td><td>31.31</td><td>36.76</td><td>43.59</td><td>53.07</td><td>59.91</td><td>18.61</td><td>35.83</td></tr>
<tr><td>Other Income</td><td>8.7</td><td>8.73</td><td>-0.58</td><td>14.5</td><td>11.67</td><td>13.79</td><td>3.43</td><td>4.98</td><td>32.8</td><td>-3.94</td></tr>
<tr><td>Depreciation</td><td>11.79</td><td>16.25</td><td>17.06</td><td>21.8</td><td>26.65</td><td>28.99</td><td>32.8</td><td>44.29</td><td>55.96</td><td>62.51</td></tr>
<tr><td>Interest</td><td>24.66</td><td>23.82</td><td>24.44</td><td>30.58</td><td>31.8</td><td>40.95</td><td>47.63</td><td>42.48</td><td>40.8</td><td>64.18</td></tr>
<tr><td>Profit before tax</td><td>34.86</td><td>52.83</td><td>50.01</td><td>-6.01</td><td>-30.72</td><td>16.7</td><td>58.2</td><td>105.1</td><td>93.98</td><td>80.38</td></tr>
<tr><td>Tax</td><td>6.13</td><td>-2.21</td><td>14.2</td><td>-1.58</td><td>-6.76</td><td>13.69</td><td>28.37</td><td>39.74</td><td>33.6</td><td>40.57</td></tr>
<tr><td>Net profit</td><td>28.71</td><td>55.03</td><td>35.82</td><td>-11.17</td><td>-29.64</td><td>0.58</td><td>30.32</td><td>50.96</td><td>60.68</td><td>52.11</td></tr>
<tr><td>Dividend Amount</td><td>3.3</td><td>4.32</td><td>4.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>311.22</td><td>380.82</td><td>389.23</td><td>383.77</td><td>483.25</td><td>387.84</td><td>426.71</td><td>419.6</td><td>405.88</td><td>385.89</td></tr>
<tr><td>Expenses</td><td>288.65</td><td>325.65</td><td>364.9</td><td>337.15</td><td>428.04</td><td>338.08</td><td>382.89</td><td>380.89</td><td>380.74</td><td>362.56</td></tr>
<tr><td>Other Income</td><td>0.62</td><td>5.58</td><td>21.35</td><td>1.03</td><td>2.88</td><td>9.76</td><td>-7.68</td><td>6.37</td><td>1.76</td><td>1.66</td></tr>
<tr><td>Depreciation</td><td>13.37</td><td>13.24</td><td>15.94</td><td>14.37</td><td>14.02</td><td>16.18</td><td>17.93</td><td>18.78</td><td>19.2</td><td>20.58</td></tr>
<tr><td>Interest</td><td>9.06</td><td>6.82</td><td>9.76</td><td>18.73</td><td>18.45</td><td>11.55</td><td>9.78</td><td>10.22</td><td>19.78</td><td>14.14</td></tr>
<tr><td>Profit before tax</td><td>0.76</td><td>40.69</td><td>19.98</td><td>14.55</td><td>25.62</td><td>31.79</td><td>8.43</td><td>16.08</td><td>-12.08</td><td>-9.73</td></tr>
<tr><td>Tax</td><td>4.65</td><td>13.54</td><td>6.65</td><td>10.95</td><td>15.74</td><td>8.93</td><td>4.95</td><td>4.06</td><td>8.75</td><td>4.54</td></tr>
<tr><td>Net profit</td><td>-5.53</td><td>28.72</td><td>15.13</td><td>5.89</td><td>13.02</td><td>24.04</td><td>9.16</td><td>15.55</td><td>-19.38</td><td>-11.79</td></tr>
<tr><td>Operating Profit</td><td>22.57</td><td>55.17</td><td>24.33</td><td>46.62</td><td>55.21</td><td>49.76</td><td>43.82</td><td>38.71</td><td>25.14</td><td>23.33</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>9.44</td><td>9.59</td><td>9.67</td><td>10.37</td><td>12.12</td><td>12.13</td><td>12.13</td><td>12.75</td><td>15.7</td><td>15.71</td></tr>
<tr><td>Reserves</td><td>83.86</td><td>125.28</td><td>166.55</td><td>202.21</td><td>359.04</td><td>337.9</td><td>391.01</td><td>584.85</td><td>732.24</td><td>803.67</td></tr>
<tr><td>Borrowings</td><td>149.88</td><td>159.98</td><td>180.34</td><td>330.86</td><td>372.81</td><td>460.89</td><td>538.51</td><td>549.99</td><td>646.27</td><td>800.54</td></tr>
<tr><td>Other Liabilities</td><td>125.51</td><td>131.08</td><td>122.9</td><td>125.94</td><td>272.53</td><td>275.76</td><td>290.33</td><td>327.71</td><td>395.57</td><td>425.08</td></tr>
<tr><td>Total</td><td>368.69</td><td>425.93</td><td>479.46</td><td>669.38</td><td>1016.5</td><td>1086.68</td><td>1231.98</td><td>1475.3</td><td>1789.78</td><td>2045</td></tr>
<tr><td>Net Block</td><td>83.15</td><td>106.43</td><td>140.27</td><td>200.88</td><td>278.1</td><td>272.44</td><td>305.79</td><td>583.53</td><td>601.21</td><td>857.62</td></tr>
<tr><td>Capital Work in Progress</td><td>22.08</td><td>2.82</td><td>25.06</td><td>7.62</td><td>13.62</td><td>59</td><td>178.78</td><td>23.82</td><td>215.03</td><td>43.02</td></tr>
<tr><td>Investments</td><td>1.21</td><td>1.09</td><td>1.09</td><td>18.86</td><td>115.41</td><td>10.53</td><td>7.36</td><td>7.36</td><td>7.23</td><td>7.96</td></tr>
<tr><td>Other Assets</td><td>262.25</td><td>315.59</td><td>313.04</td><td>442.02</td><td>609.37</td><td>744.71</td><td>740.05</td><td>860.59</td><td>966.31</td><td>1136.4</td></tr>
<tr><td>Total</td><td>368.69</td><td>425.93</td><td>479.46</td><td>669.38</td><td>1016.5</td><td>1086.68</td><td>1231.98</td><td>1475.3</td><td>1789.78</td><td>2045</td></tr>
<tr><td>Receivables</td><td>101.32</td><td>113.42</td><td>75.48</td><td>144.89</td><td>205.35</td><td>209.32</td><td>252.8</td><td>270.71</td><td>299.68</td><td>304.59</td></tr>
<tr><td>Inventory</td><td>109.2</td><td>136.38</td><td>173.32</td><td>197.8</td><td>239.02</td><td>285.41</td><td>298.15</td><td>320</td><td>370.86</td><td>568.14</td></tr>
<tr><td>Cash & Bank</td><td>15.8</td><td>19.26</td><td>18.9</td><td>31.24</td><td>48.08</td><td>103.44</td><td>64.79</td><td>138.34</td><td>142.14</td><td>99.23</td></tr>
<tr><td>No. of Equity Shares</td><td>47204165</td><td>95888130</td><td>96665830</td><td>103709570</td><td>121229371</td><td>121253996</td><td>121253996</td><td>127498471</td><td>156984246</td><td>157093496</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>26.74</td><td>46.26</td><td>71.57</td><td>-8.69</td><td>-15.41</td><td>-9</td><td>86.02</td><td>117.38</td><td>145.45</td><td>50.9</td></tr>
<tr><td>Cash from Investing Activity</td><td>-32.16</td><td>-26.28</td><td>-65.67</td><td>-69.6</td><td>-148.59</td><td>-1.94</td><td>-90.12</td><td>-132.86</td><td>-249.13</td><td>-124.63</td></tr>
<tr><td>Cash from Financing Activity</td><td>-6.29</td><td>-15.48</td><td>-6.87</td><td>90.92</td><td>181.82</td><td>25.67</td><td>3.25</td><td>38.63</td><td>135.97</td><td>59.66</td></tr>
<tr><td>Net Cash Flow</td><td>-11.71</td><td>4.49</td><td>-0.97</td><td>12.62</td><td>17.82</td><td>14.74</td><td>-0.85</td><td>23.15</td><td>32.29</td><td>-14.07</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>19.13</td><td>87.95</td><td>88.65</td><td>89.5</td><td>101.25</td><td>49.75</td><td>39</td><td>140.45</td><td>139.45</td><td>127.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>9.44</td><td>9.59</td><td>9.67</td><td>10.37</td><td>12.12</td><td>12.13</td><td>12.13</td><td>12.75</td><td>15.7</td><td>15.71</td></tr>
</table>
</body>
</html>