<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Capri Global</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CAPRI GLOBAL CAPITAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>221.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18299.88</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>198.23</td><td>189.03</td><td>229</td><td>350.52</td><td>588.77</td><td>716.73</td><td>737.08</td><td>980.61</td><td>1463.98</td><td>2312.86</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>0.39</td><td>0.48</td><td>0.64</td><td>0.83</td><td>1.21</td><td>1.29</td><td>0.9</td><td>1.31</td><td>5.14</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>0.31</td><td>0.18</td><td>0.42</td><td>4.16</td><td>2.49</td><td>6.24</td><td></td><td>19.08</td><td>26.54</td><td></td></tr>
<tr><td>Employee Cost</td><td>26.51</td><td>32.95</td><td>54.82</td><td>81.57</td><td>118.21</td><td>119.4</td><td>100.15</td><td>175.39</td><td>407.23</td><td>623.69</td></tr>
<tr><td>Selling and admin</td><td>8.22</td><td>16.08</td><td>25.17</td><td>30.98</td><td>45.97</td><td>33.52</td><td>31.96</td><td>56.59</td><td>92.57</td><td></td></tr>
<tr><td>Other Expenses</td><td>13.01</td><td>69.91</td><td>16.15</td><td>22.24</td><td>22.79</td><td>42.6</td><td>68.27</td><td>115.2</td><td>89.17</td><td>401.1</td></tr>
<tr><td>Other Income</td><td>7.84</td><td>1.54</td><td>6.08</td><td>0.56</td><td>2.53</td><td>2.46</td><td>0.04</td><td>1.05</td><td>0.91</td><td>1.34</td></tr>
<tr><td>Depreciation</td><td>3.83</td><td>3.48</td><td>4.3</td><td>6.22</td><td>6.64</td><td>10.78</td><td>10.51</td><td>9.88</td><td>43.91</td><td>87.87</td></tr>
<tr><td>Interest</td><td>4.7</td><td>11.85</td><td>38.04</td><td>96.84</td><td>207.3</td><td>283.37</td><td>289.62</td><td>331.59</td><td>532.04</td><td>835.9</td></tr>
<tr><td>Profit before tax</td><td>149.1</td><td>55.64</td><td>95.54</td><td>108.24</td><td>186.69</td><td>221.99</td><td>235.71</td><td>272.62</td><td>268.29</td><td>365.64</td></tr>
<tr><td>Tax</td><td>53.86</td><td>11.99</td><td>37.42</td><td>43.33</td><td>51.03</td><td>60.75</td><td>58.75</td><td>67.59</td><td>63.63</td><td>86.24</td></tr>
<tr><td>Net profit</td><td>95.24</td><td>43.65</td><td>58.12</td><td>64.9</td><td>135.66</td><td>161.23</td><td>176.96</td><td>205.04</td><td>204.65</td><td>279.41</td></tr>
<tr><td>Dividend Amount</td><td>5.25</td><td>5.25</td><td>5.25</td><td>5.25</td><td>6.31</td><td>3.5</td><td>8.76</td><td>8.78</td><td>10.31</td><td>12.37</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>255.94</td><td>291.41</td><td>279</td><td>345.59</td><td>384.8</td><td>454.51</td><td>501.08</td><td>557.21</td><td>605.41</td><td>648.63</td></tr>
<tr><td>Expenses</td><td>87.17</td><td>145.94</td><td>113.16</td><td>132.5</td><td>182.05</td><td>192.74</td><td>225</td><td>252.4</td><td>270.49</td><td>276.37</td></tr>
<tr><td>Other Income</td><td>2.89</td><td>5.31</td><td>0.63</td><td>0.83</td><td>0.04</td><td>0.16</td><td>0.07</td><td>0.2</td><td>0.51</td><td>0.57</td></tr>
<tr><td>Depreciation</td><td>3.38</td><td>3.71</td><td>3.35</td><td>6.82</td><td>14.6</td><td>19.15</td><td>15.58</td><td>23.15</td><td>25.28</td><td>23.87</td></tr>
<tr><td>Interest</td><td>82.22</td><td>91.56</td><td>102.13</td><td>126.49</td><td>139.95</td><td>164.34</td><td>176.69</td><td>195.84</td><td>220.92</td><td>242.45</td></tr>
<tr><td>Profit before tax</td><td>86.06</td><td>55.51</td><td>60.99</td><td>80.61</td><td>48.24</td><td>78.44</td><td>83.88</td><td>86.02</td><td>89.23</td><td>106.51</td></tr>
<tr><td>Tax</td><td>21.18</td><td>13.73</td><td>14.91</td><td>24.35</td><td>10.83</td><td>13.53</td><td>20.27</td><td>20.78</td><td>21.25</td><td>23.93</td></tr>
<tr><td>Net profit</td><td>64.89</td><td>41.77</td><td>46.08</td><td>56.26</td><td>37.42</td><td>64.9</td><td>63.61</td><td>65.24</td><td>67.98</td><td>82.59</td></tr>
<tr><td>Operating Profit</td><td>168.77</td><td>145.47</td><td>165.84</td><td>213.09</td><td>202.75</td><td>261.77</td><td>276.08</td><td>304.81</td><td>334.92</td><td>372.26</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>35.03</td><td>35.03</td><td>35.03</td><td>35.03</td><td>35.03</td><td>35.03</td><td>35.06</td><td>35.13</td><td>41.23</td><td>82.49</td></tr>
<tr><td>Reserves</td><td>1030.18</td><td>1067.5</td><td>1125.63</td><td>1216.62</td><td>1347.65</td><td>1504.16</td><td>1682.24</td><td>1887.34</td><td>3524.24</td><td>3754.08</td></tr>
<tr><td>Borrowings</td><td>50</td><td>141.17</td><td>727.86</td><td>1566.14</td><td>2768.71</td><td>2836.61</td><td>3773.59</td><td>4832.2</td><td>7511.28</td><td>10406.91</td></tr>
<tr><td>Other Liabilities</td><td>48.94</td><td>76.7</td><td>97.61</td><td>153.3</td><td>125.62</td><td>65.69</td><td>322.19</td><td>398.1</td><td>717.87</td><td>906.22</td></tr>
<tr><td>Total</td><td>1164.15</td><td>1320.4</td><td>1986.13</td><td>2971.09</td><td>4277.01</td><td>4441.49</td><td>5813.08</td><td>7152.77</td><td>11794.62</td><td>15149.7</td></tr>
<tr><td>Net Block</td><td>8.56</td><td>8.03</td><td>12.62</td><td>15.43</td><td>13.67</td><td>32.24</td><td>27.81</td><td>34.37</td><td>290.96</td><td>368.6</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td>0.27</td><td></td><td>0.14</td><td>0.36</td><td>0.07</td><td>2.32</td><td>17.33</td><td>0.08</td></tr>
<tr><td>Investments</td><td>117.27</td><td>110.49</td><td>68.08</td><td>55.61</td><td>9.33</td><td>360.73</td><td>807.45</td><td>377.48</td><td>215.04</td><td>216.23</td></tr>
<tr><td>Other Assets</td><td>1038.32</td><td>1201.88</td><td>1905.16</td><td>2900.05</td><td>4253.87</td><td>4048.16</td><td>4977.75</td><td>6738.6</td><td>11271.29</td><td>14564.79</td></tr>
<tr><td>Total</td><td>1164.15</td><td>1320.4</td><td>1986.13</td><td>2971.09</td><td>4277.01</td><td>4441.49</td><td>5813.08</td><td>7152.77</td><td>11794.62</td><td>15149.7</td></tr>
<tr><td>Receivables</td><td>26</td><td>8.12</td><td>0.73</td><td>0.99</td><td>8.63</td><td>0.91</td><td>1.51</td><td>9.33</td><td>32.23</td><td>136.69</td></tr>
<tr><td>Inventory</td><td>23.54</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>34.69</td><td>18.13</td><td>11.41</td><td>48.33</td><td>169.11</td><td>74.2</td><td>224.25</td><td>353.12</td><td>1510.28</td><td>674.62</td></tr>
<tr><td>No. of Equity Shares</td><td>35026961</td><td>35026961</td><td>175134805</td><td>175134805</td><td>175134805</td><td>175134805</td><td>175285355</td><td>175654055</td><td>206152844</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>58.61</td><td>-72.76</td><td>-511.4</td><td>-856.6</td><td>-1115.23</td><td>209.96</td><td>-318.59</td><td>-1340.14</td><td>-2993.85</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>-87.86</td><td>2.34</td><td>45.56</td><td>40.13</td><td>40.55</td><td>-351.69</td><td>-465.35</td><td>316.55</td><td>52.09</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>43.88</td><td>69.42</td><td>459.95</td><td>834.77</td><td>1196.23</td><td>53.63</td><td>892.19</td><td>1175.51</td><td>4096.02</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>14.63</td><td>-1</td><td>-5.88</td><td>18.3</td><td>121.55</td><td>-88.1</td><td>108.25</td><td>151.92</td><td>1154.27</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>7.9</td><td>6.19</td><td>13.17</td><td>20.86</td><td>41.26</td><td>40.39</td><td>89.76</td><td>145.48</td><td>165.29</td><td>204.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>82.15</td><td>82.15</td><td>82.1</td><td>82.1</td><td>82.1</td><td>82.1</td><td>82.17</td><td>82.34</td><td>82.46</td><td>82.49</td></tr>
</table>
</body>
</html>