<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Carborundum Uni</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CARBORUNDUM UNIVERSAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1468</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>28013.92</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2042.3</td><td>1943.99</td><td>2112.49</td><td>2374.5</td><td>2688.9</td><td>2598.97</td><td>2631.71</td><td>3324.76</td><td>4654.28</td><td>4702.19</td></tr>
<tr><td>Raw Material Cost</td><td>706.44</td><td>680.28</td><td>735.05</td><td>780.56</td><td>981.7</td><td>916.49</td><td>830.88</td><td>1251.32</td><td>1776.46</td><td>1696.66</td></tr>
<tr><td>Change in Inventory</td><td>-11.19</td><td>-1.34</td><td>0.24</td><td>-24.37</td><td>26.74</td><td>29.54</td><td>-66.95</td><td>93.56</td><td>62.36</td><td>-0.59</td></tr>
<tr><td>Power and Fuel</td><td>303.56</td><td>242.12</td><td>252.52</td><td>327.47</td><td>378.61</td><td>371.66</td><td>363.1</td><td>403.25</td><td>508.46</td><td>478.11</td></tr>
<tr><td>Other Mfr. Exp</td><td>265</td><td>147.18</td><td>164.19</td><td>187.91</td><td>210.97</td><td>204.5</td><td>190.97</td><td>246.91</td><td>312.61</td><td></td></tr>
<tr><td>Employee Cost</td><td>276.77</td><td>253.56</td><td>275.15</td><td>312.66</td><td>329.05</td><td>346.88</td><td>349.11</td><td>421.28</td><td>694.31</td><td>720.1</td></tr>
<tr><td>Selling and admin</td><td>182.29</td><td>174</td><td>293.87</td><td>178.79</td><td>192.67</td><td>186.18</td><td>168.99</td><td>254.17</td><td>432.74</td><td></td></tr>
<tr><td>Other Expenses</td><td>62.67</td><td>137.76</td><td>56.35</td><td>163.04</td><td>183.53</td><td>202.98</td><td>195.65</td><td>300.98</td><td>336.93</td><td>1067.9</td></tr>
<tr><td>Other Income</td><td>111.74</td><td>38.85</td><td>40.87</td><td>36.52</td><td>46.42</td><td>61.56</td><td>31.6</td><td>56.34</td><td>135.65</td><td>120.51</td></tr>
<tr><td>Depreciation</td><td>100.37</td><td>86.82</td><td>96.48</td><td>106</td><td>108.27</td><td>104.52</td><td>99.45</td><td>114.57</td><td>187.34</td><td>190.75</td></tr>
<tr><td>Interest</td><td>25.34</td><td>22.91</td><td>18.12</td><td>8.61</td><td>8.48</td><td>6.33</td><td>3.58</td><td>5.64</td><td>23.53</td><td>18.34</td></tr>
<tr><td>Profit before tax</td><td>220.41</td><td>236.87</td><td>261.87</td><td>321.61</td><td>368.78</td><td>350.53</td><td>394.63</td><td>476.54</td><td>579.91</td><td>650.25</td></tr>
<tr><td>Tax</td><td>82.16</td><td>81.41</td><td>78.08</td><td>102.02</td><td>121.18</td><td>75.55</td><td>101.56</td><td>126.53</td><td>138.21</td><td>174.07</td></tr>
<tr><td>Net profit</td><td>132.6</td><td>144.1</td><td>174.87</td><td>215.6</td><td>247.68</td><td>272.42</td><td>284.31</td><td>333.36</td><td>413.99</td><td>461.25</td></tr>
<tr><td>Dividend Amount</td><td>23.52</td><td>28.26</td><td>33.02</td><td>42.52</td><td>52.03</td><td>52.08</td><td>56.88</td><td>66.46</td><td>66.46</td><td>76.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>899.24</td><td>869.29</td><td>1139.83</td><td>1127.77</td><td>1187.07</td><td>1199.62</td><td>1203.22</td><td>1146.34</td><td>1151.44</td><td>1201.19</td></tr>
<tr><td>Expenses</td><td>741.66</td><td>758.37</td><td>1012.36</td><td>964.74</td><td>1016.04</td><td>1009.29</td><td>1033.81</td><td>978.82</td><td>959.97</td><td>991.76</td></tr>
<tr><td>Other Income</td><td>13.05</td><td>18.48</td><td>31.88</td><td>17.62</td><td>30.29</td><td>59.13</td><td>41.03</td><td>30.82</td><td>24.83</td><td>24.83</td></tr>
<tr><td>Depreciation</td><td>27.91</td><td>34.32</td><td>42.83</td><td>44.5</td><td>47.32</td><td>52.69</td><td>45.74</td><td>45.86</td><td>48.16</td><td>50.99</td></tr>
<tr><td>Interest</td><td>1.47</td><td>2.37</td><td>4.46</td><td>5.05</td><td>6.82</td><td>7.2</td><td>5.16</td><td>4.87</td><td>4.72</td><td>3.59</td></tr>
<tr><td>Profit before tax</td><td>141.25</td><td>92.71</td><td>112.06</td><td>131.1</td><td>147.18</td><td>189.57</td><td>159.54</td><td>147.61</td><td>163.42</td><td>179.68</td></tr>
<tr><td>Tax</td><td>30.34</td><td>34.3</td><td>26.07</td><td>37.41</td><td>33.95</td><td>40.78</td><td>41.78</td><td>43.73</td><td>51.44</td><td>37.12</td></tr>
<tr><td>Net profit</td><td>101.55</td><td>57.03</td><td>78.77</td><td>88.99</td><td>109.11</td><td>137.12</td><td>113.23</td><td>101.88</td><td>111.3</td><td>134.84</td></tr>
<tr><td>Operating Profit</td><td>157.58</td><td>110.92</td><td>127.47</td><td>163.03</td><td>171.03</td><td>190.33</td><td>169.41</td><td>167.52</td><td>191.47</td><td>209.43</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>18.82</td><td>18.84</td><td>18.87</td><td>18.9</td><td>18.92</td><td>18.94</td><td>18.96</td><td>18.99</td><td>18.99</td><td>19.03</td></tr>
<tr><td>Reserves</td><td>1069.89</td><td>1173.42</td><td>1363.92</td><td>1545.45</td><td>1705.19</td><td>1839.41</td><td>2112.51</td><td>2344.79</td><td>2801.57</td><td>3106.68</td></tr>
<tr><td>Borrowings</td><td>340.17</td><td>319.86</td><td>155.95</td><td>123.9</td><td>91.97</td><td>66.11</td><td>56.74</td><td>232.21</td><td>277.26</td><td>171.89</td></tr>
<tr><td>Other Liabilities</td><td>386.78</td><td>347.94</td><td>374.49</td><td>399.31</td><td>405.85</td><td>358.05</td><td>490.65</td><td>699.92</td><td>774.1</td><td>854.3</td></tr>
<tr><td>Total</td><td>1815.66</td><td>1860.06</td><td>1913.23</td><td>2087.56</td><td>2221.93</td><td>2282.51</td><td>2678.86</td><td>3295.91</td><td>3871.92</td><td>4151.9</td></tr>
<tr><td>Net Block</td><td>792.72</td><td>659.14</td><td>704.81</td><td>735.65</td><td>695.02</td><td>748.37</td><td>777.13</td><td>1006.13</td><td>1526.74</td><td>1561</td></tr>
<tr><td>Capital Work in Progress</td><td>43.32</td><td>84.54</td><td>72.6</td><td>30.28</td><td>46.39</td><td>38.65</td><td>28.02</td><td>57.7</td><td>87.47</td><td>78.1</td></tr>
<tr><td>Investments</td><td>41.13</td><td>131.01</td><td>124.46</td><td>180.29</td><td>226.52</td><td>188.69</td><td>127.05</td><td>137.82</td><td>161.23</td><td>171.57</td></tr>
<tr><td>Other Assets</td><td>938.49</td><td>985.37</td><td>1011.36</td><td>1141.34</td><td>1254</td><td>1306.8</td><td>1746.66</td><td>2094.26</td><td>2096.48</td><td>2341.23</td></tr>
<tr><td>Total</td><td>1815.66</td><td>1860.06</td><td>1913.23</td><td>2087.56</td><td>2221.93</td><td>2282.51</td><td>2678.86</td><td>3295.91</td><td>3871.92</td><td>4151.9</td></tr>
<tr><td>Receivables</td><td>370.29</td><td>367.48</td><td>380.58</td><td>475.06</td><td>513.92</td><td>401.56</td><td>477.62</td><td>484.77</td><td>627.38</td><td>679.04</td></tr>
<tr><td>Inventory</td><td>388.33</td><td>370.43</td><td>386.7</td><td>438.02</td><td>532.86</td><td>507.62</td><td>460.52</td><td>690.9</td><td>898.93</td><td>850.16</td></tr>
<tr><td>Cash & Bank</td><td>99.17</td><td>113.25</td><td>126.06</td><td>128.91</td><td>97.51</td><td>293.98</td><td>688.95</td><td>351.57</td><td>400.11</td><td>557.93</td></tr>
<tr><td>No. of Equity Shares</td><td>188179042</td><td>188379560</td><td>188658090</td><td>188955751</td><td>189154175</td><td>189412196</td><td>189590839</td><td>189856703</td><td>189856703</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>325.76</td><td>177.76</td><td>295.26</td><td>212.98</td><td>201.83</td><td>406.86</td><td>450.76</td><td>244.53</td><td>430.17</td><td>601.51</td></tr>
<tr><td>Cash from Investing Activity</td><td>-136.08</td><td>-75.11</td><td>-71.95</td><td>-74.86</td><td>-85.3</td><td>-104.8</td><td>-265.81</td><td>-464.78</td><td>-247.89</td><td>-186.47</td></tr>
<tr><td>Cash from Financing Activity</td><td>-161.51</td><td>-85.59</td><td>-207.1</td><td>-83.24</td><td>-109.15</td><td>-134.55</td><td>-66.19</td><td>89.43</td><td>-133.41</td><td>-214.01</td></tr>
<tr><td>Net Cash Flow</td><td>28.18</td><td>17.06</td><td>16.22</td><td>54.88</td><td>7.38</td><td>167.51</td><td>118.76</td><td>-130.82</td><td>48.87</td><td>201.03</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>190.2</td><td>175.45</td><td>290.5</td><td>347.4</td><td>410.35</td><td>222</td><td>509.5</td><td>797.75</td><td>985.7</td><td>1268.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>18.82</td><td>18.84</td><td>18.87</td><td>18.9</td><td>18.92</td><td>18.94</td><td>18.96</td><td>18.99</td><td>18.99</td><td>19.03</td></tr>
</table>
</body>
</html>