<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Chalet Hotels</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CHALET HOTELS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>829.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18113.18</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>501.13</td><td>441.45</td><td>582.46</td><td>737.35</td><td>795.55</td><td>987.17</td><td>980.85</td><td>285.58</td><td>507.81</td><td>1128.47</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>80.5</td><td>86.67</td><td>82.84</td><td>23.87</td><td>53.86</td><td>99.92</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>30.69</td><td>-23.97</td><td>-2.33</td><td></td><td>1.28</td><td></td></tr>
<tr><td>Power and Fuel</td><td>39.68</td><td>45.93</td><td>61.23</td><td>54.5</td><td>62.74</td><td>66.84</td><td>64.84</td><td>33.16</td><td>46.29</td><td>64.73</td></tr>
<tr><td>Other Mfr. Exp</td><td>177.84</td><td>127.28</td><td>136.52</td><td>147.52</td><td>103.45</td><td>102.68</td><td>109.68</td><td>56.44</td><td>107.99</td><td>162.9</td></tr>
<tr><td>Employee Cost</td><td>68</td><td>86.22</td><td>106.76</td><td>118.87</td><td>128.15</td><td>145.11</td><td>151.98</td><td>89.77</td><td>100.43</td><td>151.51</td></tr>
<tr><td>Selling and admin</td><td>82.58</td><td>88.15</td><td>115.04</td><td>143.02</td><td>160.5</td><td>160.45</td><td>156.04</td><td>64.99</td><td>85.47</td><td>178.67</td></tr>
<tr><td>Other Expenses</td><td>35.03</td><td>29.86</td><td>26.75</td><td>160.3</td><td>46.16</td><td>82.22</td><td>76.52</td><td>10.29</td><td>16.57</td><td>17.93</td></tr>
<tr><td>Other Income</td><td>-42.38</td><td>17.52</td><td>12.51</td><td>310.91</td><td>-66.02</td><td>43.51</td><td>23.73</td><td>14.1</td><td>10.93</td><td>91.8</td></tr>
<tr><td>Depreciation</td><td>59.6</td><td>61.77</td><td>98.81</td><td>126.98</td><td>111.63</td><td>115.42</td><td>113.32</td><td>117.46</td><td>118.42</td><td>117.31</td></tr>
<tr><td>Interest</td><td>136.88</td><td>160.57</td><td>215.87</td><td>217.96</td><td>211.92</td><td>265.67</td><td>146.18</td><td>151.98</td><td>144.41</td><td>154.47</td></tr>
<tr><td>Profit before tax</td><td>-140.86</td><td>-140.81</td><td>-166.01</td><td>79.11</td><td>-144.83</td><td>-18.35</td><td>100.85</td><td>-248.28</td><td>-153.42</td><td>272.83</td></tr>
<tr><td>Tax</td><td>-32.05</td><td>-14.42</td><td>-53.51</td><td>-48.32</td><td>-51.95</td><td>-10.72</td><td>1.22</td><td>-109.15</td><td>-71.96</td><td>89.54</td></tr>
<tr><td>Net profit</td><td>-108.81</td><td>-126.39</td><td>-112.49</td><td>127.44</td><td>-92.88</td><td>-7.63</td><td>102.68</td><td>-139.08</td><td>-81.53</td><td>183.33</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>128.18</td><td>164.18</td><td>148.01</td><td>253.01</td><td>247.84</td><td>289.75</td><td>337.87</td><td>310.77</td><td>314.55</td><td>373.67</td></tr>
<tr><td>Expenses</td><td>92.52</td><td>123.75</td><td>116.58</td><td>151.14</td><td>162.75</td><td>176.26</td><td>185.51</td><td>200.98</td><td>188.59</td><td>207.67</td></tr>
<tr><td>Other Income</td><td>6.2</td><td>-4.67</td><td>4.5</td><td>5.89</td><td>3.88</td><td>92.56</td><td>-10.53</td><td>3.81</td><td>3.61</td><td>6.22</td></tr>
<tr><td>Depreciation</td><td>30.46</td><td>28.47</td><td>30.27</td><td>29.71</td><td>29.64</td><td>28.12</td><td>29.84</td><td>30.97</td><td>34.97</td><td>35.32</td></tr>
<tr><td>Interest</td><td>39.23</td><td>33.66</td><td>35.6</td><td>39.13</td><td>38</td><td>36.81</td><td>40.53</td><td>45.42</td><td>50.13</td><td>48.25</td></tr>
<tr><td>Profit before tax</td><td>-27.83</td><td>-26.37</td><td>-29.94</td><td>38.92</td><td>21.33</td><td>141.12</td><td>71.46</td><td>37.21</td><td>44.47</td><td>88.65</td></tr>
<tr><td>Tax</td><td>-14</td><td>-11.98</td><td>-18.48</td><td>10.37</td><td>5.58</td><td>38.76</td><td>34.83</td><td>-51.45</td><td>8.02</td><td>18.01</td></tr>
<tr><td>Net profit</td><td>-13.66</td><td>-14.65</td><td>-11.56</td><td>28.55</td><td>15.73</td><td>102.34</td><td>36.71</td><td>88.66</td><td>36.44</td><td>70.62</td></tr>
<tr><td>Operating Profit</td><td>35.66</td><td>40.43</td><td>31.43</td><td>101.87</td><td>85.09</td><td>113.49</td><td>152.36</td><td>109.79</td><td>125.96</td><td>166</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>152.14</td><td>152.14</td><td>152.14</td><td>152.14</td><td>171.1</td><td>205.02</td><td>205.02</td><td>205.02</td><td>205.02</td><td>205.03</td></tr>
<tr><td>Reserves</td><td>508.36</td><td>479.9</td><td>364.94</td><td>314.9</td><td>324.41</td><td>1217.65</td><td>1349.53</td><td>1211.04</td><td>1136.23</td><td>1336.91</td></tr>
<tr><td>Borrowings</td><td>1759.24</td><td>2071.54</td><td>2350.64</td><td>2635.87</td><td>2709.31</td><td>1494.21</td><td>1790.75</td><td>1938.86</td><td>2422.43</td><td>2667.13</td></tr>
<tr><td>Other Liabilities</td><td>567.23</td><td>538.35</td><td>487.01</td><td>449.47</td><td>447.58</td><td>613.91</td><td>689.51</td><td>664.39</td><td>701.31</td><td>748.04</td></tr>
<tr><td>Total</td><td>2986.97</td><td>3241.93</td><td>3354.73</td><td>3552.38</td><td>3652.4</td><td>3530.79</td><td>4034.81</td><td>4019.31</td><td>4464.99</td><td>4957.11</td></tr>
<tr><td>Net Block</td><td>1275.78</td><td>2294.98</td><td>2390.18</td><td>2838.61</td><td>2819.21</td><td>2753.42</td><td>3018.98</td><td>3079.68</td><td>3413.39</td><td>3853.56</td></tr>
<tr><td>Capital Work in Progress</td><td>571.61</td><td>48.76</td><td>31.61</td><td>21.15</td><td>21.82</td><td>34.25</td><td>87.51</td><td>35.85</td><td>32.23</td><td>97.77</td></tr>
<tr><td>Investments</td><td>11.54</td><td>12.84</td><td>47.42</td><td>0.31</td><td>4.32</td><td>4.71</td><td>4.51</td><td>4.49</td><td>6.28</td><td>6.85</td></tr>
<tr><td>Other Assets</td><td>1128.04</td><td>885.35</td><td>885.52</td><td>692.31</td><td>807.05</td><td>738.41</td><td>923.81</td><td>899.29</td><td>1013.09</td><td>998.93</td></tr>
<tr><td>Total</td><td>2986.97</td><td>3241.93</td><td>3354.73</td><td>3552.38</td><td>3652.4</td><td>3530.79</td><td>4034.81</td><td>4019.31</td><td>4464.99</td><td>4957.11</td></tr>
<tr><td>Receivables</td><td>15.7</td><td>10.06</td><td>18.14</td><td>29.62</td><td>55.17</td><td>47.68</td><td>41.68</td><td>30.61</td><td>43.6</td><td>58.95</td></tr>
<tr><td>Inventory</td><td>294.79</td><td>321.73</td><td>325.76</td><td>319.09</td><td>311.58</td><td>395.46</td><td>436.67</td><td>435.48</td><td>436.48</td><td>439.26</td></tr>
<tr><td>Cash & Bank</td><td>102.44</td><td>31.8</td><td>34.66</td><td>33.17</td><td>31.67</td><td>82.68</td><td>127.88</td><td>45.77</td><td>99.85</td><td>121.98</td></tr>
<tr><td>No. of Equity Shares</td><td>152142253</td><td>152142253</td><td>152142253</td><td>152142253</td><td>171095293</td><td>205023864</td><td>205023864</td><td>205023864</td><td>205023864</td><td>205024864</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>79.34</td><td>201.22</td><td>248.91</td><td>365.52</td><td>252.44</td><td>60.17</td><td>62.22</td><td>476.88</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>-172.48</td><td>328.98</td><td>-118.1</td><td>147.24</td><td>-391.44</td><td>-49.92</td><td>-396.1</td><td>-590.65</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td>53.04</td><td>-463.37</td><td>-156.59</td><td>-522.83</td><td>132.79</td><td>-34.09</td><td>410.95</td><td>126.05</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>-40.11</td><td>66.83</td><td>-25.78</td><td>-10.07</td><td>-6.21</td><td>-23.84</td><td>77.07</td><td>12.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td>337.55</td><td>205.15</td><td>146.3</td><td>302.35</td><td>363.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>15.21</td><td>15.21</td><td>15.21</td><td>15.21</td><td>17.11</td><td>20.5</td><td>20.5</td><td>20.5</td><td>20.5</td><td>20.5</td></tr>
</table>
</body>
</html>