<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Chambal Fert</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CHAMBAL FERTILISERS & CHEMICALS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>387</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>15495.67</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9732.71</td><td>9007.95</td><td>7553.45</td><td>7541.02</td><td>10094.52</td><td>12205.95</td><td>12719.01</td><td>16068.83</td><td>27772.81</td><td>17966.41</td></tr>
<tr><td>Raw Material Cost</td><td>5706.04</td><td>6109.95</td><td>4757.16</td><td>4585.9</td><td>6592.45</td><td>6680.65</td><td>6984.35</td><td>11930.3</td><td>17918.16</td><td>10756.85</td></tr>
<tr><td>Change in Inventory</td><td>52.67</td><td>298.5</td><td>-2.61</td><td>-46.57</td><td>510.64</td><td>-208.66</td><td>-353.86</td><td>2326.99</td><td>-1786.13</td><td>-145.41</td></tr>
<tr><td>Power and Fuel</td><td>1381.81</td><td>1249.52</td><td>958.8</td><td>1098.79</td><td>1767.89</td><td>2113.57</td><td>1645.56</td><td>3019.28</td><td>4838.21</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>697.57</td><td>170.92</td><td>175.66</td><td>129.49</td><td>144.79</td><td>194.94</td><td>203.03</td><td>235.21</td><td>269.26</td><td></td></tr>
<tr><td>Employee Cost</td><td>338.03</td><td>167.12</td><td>142.11</td><td>149.6</td><td>127</td><td>156.33</td><td>176.69</td><td>180.96</td><td>191.25</td><td>220.77</td></tr>
<tr><td>Selling and admin</td><td>786.93</td><td>787.58</td><td>696.15</td><td>624.3</td><td>682.21</td><td>750.24</td><td>838.36</td><td>699.81</td><td>853.83</td><td></td></tr>
<tr><td>Other Expenses</td><td>138.39</td><td>167.58</td><td>62.08</td><td>95.78</td><td>90.79</td><td>176.25</td><td>47.49</td><td>65.12</td><td>93.82</td><td>4800.09</td></tr>
<tr><td>Other Income</td><td>103.02</td><td>32.22</td><td>133.11</td><td>171.7</td><td>-2.05</td><td>192.41</td><td>469.96</td><td>374.38</td><td>222.49</td><td>329.54</td></tr>
<tr><td>Depreciation</td><td>216.49</td><td>111.25</td><td>92.2</td><td>85.39</td><td>118.76</td><td>286.86</td><td>289.22</td><td>299.74</td><td>308.29</td><td>312.79</td></tr>
<tr><td>Interest</td><td>163.91</td><td>266.94</td><td>255.31</td><td>156.56</td><td>246.95</td><td>503.86</td><td>290.88</td><td>108.88</td><td>320.02</td><td>173.06</td></tr>
<tr><td>Profit before tax</td><td>459.23</td><td>307.81</td><td>544.48</td><td>740.34</td><td>832.27</td><td>1327</td><td>2359.53</td><td>2230.9</td><td>1416.33</td><td>1886.98</td></tr>
<tr><td>Tax</td><td>179.72</td><td>160.46</td><td>185.52</td><td>244.93</td><td>247.42</td><td>101.44</td><td>611.94</td><td>664.84</td><td>382.54</td><td>611.23</td></tr>
<tr><td>Net profit</td><td>294.61</td><td>220.96</td><td>362.14</td><td>498.84</td><td>590.21</td><td>1226.19</td><td>1654.76</td><td>1565.98</td><td>1034.22</td><td>1275.8</td></tr>
<tr><td>Dividend Amount</td><td>78.65</td><td>79.08</td><td>79.08</td><td>79.08</td><td>83.24</td><td>166.48</td><td>312.16</td><td>312.16</td><td>312.16</td><td>300.49</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4743.33</td><td>3307.37</td><td>7291.18</td><td>8586.75</td><td>8296.21</td><td>3598.67</td><td>5589.28</td><td>5385.52</td><td>4348.57</td><td>2643.04</td></tr>
<tr><td>Expenses</td><td>4160.59</td><td>2945.94</td><td>6697.8</td><td>8142.25</td><td>7626.37</td><td>3490.78</td><td>4955.97</td><td>4770.51</td><td>3720.1</td><td>2476.54</td></tr>
<tr><td>Other Income</td><td>128.14</td><td>73.64</td><td>41.99</td><td>122.87</td><td>22.86</td><td>41.31</td><td>14.47</td><td>90.35</td><td>151.3</td><td>73.42</td></tr>
<tr><td>Depreciation</td><td>76.17</td><td>75.05</td><td>76.06</td><td>78.22</td><td>78.09</td><td>75.92</td><td>77.16</td><td>78.44</td><td>79.11</td><td>78.08</td></tr>
<tr><td>Interest</td><td>24.13</td><td>26.55</td><td>48.11</td><td>84.95</td><td>120.07</td><td>66.89</td><td>54.83</td><td>45.77</td><td>36.47</td><td>35.99</td></tr>
<tr><td>Profit before tax</td><td>610.58</td><td>333.47</td><td>511.2</td><td>404.2</td><td>494.54</td><td>6.39</td><td>515.79</td><td>581.15</td><td>664.19</td><td>125.85</td></tr>
<tr><td>Tax</td><td>175.41</td><td>89.67</td><td>169.49</td><td>130.01</td><td>170.63</td><td>-87.59</td><td>177.19</td><td>200.19</td><td>204.79</td><td>29.06</td></tr>
<tr><td>Net profit</td><td>435.06</td><td>243.57</td><td>341.82</td><td>274.27</td><td>324.03</td><td>94.1</td><td>338.64</td><td>380.97</td><td>459.41</td><td>96.78</td></tr>
<tr><td>Operating Profit</td><td>582.74</td><td>361.43</td><td>593.38</td><td>444.5</td><td>669.84</td><td>107.89</td><td>633.31</td><td>615.01</td><td>628.47</td><td>166.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>413.95</td><td>416.21</td><td>416.21</td><td>416.21</td><td>416.21</td><td>416.21</td><td>416.21</td><td>416.21</td><td>416.21</td><td>400.65</td></tr>
<tr><td>Reserves</td><td>1837.15</td><td>1450.69</td><td>1707.33</td><td>2089.34</td><td>2467.03</td><td>3123.09</td><td>4832.58</td><td>5983.37</td><td>6651.9</td><td>6872.9</td></tr>
<tr><td>Borrowings</td><td>4089.35</td><td>5317.13</td><td>4618.59</td><td>5719.8</td><td>8663.71</td><td>9695.52</td><td>3865.74</td><td>4263.85</td><td>3279.25</td><td>1873.93</td></tr>
<tr><td>Other Liabilities</td><td>1297.83</td><td>939.25</td><td>1314.66</td><td>1236.6</td><td>2378.17</td><td>1297.85</td><td>1132.16</td><td>2625.57</td><td>2422.71</td><td>2361.49</td></tr>
<tr><td>Total</td><td>7638.28</td><td>8123.28</td><td>8056.79</td><td>9461.95</td><td>13925.12</td><td>14532.67</td><td>10246.69</td><td>13289</td><td>12770.07</td><td>11508.97</td></tr>
<tr><td>Net Block</td><td>2948.28</td><td>1792.92</td><td>1162.02</td><td>1233.88</td><td>6905.18</td><td>6701.03</td><td>6479.84</td><td>6357.67</td><td>6262.39</td><td>6422.96</td></tr>
<tr><td>Capital Work in Progress</td><td>119.15</td><td>638.94</td><td>1712.2</td><td>4134.63</td><td>121.42</td><td>84.99</td><td>160.79</td><td>156.9</td><td>102.62</td><td>183.54</td></tr>
<tr><td>Investments</td><td>30.11</td><td>211.08</td><td>173.58</td><td>207.08</td><td>300.2</td><td>217.16</td><td>298.33</td><td>559.19</td><td>2377.09</td><td>2431.34</td></tr>
<tr><td>Other Assets</td><td>4540.74</td><td>5480.34</td><td>5008.99</td><td>3886.36</td><td>6598.32</td><td>7529.49</td><td>3307.73</td><td>6215.24</td><td>4027.97</td><td>2471.13</td></tr>
<tr><td>Total</td><td>7638.28</td><td>8123.28</td><td>8056.79</td><td>9461.95</td><td>13925.12</td><td>14532.67</td><td>10246.69</td><td>13289</td><td>12770.07</td><td>11508.97</td></tr>
<tr><td>Receivables</td><td>3171.16</td><td>3861.2</td><td>3036.2</td><td>2534.69</td><td>4827.4</td><td>5563.11</td><td>1174.59</td><td>2151.3</td><td>1760.48</td><td>191.56</td></tr>
<tr><td>Inventory</td><td>738.71</td><td>868.39</td><td>849.35</td><td>795.1</td><td>1323.15</td><td>1135.6</td><td>789.14</td><td>3123.21</td><td>1373.83</td><td>1254.66</td></tr>
<tr><td>Cash & Bank</td><td>203.93</td><td>54.27</td><td>132.14</td><td>77.65</td><td>81.09</td><td>167.53</td><td>907.4</td><td>554.14</td><td>57.63</td><td>132.89</td></tr>
<tr><td>No. of Equity Shares</td><td>413954450</td><td>416207852</td><td>416207852</td><td>416207852</td><td>416207852</td><td>416207852</td><td>416207852</td><td>416207852</td><td>416207852</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>1063.78</td><td>-26.52</td><td>1279.5</td><td>1171.53</td><td>-1129.87</td><td>827.09</td><td>6943.55</td><td>-24.23</td><td>3239.26</td><td>3326.75</td></tr>
<tr><td>Cash from Investing Activity</td><td>-149.26</td><td>-347.53</td><td>-703.31</td><td>-1784.46</td><td>-1131.51</td><td>-462.31</td><td>-194.92</td><td>-118.87</td><td>-1872.36</td><td>-382.48</td></tr>
<tr><td>Cash from Financing Activity</td><td>-936.98</td><td>361.99</td><td>-499.88</td><td>563.88</td><td>2263</td><td>-283.19</td><td>-6006.85</td><td>-212.79</td><td>-1861.99</td><td>-2871.41</td></tr>
<tr><td>Net Cash Flow</td><td>-22.46</td><td>-12.05</td><td>76.31</td><td>-49.05</td><td>1.62</td><td>81.59</td><td>741.78</td><td>-355.89</td><td>-495.09</td><td>72.86</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>67.55</td><td>54.9</td><td>86.75</td><td>164.65</td><td>167.05</td><td>108.45</td><td>229.05</td><td>422.1</td><td>264.1</td><td>342</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>41.62</td><td>40.07</td></tr>
</table>
</body>
</html>