<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Chemplast Sanmar</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CHEMPLAST SANMAR LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>457.45</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7238.71</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>1254.34</td><td>1257.66</td><td>3798.73</td><td>5891.99</td><td>4941.08</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td>408.15</td><td>436.52</td><td>2095.92</td><td>3731.96</td><td>3205.58</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td>8.01</td><td>15.15</td><td>-26.28</td><td>16.94</td><td>-6.12</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>328.57</td><td>287.79</td><td>299.53</td><td>476.78</td><td>669.9</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>62.66</td><td>70.56</td><td>116.86</td><td>163.05</td><td>187.94</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>77.8</td><td>82.81</td><td>113.58</td><td>120.05</td><td>147.21</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>36.14</td><td>49.59</td><td>81.5</td><td>115.63</td><td>145.49</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>63.41</td><td>98.87</td><td>437.17</td><td>104.65</td><td>110.7</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>12.44</td><td>7.85</td><td>483.53</td><td>57.48</td><td>-0.61</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>56.38</td><td>87.36</td><td>131.09</td><td>137.13</td><td>142</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>48.28</td><td>95.46</td><td>433.36</td><td>321.61</td><td>154.02</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>193.4</td><td>71.7</td><td>546.97</td><td>795.55</td><td>171.51</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>74.94</td><td>25.57</td><td>136.9</td><td>146.9</td><td>19.16</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>118.46</td><td>46.13</td><td>410.09</td><td>648.65</td><td>152.35</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1672.99</td><td>1451.68</td><td>1806.95</td><td>1411.3</td><td>1194.37</td><td>1188.58</td><td>1146.83</td><td>996.41</td><td>987.75</td><td>888.1</td></tr>
<tr><td>Expenses</td><td>1326.59</td><td>1098.92</td><td>1460.49</td><td>1217.16</td><td>1095.94</td><td>1110.43</td><td>1049.41</td><td>1030.93</td><td>941.8</td><td>894.67</td></tr>
<tr><td>Other Income</td><td>21.81</td><td>13.05</td><td>8.75</td><td>-64.75</td><td>16.69</td><td>16.52</td><td>30.93</td><td>17.97</td><td>37.23</td><td>12.65</td></tr>
<tr><td>Depreciation</td><td>33.08</td><td>33.03</td><td>40.21</td><td>40.55</td><td>33.35</td><td>34.64</td><td>33.46</td><td>32.45</td><td>35.33</td><td>37.61</td></tr>
<tr><td>Interest</td><td>148.92</td><td>37.37</td><td>34.9</td><td>36.19</td><td>39.97</td><td>39.46</td><td>38.4</td><td>44.16</td><td>38.6</td><td>46.81</td></tr>
<tr><td>Profit before tax</td><td>186.21</td><td>295.41</td><td>280.1</td><td>52.65</td><td>41.8</td><td>20.57</td><td>56.49</td><td>-93.16</td><td>9.25</td><td>-78.34</td></tr>
<tr><td>Tax</td><td>34.87</td><td>58.55</td><td>48.46</td><td>12.06</td><td>3.26</td><td>-6.57</td><td>10.41</td><td>-29.19</td><td>-16.8</td><td>11.04</td></tr>
<tr><td>Net profit</td><td>151.34</td><td>236.86</td><td>231.64</td><td>40.59</td><td>38.54</td><td>27.14</td><td>46.08</td><td>-63.97</td><td>26.05</td><td>-89.38</td></tr>
<tr><td>Operating Profit</td><td>346.4</td><td>352.76</td><td>346.46</td><td>194.14</td><td>98.43</td><td>78.15</td><td>97.42</td><td>-34.52</td><td>45.95</td><td>-6.57</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td>67.04</td><td>67.04</td><td>67.04</td><td>79.06</td><td>79.06</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>2432.74</td><td>1845.48</td><td>-416.53</td><td>1625.98</td><td>1779.4</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>252.99</td><td>82.07</td><td>943.31</td><td>881.53</td><td>1019.26</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>1048.79</td><td>2112.95</td><td>3892.7</td><td>3015.49</td><td>2959.05</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>3801.56</td><td>4107.54</td><td>4486.52</td><td>5602.06</td><td>5836.77</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>2107.99</td><td>2174.22</td><td>3147.92</td><td>3259</td><td>3185.92</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>117.24</td><td>8.38</td><td>25.08</td><td>33.65</td><td>401.82</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>1158.79</td><td>1457.54</td><td>0.04</td><td>0.04</td><td>0.04</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>417.54</td><td>467.4</td><td>1313.48</td><td>2309.37</td><td>2248.99</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>3801.56</td><td>4107.54</td><td>4486.52</td><td>5602.06</td><td>5836.77</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>66.9</td><td>48.2</td><td>73.93</td><td>189.85</td><td>142.64</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td>200.32</td><td>181.83</td><td>407.09</td><td>711.05</td><td>643.1</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>52.24</td><td>112.71</td><td>651.26</td><td>1229.19</td><td>1191.89</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td>67040000</td><td>67040000</td><td>134080000</td><td>158109574</td><td>158109574</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>166.06</td><td>1076.39</td><td>900.95</td><td>355.43</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-437.67</td><td>2151.59</td><td>108.18</td><td>-217.21</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>298.11</td><td>-3016.66</td><td>-312.87</td><td>-26.99</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td>26.5</td><td>211.32</td><td>696.26</td><td>111.23</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td>14.87</td><td>14.87</td><td>14.87</td><td>665.15</td><td>347.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>8</td><td>6.7</td><td>13.41</td><td>15.81</td><td>15.81</td></tr>
</table>
</body>
</html>