<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\CMS Info Systems</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CMS INFO SYSTEMS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>399.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6496.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>783.36</td><td>741.85</td><td>902.97</td><td>1162.06</td><td>1130.9</td><td>1407.67</td><td>1703.8</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>66.78</td><td>51.26</td><td>101.16</td><td>181.46</td><td>206.95</td><td>136.09</td><td>113.21</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td>-14.83</td><td>10.63</td><td>11.39</td><td>-9.86</td><td>27.31</td><td>-17.71</td><td>-2.97</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>4.7</td><td>4.76</td><td>6.81</td><td>7.58</td><td>8.05</td><td>11.05</td><td>19.19</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>29.15</td><td>23.22</td><td>50.64</td><td>41.64</td><td>24.07</td><td>29.58</td><td>51.54</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>59.5</td><td>70.55</td><td>64.43</td><td>73.6</td><td>75.04</td><td>72.98</td><td>90.96</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>437.96</td><td>446.92</td><td>493.38</td><td>552.15</td><td>524.22</td><td>674.09</td><td>818.24</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>36.16</td><td>33.9</td><td>49.54</td><td>65.48</td><td>57.86</td><td>93.08</td><td>126.1</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>6.97</td><td>15.42</td><td>17.8</td><td>5.91</td><td>14.29</td><td>13.49</td><td>26.78</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>21.4</td><td>20.82</td><td>25.8</td><td>48.18</td><td>58.05</td><td>87.58</td><td>124.19</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>4.55</td><td>0.81</td><td>0.27</td><td>6.62</td><td>7.66</td><td>14.08</td><td>19.1</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>115.3</td><td>115.66</td><td>140.13</td><td>181.4</td><td>210.6</td><td>284.92</td><td>365.08</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>40.77</td><td>39.49</td><td>48.94</td><td>53.74</td><td>58.92</td><td>71.45</td><td>89.68</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>74.54</td><td>76.17</td><td>91.2</td><td>127.66</td><td>151.68</td><td>213.47</td><td>275.41</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td>26.64</td><td>22.64</td><td>38.75</td><td>73.34</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>325.58</td><td>354.28</td><td>398.83</td><td>399.41</td><td>417.39</td><td>437.74</td><td>449.26</td><td>456.57</td><td>486.61</td><td>522.95</td></tr>
<tr><td>Expenses</td><td>236.74</td><td>251.98</td><td>294.11</td><td>292.26</td><td>302.27</td><td>317.93</td><td>309.77</td><td>322.18</td><td>359.08</td><td>393.87</td></tr>
<tr><td>Other Income</td><td>1.15</td><td>8.91</td><td>1.92</td><td>16.53</td><td>2.08</td><td>4.49</td><td>3.69</td><td>5.79</td><td>6.5</td><td>31.42</td></tr>
<tr><td>Depreciation</td><td>21.41</td><td>21.43</td><td>26.31</td><td>27.85</td><td>32.19</td><td>30.71</td><td>33.44</td><td>34.38</td><td>34.41</td><td>35.74</td></tr>
<tr><td>Interest</td><td>3.84</td><td>2.91</td><td>4.24</td><td>4.43</td><td>4.92</td><td>4.56</td><td>5.18</td><td>4.17</td><td>4.02</td><td>3.88</td></tr>
<tr><td>Profit before tax</td><td>64.74</td><td>86.87</td><td>76.09</td><td>91.4</td><td>80.09</td><td>89.03</td><td>104.56</td><td>101.63</td><td>95.6</td><td>120.88</td></tr>
<tr><td>Tax</td><td>15.68</td><td>20.59</td><td>20.29</td><td>19.5</td><td>20.67</td><td>22.27</td><td>27.24</td><td>26.3</td><td>24.43</td><td>24.47</td></tr>
<tr><td>Net profit</td><td>49.06</td><td>66.27</td><td>55.79</td><td>71.9</td><td>59.42</td><td>66.76</td><td>77.32</td><td>75.33</td><td>71.18</td><td>96.4</td></tr>
<tr><td>Operating Profit</td><td>88.84</td><td>102.3</td><td>104.72</td><td>107.15</td><td>115.12</td><td>119.81</td><td>139.49</td><td>134.39</td><td>127.53</td><td>129.08</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td>148</td><td>148</td><td>148</td><td>148</td><td>148</td><td>153.15</td><td>154.4</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td>412.91</td><td>522.5</td><td>589.41</td><td>685.9</td><td>803.2</td><td>1058.76</td><td>1342.31</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>7.2</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>160.83</td><td>171.4</td><td>196.54</td><td>434.2</td><td>580.3</td><td>549.48</td><td>499.95</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>728.94</td><td>841.9</td><td>933.95</td><td>1268.1</td><td>1531.5</td><td>1761.39</td><td>1996.66</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>162.24</td><td>162.1</td><td>204.42</td><td>328.1</td><td>440.18</td><td>637.23</td><td>752.72</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>1.46</td><td>0.28</td><td>2.55</td><td>3.85</td><td>23.15</td><td>42.42</td><td>19.85</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>142.78</td><td>215.02</td><td>195.11</td><td>240.44</td><td>280.77</td><td>266.32</td><td>425.65</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td>422.46</td><td>464.5</td><td>531.87</td><td>695.71</td><td>787.4</td><td>815.42</td><td>798.44</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>728.94</td><td>841.9</td><td>933.95</td><td>1268.1</td><td>1531.5</td><td>1761.39</td><td>1996.66</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>123.32</td><td>113.77</td><td>133.91</td><td>223.65</td><td>424.2</td><td>427</td><td>450.53</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>10.85</td><td>23.65</td><td>41.64</td><td>43.04</td><td>89.47</td><td>62.93</td><td>74.17</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td>15.06</td><td>64.92</td><td>123.79</td><td>180.55</td><td>142.6</td><td>95.6</td><td>104.76</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td>148000000</td><td>148000000</td><td>148000000</td><td>148000000</td><td>148000000</td><td>153152747</td><td>154400078</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>120.55</td><td>150.26</td><td>74</td><td>203.96</td><td>100.4</td><td>219.17</td><td>382.14</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-65.37</td><td>-90.97</td><td>5.42</td><td>-105.92</td><td>-89.83</td><td>-284.42</td><td>-322.67</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-56.91</td><td>-4.78</td><td>-28.7</td><td>-55.93</td><td>-60.1</td><td>1.89</td><td>-50.95</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>-1.73</td><td>54.52</td><td>50.72</td><td>42.12</td><td>-49.53</td><td>-63.37</td><td>8.52</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>264.95</td><td>276.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td>14.8</td><td>14.8</td><td>14.8</td><td>14.8</td><td>14.8</td><td>15.32</td><td>15.44</td></tr>
</table>
</body>
</html>