<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Coal India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>COAL INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>443.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>273375.86</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>74120.07</td><td>77861.32</td><td>78163.6</td><td>85244.24</td><td>99585.61</td><td>96080.34</td><td>90026.01</td><td>109715.42</td><td>138251.91</td><td>142323.98</td></tr>
<tr><td>Raw Material Cost</td><td>7256.44</td><td>7039.76</td><td></td><td></td><td></td><td>60.8</td><td>282.34</td><td>103.56</td><td>469.74</td><td>11580.04</td></tr>
<tr><td>Change in Inventory</td><td>530.48</td><td>1444.22</td><td>1238.38</td><td>-1679.46</td><td>-856.24</td><td>1042.5</td><td>2351.26</td><td>-2308.49</td><td>678.12</td><td>1521.5</td></tr>
<tr><td>Power and Fuel</td><td>2347.28</td><td>2490.54</td><td>2546.45</td><td>2516.42</td><td>2443.08</td><td>2467.22</td><td>2524.67</td><td>2638.46</td><td>2759.89</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>9770.94</td><td>12370.09</td><td>20624.08</td><td>21077.21</td><td>22274.92</td><td>22456.96</td><td>25278.3</td><td>30039.47</td><td>38739.07</td><td></td></tr>
<tr><td>Employee Cost</td><td>29874.12</td><td>30126.78</td><td>33522.88</td><td>42621.84</td><td>38772.85</td><td>39404.18</td><td>38592.42</td><td>40473.21</td><td>49409.16</td><td>48782.58</td></tr>
<tr><td>Selling and admin</td><td>2816.96</td><td>3291.82</td><td>3962.63</td><td>3383.99</td><td>3681.45</td><td>3544.99</td><td>3372.83</td><td>3861.53</td><td>4490.27</td><td></td></tr>
<tr><td>Other Expenses</td><td>5241.81</td><td>5272.09</td><td>6298.04</td><td>4677.09</td><td>6550.29</td><td>7608.03</td><td>3699.19</td><td>5570.19</td><td>6252.17</td><td>35511.37</td></tr>
<tr><td>Other Income</td><td>6569.8</td><td>5938.91</td><td>5315.61</td><td>4974.88</td><td>5834.13</td><td>6444.41</td><td>3741.81</td><td>3865.93</td><td>6550.66</td><td>8395.91</td></tr>
<tr><td>Depreciation</td><td>2319.8</td><td>2825.91</td><td>2906.75</td><td>3062.7</td><td>3450.36</td><td>3450.83</td><td>3717.85</td><td>4428.67</td><td>4675.27</td><td>6735.42</td></tr>
<tr><td>Interest</td><td>9.09</td><td>387.67</td><td>410.44</td><td>430.1</td><td>263.68</td><td>502.92</td><td>642.24</td><td>541.49</td><td>684.31</td><td>819.37</td></tr>
<tr><td>Profit before tax</td><td>21583.91</td><td>21439.79</td><td>14446.32</td><td>10770.31</td><td>27126.87</td><td>24071.32</td><td>18009.24</td><td>23616.28</td><td>38000.81</td><td>48812.61</td></tr>
<tr><td>Tax</td><td>7857.3</td><td>7171.87</td><td>5164.79</td><td>3732.31</td><td>9662.45</td><td>7370.98</td><td>5307.07</td><td>6237.86</td><td>9875.87</td><td>11443.48</td></tr>
<tr><td>Net profit</td><td>13726.7</td><td>14266.78</td><td>9280.02</td><td>7038.56</td><td>17463.07</td><td>16714.19</td><td>12699.89</td><td>17358.1</td><td>28165.19</td><td>37402.29</td></tr>
<tr><td>Dividend Amount</td><td>13074.87</td><td>17306.83</td><td>12352.75</td><td>10242.23</td><td>8073.18</td><td>7395.28</td><td>9860.37</td><td>10476.64</td><td>14944.62</td><td>15714.96</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>28433.5</td><td>32708.69</td><td>35092.17</td><td>29838.07</td><td>35169.33</td><td>38152.34</td><td>35983.21</td><td>32776.41</td><td>36153.97</td><td>37410.39</td></tr>
<tr><td>Expenses</td><td>21611.22</td><td>23606.76</td><td>22865.32</td><td>22699.54</td><td>24780.61</td><td>28819.04</td><td>25492.38</td><td>24639.41</td><td>23133.28</td><td>26072.79</td></tr>
<tr><td>Other Income</td><td>652.85</td><td>1766.59</td><td>994.51</td><td>1761.17</td><td>1670.79</td><td>2290.83</td><td>1537.82</td><td>2073.65</td><td>2488.96</td><td>2318.5</td></tr>
<tr><td>Depreciation</td><td>1041.32</td><td>1412.35</td><td>993.75</td><td>1077.07</td><td>1261.97</td><td>1859.57</td><td>1138.38</td><td>1178.16</td><td>1648.71</td><td>1993.44</td></tr>
<tr><td>Interest</td><td>131.61</td><td>120.9</td><td>150.23</td><td>135.15</td><td>203.86</td><td>195.07</td><td>177.94</td><td>182.48</td><td>226.77</td><td>232.18</td></tr>
<tr><td>Profit before tax</td><td>6302.2</td><td>9335.27</td><td>12077.38</td><td>7687.48</td><td>10593.68</td><td>9569.49</td><td>10712.33</td><td>8850.01</td><td>13634.17</td><td>11430.48</td></tr>
<tr><td>Tax</td><td>1745.66</td><td>2620.27</td><td>3243.16</td><td>1643.49</td><td>2874.57</td><td>2700.03</td><td>2770.93</td><td>2036.51</td><td>3479.49</td><td>2790.03</td></tr>
<tr><td>Net profit</td><td>4558.39</td><td>6692.94</td><td>8832.86</td><td>6043.55</td><td>7755.55</td><td>6875.07</td><td>7971.04</td><td>6799.77</td><td>10130.18</td><td>8682.2</td></tr>
<tr><td>Operating Profit</td><td>6822.28</td><td>9101.93</td><td>12226.85</td><td>7138.53</td><td>10388.72</td><td>9333.3</td><td>10490.83</td><td>8137</td><td>13020.69</td><td>11337.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>6316.36</td><td>6316.36</td><td>6207.41</td><td>6207.41</td><td>6162.73</td><td>6162.73</td><td>6162.73</td><td>6162.73</td><td>6162.73</td><td>6162.73</td></tr>
<tr><td>Reserves</td><td>34036.71</td><td>28516.8</td><td>18310.68</td><td>13971.33</td><td>20292.41</td><td>25994.19</td><td>30354.63</td><td>36980.31</td><td>51082.16</td><td>76567.05</td></tr>
<tr><td>Borrowings</td><td>408.32</td><td>1198.79</td><td>3014.47</td><td>1537.72</td><td>2209.94</td><td>6433.77</td><td>5884.23</td><td>3513.64</td><td>4331.42</td><td>6523.03</td></tr>
<tr><td>Other Liabilities</td><td>70505.3</td><td>77528.31</td><td>91054.43</td><td>103754.21</td><td>104356.37</td><td>111429.75</td><td>118649.25</td><td>132779.65</td><td>148299.66</td><td>148419.45</td></tr>
<tr><td>Total</td><td>111266.69</td><td>113560.26</td><td>118586.99</td><td>125470.67</td><td>133021.45</td><td>150020.44</td><td>161050.84</td><td>179436.33</td><td>209875.97</td><td>237672.26</td></tr>
<tr><td>Net Block</td><td>16115.04</td><td>22082.49</td><td>23811.37</td><td>27574.09</td><td>32618.32</td><td>36783.61</td><td>42405.22</td><td>46676.96</td><td>51960.93</td><td>79889.84</td></tr>
<tr><td>Capital Work in Progress</td><td>5159.37</td><td>4553.22</td><td>8585.22</td><td>10272.7</td><td>9657.68</td><td>8328.25</td><td>10489.83</td><td>12897.14</td><td>17621.97</td><td>14738.66</td></tr>
<tr><td>Investments</td><td>2813.44</td><td>2906.07</td><td>1482.86</td><td>1703.63</td><td>3169.8</td><td>1972.87</td><td>5950.23</td><td>8920.6</td><td>7139.41</td><td>7110.41</td></tr>
<tr><td>Other Assets</td><td>87178.84</td><td>84018.48</td><td>84707.54</td><td>85920.25</td><td>87575.65</td><td>102935.71</td><td>102205.56</td><td>110941.63</td><td>133153.66</td><td>135933.35</td></tr>
<tr><td>Total</td><td>111266.69</td><td>113560.26</td><td>118586.99</td><td>125470.67</td><td>133021.45</td><td>150020.44</td><td>161050.84</td><td>179436.33</td><td>209875.97</td><td>237672.26</td></tr>
<tr><td>Receivables</td><td>8521.88</td><td>11447.61</td><td>12476.27</td><td>6257.8</td><td>5498.55</td><td>14408.22</td><td>19623.12</td><td>11367.68</td><td>13060.48</td><td>13255.75</td></tr>
<tr><td>Inventory</td><td>6909.05</td><td>8301.23</td><td>9717.04</td><td>6443.85</td><td>5583.93</td><td>6617.98</td><td>8947.47</td><td>7075.68</td><td>8154.68</td><td>10177.23</td></tr>
<tr><td>Cash & Bank</td><td>47268.89</td><td>38014.91</td><td>31149.19</td><td>31279.98</td><td>31124.23</td><td>28448.96</td><td>17310.3</td><td>29965.23</td><td>39921.85</td><td>30235.17</td></tr>
<tr><td>No. of Equity Shares</td><td>6316364400</td><td>6316364400</td><td>6207409177</td><td>6207409177</td><td>6162728327</td><td>6162728327</td><td>6162728327</td><td>6162728327</td><td>6162728327</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>14381.53</td><td>13153.77</td><td>16460.84</td><td>21114.92</td><td>16355.52</td><td>4977.24</td><td>10592.42</td><td>41106.77</td><td>35686.21</td><td>18103.1</td></tr>
<tr><td>Cash from Investing Activity</td><td>894.3</td><td>8154.09</td><td>454.64</td><td>-7746.94</td><td>-7896.46</td><td>1032.84</td><td>181.9</td><td>-25714.51</td><td>-23422.99</td><td>-4485.8</td></tr>
<tr><td>Cash from Financing Activity</td><td>-15025.71</td><td>-19587.35</td><td>-17597.97</td><td>-13564.22</td><td>-10884.84</td><td>-4790.87</td><td>-8453.14</td><td>-13441.24</td><td>-13661.14</td><td>-13899.27</td></tr>
<tr><td>Net Cash Flow</td><td>250.12</td><td>1720.51</td><td>-682.49</td><td>-196.24</td><td>-2425.78</td><td>1219.21</td><td>2321.18</td><td>1951.02</td><td>-1397.92</td><td>-281.97</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>362.9</td><td>291.95</td><td>292.65</td><td>283.3</td><td>237.2</td><td>140.05</td><td>130.35</td><td>183.05</td><td>213.65</td><td>434.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>631.64</td><td>631.64</td><td>620.74</td><td>620.74</td><td>616.27</td><td>616.27</td><td>616.27</td><td>616.27</td><td>616.27</td><td>616.27</td></tr>
</table>
</body>
</html>