<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Coforge</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>COFORGE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>4301.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>26618.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2372.5</td><td>2687.9</td><td>2802.1</td><td>2991.4</td><td>3676.2</td><td>4183.9</td><td>4662.8</td><td>6432</td><td>8014.6</td><td>9179</td></tr>
<tr><td>Raw Material Cost</td><td>97.76</td><td>30.8</td><td>14.1</td><td>31.7</td><td>29.1</td><td>84.4</td><td>193.5</td><td>172.4</td><td>55.1</td><td>9.4</td></tr>
<tr><td>Change in Inventory</td><td>3.28</td><td>-8.3</td><td>0.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>15.46</td><td>16.7</td><td>18.5</td><td>18.5</td><td>17.7</td><td>16.9</td><td>12.4</td><td>13.9</td><td>15.8</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>119.81</td><td>149.5</td><td>144.5</td><td>132.4</td><td>166.6</td><td>191.3</td><td>241.7</td><td>383.1</td><td>594.4</td><td></td></tr>
<tr><td>Employee Cost</td><td>1333.15</td><td>1541.9</td><td>1651.3</td><td>1760.1</td><td>2153.2</td><td>2529.8</td><td>2815.8</td><td>3834.6</td><td>4828</td><td>5506.9</td></tr>
<tr><td>Selling and admin</td><td>384.71</td><td>426.2</td><td>441.1</td><td>513.7</td><td>622.4</td><td>598.4</td><td>552.4</td><td>873.4</td><td>1188.9</td><td></td></tr>
<tr><td>Other Expenses</td><td>88.04</td><td>40.4</td><td>52.7</td><td>33</td><td>36.8</td><td>38.5</td><td>65.9</td><td>52.7</td><td>50.4</td><td>2235</td></tr>
<tr><td>Other Income</td><td>-63.63</td><td>19.9</td><td>4.3</td><td>38.4</td><td>46</td><td>59.3</td><td>13</td><td>51.8</td><td>8.3</td><td>61.4</td></tr>
<tr><td>Depreciation</td><td>91.64</td><td>121.1</td><td>127.7</td><td>127.4</td><td>124.8</td><td>173</td><td>183.6</td><td>227.2</td><td>258.5</td><td>318.6</td></tr>
<tr><td>Interest</td><td>5.67</td><td>7.5</td><td>6</td><td>9.4</td><td>9.2</td><td>15.5</td><td>14.3</td><td>65</td><td>80.6</td><td>125.6</td></tr>
<tr><td>Profit before tax</td><td>175.91</td><td>365.4</td><td>350.6</td><td>403.6</td><td>562.4</td><td>595.4</td><td>596.2</td><td>861.5</td><td>951.2</td><td>1044.9</td></tr>
<tr><td>Tax</td><td>53.99</td><td>78.4</td><td>78.5</td><td>94.9</td><td>140.3</td><td>127.8</td><td>130.2</td><td>146.8</td><td>206.1</td><td>209.3</td></tr>
<tr><td>Net profit</td><td>114.07</td><td>270</td><td>250.1</td><td>280.2</td><td>403.3</td><td>444</td><td>455.6</td><td>661.7</td><td>693.8</td><td>808</td></tr>
<tr><td>Dividend Amount</td><td>57.99</td><td>61.2</td><td>76.75</td><td>92.25</td><td></td><td>193.75</td><td>78.78</td><td>316.68</td><td>391.04</td><td>352.26</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1658.1</td><td>1742.9</td><td>1829.4</td><td>1959.4</td><td>2055.8</td><td>2170</td><td>2221</td><td>2276.2</td><td>2323.3</td><td>2358.5</td></tr>
<tr><td>Expenses</td><td>1354.8</td><td>1430.4</td><td>1540.8</td><td>1622.3</td><td>1696.3</td><td>1874.5</td><td>1915</td><td>1935.3</td><td>1928.2</td><td>1972.8</td></tr>
<tr><td>Other Income</td><td>4.8</td><td>23.2</td><td>14</td><td>13.5</td><td>31.8</td><td>-49.7</td><td>16</td><td>8.9</td><td>15</td><td>21.5</td></tr>
<tr><td>Depreciation</td><td>56.6</td><td>58.4</td><td>63</td><td>61.4</td><td>62.4</td><td>71.7</td><td>75.7</td><td>77.2</td><td>81.1</td><td>84.6</td></tr>
<tr><td>Interest</td><td>18.3</td><td>18.3</td><td>18.4</td><td>21.2</td><td>21.5</td><td>19.5</td><td>22.1</td><td>31.9</td><td>34.6</td><td>37</td></tr>
<tr><td>Profit before tax</td><td>233.2</td><td>259</td><td>221.2</td><td>268</td><td>307.4</td><td>154.6</td><td>224.2</td><td>240.7</td><td>294.4</td><td>285.6</td></tr>
<tr><td>Tax</td><td>36</td><td>34.2</td><td>49.3</td><td>47.4</td><td>71.5</td><td>37.9</td><td>48.5</td><td>52.8</td><td>51.6</td><td>56.4</td></tr>
<tr><td>Net profit</td><td>183.7</td><td>207.7</td><td>149.7</td><td>201.1</td><td>228.2</td><td>114.8</td><td>165.3</td><td>181</td><td>238</td><td>223.7</td></tr>
<tr><td>Operating Profit</td><td>303.3</td><td>312.5</td><td>288.6</td><td>337.1</td><td>359.5</td><td>295.5</td><td>306</td><td>340.9</td><td>395.1</td><td>385.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>61.04</td><td>61.2</td><td>61.4</td><td>61.5</td><td>61.8</td><td>62.5</td><td>60.6</td><td>60.9</td><td>61.1</td><td>61.8</td></tr>
<tr><td>Reserves</td><td>1296.3</td><td>1511.4</td><td>1625.1</td><td>1712.5</td><td>2010.5</td><td>2334</td><td>2405.5</td><td>2672.2</td><td>3021.4</td><td>3564.8</td></tr>
<tr><td>Borrowings</td><td>8.62</td><td>10.4</td><td>25.4</td><td>22.5</td><td>13.6</td><td>35.2</td><td>82.6</td><td>489.6</td><td>562.2</td><td>726</td></tr>
<tr><td>Other Liabilities</td><td>610.75</td><td>701.9</td><td>695</td><td>827.8</td><td>748</td><td>968.4</td><td>935.2</td><td>1655.1</td><td>1980.4</td><td>1755.1</td></tr>
<tr><td>Total</td><td>1976.71</td><td>2284.9</td><td>2406.9</td><td>2624.3</td><td>2833.9</td><td>3400.1</td><td>3483.9</td><td>4877.8</td><td>5625.1</td><td>6107.7</td></tr>
<tr><td>Net Block</td><td>557.89</td><td>902.6</td><td>847.6</td><td>879.3</td><td>818.7</td><td>1079.3</td><td>1020.6</td><td>2066.7</td><td>2311.9</td><td>2353</td></tr>
<tr><td>Capital Work in Progress</td><td>120.31</td><td>16.7</td><td></td><td>0.7</td><td>1.4</td><td>0.3</td><td>0.2</td><td>16.8</td><td>4.6</td><td>23.2</td></tr>
<tr><td>Investments</td><td>55.36</td><td>74.6</td><td>315.8</td><td>365.2</td><td>365.1</td><td>13.7</td><td>12.4</td><td></td><td></td><td></td></tr>
<tr><td>Other Assets</td><td>1243.15</td><td>1291</td><td>1243.5</td><td>1379.1</td><td>1648.7</td><td>2306.8</td><td>2450.7</td><td>2794.3</td><td>3308.6</td><td>3731.5</td></tr>
<tr><td>Total</td><td>1976.71</td><td>2284.9</td><td>2406.9</td><td>2624.3</td><td>2833.9</td><td>3400.1</td><td>3483.9</td><td>4877.8</td><td>5625.1</td><td>6107.7</td></tr>
<tr><td>Receivables</td><td>605.99</td><td>590.1</td><td>468</td><td>585.8</td><td>587.7</td><td>856.5</td><td>1068.3</td><td>1389.4</td><td>1613.1</td><td>1803.9</td></tr>
<tr><td>Inventory</td><td>8.51</td><td>0.3</td><td>0.3</td><td>0.3</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>269.25</td><td>336.2</td><td>407.5</td><td>418.3</td><td>557.6</td><td>903.4</td><td>812.2</td><td>453.5</td><td>578.7</td><td>335.2</td></tr>
<tr><td>No. of Equity Shares</td><td>61044899</td><td>61186524</td><td>61362174</td><td>61456124</td><td>61783874</td><td>62494559</td><td>60592349</td><td>60913152</td><td>61087080</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>257.99</td><td>360.1</td><td>472.3</td><td>382.4</td><td>452.7</td><td>296.9</td><td>762.3</td><td>765.6</td><td>950.5</td><td>903.4</td></tr>
<tr><td>Cash from Investing Activity</td><td>-184.4</td><td>-223.3</td><td>-343.1</td><td>-248</td><td>-237.2</td><td>135.9</td><td>-86.1</td><td>-962.9</td><td>-269.2</td><td>-247.8</td></tr>
<tr><td>Cash from Financing Activity</td><td>-66.42</td><td>-72.7</td><td>-66.9</td><td>-74.4</td><td>-106.3</td><td>-132.7</td><td>-695.8</td><td>-155.8</td><td>-558.2</td><td>-887</td></tr>
<tr><td>Net Cash Flow</td><td>7.18</td><td>64.1</td><td>62.3</td><td>60</td><td>109.2</td><td>300.1</td><td>-19.6</td><td>-353.1</td><td>123.1</td><td>-231.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>349.3</td><td>496.7</td><td>435.6</td><td>865</td><td>1325.85</td><td>1147.75</td><td>2926.95</td><td>4457.5</td><td>3814.1</td><td>5502.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>6.1</td><td>6.12</td><td>6.14</td><td>6.15</td><td>6.18</td><td>6.25</td><td>6.06</td><td>6.09</td><td>6.11</td><td>6.18</td></tr>
</table>
</body>
</html>