<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Craftsman Auto</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CRAFTSMAN AUTOMATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>4302.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9097.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td>1101.87</td><td>1479.09</td><td>1818.01</td><td>1492.46</td><td>1559.95</td><td>2217.02</td><td>3182.6</td><td>4451.73</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td>406.26</td><td></td><td>710.49</td><td>571.71</td><td>672.75</td><td>1065.49</td><td>1699.64</td><td>2521.53</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td>21.92</td><td>15.92</td><td>7.02</td><td>-15.07</td><td>6.22</td><td>31.44</td><td>70.21</td><td>150.22</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td>66.17</td><td>85.6</td><td>96.64</td><td>85.09</td><td>82.1</td><td>112.54</td><td>166.06</td><td>262.51</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td>181.32</td><td>823.68</td><td>252.7</td><td>197.26</td><td>171.97</td><td>265.59</td><td>349.82</td><td>489.04</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td>156.88</td><td>205.86</td><td>229.91</td><td>155.52</td><td>144.83</td><td>187.97</td><td>233.75</td><td>288.74</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td>77.17</td><td>80.04</td><td>86.28</td><td>66.12</td><td>53.14</td><td>80.62</td><td>115.82</td><td>156.49</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td>7.79</td><td>6.23</td><td>6.37</td><td>3.74</td><td>3.14</td><td>2.09</td><td>4.11</td><td>4.81</td></tr>
<tr><td>Other Income</td><td></td><td></td><td>10.9</td><td>11.58</td><td>14.04</td><td>2.82</td><td>10.25</td><td>7.78</td><td>13.02</td><td>18.09</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td>112.77</td><td>149.15</td><td>176.15</td><td>196.4</td><td>192.45</td><td>205.99</td><td>221.61</td><td>277.69</td></tr>
<tr><td>Interest</td><td></td><td></td><td>89.66</td><td>112.48</td><td>140.55</td><td>148.6</td><td>107.28</td><td>84.22</td><td>120.23</td><td>174.54</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td>36.67</td><td>43.55</td><td>139.98</td><td>55.77</td><td>148.76</td><td>251.73</td><td>354.79</td><td>444.69</td></tr>
<tr><td>Tax</td><td></td><td></td><td>-43.07</td><td>12.01</td><td>42.62</td><td>15.76</td><td>51.4</td><td>88.64</td><td>103.83</td><td>107.36</td></tr>
<tr><td>Net profit</td><td></td><td></td><td>79.74</td><td>31.53</td><td>97.37</td><td>40.01</td><td>97.36</td><td>163.09</td><td>248.39</td><td>304.47</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td>1.01</td><td>5.03</td><td></td><td></td><td>7.92</td><td>23.76</td><td>23.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>554.15</td><td>656.67</td><td>676.96</td><td>776.24</td><td>749.03</td><td>980.37</td><td>1037.63</td><td>1179.06</td><td>1129.7</td><td>1105.34</td></tr>
<tr><td>Expenses</td><td>426.34</td><td>501.66</td><td>512.28</td><td>604.05</td><td>590.73</td><td>791.93</td><td>823.4</td><td>941.56</td><td>909.5</td><td>898.44</td></tr>
<tr><td>Other Income</td><td>2.02</td><td>4.35</td><td>1.36</td><td>1.84</td><td>4.82</td><td>5</td><td>3.9</td><td>4.96</td><td>3.62</td><td>5.61</td></tr>
<tr><td>Depreciation</td><td>52.11</td><td>54.49</td><td>53.23</td><td>54.69</td><td>53.76</td><td>59.93</td><td>68.29</td><td>66.83</td><td>70.28</td><td>72.29</td></tr>
<tr><td>Interest</td><td>20.19</td><td>23.78</td><td>25.41</td><td>23.28</td><td>29.63</td><td>41.91</td><td>42.39</td><td>41.58</td><td>44.17</td><td>46.4</td></tr>
<tr><td>Profit before tax</td><td>57.53</td><td>81.09</td><td>87.4</td><td>96.06</td><td>79.73</td><td>91.6</td><td>107.45</td><td>134.05</td><td>109.37</td><td>93.82</td></tr>
<tr><td>Tax</td><td>19.93</td><td>29.63</td><td>30.76</td><td>33.58</td><td>28.12</td><td>11.37</td><td>26.61</td><td>29.56</td><td>27.9</td><td>23.29</td></tr>
<tr><td>Net profit</td><td>37.6</td><td>51.46</td><td>56.64</td><td>62.48</td><td>51.61</td><td>77.66</td><td>74.48</td><td>94.54</td><td>73.12</td><td>62.33</td></tr>
<tr><td>Operating Profit</td><td>127.81</td><td>155.01</td><td>164.68</td><td>172.19</td><td>158.3</td><td>188.44</td><td>214.23</td><td>237.5</td><td>220.2</td><td>206.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td>5.75</td><td>10.06</td><td>10.06</td><td>10.06</td><td>10.56</td><td>10.56</td><td>10.56</td><td>10.56</td></tr>
<tr><td>Reserves</td><td></td><td></td><td>565.97</td><td>586.6</td><td>673.2</td><td>711.53</td><td>958.87</td><td>1125.18</td><td>1366.34</td><td>1647.42</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td>777.03</td><td>846.69</td><td>985.26</td><td>1058.43</td><td>805.98</td><td>799.55</td><td>1240.23</td><td>1754.82</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td>468.99</td><td>556.09</td><td>656.89</td><td>527.26</td><td>576.49</td><td>739.49</td><td>1189.59</td><td>1292.94</td></tr>
<tr><td>Total</td><td></td><td></td><td>1817.74</td><td>1999.44</td><td>2325.41</td><td>2307.28</td><td>2351.9</td><td>2674.78</td><td>3806.72</td><td>4705.74</td></tr>
<tr><td>Net Block</td><td></td><td></td><td>1228.41</td><td>1323.47</td><td>1588.59</td><td>1545.79</td><td>1510.49</td><td>1543.78</td><td>2123.88</td><td>2566.71</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td>11.15</td><td>24.31</td><td>90.61</td><td>88.82</td><td>31.98</td><td>41.98</td><td>96.63</td><td>178.61</td></tr>
<tr><td>Investments</td><td></td><td></td><td>2.63</td><td>3.88</td><td>4.16</td><td>3.2</td><td>2.25</td><td>2.65</td><td>3.43</td><td>4.47</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td>575.55</td><td>647.78</td><td>642.05</td><td>669.47</td><td>807.18</td><td>1086.37</td><td>1582.78</td><td>1955.95</td></tr>
<tr><td>Total</td><td></td><td></td><td>1817.74</td><td>1999.44</td><td>2325.41</td><td>2307.28</td><td>2351.9</td><td>2674.78</td><td>3806.72</td><td>4705.74</td></tr>
<tr><td>Receivables</td><td></td><td></td><td>171.42</td><td>201.69</td><td>210.03</td><td>194.32</td><td>238.95</td><td>296.21</td><td>535.29</td><td>576.63</td></tr>
<tr><td>Inventory</td><td></td><td></td><td>228.33</td><td>300.46</td><td>323.31</td><td>325.61</td><td>405.64</td><td>626.41</td><td>836.01</td><td>1040.82</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td>39.74</td><td>48.68</td><td>26.58</td><td>71.64</td><td>46.66</td><td>43.48</td><td>47.34</td><td>83.02</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td>574903</td><td>1006080</td><td>20121600</td><td>20121600</td><td>21128311</td><td>21128311</td><td>21128311</td><td>21128311</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>431177</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td>100</td><td>100</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>256.89</td><td>282.7</td><td>360</td><td>306.28</td><td>362.38</td><td>327.21</td><td>607.66</td><td>513.31</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>-319.34</td><td>-210.38</td><td>-358.51</td><td>-137.87</td><td>-94.85</td><td>-209.01</td><td>-682.81</td><td>-625.37</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td>78.2</td><td>-60.31</td><td>-18.23</td><td>-127.96</td><td>-296.02</td><td>-120.04</td><td>73.04</td><td>148.23</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>15.75</td><td>12.01</td><td>-16.74</td><td>40.45</td><td>-28.49</td><td>-1.84</td><td>-2.11</td><td>36.17</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1419.45</td><td>2358.4</td><td>3255.3</td><td>4314.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td>0.06</td><td>0.1</td><td>2.01</td><td>2.01</td><td>2.11</td><td>2.11</td><td>2.11</td><td>2.11</td></tr>
</table>
</body>
</html>