<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\CRISIL</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CRISIL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>4302.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>31452.77</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1253.38</td><td>1379.94</td><td>1547.51</td><td>1658.46</td><td>1748.49</td><td>1731.72</td><td>1981.83</td><td>2300.69</td><td>2768.72</td><td>3139.52</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>8.56</td><td>10.48</td><td>10.31</td><td>11.25</td><td>11.7</td><td>10.76</td><td>6.33</td><td>3.95</td><td>5.62</td><td>6.59</td></tr>
<tr><td>Other Mfr. Exp</td><td>25.43</td><td>26.88</td><td>32.59</td><td>32.89</td><td>39.9</td><td>41.48</td><td>45.91</td><td>51.88</td><td>78.87</td><td>101.38</td></tr>
<tr><td>Employee Cost</td><td>593.99</td><td>695.22</td><td>789.04</td><td>847.45</td><td>888.82</td><td>879.13</td><td>1070.05</td><td>1289.4</td><td>1555.77</td><td>1750.74</td></tr>
<tr><td>Selling and admin</td><td>218.09</td><td>231.5</td><td>253.25</td><td>268.8</td><td>279.96</td><td>327.91</td><td>319.2</td><td>324.97</td><td>366.89</td><td>382.71</td></tr>
<tr><td>Other Expenses</td><td>18.73</td><td>16.23</td><td>18.99</td><td>42.79</td><td>56.88</td><td>16.6</td><td>29.7</td><td>19.98</td><td>31.93</td><td>16.6</td></tr>
<tr><td>Other Income</td><td>23.6</td><td>43.19</td><td>49.67</td><td>25.38</td><td>73.41</td><td>72.84</td><td>83.15</td><td>122.84</td><td>122.47</td><td>93.64</td></tr>
<tr><td>Depreciation</td><td>36.12</td><td>37.12</td><td>54.52</td><td>46.64</td><td>42.82</td><td>36.86</td><td>121.11</td><td>105.98</td><td>103.31</td><td>103.78</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>0.41</td><td>2.23</td><td>0.23</td><td>14.39</td><td>8.93</td><td>6.4</td><td>3.66</td></tr>
<tr><td>Profit before tax</td><td>376.06</td><td>405.7</td><td>438.48</td><td>433.61</td><td>499.59</td><td>491.59</td><td>458.29</td><td>618.44</td><td>742.4</td><td>867.7</td></tr>
<tr><td>Tax</td><td>107.63</td><td>120.54</td><td>144.15</td><td>129.18</td><td>136.49</td><td>147.64</td><td>103.56</td><td>152.63</td><td>178.01</td><td>209.26</td></tr>
<tr><td>Net profit</td><td>268.43</td><td>285.15</td><td>294.33</td><td>304.43</td><td>363.1</td><td>343.95</td><td>354.73</td><td>465.81</td><td>564.39</td><td>658.44</td></tr>
<tr><td>Dividend Amount</td><td>142.8</td><td>163.76</td><td>192.51</td><td>200.76</td><td>216.3</td><td>231.36</td><td>239.58</td><td>335.34</td><td>350.88</td><td>394.74</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>706.02</td><td>594.94</td><td>668.54</td><td>682.98</td><td>822.26</td><td>714.89</td><td>771.02</td><td>735.87</td><td>917.74</td><td>737.68</td></tr>
<tr><td>Expenses</td><td>513.5</td><td>418.67</td><td>499.41</td><td>531.49</td><td>606.08</td><td>511.42</td><td>566.9</td><td>544.21</td><td>648.76</td><td>545.56</td></tr>
<tr><td>Other Income</td><td>59.25</td><td>20.11</td><td>35.3</td><td>65.25</td><td>18.38</td><td>17.34</td><td>17.78</td><td>35.97</td><td>35.82</td><td>21.09</td></tr>
<tr><td>Depreciation</td><td>24.63</td><td>25.23</td><td>25.55</td><td>26.32</td><td>26.21</td><td>26</td><td>26.07</td><td>26.5</td><td>25.21</td><td>17.02</td></tr>
<tr><td>Interest</td><td>1.85</td><td>1.84</td><td>1.63</td><td>1.58</td><td>1.35</td><td>1.18</td><td>0.88</td><td>0.82</td><td>0.78</td><td>0.7</td></tr>
<tr><td>Profit before tax</td><td>225.29</td><td>169.31</td><td>177.25</td><td>188.84</td><td>207</td><td>193.63</td><td>194.95</td><td>200.31</td><td>278.81</td><td>195.49</td></tr>
<tr><td>Tax</td><td>56.66</td><td>47.69</td><td>40.35</td><td>40.99</td><td>48.98</td><td>47.88</td><td>44.37</td><td>48.32</td><td>68.69</td><td>57.77</td></tr>
<tr><td>Net profit</td><td>168.63</td><td>121.62</td><td>136.9</td><td>147.85</td><td>158.02</td><td>145.75</td><td>150.58</td><td>151.99</td><td>210.12</td><td>137.72</td></tr>
<tr><td>Operating Profit</td><td>192.52</td><td>176.27</td><td>169.13</td><td>151.49</td><td>216.18</td><td>203.47</td><td>204.12</td><td>191.66</td><td>268.98</td><td>192.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>7.14</td><td>7.12</td><td>7.13</td><td>7.17</td><td>7.21</td><td>7.23</td><td>7.26</td><td>7.29</td><td>7.31</td><td>7.31</td></tr>
<tr><td>Reserves</td><td>841.21</td><td>848.64</td><td>978.24</td><td>1041.4</td><td>1129.04</td><td>1164.69</td><td>1304.55</td><td>1571.13</td><td>1784.67</td><td>2181.95</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>2.59</td><td>2.67</td><td></td><td>132.14</td><td>83.46</td><td>47.32</td></tr>
<tr><td>Other Liabilities</td><td>416.26</td><td>475.12</td><td>399.87</td><td>446.15</td><td>494.92</td><td>514.14</td><td>894.84</td><td>793.31</td><td>955.56</td><td>1077.94</td></tr>
<tr><td>Total</td><td>1264.61</td><td>1330.88</td><td>1385.24</td><td>1494.72</td><td>1633.76</td><td>1688.73</td><td>2206.65</td><td>2503.87</td><td>2831</td><td>3314.52</td></tr>
<tr><td>Net Block</td><td>431.91</td><td>412.57</td><td>308.74</td><td>293.46</td><td>349.93</td><td>348.88</td><td>762.52</td><td>660.82</td><td>618.98</td><td>634.64</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td>2.61</td><td>4.32</td><td>13.21</td><td>7.44</td><td>11.8</td><td>13.57</td><td>5.49</td><td>13.59</td><td>30.86</td></tr>
<tr><td>Investments</td><td>374.51</td><td>383.35</td><td>465.09</td><td>525.44</td><td>476.62</td><td>453.05</td><td>476.02</td><td>644.84</td><td>683.42</td><td>1056.13</td></tr>
<tr><td>Other Assets</td><td>458.19</td><td>532.35</td><td>607.09</td><td>662.61</td><td>799.77</td><td>875</td><td>954.54</td><td>1192.72</td><td>1515.01</td><td>1592.89</td></tr>
<tr><td>Total</td><td>1264.61</td><td>1330.88</td><td>1385.24</td><td>1494.72</td><td>1633.76</td><td>1688.73</td><td>2206.65</td><td>2503.87</td><td>2831</td><td>3314.52</td></tr>
<tr><td>Receivables</td><td>140.86</td><td>195.58</td><td>207.3</td><td>260.42</td><td>284.83</td><td>199.37</td><td>307.36</td><td>541</td><td>758.83</td><td>689.51</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>154.66</td><td>151.78</td><td>177.49</td><td>131.78</td><td>207.1</td><td>345.58</td><td>278.68</td><td>294.35</td><td>321.43</td><td>369.9</td></tr>
<tr><td>No. of Equity Shares</td><td>71357055</td><td>71209103</td><td>71300000</td><td>71700000</td><td>72115782</td><td>72304326</td><td>72593290</td><td>72868446</td><td>73064044</td><td>73113605</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>264.65</td><td>270.39</td><td>279.01</td><td>290.71</td><td>378.52</td><td>445.86</td><td>500.47</td><td>403.12</td><td>456.34</td><td>780.33</td></tr>
<tr><td>Cash from Investing Activity</td><td>-184.54</td><td>1.71</td><td>-19.06</td><td>-179.35</td><td>-64.48</td><td>-77.3</td><td>-299.6</td><td>-97.05</td><td>-58.69</td><td>-325.78</td></tr>
<tr><td>Cash from Financing Activity</td><td>-111.56</td><td>-261.69</td><td>-226.93</td><td>-186.58</td><td>-203.24</td><td>-228.94</td><td>-265.1</td><td>-291.03</td><td>-368.32</td><td>-407.68</td></tr>
<tr><td>Net Cash Flow</td><td>-31.45</td><td>10.4</td><td>33.02</td><td>-75.22</td><td>110.8</td><td>139.62</td><td>-64.23</td><td>15.04</td><td>29.33</td><td>46.87</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>1899.1</td><td>1967.3</td><td>2203</td><td>1874.55</td><td>1613.55</td><td>1907.6</td><td>1921.55</td><td>2884.45</td><td>3067.3</td><td>4336.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>7.14</td><td>7.12</td><td>7.13</td><td>7.17</td><td>7.21</td><td>7.23</td><td>7.26</td><td>7.29</td><td>7.31</td><td>7.31</td></tr>
</table>
</body>
</html>