<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Cummins India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CUMMINS INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>3398.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>94163.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3976.67</td><td>4405.8</td><td>4708.82</td><td>5077.34</td><td>5082.5</td><td>5659</td><td>5157.73</td><td>4329.24</td><td>6140.4</td><td>7744.43</td></tr>
<tr><td>Raw Material Cost</td><td>2429.27</td><td>2759.2</td><td>2964.12</td><td>3253.12</td><td>3218.09</td><td>3652.88</td><td>3334.41</td><td>2779.21</td><td>4143</td><td>5348.86</td></tr>
<tr><td>Change in Inventory</td><td>5.16</td><td>52.59</td><td>1.91</td><td>-21.36</td><td>-40.01</td><td>39.42</td><td>-33.44</td><td>18.62</td><td>36.21</td><td>117.93</td></tr>
<tr><td>Power and Fuel</td><td>34.16</td><td>37.6</td><td>33.05</td><td>29.05</td><td>30.33</td><td>29.33</td><td>29.1</td><td>18.91</td><td>24.52</td><td>26.54</td></tr>
<tr><td>Other Mfr. Exp</td><td>153.7</td><td>173.93</td><td>101.24</td><td>112.8</td><td>117.67</td><td>131.36</td><td>125.77</td><td>101.39</td><td>134.81</td><td>157.4</td></tr>
<tr><td>Employee Cost</td><td>339.62</td><td>391.26</td><td>415.57</td><td>433.38</td><td>497.91</td><td>545.8</td><td>560.18</td><td>492.63</td><td>595.62</td><td>629.83</td></tr>
<tr><td>Selling and admin</td><td>244.33</td><td>236.27</td><td>300.04</td><td>307.69</td><td>314.43</td><td>354.69</td><td>355.13</td><td>274.55</td><td>281.76</td><td>326.65</td></tr>
<tr><td>Other Expenses</td><td>83.82</td><td>128.34</td><td>121.6</td><td>118.12</td><td>126.44</td><td>120.26</td><td>129.34</td><td>80.9</td><td>116.75</td><td>130.47</td></tr>
<tr><td>Other Income</td><td>177.51</td><td>286.58</td><td>225.86</td><td>207.98</td><td>279.42</td><td>292.77</td><td>307.61</td><td>349.38</td><td>424.82</td><td>405.69</td></tr>
<tr><td>Depreciation</td><td>52.75</td><td>79.72</td><td>81.01</td><td>84.78</td><td>93.79</td><td>110.32</td><td>118.66</td><td>125.52</td><td>134.02</td><td>140.45</td></tr>
<tr><td>Interest</td><td>4.18</td><td>1.26</td><td>9.58</td><td>16.78</td><td>14.83</td><td>16.2</td><td>20.25</td><td>16.17</td><td>11.5</td><td>15.78</td></tr>
<tr><td>Profit before tax</td><td>817.51</td><td>937.39</td><td>910.38</td><td>908.24</td><td>908.42</td><td>1030.35</td><td>759.06</td><td>807.96</td><td>1159.45</td><td>1492.07</td></tr>
<tr><td>Tax</td><td>217.49</td><td>151.54</td><td>156.08</td><td>173.61</td><td>199.95</td><td>307.78</td><td>129.72</td><td>190.09</td><td>272.8</td><td>362.25</td></tr>
<tr><td>Net profit</td><td>600.02</td><td>785.85</td><td>754.3</td><td>734.63</td><td>708.47</td><td>722.57</td><td>629.34</td><td>617.87</td><td>886.65</td><td>1129.82</td></tr>
<tr><td>Dividend Amount</td><td>360.36</td><td>388.08</td><td>388.08</td><td>388.08</td><td>415.8</td><td>471.24</td><td>388.08</td><td>415.8</td><td>512.82</td><td>693</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1727.38</td><td>1734.97</td><td>1493.56</td><td>1686.65</td><td>1951.25</td><td>2180.53</td><td>1926</td><td>2208.71</td><td>1899.68</td><td>2534.06</td></tr>
<tr><td>Expenses</td><td>1468.19</td><td>1464.47</td><td>1286.93</td><td>1472.82</td><td>1660.73</td><td>1768.32</td><td>1599.95</td><td>1868.13</td><td>1561.08</td><td>1996.13</td></tr>
<tr><td>Other Income</td><td>69.44</td><td>86.58</td><td>76.6</td><td>85.81</td><td>85.49</td><td>103.77</td><td>130.62</td><td>117.48</td><td>132.23</td><td>111.91</td></tr>
<tr><td>Depreciation</td><td>33.55</td><td>34.86</td><td>34.71</td><td>33.65</td><td>35.25</td><td>34.33</td><td>37.22</td><td>35.82</td><td>37.89</td><td>41.9</td></tr>
<tr><td>Interest</td><td>2.22</td><td>2.7</td><td>4.83</td><td>1.94</td><td>4.61</td><td>2.68</td><td>6.55</td><td>7.68</td><td>6.65</td><td>6.29</td></tr>
<tr><td>Profit before tax</td><td>292.86</td><td>319.52</td><td>243.69</td><td>264.05</td><td>336.15</td><td>478.97</td><td>412.9</td><td>414.56</td><td>426.29</td><td>601.65</td></tr>
<tr><td>Tax</td><td>72.95</td><td>78.55</td><td>54.54</td><td>65.25</td><td>83.77</td><td>118.83</td><td>94.4</td><td>98.89</td><td>97.78</td><td>146.73</td></tr>
<tr><td>Net profit</td><td>219.91</td><td>240.97</td><td>189.15</td><td>198.8</td><td>252.38</td><td>360.14</td><td>318.5</td><td>315.67</td><td>328.51</td><td>454.92</td></tr>
<tr><td>Operating Profit</td><td>259.19</td><td>270.5</td><td>206.63</td><td>213.83</td><td>290.52</td><td>412.21</td><td>326.05</td><td>340.58</td><td>338.6</td><td>537.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td><td>55.44</td></tr>
<tr><td>Reserves</td><td>2509.71</td><td>2831.08</td><td>3425.86</td><td>3686.73</td><td>3930.63</td><td>4075.01</td><td>4119.52</td><td>4351.33</td><td>4797.22</td><td>5312.54</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>250.78</td><td>251.54</td><td>309.16</td><td>503.7</td><td>32.7</td><td>412.36</td><td>372.61</td></tr>
<tr><td>Other Liabilities</td><td>1207.58</td><td>1435.22</td><td>1009.17</td><td>1047.93</td><td>1293.62</td><td>1413.96</td><td>1275.39</td><td>1257.45</td><td>1540.09</td><td>1771.45</td></tr>
<tr><td>Total</td><td>3772.73</td><td>4321.74</td><td>4490.47</td><td>5040.88</td><td>5531.23</td><td>5853.57</td><td>5954.05</td><td>5696.92</td><td>6805.11</td><td>7512.04</td></tr>
<tr><td>Net Block</td><td>919.15</td><td>1233.96</td><td>1289.38</td><td>1500.11</td><td>2019.25</td><td>2012.77</td><td>2264.32</td><td>2185.28</td><td>2204.4</td><td>2222</td></tr>
<tr><td>Capital Work in Progress</td><td>95.76</td><td>170.61</td><td>519.22</td><td>463.13</td><td>37.95</td><td>158.51</td><td>80.03</td><td>127.52</td><td>60.78</td><td>41.29</td></tr>
<tr><td>Investments</td><td>495.35</td><td>465.04</td><td>333.57</td><td>707.4</td><td>548.69</td><td>285.29</td><td>824.14</td><td>369.23</td><td>614.89</td><td>1085.16</td></tr>
<tr><td>Other Assets</td><td>2262.47</td><td>2452.13</td><td>2348.3</td><td>2370.24</td><td>2925.34</td><td>3397</td><td>2785.56</td><td>3014.89</td><td>3925.04</td><td>4163.59</td></tr>
<tr><td>Total</td><td>3772.73</td><td>4321.74</td><td>4490.47</td><td>5040.88</td><td>5531.23</td><td>5853.57</td><td>5954.05</td><td>5696.92</td><td>6805.11</td><td>7512.04</td></tr>
<tr><td>Receivables</td><td>782.03</td><td>935.54</td><td>938.11</td><td>955.65</td><td>1326.25</td><td>1272.69</td><td>1131.59</td><td>1074.45</td><td>1247.28</td><td>1592.73</td></tr>
<tr><td>Inventory</td><td>551.34</td><td>682.26</td><td>600.26</td><td>562.06</td><td>537.48</td><td>625.36</td><td>572.92</td><td>557.84</td><td>728.79</td><td>886.15</td></tr>
<tr><td>Cash & Bank</td><td>86.49</td><td>79.86</td><td>89.73</td><td>129.11</td><td>470.88</td><td>737.93</td><td>464.5</td><td>965.18</td><td>1426.74</td><td>1380.81</td></tr>
<tr><td>No. of Equity Shares</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td><td>277200000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>361.07</td><td>497.91</td><td>691.8</td><td>745.57</td><td>634.41</td><td>550</td><td>598.98</td><td>787.85</td><td>707.06</td><td>811.09</td></tr>
<tr><td>Cash from Investing Activity</td><td>55.24</td><td>-56.29</td><td>-214.39</td><td>-482.43</td><td>-132.72</td><td>15.66</td><td>-201.98</td><td>24.69</td><td>-573.76</td><td>87.17</td></tr>
<tr><td>Cash from Financing Activity</td><td>-425.78</td><td>-422.86</td><td>-467.74</td><td>-224.53</td><td>-473.14</td><td>-522.63</td><td>-410.92</td><td>-872.44</td><td>-77.4</td><td>-684.41</td></tr>
<tr><td>Net Cash Flow</td><td>-9.47</td><td>18.76</td><td>9.67</td><td>38.61</td><td>28.55</td><td>43.03</td><td>-13.92</td><td>-59.9</td><td>55.9</td><td>213.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>596.8</td><td>880.65</td><td>841.8</td><td>949.45</td><td>700.25</td><td>746</td><td>326.7</td><td>919.65</td><td>1121.3</td><td>1629.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td></tr>
</table>
</body>
</html>