<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Cyient DLM</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>CYIENT DLM LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>664.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5279.26</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>480.47</td><td>457.09</td><td>628.03</td><td>720.53</td><td>832.03</td><td>1191.87</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>373.79</td><td>388.18</td><td>477.85</td><td>555.29</td><td>634.15</td><td>948.74</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>-9.48</td><td>23.27</td><td>-17.44</td><td>11.33</td><td>-11.06</td><td>28.78</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>2.69</td><td>2.62</td><td>3.03</td><td>3.35</td><td>3.8</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>10.75</td><td>4.24</td><td>4.68</td><td>6.1</td><td>9.22</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>45.54</td><td>44.1</td><td>46.86</td><td>51.65</td><td>64.69</td><td>117.38</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>14.55</td><td>14.31</td><td>21.76</td><td>26.6</td><td>14.86</td><td></td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>5.14</td><td>13.19</td><td>10.46</td><td>4.82</td><td>6.46</td><td>43.52</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>2.46</td><td>7.83</td><td>8.88</td><td>7.95</td><td>6.31</td><td>27.83</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>8.31</td><td>10.58</td><td>18.46</td><td>19.29</td><td>19.42</td><td>22.31</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>14.06</td><td>18.19</td><td>20.77</td><td>21.98</td><td>31.52</td><td>34.39</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>-1.38</td><td>-7.22</td><td>15.6</td><td>50.73</td><td>43.16</td><td>82.14</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>-0.59</td><td>-0.52</td><td>3.78</td><td>10.94</td><td>11.43</td><td>20.94</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>-0.79</td><td>-6.7</td><td>11.81</td><td>39.8</td><td>31.73</td><td>61.2</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>170.16</td><td>214.4</td><td>277.36</td><td>217.15</td><td>291.84</td><td>321.04</td><td>361.84</td></tr>
<tr><td>Expenses</td><td></td><td></td><td></td><td>146.5</td><td>193.77</td><td>245.45</td><td>197.16</td><td>268.29</td><td>291.6</td><td>323.79</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>-0.68</td><td>-0.21</td><td>-1.29</td><td>0.91</td><td>9.28</td><td>9.32</td><td>8.31</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>4.96</td><td>4.7</td><td>4.83</td><td>4.83</td><td>5.48</td><td>5.76</td><td>6.25</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>7.83</td><td>8.46</td><td>8.57</td><td>9.08</td><td>7.59</td><td>8.3</td><td>9.42</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>10.19</td><td>7.26</td><td>17.22</td><td>6.99</td><td>19.76</td><td>24.7</td><td>30.69</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>3.1</td><td>1.55</td><td>4.63</td><td>1.63</td><td>5.11</td><td>6.25</td><td>7.95</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>7.1</td><td>5.72</td><td>12.59</td><td>5.36</td><td>14.65</td><td>18.44</td><td>22.74</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td></td><td>23.66</td><td>20.63</td><td>31.91</td><td>19.99</td><td>23.55</td><td>29.44</td><td>38.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>1.37</td><td>1.37</td><td>1.37</td><td>1.37</td><td>52.87</td><td>79.31</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>33.56</td><td>24.34</td><td>36.29</td><td>75.75</td><td>145.01</td><td>829.67</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>160.35</td><td>307.95</td><td>279.02</td><td>336.88</td><td>356.05</td><td>192.12</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>270.85</td><td>259.83</td><td>328.35</td><td>362.92</td><td>550.78</td><td>502.18</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>466.13</td><td>593.49</td><td>645.03</td><td>776.92</td><td>1104.71</td><td>1603.28</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>48.27</td><td>106.19</td><td>185.62</td><td>172.21</td><td>160.95</td><td>192.14</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>1.03</td><td>77.4</td><td>2.32</td><td>3.39</td><td>1.33</td><td>0.95</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>0.32</td><td>0.32</td><td>0.32</td><td>89.52</td><td>66.21</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>416.83</td><td>409.58</td><td>456.77</td><td>601</td><td>852.91</td><td>1343.98</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>466.13</td><td>593.49</td><td>645.03</td><td>776.92</td><td>1104.71</td><td>1603.28</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>119.67</td><td>54.59</td><td>226.38</td><td>152.33</td><td>161.75</td><td>225.87</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>178.93</td><td>222.58</td><td>155.45</td><td>269.56</td><td>425.08</td><td>464.22</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>59.64</td><td>66.15</td><td>34.18</td><td>121.81</td><td>167.6</td><td>536.59</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>1367000</td><td>1367000</td><td>1367000</td><td>1367000</td><td>52866000</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>28.87</td><td>16.23</td><td>34.93</td><td>48.54</td><td>52.11</td><td>-70.54</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-9.96</td><td>-88.35</td><td>-0.9</td><td>-32.41</td><td>-141.84</td><td>-427.73</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-1.59</td><td>72.28</td><td>-42.82</td><td>46.07</td><td>74.04</td><td>478.97</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>17.32</td><td>0.16</td><td>-8.79</td><td>62.19</td><td>-15.7</td><td>-19.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>720.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>0.14</td><td>0.14</td><td>0.14</td><td>0.14</td><td>5.29</td><td>7.93</td></tr>
</table>
</body>
</html>