<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Dalmia Bharat</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DALMIA BHARAT SUGAR & INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>376.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>3046.93</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1190.45</td><td>1150.03</td><td>1166.08</td><td>1685.68</td><td>2243.72</td><td>2018.33</td><td>2110.19</td><td>2685.42</td><td>3018.18</td><td>3252.08</td></tr>
<tr><td>Raw Material Cost</td><td>824.69</td><td>899.44</td><td>916.54</td><td>1112.88</td><td>1489.32</td><td>1736.24</td><td>1631.47</td><td>1873.8</td><td>1944.96</td><td>2093.64</td></tr>
<tr><td>Change in Inventory</td><td>-86.14</td><td>72.41</td><td>214.93</td><td>98.95</td><td>-215.33</td><td>328.02</td><td>224.49</td><td>45.17</td><td>-188.28</td><td>-228.77</td></tr>
<tr><td>Power and Fuel</td><td>12.96</td><td>32.48</td><td>24.69</td><td>53.24</td><td>54.9</td><td>53.42</td><td>54.21</td><td>34.25</td><td>30.7</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>53.11</td><td>63.98</td><td>86.62</td><td>56.29</td><td>68.8</td><td>78.06</td><td>81.81</td><td>84.67</td><td>97.01</td><td></td></tr>
<tr><td>Employee Cost</td><td>66.01</td><td>75.12</td><td>76.69</td><td>108.27</td><td>108.91</td><td>118.88</td><td>133.93</td><td>143.12</td><td>176.26</td><td>187.23</td></tr>
<tr><td>Selling and admin</td><td>15.71</td><td>16.68</td><td>29.44</td><td>29.76</td><td>38.7</td><td>58.15</td><td>60.68</td><td>76.24</td><td>115.89</td><td></td></tr>
<tr><td>Other Expenses</td><td>24.03</td><td>21.86</td><td>20.3</td><td>46.36</td><td>33.57</td><td>64.55</td><td>35.96</td><td>36.41</td><td>19.03</td><td>305.91</td></tr>
<tr><td>Other Income</td><td>19.75</td><td>16</td><td>21.56</td><td>23.83</td><td>25.27</td><td>74.68</td><td>56.46</td><td>43.6</td><td>63.97</td><td>77.33</td></tr>
<tr><td>Depreciation</td><td>49.3</td><td>50.58</td><td>113.39</td><td>55.59</td><td>53.8</td><td>51.55</td><td>57.23</td><td>95.53</td><td>94.71</td><td>121.25</td></tr>
<tr><td>Interest</td><td>75.64</td><td>78.01</td><td>87.49</td><td>102.49</td><td>69.48</td><td>68.61</td><td>88.38</td><td>61.86</td><td>34.82</td><td>37.68</td></tr>
<tr><td>Profit before tax</td><td>2.61</td><td>0.29</td><td>47.41</td><td>243.58</td><td>136.18</td><td>191.57</td><td>247.47</td><td>368.31</td><td>380.49</td><td>354.93</td></tr>
<tr><td>Tax</td><td>-0.44</td><td>-1.2</td><td>-10.99</td><td>57.32</td><td>13.88</td><td>16.42</td><td>54.28</td><td>97.97</td><td>84.76</td><td>104.86</td></tr>
<tr><td>Net profit</td><td>3.05</td><td>1.49</td><td>58.4</td><td>186.26</td><td>122.3</td><td>175.15</td><td>193.19</td><td>270.34</td><td>295.73</td><td>250.07</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td>4.86</td><td>16.19</td><td>16.19</td><td>12.95</td><td>16.19</td><td>24.28</td><td>32.38</td><td>32.38</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2020-09-30 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2021-06-30 00:00:00</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>719.53</td><td>605.78</td><td>488.59</td><td>818.57</td><td>728.06</td><td>615.67</td><td>856</td><td>599.99</td><td>731.85</td><td>583.59</td></tr>
<tr><td>Expenses</td><td>627.98</td><td>550.08</td><td>361.37</td><td>677.46</td><td>641.08</td><td>527.64</td><td>726.25</td><td>487.5</td><td>666.36</td><td>474.35</td></tr>
<tr><td>Other Income</td><td>11.43</td><td>13.78</td><td>12.23</td><td>4.88</td><td>20.45</td><td>22.16</td><td>16.48</td><td>22.52</td><td>55.65</td><td>26.53</td></tr>
<tr><td>Depreciation</td><td>14.85</td><td>14.39</td><td>51.77</td><td>20.87</td><td>20.83</td><td>24.11</td><td>28.9</td><td>32.18</td><td>30.74</td><td>32.26</td></tr>
<tr><td>Interest</td><td>14.9</td><td>11.12</td><td>10.2</td><td>12.13</td><td>7.6</td><td>6.42</td><td>8.66</td><td>9.34</td><td>16.38</td><td>7.86</td></tr>
<tr><td>Profit before tax</td><td>73.23</td><td>43.97</td><td>77.48</td><td>112.99</td><td>79</td><td>79.66</td><td>108.67</td><td>93.49</td><td>74.02</td><td>95.65</td></tr>
<tr><td>Tax</td><td>17.68</td><td>6.87</td><td>25.62</td><td>-11.35</td><td>19.77</td><td>23.08</td><td>53.07</td><td>28.58</td><td>19.12</td><td>30.73</td></tr>
<tr><td>Net profit</td><td>55.55</td><td>37.1</td><td>51.86</td><td>124.34</td><td>59.23</td><td>56.58</td><td>55.6</td><td>64.91</td><td>54.9</td><td>64.92</td></tr>
<tr><td>Operating Profit</td><td>91.55</td><td>55.7</td><td>127.22</td><td>141.11</td><td>86.98</td><td>88.03</td><td>129.75</td><td>112.49</td><td>65.49</td><td>109.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td>16.19</td><td></td></tr>
<tr><td>Reserves</td><td>446.06</td><td>443.87</td><td>496.42</td><td>1245.25</td><td>1488.37</td><td>1515.51</td><td>1502.56</td><td>2126.5</td><td>2342.89</td><td></td></tr>
<tr><td>Borrowings</td><td>811.85</td><td>931.47</td><td>1137.69</td><td>1214.12</td><td>775.72</td><td>1036.87</td><td>1277.2</td><td>957.89</td><td>818.51</td><td></td></tr>
<tr><td>Other Liabilities</td><td>443.95</td><td>442.79</td><td>410.54</td><td>459.4</td><td>632.6</td><td>620.65</td><td>642.15</td><td>632.13</td><td>644.68</td><td></td></tr>
<tr><td>Total</td><td>1718.05</td><td>1834.32</td><td>2060.84</td><td>2934.96</td><td>2912.88</td><td>3189.22</td><td>3438.1</td><td>3732.71</td><td>3822.27</td><td></td></tr>
<tr><td>Net Block</td><td>767.42</td><td>746.22</td><td>752.45</td><td>1279.83</td><td>1293.21</td><td>1316.13</td><td>1352.78</td><td>1308.03</td><td>1531.11</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td>13.64</td><td>27.78</td><td>6.54</td><td>2.44</td><td>6.93</td><td>10.92</td><td>6.18</td><td>27.13</td><td>58.81</td><td></td></tr>
<tr><td>Investments</td><td>79.45</td><td>84.29</td><td>93.57</td><td>365.94</td><td>625.61</td><td>417.25</td><td>358.83</td><td>620.46</td><td>593.8</td><td></td></tr>
<tr><td>Other Assets</td><td>857.54</td><td>976.03</td><td>1208.28</td><td>1286.75</td><td>987.13</td><td>1444.92</td><td>1720.31</td><td>1777.09</td><td>1638.55</td><td></td></tr>
<tr><td>Total</td><td>1718.05</td><td>1834.32</td><td>2060.84</td><td>2934.96</td><td>2912.88</td><td>3189.22</td><td>3438.1</td><td>3732.71</td><td>3822.27</td><td></td></tr>
<tr><td>Receivables</td><td>18.18</td><td>77.4</td><td>106.4</td><td>110.52</td><td>76.03</td><td>203.57</td><td>169.79</td><td>115.26</td><td>166.54</td><td></td></tr>
<tr><td>Inventory</td><td>629.31</td><td>703.48</td><td>915.47</td><td>1020.68</td><td>749.77</td><td>1095.09</td><td>1329.19</td><td>1375.03</td><td>1242.39</td><td></td></tr>
<tr><td>Cash & Bank</td><td>47.74</td><td>34.82</td><td>46.25</td><td>58.74</td><td>59.56</td><td>28.57</td><td>67.11</td><td>79.78</td><td>103.9</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td>80939300</td><td>80939303</td><td>80939303</td><td>80939303</td><td>80939303</td><td>80939303</td><td>80939303</td><td>80939303</td><td>80939303</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>266.41</td><td>-11.38</td><td>-23.98</td><td>154.78</td><td>706.23</td><td>-220.44</td><td>58.97</td><td>345.54</td><td>567.33</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>-184.48</td><td>-42.8</td><td>-76.72</td><td>-143.89</td><td>-178.05</td><td>-29.16</td><td>-179.25</td><td>37.13</td><td>-326.89</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>-60.74</td><td>41.5</td><td>111.5</td><td>2.22</td><td>-527.54</td><td>218.65</td><td>145.25</td><td>-364.38</td><td>-217.12</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>21.19</td><td>-12.68</td><td>10.8</td><td>13.11</td><td>0.64</td><td>-30.95</td><td>24.97</td><td>18.29</td><td>23.32</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>15.8</td><td>17.4</td><td>99.55</td><td>173.5</td><td>64.35</td><td>123.8</td><td>48.3</td><td>186.7</td><td>481</td><td>337.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td><td>8.09</td></tr>
</table>
</body>
</html>