<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Data Pattern</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DATA PATTERNS (INDIA) LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2848.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>15958.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>63</td><td>49.96</td><td>42.15</td><td>49.47</td><td>56.72</td><td>131.06</td><td>156.1</td><td>223.95</td><td>310.85</td><td>453.45</td></tr>
<tr><td>Raw Material Cost</td><td>21.47</td><td>19.41</td><td>17.2</td><td>18.05</td><td>26.73</td><td>45.43</td><td>53.21</td><td>62.97</td><td>91.59</td><td>194.14</td></tr>
<tr><td>Change in Inventory</td><td>1.24</td><td>6.19</td><td>6.37</td><td>5.15</td><td>7.85</td><td>-3.52</td><td>-2.88</td><td>-7.44</td><td>5.52</td><td>23.23</td></tr>
<tr><td>Power and Fuel</td><td>1.85</td><td>1.91</td><td>2.04</td><td>1.97</td><td>1.94</td><td>2.35</td><td>2.52</td><td>2.37</td><td>2.5</td><td>3.19</td></tr>
<tr><td>Other Mfr. Exp</td><td>1.58</td><td>1.28</td><td>1.25</td><td>1.28</td><td>1.61</td><td>1.55</td><td>1.55</td><td>1.77</td><td>1.41</td><td>2.18</td></tr>
<tr><td>Employee Cost</td><td>19.79</td><td>20.08</td><td>19.33</td><td>22.49</td><td>23.6</td><td>37.65</td><td>42.27</td><td>48.42</td><td>62.35</td><td>79.49</td></tr>
<tr><td>Selling and admin</td><td>2.63</td><td>2.11</td><td>1.54</td><td>1.49</td><td>1.35</td><td>7.74</td><td>8.68</td><td>7.41</td><td>13.1</td><td>16.68</td></tr>
<tr><td>Other Expenses</td><td>0.22</td><td>0.13</td><td>0.29</td><td>0.29</td><td>0.45</td><td>7.27</td><td>1.83</td><td>1.58</td><td>4.38</td><td>9.19</td></tr>
<tr><td>Other Income</td><td>1.29</td><td>1.26</td><td>2.27</td><td>0.05</td><td>0.16</td><td>1.45</td><td>4.09</td><td>2.6</td><td>3.96</td><td>9.22</td></tr>
<tr><td>Depreciation</td><td>2.48</td><td>3.34</td><td>3.18</td><td>3.03</td><td>2.92</td><td>5.86</td><td>5.48</td><td>5.57</td><td>6.63</td><td>8.45</td></tr>
<tr><td>Interest</td><td>5.23</td><td>5.08</td><td>5.15</td><td>4.97</td><td>5.11</td><td>10.78</td><td>13.34</td><td>14.5</td><td>10.99</td><td>7.74</td></tr>
<tr><td>Profit before tax</td><td>10.28</td><td>4.07</td><td>0.81</td><td>1.1</td><td>1.02</td><td>10.36</td><td>28.43</td><td>74.52</td><td>127.38</td><td>164.84</td></tr>
<tr><td>Tax</td><td>3.41</td><td>1.47</td><td>0.01</td><td>0.39</td><td>-0.23</td><td>2.66</td><td>7.38</td><td>18.96</td><td>33.41</td><td>40.84</td></tr>
<tr><td>Net profit</td><td>6.86</td><td>2.6</td><td>0.8</td><td>0.71</td><td>1.25</td><td>7.7</td><td>21.05</td><td>55.56</td><td>93.97</td><td>124</td></tr>
<tr><td>Dividend Amount</td><td>0.34</td><td>0.34</td><td>0.34</td><td>0.34</td><td></td><td></td><td></td><td>11.1</td><td>18.16</td><td>25.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>59.22</td><td>43.84</td><td>170.54</td><td>68.38</td><td>88.16</td><td>111.81</td><td>185.1</td><td>89.69</td><td>108.31</td><td>139.51</td></tr>
<tr><td>Expenses</td><td>38.66</td><td>28.25</td><td>83.08</td><td>47.13</td><td>58</td><td>64.77</td><td>111.74</td><td>61.82</td><td>67.58</td><td>79.47</td></tr>
<tr><td>Other Income</td><td>0.3</td><td>0.7</td><td>2.53</td><td>1.7</td><td>1.85</td><td>1.85</td><td>3.81</td><td>11.61</td><td>10.84</td><td>11.3</td></tr>
<tr><td>Depreciation</td><td>1.52</td><td>1.73</td><td>1.89</td><td>1.98</td><td>2.13</td><td>2.11</td><td>2.22</td><td>2.88</td><td>3.04</td><td>3.3</td></tr>
<tr><td>Interest</td><td>2.6</td><td>2.65</td><td>3.53</td><td>1.55</td><td>1.22</td><td>2.14</td><td>2.81</td><td>1.72</td><td>2.26</td><td>2.32</td></tr>
<tr><td>Profit before tax</td><td>16.74</td><td>11.91</td><td>84.57</td><td>19.42</td><td>28.66</td><td>44.64</td><td>72.14</td><td>34.88</td><td>46.27</td><td>65.72</td></tr>
<tr><td>Tax</td><td>3.85</td><td>2.95</td><td>22.95</td><td>5.18</td><td>7.61</td><td>11.32</td><td>16.78</td><td>9.05</td><td>12.48</td><td>14.75</td></tr>
<tr><td>Net profit</td><td>12.89</td><td>8.96</td><td>61.62</td><td>14.24</td><td>21.05</td><td>33.32</td><td>55.36</td><td>25.83</td><td>33.79</td><td>50.97</td></tr>
<tr><td>Operating Profit</td><td>20.56</td><td>15.59</td><td>87.46</td><td>21.25</td><td>30.16</td><td>47.04</td><td>73.36</td><td>27.87</td><td>40.73</td><td>60.04</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>1.7</td><td>1.7</td><td>1.7</td><td>1.7</td><td>1.7</td><td>1.7</td><td>1.7</td><td>1.7</td><td>10.38</td><td>11.2</td></tr>
<tr><td>Reserves</td><td>99.84</td><td>101.76</td><td>102.15</td><td>102.86</td><td>103.7</td><td>131.19</td><td>151.8</td><td>206.23</td><td>564.13</td><td>1155.88</td></tr>
<tr><td>Borrowings</td><td>34.48</td><td>38.19</td><td>38.02</td><td>34.99</td><td>32</td><td>60.14</td><td>60.57</td><td>37.17</td><td>9.2</td><td>2.49</td></tr>
<tr><td>Other Liabilities</td><td>12.92</td><td>15.12</td><td>14.97</td><td>12.86</td><td>16.91</td><td>84.4</td><td>81.29</td><td>83.5</td><td>122.96</td><td>265.37</td></tr>
<tr><td>Total</td><td>148.94</td><td>156.77</td><td>156.84</td><td>152.41</td><td>154.31</td><td>277.43</td><td>295.36</td><td>328.6</td><td>706.67</td><td>1434.94</td></tr>
<tr><td>Net Block</td><td>32.21</td><td>29.25</td><td>26.26</td><td>23.61</td><td>22.97</td><td>36.44</td><td>33.35</td><td>33.21</td><td>47.48</td><td>112.04</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>17.3</td><td>1.35</td></tr>
<tr><td>Investments</td><td>7.31</td><td>7.31</td><td>7.31</td><td>7.31</td><td>7.31</td><td></td><td></td><td></td><td></td><td>55.68</td></tr>
<tr><td>Other Assets</td><td>109.42</td><td>120.21</td><td>123.27</td><td>121.49</td><td>124.03</td><td>240.99</td><td>262.01</td><td>295.39</td><td>641.89</td><td>1265.87</td></tr>
<tr><td>Total</td><td>148.94</td><td>156.77</td><td>156.84</td><td>152.41</td><td>154.31</td><td>277.43</td><td>295.36</td><td>328.6</td><td>706.67</td><td>1434.94</td></tr>
<tr><td>Receivables</td><td>42.61</td><td>47.09</td><td>48.96</td><td>54.27</td><td>65.03</td><td>102.94</td><td>115.63</td><td>155.94</td><td>198.31</td><td>382.48</td></tr>
<tr><td>Inventory</td><td>26.58</td><td>32.82</td><td>40.85</td><td>47.73</td><td>54.01</td><td>86.69</td><td>79.41</td><td>73.74</td><td>119.77</td><td>192.95</td></tr>
<tr><td>Cash & Bank</td><td>2.53</td><td>1.08</td><td>1.24</td><td>1.06</td><td>1.14</td><td>0.31</td><td>1.51</td><td>8.8</td><td>177.08</td><td>544.53</td></tr>
<tr><td>No. of Equity Shares</td><td>1699790</td><td>1699790</td><td>1699790</td><td>1699790</td><td>1699790</td><td>1699790</td><td>1699790</td><td>1699790</td><td>51886650</td><td>55983969</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>34992115</td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>13.37</td><td>1.1</td><td>5.94</td><td>8.58</td><td>10.67</td><td>-4.5</td><td>13.41</td><td>43.38</td><td>52.19</td><td>-17.24</td></tr>
<tr><td>Cash from Investing Activity</td><td>-0.68</td><td>-0.78</td><td>-0.05</td><td>-0.27</td><td>-2.17</td><td>0.43</td><td>1.41</td><td>8.77</td><td>-119.77</td><td>-383.16</td></tr>
<tr><td>Cash from Financing Activity</td><td>-11.34</td><td>-1.77</td><td>-5.73</td><td>-8.49</td><td>-8.42</td><td>2.25</td><td>-13.63</td><td>-44.86</td><td>235.86</td><td>438.1</td></tr>
<tr><td>Net Cash Flow</td><td>1.35</td><td>-1.44</td><td>0.16</td><td>-0.18</td><td>0.08</td><td>-1.82</td><td>1.2</td><td>7.29</td><td>168.28</td><td>37.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>702.9</td><td>1375.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>0.17</td><td>0.17</td><td>0.17</td><td>0.17</td><td>0.17</td><td>0.17</td><td>0.17</td><td>0.17</td><td>5.19</td><td>5.6</td></tr>
</table>
</body>
</html>