<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\DCB Bank</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DCB BANK LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>128.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4007.64</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1422.42</td><td>1698.46</td><td>2076.15</td><td>2412.99</td><td>3041.49</td><td>3536.63</td><td>3458.21</td><td>3512.77</td><td>4200.27</td><td>5362.04</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>8.66</td><td>11.69</td><td>12.55</td><td>16.35</td><td>20.01</td><td>23.08</td><td>23.98</td><td>29.62</td><td>40.41</td><td></td></tr>
<tr><td>Employee Cost</td><td>196.57</td><td>245.95</td><td>308.9</td><td>382.07</td><td>435.35</td><td>460.35</td><td>434.87</td><td>540.49</td><td>694.45</td><td>794.33</td></tr>
<tr><td>Selling and admin</td><td>75.93</td><td>87.24</td><td>111.8</td><td>134.37</td><td>145.65</td><td>156.58</td><td>149.84</td><td>175.08</td><td>219.16</td><td>143.75</td></tr>
<tr><td>Other Expenses</td><td>161.47</td><td>204.86</td><td>266.94</td><td>333.38</td><td>347.72</td><td>472.93</td><td>614.34</td><td>611.1</td><td>467.8</td><td>742.1</td></tr>
<tr><td>Other Income</td><td>165.72</td><td>220.46</td><td>248.85</td><td>310.27</td><td>350.16</td><td>391.09</td><td>445.83</td><td>452.04</td><td>409.39</td><td>474.24</td></tr>
<tr><td>Depreciation</td><td>23.36</td><td>29.1</td><td>39.03</td><td>53.36</td><td>44.18</td><td>51.14</td><td>56.6</td><td>63.71</td><td>77.01</td><td></td></tr>
<tr><td>Interest</td><td>914.2</td><td>1078.96</td><td>1279.06</td><td>1417.56</td><td>1892.2</td><td>2271.72</td><td>2171.6</td><td>2155.26</td><td>2483.27</td><td>3434.14</td></tr>
<tr><td>Profit before tax</td><td>207.95</td><td>261.12</td><td>306.72</td><td>386.17</td><td>506.54</td><td>491.92</td><td>452.81</td><td>389.55</td><td>627.56</td><td>721.96</td></tr>
<tr><td>Tax</td><td>16.77</td><td>66.59</td><td>107.04</td><td>140.83</td><td>181.18</td><td>153.98</td><td>117.01</td><td>102.04</td><td>161.99</td><td>185.99</td></tr>
<tr><td>Net profit</td><td>191.18</td><td>194.52</td><td>199.68</td><td>245.34</td><td>325.37</td><td>337.94</td><td>335.79</td><td>287.5</td><td>465.56</td><td>535.97</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td>14.27</td><td>23.11</td><td>30.96</td><td></td><td></td><td>31.1</td><td>38.94</td><td>39.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>878.08</td><td>919.92</td><td>949.27</td><td>999.99</td><td>1071.73</td><td>1179.28</td><td>1237.74</td><td>1305.6</td><td>1374.1</td><td>1444.6</td></tr>
<tr><td>Expenses</td><td>361.51</td><td>342.02</td><td>335.25</td><td>358.76</td><td>388</td><td>416.82</td><td>406.72</td><td>412.22</td><td>427.2</td><td>434.03</td></tr>
<tr><td>Other Income</td><td>118.34</td><td>114.79</td><td>92.42</td><td>99.22</td><td>95.42</td><td>122.33</td><td>106.94</td><td>107.35</td><td>123.72</td><td>136.22</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>533.05</td><td>539.45</td><td>575.32</td><td>588.9</td><td>625.72</td><td>693.33</td><td>767.02</td><td>829.89</td><td>900.11</td><td>937.12</td></tr>
<tr><td>Profit before tax</td><td>101.86</td><td>153.24</td><td>131.12</td><td>151.55</td><td>153.43</td><td>191.46</td><td>170.94</td><td>170.84</td><td>170.51</td><td>209.67</td></tr>
<tr><td>Tax</td><td>26.49</td><td>39.8</td><td>33.97</td><td>39.2</td><td>39.58</td><td>49.25</td><td>44.01</td><td>44.05</td><td>43.93</td><td>53.99</td></tr>
<tr><td>Net profit</td><td>75.37</td><td>113.44</td><td>97.15</td><td>112.35</td><td>113.85</td><td>142.21</td><td>126.93</td><td>126.79</td><td>126.58</td><td>155.68</td></tr>
<tr><td>Operating Profit</td><td>516.57</td><td>577.9</td><td>614.02</td><td>641.23</td><td>683.73</td><td>762.46</td><td>831.02</td><td>893.38</td><td>946.9</td><td>1010.57</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>282.01</td><td>284.44</td><td>285.36</td><td>308.08</td><td>309.55</td><td>310.42</td><td>310.54</td><td>310.98</td><td>311.5</td><td></td></tr>
<tr><td>Reserves</td><td>1306.56</td><td>1507.73</td><td>1919.52</td><td>2499.75</td><td>2806.06</td><td>3111.74</td><td>3448.05</td><td>3737.85</td><td>4254.61</td><td></td></tr>
<tr><td>Borrowings</td><td>13772.93</td><td>16073.89</td><td>20565.02</td><td>25933.57</td><td>31158.31</td><td>33777.88</td><td>34186.11</td><td>38773.53</td><td>45357.03</td><td></td></tr>
<tr><td>Other Liabilities</td><td>770.79</td><td>1252.46</td><td>1276.48</td><td>1480.7</td><td>1517.91</td><td>1305.1</td><td>1657.43</td><td>2017.78</td><td>2442.73</td><td></td></tr>
<tr><td>Total</td><td>16132.29</td><td>19118.52</td><td>24046.38</td><td>30222.1</td><td>35791.83</td><td>38505.14</td><td>39602.13</td><td>44840.14</td><td>52365.87</td><td></td></tr>
<tr><td>Net Block</td><td>236.68</td><td>248.02</td><td>488.57</td><td>494.02</td><td>525.98</td><td>545.87</td><td>568.51</td><td>608.36</td><td>782.67</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>52.82</td><td>43.6</td><td></td></tr>
<tr><td>Investments</td><td>3962.17</td><td>4333.33</td><td>5817.94</td><td>6218.96</td><td>7844.09</td><td>7741.5</td><td>8413.69</td><td>9098.23</td><td>12582.46</td><td></td></tr>
<tr><td>Other Assets</td><td>11933.44</td><td>14537.17</td><td>17739.87</td><td>23509.12</td><td>27421.76</td><td>30217.77</td><td>30619.93</td><td>35080.73</td><td>38957.14</td><td></td></tr>
<tr><td>Total</td><td>16132.29</td><td>19118.52</td><td>24046.38</td><td>30222.1</td><td>35791.83</td><td>38505.14</td><td>39602.13</td><td>44840.14</td><td>52365.87</td><td></td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>719.15</td><td>891.56</td><td>1192.46</td><td>2371.98</td><td>2793.38</td><td>3545.87</td><td>3039.34</td><td>4090.76</td><td>2368.42</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td>282012273</td><td>284436073</td><td>285364353</td><td>308084883</td><td>309546898</td><td>310415413</td><td>310536113</td><td>310976463</td><td>311501733</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-495.73</td><td>219.62</td><td>239.8</td><td>230.05</td><td>-281.34</td><td>170.7</td><td>-1502.13</td><td>1606.08</td><td>-1565.72</td><td>-1239.83</td></tr>
<tr><td>Cash from Investing Activity</td><td>-28.83</td><td>-40.86</td><td>-71.1</td><td>-59.21</td><td>-76.42</td><td>-71.74</td><td>-79.37</td><td>-156.62</td><td>-164.76</td><td>-132.9</td></tr>
<tr><td>Cash from Financing Activity</td><td>554.14</td><td>-6.35</td><td>132.21</td><td>1008.68</td><td>779.15</td><td>653.54</td><td>1074.97</td><td>-398.04</td><td>8.14</td><td>2070.19</td></tr>
<tr><td>Net Cash Flow</td><td>29.58</td><td>172.41</td><td>300.9</td><td>1179.52</td><td>421.39</td><td>752.49</td><td>-506.53</td><td>1051.42</td><td>-1722.34</td><td>697.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>110.95</td><td>79.25</td><td>170.25</td><td>161.55</td><td>204.7</td><td>94.8</td><td>102.6</td><td>69.4</td><td>106.5</td><td>119.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>28.2</td><td>28.44</td><td>28.54</td><td>30.81</td><td>30.95</td><td>31.04</td><td>31.05</td><td>31.1</td><td>31.15</td><td>31.28</td></tr>
</table>
</body>
</html>