<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Deepak Nitrite</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DEEPAK NITRITE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2435.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>33219.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td>1327.16</td><td>1372.93</td><td>1370.71</td><td>1651.45</td><td>2699.92</td><td>4229.71</td><td>4359.75</td><td>6802.19</td><td>7972.06</td></tr>
<tr><td>Raw Material Cost</td><td></td><td>824.49</td><td>832.16</td><td>849.58</td><td>1003.71</td><td>1773.71</td><td>2315.3</td><td>2239.55</td><td>4163.8</td><td>5495.06</td></tr>
<tr><td>Change in Inventory</td><td></td><td>-11.53</td><td>6.7</td><td>25.91</td><td>-10.71</td><td>153.59</td><td>-25.59</td><td>10.01</td><td>96.6</td><td>191.11</td></tr>
<tr><td>Power and Fuel</td><td></td><td>115.92</td><td>118.15</td><td>102.44</td><td>119.88</td><td>207.33</td><td>285.19</td><td>264.74</td><td>438.61</td><td>541.93</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td>65.37</td><td>56.27</td><td>75.29</td><td>75.04</td><td>99.11</td><td>138.87</td><td>110.83</td><td>138.55</td><td>158.7</td></tr>
<tr><td>Employee Cost</td><td></td><td>100.3</td><td>119.25</td><td>122.46</td><td>136.36</td><td>179.96</td><td>218.81</td><td>250.31</td><td>277.71</td><td>322.44</td></tr>
<tr><td>Selling and admin</td><td></td><td>45.41</td><td>52.11</td><td>82.05</td><td>76.02</td><td>111.24</td><td>158.47</td><td>179.83</td><td>219.74</td><td>272.45</td></tr>
<tr><td>Other Expenses</td><td></td><td>23.8</td><td>33.13</td><td>25.31</td><td>25.68</td><td>60.68</td><td>52.25</td><td>72.48</td><td>53.71</td><td>80.16</td></tr>
<tr><td>Other Income</td><td></td><td>0.97</td><td>-0.18</td><td>79.65</td><td>6.82</td><td>10.84</td><td>28.87</td><td>19.66</td><td>41.85</td><td>46.43</td></tr>
<tr><td>Depreciation</td><td></td><td>36.02</td><td>39.54</td><td>48.04</td><td>52.6</td><td>77.79</td><td>139.73</td><td>152.63</td><td>177.7</td><td>166.3</td></tr>
<tr><td>Interest</td><td></td><td>37.99</td><td>39.71</td><td>36.54</td><td>47.42</td><td>86.55</td><td>117.97</td><td>77.33</td><td>36.37</td><td>26.68</td></tr>
<tr><td>Profit before tax</td><td></td><td>67.3</td><td>89.13</td><td>134.56</td><td>110.85</td><td>267.98</td><td>806.4</td><td>1041.72</td><td>1434.45</td><td>1145.88</td></tr>
<tr><td>Tax</td><td></td><td>14.3</td><td>26.23</td><td>38.24</td><td>31.84</td><td>94.32</td><td>195.37</td><td>265.91</td><td>367.81</td><td>293.88</td></tr>
<tr><td>Net profit</td><td></td><td>52.9</td><td>62.73</td><td>96.32</td><td>79.02</td><td>173.66</td><td>611.03</td><td>775.81</td><td>1066.64</td><td>852</td></tr>
<tr><td>Dividend Amount</td><td></td><td>10.46</td><td>13.96</td><td>15.68</td><td>17.73</td><td>27.28</td><td>61.38</td><td>75.02</td><td>95.48</td><td>102.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1681.35</td><td>1722.27</td><td>1872.35</td><td>2057.99</td><td>1961.65</td><td>1991.06</td><td>1961.36</td><td>1768.34</td><td>1778.05</td><td>2009.23</td></tr>
<tr><td>Expenses</td><td>1294.81</td><td>1370.42</td><td>1462.02</td><td>1702.01</td><td>1690.8</td><td>1676.47</td><td>1613.4</td><td>1558.59</td><td>1475.79</td><td>1704.58</td></tr>
<tr><td>Other Income</td><td>8.43</td><td>25.75</td><td>3.54</td><td>9.61</td><td>12.04</td><td>13.36</td><td>12.57</td><td>31.87</td><td>17.05</td><td>13.56</td></tr>
<tr><td>Depreciation</td><td>44.05</td><td>45.47</td><td>44.62</td><td>41.88</td><td>42.4</td><td>41.1</td><td>40.92</td><td>38.08</td><td>39.43</td><td>41.69</td></tr>
<tr><td>Interest</td><td>9.24</td><td>6.8</td><td>7.06</td><td>8.59</td><td>5.9</td><td>5.83</td><td>4.46</td><td>1.81</td><td>2.68</td><td>2.93</td></tr>
<tr><td>Profit before tax</td><td>341.68</td><td>325.33</td><td>362.19</td><td>315.12</td><td>234.59</td><td>281.02</td><td>315.15</td><td>201.73</td><td>277.2</td><td>273.59</td></tr>
<tr><td>Tax</td><td>87.34</td><td>82.87</td><td>94.98</td><td>80.5</td><td>60.12</td><td>71.97</td><td>81.29</td><td>51.83</td><td>72.12</td><td>71.54</td></tr>
<tr><td>Net profit</td><td>254.34</td><td>242.46</td><td>267.21</td><td>234.62</td><td>174.47</td><td>209.05</td><td>233.86</td><td>149.9</td><td>205.08</td><td>202.05</td></tr>
<tr><td>Operating Profit</td><td>386.54</td><td>351.85</td><td>410.33</td><td>355.98</td><td>270.85</td><td>314.59</td><td>347.96</td><td>209.75</td><td>302.26</td><td>304.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td>20.91</td><td>23.26</td><td>26.14</td><td>27.28</td><td>27.28</td><td>27.28</td><td>27.28</td><td>27.28</td><td>27.28</td></tr>
<tr><td>Reserves</td><td></td><td>325.31</td><td>449.61</td><td>688.72</td><td>894.86</td><td>1044.31</td><td>1544.63</td><td>2319.37</td><td>3311.16</td><td>4062.68</td></tr>
<tr><td>Borrowings</td><td></td><td>544.52</td><td>528.81</td><td>723.89</td><td>986.54</td><td>1186.51</td><td>1106.84</td><td>589.74</td><td>315.03</td><td>72.86</td></tr>
<tr><td>Other Liabilities</td><td></td><td>234.65</td><td>294.56</td><td>350.44</td><td>683.62</td><td>677.17</td><td>537.79</td><td>630.26</td><td>778.79</td><td>966.67</td></tr>
<tr><td>Total</td><td></td><td>1125.39</td><td>1296.24</td><td>1789.19</td><td>2592.3</td><td>2935.27</td><td>3216.54</td><td>3566.65</td><td>4432.26</td><td>5129.49</td></tr>
<tr><td>Net Block</td><td></td><td>548.72</td><td>593.75</td><td>585.93</td><td>587.56</td><td>1715.83</td><td>1831.98</td><td>1863.74</td><td>1963.43</td><td>1941.61</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td>43.97</td><td>35.91</td><td>349.19</td><td>954.51</td><td>33.87</td><td>172.27</td><td>220.44</td><td>122.23</td><td>300.83</td></tr>
<tr><td>Investments</td><td></td><td>2.98</td><td>86.6</td><td>118.08</td><td>31.77</td><td>2.39</td><td>2.38</td><td>189.29</td><td>439.02</td><td>379.35</td></tr>
<tr><td>Other Assets</td><td></td><td>529.72</td><td>579.98</td><td>735.99</td><td>1018.46</td><td>1183.18</td><td>1209.91</td><td>1293.18</td><td>1907.58</td><td>2507.7</td></tr>
<tr><td>Total</td><td></td><td>1125.39</td><td>1296.24</td><td>1789.19</td><td>2592.3</td><td>2935.27</td><td>3216.54</td><td>3566.65</td><td>4432.26</td><td>5129.49</td></tr>
<tr><td>Receivables</td><td></td><td>310.99</td><td>313.19</td><td>360.33</td><td>411.77</td><td>574.96</td><td>612.72</td><td>756.3</td><td>1129.06</td><td>1309.52</td></tr>
<tr><td>Inventory</td><td></td><td>107.3</td><td>123.11</td><td>168.85</td><td>327.16</td><td>418.22</td><td>402.43</td><td>389.04</td><td>586.35</td><td>893.97</td></tr>
<tr><td>Cash & Bank</td><td></td><td>3.06</td><td>6.49</td><td>14.49</td><td>48.2</td><td>25.77</td><td>31.4</td><td>33.43</td><td>41.79</td><td>39.95</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td>104538190</td><td>116288190</td><td>130711266</td><td>136393500</td><td>136393500</td><td>136393500</td><td>136393500</td><td>136393500</td><td>136393500</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td>108.01</td><td>167.28</td><td>49.01</td><td>183</td><td>60.28</td><td>764.66</td><td>1001.9</td><td>823.84</td><td>649.92</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td>-89.12</td><td>-169.38</td><td>-352.55</td><td>-524.73</td><td>-162.55</td><td>-427.92</td><td>-396.16</td><td>-424.05</td><td>-276.05</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td>-22.28</td><td>4.33</td><td>304.62</td><td>345.31</td><td>95.81</td><td>-337.56</td><td>-598.99</td><td>-385.83</td><td>-359.08</td></tr>
<tr><td>Net Cash Flow</td><td></td><td>-3.4</td><td>2.23</td><td>1.07</td><td>3.59</td><td>-6.46</td><td>-0.82</td><td>6.75</td><td>13.96</td><td>14.79</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td>68.5</td><td>68</td><td>131.25</td><td>247.9</td><td>274.15</td><td>385.05</td><td>1656.5</td><td>2243.75</td><td>1842.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td>10.45</td><td>11.63</td><td>13.07</td><td>13.64</td><td>13.64</td><td>13.64</td><td>13.64</td><td>13.64</td><td>13.64</td></tr>
</table>
</body>
</html>