<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Delta Corp</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DELTA CORP LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>116.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>3122.27</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>299.97</td><td>375.18</td><td>454.65</td><td>607.66</td><td>797.81</td><td>773.41</td><td>418.87</td><td>616.13</td><td>1020.77</td><td>925.3</td></tr>
<tr><td>Raw Material Cost</td><td>20.46</td><td>27.28</td><td>26.34</td><td>30.97</td><td>60.5</td><td>48.89</td><td>27.82</td><td>62.32</td><td>106.53</td><td>88.92</td></tr>
<tr><td>Change in Inventory</td><td>-0.08</td><td>1.99</td><td>-0.02</td><td>0.75</td><td>26.44</td><td>10.22</td><td>8.51</td><td>29.38</td><td>48.21</td><td>22.41</td></tr>
<tr><td>Power and Fuel</td><td>23.06</td><td>20.75</td><td>20.9</td><td>22.64</td><td>25.92</td><td>25.28</td><td>14.79</td><td>24.05</td><td>41.74</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>18.78</td><td>18.12</td><td>22.06</td><td>23.68</td><td>23.31</td><td>21.8</td><td>12.95</td><td>17.55</td><td>25.18</td><td></td></tr>
<tr><td>Employee Cost</td><td>52.68</td><td>59.09</td><td>64.1</td><td>94.68</td><td>110.14</td><td>112.29</td><td>93.78</td><td>123.07</td><td>159.76</td><td>174.41</td></tr>
<tr><td>Selling and admin</td><td>105.12</td><td>120.05</td><td>147.43</td><td>174.98</td><td>271.65</td><td>272.44</td><td>242.29</td><td>264.43</td><td>353.37</td><td>124.75</td></tr>
<tr><td>Other Expenses</td><td>12.77</td><td>1.17</td><td>12.34</td><td>14.23</td><td>17.38</td><td>15.33</td><td>13.64</td><td>15.08</td><td>16.05</td><td>266.24</td></tr>
<tr><td>Other Income</td><td>2.06</td><td>2.34</td><td>8.54</td><td>28.74</td><td>34.68</td><td>33.24</td><td>26.83</td><td>30.3</td><td>45.98</td><td>107.65</td></tr>
<tr><td>Depreciation</td><td>34.69</td><td>35.95</td><td>36.12</td><td>37.14</td><td>37.68</td><td>48.53</td><td>52.66</td><td>56.08</td><td>58.65</td><td>63.78</td></tr>
<tr><td>Interest</td><td>51.3</td><td>41.35</td><td>34.97</td><td>10.38</td><td>1.78</td><td>16.07</td><td>14.28</td><td>15.63</td><td>24.39</td><td>11.04</td></tr>
<tr><td>Profit before tax</td><td>-16.91</td><td>55.75</td><td>98.91</td><td>228.45</td><td>310.57</td><td>256.24</td><td>-18</td><td>97.6</td><td>329.29</td><td>326.22</td></tr>
<tr><td>Tax</td><td>10.83</td><td>20.21</td><td>28.03</td><td>73.69</td><td>114.13</td><td>71.46</td><td>7.51</td><td>29.76</td><td>66.98</td><td>81.56</td></tr>
<tr><td>Net profit</td><td>-22.77</td><td>38.22</td><td>73.75</td><td>155.55</td><td>196.76</td><td>185.63</td><td>-24.1</td><td>66.99</td><td>261.37</td><td>244.23</td></tr>
<tr><td>Dividend Amount</td><td>52.76</td><td>4.61</td><td>8.11</td><td>26.76</td><td>17.61</td><td>40.64</td><td>26.68</td><td>33.41</td><td>33.45</td><td>33.48</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>247.22</td><td>218.32</td><td>250.27</td><td>269.97</td><td>273.37</td><td>214.31</td><td>272.8</td><td>270.59</td><td>210.13</td><td>194.81</td></tr>
<tr><td>Expenses</td><td>140.5</td><td>149.32</td><td>162.77</td><td>169.63</td><td>171.05</td><td>154.13</td><td>176.98</td><td>170.51</td><td>154.34</td><td>153.1</td></tr>
<tr><td>Other Income</td><td>3.9</td><td>12.05</td><td>6.24</td><td>10.3</td><td>11.87</td><td>18.8</td><td>14.23</td><td>12.05</td><td>12.88</td><td>68.49</td></tr>
<tr><td>Depreciation</td><td>13.6</td><td>15.52</td><td>14.24</td><td>14.97</td><td>14.88</td><td>14.56</td><td>15.89</td><td>16.95</td><td>16.02</td><td>14.92</td></tr>
<tr><td>Interest</td><td>1.9</td><td>1.77</td><td>1.94</td><td>2.23</td><td>2.96</td><td>2.48</td><td>2.14</td><td>2.74</td><td>2.97</td><td>3.19</td></tr>
<tr><td>Profit before tax</td><td>95.12</td><td>63.76</td><td>77.56</td><td>93.44</td><td>96.35</td><td>61.94</td><td>92.02</td><td>92.44</td><td>49.68</td><td>92.09</td></tr>
<tr><td>Tax</td><td>24.3</td><td>15.28</td><td>20.08</td><td>24.81</td><td>11.45</td><td>10.64</td><td>23.84</td><td>22.98</td><td>15.12</td><td>19.62</td></tr>
<tr><td>Net profit</td><td>70.38</td><td>48.11</td><td>57.13</td><td>68.25</td><td>84.82</td><td>51.17</td><td>67.91</td><td>69.44</td><td>34.48</td><td>72.41</td></tr>
<tr><td>Operating Profit</td><td>106.72</td><td>69</td><td>87.5</td><td>100.34</td><td>102.32</td><td>60.18</td><td>95.82</td><td>100.08</td><td>55.79</td><td>41.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>23.07</td><td>23.07</td><td>23.16</td><td>26.76</td><td>27.09</td><td>27.09</td><td>26.68</td><td>26.73</td><td>26.76</td><td>26.78</td></tr>
<tr><td>Reserves</td><td>741.98</td><td>812.31</td><td>897.04</td><td>1655.98</td><td>1915.18</td><td>1927.51</td><td>1915.17</td><td>1994.79</td><td>2192.23</td><td>2491.03</td></tr>
<tr><td>Borrowings</td><td>337.17</td><td>242.78</td><td>221</td><td>2.29</td><td>0.19</td><td></td><td>35.28</td><td>45.33</td><td>67.51</td><td>51.51</td></tr>
<tr><td>Other Liabilities</td><td>115.5</td><td>116.86</td><td>116.07</td><td>298.62</td><td>128.54</td><td>168.04</td><td>164.95</td><td>209.55</td><td>249.94</td><td>296.37</td></tr>
<tr><td>Total</td><td>1217.72</td><td>1195.02</td><td>1257.27</td><td>1983.65</td><td>2071</td><td>2122.64</td><td>2142.08</td><td>2276.4</td><td>2536.44</td><td>2865.69</td></tr>
<tr><td>Net Block</td><td>854.19</td><td>860.67</td><td>852.1</td><td>1223.6</td><td>1229.46</td><td>1285.98</td><td>1242.09</td><td>1196.94</td><td>1210.65</td><td>1311.29</td></tr>
<tr><td>Capital Work in Progress</td><td>3.8</td><td>2.7</td><td>0.52</td><td>4.09</td><td>12.9</td><td>6.7</td><td>5.94</td><td>6.9</td><td>21.88</td><td>175.87</td></tr>
<tr><td>Investments</td><td>107.71</td><td>82.57</td><td>98.06</td><td>422.01</td><td>445.45</td><td>504.79</td><td>559.64</td><td>637.84</td><td>560.2</td><td>647.32</td></tr>
<tr><td>Other Assets</td><td>252.02</td><td>249.08</td><td>306.59</td><td>333.95</td><td>383.19</td><td>325.17</td><td>334.41</td><td>434.72</td><td>743.71</td><td>731.21</td></tr>
<tr><td>Total</td><td>1217.72</td><td>1195.02</td><td>1257.27</td><td>1983.65</td><td>2071</td><td>2122.64</td><td>2142.08</td><td>2276.4</td><td>2536.44</td><td>2865.69</td></tr>
<tr><td>Receivables</td><td>22.76</td><td>14.2</td><td>4.25</td><td>8.29</td><td>6.95</td><td>0.49</td><td>3.67</td><td>3.08</td><td>4.91</td><td>10.24</td></tr>
<tr><td>Inventory</td><td>69.54</td><td>70.76</td><td>69.53</td><td>70.49</td><td>95.82</td><td>107.14</td><td>115.56</td><td>145.1</td><td>193.4</td><td>18.61</td></tr>
<tr><td>Cash & Bank</td><td>20.97</td><td>22.77</td><td>31.39</td><td>123.48</td><td>73.78</td><td>96.06</td><td>63.75</td><td>102.85</td><td>128.66</td><td>131.27</td></tr>
<tr><td>No. of Equity Shares</td><td>230664104</td><td>230664104</td><td>231624104</td><td>267590478</td><td>270938186</td><td>270938186</td><td>266820937</td><td>266820937</td><td>267595597</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>83.84</td><td>117.2</td><td>130.9</td><td>228.5</td><td>101.4</td><td>318.83</td><td>56.56</td><td>126.53</td><td>154.04</td><td>170.29</td></tr>
<tr><td>Cash from Investing Activity</td><td>-24.98</td><td>-17.3</td><td>-64.97</td><td>-436.11</td><td>-78.47</td><td>-214.8</td><td>-10.48</td><td>-45.42</td><td>-73.6</td><td>-110.55</td></tr>
<tr><td>Cash from Financing Activity</td><td>-92.93</td><td>-97.7</td><td>-58.92</td><td>301.1</td><td>-72.66</td><td>-83.4</td><td>-80.26</td><td>-44.43</td><td>-52.08</td><td>-54</td></tr>
<tr><td>Net Cash Flow</td><td>-34.07</td><td>2.2</td><td>7.02</td><td>93.49</td><td>-49.73</td><td>20.63</td><td>-34.18</td><td>36.68</td><td>28.36</td><td>5.74</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>80.4</td><td>66</td><td>181.1</td><td>250.25</td><td>254.8</td><td>65.35</td><td>162.15</td><td>330.05</td><td>180.7</td><td>110.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>23.07</td><td>23.07</td><td>23.16</td><td>26.76</td><td>27.09</td><td>27.09</td><td>26.68</td><td>26.73</td><td>26.76</td><td>26.78</td></tr>
</table>
</body>
</html>