<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\DLF</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>DLF LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>836.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>207170.98</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>8298.04</td><td>7648.73</td><td>9925.61</td><td>8221.23</td><td>6706.79</td><td>8366.09</td><td>6082.77</td><td>5414.06</td><td>5717.39</td><td>5694.83</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>92.42</td><td>81.09</td><td>170.61</td><td>51.68</td><td>33.27</td><td>41.38</td><td>40.67</td><td>28.86</td><td>25.11</td><td>23.69</td></tr>
<tr><td>Other Mfr. Exp</td><td>3985.42</td><td>3367.47</td><td>4619.5</td><td>3536.5</td><td>3240.78</td><td>5086</td><td>3503.64</td><td>2967.47</td><td>2892.68</td><td>2589.24</td></tr>
<tr><td>Employee Cost</td><td>562.65</td><td>351.72</td><td>319.88</td><td>333.65</td><td>348.88</td><td>352.62</td><td>357.7</td><td>314.59</td><td>354.78</td><td>548.63</td></tr>
<tr><td>Selling and admin</td><td>682.45</td><td>520.78</td><td>602.55</td><td>563.25</td><td>470.87</td><td>436.9</td><td>440.39</td><td>375.1</td><td>441.74</td><td>508.49</td></tr>
<tr><td>Other Expenses</td><td>481.87</td><td>314</td><td>246.99</td><td>289.78</td><td>234.85</td><td>300.99</td><td>594.66</td><td>258.78</td><td>259.84</td><td>298.9</td></tr>
<tr><td>Other Income</td><td>1133.17</td><td>503.46</td><td>505.87</td><td>1135.47</td><td>9721.56</td><td>783.95</td><td>1135</td><td>383.15</td><td>195.34</td><td>317.31</td></tr>
<tr><td>Depreciation</td><td>662.93</td><td>544.79</td><td>765.89</td><td>572.49</td><td>533.53</td><td>224.63</td><td>200.3</td><td>159.48</td><td>149.44</td><td>148.63</td></tr>
<tr><td>Interest</td><td>2463.25</td><td>2303.86</td><td>2679.8</td><td>2979.82</td><td>2950.71</td><td>2061.87</td><td>1426.94</td><td>853.36</td><td>624.55</td><td>392.14</td></tr>
<tr><td>Profit before tax</td><td>500.22</td><td>668.48</td><td>1026.26</td><td>1029.53</td><td>8615.46</td><td>645.65</td><td>653.47</td><td>839.57</td><td>1164.59</td><td>1502.42</td></tr>
<tr><td>Tax</td><td>-82.38</td><td>158.12</td><td>564.24</td><td>229.26</td><td>4323.05</td><td>277.38</td><td>2132.67</td><td>362.28</td><td>320.98</td><td>401.5</td></tr>
<tr><td>Net profit</td><td>646.21</td><td>540.23</td><td>306.2</td><td>714.8</td><td>4463.86</td><td>1319.2</td><td>-583.2</td><td>1093.6</td><td>1500.85</td><td>2035.83</td></tr>
<tr><td>Dividend Amount</td><td>356.29</td><td>356.39</td><td>356.74</td><td>356.8</td><td>356.81</td><td>441.44</td><td>495.06</td><td>495.06</td><td>742.59</td><td>990.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1480.9</td><td>1549.7</td><td>1547.26</td><td>1441.63</td><td>1302.34</td><td>1494.8</td><td>1456.06</td><td>1423.23</td><td>1347.68</td><td>1521.25</td></tr>
<tr><td>Expenses</td><td>1022.64</td><td>1028.38</td><td>1179.72</td><td>1027.97</td><td>865.67</td><td>1017.6</td><td>1057.71</td><td>1027.06</td><td>885.33</td><td>1010.28</td></tr>
<tr><td>Other Income</td><td>75.63</td><td>-87.21</td><td>104.87</td><td>74.65</td><td>58.16</td><td>64.86</td><td>119.64</td><td>98.48</td><td>128.74</td><td>122.26</td></tr>
<tr><td>Depreciation</td><td>37.26</td><td>37.35</td><td>36.91</td><td>37.33</td><td>36.67</td><td>38.59</td><td>36.04</td><td>36.36</td><td>36.96</td><td>37.95</td></tr>
<tr><td>Interest</td><td>175.89</td><td>145.53</td><td>128.2</td><td>105.22</td><td>106.93</td><td>95.43</td><td>84.56</td><td>84.85</td><td>90.16</td><td>83.74</td></tr>
<tr><td>Profit before tax</td><td>320.74</td><td>251.23</td><td>307.3</td><td>345.76</td><td>351.23</td><td>408.04</td><td>397.39</td><td>373.44</td><td>463.97</td><td>511.54</td></tr>
<tr><td>Tax</td><td>94.41</td><td>60.02</td><td>83.76</td><td>87.61</td><td>90.96</td><td>110.39</td><td>112.54</td><td>101.42</td><td>112.2</td><td>135.04</td></tr>
<tr><td>Net profit</td><td>378.95</td><td>379.48</td><td>405.33</td><td>469.57</td><td>477.04</td><td>519.21</td><td>570.01</td><td>527</td><td>622.78</td><td>656.61</td></tr>
<tr><td>Operating Profit</td><td>458.26</td><td>521.32</td><td>367.54</td><td>413.66</td><td>436.67</td><td>477.2</td><td>398.35</td><td>396.17</td><td>462.35</td><td>510.97</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>356.29</td><td>356.39</td><td>356.74</td><td>356.8</td><td>356.81</td><td>441.44</td><td>495.06</td><td>495.06</td><td>495.06</td><td>495.06</td></tr>
<tr><td>Reserves</td><td>27038.6</td><td>27012.51</td><td>23712.34</td><td>24216.03</td><td>34203.53</td><td>32385</td><td>33951.68</td><td>34848.87</td><td>35867.22</td><td>37192.47</td></tr>
<tr><td>Borrowings</td><td>22334.07</td><td>24494.94</td><td>25263.77</td><td>29202.23</td><td>17490.8</td><td>17222.46</td><td>8102.51</td><td>6785.41</td><td>4181.84</td><td>3333.99</td></tr>
<tr><td>Other Liabilities</td><td>14795.97</td><td>14398.49</td><td>12396.48</td><td>10179.22</td><td>8533.39</td><td>16433.82</td><td>13341.2</td><td>11358.31</td><td>10622.74</td><td>11550.71</td></tr>
<tr><td>Total</td><td>64524.93</td><td>66262.33</td><td>61729.33</td><td>63954.28</td><td>60584.53</td><td>66482.72</td><td>55890.45</td><td>53487.65</td><td>51166.86</td><td>52572.23</td></tr>
<tr><td>Net Block</td><td>18834.63</td><td>19618.76</td><td>3943.18</td><td>24640.21</td><td>8082.28</td><td>6321.67</td><td>5186.87</td><td>4856.26</td><td>4862.39</td><td>4785.38</td></tr>
<tr><td>Capital Work in Progress</td><td>5978.69</td><td>5900.9</td><td>1779.06</td><td>152.76</td><td>137.33</td><td>102.92</td><td>88.7</td><td>94.94</td><td>81.05</td><td>61.12</td></tr>
<tr><td>Investments</td><td>891.23</td><td>623.41</td><td>21309.72</td><td>1209.27</td><td>20831.55</td><td>21004.67</td><td>18565.82</td><td>19745.52</td><td>19779.49</td><td>19481.13</td></tr>
<tr><td>Other Assets</td><td>38820.38</td><td>40119.26</td><td>34697.37</td><td>37952.04</td><td>31533.37</td><td>39053.46</td><td>32049.06</td><td>28790.93</td><td>26443.93</td><td>28244.6</td></tr>
<tr><td>Total</td><td>64524.93</td><td>66262.33</td><td>61729.33</td><td>63954.28</td><td>60584.53</td><td>66482.72</td><td>55890.45</td><td>53487.65</td><td>51166.86</td><td>52572.23</td></tr>
<tr><td>Receivables</td><td>1561.23</td><td>1586.4</td><td>3416.93</td><td>1417.36</td><td>1285.79</td><td>832.28</td><td>720.39</td><td>581.29</td><td>563.6</td><td>549.23</td></tr>
<tr><td>Inventory</td><td>18511.2</td><td>17610.47</td><td>16834.24</td><td>20098.8</td><td>19752.92</td><td>22008.55</td><td>22486.24</td><td>21086.64</td><td>20106.99</td><td>19361.23</td></tr>
<tr><td>Cash & Bank</td><td>2442.03</td><td>2747.65</td><td>3381.32</td><td>4098.93</td><td>2277.93</td><td>4855.37</td><td>2420.43</td><td>1406.87</td><td>931.62</td><td>2274.72</td></tr>
<tr><td>No. of Equity Shares</td><td>1781451307</td><td>1781927367</td><td>1783716082</td><td>1784003090</td><td>1784067028</td><td>2207221948</td><td>2475311706</td><td>2475311706</td><td>2475311706</td><td>2475311706</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>1467.56</td><td>2036.82</td><td>2956.87</td><td>-897.85</td><td>270.32</td><td>2043</td><td>355.68</td><td>1460.18</td><td>2831.82</td><td>2375.26</td></tr>
<tr><td>Cash from Investing Activity</td><td>3924.36</td><td>98.36</td><td>-818.01</td><td>871.6</td><td>-2102.44</td><td>2.98</td><td>6508.1</td><td>150.47</td><td>266.98</td><td>-460.61</td></tr>
<tr><td>Cash from Financing Activity</td><td>-4531.79</td><td>-1547.42</td><td>-1928.53</td><td>787.08</td><td>-231.99</td><td>875.42</td><td>-9521.75</td><td>-2183.79</td><td>-3828.19</td><td>-2013.15</td></tr>
<tr><td>Net Cash Flow</td><td>860.13</td><td>587.76</td><td>210.33</td><td>760.82</td><td>-2064.12</td><td>2921.39</td><td>-2657.97</td><td>-573.13</td><td>-729.39</td><td>-98.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>176.45</td><td>158.25</td><td>114.75</td><td>148.65</td><td>201.25</td><td>202.45</td><td>137.45</td><td>287.05</td><td>380.45</td><td>356.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>178.15</td><td>178.19</td><td>178.37</td><td>178.4</td><td>178.41</td><td>220.72</td><td>247.53</td><td>247.53</td><td>247.53</td><td>247.53</td></tr>
</table>
</body>
</html>