<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Edelweiss</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>EDELWEISS FINANCIAL SERVICES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>72.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6843.56</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2535.27</td><td>3887.06</td><td>5255.75</td><td>6604.31</td><td>8878.4</td><td>11077.52</td><td>9543.79</td><td>10775.02</td><td>7150.92</td><td>8500.19</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>2.79</td><td>20.37</td><td>28.94</td><td>40.1</td><td>55.64</td><td>790.39</td><td>895.9</td><td>1700.19</td><td>1764.95</td><td>1857.6</td></tr>
<tr><td>Employee Cost</td><td>459.4</td><td>710.19</td><td>884.02</td><td>1104.19</td><td>1376.22</td><td>1649.99</td><td>1408.64</td><td>1617.18</td><td>1065.62</td><td>1067.84</td></tr>
<tr><td>Selling and admin</td><td>304.21</td><td>429.59</td><td>587.71</td><td>722.17</td><td>996.43</td><td></td><td>1063.55</td><td>1069.63</td><td>1038.85</td><td>1355.05</td></tr>
<tr><td>Other Expenses</td><td>171.95</td><td>320.82</td><td>485.92</td><td>893.03</td><td>1163.7</td><td>2066.48</td><td>3665.93</td><td>2222.31</td><td>77.21</td><td>1386.45</td></tr>
<tr><td>Other Income</td><td>5.25</td><td>7</td><td>12.33</td><td>14.53</td><td>42.44</td><td>87.91</td><td>58.84</td><td>73.83</td><td>158.32</td><td>264.2</td></tr>
<tr><td>Depreciation</td><td>52.41</td><td>71.64</td><td>90.23</td><td>106.44</td><td>103.6</td><td>131.63</td><td>232.23</td><td>259.88</td><td>151.12</td><td>138.16</td></tr>
<tr><td>Interest</td><td>1210.67</td><td>1831.55</td><td>2620.09</td><td>2809.7</td><td>3876.34</td><td>4783.23</td><td>4793.04</td><td>3834.03</td><td>2984.11</td><td>2574.56</td></tr>
<tr><td>Profit before tax</td><td>339.09</td><td>509.9</td><td>571.17</td><td>943.21</td><td>1348.91</td><td>1743.71</td><td>-2456.66</td><td>145.63</td><td>227.38</td><td>384.73</td></tr>
<tr><td>Tax</td><td>134.61</td><td>201.7</td><td>235.38</td><td>394.73</td><td>511.85</td><td>699.35</td><td>-412.88</td><td>-108.3</td><td>15.3</td><td>-20.83</td></tr>
<tr><td>Net profit</td><td>220.25</td><td>328.71</td><td>414.38</td><td>609.31</td><td>863.18</td><td>995.17</td><td>-2045.25</td><td>265.34</td><td>188.78</td><td>344.16</td></tr>
<tr><td>Dividend Amount</td><td>53.84</td><td>79.18</td><td>101.75</td><td>108.24</td><td>117.53</td><td>124.29</td><td></td><td>129.18</td><td>130.24</td><td>134.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1821.14</td><td>1603.1</td><td>1911.28</td><td>1173.05</td><td>2090.56</td><td>2148.84</td><td>3012.39</td><td>1978.64</td><td>2155.76</td><td>2397.86</td></tr>
<tr><td>Expenses</td><td>1065.02</td><td>1025.18</td><td>1108.44</td><td>583.83</td><td>1418.38</td><td>1399.49</td><td>2209.04</td><td>1261.82</td><td>1365.93</td><td>1566.05</td></tr>
<tr><td>Other Income</td><td>68.15</td><td>306.99</td><td>38.33</td><td>124.57</td><td>46.18</td><td>61.11</td><td>51.48</td><td>16.83</td><td>9.17</td><td>16.69</td></tr>
<tr><td>Depreciation</td><td>35.53</td><td>53.49</td><td>26.24</td><td>31.81</td><td>29.82</td><td>26.3</td><td>50.23</td><td>29.92</td><td>30.74</td><td>32.28</td></tr>
<tr><td>Interest</td><td>748.4</td><td>704.05</td><td>729.34</td><td>626.39</td><td>645.92</td><td>646.14</td><td>656.11</td><td>679.75</td><td>661.9</td><td>727.06</td></tr>
<tr><td>Profit before tax</td><td>40.34</td><td>127.37</td><td>85.59</td><td>55.59</td><td>42.62</td><td>138.02</td><td>148.49</td><td>23.98</td><td>106.36</td><td>89.16</td></tr>
<tr><td>Tax</td><td>-24.88</td><td>51.18</td><td>40.21</td><td>20.19</td><td>-33.89</td><td>16.49</td><td>-23.62</td><td>-53.77</td><td>11.43</td><td>-63.12</td></tr>
<tr><td>Net profit</td><td>57.29</td><td>70.96</td><td>42.45</td><td>26.38</td><td>67.21</td><td>101.26</td><td>149.31</td><td>50.54</td><td>75.95</td><td>125.09</td></tr>
<tr><td>Operating Profit</td><td>756.12</td><td>577.92</td><td>802.84</td><td>589.22</td><td>672.18</td><td>749.35</td><td>803.35</td><td>716.82</td><td>789.83</td><td>831.81</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>76.91</td><td>79.18</td><td>81.4</td><td>83.26</td><td>87.06</td><td>88.78</td><td>88.95</td><td>89.09</td><td>89.82</td><td>89.84</td></tr>
<tr><td>Reserves</td><td>2813.25</td><td>3081.39</td><td>3593.46</td><td>4246.19</td><td>6796.27</td><td>7588.21</td><td>6039.76</td><td>6488.07</td><td>6447.6</td><td>6654.27</td></tr>
<tr><td>Borrowings</td><td>12948.09</td><td>23540.41</td><td>27773.13</td><td>33379.02</td><td>48964.09</td><td>46147.74</td><td>36657.34</td><td>28436.05</td><td>22767.59</td><td>21791.46</td></tr>
<tr><td>Other Liabilities</td><td>2352.11</td><td>3779.96</td><td>5536.58</td><td>7114.93</td><td>7473.4</td><td>10075.54</td><td>11229.9</td><td>11121.04</td><td>13758.13</td><td>15345.94</td></tr>
<tr><td>Total</td><td>18190.36</td><td>30480.94</td><td>36984.57</td><td>44823.4</td><td>63320.82</td><td>63900.27</td><td>54015.95</td><td>46134.25</td><td>43063.14</td><td>43881.51</td></tr>
<tr><td>Net Block</td><td>481.27</td><td>559.41</td><td>664.16</td><td>636.79</td><td>1055.31</td><td>1264.77</td><td>2344.91</td><td>1780.7</td><td>1597.36</td><td>1367.18</td></tr>
<tr><td>Capital Work in Progress</td><td>53.12</td><td>106.44</td><td>30.28</td><td>100.96</td><td>42.17</td><td>43.68</td><td>43.24</td><td>13.21</td><td>19.63</td><td>24.77</td></tr>
<tr><td>Investments</td><td>2126.31</td><td>2792.28</td><td>2696.43</td><td>6877.68</td><td>7887.14</td><td>12712.71</td><td>10012.41</td><td>12881.98</td><td>14139.3</td><td>17162.22</td></tr>
<tr><td>Other Assets</td><td>15529.66</td><td>27022.81</td><td>33593.7</td><td>37207.97</td><td>54336.2</td><td>49879.11</td><td>41615.39</td><td>31458.36</td><td>27306.85</td><td>25327.34</td></tr>
<tr><td>Total</td><td>18190.36</td><td>30480.94</td><td>36984.57</td><td>44823.4</td><td>63320.82</td><td>63900.27</td><td>54015.95</td><td>46134.25</td><td>43063.14</td><td>43881.51</td></tr>
<tr><td>Receivables</td><td>420.3</td><td>434.72</td><td>518.6</td><td>1098.24</td><td>3009.34</td><td>2754.01</td><td>1305.24</td><td>506.05</td><td>469.17</td><td>413.31</td></tr>
<tr><td>Inventory</td><td>3790.99</td><td>8708.74</td><td>11511.91</td><td>10652.4</td><td>4941.03</td><td>169.13</td><td>43.61</td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>1963.71</td><td>2365.26</td><td>1934.01</td><td>2618.19</td><td>4561.78</td><td>6455.43</td><td>8609.61</td><td>4760.21</td><td>3038.9</td><td>3699.07</td></tr>
<tr><td>No. of Equity Shares</td><td>769045330</td><td>791752619</td><td>814036630</td><td>832569089</td><td>870602147</td><td>887772784</td><td>889510000</td><td>890901297</td><td>898201185</td><td>898380000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-150.81</td><td>-9183.2</td><td>-3762.08</td><td>-497.15</td><td>-12968.73</td><td>5685.3</td><td>12098.41</td><td>3458.03</td><td>5592.25</td><td>1719.89</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1025.59</td><td>-867.4</td><td>-62.29</td><td>-4322.79</td><td>-530.2</td><td>-1312.45</td><td>199.25</td><td>4084.91</td><td>-1057.99</td><td>745.76</td></tr>
<tr><td>Cash from Financing Activity</td><td>1262.96</td><td>10019.14</td><td>3802.11</td><td>5112.36</td><td>14868.02</td><td>-3665.13</td><td>-10470.96</td><td>-8586.94</td><td>-6444.21</td><td>-1708.35</td></tr>
<tr><td>Net Cash Flow</td><td>86.56</td><td>-31.45</td><td>-22.26</td><td>292.42</td><td>1369.08</td><td>707.73</td><td>1826.7</td><td>-1044</td><td>-1909.95</td><td>757.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>16.97</td><td>37.86</td><td>33.39</td><td>93.43</td><td>141.13</td><td>117.16</td><td>22.75</td><td>37.5</td><td>34.78</td><td>31.16</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>76.9</td><td>79.18</td><td>81.4</td><td>83.26</td><td>91.55</td><td>93.27</td><td>93.44</td><td>93.58</td><td>94.31</td><td>94.33</td></tr>
</table>
</body>
</html>