<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\ESAF Small Fin</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ESAF SMALL FINANCE BANK LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>56.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>2889.04</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>1031.64</td><td>1413.25</td><td>1641.17</td><td>1939.93</td><td>2853.66</td><td>3818.43</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>1.2</td><td>1.31</td><td>1.58</td><td>1.76</td><td>4.7</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>78.25</td><td>145.55</td><td>189.18</td><td>233.62</td><td>279.63</td><td>362.97</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>48.2</td><td>57.14</td><td>70.94</td><td>97.52</td><td>134.15</td><td></td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>410.77</td><td>441.96</td><td>617.18</td><td>915.2</td><td>1257.94</td><td>1878.14</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>109.15</td><td>133.19</td><td>127.25</td><td>207.58</td><td>287.91</td><td>441.82</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>16.91</td><td>23.17</td><td>28.57</td><td>32.77</td><td>41.79</td><td></td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>458.28</td><td>621.06</td><td>719.58</td><td>792.79</td><td>1017.32</td><td>1448.73</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>127.18</td><td>256.25</td><td>141.39</td><td>73.85</td><td>406.04</td><td>570.41</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>36.9</td><td>65.87</td><td>35.99</td><td>19.12</td><td>103.71</td><td>144.84</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>90.28</td><td>190.39</td><td>105.4</td><td>54.73</td><td>302.33</td><td>425.57</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>36.03</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td>385.09</td><td>597.64</td><td>688.19</td><td>701.28</td><td>773.8</td><td>898.75</td><td>943.34</td><td>974.37</td><td>1002</td></tr>
<tr><td>Expenses</td><td></td><td>197.6</td><td>285.36</td><td>425.18</td><td>481.23</td><td>456.69</td><td>504.75</td><td>487.2</td><td>567.09</td><td>682.06</td></tr>
<tr><td>Other Income</td><td></td><td>47.76</td><td>48.79</td><td>65.04</td><td>80.91</td><td>94.02</td><td>93.03</td><td>78.94</td><td>119.98</td><td>149.84</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td></td><td>177.94</td><td>219.79</td><td>250.92</td><td>249.93</td><td>274.91</td><td>313.29</td><td>346.79</td><td>377.41</td><td>411.25</td></tr>
<tr><td>Profit before tax</td><td></td><td>57.31</td><td>141.28</td><td>77.13</td><td>51.03</td><td>136.22</td><td>173.74</td><td>188.29</td><td>149.85</td><td>58.53</td></tr>
<tr><td>Tax</td><td></td><td>14.02</td><td>35.68</td><td>19.55</td><td>13.62</td><td>34.84</td><td>43.78</td><td>48.17</td><td>37.71</td><td>15.18</td></tr>
<tr><td>Net profit</td><td></td><td>43.29</td><td>105.6</td><td>57.58</td><td>37.41</td><td>101.38</td><td>129.96</td><td>140.12</td><td>112.14</td><td>43.35</td></tr>
<tr><td>Operating Profit</td><td></td><td>187.49</td><td>312.28</td><td>263.01</td><td>220.05</td><td>317.11</td><td>394</td><td>456.14</td><td>407.28</td><td>319.94</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>427.8</td><td>427.8</td><td>449.47</td><td>449.47</td><td>449.47</td><td></td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>465.9</td><td>656.29</td><td>902.59</td><td>962.13</td><td>1265.53</td><td></td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>6019.37</td><td>8231.7</td><td>10693.43</td><td>15767.9</td><td>18019.83</td><td></td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>145.34</td><td>154.18</td><td>293.16</td><td>528.07</td><td>488.82</td><td></td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>7058.41</td><td>9469.97</td><td>12338.65</td><td>17707.57</td><td>20223.65</td><td></td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>85.67</td><td>115.91</td><td>132.61</td><td>159.4</td><td>187.69</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>4.27</td><td>4.2</td><td>5.91</td><td>0.07</td><td>0.24</td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>1530.75</td><td>1733.63</td><td>1932.07</td><td>4070.3</td><td>4888.53</td><td></td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>5437.72</td><td>7616.23</td><td>10268.06</td><td>13477.8</td><td>15147.19</td><td></td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>7058.41</td><td>9469.97</td><td>12338.65</td><td>17707.57</td><td>20223.65</td><td></td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>781.46</td><td>902.79</td><td>1819.13</td><td>1511.9</td><td>767.05</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>427795490</td><td>427790000</td><td>449473798</td><td>449473798</td><td>449473798</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>-239.13</td><td>1088.88</td><td>1127.45</td><td>-584.5</td><td>-573</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-170.9</td><td>-634.78</td><td>-637.96</td><td>-981.85</td><td>-573.22</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>487.77</td><td>-499.04</td><td>653.27</td><td>1258.83</td><td>401.36</td><td></td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>77.74</td><td>-44.95</td><td>1142.76</td><td>-307.52</td><td>-744.86</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>54.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>42.78</td><td>42.78</td><td>44.95</td><td>44.95</td><td>44.95</td><td>51.48</td></tr>
</table>
</body>
</html>