<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\F A C T</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>FERTILIZERS & CHEMICALS TRAVANCORE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>651.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>42194.6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2209.37</td><td>1978.79</td><td>1735.99</td><td>1866.63</td><td>1926.82</td><td>1954.59</td><td>2769.91</td><td>3258.83</td><td>4424.8</td><td>6198.15</td></tr>
<tr><td>Raw Material Cost</td><td>1592.2</td><td>1463.69</td><td>1082.52</td><td>1159.3</td><td>1056.65</td><td>1348.55</td><td>1566.28</td><td>1693.53</td><td>2731.03</td><td>4135.04</td></tr>
<tr><td>Change in Inventory</td><td>33.68</td><td>0.59</td><td>-179.04</td><td>81.2</td><td>30.53</td><td>76.98</td><td>-8.6</td><td>-96.72</td><td>-6.56</td><td>448.95</td></tr>
<tr><td>Power and Fuel</td><td>259.25</td><td>148.76</td><td>119.98</td><td>166.81</td><td>164.59</td><td>117.89</td><td>254.78</td><td>213.15</td><td>427.88</td><td>751.53</td></tr>
<tr><td>Other Mfr. Exp</td><td>107.81</td><td>108.25</td><td>141.3</td><td>118.23</td><td>80.1</td><td>100.45</td><td>104.42</td><td>115.63</td><td>135.04</td><td>142.12</td></tr>
<tr><td>Employee Cost</td><td>257.54</td><td>262.78</td><td>249.65</td><td>243.98</td><td>249.45</td><td>229.86</td><td>233.06</td><td>229.23</td><td>231.78</td><td>288.24</td></tr>
<tr><td>Selling and admin</td><td>186.37</td><td>164.46</td><td>139.53</td><td>245.91</td><td>273.9</td><td>193.24</td><td>281.12</td><td>333.25</td><td>250.36</td><td>289.12</td></tr>
<tr><td>Other Expenses</td><td>-14.17</td><td>9.33</td><td>47.23</td><td>-31.64</td><td>-35.23</td><td>31.94</td><td>42.46</td><td>26.48</td><td>46.34</td><td>286.19</td></tr>
<tr><td>Other Income</td><td>118.08</td><td>-5.52</td><td>41.33</td><td>18.04</td><td>41.62</td><td>456.59</td><td>1003.67</td><td>67.58</td><td>22.16</td><td>135.58</td></tr>
<tr><td>Depreciation</td><td>45.26</td><td>20.21</td><td>18.12</td><td>21.3</td><td>17.15</td><td>23.02</td><td>18.02</td><td>22.69</td><td>27.19</td><td>30.11</td></tr>
<tr><td>Interest</td><td>191.83</td><td>196.29</td><td>252.14</td><td>304.66</td><td>321.42</td><td>280.53</td><td>289.34</td><td>245.26</td><td>244.41</td><td>247.34</td></tr>
<tr><td>Profit before tax</td><td>-264.96</td><td>-399.91</td><td>-452.19</td><td>-262.68</td><td>-129.06</td><td>162.68</td><td>975.5</td><td>350.47</td><td>346.37</td><td>612.99</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Net profit</td><td>-264.96</td><td>-399.91</td><td>-452.19</td><td>-262.68</td><td>-129.06</td><td>162.69</td><td>975.5</td><td>350.47</td><td>346.38</td><td>612.99</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>64.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>781.65</td><td>1208.46</td><td>1692.55</td><td>1292.37</td><td>1935</td><td>1721.94</td><td>1248.84</td><td>1232.57</td><td>1663.21</td><td>1097.33</td></tr>
<tr><td>Expenses</td><td>677.13</td><td>1098.49</td><td>1395.87</td><td>1109.68</td><td>1698.45</td><td>1522.58</td><td>1064.69</td><td>1085.66</td><td>1530.85</td><td>1054.3</td></tr>
<tr><td>Other Income</td><td>-2.74</td><td>2.52</td><td>-1.63</td><td>22.76</td><td>-22.54</td><td>35.57</td><td>51.89</td><td>-7.21</td><td>39.44</td><td>54.13</td></tr>
<tr><td>Depreciation</td><td>3.76</td><td>7.02</td><td>8.78</td><td>6.9</td><td>6.94</td><td>7.12</td><td>9.15</td><td>5.25</td><td>5.32</td><td>5.25</td></tr>
<tr><td>Interest</td><td>61.57</td><td>61.88</td><td>59.73</td><td>61.56</td><td>62.47</td><td>62.02</td><td>61.29</td><td>62.64</td><td>61.24</td><td>61.59</td></tr>
<tr><td>Profit before tax</td><td>36.45</td><td>43.59</td><td>226.54</td><td>136.99</td><td>144.6</td><td>165.79</td><td>165.6</td><td>71.81</td><td>105.24</td><td>30.32</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Net profit</td><td>36.45</td><td>43.59</td><td>226.54</td><td>136.99</td><td>144.6</td><td>165.79</td><td>165.6</td><td>71.81</td><td>105.24</td><td>30.32</td></tr>
<tr><td>Operating Profit</td><td>104.52</td><td>109.97</td><td>296.68</td><td>182.69</td><td>236.55</td><td>199.36</td><td>184.15</td><td>146.91</td><td>132.36</td><td>43.03</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td><td>647.07</td></tr>
<tr><td>Reserves</td><td>-1103.81</td><td>-1503.74</td><td>-1955.96</td><td>-2159.41</td><td>-2285.9</td><td>-2119.34</td><td>-1138.99</td><td>-827.06</td><td>14.95</td><td>626.82</td></tr>
<tr><td>Borrowings</td><td>1110.86</td><td>1074.3</td><td>1810.59</td><td>2402.3</td><td>2277.86</td><td>2273.92</td><td>1820.69</td><td>1822.36</td><td>1837.58</td><td>1841.72</td></tr>
<tr><td>Other Liabilities</td><td>1261.2</td><td>1449.27</td><td>1166.55</td><td>715.42</td><td>1215.13</td><td>1546.55</td><td>1317.2</td><td>1756.15</td><td>2275.7</td><td>2378.66</td></tr>
<tr><td>Total</td><td>1915.32</td><td>1666.9</td><td>1668.25</td><td>1605.38</td><td>1854.16</td><td>2348.2</td><td>2645.97</td><td>3398.52</td><td>4775.3</td><td>5494.27</td></tr>
<tr><td>Net Block</td><td>276.06</td><td>281.8</td><td>269.73</td><td>296.81</td><td>294.72</td><td>295.55</td><td>257.54</td><td>285.74</td><td>815.66</td><td>813.78</td></tr>
<tr><td>Capital Work in Progress</td><td>23.83</td><td>24.86</td><td>21.86</td><td>24.68</td><td>18.5</td><td>17.92</td><td>38.96</td><td>54.98</td><td>42.51</td><td>104.59</td></tr>
<tr><td>Investments</td><td>21.36</td><td>3.67</td><td>3.67</td><td>45.72</td><td>59.27</td><td>69.06</td><td>78.12</td><td>86.27</td><td>97.88</td><td>112.86</td></tr>
<tr><td>Other Assets</td><td>1594.07</td><td>1356.57</td><td>1372.99</td><td>1238.17</td><td>1481.67</td><td>1965.67</td><td>2271.35</td><td>2971.53</td><td>3819.25</td><td>4463.04</td></tr>
<tr><td>Total</td><td>1915.32</td><td>1666.9</td><td>1668.25</td><td>1605.38</td><td>1854.16</td><td>2348.2</td><td>2645.97</td><td>3398.52</td><td>4775.3</td><td>5494.27</td></tr>
<tr><td>Receivables</td><td>11.47</td><td>10.21</td><td>7.1</td><td>506.07</td><td>364.39</td><td>405.31</td><td>390.16</td><td>104.38</td><td>175.23</td><td>478.87</td></tr>
<tr><td>Inventory</td><td>654.19</td><td>587.24</td><td>425.37</td><td>466.87</td><td>516.78</td><td>686.02</td><td>596.66</td><td>549.72</td><td>697.81</td><td>1038.08</td></tr>
<tr><td>Cash & Bank</td><td>77.37</td><td>88.39</td><td>57.57</td><td>52.18</td><td>63.65</td><td>74.67</td><td>684.72</td><td>1666.87</td><td>1876.46</td><td>2319.47</td></tr>
<tr><td>No. of Equity Shares</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td><td>647071974</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>61.09</td><td>192.04</td><td>-205.61</td><td>31.38</td><td>223.86</td><td>-410.24</td><td>214.34</td><td>1020.66</td><td>151.81</td><td>555.03</td></tr>
<tr><td>Cash from Investing Activity</td><td>-50.36</td><td>-9.21</td><td>-3.16</td><td>74.91</td><td>-3.19</td><td>416</td><td>335.63</td><td>-854.47</td><td>-157.03</td><td>-683.03</td></tr>
<tr><td>Cash from Financing Activity</td><td>-15.71</td><td>-180.09</td><td>223.83</td><td>-94.08</td><td>-206.84</td><td>-45.46</td><td>-507.68</td><td>-36.13</td><td>8.49</td><td>-4.48</td></tr>
<tr><td>Net Cash Flow</td><td>-4.98</td><td>2.74</td><td>15.06</td><td>12.21</td><td>13.83</td><td>-39.69</td><td>42.29</td><td>130.07</td><td>3.27</td><td>-132.48</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>20.65</td><td>28.1</td><td>21.3</td><td>41.6</td><td>51</td><td>36.6</td><td>32.4</td><td>109.65</td><td>130.9</td><td>205.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td><td>64.71</td></tr>
</table>
</body>
</html>