<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Glenmark Pharma</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>GLENMARK PHARMACEUTICALS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>999.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>28229.67</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>6005.2</td><td>6562.63</td><td>7561.67</td><td>9079.41</td><td>9074.42</td><td>9865.47</td><td>10640.97</td><td>10943.93</td><td>12304.9</td><td>12990.11</td></tr>
<tr><td>Raw Material Cost</td><td>1813.35</td><td>2132.36</td><td>2442.74</td><td>3073.93</td><td>2904.86</td><td>3421.01</td><td>3570.56</td><td>3809.43</td><td>4396.42</td><td>4862.05</td></tr>
<tr><td>Change in Inventory</td><td>27.73</td><td>255.2</td><td>140.16</td><td>459.61</td><td>-133.71</td><td>58.67</td><td>-128.08</td><td>189.25</td><td>11.14</td><td>325.09</td></tr>
<tr><td>Power and Fuel</td><td>93.5</td><td>109.11</td><td>120.47</td><td>127.02</td><td>137.48</td><td>165.26</td><td>173.69</td><td>164.67</td><td>200.64</td><td>227.52</td></tr>
<tr><td>Other Mfr. Exp</td><td>335.59</td><td>406.77</td><td>447.48</td><td>484.46</td><td>573.34</td><td>646.53</td><td>594.64</td><td>638.74</td><td>711.42</td><td>687.56</td></tr>
<tr><td>Employee Cost</td><td>1026.15</td><td>1212.74</td><td>1378.84</td><td>1641.51</td><td>1872.72</td><td>2056.9</td><td>2255.66</td><td>2344.36</td><td>2448.7</td><td>2782.45</td></tr>
<tr><td>Selling and admin</td><td>1037.68</td><td>1316.99</td><td>1395.15</td><td>1589.16</td><td>1522.39</td><td>1749.38</td><td>1666.14</td><td>1452.9</td><td>1541.99</td><td>1788.6</td></tr>
<tr><td>Other Expenses</td><td>635.88</td><td>425.55</td><td>479.99</td><td>586.24</td><td>312.47</td><td>299.26</td><td>552.94</td><td>638.7</td><td>690.1</td><td>688.65</td></tr>
<tr><td>Other Income</td><td>11.48</td><td>-180.21</td><td>20</td><td>-43.58</td><td>89.33</td><td>375.32</td><td>191.3</td><td>94.76</td><td>-100.71</td><td>-449.07</td></tr>
<tr><td>Depreciation</td><td>216.8</td><td>300.41</td><td>234.28</td><td>264.37</td><td>301.88</td><td>325.91</td><td>417.17</td><td>443.55</td><td>486.72</td><td>611.27</td></tr>
<tr><td>Interest</td><td>188.59</td><td>190.15</td><td>178.89</td><td>237.32</td><td>285.57</td><td>334.59</td><td>377.32</td><td>353.11</td><td>298.1</td><td>349.58</td></tr>
<tr><td>Profit before tax</td><td>696.87</td><td>543.54</td><td>1043.99</td><td>1491.43</td><td>1119.33</td><td>1300.62</td><td>1096.07</td><td>1382.48</td><td>1441.24</td><td>868.45</td></tr>
<tr><td>Tax</td><td>151.27</td><td>334.07</td><td>300.94</td><td>382.67</td><td>315.46</td><td>375.63</td><td>320.11</td><td>412.39</td><td>447.6</td><td>491.05</td></tr>
<tr><td>Net profit</td><td>542.28</td><td>209.55</td><td>743.05</td><td>1108.75</td><td>803.87</td><td>924.99</td><td>775.97</td><td>970.04</td><td>941.71</td><td>297.25</td></tr>
<tr><td>Dividend Amount</td><td></td><td>54.26</td><td>56.44</td><td>56.44</td><td>56.44</td><td>56.44</td><td>70.55</td><td>70.55</td><td>70.55</td><td>70.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3147.45</td><td>3173.41</td><td>3019.15</td><td>2777.29</td><td>3017.94</td><td>3100.18</td><td>3373.71</td><td>3036.06</td><td>3207.38</td><td>2506.7</td></tr>
<tr><td>Expenses</td><td>2557.28</td><td>2480.26</td><td>2555.75</td><td>2345.69</td><td>2538.97</td><td>2626.14</td><td>2768.75</td><td>2598.71</td><td>2745.08</td><td>2715.35</td></tr>
<tr><td>Other Income</td><td>-13.07</td><td>-164.48</td><td>24.67</td><td>183.16</td><td>86.36</td><td>209.43</td><td>-839.94</td><td>-32.3</td><td>-205</td><td>87.45</td></tr>
<tr><td>Depreciation</td><td>123.19</td><td>118.93</td><td>131.52</td><td>146.76</td><td>145.77</td><td>151.51</td><td>146.53</td><td>142.04</td><td>141.45</td><td>147.08</td></tr>
<tr><td>Interest</td><td>68.95</td><td>66.7</td><td>86.85</td><td>59.99</td><td>82.94</td><td>97.11</td><td>109.26</td><td>111.61</td><td>121.46</td><td>134.34</td></tr>
<tr><td>Profit before tax</td><td>384.96</td><td>343.04</td><td>269.7</td><td>408.01</td><td>336.62</td><td>434.85</td><td>-490.77</td><td>151.4</td><td>-5.61</td><td>-402.62</td></tr>
<tr><td>Tax</td><td>110.15</td><td>103.29</td><td>97.13</td><td>196.91</td><td>57.95</td><td>144.08</td><td>-87.63</td><td>-21.73</td><td>55.95</td><td>-71.8</td></tr>
<tr><td>Net profit</td><td>257.66</td><td>221.9</td><td>155.59</td><td>192.53</td><td>260.44</td><td>272.58</td><td>-428.3</td><td>149.93</td><td>-81.95</td><td>-351.37</td></tr>
<tr><td>Operating Profit</td><td>590.17</td><td>693.15</td><td>463.4</td><td>431.6</td><td>478.97</td><td>474.04</td><td>604.96</td><td>437.35</td><td>462.3</td><td>-208.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>27.12</td><td>27.13</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td></tr>
<tr><td>Reserves</td><td>2956.16</td><td>1756.36</td><td>3601.42</td><td>4464.31</td><td>5135.26</td><td>5576.97</td><td>6042.29</td><td>7036.41</td><td>9058.43</td><td>9445.71</td></tr>
<tr><td>Borrowings</td><td>3266.98</td><td>3799.93</td><td>3988.11</td><td>4723.65</td><td>4639.38</td><td>4448.67</td><td>4868.63</td><td>4985.72</td><td>3962.02</td><td>4627.24</td></tr>
<tr><td>Other Liabilities</td><td>2176.27</td><td>2725.69</td><td>2575.12</td><td>2547.68</td><td>2792.51</td><td>3234.93</td><td>3729.22</td><td>3524.48</td><td>4003.12</td><td>5227.55</td></tr>
<tr><td>Total</td><td>8426.53</td><td>8309.11</td><td>10192.87</td><td>11763.86</td><td>12595.37</td><td>13288.79</td><td>14668.36</td><td>15574.83</td><td>17051.79</td><td>19328.72</td></tr>
<tr><td>Net Block</td><td>3090.55</td><td>2015.38</td><td>2593.55</td><td>2755.09</td><td>3029.55</td><td>3670.25</td><td>5028.56</td><td>5128.85</td><td>5887.25</td><td>6202.39</td></tr>
<tr><td>Capital Work in Progress</td><td>5.34</td><td>477.13</td><td>542.8</td><td>708.11</td><td>1121.87</td><td>1398.94</td><td>1221.89</td><td>1381.67</td><td>1009.87</td><td>1251.26</td></tr>
<tr><td>Investments</td><td></td><td>17.12</td><td>17.2</td><td>15.69</td><td>14.66</td><td>29.66</td><td>24.59</td><td>24.63</td><td>49.62</td><td>44.65</td></tr>
<tr><td>Other Assets</td><td>5330.64</td><td>5799.48</td><td>7039.32</td><td>8284.97</td><td>8429.29</td><td>8189.94</td><td>8393.32</td><td>9039.68</td><td>10105.05</td><td>11830.42</td></tr>
<tr><td>Total</td><td>8426.53</td><td>8309.11</td><td>10192.87</td><td>11763.86</td><td>12595.37</td><td>13288.79</td><td>14668.36</td><td>15574.83</td><td>17051.79</td><td>19328.72</td></tr>
<tr><td>Receivables</td><td>2156.34</td><td>2511.77</td><td>2492.65</td><td>2404.32</td><td>2331.81</td><td>2194.59</td><td>2408.96</td><td>2572.06</td><td>3101.14</td><td>4098.61</td></tr>
<tr><td>Inventory</td><td>932.88</td><td>1269.04</td><td>1567.76</td><td>2139.05</td><td>2030.59</td><td>2252.07</td><td>2135.62</td><td>2276.83</td><td>2499.83</td><td>2977.79</td></tr>
<tr><td>Cash & Bank</td><td>800.67</td><td>775.88</td><td>857.12</td><td>1057.66</td><td>1234.69</td><td>937.77</td><td>1111.24</td><td>1139.16</td><td>1411.52</td><td>1469.7</td></tr>
<tr><td>No. of Equity Shares</td><td>271223650</td><td>271294553</td><td>282158156</td><td>282168156</td><td>282168156</td><td>282168156</td><td>282168156</td><td>282168156</td><td>282168156</td><td>282168156</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>853.73</td><td>481.68</td><td>344.85</td><td>657.43</td><td>1648.05</td><td>1324.17</td><td>1392.41</td><td>1131.21</td><td>1108.65</td><td>625.39</td></tr>
<tr><td>Cash from Investing Activity</td><td>-566.1</td><td>-711.96</td><td>-950.06</td><td>-1001.34</td><td>-1002.56</td><td>-882.51</td><td>-773.75</td><td>-661.61</td><td>-315.73</td><td>-515.44</td></tr>
<tr><td>Cash from Financing Activity</td><td>-98.02</td><td>199.22</td><td>698.6</td><td>543.15</td><td>-468.5</td><td>-738.74</td><td>-444.66</td><td>-441.78</td><td>-520.49</td><td>-77.46</td></tr>
<tr><td>Net Cash Flow</td><td>189.61</td><td>-31.06</td><td>93.39</td><td>199.24</td><td>176.99</td><td>-297.08</td><td>174</td><td>27.82</td><td>272.43</td><td>32.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>565.2</td><td>786.15</td><td>795.05</td><td>852.1</td><td>526.3</td><td>647.2</td><td>205.85</td><td>464.7</td><td>442</td><td>464.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>27.12</td><td>27.13</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td><td>28.22</td></tr>
</table>
</body>
</html>