<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Godrej Consumer</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>GODREJ CONSUMER PRODUCTS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1330.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>136117.08</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>8273.15</td><td>8423.88</td><td>9267.91</td><td>9847.43</td><td>10314.34</td><td>9910.8</td><td>11028.62</td><td>12276.5</td><td>13315.97</td><td>14096.11</td></tr>
<tr><td>Raw Material Cost</td><td>3806.48</td><td>3959.14</td><td>4265.85</td><td>4218.36</td><td>4399.79</td><td>4434.83</td><td>4971.77</td><td>6136.63</td><td>6489.85</td><td>6333.43</td></tr>
<tr><td>Change in Inventory</td><td>-35.04</td><td>91.9</td><td>133.33</td><td>-56</td><td>-154.54</td><td>173.15</td><td>42.35</td><td>61.54</td><td>-212.94</td><td>13.13</td></tr>
<tr><td>Power and Fuel</td><td>109.92</td><td>109.99</td><td>89.02</td><td>101.11</td><td>119.29</td><td>118.29</td><td>106.23</td><td>133.49</td><td>154.63</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>223.97</td><td>236.23</td><td>302.85</td><td>318.75</td><td>329.8</td><td>378.69</td><td>397.25</td><td>430.3</td><td>438.91</td><td></td></tr>
<tr><td>Employee Cost</td><td>776.95</td><td>944.13</td><td>988.46</td><td>1057.41</td><td>1068.41</td><td>1018.82</td><td>1123.34</td><td>1104.14</td><td>1111.48</td><td>1249.34</td></tr>
<tr><td>Selling and admin</td><td>1818.85</td><td>1464.98</td><td>1649.39</td><td>1775.76</td><td>1888.86</td><td>1770.13</td><td>1808.73</td><td>1836.49</td><td>2144.44</td><td>1335.89</td></tr>
<tr><td>Other Expenses</td><td>122.99</td><td>143.93</td><td>198.96</td><td>235.64</td><td>222.08</td><td>209.44</td><td>264.39</td><td>287.81</td><td>320.52</td><td>2247.11</td></tr>
<tr><td>Other Income</td><td>73.01</td><td>-262.04</td><td>76.18</td><td>283.28</td><td>361.95</td><td>32.06</td><td>22.6</td><td>78.27</td><td>114.3</td><td>-2207.91</td></tr>
<tr><td>Depreciation</td><td>90.78</td><td>100.63</td><td>141.57</td><td>155.68</td><td>169.98</td><td>197.28</td><td>203.85</td><td>209.93</td><td>236.29</td><td>240.96</td></tr>
<tr><td>Interest</td><td>112.46</td><td>128.04</td><td>154.19</td><td>173.12</td><td>238.21</td><td>228.13</td><td>137.65</td><td>122.26</td><td>188.48</td><td>296.37</td></tr>
<tr><td>Profit before tax</td><td>1248.72</td><td>1166.67</td><td>1687.13</td><td>2038.88</td><td>2085.33</td><td>1760.4</td><td>2080.36</td><td>2155.26</td><td>2132.73</td><td>198.23</td></tr>
<tr><td>Tax</td><td>272.29</td><td>336.05</td><td>379.16</td><td>404.7</td><td>-256.2</td><td>263.82</td><td>359.54</td><td>371.87</td><td>430.27</td><td>758.78</td></tr>
<tr><td>Net profit</td><td>907.12</td><td>827.61</td><td>1304.08</td><td>1634.18</td><td>2341.53</td><td>1496.58</td><td>1720.82</td><td>1783.39</td><td>1702.46</td><td>-560.55</td></tr>
<tr><td>Dividend Amount</td><td>187.22</td><td>195.79</td><td>510.9</td><td>681.3</td><td>1022.2</td><td>817.84</td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3302.58</td><td>2915.82</td><td>3124.97</td><td>3391.92</td><td>3598.92</td><td>3200.16</td><td>3448.91</td><td>3601.95</td><td>3659.64</td><td>3385.61</td></tr>
<tr><td>Expenses</td><td>2634.6</td><td>2452.75</td><td>2604.17</td><td>2849.81</td><td>2872.28</td><td>2559.29</td><td>2806.07</td><td>2897.78</td><td>2818.92</td><td>2629.89</td></tr>
<tr><td>Other Income</td><td>36.49</td><td>3.24</td><td>25.69</td><td>17.2</td><td>35.71</td><td>35.74</td><td>-12.67</td><td>53.39</td><td>63.19</td><td>-2311.81</td></tr>
<tr><td>Depreciation</td><td>54.17</td><td>49.5</td><td>57.06</td><td>53.32</td><td>57.32</td><td>68.59</td><td>76.29</td><td>60.88</td><td>53.88</td><td>49.91</td></tr>
<tr><td>Interest</td><td>25.55</td><td>32.81</td><td>35.06</td><td>48.25</td><td>39.92</td><td>52.51</td><td>74</td><td>77.31</td><td>66.59</td><td>78.47</td></tr>
<tr><td>Profit before tax</td><td>624.75</td><td>384</td><td>454.37</td><td>457.74</td><td>665.11</td><td>555.51</td><td>479.88</td><td>619.37</td><td>783.44</td><td>-1684.47</td></tr>
<tr><td>Tax</td><td>97.15</td><td>20.76</td><td>109.25</td><td>98.88</td><td>118.77</td><td>103.37</td><td>161.06</td><td>186.6</td><td>202.38</td><td>208.74</td></tr>
<tr><td>Net profit</td><td>527.6</td><td>363.24</td><td>345.12</td><td>358.86</td><td>546.34</td><td>452.14</td><td>318.82</td><td>432.77</td><td>581.06</td><td>-1893.21</td></tr>
<tr><td>Operating Profit</td><td>667.98</td><td>463.07</td><td>520.8</td><td>542.11</td><td>726.64</td><td>640.87</td><td>642.84</td><td>704.17</td><td>840.72</td><td>755.72</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>34.04</td><td>34.05</td><td>34.06</td><td>68.13</td><td>102.22</td><td>102.23</td><td>102.25</td><td>102.26</td><td>102.27</td><td>102.28</td></tr>
<tr><td>Reserves</td><td>4276.65</td><td>4232.91</td><td>5267.89</td><td>6190.18</td><td>7164.7</td><td>7796.13</td><td>9336.65</td><td>11453.67</td><td>13691.96</td><td>12496.29</td></tr>
<tr><td>Borrowings</td><td>2717.15</td><td>2891.12</td><td>4000.93</td><td>3507.57</td><td>3382.05</td><td>3574.97</td><td>1863.97</td><td>1704.34</td><td>1129.58</td><td>3222.2</td></tr>
<tr><td>Other Liabilities</td><td>2097.18</td><td>2520.66</td><td>3637.37</td><td>4097.89</td><td>3444.58</td><td>3406.95</td><td>2940.92</td><td>2821.85</td><td>2513.45</td><td>2675.12</td></tr>
<tr><td>Total</td><td>9125.02</td><td>9678.74</td><td>12940.25</td><td>13863.77</td><td>14093.55</td><td>14880.28</td><td>14243.79</td><td>16082.12</td><td>17437.26</td><td>18495.89</td></tr>
<tr><td>Net Block</td><td>5550.95</td><td>5931.41</td><td>8082.89</td><td>8315</td><td>8670.26</td><td>9231.4</td><td>8904.77</td><td>9219.3</td><td>9933.66</td><td>10445.45</td></tr>
<tr><td>Capital Work in Progress</td><td>224.61</td><td>43.66</td><td>97.43</td><td>83.88</td><td>52.06</td><td>57.04</td><td>57.43</td><td>116.44</td><td>45.42</td><td>78.15</td></tr>
<tr><td>Investments</td><td>185.69</td><td>189.5</td><td>933.54</td><td>997.28</td><td>515.98</td><td>671.98</td><td>679.1</td><td>1015.43</td><td>3028.98</td><td>3503.67</td></tr>
<tr><td>Other Assets</td><td>3163.77</td><td>3514.17</td><td>3826.39</td><td>4467.61</td><td>4855.25</td><td>4919.86</td><td>4602.49</td><td>5730.95</td><td>4429.2</td><td>4468.62</td></tr>
<tr><td>Total</td><td>9125.02</td><td>9678.74</td><td>12940.25</td><td>13863.77</td><td>14093.55</td><td>14880.28</td><td>14243.79</td><td>16082.12</td><td>17437.26</td><td>18495.89</td></tr>
<tr><td>Receivables</td><td>804.58</td><td>1118.01</td><td>1028.74</td><td>1245.5</td><td>1292.9</td><td>1157.25</td><td>1004.5</td><td>1116.32</td><td>1245.28</td><td>1535.37</td></tr>
<tr><td>Inventory</td><td>1071.71</td><td>1306.98</td><td>1412.5</td><td>1577.72</td><td>1558.59</td><td>1703.12</td><td>1716.25</td><td>2129.85</td><td>1537.15</td><td>1270.92</td></tr>
<tr><td>Cash & Bank</td><td>894.22</td><td>753.79</td><td>912.66</td><td>960.21</td><td>894.72</td><td>770.16</td><td>672.21</td><td>1107.77</td><td>390.72</td><td>546.94</td></tr>
<tr><td>No. of Equity Shares</td><td>340446901</td><td>340533823</td><td>340600816</td><td>681329518</td><td>1022166096</td><td>1022316352</td><td>1022486273</td><td>1022581079</td><td>1022695318</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>340600816</td><td>340722032</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>1026.73</td><td>847.37</td><td>1860.22</td><td>1723.35</td><td>1728.85</td><td>1588.11</td><td>2029.63</td><td>1450.57</td><td>2150.65</td><td>2069.95</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1235.86</td><td>-621.59</td><td>-2243.25</td><td>-336.37</td><td>274.07</td><td>-552.12</td><td>-292.15</td><td>-844.32</td><td>-1754.46</td><td>-3363.03</td></tr>
<tr><td>Cash from Financing Activity</td><td>-12.04</td><td>-202.47</td><td>664.65</td><td>-1384.01</td><td>-2038.73</td><td>-1295.33</td><td>-1816.22</td><td>-379.52</td><td>-794.31</td><td>1406.35</td></tr>
<tr><td>Net Cash Flow</td><td>-221.17</td><td>23.31</td><td>281.62</td><td>2.97</td><td>-35.81</td><td>-259.34</td><td>-78.74</td><td>226.73</td><td>-398.12</td><td>113.27</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>346.99</td><td>460.27</td><td>557.14</td><td>729.1</td><td>686</td><td>520.85</td><td>729.65</td><td>747.3</td><td>968.15</td><td>1251.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>102.14</td><td>102.16</td><td>102.18</td><td>102.2</td><td>102.22</td><td>102.23</td><td>102.25</td><td>102.26</td><td>102.27</td><td>102.28</td></tr>
</table>
</body>
</html>