<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Greenply Industr</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>GREENPLY INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>240.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>2978.42</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2216.89</td><td>1566.74</td><td>1646.11</td><td>1667.96</td><td>912.25</td><td>1412.16</td><td>1420.43</td><td>1165.34</td><td>1562.8</td><td>1845.63</td></tr>
<tr><td>Raw Material Cost</td><td>1308.92</td><td>917.38</td><td>905.32</td><td>921.31</td><td>582.5</td><td>889.58</td><td>838.53</td><td>689.33</td><td>956.37</td><td>1167.38</td></tr>
<tr><td>Change in Inventory</td><td>25.19</td><td>8.28</td><td>-14.78</td><td>37.89</td><td>18.23</td><td>36.56</td><td>3.04</td><td>5.25</td><td>21.07</td><td>40.8</td></tr>
<tr><td>Power and Fuel</td><td>88.96</td><td>65.82</td><td>65.89</td><td>68.28</td><td>17.54</td><td>22.97</td><td>23.02</td><td>20.73</td><td>24.46</td><td>25.23</td></tr>
<tr><td>Other Mfr. Exp</td><td>26.6</td><td>28.26</td><td>28.99</td><td>40.09</td><td>18.58</td><td>25.5</td><td>27.14</td><td>20.53</td><td>27.02</td><td>33.2</td></tr>
<tr><td>Employee Cost</td><td>221.1</td><td>145.74</td><td>168.28</td><td>177.5</td><td>117.66</td><td>151.92</td><td>163.74</td><td>150.31</td><td>194.6</td><td>244.48</td></tr>
<tr><td>Selling and admin</td><td>253.28</td><td>163.35</td><td>181.06</td><td>200.73</td><td>95.65</td><td>184.36</td><td>186.89</td><td>150.28</td><td>200.02</td><td>212.33</td></tr>
<tr><td>Other Expenses</td><td>70.97</td><td>43.16</td><td>38.36</td><td>50.78</td><td>34.75</td><td>28.33</td><td>28.5</td><td>24.3</td><td>31.14</td><td>55.45</td></tr>
<tr><td>Other Income</td><td>4.37</td><td>15.23</td><td>6.93</td><td>3.74</td><td>86.24</td><td>6.19</td><td>-48.45</td><td>6</td><td>12.5</td><td>24.96</td></tr>
<tr><td>Depreciation</td><td>59.57</td><td>47.06</td><td>49.68</td><td>50.66</td><td>17.96</td><td>22.43</td><td>25.72</td><td>23.08</td><td>25.85</td><td>36.46</td></tr>
<tr><td>Interest</td><td>64.21</td><td>38.28</td><td>30.99</td><td>18.92</td><td>7.72</td><td>18.63</td><td>20.79</td><td>16.65</td><td>11.93</td><td>26.25</td></tr>
<tr><td>Profit before tax</td><td>152.84</td><td>141.2</td><td>169.69</td><td>181.32</td><td>124.36</td><td>111.19</td><td>60.69</td><td>81.38</td><td>124.98</td><td>110.61</td></tr>
<tr><td>Tax</td><td>35.26</td><td>16.97</td><td>41.42</td><td>55.87</td><td>13.73</td><td>31.52</td><td>13.45</td><td>20.47</td><td>30.26</td><td>19.18</td></tr>
<tr><td>Net profit</td><td>117.57</td><td>124.23</td><td>128.27</td><td>125.44</td><td>110.63</td><td>79.67</td><td>47.25</td><td>60.91</td><td>94.73</td><td>91.43</td></tr>
<tr><td>Dividend Amount</td><td>7.24</td><td>7.24</td><td>7.24</td><td>7.36</td><td>7.36</td><td>4.9</td><td>4.9</td><td>4.9</td><td>6.13</td><td>6.14</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>432.42</td><td>421.06</td><td>448.55</td><td>453.54</td><td>494.75</td><td>428.19</td><td>469.16</td><td>476.14</td><td>607.73</td><td>620.83</td></tr>
<tr><td>Expenses</td><td>382.72</td><td>378.22</td><td>404.03</td><td>414.02</td><td>447.23</td><td>397.82</td><td>438.21</td><td>446.65</td><td>556.59</td><td>564.22</td></tr>
<tr><td>Other Income</td><td>2.15</td><td>5.29</td><td>3.18</td><td>1.56</td><td>1.43</td><td>12.69</td><td>9.29</td><td>1.4</td><td>3.65</td><td>17.46</td></tr>
<tr><td>Depreciation</td><td>6.44</td><td>6.54</td><td>6.73</td><td>7.63</td><td>8.88</td><td>9.64</td><td>10.32</td><td>13.32</td><td>16.17</td><td>17.21</td></tr>
<tr><td>Interest</td><td>3.47</td><td>2.61</td><td>2.48</td><td>5.11</td><td>7.33</td><td>6.21</td><td>7.6</td><td>12.97</td><td>17.75</td><td>20.36</td></tr>
<tr><td>Profit before tax</td><td>41.94</td><td>38.98</td><td>38.49</td><td>28.34</td><td>32.74</td><td>27.21</td><td>22.32</td><td>4.6</td><td>20.87</td><td>36.5</td></tr>
<tr><td>Tax</td><td>10.03</td><td>9.16</td><td>9.52</td><td>7.62</td><td>9.15</td><td>-8.83</td><td>11.25</td><td>3.78</td><td>6.97</td><td>9.64</td></tr>
<tr><td>Net profit</td><td>31.91</td><td>29.82</td><td>28.97</td><td>20.73</td><td>23.59</td><td>36.04</td><td>11.07</td><td>0.82</td><td>13.91</td><td>26.87</td></tr>
<tr><td>Operating Profit</td><td>49.7</td><td>42.84</td><td>44.52</td><td>39.52</td><td>47.52</td><td>30.37</td><td>30.95</td><td>29.49</td><td>51.14</td><td>56.61</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>12.07</td><td>12.07</td><td>12.07</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.29</td></tr>
<tr><td>Reserves</td><td>571.65</td><td>474.26</td><td>602.24</td><td>760.4</td><td>865.24</td><td>322.96</td><td>365.65</td><td>424.45</td><td>525.9</td><td>631.53</td></tr>
<tr><td>Borrowings</td><td>748.36</td><td>331.53</td><td>270.01</td><td>445.7</td><td>712.17</td><td>250.03</td><td>278.87</td><td>202.93</td><td>309.48</td><td>696.24</td></tr>
<tr><td>Other Liabilities</td><td>488.01</td><td>331.37</td><td>316.09</td><td>356.18</td><td>521.47</td><td>301.79</td><td>305.41</td><td>275.49</td><td>311.15</td><td>339.98</td></tr>
<tr><td>Total</td><td>1820.09</td><td>1149.23</td><td>1200.41</td><td>1574.54</td><td>2111.14</td><td>887.04</td><td>962.19</td><td>915.13</td><td>1158.79</td><td>1680.04</td></tr>
<tr><td>Net Block</td><td>698.7</td><td>533.04</td><td>542.1</td><td>525.92</td><td>580.47</td><td>251.88</td><td>314.28</td><td>308.45</td><td>352.51</td><td>458.81</td></tr>
<tr><td>Capital Work in Progress</td><td>117.12</td><td>13.91</td><td>9.3</td><td>268.69</td><td>770.4</td><td>17.31</td><td>5.17</td><td>6.24</td><td>109.63</td><td>513.32</td></tr>
<tr><td>Investments</td><td>0.09</td><td>35.14</td><td>28.69</td><td>26.12</td><td>18.45</td><td>22.24</td><td>23.84</td><td>22.52</td><td>25.8</td><td>6.37</td></tr>
<tr><td>Other Assets</td><td>1004.18</td><td>567.14</td><td>620.32</td><td>753.81</td><td>741.82</td><td>595.61</td><td>618.9</td><td>577.92</td><td>670.85</td><td>701.54</td></tr>
<tr><td>Total</td><td>1820.09</td><td>1149.23</td><td>1200.41</td><td>1574.54</td><td>2111.14</td><td>887.04</td><td>962.19</td><td>915.13</td><td>1158.79</td><td>1680.04</td></tr>
<tr><td>Receivables</td><td>371.73</td><td>257.22</td><td>332.5</td><td>298.35</td><td>285.6</td><td>305.05</td><td>356.51</td><td>193.9</td><td>186.43</td><td>228.72</td></tr>
<tr><td>Inventory</td><td>424.37</td><td>190.3</td><td>138.94</td><td>158.46</td><td>231.21</td><td>169.44</td><td>177.1</td><td>179.2</td><td>225.63</td><td>278.38</td></tr>
<tr><td>Cash & Bank</td><td>13.24</td><td>7.67</td><td>35</td><td>78.09</td><td>33.53</td><td>20.58</td><td>10.25</td><td>127.98</td><td>72.58</td><td>31.42</td></tr>
<tr><td>No. of Equity Shares</td><td>24136374</td><td>120682000</td><td>120681870</td><td>122627395</td><td>122627395</td><td>122627395</td><td>122627395</td><td>122627395</td><td>122627395</td><td>122876395</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>5</td><td>5</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>189.26</td><td>187.41</td><td>190.97</td><td>212.01</td><td>113.39</td><td>97.83</td><td>57.64</td><td>227.79</td><td>91.61</td><td>62.17</td></tr>
<tr><td>Cash from Investing Activity</td><td>-171.67</td><td>-104.54</td><td>-62.74</td><td>-362.87</td><td>-328</td><td>-89.02</td><td>-58.48</td><td>-123.85</td><td>-130.11</td><td>-409.8</td></tr>
<tr><td>Cash from Financing Activity</td><td>-23.32</td><td>-82.35</td><td>-100.4</td><td>189.57</td><td>164.44</td><td>-27.64</td><td>-18.99</td><td>-92.16</td><td>80.43</td><td>317.76</td></tr>
<tr><td>Net Cash Flow</td><td>-5.73</td><td>0.53</td><td>27.83</td><td>38.71</td><td>-50.17</td><td>-18.83</td><td>-19.83</td><td>11.78</td><td>41.93</td><td>-29.87</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>58.47</td><td>157.9</td><td>146.26</td><td>233.36</td><td>255.06</td><td>130.63</td><td>81.05</td><td>170.55</td><td>219.9</td><td>138.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>12.05</td><td>12.05</td><td>12.07</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.26</td><td>12.29</td></tr>
</table>
</body>
</html>