<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Guj</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>GUJARAT AMBUJA EXPORTS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>149.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6839.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3091.81</td><td>2531.3</td><td>2736.48</td><td>3333.62</td><td>3364.43</td><td>4021.44</td><td>3816.59</td><td>4705.3</td><td>4670.31</td><td>4908.99</td></tr>
<tr><td>Raw Material Cost</td><td>2499.12</td><td>1837.88</td><td>2155.88</td><td>2655.86</td><td>2490.46</td><td>2922.49</td><td>2961.38</td><td>3544.35</td><td>3099.31</td><td>3590.69</td></tr>
<tr><td>Change in Inventory</td><td>83.02</td><td>-85.13</td><td>-0.57</td><td>93.59</td><td>7.21</td><td>-45.42</td><td>6.64</td><td>101</td><td>-87.6</td><td>84.49</td></tr>
<tr><td>Power and Fuel</td><td>135.67</td><td>130.95</td><td>127.41</td><td>128.32</td><td>169.63</td><td>217.17</td><td>188.06</td><td>206.06</td><td>278.61</td><td>372.82</td></tr>
<tr><td>Other Mfr. Exp</td><td>128.92</td><td>129.61</td><td>70.11</td><td>142.13</td><td>146.36</td><td>160.98</td><td>142.49</td><td>141.66</td><td>137.23</td><td>159.04</td></tr>
<tr><td>Employee Cost</td><td>72.26</td><td>76.42</td><td>79.39</td><td>91.58</td><td>98.58</td><td>108.18</td><td>102.11</td><td>127.98</td><td>147.97</td><td>121.4</td></tr>
<tr><td>Selling and admin</td><td>99.13</td><td>80.38</td><td>87.43</td><td>97.18</td><td>128.07</td><td>164</td><td>102.32</td><td>207.53</td><td>207.07</td><td>228.42</td></tr>
<tr><td>Other Expenses</td><td>44.79</td><td>26.33</td><td>30.45</td><td>41.26</td><td>21.26</td><td>29.05</td><td>37.48</td><td>43.99</td><td>25.31</td><td>45.02</td></tr>
<tr><td>Other Income</td><td>10.09</td><td>9.13</td><td>10.25</td><td>22.7</td><td>9.11</td><td>9.87</td><td>2.1</td><td>26.76</td><td>53.97</td><td>73.03</td></tr>
<tr><td>Depreciation</td><td>47.41</td><td>60.97</td><td>66.17</td><td>71.42</td><td>76.29</td><td>95.65</td><td>100.78</td><td>103.25</td><td>97.33</td><td>94.66</td></tr>
<tr><td>Interest</td><td>20.65</td><td>15</td><td>9.91</td><td>22.79</td><td>17.94</td><td>18.82</td><td>9.36</td><td>5.77</td><td>5.68</td><td>13.26</td></tr>
<tr><td>Profit before tax</td><td>136.97</td><td>97.76</td><td>119.41</td><td>199.37</td><td>232.16</td><td>269.55</td><td>181.35</td><td>452.47</td><td>638.17</td><td>441.2</td></tr>
<tr><td>Tax</td><td>25.31</td><td>13.59</td><td>18.98</td><td>40.82</td><td>52.28</td><td>71.4</td><td>35.51</td><td>114.33</td><td>162.73</td><td>111.03</td></tr>
<tr><td>Net profit</td><td>111.66</td><td>84.17</td><td>100.43</td><td>158.55</td><td>179.88</td><td>198.15</td><td>145.84</td><td>338.14</td><td>475.44</td><td>330.17</td></tr>
<tr><td>Dividend Amount</td><td>9.68</td><td>11.62</td><td>11.07</td><td>9.17</td><td>10.32</td><td>11.46</td><td>11.46</td><td>13.76</td><td>14.9</td><td>16.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1151.82</td><td>1238</td><td>1255.49</td><td>1272.86</td><td>1077.77</td><td>1129.86</td><td>1428.5</td><td>1162.99</td><td>1115.72</td><td>1301.78</td></tr>
<tr><td>Expenses</td><td>1005.67</td><td>1078.82</td><td>1041.38</td><td>1105.83</td><td>984.15</td><td>1022.34</td><td>1321.43</td><td>1060.8</td><td>1012.21</td><td>1176.41</td></tr>
<tr><td>Other Income</td><td>14.69</td><td>10.44</td><td>19.73</td><td>15.94</td><td>16.25</td><td>27.87</td><td>13.82</td><td>26.49</td><td>42.17</td><td>38.62</td></tr>
<tr><td>Depreciation</td><td>23.58</td><td>24.88</td><td>23.09</td><td>23.84</td><td>23.7</td><td>23.8</td><td>23.32</td><td>30.3</td><td>30.49</td><td>30.05</td></tr>
<tr><td>Interest</td><td>1.32</td><td>2.03</td><td>1.75</td><td>3.75</td><td>2.58</td><td>2.48</td><td>4.45</td><td>6.17</td><td>5.87</td><td>2.98</td></tr>
<tr><td>Profit before tax</td><td>135.94</td><td>142.71</td><td>209</td><td>155.38</td><td>83.59</td><td>109.11</td><td>93.12</td><td>92.21</td><td>109.32</td><td>130.96</td></tr>
<tr><td>Tax</td><td>32.77</td><td>37.58</td><td>55.7</td><td>40.78</td><td>19.49</td><td>27.2</td><td>23.56</td><td>21.34</td><td>26.33</td><td>30.3</td></tr>
<tr><td>Net profit</td><td>103.17</td><td>105.13</td><td>153.3</td><td>114.6</td><td>64.1</td><td>81.91</td><td>69.56</td><td>70.87</td><td>82.99</td><td>100.66</td></tr>
<tr><td>Operating Profit</td><td>146.15</td><td>159.18</td><td>214.11</td><td>167.03</td><td>93.62</td><td>107.52</td><td>107.07</td><td>102.19</td><td>103.51</td><td>125.37</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>27.67</td><td>27.67</td><td>27.67</td><td>22.93</td><td>22.93</td><td>22.93</td><td>22.93</td><td>22.93</td><td>22.93</td><td>22.93</td></tr>
<tr><td>Reserves</td><td>727.37</td><td>798.23</td><td>892.95</td><td>830.17</td><td>999.42</td><td>1185.31</td><td>1303.53</td><td>1642.61</td><td>2104.29</td><td>2420</td></tr>
<tr><td>Borrowings</td><td>401.47</td><td>309.3</td><td>328.51</td><td>635.62</td><td>646.87</td><td>217.26</td><td>160.08</td><td>163.47</td><td>278.07</td><td>226.65</td></tr>
<tr><td>Other Liabilities</td><td>153.68</td><td>147.7</td><td>167.86</td><td>220.11</td><td>225.56</td><td>289.66</td><td>249.82</td><td>345.25</td><td>358.73</td><td>290.98</td></tr>
<tr><td>Total</td><td>1310.19</td><td>1282.9</td><td>1416.99</td><td>1708.83</td><td>1894.78</td><td>1715.16</td><td>1736.36</td><td>2174.26</td><td>2764.02</td><td>2960.56</td></tr>
<tr><td>Net Block</td><td>479.34</td><td>542.79</td><td>568.09</td><td>607.13</td><td>771.75</td><td>753.02</td><td>787.2</td><td>730.74</td><td>770.99</td><td>1042.13</td></tr>
<tr><td>Capital Work in Progress</td><td>63.58</td><td>62.94</td><td>102.71</td><td>158.65</td><td>54.3</td><td>60.73</td><td>12.19</td><td>106.31</td><td>245.97</td><td>86.99</td></tr>
<tr><td>Investments</td><td>41.72</td><td>52.44</td><td>77.17</td><td>47.13</td><td>42.62</td><td>52.44</td><td>22.13</td><td>191.6</td><td>725.69</td><td>676.73</td></tr>
<tr><td>Other Assets</td><td>725.55</td><td>624.73</td><td>669.02</td><td>895.92</td><td>1026.11</td><td>848.97</td><td>914.84</td><td>1145.61</td><td>1021.37</td><td>1154.71</td></tr>
<tr><td>Total</td><td>1310.19</td><td>1282.9</td><td>1416.99</td><td>1708.83</td><td>1894.78</td><td>1715.16</td><td>1736.36</td><td>2174.26</td><td>2764.02</td><td>2960.56</td></tr>
<tr><td>Receivables</td><td>149.6</td><td>108.07</td><td>173.7</td><td>207.78</td><td>229.31</td><td>217.96</td><td>154.24</td><td>225.38</td><td>224.41</td><td>277.96</td></tr>
<tr><td>Inventory</td><td>497.29</td><td>443.69</td><td>430.75</td><td>624.35</td><td>723.73</td><td>501.64</td><td>598.71</td><td>723.41</td><td>666.16</td><td>665.1</td></tr>
<tr><td>Cash & Bank</td><td>5.78</td><td>5.59</td><td>8.32</td><td>5.79</td><td>6.94</td><td>16.43</td><td>101.36</td><td>97.85</td><td>17.97</td><td>100.18</td></tr>
<tr><td>No. of Equity Shares</td><td>138351900</td><td>138351875</td><td>138351875</td><td>114667665</td><td>114667665</td><td>114667665</td><td>114667665</td><td>229335330</td><td>229335330</td><td>229335330</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-120.48</td><td>253.52</td><td>137.35</td><td>56.72</td><td>138.47</td><td>572.79</td><td>240.93</td><td>299.79</td><td>595.84</td><td>239.07</td></tr>
<tr><td>Cash from Investing Activity</td><td>-73.23</td><td>-129.49</td><td>-132.44</td><td>-117.34</td><td>-125.45</td><td>-110.31</td><td>-59.5</td><td>-304.19</td><td>-776.99</td><td>-79.62</td></tr>
<tr><td>Cash from Financing Activity</td><td>187.26</td><td>-124.24</td><td>-2.63</td><td>59.19</td><td>-12.91</td><td>-454.57</td><td>-97.24</td><td>1.75</td><td>99.79</td><td>-75.62</td></tr>
<tr><td>Net Cash Flow</td><td>-6.45</td><td>-0.21</td><td>2.28</td><td>-1.43</td><td>0.11</td><td>7.91</td><td>84.19</td><td>-2.65</td><td>-81.36</td><td>83.83</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>7.39</td><td>8.72</td><td>10.23</td><td>29.7</td><td>57.69</td><td>54.93</td><td>26.19</td><td>63.93</td><td>130.1</td><td>116.18</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>55.34</td><td>55.34</td><td>55.34</td><td>45.86</td><td>45.86</td><td>45.86</td><td>45.86</td><td>45.87</td><td>45.87</td><td>45.87</td></tr>
</table>
</body>
</html>