<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\H P C L</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HINDUSTAN PETROLEUM CORPORATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>501</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>71082.86</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>234237.4</td><td>216648.08</td><td>177910.22</td><td>187492.89</td><td>219509.87</td><td>275490.64</td><td>269091.53</td><td>233248.45</td><td>349913.18</td><td>440709.25</td></tr>
<tr><td>Raw Material Cost</td><td>217223.86</td><td>193952.05</td><td>156867.35</td><td>167744.89</td><td>193570.51</td><td>250030</td><td>246817.86</td><td>208759.1</td><td>322352.06</td><td>425367.4</td></tr>
<tr><td>Change in Inventory</td><td>1279.47</td><td>-5078.44</td><td>-64.16</td><td>4362.52</td><td>-666</td><td>2224.24</td><td>354.51</td><td>8518.53</td><td>625.88</td><td>-1429.83</td></tr>
<tr><td>Power and Fuel</td><td>717.41</td><td>926.11</td><td>1011.53</td><td>875.84</td><td>1155.83</td><td>1395.38</td><td>1330.39</td><td>1231.76</td><td>1142.22</td><td>1041.84</td></tr>
<tr><td>Other Mfr. Exp</td><td>1812.05</td><td>2928.38</td><td>6638.38</td><td>7112.13</td><td>7731.5</td><td>8272.92</td><td>8491.13</td><td>8498.82</td><td>9666.41</td><td>10766.81</td></tr>
<tr><td>Employee Cost</td><td>2197.13</td><td>2593.11</td><td>2339.31</td><td>2969.35</td><td>2892.57</td><td>2971.24</td><td>3224.06</td><td>3219.42</td><td>3017.35</td><td>3000.67</td></tr>
<tr><td>Selling and admin</td><td>6130.86</td><td>6411.62</td><td>1674.4</td><td>1568.32</td><td>1853.82</td><td>1773.94</td><td>1636.87</td><td>1841.78</td><td>2382.65</td><td>2716.57</td></tr>
<tr><td>Other Expenses</td><td>2072.97</td><td>25.8</td><td>980.3</td><td>698.68</td><td>861.87</td><td>1744.11</td><td>2741.41</td><td>2161.57</td><td>1734.04</td><td>3577.83</td></tr>
<tr><td>Other Income</td><td>1366.07</td><td>1835.95</td><td>1969.58</td><td>3696.83</td><td>2784.65</td><td>2382.85</td><td>678.69</td><td>2731.22</td><td>3896.97</td><td>3942.04</td></tr>
<tr><td>Depreciation</td><td>3010.69</td><td>2496.68</td><td>2846.09</td><td>2776.37</td><td>2834.4</td><td>3085.3</td><td>3369.87</td><td>3625.47</td><td>4000.36</td><td>4560.15</td></tr>
<tr><td>Interest</td><td>2392.94</td><td>1841.15</td><td>723.18</td><td>609.24</td><td>617.88</td><td>785.64</td><td>1138.85</td><td>963.28</td><td>997.32</td><td>2174.11</td></tr>
<tr><td>Profit before tax</td><td>1325.03</td><td>2230.69</td><td>6735.1</td><td>11197.42</td><td>10110.14</td><td>10039.2</td><td>1374.29</td><td>14197</td><td>9143.62</td><td>-9983.92</td></tr>
<tr><td>Tax</td><td>245.41</td><td>741.82</td><td>2060.41</td><td>2961.6</td><td>2891.86</td><td>3348.57</td><td>-1264.44</td><td>3534.11</td><td>1849.39</td><td>-3003.69</td></tr>
<tr><td>Net profit</td><td>1080.37</td><td>1498.58</td><td>4674.69</td><td>8235.82</td><td>7218.28</td><td>6690.63</td><td>2638.73</td><td>10662.89</td><td>7294.23</td><td>-6980.23</td></tr>
<tr><td>Dividend Amount</td><td>525.47</td><td>830.57</td><td>1169.58</td><td>3048.81</td><td>2591.16</td><td>2423.49</td><td>1486.1</td><td>3304.23</td><td>1986.52</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>83118.19</td><td>96668.75</td><td>97634.75</td><td>114502.35</td><td>108462.49</td><td>109687.96</td><td>108056.45</td><td>112079.16</td><td>95751.97</td><td>111347.75</td></tr>
<tr><td>Expenses</td><td>80305.62</td><td>95011.81</td><td>94829.08</td><td>126998.49</td><td>110233.16</td><td>108013.94</td><td>102926.71</td><td>102433.54</td><td>87511.96</td><td>109187.34</td></tr>
<tr><td>Other Income</td><td>662.78</td><td>1251.14</td><td>1111.73</td><td>2011.25</td><td>280.17</td><td>563.89</td><td>1358.08</td><td>1299.2</td><td>1040.35</td><td>790.97</td></tr>
<tr><td>Depreciation</td><td>959.64</td><td>1034.64</td><td>1079.4</td><td>1105.95</td><td>1093.55</td><td>1122.82</td><td>1237.83</td><td>1371.45</td><td>1247.31</td><td>1345.44</td></tr>
<tr><td>Interest</td><td>159.26</td><td>244.03</td><td>334.78</td><td>340.19</td><td>603.33</td><td>693.47</td><td>537.12</td><td>626.82</td><td>590.05</td><td>619.5</td></tr>
<tr><td>Profit before tax</td><td>2356.45</td><td>1629.41</td><td>2503.22</td><td>-11931.03</td><td>-3187.38</td><td>421.62</td><td>4712.87</td><td>8946.55</td><td>7443</td><td>986.44</td></tr>
<tr><td>Tax</td><td>437.56</td><td>276.42</td><td>484.77</td><td>-3373.91</td><td>-711.69</td><td>-22.64</td><td>1104.55</td><td>2181.05</td><td>1616.04</td><td>273.6</td></tr>
<tr><td>Net profit</td><td>1918.89</td><td>1352.99</td><td>2018.45</td><td>-8557.12</td><td>-2475.69</td><td>444.26</td><td>3608.32</td><td>6765.5</td><td>5826.96</td><td>712.84</td></tr>
<tr><td>Operating Profit</td><td>2812.57</td><td>1656.94</td><td>2805.67</td><td>-12496.14</td><td>-1770.67</td><td>1674.02</td><td>5129.74</td><td>9645.62</td><td>8240.01</td><td>2160.41</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>339.01</td><td>339.01</td><td>339.01</td><td>1016.27</td><td>1524.21</td><td>1524.21</td><td>1524.21</td><td>1452.41</td><td>1418.94</td><td>1418.94</td></tr>
<tr><td>Reserves</td><td>13659.71</td><td>13585.4</td><td>16324.76</td><td>20055.16</td><td>24008.23</td><td>28876.45</td><td>29456.41</td><td>36628.45</td><td>39985.27</td><td>30844.33</td></tr>
<tr><td>Borrowings</td><td>47995.28</td><td>36915.57</td><td>22160.21</td><td>22130.07</td><td>21952.02</td><td>28191.54</td><td>44001.49</td><td>43708.73</td><td>48497.75</td><td>70671.02</td></tr>
<tr><td>Other Liabilities</td><td>35001.99</td><td>34904.72</td><td>30729.03</td><td>37127.03</td><td>42196.78</td><td>48761.96</td><td>41935.46</td><td>52438.28</td><td>64774.01</td><td>58452.23</td></tr>
<tr><td>Total</td><td>96995.99</td><td>85744.7</td><td>69553.01</td><td>80328.53</td><td>89681.24</td><td>107354.16</td><td>116917.57</td><td>134227.87</td><td>154675.97</td><td>161386.52</td></tr>
<tr><td>Net Block</td><td>38965.5</td><td>45425.11</td><td>33678.42</td><td>36876.26</td><td>38695.14</td><td>41641.5</td><td>48951.78</td><td>50911.91</td><td>58126.1</td><td>68387.46</td></tr>
<tr><td>Capital Work in Progress</td><td>6156.68</td><td>3949.83</td><td>1914.45</td><td>1867.49</td><td>4010.53</td><td>9518.73</td><td>17169.76</td><td>25336.03</td><td>28907.24</td><td>25607.36</td></tr>
<tr><td>Investments</td><td>5690.83</td><td>6112.82</td><td>9184.52</td><td>11773.43</td><td>12882</td><td>14297.45</td><td>14395.61</td><td>15093.42</td><td>18867.35</td><td>23689.15</td></tr>
<tr><td>Other Assets</td><td>46182.98</td><td>30256.94</td><td>24775.62</td><td>29811.35</td><td>34093.57</td><td>41896.48</td><td>36400.42</td><td>42886.51</td><td>48775.28</td><td>43702.55</td></tr>
<tr><td>Total</td><td>96995.99</td><td>85744.7</td><td>69553.01</td><td>80328.53</td><td>89681.24</td><td>107354.16</td><td>116917.57</td><td>134227.87</td><td>154675.97</td><td>161386.52</td></tr>
<tr><td>Receivables</td><td>6302.17</td><td>4070.73</td><td>3776.28</td><td>4091.66</td><td>5587.02</td><td>5667.79</td><td>3934.19</td><td>6869.99</td><td>6340.31</td><td>6832.38</td></tr>
<tr><td>Inventory</td><td>24888.38</td><td>16044.75</td><td>13354.83</td><td>18638.65</td><td>18621.72</td><td>20451.3</td><td>19333.67</td><td>28817.92</td><td>35561.82</td><td>29622.01</td></tr>
<tr><td>Cash & Bank</td><td>2178.9</td><td>2235.83</td><td>154.15</td><td>136.4</td><td>1289.65</td><td>218.5</td><td>223.12</td><td>574.92</td><td>257.97</td><td>672.4</td></tr>
<tr><td>No. of Equity Shares</td><td>339017300</td><td>339017250</td><td>339330000</td><td>1016584500</td><td>1524525375</td><td>1524525375</td><td>1524525375</td><td>1452723884</td><td>1419251095</td><td>1419251095</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>677254500</td><td>507940875</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>7007.16</td><td>19409.79</td><td>6651.45</td><td>10254.48</td><td>11037.21</td><td>8554.03</td><td>5469.24</td><td>17829.26</td><td>15810.23</td><td>-3466.31</td></tr>
<tr><td>Cash from Investing Activity</td><td>-5151.73</td><td>-5667.21</td><td>-4271.87</td><td>-5304.03</td><td>-7397.96</td><td>-11381.74</td><td>-14167.89</td><td>-12278.59</td><td>-13744.84</td><td>-11383.55</td></tr>
<tr><td>Cash from Financing Activity</td><td>-1255.84</td><td>-14698.97</td><td>-3674.31</td><td>-4238.72</td><td>-4422.96</td><td>2598.21</td><td>8451.96</td><td>-4709.19</td><td>-2066.24</td><td>16025.17</td></tr>
<tr><td>Net Cash Flow</td><td>599.59</td><td>-956.39</td><td>-1294.73</td><td>711.73</td><td>-783.71</td><td>-229.5</td><td>-246.69</td><td>841.48</td><td>-0.85</td><td>1175.31</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>68.84</td><td>144.4</td><td>175.06</td><td>350.43</td><td>344.85</td><td>283.85</td><td>190.1</td><td>234.5</td><td>269.35</td><td>236.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>152.37</td><td>152.37</td><td>152.37</td><td>152.38</td><td>152.38</td><td>152.38</td><td>152.38</td><td>145.58</td><td>141.85</td><td>141.85</td></tr>
</table>
</body>
</html>