<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\HEG</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HEG LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2377.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9180.67</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1439.51</td><td>1228.06</td><td>869.5</td><td>858.84</td><td>2747.83</td><td>6591.17</td><td>2144.76</td><td>1254.27</td><td>2200.53</td><td>2462.56</td></tr>
<tr><td>Raw Material Cost</td><td>644.88</td><td>593.16</td><td>332.24</td><td>342.77</td><td>575.81</td><td>1611.84</td><td>1558.13</td><td>504.94</td><td>940.42</td><td>1312.64</td></tr>
<tr><td>Change in Inventory</td><td>-59.73</td><td>-24.25</td><td>-63.48</td><td>-92.61</td><td>97.82</td><td>497.06</td><td>-62.95</td><td>-304.15</td><td>111.41</td><td>397.49</td></tr>
<tr><td>Power and Fuel</td><td>89.53</td><td>74.8</td><td>49.1</td><td>74.21</td><td>165.03</td><td>184</td><td>165.83</td><td>141.85</td><td>273.47</td><td>320.58</td></tr>
<tr><td>Other Mfr. Exp</td><td>133.6</td><td>144.64</td><td>111.23</td><td>104.73</td><td>133.02</td><td>183.28</td><td>137.79</td><td>131.44</td><td>203.25</td><td>226.76</td></tr>
<tr><td>Employee Cost</td><td>57.39</td><td>61.49</td><td>63.08</td><td>59.34</td><td>113.01</td><td>200.48</td><td>68.55</td><td>55.06</td><td>80.56</td><td>92.75</td></tr>
<tr><td>Selling and admin</td><td>210.16</td><td>127.62</td><td>106.34</td><td>95</td><td>150.32</td><td>204.4</td><td>119.38</td><td>101.92</td><td>226.23</td><td>259.59</td></tr>
<tr><td>Other Expenses</td><td>-2.42</td><td>20.46</td><td>7.2</td><td>8.89</td><td>-12.86</td><td>42.62</td><td>37.08</td><td>68.15</td><td>57.98</td><td>28.99</td></tr>
<tr><td>Other Income</td><td>-4.24</td><td>15.16</td><td>3.74</td><td>6.58</td><td>12.37</td><td>105.83</td><td>142.88</td><td>114.33</td><td>117.2</td><td>186.95</td></tr>
<tr><td>Depreciation</td><td>72.66</td><td>75.36</td><td>79.3</td><td>73.92</td><td>72.56</td><td>72.39</td><td>72.13</td><td>73.12</td><td>79.29</td><td>102.3</td></tr>
<tr><td>Interest</td><td>72.3</td><td>77.13</td><td>60.31</td><td>54.72</td><td>56.42</td><td>17.97</td><td>36.51</td><td>11.37</td><td>7.49</td><td>26.01</td></tr>
<tr><td>Profit before tax</td><td>97.44</td><td>44.31</td><td>0.96</td><td>-40.77</td><td>1604.71</td><td>4677.08</td><td>29.29</td><td>-23.4</td><td>560.45</td><td>677.38</td></tr>
<tr><td>Tax</td><td>10.82</td><td>5.32</td><td>8.51</td><td>9.27</td><td>523.37</td><td>1626.65</td><td>-24.09</td><td>-5.46</td><td>129.42</td><td>144.96</td></tr>
<tr><td>Net profit</td><td>80.71</td><td>36.43</td><td>4.41</td><td>-44.08</td><td>1099.34</td><td>3026.16</td><td>67.63</td><td>-17.94</td><td>431.04</td><td>532.41</td></tr>
<tr><td>Dividend Amount</td><td>23.98</td><td>11.99</td><td></td><td></td><td>319.68</td><td>308.8</td><td>96.5</td><td>11.58</td><td>154.4</td><td>164.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>517.56</td><td>597.3</td><td>673.06</td><td>721.95</td><td>598.14</td><td>530.27</td><td>616.88</td><td>671.43</td><td>614.17</td><td>562.4</td></tr>
<tr><td>Expenses</td><td>375.63</td><td>441.32</td><td>516.17</td><td>537.93</td><td>419.35</td><td>398.15</td><td>493.43</td><td>520.26</td><td>512.32</td><td>475.76</td></tr>
<tr><td>Other Income</td><td>25.35</td><td>14.74</td><td>17.4</td><td>21.33</td><td>19.57</td><td>39.7</td><td>31.35</td><td>26.12</td><td>62.84</td><td>29.9</td></tr>
<tr><td>Depreciation</td><td>18.12</td><td>21.05</td><td>21.39</td><td>21</td><td>23.17</td><td>24.99</td><td>33.14</td><td>38.34</td><td>38.48</td><td>47.39</td></tr>
<tr><td>Interest</td><td>1.15</td><td>4.17</td><td>1</td><td>4.03</td><td>6.88</td><td>7.77</td><td>7.33</td><td>8.85</td><td>8.53</td><td>9.73</td></tr>
<tr><td>Profit before tax</td><td>148.01</td><td>145.5</td><td>151.9</td><td>180.32</td><td>168.31</td><td>139.06</td><td>114.33</td><td>130.1</td><td>117.68</td><td>59.42</td></tr>
<tr><td>Tax</td><td>35.01</td><td>36.99</td><td>38.65</td><td>46.76</td><td>38.42</td><td>34.37</td><td>25.44</td><td>32.79</td><td>21.7</td><td>15.75</td></tr>
<tr><td>Net profit</td><td>131.52</td><td>113.48</td><td>129.27</td><td>159</td><td>168.93</td><td>104.69</td><td>99.72</td><td>139.12</td><td>95.98</td><td>43.67</td></tr>
<tr><td>Operating Profit</td><td>141.93</td><td>155.98</td><td>156.89</td><td>184.02</td><td>178.79</td><td>132.12</td><td>123.45</td><td>151.17</td><td>101.85</td><td>86.64</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>39.96</td><td>39.96</td><td>39.96</td><td>39.96</td><td>39.96</td><td>38.6</td><td>38.6</td><td>38.6</td><td>38.6</td><td>38.6</td></tr>
<tr><td>Reserves</td><td>959.98</td><td>974.06</td><td>955.9</td><td>912.6</td><td>1867.56</td><td>3755.09</td><td>3473.12</td><td>3456.48</td><td>3875.03</td><td>4242.34</td></tr>
<tr><td>Borrowings</td><td>1027.44</td><td>917.16</td><td>781.63</td><td>683.79</td><td>297.45</td><td>666.79</td><td>594.26</td><td>298.06</td><td>664.68</td><td>742.57</td></tr>
<tr><td>Other Liabilities</td><td>478.41</td><td>315.05</td><td>175.72</td><td>216.16</td><td>534.14</td><td>683.88</td><td>332.37</td><td>451.02</td><td>729.64</td><td>668.45</td></tr>
<tr><td>Total</td><td>2505.79</td><td>2246.23</td><td>1953.21</td><td>1852.51</td><td>2739.11</td><td>5144.36</td><td>4438.35</td><td>4244.16</td><td>5307.95</td><td>5691.96</td></tr>
<tr><td>Net Block</td><td>940.57</td><td>906.54</td><td>932.43</td><td>888.9</td><td>833.37</td><td>788.38</td><td>744.65</td><td>694.01</td><td>762.78</td><td>1362.75</td></tr>
<tr><td>Capital Work in Progress</td><td>118.7</td><td>107.75</td><td>26.7</td><td>1.2</td><td>1.61</td><td>18.58</td><td>100.61</td><td>373.27</td><td>696.08</td><td>472.01</td></tr>
<tr><td>Investments</td><td>173.75</td><td>222.82</td><td>227.4</td><td>230.58</td><td>248.17</td><td>941.73</td><td>1244.75</td><td>1357.69</td><td>1170.85</td><td>859.27</td></tr>
<tr><td>Other Assets</td><td>1272.77</td><td>1009.12</td><td>766.68</td><td>731.83</td><td>1655.96</td><td>3395.67</td><td>2348.34</td><td>1819.19</td><td>2678.24</td><td>2997.93</td></tr>
<tr><td>Total</td><td>2505.79</td><td>2246.23</td><td>1953.21</td><td>1852.51</td><td>2739.11</td><td>5144.36</td><td>4438.35</td><td>4244.16</td><td>5307.95</td><td>5691.96</td></tr>
<tr><td>Receivables</td><td>523.88</td><td>405.46</td><td>318.48</td><td>360.79</td><td>972.69</td><td>1186.89</td><td>399.41</td><td>289.42</td><td>589.17</td><td>489.14</td></tr>
<tr><td>Inventory</td><td>494</td><td>401.9</td><td>371.19</td><td>257.8</td><td>511.44</td><td>1308.39</td><td>1005.14</td><td>580.61</td><td>977.81</td><td>1440.12</td></tr>
<tr><td>Cash & Bank</td><td>12.06</td><td>4.1</td><td>5.15</td><td>8.28</td><td>7.62</td><td>557.32</td><td>437.28</td><td>550.58</td><td>601.67</td><td>690.34</td></tr>
<tr><td>No. of Equity Shares</td><td>39960292</td><td>39960292</td><td>39960292</td><td>39960292</td><td>39960292</td><td>38596656</td><td>38596656</td><td>38596656</td><td>38596656</td><td>38596656</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>773.3</td><td>276.48</td><td>249.29</td><td>157.04</td><td>594.06</td><td>1488.23</td><td>738.71</td><td>715.79</td><td>-140.61</td><td>113.32</td></tr>
<tr><td>Cash from Investing Activity</td><td>-293.8</td><td>-82.64</td><td>-28.77</td><td>-1.35</td><td>-9.17</td><td>-675.78</td><td>-275.45</td><td>-417.4</td><td>-183.36</td><td>-21.11</td></tr>
<tr><td>Cash from Financing Activity</td><td>-482.1</td><td>-201.8</td><td>-219.47</td><td>-152.56</td><td>-587.96</td><td>-788.47</td><td>-459.62</td><td>-309.82</td><td>343.63</td><td>-99.96</td></tr>
<tr><td>Net Cash Flow</td><td>-2.6</td><td>-7.96</td><td>1.05</td><td>3.13</td><td>-3.08</td><td>23.99</td><td>3.64</td><td>-11.43</td><td>19.66</td><td>-7.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>201.2</td><td>217.4</td><td>139.8</td><td>222.75</td><td>3185</td><td>2093.5</td><td>484</td><td>1464.05</td><td>1376.05</td><td>920.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>4</td><td>4</td><td>4</td><td>4</td><td>4</td><td>3.86</td><td>3.86</td><td>3.86</td><td>3.86</td><td>3.86</td></tr>
</table>
</body>
</html>