<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Hind</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HINDUSTAN AERONAUTICS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>3846.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>256997.77</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>15134.79</td><td>15730.03</td><td>16758.5</td><td>17950.2</td><td>18519.25</td><td>20008.47</td><td>21445.37</td><td>22882.36</td><td>24620.21</td><td>26927.85</td></tr>
<tr><td>Raw Material Cost</td><td>9148.45</td><td>8882.37</td><td>9171.6</td><td>8692.22</td><td>8046.34</td><td>7301.35</td><td>8485.74</td><td>8470.19</td><td>9150.62</td><td>10542.01</td></tr>
<tr><td>Change in Inventory</td><td>744.91</td><td>671.3</td><td>562.2</td><td>-510.85</td><td>-728.77</td><td>-1172.01</td><td>-635.67</td><td>-2458.27</td><td>-592.29</td><td>691.45</td></tr>
<tr><td>Power and Fuel</td><td>216.88</td><td>219.65</td><td>233.8</td><td>227.23</td><td>228.97</td><td>232.54</td><td>201.26</td><td>182.96</td><td>200.04</td><td>202.13</td></tr>
<tr><td>Other Mfr. Exp</td><td>413.85</td><td>363.23</td><td>1176.27</td><td>840.3</td><td>911.63</td><td>1071.09</td><td>845.23</td><td>893.92</td><td>949.18</td><td>1215.53</td></tr>
<tr><td>Employee Cost</td><td>2685.62</td><td>3378.99</td><td>3274.5</td><td>3569.19</td><td>4298.99</td><td>4295.17</td><td>4763.59</td><td>4291.02</td><td>4589.83</td><td>4895.89</td></tr>
<tr><td>Selling and admin</td><td>403.27</td><td>226.06</td><td>177.63</td><td>217.14</td><td>203.95</td><td>351.32</td><td>155.06</td><td>138.06</td><td>179.53</td><td>212.49</td></tr>
<tr><td>Other Expenses</td><td>1441.62</td><td>980.21</td><td>809.4</td><td>657.52</td><td>640.37</td><td>1016.2</td><td>1478.67</td><td>1106.56</td><td>3538.9</td><td>3881.78</td></tr>
<tr><td>Other Income</td><td>2618.47</td><td>1642.42</td><td>1598.2</td><td>1043.89</td><td>761.21</td><td>375.51</td><td>414.91</td><td>359.91</td><td>986.34</td><td>1671.73</td></tr>
<tr><td>Depreciation</td><td>602.51</td><td>806.06</td><td>862.8</td><td>680.61</td><td>946.97</td><td>1024.47</td><td>997.63</td><td>1157.19</td><td>1109.87</td><td>1783.91</td></tr>
<tr><td>Interest</td><td>8.28</td><td>14.66</td><td>5.9</td><td>16.45</td><td>34.62</td><td>177.49</td><td>359.43</td><td>266.72</td><td>65.14</td><td>64.35</td></tr>
<tr><td>Profit before tax</td><td>3577.69</td><td>3172.52</td><td>3207</td><td>3582.58</td><td>3239.85</td><td>3742.34</td><td>3938</td><td>4277.38</td><td>5231.15</td><td>6492.94</td></tr>
<tr><td>Tax</td><td>885.17</td><td>784.47</td><td>1209</td><td>966.95</td><td>1252.43</td><td>1396.28</td><td>1095.99</td><td>1037.93</td><td>144.65</td><td>681.77</td></tr>
<tr><td>Net profit</td><td>2692.52</td><td>2388.05</td><td>1998</td><td>2615.63</td><td>1987.42</td><td>2346.06</td><td>2842.01</td><td>3239.45</td><td>5086.5</td><td>5811.17</td></tr>
<tr><td>Dividend Amount</td><td>891.7</td><td>480.02</td><td>629.01</td><td>800</td><td>1075.73</td><td>662.09</td><td>1111.85</td><td>1003.17</td><td>1337.56</td><td>1839.14</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>5552.15</td><td>5893.69</td><td>11558.14</td><td>3622.52</td><td>5144.89</td><td>5665.86</td><td>12494.58</td><td>3915.34</td><td>5635.81</td><td>6060.91</td></tr>
<tr><td>Expenses</td><td>4308.95</td><td>4463.04</td><td>9063.28</td><td>2797.55</td><td>3534.88</td><td>4680.32</td><td>9252.14</td><td>3035.75</td><td>4106.99</td><td>4626.82</td></tr>
<tr><td>Other Income</td><td>138.06</td><td>194.78</td><td>503.41</td><td>192.09</td><td>260.8</td><td>496.95</td><td>721.96</td><td>410.79</td><td>470.98</td><td>459.69</td></tr>
<tr><td>Depreciation</td><td>242.89</td><td>373.32</td><td>382.33</td><td>208.05</td><td>251.82</td><td>268.69</td><td>1055.35</td><td>201.24</td><td>349.45</td><td>212</td></tr>
<tr><td>Interest</td><td>0.62</td><td>0.75</td><td>42.09</td><td>0.22</td><td>0.35</td><td>2.06</td><td>55.28</td><td>0.01</td><td>0.3</td><td>0.35</td></tr>
<tr><td>Profit before tax</td><td>1137.75</td><td>1251.36</td><td>2573.85</td><td>808.79</td><td>1618.64</td><td>1211.74</td><td>2853.77</td><td>1089.13</td><td>1650.05</td><td>1681.43</td></tr>
<tr><td>Tax</td><td>289.53</td><td>313.81</td><td>-528.11</td><td>202.13</td><td>409.42</td><td>57.75</td><td>12.47</td><td>274.94</td><td>414.75</td><td>427.92</td></tr>
<tr><td>Net profit</td><td>848.22</td><td>937.55</td><td>3101.96</td><td>606.66</td><td>1209.22</td><td>1153.99</td><td>2841.3</td><td>814.19</td><td>1235.3</td><td>1253.51</td></tr>
<tr><td>Operating Profit</td><td>1243.2</td><td>1430.65</td><td>2494.86</td><td>824.97</td><td>1610.01</td><td>985.54</td><td>3242.44</td><td>879.59</td><td>1528.82</td><td>1434.09</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>482</td><td>482</td><td>361.5</td><td>361.5</td><td>334.39</td><td>334.39</td><td>334.39</td><td>334.39</td><td>334.39</td><td>334.39</td></tr>
<tr><td>Reserves</td><td>14532.64</td><td>16304.07</td><td>10657.6</td><td>12175.13</td><td>9151.26</td><td>11740.54</td><td>12865.19</td><td>15033.79</td><td>18929.61</td><td>23171.78</td></tr>
<tr><td>Borrowings</td><td>684.16</td><td>4.53</td><td>79.8</td><td>1022.03</td><td>904.52</td><td>4156.66</td><td>5926.97</td><td>52.71</td><td>48.64</td><td>51</td></tr>
<tr><td>Other Liabilities</td><td>48179.62</td><td>47251.84</td><td>45419.7</td><td>38148.85</td><td>38043.7</td><td>35238.05</td><td>35008.4</td><td>37601.27</td><td>40870.71</td><td>45632.41</td></tr>
<tr><td>Total</td><td>63878.42</td><td>64042.44</td><td>56518.6</td><td>51707.51</td><td>48433.87</td><td>51469.64</td><td>54134.95</td><td>53022.16</td><td>60183.35</td><td>69189.58</td></tr>
<tr><td>Net Block</td><td>2088.18</td><td>7191.14</td><td>6925.2</td><td>7349.56</td><td>7566.07</td><td>7454.3</td><td>7351.48</td><td>7157.95</td><td>6758.14</td><td>6827.33</td></tr>
<tr><td>Capital Work in Progress</td><td>184.74</td><td>216.38</td><td>1025.4</td><td>1389.4</td><td>1457.82</td><td>1499.01</td><td>2040.11</td><td>1948.42</td><td>2471.85</td><td>1883.91</td></tr>
<tr><td>Investments</td><td>707.43</td><td>745.31</td><td>886.4</td><td>980.74</td><td>989.37</td><td>901.79</td><td>940.15</td><td>1054.95</td><td>1294.14</td><td>1385.39</td></tr>
<tr><td>Other Assets</td><td>60898.07</td><td>55889.61</td><td>47681.6</td><td>41987.81</td><td>38420.61</td><td>41614.54</td><td>43803.21</td><td>42860.84</td><td>49659.22</td><td>59092.95</td></tr>
<tr><td>Total</td><td>63878.42</td><td>64042.44</td><td>56518.6</td><td>51707.51</td><td>48433.87</td><td>51469.64</td><td>54134.95</td><td>53022.16</td><td>60183.35</td><td>69189.58</td></tr>
<tr><td>Receivables</td><td>6884.06</td><td>6242.6</td><td>4836.9</td><td>4220.16</td><td>6750.79</td><td>12459.03</td><td>11234.73</td><td>5669.55</td><td>4641.55</td><td>4719.07</td></tr>
<tr><td>Inventory</td><td>22349.51</td><td>25146.93</td><td>23997.8</td><td>21538.76</td><td>20148.32</td><td>20467.31</td><td>20379.2</td><td>18020.97</td><td>16225.94</td><td>14232.87</td></tr>
<tr><td>Cash & Bank</td><td>16934.98</td><td>17671.38</td><td>13303.4</td><td>11116.84</td><td>6524.2</td><td>95.38</td><td>297.91</td><td>7166.33</td><td>14343.61</td><td>20306.15</td></tr>
<tr><td>No. of Equity Shares</td><td>482000000</td><td>482000000</td><td>361500000</td><td>361500000</td><td>334387500</td><td>334387500</td><td>334387500</td><td>334387500</td><td>334387500</td><td>334387500</td></tr>
<tr><td>New Bonus Shares</td><td>361500000</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>-423.21</td><td>-733.68</td><td>-7693.61</td><td>1536.65</td><td>15123.94</td><td>10180.43</td><td>8835.5</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>3020.86</td><td>594.13</td><td>5292.29</td><td>-1334.09</td><td>-1190.11</td><td>-12789.09</td><td>-5734.34</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-164.28</td><td>-2540.34</td><td>2321.16</td><td>63.94</td><td>-7070.18</td><td>-1463.68</td><td>-1731.3</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>2433.37</td><td>-2679.89</td><td>-80.16</td><td>266.5</td><td>6863.65</td><td>-4072.34</td><td>1369.86</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td>566.43</td><td>353.23</td><td>260.15</td><td>497.48</td><td>742.45</td><td>1365.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>96.4</td><td>96.4</td><td>72.3</td><td>72.3</td><td>66.88</td><td>66.88</td><td>66.88</td><td>66.88</td><td>66.88</td><td>66.88</td></tr>
</table>
</body>
</html>