<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Hindalco Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HINDALCO INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>619.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>139082.82</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>87695.49</td><td>104281.1</td><td>98758.91</td><td>100183.78</td><td>115182.8</td><td>130542</td><td>118144</td><td>131985</td><td>195059</td><td>223202</td></tr>
<tr><td>Raw Material Cost</td><td>54114.04</td><td>66214.57</td><td>58269.19</td><td>58486.74</td><td>70876.04</td><td>78301</td><td>68286</td><td>78728</td><td>127293</td><td>137529</td></tr>
<tr><td>Change in Inventory</td><td>521.88</td><td>1237.89</td><td>-1283.05</td><td>2828.83</td><td>1991.42</td><td>-386</td><td>17</td><td>2146</td><td>9753</td><td>-3241</td></tr>
<tr><td>Power and Fuel</td><td>6724.99</td><td>8463.97</td><td>9221.66</td><td>8523.07</td><td>8614.11</td><td>9618</td><td>9696</td><td>8647</td><td>11148</td><td>17351</td></tr>
<tr><td>Other Mfr. Exp</td><td>5540.64</td><td>5817.56</td><td>4695.6</td><td>4610.48</td><td>4528.22</td><td>4954</td><td>5049</td><td>6016</td><td>7701</td><td>8848</td></tr>
<tr><td>Employee Cost</td><td>7547.13</td><td>8126.05</td><td>8117.08</td><td>8568.96</td><td>8669.79</td><td>9087</td><td>8892</td><td>10935</td><td>11751</td><td>12767</td></tr>
<tr><td>Selling and admin</td><td>4029.09</td><td>4305.16</td><td>4185.48</td><td>4372.01</td><td>4550.26</td><td>5665</td><td>5285</td><td>6054</td><td>8347</td><td>9918</td></tr>
<tr><td>Other Expenses</td><td>2237.31</td><td>3747.22</td><td>5209.15</td><td>6134.59</td><td>6240.52</td><td>7020</td><td>6647</td><td>6215</td><td>10225</td><td>10882</td></tr>
<tr><td>Other Income</td><td>677.37</td><td>-832.43</td><td>1499.83</td><td>1197.81</td><td>2878.73</td><td>1127</td><td>906</td><td>-964</td><td>1253</td><td>1307</td></tr>
<tr><td>Depreciation</td><td>3346.83</td><td>3493.38</td><td>4346.8</td><td>4457.24</td><td>4506.24</td><td>4777</td><td>5091</td><td>6628</td><td>6729</td><td>7086</td></tr>
<tr><td>Interest</td><td>2701.59</td><td>4178.42</td><td>5133.8</td><td>5742.44</td><td>3910.73</td><td>3778</td><td>4197</td><td>3738</td><td>3768</td><td>3646</td></tr>
<tr><td>Profit before tax</td><td>2653.12</td><td>340.23</td><td>-203.07</td><td>3314.89</td><td>8157.04</td><td>8083</td><td>5924</td><td>6206</td><td>19103</td><td>13241</td></tr>
<tr><td>Tax</td><td>524.92</td><td>256.38</td><td>498.43</td><td>1432.59</td><td>2074.17</td><td>2588</td><td>2157</td><td>2723</td><td>5373</td><td>3144</td></tr>
<tr><td>Net profit</td><td>2175.01</td><td>854.21</td><td>-250.74</td><td>1899.74</td><td>6082.92</td><td>5496</td><td>3767</td><td>3483</td><td>13730</td><td>10097</td></tr>
<tr><td>Dividend Amount</td><td>206.48</td><td>206.52</td><td>206.52</td><td>244.99</td><td>267.47</td><td>279.72</td><td>222</td><td>666</td><td>888</td><td>666</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>47665</td><td>50272</td><td>55764</td><td>58018</td><td>56176</td><td>53151</td><td>55857</td><td>52991</td><td>54169</td><td>52808</td></tr>
<tr><td>Expenses</td><td>40107</td><td>42960</td><td>48460</td><td>49589</td><td>50814</td><td>49603</td><td>50530</td><td>47277</td><td>48557</td><td>46943</td></tr>
<tr><td>Other Income</td><td>405</td><td>436</td><td>34</td><td>255</td><td>330</td><td>368</td><td>354</td><td>381</td><td>496</td><td>281</td></tr>
<tr><td>Depreciation</td><td>1640</td><td>1683</td><td>1761</td><td>1749</td><td>1713</td><td>1768</td><td>1856</td><td>1786</td><td>1843</td><td>1874</td></tr>
<tr><td>Interest</td><td>1291</td><td>852</td><td>805</td><td>847</td><td>879</td><td>934</td><td>986</td><td>992</td><td>1034</td><td>944</td></tr>
<tr><td>Profit before tax</td><td>5032</td><td>5213</td><td>4772</td><td>6088</td><td>3100</td><td>1214</td><td>2839</td><td>3317</td><td>3231</td><td>3328</td></tr>
<tr><td>Tax</td><td>1615</td><td>1538</td><td>921</td><td>1969</td><td>895</td><td>-148</td><td>428</td><td>863</td><td>1035</td><td>997</td></tr>
<tr><td>Net profit</td><td>3417</td><td>3675</td><td>3851</td><td>4119</td><td>2205</td><td>1362</td><td>2411</td><td>2454</td><td>2196</td><td>2331</td></tr>
<tr><td>Operating Profit</td><td>7558</td><td>7312</td><td>7304</td><td>8429</td><td>5362</td><td>3548</td><td>5327</td><td>5714</td><td>5612</td><td>5865</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>206.48</td><td>206.52</td><td>206.52</td><td>222.72</td><td>222.89</td><td>222</td><td>222</td><td>222</td><td>222</td><td>222</td></tr>
<tr><td>Reserves</td><td>40398.35</td><td>38122.02</td><td>40401.69</td><td>45836.08</td><td>54628.88</td><td>57279</td><td>58095</td><td>66311</td><td>77969</td><td>94584</td></tr>
<tr><td>Borrowings</td><td>64755.76</td><td>68467.55</td><td>67551.85</td><td>63817.45</td><td>52074.02</td><td>52415</td><td>68399</td><td>67206</td><td>64486</td><td>60291</td></tr>
<tr><td>Other Liabilities</td><td>32621.24</td><td>34949.82</td><td>32985.91</td><td>36268.14</td><td>40088.03</td><td>42056</td><td>41902</td><td>55073</td><td>79178</td><td>68392</td></tr>
<tr><td>Total</td><td>137981.83</td><td>141745.91</td><td>141145.97</td><td>146144.39</td><td>147013.82</td><td>151972</td><td>168618</td><td>188812</td><td>221855</td><td>223489</td></tr>
<tr><td>Net Block</td><td>61163.48</td><td>71958.76</td><td>85648.13</td><td>84686.8</td><td>85088.43</td><td>85860</td><td>89195</td><td>100269</td><td>106874</td><td>110626</td></tr>
<tr><td>Capital Work in Progress</td><td>23059.25</td><td>14111.27</td><td>4213.77</td><td>1813.86</td><td>2062.94</td><td>4097</td><td>7721</td><td>10202</td><td>4945</td><td>7700</td></tr>
<tr><td>Investments</td><td>12961.08</td><td>12346.34</td><td>12462.59</td><td>15157.48</td><td>10781.31</td><td>9012</td><td>9411</td><td>17133</td><td>14119</td><td>14116</td></tr>
<tr><td>Other Assets</td><td>40798.02</td><td>43329.54</td><td>38821.48</td><td>44486.25</td><td>49081.14</td><td>53003</td><td>62291</td><td>61208</td><td>95917</td><td>91047</td></tr>
<tr><td>Total</td><td>137981.83</td><td>141745.91</td><td>141145.97</td><td>146144.39</td><td>147013.82</td><td>151972</td><td>168618</td><td>188812</td><td>221855</td><td>223489</td></tr>
<tr><td>Receivables</td><td>9234.76</td><td>9186.43</td><td>7918.4</td><td>8274.8</td><td>9959.81</td><td>11389</td><td>9345</td><td>12959</td><td>21076</td><td>16214</td></tr>
<tr><td>Inventory</td><td>16694.26</td><td>18451.13</td><td>16787.25</td><td>18291.36</td><td>21631.39</td><td>22194</td><td>22384</td><td>30668</td><td>44483</td><td>42958</td></tr>
<tr><td>Cash & Bank</td><td>5021.29</td><td>5308.99</td><td>4407.29</td><td>8261.17</td><td>8057.76</td><td>9787</td><td>21569</td><td>8809</td><td>17392</td><td>15368</td></tr>
<tr><td>No. of Equity Shares</td><td>2064787900</td><td>2065526631</td><td>2064985760</td><td>2243800339</td><td>2246055400</td><td>2245530245</td><td>2246768936</td><td>2246768936</td><td>2247718973</td><td>2247740834</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>7955.72</td><td>7143.08</td><td>11687.74</td><td>12687.47</td><td>10897.68</td><td>11977</td><td>12745</td><td>17232</td><td>16838</td><td>19208</td></tr>
<tr><td>Cash from Investing Activity</td><td>-8095.39</td><td>-3872.65</td><td>-3220.06</td><td>-2875.95</td><td>5333.27</td><td>-5456</td><td>-7227</td><td>-25280</td><td>-6773</td><td>-7664</td></tr>
<tr><td>Cash from Financing Activity</td><td>1492.59</td><td>-2437.08</td><td>-8861.85</td><td>-5552.27</td><td>-16412.4</td><td>-5466</td><td>6656</td><td>-4882</td><td>-6765</td><td>-10345</td></tr>
<tr><td>Net Cash Flow</td><td>1352.92</td><td>833.35</td><td>-394.17</td><td>4259.25</td><td>-181.45</td><td>1055</td><td>12174</td><td>-12930</td><td>3300</td><td>1199</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>141.75</td><td>129</td><td>87.95</td><td>195.05</td><td>214.55</td><td>205.5</td><td>95.7</td><td>326.85</td><td>569.5</td><td>405.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>206.46</td><td>206.5</td><td>206.5</td><td>224.33</td><td>224.5</td><td>224.55</td><td>224.62</td><td>224.67</td><td>224.72</td><td>224.72</td></tr>
</table>
</body>
</html>