<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Hindware Home In</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HINDWARE HOME INNOVATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>346.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>2513.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>1670.87</td><td>1613.12</td><td>1775.21</td><td>2293.63</td><td>2873.27</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td>1089.19</td><td>1104.84</td><td>1162.52</td><td>1645.11</td><td>926.06</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td>5.71</td><td>30.69</td><td>-31.31</td><td>80.56</td><td>43.35</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>1.46</td><td>1.9</td><td>0.72</td><td>0.59</td><td>110.33</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>7.29</td><td>9.38</td><td>9.77</td><td>24.72</td><td>836.07</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>159.53</td><td>177.39</td><td>180.98</td><td>231.23</td><td>402.52</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>261.18</td><td>228.23</td><td>210.68</td><td>260.9</td><td>356.71</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>33.5</td><td>33.67</td><td>35.74</td><td>35.64</td><td>38.43</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>8.6</td><td>24.07</td><td>17.69</td><td>128.99</td><td>34.56</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>19.69</td><td>45.99</td><td>39.27</td><td>39.34</td><td>100.98</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>28.52</td><td>33.31</td><td>29.49</td><td>20.42</td><td>77.1</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>84.82</td><td>33.17</td><td>92.42</td><td>245.23</td><td>102.98</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>30.12</td><td>10.05</td><td>37.57</td><td>41.74</td><td>36.52</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>54.7</td><td>23.11</td><td>54.84</td><td>201.68</td><td>57.09</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.08</td><td>2.17</td><td>3.62</td><td>3.62</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>616.69</td><td>649.01</td><td>685.63</td><td>678.09</td><td>714.8</td><td>712.53</td><td>767.85</td><td>633.91</td><td>700.35</td><td>692.93</td></tr>
<tr><td>Expenses</td><td>567.21</td><td>595.83</td><td>623.95</td><td>619.58</td><td>659.17</td><td>662.84</td><td>685.24</td><td>573.83</td><td>628.47</td><td>642.3</td></tr>
<tr><td>Other Income</td><td>8.44</td><td>8.79</td><td>5.56</td><td>8.16</td><td>8.62</td><td>10.7</td><td>7.15</td><td>8.36</td><td>8.11</td><td>10.67</td></tr>
<tr><td>Depreciation</td><td>10.02</td><td>10</td><td>10.58</td><td>22.32</td><td>25.16</td><td>25.13</td><td>28.37</td><td>29.2</td><td>30.41</td><td>31.34</td></tr>
<tr><td>Interest</td><td>5.58</td><td>4.44</td><td>5.2</td><td>13.53</td><td>18.65</td><td>21.99</td><td>22.93</td><td>22.49</td><td>24.32</td><td>23.53</td></tr>
<tr><td>Profit before tax</td><td>42.32</td><td>47.53</td><td>51.46</td><td>30.82</td><td>20.44</td><td>13.27</td><td>38.46</td><td>16.75</td><td>25.26</td><td>6.43</td></tr>
<tr><td>Tax</td><td>18.45</td><td>11.7</td><td>11.18</td><td>18.32</td><td>4.93</td><td>3.52</td><td>9.75</td><td>13.88</td><td>4.39</td><td>0.31</td></tr>
<tr><td>Net profit</td><td>24.88</td><td>35.86</td><td>37.31</td><td>10.78</td><td>16.25</td><td>7.78</td><td>22.75</td><td>0.67</td><td>19.7</td><td>4.53</td></tr>
<tr><td>Operating Profit</td><td>49.48</td><td>53.18</td><td>61.68</td><td>58.51</td><td>55.63</td><td>49.69</td><td>82.61</td><td>60.08</td><td>71.88</td><td>50.63</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td>14.46</td><td>14.46</td><td>14.46</td><td>14.46</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>242.17</td><td>259.76</td><td>315.48</td><td>511.91</td><td>561.28</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>302.72</td><td>328.05</td><td>242.49</td><td>373.99</td><td>957.54</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>430.72</td><td>407.44</td><td>466.16</td><td>1245.33</td><td>769.37</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>975.61</td><td>1009.71</td><td>1038.59</td><td>2145.69</td><td>2302.65</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>107.96</td><td>189.77</td><td>157.02</td><td>743.02</td><td>911.96</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>4.07</td><td>4.8</td><td>10.59</td><td>58.5</td><td>36.23</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>0.27</td><td>0.27</td><td>25.64</td><td>114.44</td><td>87.95</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>863.31</td><td>814.87</td><td>845.34</td><td>1229.73</td><td>1266.51</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>975.61</td><td>1009.71</td><td>1038.59</td><td>2145.69</td><td>2302.65</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>356.31</td><td>359.18</td><td>407.65</td><td>305.9</td><td>377.61</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td>279.29</td><td>310.17</td><td>280.18</td><td>675.31</td><td>683.77</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>21.78</td><td>2.67</td><td>7.62</td><td>26.54</td><td>9.27</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>72296395</td><td>72296395</td><td>72296395</td><td>72296395</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td>79.11</td><td>40.15</td><td>234.49</td><td>226.05</td><td>220.79</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td>65.22</td><td>-30.99</td><td>-51.62</td><td>-124.01</td><td>-704.75</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-122.6</td><td>-28.25</td><td>-177.93</td><td>-83.17</td><td>466.68</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td>21.73</td><td>-19.09</td><td>4.94</td><td>18.87</td><td>-17.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td>67.95</td><td>271.55</td><td>363.1</td><td>355.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td>7.23</td><td>7.23</td><td>7.23</td><td>7.23</td></tr>
</table>
</body>
</html>