<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Honeywell Auto</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>HONEYWELL AUTOMATION INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>43255.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>38279.11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1706.99</td><td>2403.67</td><td>2187.62</td><td>2410.07</td><td>2689.98</td><td>3174.74</td><td>3290.01</td><td>3042.78</td><td>2948.32</td><td>3447.59</td></tr>
<tr><td>Raw Material Cost</td><td>998.29</td><td>1362.69</td><td>1270</td><td>1294.09</td><td>1392.75</td><td>1663.95</td><td>1650.7</td><td>1551.16</td><td>1544.46</td><td>1850.18</td></tr>
<tr><td>Change in Inventory</td><td>3.77</td><td>5.26</td><td>-5.09</td><td>-6.05</td><td>-7.77</td><td>15.25</td><td>7.78</td><td>20.26</td><td>-0.52</td><td>16.95</td></tr>
<tr><td>Power and Fuel</td><td>8.69</td><td>11.12</td><td>8.52</td><td>8.4</td><td>9.05</td><td>11.39</td><td>12.21</td><td>8.31</td><td>11.69</td><td>11.95</td></tr>
<tr><td>Other Mfr. Exp</td><td>11.31</td><td>12.58</td><td>10.57</td><td>9.43</td><td>10.53</td><td>11.26</td><td>12.22</td><td>12.75</td><td>13.35</td><td>11.23</td></tr>
<tr><td>Employee Cost</td><td>303.43</td><td>428.55</td><td>358.97</td><td>413.93</td><td>458.35</td><td>539.8</td><td>554.81</td><td>524.36</td><td>557.54</td><td>625.9</td></tr>
<tr><td>Selling and admin</td><td>218.86</td><td>346.18</td><td>214.84</td><td>243.77</td><td>298.19</td><td>326.51</td><td>312.81</td><td>235.61</td><td>248.19</td><td>246.04</td></tr>
<tr><td>Other Expenses</td><td>51.73</td><td>35.71</td><td>98.84</td><td>145.31</td><td>141.99</td><td>130.68</td><td>114.5</td><td>138.94</td><td>136.12</td><td>197.84</td></tr>
<tr><td>Other Income</td><td>18.64</td><td>-17.58</td><td>23.97</td><td>37.32</td><td>28.88</td><td>70.87</td><td>97.39</td><td>83.97</td><td>82.34</td><td>128.25</td></tr>
<tr><td>Depreciation</td><td>13.92</td><td>16.86</td><td>15.4</td><td>16.35</td><td>15.2</td><td>15.89</td><td>41.35</td><td>48.66</td><td>52.46</td><td>51.89</td></tr>
<tr><td>Interest</td><td>0.39</td><td>0.44</td><td>3.2</td><td>2.75</td><td>3.8</td><td>6.49</td><td>10.03</td><td>9.2</td><td>8.71</td><td>6.5</td></tr>
<tr><td>Profit before tax</td><td>122.78</td><td>177.22</td><td>226.16</td><td>307.31</td><td>381.23</td><td>554.89</td><td>686.55</td><td>618.02</td><td>457.62</td><td>591.26</td></tr>
<tr><td>Tax</td><td>36.62</td><td>63.02</td><td>84.97</td><td>137.86</td><td>131.5</td><td>196.05</td><td>195.07</td><td>157.98</td><td>118.49</td><td>153.25</td></tr>
<tr><td>Net profit</td><td>86.16</td><td>114.2</td><td>141.19</td><td>169.45</td><td>249.73</td><td>358.84</td><td>491.48</td><td>460.04</td><td>339.13</td><td>438.01</td></tr>
<tr><td>Dividend Amount</td><td>8.84</td><td>11.05</td><td>8.84</td><td>8.84</td><td>28.29</td><td>39.78</td><td>66.3</td><td>75.14</td><td>79.56</td><td>83.98</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>737.19</td><td>859.95</td><td>667.98</td><td>786.17</td><td>794.3</td><td>1017.5</td><td>849.68</td><td>932.3</td><td>1104.2</td><td>1071</td></tr>
<tr><td>Expenses</td><td>629.84</td><td>738.02</td><td>580.68</td><td>664.29</td><td>666.5</td><td>887.1</td><td>710.88</td><td>811.7</td><td>965.9</td><td>910.4</td></tr>
<tr><td>Other Income</td><td>20.97</td><td>14.34</td><td>25.23</td><td>29.2</td><td>44.9</td><td>27.4</td><td>26.73</td><td>33</td><td>40.1</td><td>28.1</td></tr>
<tr><td>Depreciation</td><td>13.13</td><td>13.59</td><td>12.73</td><td>12.46</td><td>12.8</td><td>13.1</td><td>13.5</td><td>13.6</td><td>13.8</td><td>12.8</td></tr>
<tr><td>Interest</td><td>1.38</td><td>1.08</td><td>1.19</td><td>1.26</td><td>1.2</td><td>1</td><td>0.49</td><td>0.8</td><td>0.7</td><td>1.4</td></tr>
<tr><td>Profit before tax</td><td>113.81</td><td>121.6</td><td>98.61</td><td>137.36</td><td>158.7</td><td>143.7</td><td>151.54</td><td>139.2</td><td>163.9</td><td>174.5</td></tr>
<tr><td>Tax</td><td>28.61</td><td>31.87</td><td>25.94</td><td>35.39</td><td>40.8</td><td>37.6</td><td>39.51</td><td>35.8</td><td>42</td><td>46.6</td></tr>
<tr><td>Net profit</td><td>85.2</td><td>89.73</td><td>72.67</td><td>101.97</td><td>117.9</td><td>106.1</td><td>112.03</td><td>103.4</td><td>121.9</td><td>127.9</td></tr>
<tr><td>Operating Profit</td><td>107.35</td><td>121.93</td><td>87.3</td><td>121.88</td><td>127.8</td><td>130.4</td><td>138.8</td><td>120.6</td><td>138.3</td><td>160.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td><td>8.84</td></tr>
<tr><td>Reserves</td><td>772.13</td><td>873.03</td><td>1013.17</td><td>1171.44</td><td>1409.84</td><td>1738.62</td><td>2169.41</td><td>2570.03</td><td>2827.93</td><td>3179.67</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td>80.94</td><td>73.89</td><td>55.74</td><td>36.34</td></tr>
<tr><td>Other Liabilities</td><td>550.41</td><td>601.2</td><td>739.93</td><td>771.2</td><td>1013.22</td><td>1143.14</td><td>1198.28</td><td>1281.92</td><td>1118.1</td><td>1225.65</td></tr>
<tr><td>Total</td><td>1331.38</td><td>1483.07</td><td>1761.94</td><td>1951.48</td><td>2431.9</td><td>2890.6</td><td>3457.47</td><td>3934.68</td><td>4010.61</td><td>4450.5</td></tr>
<tr><td>Net Block</td><td>65.07</td><td>84.9</td><td>84.04</td><td>78.81</td><td>83.92</td><td>85.18</td><td>196.44</td><td>216.58</td><td>180.75</td><td>150.86</td></tr>
<tr><td>Capital Work in Progress</td><td>2.93</td><td>6.8</td><td>1.6</td><td>2.69</td><td>1.1</td><td>8.01</td><td>13.88</td><td>2.12</td><td>2.14</td><td>2.4</td></tr>
<tr><td>Investments</td><td></td><td>75.96</td><td>78.93</td><td>82.75</td><td>77.77</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Assets</td><td>1263.38</td><td>1315.41</td><td>1597.37</td><td>1787.23</td><td>2269.11</td><td>2797.41</td><td>3247.15</td><td>3715.98</td><td>3827.72</td><td>4297.24</td></tr>
<tr><td>Total</td><td>1331.38</td><td>1483.07</td><td>1761.94</td><td>1951.48</td><td>2431.9</td><td>2890.6</td><td>3457.47</td><td>3934.68</td><td>4010.61</td><td>4450.5</td></tr>
<tr><td>Receivables</td><td>353.73</td><td>345.64</td><td>505.33</td><td>500.32</td><td>591.12</td><td>622.39</td><td>743.06</td><td>922.67</td><td>675.13</td><td>937.76</td></tr>
<tr><td>Inventory</td><td>110.15</td><td>123.57</td><td>100.64</td><td>96.91</td><td>79.77</td><td>105.06</td><td>120.89</td><td>95.41</td><td>98.61</td><td>164.65</td></tr>
<tr><td>Cash & Bank</td><td>310.76</td><td>218.68</td><td>371.58</td><td>578.47</td><td>841.43</td><td>1224.52</td><td>1513.9</td><td>1796.86</td><td>2006.22</td><td>2379.51</td></tr>
<tr><td>No. of Equity Shares</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td><td>8841523</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>191.5</td><td>13.02</td><td>166.37</td><td>215.19</td><td>262.89</td><td>311.77</td><td>329.97</td><td>364.4</td><td>263.58</td><td>409.88</td></tr>
<tr><td>Cash from Investing Activity</td><td>5.66</td><td>-139.84</td><td>46.2</td><td>-85.08</td><td>-172.29</td><td>-443.17</td><td>-212.14</td><td>-307.09</td><td>-105.74</td><td>-117.6</td></tr>
<tr><td>Cash from Financing Activity</td><td>-10.66</td><td>-10.78</td><td>-13.3</td><td>-10.64</td><td>-10.63</td><td>-34.08</td><td>-69.54</td><td>-89.47</td><td>-98.53</td><td>-102.03</td></tr>
<tr><td>Net Cash Flow</td><td>186.5</td><td>-137.6</td><td>199.27</td><td>119.47</td><td>79.97</td><td>-165.48</td><td>48.29</td><td>-32.16</td><td>59.31</td><td>190.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>2773.85</td><td>8513.05</td><td>8596.05</td><td>10346.9</td><td>16942.1</td><td>22331.65</td><td>25890.6</td><td>47479.85</td><td>39676.8</td><td>36385.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td><td>0.88</td></tr>
</table>
</body>
</html>