<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\I O C L</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>INDIAN OIL CORPORATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>156.6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>221070.84</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>449506.76</td><td>346044.74</td><td>355379</td><td>421491.82</td><td>528157.5</td><td>483763.03</td><td>363949.67</td><td>589321.2</td><td>841755.91</td><td>776351.85</td></tr>
<tr><td>Raw Material Cost</td><td>389529.56</td><td>281445.34</td><td>290251.45</td><td>335384.05</td><td>445642.35</td><td>420543.85</td><td>281284.15</td><td>500663.88</td><td>753964.7</td><td>637567.82</td></tr>
<tr><td>Change in Inventory</td><td>-9854.11</td><td>-3578.2</td><td>15092.13</td><td>-1462.35</td><td>3545.59</td><td>5414.35</td><td>6181.61</td><td>13710.98</td><td>6329.71</td><td>-1231.34</td></tr>
<tr><td>Power and Fuel</td><td>6543.6</td><td>4967.59</td><td>4283.71</td><td>5184.8</td><td>6742.21</td><td>5647.81</td><td>4796.61</td><td>7999.14</td><td>8332.18</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>19480.72</td><td>16506.74</td><td>18258.85</td><td>20290.84</td><td>22257.57</td><td>24939.61</td><td>9333.49</td><td>25093.52</td><td>27299.27</td><td></td></tr>
<tr><td>Employee Cost</td><td>7662.49</td><td>7501.8</td><td>10262.76</td><td>10680.7</td><td>11596.28</td><td>9336.93</td><td>11308.78</td><td>11582.92</td><td>9359.14</td><td>11670.94</td></tr>
<tr><td>Selling and admin</td><td>9035.93</td><td>5194.97</td><td>4069.69</td><td>5271.23</td><td>5986</td><td>5258.33</td><td>19667.75</td><td>20418.98</td><td>27329.86</td><td></td></tr>
<tr><td>Other Expenses</td><td>-3174.58</td><td>4811.94</td><td>9195.58</td><td>1559.89</td><td>4216.98</td><td>7397.58</td><td>3811.83</td><td>-10484.21</td><td>-8945.01</td><td>50290.98</td></tr>
<tr><td>Other Income</td><td>5859.59</td><td>5219.2</td><td>4355.72</td><td>4331.03</td><td>4097.06</td><td>-7164.93</td><td>4696.27</td><td>4332.32</td><td>5061.11</td><td>5388.78</td></tr>
<tr><td>Depreciation</td><td>5219.01</td><td>5698.39</td><td>6805.92</td><td>7663.54</td><td>8506.45</td><td>10273.39</td><td>10941.45</td><td>12347.58</td><td>13181.05</td><td>15866.11</td></tr>
<tr><td>Interest</td><td>4201.16</td><td>3487.21</td><td>3743.09</td><td>3875.23</td><td>4925.41</td><td>5791.96</td><td>2932.76</td><td>5454.07</td><td>7587.85</td><td>7825.65</td></tr>
<tr><td>Profit before tax</td><td>7014.35</td><td>18071.76</td><td>27955.8</td><td>34450.22</td><td>25926.9</td><td>-7177.01</td><td>30750.73</td><td>34288.62</td><td>15037.69</td><td>57287.79</td></tr>
<tr><td>Tax</td><td>2142.57</td><td>5658.44</td><td>7570.4</td><td>11823.87</td><td>8653.05</td><td>-5300.69</td><td>8988.51</td><td>8562.02</td><td>3333.43</td><td>14126.64</td></tr>
<tr><td>Net profit</td><td>4912.02</td><td>12022.45</td><td>19849.49</td><td>22189.45</td><td>17376.7</td><td>-893.14</td><td>21638.21</td><td>25102.23</td><td>9792.12</td><td>41729.69</td></tr>
<tr><td>Dividend Amount</td><td>1602.45</td><td>3317.54</td><td>9004.75</td><td>19905.25</td><td>8492.46</td><td>3901.94</td><td>11017.25</td><td>11568.11</td><td>4131.47</td><td>16945.49</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>165335.49</td><td>175292.02</td><td>223410.98</td><td>208757.34</td><td>205715.32</td><td>203872.27</td><td>198550.77</td><td>179245.67</td><td>199905.65</td><td>198649.76</td></tr>
<tr><td>Expenses</td><td>154565.41</td><td>161019.39</td><td>217995.89</td><td>205477.04</td><td>201411.07</td><td>186235.7</td><td>174834.44</td><td>155917.28</td><td>183330.04</td><td>186679.32</td></tr>
<tr><td>Other Income</td><td>1477.07</td><td>717.21</td><td>994.34</td><td>1030.68</td><td>1731.32</td><td>1367.55</td><td>953.76</td><td>829.02</td><td>1915.94</td><td>1690.06</td></tr>
<tr><td>Depreciation</td><td>3112.02</td><td>3291.94</td><td>3158.32</td><td>3283.16</td><td>3451.42</td><td>3288.15</td><td>3476.5</td><td>3609.62</td><td>4686.24</td><td>4093.75</td></tr>
<tr><td>Interest</td><td>1119.07</td><td>1806.48</td><td>1907.5</td><td>1554.43</td><td>2122.07</td><td>1957.36</td><td>1743.48</td><td>2135.03</td><td>1800.03</td><td>2147.11</td></tr>
<tr><td>Profit before tax</td><td>8016.06</td><td>9891.42</td><td>1343.61</td><td>-526.61</td><td>462.08</td><td>13758.61</td><td>19450.11</td><td>18412.76</td><td>12005.28</td><td>7419.64</td></tr>
<tr><td>Tax</td><td>1754.66</td><td>2802.24</td><td>460.65</td><td>383.6</td><td>-428.2</td><td>2917.38</td><td>4714.81</td><td>4699.68</td><td>2780.43</td><td>1931.72</td></tr>
<tr><td>Net profit</td><td>6143.08</td><td>6645.72</td><td>-279.38</td><td>-991.55</td><td>773.23</td><td>10289.82</td><td>14436.96</td><td>13114.3</td><td>9029.56</td><td>5148.87</td></tr>
<tr><td>Operating Profit</td><td>10770.08</td><td>14272.63</td><td>5415.09</td><td>3280.3</td><td>4304.25</td><td>17636.57</td><td>23716.33</td><td>23328.39</td><td>16575.61</td><td>11970.44</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>2427.95</td><td>2369.67</td><td>4739.34</td><td>9478.69</td><td>9181.04</td><td>9181.04</td><td>9181.04</td><td>9181.04</td><td>13771.56</td><td>13771.56</td></tr>
<tr><td>Reserves</td><td>66404.32</td><td>87609.94</td><td>97356.76</td><td>104395.13</td><td>103288.2</td><td>86216.87</td><td>102657.01</td><td>124354.14</td><td>125948.68</td><td>169644.71</td></tr>
<tr><td>Borrowings</td><td>64892.9</td><td>58551.5</td><td>63270.62</td><td>65650.26</td><td>96765.04</td><td>129790.33</td><td>116649.06</td><td>132019.59</td><td>148977.08</td><td>132627.56</td></tr>
<tr><td>Other Liabilities</td><td>100157.92</td><td>83184.13</td><td>108351.95</td><td>116335.88</td><td>126128.23</td><td>104773.47</td><td>126657.98</td><td>145327.19</td><td>153341.64</td><td>166318.17</td></tr>
<tr><td>Total</td><td>233883.09</td><td>231715.24</td><td>273718.67</td><td>295859.96</td><td>335362.51</td><td>329961.71</td><td>355145.09</td><td>410881.96</td><td>442038.96</td><td>482362</td></tr>
<tr><td>Net Block</td><td>72843.98</td><td>95760.58</td><td>112030.69</td><td>119937.01</td><td>127223.21</td><td>141593.9</td><td>151286.93</td><td>154419.72</td><td>173665.32</td><td>199713.35</td></tr>
<tr><td>Capital Work in Progress</td><td>40378.07</td><td>26218.99</td><td>16778.4</td><td>19130.38</td><td>28280.74</td><td>32844.84</td><td>36290.54</td><td>47469.27</td><td>51133.47</td><td>57316.86</td></tr>
<tr><td>Investments</td><td>16068.68</td><td>31184.79</td><td>43687.24</td><td>44806.05</td><td>44112.25</td><td>35570.87</td><td>44716.82</td><td>52351.96</td><td>52190.46</td><td>65541.9</td></tr>
<tr><td>Other Assets</td><td>104592.36</td><td>78550.88</td><td>101222.34</td><td>111986.52</td><td>135746.31</td><td>119952.1</td><td>122850.8</td><td>156641.01</td><td>165049.71</td><td>159789.89</td></tr>
<tr><td>Total</td><td>233883.09</td><td>231715.24</td><td>273718.67</td><td>295859.96</td><td>335362.51</td><td>329961.71</td><td>355145.09</td><td>410881.96</td><td>442038.96</td><td>482362</td></tr>
<tr><td>Receivables</td><td>7648.35</td><td>7684.5</td><td>9017.41</td><td>10696.48</td><td>15807.53</td><td>13259.48</td><td>13782.16</td><td>18700.42</td><td>16271.21</td><td>13831.45</td></tr>
<tr><td>Inventory</td><td>50105.11</td><td>42416.53</td><td>65881.69</td><td>70752.16</td><td>77332.17</td><td>67235.64</td><td>83656.63</td><td>111993.62</td><td>121384.45</td><td>121375.83</td></tr>
<tr><td>Cash & Bank</td><td>1224.89</td><td>1050.36</td><td>409.75</td><td>496.31</td><td>1060.97</td><td>2295.98</td><td>2474.68</td><td>1820.14</td><td>2096.64</td><td>3158.79</td></tr>
<tr><td>No. of Equity Shares</td><td>2427952482</td><td>2427952482</td><td>4855904964</td><td>9711809928</td><td>9414158922</td><td>9414158922</td><td>9414158922</td><td>9414158922</td><td>14121238383</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>4855904964</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>46092.12</td><td>25624.23</td><td>28216.12</td><td>29115.29</td><td>12746.52</td><td>7146.25</td><td>49650.22</td><td>25746.67</td><td>29643.72</td><td>71098.63</td></tr>
<tr><td>Cash from Investing Activity</td><td>-10215.23</td><td>-13610.44</td><td>-17684.41</td><td>-17118.7</td><td>-22568.61</td><td>-29100.76</td><td>-22934.67</td><td>-21293.57</td><td>-28029.56</td><td>-31463.75</td></tr>
<tr><td>Cash from Financing Activity</td><td>-38282.66</td><td>-11889.71</td><td>-10937.06</td><td>-12007.36</td><td>10436.45</td><td>22456.03</td><td>-27368.97</td><td>-4057.7</td><td>-1794.4</td><td>-39384.64</td></tr>
<tr><td>Net Cash Flow</td><td>-2405.77</td><td>124.08</td><td>-405.35</td><td>-10.77</td><td>614.36</td><td>501.52</td><td>-653.42</td><td>395.4</td><td>-180.24</td><td>250.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>61.45</td><td>65.6</td><td>129.02</td><td>117.73</td><td>108.57</td><td>54.43</td><td>61.23</td><td>79.3</td><td>77.9</td><td>167.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1456.76</td><td>1456.76</td><td>1456.78</td><td>1456.77</td><td>1412.12</td><td>1412.12</td><td>1412.12</td><td>1412.12</td><td>1412.12</td><td>1412.12</td></tr>
</table>
</body>
</html>