<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\I R F C</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>INDIAN RAILWAY FINANCE CORPORATION LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>147.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>192235.51</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>6197.38</td><td>6939.19</td><td>7506.69</td><td>9047.38</td><td>9267.14</td><td>11133.59</td><td>13421.02</td><td>15770.51</td><td>20299.38</td><td>23891.95</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>0.17</td><td>0.21</td><td>0.2</td><td>0.22</td><td>0.24</td><td>0.22</td><td>0.26</td><td>0.24</td><td>0.21</td><td>0.23</td></tr>
<tr><td>Other Mfr. Exp</td><td>0.59</td><td></td><td></td><td></td><td></td><td></td><td>2.08</td><td>2.62</td><td>3.95</td><td>3.92</td></tr>
<tr><td>Employee Cost</td><td>2.96</td><td>3.1</td><td>4.09</td><td>3</td><td>5.53</td><td>6.47</td><td>6.5</td><td>8.01</td><td>11.12</td><td>13.25</td></tr>
<tr><td>Selling and admin</td><td>14.47</td><td>29.93</td><td>33.13</td><td>21.98</td><td>6.94</td><td>4.68</td><td>4.08</td><td>5.04</td><td>6.87</td><td>8.13</td></tr>
<tr><td>Other Expenses</td><td>0.89</td><td>0.47</td><td>0.78</td><td>0.69</td><td>25.23</td><td>37.1</td><td>52.91</td><td>97.32</td><td>100.49</td><td>108.79</td></tr>
<tr><td>Other Income</td><td>0.87</td><td>0.97</td><td>0.61</td><td>0.26</td><td>1.23</td><td>-0.02</td><td>0.06</td><td>0.33</td><td>2.22</td><td>40.66</td></tr>
<tr><td>Depreciation</td><td>0.37</td><td>0.44</td><td>0.35</td><td>0.35</td><td>0.35</td><td>0.42</td><td>0.46</td><td>4.43</td><td>14.03</td><td>14.06</td></tr>
<tr><td>Interest</td><td>4606.77</td><td>4991.83</td><td>5518.84</td><td>6888.13</td><td>6637.59</td><td>8183.1</td><td>10162.7</td><td>11237.05</td><td>14074.78</td><td>17447.21</td></tr>
<tr><td>Profit before tax</td><td>1572.03</td><td>1914.18</td><td>1949.91</td><td>2133.27</td><td>2592.49</td><td>2901.58</td><td>3192.09</td><td>4416.13</td><td>6090.15</td><td>6337.02</td></tr>
<tr><td>Tax</td><td>871.34</td><td>1155.88</td><td>1101.22</td><td>1199.46</td><td>537.83</td><td>646.84</td><td></td><td></td><td>0.32</td><td></td></tr>
<tr><td>Net profit</td><td>700.69</td><td>758.3</td><td>848.69</td><td>933.81</td><td>2054.66</td><td>2254.75</td><td>3192.1</td><td>4416.13</td><td>6089.84</td><td>6337.01</td></tr>
<tr><td>Dividend Amount</td><td>40.22</td><td>151.96</td><td>339.48</td><td>373.31</td><td>375.27</td><td>399.61</td><td></td><td>1372.19</td><td>1829.59</td><td>1960.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4690.02</td><td>5095.96</td><td>5931.72</td><td>5627.44</td><td>5809.8</td><td>6218.1</td><td>6236.49</td><td>6679.17</td><td>6766.63</td><td>6741.89</td></tr>
<tr><td>Expenses</td><td>28.32</td><td>8.8</td><td>82.44</td><td>22.74</td><td>34.06</td><td>30.51</td><td>47.01</td><td>29.26</td><td>33.97</td><td>35.46</td></tr>
<tr><td>Other Income</td><td>0.02</td><td>1.19</td><td>1.08</td><td>0.03</td><td>0.59</td><td>3.92</td><td>36.25</td><td>1.86</td><td>0.85</td><td>3.42</td></tr>
<tr><td>Depreciation</td><td>3.11</td><td>3.1</td><td>4.72</td><td>3.51</td><td>3.51</td><td>3.73</td><td>3.32</td><td>4.23</td><td>2.15</td><td>1.33</td></tr>
<tr><td>Interest</td><td>3157.13</td><td>3491.34</td><td>4352.83</td><td>3939.64</td><td>4058.54</td><td>4554.33</td><td>4894.7</td><td>5090.97</td><td>5181.49</td><td>5104.29</td></tr>
<tr><td>Profit before tax</td><td>1501.48</td><td>1593.91</td><td>1492.81</td><td>1661.58</td><td>1714.28</td><td>1633.45</td><td>1327.71</td><td>1556.57</td><td>1549.87</td><td>1604.23</td></tr>
<tr><td>Tax</td><td></td><td></td><td>0.32</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Net profit</td><td>1501.48</td><td>1593.91</td><td>1492.5</td><td>1661.58</td><td>1714.28</td><td>1633.45</td><td>1327.71</td><td>1556.57</td><td>1549.87</td><td>1604.23</td></tr>
<tr><td>Operating Profit</td><td>4661.7</td><td>5087.16</td><td>5849.28</td><td>5604.7</td><td>5775.74</td><td>6187.59</td><td>6189.48</td><td>6649.91</td><td>6732.66</td><td>6706.43</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>3352</td><td>3583.96</td><td>4526.46</td><td>6526.46</td><td>6526.46</td><td>9380.46</td><td>11880.46</td><td>13068.51</td><td>13068.51</td><td>13068.51</td></tr>
<tr><td>Reserves</td><td>4210.04</td><td>5097.65</td><td>6998.89</td><td>5483.14</td><td>7402.23</td><td>15648.19</td><td>18419.29</td><td>22844.88</td><td>27927.83</td><td>32401.81</td></tr>
<tr><td>Borrowings</td><td>69917.35</td><td>71269.63</td><td>87503.18</td><td>106394.86</td><td>134005.53</td><td>173932.67</td><td>234376.72</td><td>323145.26</td><td>388439.97</td><td>418934.9</td></tr>
<tr><td>Other Liabilities</td><td>6450.63</td><td>7695.75</td><td>9371.86</td><td>11245.17</td><td>13534.1</td><td>7642.29</td><td>10827.66</td><td>21422.87</td><td>20543.91</td><td>26741.52</td></tr>
<tr><td>Total</td><td>83930.02</td><td>87646.99</td><td>108400.39</td><td>129649.63</td><td>161468.32</td><td>206603.61</td><td>275504.13</td><td>380481.52</td><td>449980.22</td><td>491146.74</td></tr>
<tr><td>Net Block</td><td>12.6</td><td>12.01</td><td>11.76</td><td>11.52</td><td>11.29</td><td>11.28</td><td>11.05</td><td>45.36</td><td>37.96</td><td>19.19</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Investments</td><td>10.92</td><td>9.32</td><td>7.87</td><td>7.87</td><td>13.98</td><td>13.15</td><td>11.51</td><td>11.98</td><td>10</td><td>13.66</td></tr>
<tr><td>Other Assets</td><td>83906.5</td><td>87625.66</td><td>108380.76</td><td>129630.24</td><td>161443.05</td><td>206579.18</td><td>275481.57</td><td>380424.18</td><td>449932.26</td><td>491113.89</td></tr>
<tr><td>Total</td><td>83930.02</td><td>87646.99</td><td>108400.39</td><td>129649.63</td><td>161468.32</td><td>206603.61</td><td>275504.13</td><td>380481.52</td><td>449980.22</td><td>491146.74</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>200692.5</td><td>244147.01</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>2021.96</td><td>5.07</td><td>1211.21</td><td>7.52</td><td>99.82</td><td>81.07</td><td>100.76</td><td>458.92</td><td>303.38</td><td>541.66</td></tr>
<tr><td>No. of Equity Shares</td><td>33520000</td><td>35839600</td><td>45264600</td><td>65264600</td><td>6526460000</td><td>9380460000</td><td>11880460000</td><td>13068506000</td><td>13068506000</td><td>13068506000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1000</td><td>1000</td><td>1000</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>-16377.5</td><td>-19455.18</td><td>-28076.12</td><td>-41748.19</td><td>-62700.61</td><td>-89906.65</td><td>-64412.28</td><td>-28583.83</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>1.94</td><td>1.79</td><td>1.67</td><td>1.31</td><td>1.47</td><td>0.42</td><td>-4.72</td><td>0.09</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td>17581.7</td><td>18249.71</td><td>28074.63</td><td>41749.45</td><td>62696.81</td><td>90202.04</td><td>64266.3</td><td>28643.28</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>1206.14</td><td>-1203.69</td><td>0.18</td><td>2.58</td><td>-2.33</td><td>295.81</td><td>-150.7</td><td>59.54</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>22.9</td><td>21.45</td><td>26.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>3.35</td><td>3.58</td><td>4.53</td><td>6.53</td><td>652.65</td><td>938.05</td><td>1188.05</td><td>1306.85</td><td>1306.85</td><td>1306.85</td></tr>
</table>
</body>
</html>