<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\IDFC First Bank</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>IDFC FIRST BANK LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>75.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>53677.36</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td>8578.28</td><td>9098.47</td><td>12204.02</td><td>16240.32</td><td>15968.15</td><td>17172.69</td><td>22727.81</td><td>30325.11</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td>30.8</td><td>32.73</td><td>99.41</td><td>193.05</td><td>129.76</td><td>129.84</td><td>153.25</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td>616.16</td><td>787.84</td><td>1280.36</td><td>1797</td><td>2304.02</td><td>3102.44</td><td>4282.73</td><td>5633.66</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td>178.48</td><td>231.91</td><td>386.05</td><td>648.69</td><td>693.31</td><td>849.21</td><td>1168.33</td><td></td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td>606.8</td><td>736.52</td><td>2936.37</td><td>7121.6</td><td>5605.87</td><td>8241.35</td><td>7733.75</td><td>12895.72</td></tr>
<tr><td>Other Income</td><td></td><td></td><td>1019.1</td><td>1119.87</td><td>824.3</td><td>1722.41</td><td>2211.43</td><td>3172.59</td><td>4467.28</td><td>5931.73</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td>135.93</td><td>168.21</td><td>2820.32</td><td>320.01</td><td>342.51</td><td>382.41</td><td>434.99</td><td></td></tr>
<tr><td>Interest</td><td></td><td></td><td>6515.47</td><td>7125.96</td><td>8743.24</td><td>10228.27</td><td>8585.13</td><td>7465.07</td><td>10090.64</td><td>13870.3</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td>1513.74</td><td>1135.17</td><td>-3237.43</td><td>-2345.89</td><td>518.98</td><td>174.96</td><td>3331.4</td><td>3857.16</td></tr>
<tr><td>Tax</td><td></td><td></td><td>450.99</td><td>179.69</td><td>-1329.55</td><td>497.5</td><td>35.8</td><td>42.66</td><td>846.47</td><td>914.81</td></tr>
<tr><td>Net profit</td><td></td><td></td><td>1018.68</td><td>879.91</td><td>-1907.88</td><td>-2843.39</td><td>483.18</td><td>132.31</td><td>2484.93</td><td>2942.35</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td>254.93</td><td>255.31</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4429.16</td><td>4553.64</td><td>4921.74</td><td>5469.76</td><td>5911.89</td><td>6424.42</td><td>6868.86</td><td>7356.27</td><td>7879.5</td><td>8220.48</td></tr>
<tr><td>Expenses</td><td>2958.35</td><td>3030.63</td><td>2956.81</td><td>3303.71</td><td>3611.75</td><td>3900.78</td><td>4113.89</td><td>4377.38</td><td>4873.97</td><td>5164.14</td></tr>
<tr><td>Other Income</td><td>769.42</td><td>831.19</td><td>855.63</td><td>1061.4</td><td>1152.44</td><td>1397.81</td><td>1363.61</td><td>1409.54</td><td>1516.56</td><td>1642.02</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>1848.96</td><td>1884.15</td><td>2170.38</td><td>2467.3</td><td>2625.9</td><td>2827.06</td><td>3122.36</td><td>3405.61</td><td>3592.35</td><td>3749.98</td></tr>
<tr><td>Profit before tax</td><td>391.27</td><td>470.05</td><td>650.18</td><td>760.15</td><td>826.68</td><td>1094.39</td><td>996.22</td><td>982.82</td><td>929.74</td><td>948.38</td></tr>
<tr><td>Tax</td><td>101.06</td><td>117.74</td><td>165.17</td><td>192.96</td><td>210.07</td><td>278.27</td><td>264.71</td><td>235.97</td><td>197.65</td><td>216.48</td></tr>
<tr><td>Net profit</td><td>290.21</td><td>352.31</td><td>485.01</td><td>567.19</td><td>616.61</td><td>816.12</td><td>731.51</td><td>746.85</td><td>732.09</td><td>731.9</td></tr>
<tr><td>Operating Profit</td><td>1470.81</td><td>1523.01</td><td>1964.93</td><td>2166.05</td><td>2300.14</td><td>2523.64</td><td>2754.97</td><td>2978.89</td><td>3005.53</td><td>3056.34</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td>3399.01</td><td>3404.07</td><td>4781.68</td><td>4809.9</td><td>5675.85</td><td>6217.71</td><td>6618.12</td><td></td></tr>
<tr><td>Reserves</td><td></td><td></td><td>11278.32</td><td>11870.03</td><td>13417.69</td><td>10593.62</td><td>12223.87</td><td>14864.41</td><td>19229.43</td><td></td></tr>
<tr><td>Borrowings</td><td></td><td></td><td>90360.02</td><td>105326.51</td><td>140336.98</td><td>122476.13</td><td>134322.33</td><td>158502.23</td><td>201681.59</td><td></td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td>7026.96</td><td>5781.38</td><td>8562.58</td><td>11278.9</td><td>10849.47</td><td>10561.39</td><td>12352.91</td><td></td></tr>
<tr><td>Total</td><td></td><td></td><td>112064.31</td><td>126381.99</td><td>167098.93</td><td>149158.55</td><td>163071.52</td><td>190145.74</td><td>239882.05</td><td></td></tr>
<tr><td>Net Block</td><td></td><td></td><td>932.62</td><td>796.87</td><td>939.93</td><td>998.77</td><td>1370.33</td><td>1447.6</td><td>2054.16</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td>5.92</td><td>3.39</td><td>34.11</td><td>74.46</td><td>65.27</td><td>79.41</td><td>218.58</td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td>50164.11</td><td>60904.42</td><td>58245.23</td><td>45174.42</td><td>45181.59</td><td>45934.56</td><td>60913.28</td><td></td></tr>
<tr><td>Other Assets</td><td></td><td></td><td>60961.66</td><td>64677.31</td><td>107879.66</td><td>102910.9</td><td>116454.33</td><td>142684.17</td><td>176696.03</td><td></td></tr>
<tr><td>Total</td><td></td><td></td><td>112064.31</td><td>126381.99</td><td>167098.93</td><td>149158.55</td><td>163071.52</td><td>190145.74</td><td>239882.05</td><td></td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td>5140.13</td><td>4876.82</td><td>9526.15</td><td>4162.84</td><td>5773.12</td><td>15702.37</td><td>13778.68</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td>3399006184</td><td>3404074905</td><td>4781676412</td><td>4809903016</td><td>5675849855</td><td>6217708310</td><td>6618121816</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>14128.15</td><td>-5977.82</td><td>17363.78</td><td>10965.54</td><td>14041.71</td><td>2679.13</td><td>3563</td><td>11542.89</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>-4917.9</td><td>-1027.28</td><td>-494.12</td><td>-3790.19</td><td>-2833.25</td><td>-2960.47</td><td>-11995.74</td><td>-9886.7</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td>-6974.02</td><td>6741.79</td><td>-12220.31</td><td>-12538.66</td><td>-9598.18</td><td>10210.59</td><td>6509.04</td><td>-2953.71</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>2236.22</td><td>-263.31</td><td>4649.34</td><td>-5363.31</td><td>1610.28</td><td>9929.25</td><td>-1923.69</td><td>-1297.52</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td>59.3</td><td>47.35</td><td>55.5</td><td>21.1</td><td>55.7</td><td>39.7</td><td>55.05</td><td>75.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td>339.9</td><td>340.41</td><td>478.17</td><td>480.99</td><td>567.58</td><td>621.77</td><td>661.81</td><td>706.99</td></tr>
</table>
</body>
</html>