<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Intellect Design</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>INTELLECT DESIGN ARENA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1024.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>14020.39</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>608.75</td><td>810.66</td><td>913.58</td><td>1087.29</td><td>1449.57</td><td>1346.88</td><td>1497.46</td><td>1878.19</td><td>2231.25</td><td>2506.44</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>7.19</td><td>7.4</td><td>5.84</td><td>7.79</td><td>8.36</td><td>9.26</td><td>3.97</td><td>4.86</td><td>6.47</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>26.7</td><td>44.12</td><td>31.64</td><td>58.42</td><td>220</td><td>244.86</td><td>190.19</td><td>293.87</td><td>403.83</td><td></td></tr>
<tr><td>Employee Cost</td><td>531.34</td><td>642.79</td><td>718.12</td><td>767.41</td><td>839.31</td><td>812.68</td><td>808.66</td><td>921.76</td><td>1144.88</td><td>1340.38</td></tr>
<tr><td>Selling and admin</td><td>110.91</td><td>129.05</td><td>161.99</td><td>152.77</td><td>205.05</td><td>175.07</td><td>80.33</td><td>137.9</td><td>192.84</td><td></td></tr>
<tr><td>Other Expenses</td><td>12.46</td><td>23.58</td><td>19.4</td><td>25.79</td><td>44.72</td><td>29.55</td><td>54.56</td><td>44.74</td><td>44.52</td><td>639.22</td></tr>
<tr><td>Other Income</td><td>17.76</td><td>26.58</td><td>40.69</td><td>31.72</td><td>65.67</td><td>38.22</td><td>20.03</td><td>42.95</td><td>52.65</td><td>61.68</td></tr>
<tr><td>Depreciation</td><td>19.01</td><td>20.65</td><td>24.14</td><td>26.53</td><td>41.56</td><td>68.96</td><td>76.71</td><td>97.56</td><td>121.51</td><td>137.22</td></tr>
<tr><td>Interest</td><td>1.26</td><td>2.16</td><td>12.69</td><td>16.56</td><td>16.03</td><td>21.99</td><td>12.98</td><td>7.26</td><td>6.5</td><td>2.62</td></tr>
<tr><td>Profit before tax</td><td>-82.36</td><td>-32.51</td><td>-19.55</td><td>63.74</td><td>140.21</td><td>22.73</td><td>290.09</td><td>413.19</td><td>363.35</td><td>448.68</td></tr>
<tr><td>Tax</td><td>1.76</td><td>-9.06</td><td>2.84</td><td>7.03</td><td>8.95</td><td>5.09</td><td>25.45</td><td>62.74</td><td>94.75</td><td>125.97</td></tr>
<tr><td>Net profit</td><td>-82.99</td><td>-23.45</td><td>-22.39</td><td>46.73</td><td>131.35</td><td>15.99</td><td>262.77</td><td>349.08</td><td>267.23</td><td>321.19</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>33.64</td><td>33.93</td><td>68.41</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>508.29</td><td>509.41</td><td>541.3</td><td>527.54</td><td>546.92</td><td>615.5</td><td>639.38</td><td>619.05</td><td>634.35</td><td>613.67</td></tr>
<tr><td>Expenses</td><td>378.37</td><td>388.79</td><td>428.62</td><td>446.01</td><td>450.75</td><td>478.89</td><td>491.74</td><td>500.66</td><td>503.57</td><td>489.73</td></tr>
<tr><td>Other Income</td><td>10.8</td><td>26.37</td><td>9.76</td><td>10.89</td><td>20.18</td><td>20.23</td><td>13.38</td><td>12.64</td><td>19.83</td><td>21.94</td></tr>
<tr><td>Depreciation</td><td>24.69</td><td>26.5</td><td>28.08</td><td>29.45</td><td>31.05</td><td>32.93</td><td>33.97</td><td>33.74</td><td>34.25</td><td>35.27</td></tr>
<tr><td>Interest</td><td>0.96</td><td>0.95</td><td>1.28</td><td>0.8</td><td>0.9</td><td>0.21</td><td>0.51</td><td>0.77</td><td>0.65</td><td>0.7</td></tr>
<tr><td>Profit before tax</td><td>115.07</td><td>119.54</td><td>93.08</td><td>62.17</td><td>84.4</td><td>123.7</td><td>126.54</td><td>96.52</td><td>115.71</td><td>109.91</td></tr>
<tr><td>Tax</td><td>13.76</td><td>24.14</td><td>24.21</td><td>16.15</td><td>21.8</td><td>32.59</td><td>32.9</td><td>25.68</td><td>30.83</td><td>36.56</td></tr>
<tr><td>Net profit</td><td>100.85</td><td>95.26</td><td>68.77</td><td>45.77</td><td>62.03</td><td>90.66</td><td>93.47</td><td>70.44</td><td>84.31</td><td>72.97</td></tr>
<tr><td>Operating Profit</td><td>129.92</td><td>120.62</td><td>112.68</td><td>81.53</td><td>96.17</td><td>136.61</td><td>147.64</td><td>118.39</td><td>130.78</td><td>123.94</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>50.1</td><td>50.39</td><td>50.87</td><td>62.76</td><td>65.89</td><td>66.17</td><td>66.49</td><td>67.28</td><td>67.86</td><td>68.41</td></tr>
<tr><td>Reserves</td><td>569.11</td><td>560.93</td><td>547.48</td><td>739.15</td><td>953.85</td><td>978.84</td><td>1326.35</td><td>1741.47</td><td>1989.84</td><td>2370.44</td></tr>
<tr><td>Borrowings</td><td>7.71</td><td>22.91</td><td>232.36</td><td>159.37</td><td>133.27</td><td>299.76</td><td>82.47</td><td>20.42</td><td>27.13</td><td>44.3</td></tr>
<tr><td>Other Liabilities</td><td>303.82</td><td>378.22</td><td>353.47</td><td>399.79</td><td>478.2</td><td>524.68</td><td>566.7</td><td>764.02</td><td>801.87</td><td>921.78</td></tr>
<tr><td>Total</td><td>930.74</td><td>1012.45</td><td>1184.18</td><td>1361.07</td><td>1631.21</td><td>1869.45</td><td>2042.01</td><td>2593.19</td><td>2886.7</td><td>3404.93</td></tr>
<tr><td>Net Block</td><td>212.7</td><td>258.42</td><td>277.76</td><td>273.99</td><td>334.09</td><td>368.07</td><td>396.51</td><td>435.04</td><td>494.42</td><td>930.68</td></tr>
<tr><td>Capital Work in Progress</td><td>54.09</td><td>65.53</td><td>138.29</td><td>196.26</td><td>227.65</td><td>311.52</td><td>349.16</td><td>344.1</td><td>370.17</td><td>0.98</td></tr>
<tr><td>Investments</td><td>179.42</td><td>77.28</td><td>65.54</td><td>69.28</td><td>68.06</td><td>76.84</td><td>146.24</td><td>416.23</td><td>365.37</td><td>449.29</td></tr>
<tr><td>Other Assets</td><td>484.53</td><td>611.22</td><td>702.59</td><td>821.54</td><td>1001.41</td><td>1113.02</td><td>1150.1</td><td>1397.82</td><td>1656.74</td><td>2023.98</td></tr>
<tr><td>Total</td><td>930.74</td><td>1012.45</td><td>1184.18</td><td>1361.07</td><td>1631.21</td><td>1869.45</td><td>2042.01</td><td>2593.19</td><td>2886.7</td><td>3404.93</td></tr>
<tr><td>Receivables</td><td>167.08</td><td>151.08</td><td>204.84</td><td>241.17</td><td>202.73</td><td>284.71</td><td>186.76</td><td>257.19</td><td>415.75</td><td>554.29</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>106.22</td><td>53.92</td><td>116.08</td><td>140.23</td><td>81.87</td><td>106.29</td><td>152.75</td><td>158.75</td><td>97.1</td><td>204.32</td></tr>
<tr><td>No. of Equity Shares</td><td>100198474</td><td>100778624</td><td>101733872</td><td>125529084</td><td>131774715</td><td>132338530</td><td>132974363</td><td>134553614</td><td>135722575</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-17.55</td><td>-100.61</td><td>-64.95</td><td>49.46</td><td>-50.34</td><td>43.57</td><td>463.32</td><td>452.94</td><td>174.39</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>132.26</td><td>30.62</td><td>-102.82</td><td>-153.53</td><td>1.19</td><td>-99.24</td><td>-192.97</td><td>-399.4</td><td>-177.14</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>-8.49</td><td>16.43</td><td>145.97</td><td>142.51</td><td>62.97</td><td>80.1</td><td>-225.34</td><td>-52.1</td><td>-49.54</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>106.22</td><td>-53.56</td><td>-21.8</td><td>38.45</td><td>13.82</td><td>24.43</td><td>45.02</td><td>1.44</td><td>-52.3</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>100.42</td><td>211.57</td><td>107.73</td><td>165.3</td><td>203.35</td><td>54.4</td><td>740</td><td>945.75</td><td>410.6</td><td>1096.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>12.3</td><td>12.37</td><td>12.49</td><td>12.55</td><td>13.18</td><td>13.23</td><td>13.3</td><td>13.46</td><td>13.57</td><td>13.68</td></tr>
</table>
</body>
</html>