<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\ION Exchange</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ION EXCHANGE (INDIA) LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>518.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7600.22</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>786.7</td><td>798.45</td><td>868.11</td><td>1008.91</td><td>1045.81</td><td>1162.28</td><td>1479.83</td><td>1449.52</td><td>1576.87</td><td>1989.61</td></tr>
<tr><td>Raw Material Cost</td><td>547.28</td><td>528.29</td><td>552.99</td><td>721.86</td><td>652.48</td><td>737.43</td><td>967.19</td><td>898.08</td><td>971.11</td><td>1252.06</td></tr>
<tr><td>Change in Inventory</td><td>3.9</td><td>6.09</td><td>-10.59</td><td>28.46</td><td>-23.11</td><td>4.62</td><td>11.27</td><td>5.69</td><td>23.32</td><td>6.68</td></tr>
<tr><td>Power and Fuel</td><td>11.43</td><td>12.1</td><td>13.45</td><td>13.35</td><td>13.37</td><td>15.79</td><td>16.11</td><td>15.66</td><td>21.46</td><td>24.94</td></tr>
<tr><td>Other Mfr. Exp</td><td>6.87</td><td>7.41</td><td>6.73</td><td>8.24</td><td>45.09</td><td>44.6</td><td>66.06</td><td>55.86</td><td>71.6</td><td>72.99</td></tr>
<tr><td>Employee Cost</td><td>96.62</td><td>97.89</td><td>111.19</td><td>122.99</td><td>138.01</td><td>152.37</td><td>182.47</td><td>175.8</td><td>201.18</td><td>239.24</td></tr>
<tr><td>Selling and admin</td><td>73.87</td><td>85.57</td><td>92.26</td><td>62.5</td><td>64.43</td><td>70.12</td><td>77.32</td><td>54.29</td><td>73.38</td><td>94.14</td></tr>
<tr><td>Other Expenses</td><td>18.95</td><td>24.67</td><td>22.98</td><td>34.12</td><td>29.22</td><td>37.62</td><td>44</td><td>48.6</td><td>45.53</td><td>54.78</td></tr>
<tr><td>Other Income</td><td>4.83</td><td>4.25</td><td>6.53</td><td>12.21</td><td>21.09</td><td>33.81</td><td>35.71</td><td>30.51</td><td>42.11</td><td>41.7</td></tr>
<tr><td>Depreciation</td><td>10.56</td><td>12.11</td><td>12.61</td><td>11.83</td><td>13.08</td><td>19.59</td><td>23.53</td><td>27.67</td><td>28.04</td><td>29.09</td></tr>
<tr><td>Interest</td><td>15.09</td><td>16.9</td><td>17.21</td><td>21.04</td><td>21.89</td><td>21.35</td><td>19.25</td><td>14.72</td><td>12.67</td><td>12.05</td></tr>
<tr><td>Profit before tax</td><td>14.76</td><td>23.85</td><td>34.63</td><td>53.65</td><td>66.22</td><td>101.84</td><td>130.88</td><td>195.04</td><td>217.33</td><td>258.7</td></tr>
<tr><td>Tax</td><td>9.98</td><td>12.44</td><td>17.72</td><td>24.81</td><td>26.36</td><td>35.93</td><td>36.73</td><td>51.71</td><td>55.64</td><td>63.74</td></tr>
<tr><td>Net profit</td><td>4.55</td><td>9.76</td><td>15.31</td><td>30.41</td><td>40.18</td><td>65.26</td><td>93.62</td><td>143.93</td><td>162.77</td><td>196.74</td></tr>
<tr><td>Dividend Amount</td><td>2.82</td><td>4.23</td><td>4.24</td><td>4.98</td><td>4.98</td><td>6.4</td><td>8.54</td><td>14.23</td><td>14.23</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>378.19</td><td>388.2</td><td>496.36</td><td>382.4</td><td>447.61</td><td>512.12</td><td>647.48</td><td>479.22</td><td>532.97</td><td>553.85</td></tr>
<tr><td>Expenses</td><td>338.47</td><td>345.49</td><td>401.55</td><td>349.49</td><td>394.3</td><td>449.72</td><td>541.11</td><td>430.44</td><td>472.58</td><td>483.27</td></tr>
<tr><td>Other Income</td><td>8.17</td><td>5.55</td><td>21.18</td><td>15.33</td><td>8.25</td><td>12.81</td><td>5.61</td><td>8.69</td><td>10.65</td><td>9.44</td></tr>
<tr><td>Depreciation</td><td>6.99</td><td>7.01</td><td>7.06</td><td>7.05</td><td>7.23</td><td>7.45</td><td>7.36</td><td>7.87</td><td>8.5</td><td>9.62</td></tr>
<tr><td>Interest</td><td>2.47</td><td>2.26</td><td>2.45</td><td>2.24</td><td>2.3</td><td>2.35</td><td>2.31</td><td>2.05</td><td>3.56</td><td>3.22</td></tr>
<tr><td>Profit before tax</td><td>38.43</td><td>38.99</td><td>106.48</td><td>38.95</td><td>52.03</td><td>65.41</td><td>102.31</td><td>47.55</td><td>58.98</td><td>67.18</td></tr>
<tr><td>Tax</td><td>11.2</td><td>10.96</td><td>23.28</td><td>11.57</td><td>13.33</td><td>17.72</td><td>21.12</td><td>14.23</td><td>16.63</td><td>19.94</td></tr>
<tr><td>Net profit</td><td>27.42</td><td>28.41</td><td>83.07</td><td>28.02</td><td>38.99</td><td>48.05</td><td>81.68</td><td>33.27</td><td>42.5</td><td>47.46</td></tr>
<tr><td>Operating Profit</td><td>39.72</td><td>42.71</td><td>94.81</td><td>32.91</td><td>53.31</td><td>62.4</td><td>106.37</td><td>48.78</td><td>60.39</td><td>70.58</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>14.09</td><td>14.09</td><td>14.12</td><td>14.23</td><td>14.23</td><td>14.23</td><td>14.23</td><td>14.23</td><td>14.23</td><td>14.23</td></tr>
<tr><td>Reserves</td><td>138.12</td><td>141.97</td><td>156.02</td><td>152.51</td><td>185.88</td><td>245.8</td><td>348.92</td><td>491.61</td><td>641.43</td><td>819.26</td></tr>
<tr><td>Borrowings</td><td>95.77</td><td>86.36</td><td>89.51</td><td>110.8</td><td>164.76</td><td>109.65</td><td>122.17</td><td>62.32</td><td>55.22</td><td>59.23</td></tr>
<tr><td>Other Liabilities</td><td>406.77</td><td>436.93</td><td>455.65</td><td>689.06</td><td>699.2</td><td>794.52</td><td>896.5</td><td>875.15</td><td>914.3</td><td>1046.65</td></tr>
<tr><td>Total</td><td>654.75</td><td>679.35</td><td>715.3</td><td>966.6</td><td>1064.07</td><td>1164.2</td><td>1381.82</td><td>1443.31</td><td>1625.18</td><td>1939.37</td></tr>
<tr><td>Net Block</td><td>93.64</td><td>84.54</td><td>102.95</td><td>98.96</td><td>144.87</td><td>160.67</td><td>194.04</td><td>189.74</td><td>192.1</td><td>215.41</td></tr>
<tr><td>Capital Work in Progress</td><td>1.17</td><td>14.39</td><td>2.08</td><td>33.55</td><td>6.58</td><td>12.28</td><td>11.51</td><td>14.6</td><td>20.04</td><td>41.95</td></tr>
<tr><td>Investments</td><td>2.54</td><td>2.43</td><td>2.46</td><td>3.22</td><td>4.08</td><td>4.51</td><td>4.57</td><td>4.51</td><td>8.66</td><td>9.84</td></tr>
<tr><td>Other Assets</td><td>557.4</td><td>577.99</td><td>607.81</td><td>830.87</td><td>908.54</td><td>986.74</td><td>1171.7</td><td>1234.46</td><td>1404.38</td><td>1672.17</td></tr>
<tr><td>Total</td><td>654.75</td><td>679.35</td><td>715.3</td><td>966.6</td><td>1064.07</td><td>1164.2</td><td>1381.82</td><td>1443.31</td><td>1625.18</td><td>1939.37</td></tr>
<tr><td>Receivables</td><td>348.38</td><td>358.24</td><td>363.02</td><td>416.17</td><td>437.1</td><td>424.17</td><td>501.87</td><td>448.96</td><td>507.7</td><td>696.79</td></tr>
<tr><td>Inventory</td><td>75.46</td><td>79.33</td><td>81.35</td><td>128.95</td><td>101.19</td><td>129.76</td><td>134.5</td><td>127.59</td><td>180.96</td><td>222.26</td></tr>
<tr><td>Cash & Bank</td><td>23.79</td><td>26.16</td><td>33.42</td><td>167.68</td><td>263.17</td><td>290.41</td><td>373.08</td><td>505.38</td><td>535.9</td><td>547.97</td></tr>
<tr><td>No. of Equity Shares</td><td>14094285</td><td>14094285</td><td>14119285</td><td>14228785</td><td>14228785</td><td>14228785</td><td>14228785</td><td>14228785</td><td>14228785</td><td>14228785</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>5.22</td><td>45.33</td><td>49.79</td><td>176.32</td><td>86.13</td><td>126.61</td><td>101.79</td><td>197.05</td><td>91.38</td><td>62.73</td></tr>
<tr><td>Cash from Investing Activity</td><td>-0.86</td><td>-17.35</td><td>-25.17</td><td>-75.37</td><td>-167.12</td><td>-69.72</td><td>-17.34</td><td>-26.58</td><td>-92.67</td><td>-41.14</td></tr>
<tr><td>Cash from Financing Activity</td><td>-6.62</td><td>-28.63</td><td>-16.66</td><td>-3.29</td><td>31.14</td><td>-78.97</td><td>-28.17</td><td>-74.7</td><td>-26.86</td><td>-15.31</td></tr>
<tr><td>Net Cash Flow</td><td>-2.26</td><td>-0.65</td><td>7.96</td><td>97.66</td><td>-49.85</td><td>-22.08</td><td>56.28</td><td>95.77</td><td>-28.15</td><td>6.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>9.53</td><td>26</td><td>30.92</td><td>38.88</td><td>49.77</td><td>39.81</td><td>60.24</td><td>130.65</td><td>166.32</td><td>341.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>14.53</td><td>14.53</td><td>14.56</td><td>14.67</td><td>14.67</td><td>14.67</td><td>14.67</td><td>14.67</td><td>14.67</td><td>14.67</td></tr>
</table>
</body>
</html>