<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\ITD Cem</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ITD CEMENTATION INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>363.45</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6241.97</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1524.35</td><td>1651.97</td><td>2891.54</td><td>2937.72</td><td>2060.51</td><td>3170.45</td><td>2860.71</td><td>2727.73</td><td>3809.02</td><td>5090.91</td></tr>
<tr><td>Raw Material Cost</td><td>513.32</td><td>643.92</td><td>809.46</td><td>659.11</td><td>622.42</td><td>1195.56</td><td>1065.61</td><td>853.27</td><td>1239.44</td><td>1770.8</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>75.41</td><td>74.28</td><td>78.02</td><td>84.61</td><td>88.81</td><td>111.37</td><td>86.03</td><td>83.97</td><td>168.98</td><td>221.44</td></tr>
<tr><td>Other Mfr. Exp</td><td>376.52</td><td>485.96</td><td>1409.5</td><td>1415.25</td><td>599.3</td><td>914.26</td><td>877.39</td><td>1014.84</td><td>1496.95</td><td>1894.56</td></tr>
<tr><td>Employee Cost</td><td>192.31</td><td>193.67</td><td>222.47</td><td>221.95</td><td>257.48</td><td>398.44</td><td>346.73</td><td>345.46</td><td>373.08</td><td>482.77</td></tr>
<tr><td>Selling and admin</td><td>238.62</td><td>189.76</td><td>320.12</td><td>251.79</td><td>189.64</td><td>181.66</td><td>146.02</td><td>178.43</td><td>198.61</td><td>257.63</td></tr>
<tr><td>Other Expenses</td><td>-34.32</td><td>-26.89</td><td>-139.6</td><td>93.39</td><td>38.64</td><td>41.79</td><td>0.8</td><td>38.88</td><td>38.9</td><td>63.82</td></tr>
<tr><td>Other Income</td><td>33.96</td><td>113.83</td><td>-101.8</td><td>22.92</td><td>6.84</td><td>13.9</td><td>-10.12</td><td>45.47</td><td>44.85</td><td>62.89</td></tr>
<tr><td>Depreciation</td><td>44.23</td><td>42.71</td><td>36.65</td><td>46.31</td><td>57.74</td><td>82.45</td><td>137.42</td><td>100.15</td><td>102.55</td><td>113.52</td></tr>
<tr><td>Interest</td><td>128.32</td><td>135.5</td><td>137.71</td><td>89.15</td><td>87.58</td><td>124.32</td><td>130.5</td><td>138.2</td><td>141.6</td><td>165.39</td></tr>
<tr><td>Profit before tax</td><td>23.9</td><td>26.89</td><td>-84.59</td><td>99.08</td><td>125.74</td><td>134.5</td><td>60.09</td><td>20</td><td>93.76</td><td>183.87</td></tr>
<tr><td>Tax</td><td>14.6</td><td>7.48</td><td>-25.28</td><td>47.87</td><td>52.81</td><td>51.34</td><td>16.33</td><td>4.05</td><td>24.42</td><td>59.14</td></tr>
<tr><td>Net profit</td><td>9.31</td><td>19.41</td><td>-59.31</td><td>50.84</td><td>72.82</td><td>81.87</td><td>43.16</td><td>15.76</td><td>68.81</td><td>124.24</td></tr>
<tr><td>Dividend Amount</td><td>1.15</td><td></td><td></td><td>4.66</td><td>6.21</td><td>6.87</td><td>5.15</td><td>2.06</td><td>7.73</td><td>12.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>811.49</td><td>998.15</td><td>1173.84</td><td>1097.84</td><td>1034.65</td><td>1327.02</td><td>1631.41</td><td>1832.57</td><td>1610.42</td><td>2017.16</td></tr>
<tr><td>Expenses</td><td>761.06</td><td>917.53</td><td>1090.06</td><td>1008.32</td><td>974.95</td><td>1222.98</td><td>1491.32</td><td>1671.02</td><td>1452.25</td><td>1812.36</td></tr>
<tr><td>Other Income</td><td>22.84</td><td>6.01</td><td>9.52</td><td>11.56</td><td>37.06</td><td>13.54</td><td>7.28</td><td>12.88</td><td>14.31</td><td>15.06</td></tr>
<tr><td>Depreciation</td><td>26.68</td><td>26.55</td><td>25.72</td><td>25.16</td><td>27.55</td><td>29.93</td><td>30.87</td><td>44.68</td><td>52.75</td><td>56.11</td></tr>
<tr><td>Interest</td><td>35.91</td><td>34.08</td><td>35.66</td><td>34.73</td><td>39.21</td><td>40.32</td><td>51.13</td><td>50.95</td><td>51.67</td><td>57.95</td></tr>
<tr><td>Profit before tax</td><td>10.68</td><td>26</td><td>31.92</td><td>41.19</td><td>30</td><td>47.33</td><td>65.37</td><td>78.8</td><td>68.06</td><td>105.8</td></tr>
<tr><td>Tax</td><td>-4.35</td><td>6.17</td><td>15.4</td><td>11</td><td>10</td><td>10.44</td><td>27.71</td><td>26.46</td><td>14.37</td><td>27.21</td></tr>
<tr><td>Net profit</td><td>14.88</td><td>19.65</td><td>16.38</td><td>30.06</td><td>19.75</td><td>36.52</td><td>37.79</td><td>52.21</td><td>53.62</td><td>78.39</td></tr>
<tr><td>Operating Profit</td><td>50.43</td><td>80.62</td><td>83.78</td><td>89.52</td><td>59.7</td><td>104.04</td><td>140.09</td><td>161.55</td><td>158.17</td><td>204.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>11.52</td><td>15.52</td><td>15.52</td><td>15.52</td><td>15.52</td><td>17.18</td><td>17.18</td><td>17.18</td><td>17.18</td><td>17.18</td></tr>
<tr><td>Reserves</td><td>396.9</td><td>552.3</td><td>492.7</td><td>536.5</td><td>601.76</td><td>1003.69</td><td>1035.42</td><td>1048.51</td><td>1113.99</td><td>1220.33</td></tr>
<tr><td>Borrowings</td><td>769.51</td><td>765.33</td><td>600.75</td><td>356.21</td><td>488.6</td><td>532.29</td><td>538.79</td><td>457.61</td><td>560.47</td><td>766.18</td></tr>
<tr><td>Other Liabilities</td><td>682.48</td><td>861.7</td><td>1335.83</td><td>972.54</td><td>1281.69</td><td>1044.14</td><td>1533.34</td><td>1669.03</td><td>1924.78</td><td>3012.84</td></tr>
<tr><td>Total</td><td>1860.41</td><td>2194.85</td><td>2444.8</td><td>1880.77</td><td>2387.57</td><td>2597.3</td><td>3124.73</td><td>3192.33</td><td>3616.42</td><td>5016.53</td></tr>
<tr><td>Net Block</td><td>223.56</td><td>335.26</td><td>348.99</td><td>385.34</td><td>461.75</td><td>529.43</td><td>623.84</td><td>601.29</td><td>654.9</td><td>847.49</td></tr>
<tr><td>Capital Work in Progress</td><td>6.73</td><td>3.28</td><td>2.67</td><td>5.6</td><td>38.49</td><td>7.35</td><td>4.86</td><td>53.37</td><td>2</td><td>117.43</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>0.58</td><td>0.57</td><td>0.57</td><td>255.41</td><td>193.66</td><td>112.86</td><td>44.9</td></tr>
<tr><td>Other Assets</td><td>1630.12</td><td>1856.31</td><td>2093.14</td><td>1489.25</td><td>1886.76</td><td>2059.95</td><td>2240.62</td><td>2344.01</td><td>2846.66</td><td>4006.71</td></tr>
<tr><td>Total</td><td>1860.41</td><td>2194.85</td><td>2444.8</td><td>1880.77</td><td>2387.57</td><td>2597.3</td><td>3124.73</td><td>3192.33</td><td>3616.42</td><td>5016.53</td></tr>
<tr><td>Receivables</td><td>401.58</td><td>412.86</td><td>309.17</td><td>214.65</td><td>239.85</td><td>436.5</td><td>585.12</td><td>530.86</td><td>621.88</td><td>1080.23</td></tr>
<tr><td>Inventory</td><td>956.83</td><td>1131.25</td><td>1175.38</td><td>110.58</td><td>157.42</td><td>246.09</td><td>289.36</td><td>337.29</td><td>400.23</td><td>577</td></tr>
<tr><td>Cash & Bank</td><td>31.92</td><td>27.18</td><td>147.6</td><td>165.28</td><td>115.78</td><td>108.71</td><td>281.44</td><td>207.01</td><td>491.49</td><td>629.58</td></tr>
<tr><td>No. of Equity Shares</td><td>11515790</td><td>15515790</td><td>155157900</td><td>155157900</td><td>155157900</td><td>171788000</td><td>171788000</td><td>171788000</td><td>171788000</td><td>171788000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>186.88</td><td>43.64</td><td>465.06</td><td>325.98</td><td>68.2</td><td>-134.12</td><td>446.88</td><td>191.27</td><td>338.7</td><td>471.06</td></tr>
<tr><td>Cash from Investing Activity</td><td>-48.81</td><td>-38.36</td><td>-104.09</td><td>-20.3</td><td>-157.08</td><td>-133.13</td><td>-87.39</td><td>-51.14</td><td>-24.74</td><td>-438.14</td></tr>
<tr><td>Cash from Financing Activity</td><td>-146.84</td><td>-4.29</td><td>-302.09</td><td>-222.3</td><td>39.58</td><td>243.53</td><td>-212.12</td><td>-249.7</td><td>-55.69</td><td>27.79</td></tr>
<tr><td>Net Cash Flow</td><td>-8.77</td><td>0.99</td><td>58.87</td><td>83.39</td><td>-49.31</td><td>-23.71</td><td>147.37</td><td>-109.57</td><td>258.27</td><td>60.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>14</td><td>49.28</td><td>109.4</td><td>149.2</td><td>217.95</td><td>131.65</td><td>29.75</td><td>77.85</td><td>63.1</td><td>104.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>11.52</td><td>15.52</td><td>15.52</td><td>15.52</td><td>15.52</td><td>17.18</td><td>17.18</td><td>17.18</td><td>17.18</td><td>17.18</td></tr>
</table>
</body>
</html>