<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Jindal Worldwide</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>JINDAL WORLDWIDE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>324.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6513.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>778.97</td><td>836.79</td><td>1008.38</td><td>1157.43</td><td>1649.77</td><td>2211.98</td><td>2198.95</td><td>1699.62</td><td>2559.16</td><td>2070.02</td></tr>
<tr><td>Raw Material Cost</td><td>581.34</td><td>496.04</td><td>589.06</td><td>723.59</td><td>1068.79</td><td>1538.2</td><td>1704.23</td><td>1269.3</td><td>1840.59</td><td>1452.08</td></tr>
<tr><td>Change in Inventory</td><td>59.15</td><td>-21.11</td><td>8.77</td><td>1.78</td><td>109.4</td><td>-13.22</td><td>-29.78</td><td>21.58</td><td>-29.1</td><td>80.07</td></tr>
<tr><td>Power and Fuel</td><td>39.64</td><td>59.14</td><td>70.79</td><td>69.58</td><td>96.35</td><td>124.49</td><td>72.72</td><td>68.5</td><td>99.68</td><td>160.99</td></tr>
<tr><td>Other Mfr. Exp</td><td>135.74</td><td>158.86</td><td>195.75</td><td>208.23</td><td>388.15</td><td>287.28</td><td>218.65</td><td>126.29</td><td>220.6</td><td>165.85</td></tr>
<tr><td>Employee Cost</td><td>4.57</td><td>6.36</td><td>8.15</td><td>9.45</td><td>11.54</td><td>29.45</td><td>12.46</td><td>49.46</td><td>58.76</td><td>62.04</td></tr>
<tr><td>Selling and admin</td><td>6.42</td><td>8.18</td><td>10.08</td><td>7.67</td><td>7.71</td><td>15.58</td><td>12.34</td><td>34.82</td><td>84.65</td><td>55.63</td></tr>
<tr><td>Other Expenses</td><td>1.39</td><td>1.98</td><td>3.17</td><td>2.89</td><td>2.3</td><td>4.47</td><td>9.74</td><td>56.49</td><td>9.47</td><td>15.18</td></tr>
<tr><td>Other Income</td><td>4.26</td><td>7.14</td><td>0.66</td><td>27.58</td><td>8.09</td><td>6.63</td><td>6.63</td><td>24.67</td><td>5.38</td><td>1.46</td></tr>
<tr><td>Depreciation</td><td>17.78</td><td>32.35</td><td>47.3</td><td>48.76</td><td>53.12</td><td>88.17</td><td>45.49</td><td>29.27</td><td>30.38</td><td>33.93</td></tr>
<tr><td>Interest</td><td>23.22</td><td>24.71</td><td>42.79</td><td>35.85</td><td>53.97</td><td>73.74</td><td>60.96</td><td>49.33</td><td>44.93</td><td>51.8</td></tr>
<tr><td>Profit before tax</td><td>32.28</td><td>35.2</td><td>50.72</td><td>80.77</td><td>85.33</td><td>44.01</td><td>39.21</td><td>62.41</td><td>146.38</td><td>154.05</td></tr>
<tr><td>Tax</td><td>6.86</td><td>8.57</td><td>10.45</td><td>14.35</td><td>26.65</td><td>13.34</td><td>10.79</td><td>18.21</td><td>36.64</td><td>38.33</td></tr>
<tr><td>Net profit</td><td>25.42</td><td>26.66</td><td>40.29</td><td>66.42</td><td>58.6</td><td>30.03</td><td>28.48</td><td>44.21</td><td>109.2</td><td>115.72</td></tr>
<tr><td>Dividend Amount</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>3.01</td><td>2</td><td>4.01</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>630.51</td><td>675.72</td><td>728.51</td><td>639.26</td><td>477.52</td><td>403.78</td><td>549.46</td><td>410.7</td><td>391.83</td><td>437.77</td></tr>
<tr><td>Expenses</td><td>581.99</td><td>616.92</td><td>662.96</td><td>565.33</td><td>416.16</td><td>360.79</td><td>492.01</td><td>368.49</td><td>356.99</td><td>387.13</td></tr>
<tr><td>Other Income</td><td>3.53</td><td>0.86</td><td>0.31</td><td>0.99</td><td>0.77</td><td>2.06</td><td>0.4</td><td>0.46</td><td>0.45</td><td>0.54</td></tr>
<tr><td>Depreciation</td><td>7.59</td><td>7.61</td><td>7.6</td><td>7.2</td><td>8.19</td><td>9.39</td><td>9.15</td><td>8.37</td><td>8.35</td><td>8.39</td></tr>
<tr><td>Interest</td><td>11.3</td><td>10.89</td><td>11.92</td><td>11.88</td><td>13.01</td><td>13.97</td><td>13.11</td><td>15</td><td>10.68</td><td>14.8</td></tr>
<tr><td>Profit before tax</td><td>33.16</td><td>41.16</td><td>46.34</td><td>55.84</td><td>40.93</td><td>21.69</td><td>35.59</td><td>19.3</td><td>16.26</td><td>27.99</td></tr>
<tr><td>Tax</td><td>8.15</td><td>10.39</td><td>11.81</td><td>14.14</td><td>8.21</td><td>6.93</td><td>9.07</td><td>5.62</td><td>3.5</td><td>6.97</td></tr>
<tr><td>Net profit</td><td>25.01</td><td>30.77</td><td>34.52</td><td>41.71</td><td>32.72</td><td>14.76</td><td>26.53</td><td>13.69</td><td>12.76</td><td>21.03</td></tr>
<tr><td>Operating Profit</td><td>48.52</td><td>58.8</td><td>65.55</td><td>73.93</td><td>61.36</td><td>42.99</td><td>57.45</td><td>42.21</td><td>34.84</td><td>50.64</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td></tr>
<tr><td>Reserves</td><td>119.25</td><td>152.65</td><td>192.38</td><td>251.39</td><td>300.36</td><td>329.61</td><td>356.18</td><td>400.39</td><td>515.63</td><td>629.93</td></tr>
<tr><td>Borrowings</td><td>310.04</td><td>355.77</td><td>342.09</td><td>372.45</td><td>564.99</td><td>645.79</td><td>528.55</td><td>443.65</td><td>598.6</td><td>837.37</td></tr>
<tr><td>Other Liabilities</td><td>157.39</td><td>138.89</td><td>165.64</td><td>167.08</td><td>366.91</td><td>409.63</td><td>207.55</td><td>148.88</td><td>109.28</td><td>189.76</td></tr>
<tr><td>Total</td><td>606.73</td><td>667.36</td><td>720.16</td><td>810.97</td><td>1252.31</td><td>1405.08</td><td>1112.33</td><td>1012.97</td><td>1243.56</td><td>1677.11</td></tr>
<tr><td>Net Block</td><td>296.51</td><td>350.21</td><td>337.79</td><td>299.47</td><td>395.04</td><td>567.56</td><td>295.65</td><td>224.49</td><td>204.72</td><td>369.63</td></tr>
<tr><td>Capital Work in Progress</td><td>3.95</td><td>12.42</td><td></td><td>24.96</td><td>27.38</td><td></td><td></td><td>6.43</td><td></td><td>8.98</td></tr>
<tr><td>Investments</td><td>6.15</td><td>5.41</td><td>4.81</td><td>4.94</td><td>3.4</td><td>3.94</td><td>19.89</td><td>10.67</td><td>18.77</td><td>23.91</td></tr>
<tr><td>Other Assets</td><td>300.12</td><td>299.32</td><td>377.56</td><td>481.6</td><td>826.49</td><td>833.58</td><td>796.79</td><td>771.38</td><td>1020.07</td><td>1274.59</td></tr>
<tr><td>Total</td><td>606.73</td><td>667.36</td><td>720.16</td><td>810.97</td><td>1252.31</td><td>1405.08</td><td>1112.33</td><td>1012.97</td><td>1243.56</td><td>1677.11</td></tr>
<tr><td>Receivables</td><td>89.03</td><td>85.74</td><td>177.6</td><td>211.89</td><td>396.76</td><td>364.83</td><td>427.98</td><td>381.45</td><td>477.93</td><td>498.78</td></tr>
<tr><td>Inventory</td><td>128.16</td><td>107.51</td><td>111.37</td><td>114.57</td><td>245.58</td><td>275.04</td><td>244.95</td><td>280.4</td><td>256.51</td><td>322.87</td></tr>
<tr><td>Cash & Bank</td><td>11.85</td><td>34.3</td><td>13.56</td><td>11.53</td><td>25.08</td><td>34.32</td><td>21.15</td><td>34.21</td><td>33.95</td><td>311.91</td></tr>
<tr><td>No. of Equity Shares</td><td>20052040</td><td>20052040</td><td>20052040</td><td>20052040</td><td>40104080</td><td>200520400</td><td>200520000</td><td>200520000</td><td>200520000</td><td>200520400</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>5</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>16.34</td><td>96.62</td><td>98.73</td><td>7.72</td><td>38.95</td><td>270.95</td><td>21.63</td><td>83.29</td><td>-103.66</td><td>306.16</td></tr>
<tr><td>Cash from Investing Activity</td><td>-156.98</td><td>-91.41</td><td>-19.81</td><td>-9.55</td><td>-166</td><td>-118.38</td><td>214.98</td><td>65.25</td><td>-1.96</td><td>-212.2</td></tr>
<tr><td>Cash from Financing Activity</td><td>125.26</td><td>17.24</td><td>-99.66</td><td>-0.2</td><td>140.46</td><td>-143.33</td><td>-249.77</td><td>-135.48</td><td>105.37</td><td>184</td></tr>
<tr><td>Net Cash Flow</td><td>-15.38</td><td>22.45</td><td>-20.74</td><td>-2.03</td><td>13.41</td><td>9.24</td><td>-13.17</td><td>13.06</td><td>-0.25</td><td>277.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>9.85</td><td>9</td><td>13.96</td><td>25.95</td><td>125.32</td><td>71</td><td>31</td><td>48.05</td><td>280.6</td><td>320.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>20.06</td><td>20.06</td><td>20.06</td><td>20.06</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td><td>20.05</td></tr>
</table>
</body>
</html>