<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\JK Tyre & Indust</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>JK TYRE & INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>392.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>10252.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>7583.14</td><td>7314.62</td><td>6898.23</td><td>7689.37</td><td>8272.1</td><td>10367.76</td><td>8722.7</td><td>9102.2</td><td>11982.96</td><td>14644.94</td></tr>
<tr><td>Raw Material Cost</td><td>4930.33</td><td>4488.35</td><td>3863.3</td><td>4535.3</td><td>5337.59</td><td>6979.5</td><td>5351.47</td><td>5364.85</td><td>8390.24</td><td>10071.76</td></tr>
<tr><td>Change in Inventory</td><td>38.45</td><td>-83.23</td><td>-6.13</td><td>192.24</td><td>87.86</td><td>294.9</td><td>14.46</td><td>-103.85</td><td>350.95</td><td>60.82</td></tr>
<tr><td>Power and Fuel</td><td>292.74</td><td>277.51</td><td>263.86</td><td>326.96</td><td>361.78</td><td>418.57</td><td>379.32</td><td>355.48</td><td>493.97</td><td>575.52</td></tr>
<tr><td>Other Mfr. Exp</td><td>200.68</td><td>198.95</td><td>82.8</td><td>104.13</td><td>114.55</td><td>141.74</td><td>252.6</td><td>234.08</td><td>280.6</td><td>336.82</td></tr>
<tr><td>Employee Cost</td><td>754.97</td><td>728.85</td><td>782.98</td><td>893.29</td><td>829.48</td><td>915.35</td><td>931.58</td><td>922.74</td><td>1075.7</td><td>1220.36</td></tr>
<tr><td>Selling and admin</td><td>472.88</td><td>506.51</td><td>385.19</td><td>456.29</td><td>548.45</td><td>595.16</td><td>580.63</td><td>567.16</td><td>743.85</td><td>826.55</td></tr>
<tr><td>Other Expenses</td><td>98.68</td><td>100.46</td><td>397.36</td><td>433.23</td><td>431.04</td><td>500.43</td><td>255.96</td><td>247.7</td><td>276.19</td><td>376.94</td></tr>
<tr><td>Other Income</td><td>-41.2</td><td>-30.03</td><td>11.46</td><td>134.51</td><td>134.7</td><td>-4.7</td><td>-75.55</td><td>80.55</td><td>40.1</td><td>-25</td></tr>
<tr><td>Depreciation</td><td>179.47</td><td>157.77</td><td>216.13</td><td>291.32</td><td>299.46</td><td>315.67</td><td>377.83</td><td>386.69</td><td>385.36</td><td>407.06</td></tr>
<tr><td>Interest</td><td>276.2</td><td>257.41</td><td>252.43</td><td>440.36</td><td>465.5</td><td>521.08</td><td>548.99</td><td>465.85</td><td>419.09</td><td>454.5</td></tr>
<tr><td>Profit before tax</td><td>374.44</td><td>485.55</td><td>659.51</td><td>535.24</td><td>106.81</td><td>270.46</td><td>-16.77</td><td>534.35</td><td>309.01</td><td>411.25</td></tr>
<tr><td>Tax</td><td>118.82</td><td>161.66</td><td>202.72</td><td>155.42</td><td>43.89</td><td>94.17</td><td>-165.78</td><td>200.91</td><td>108.71</td><td>146.51</td></tr>
<tr><td>Net profit</td><td>263.02</td><td>329.66</td><td>467.31</td><td>375.4</td><td>66.04</td><td>176.34</td><td>150.76</td><td>319.34</td><td>210.02</td><td>262.48</td></tr>
<tr><td>Dividend Amount</td><td>20.53</td><td>34.02</td><td>56.7</td><td>56.7</td><td>34.02</td><td>36.94</td><td>17.24</td><td>49.25</td><td>36.94</td><td>49.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2986.66</td><td>3076.03</td><td>3311.83</td><td>3643.03</td><td>3756.52</td><td>3612.92</td><td>3632.47</td><td>3718.08</td><td>3897.53</td><td>3687.72</td></tr>
<tr><td>Expenses</td><td>2694.25</td><td>2802.55</td><td>3083.92</td><td>3358.15</td><td>3459.13</td><td>3273.58</td><td>3256.27</td><td>3260.96</td><td>3308.39</td><td>3137.54</td></tr>
<tr><td>Other Income</td><td>12.9</td><td>14.58</td><td>13.31</td><td>-27.95</td><td>-15.28</td><td>-4.43</td><td>22.66</td><td>12.68</td><td>4.94</td><td>8.21</td></tr>
<tr><td>Depreciation</td><td>97.14</td><td>95.88</td><td>96.12</td><td>100.68</td><td>99.16</td><td>101.6</td><td>105.62</td><td>105.81</td><td>108.04</td><td>110.9</td></tr>
<tr><td>Interest</td><td>106.39</td><td>104.02</td><td>100.74</td><td>99.14</td><td>109.39</td><td>120.58</td><td>125.39</td><td>122.24</td><td>109.22</td><td>106.86</td></tr>
<tr><td>Profit before tax</td><td>101.78</td><td>88.16</td><td>44.36</td><td>57.11</td><td>73.56</td><td>112.73</td><td>167.85</td><td>241.75</td><td>376.82</td><td>340.63</td></tr>
<tr><td>Tax</td><td>37.59</td><td>34.43</td><td>5.93</td><td>23.24</td><td>24.72</td><td>43.22</td><td>55.33</td><td>82.41</td><td>126.57</td><td>113.64</td></tr>
<tr><td>Net profit</td><td>66.56</td><td>56.94</td><td>40.2</td><td>37.2</td><td>51.31</td><td>65.59</td><td>108.38</td><td>153.87</td><td>242.11</td><td>220.92</td></tr>
<tr><td>Operating Profit</td><td>292.41</td><td>273.48</td><td>227.91</td><td>284.88</td><td>297.39</td><td>339.34</td><td>376.2</td><td>457.12</td><td>589.14</td><td>550.18</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>41.06</td><td>45.36</td><td>45.36</td><td>45.36</td><td>45.36</td><td>49.25</td><td>49.25</td><td>49.25</td><td>49.25</td><td>49.25</td></tr>
<tr><td>Reserves</td><td>1043.69</td><td>1355.65</td><td>1706.07</td><td>1919.42</td><td>1915.74</td><td>2235.15</td><td>2282.1</td><td>2623.49</td><td>2799.06</td><td>3346.91</td></tr>
<tr><td>Borrowings</td><td>2704.69</td><td>2974.78</td><td>2899.81</td><td>5654.65</td><td>5811.28</td><td>5757.51</td><td>5548.71</td><td>4800.7</td><td>5220.38</td><td>4882.35</td></tr>
<tr><td>Other Liabilities</td><td>2253.17</td><td>2528.03</td><td>2400.81</td><td>2775.57</td><td>2762.46</td><td>3226.91</td><td>3333.18</td><td>3467</td><td>4092.04</td><td>4060.53</td></tr>
<tr><td>Total</td><td>6042.61</td><td>6903.82</td><td>7052.05</td><td>10395</td><td>10534.84</td><td>11268.82</td><td>11213.24</td><td>10940.44</td><td>12160.73</td><td>12339.04</td></tr>
<tr><td>Net Block</td><td>2690.33</td><td>2701.3</td><td>3746.81</td><td>5794.44</td><td>6142.43</td><td>6227.61</td><td>6381.67</td><td>6242.38</td><td>6429</td><td>6467.11</td></tr>
<tr><td>Capital Work in Progress</td><td>177.1</td><td>830.32</td><td>105.72</td><td>325.52</td><td>308.51</td><td>269.76</td><td>284.3</td><td>299.12</td><td>106.23</td><td>194.97</td></tr>
<tr><td>Investments</td><td>115.44</td><td>140.26</td><td>160.31</td><td>73.15</td><td>128.22</td><td>131.17</td><td>140.23</td><td>147.02</td><td>132.75</td><td>143.96</td></tr>
<tr><td>Other Assets</td><td>3059.74</td><td>3231.94</td><td>3039.21</td><td>4201.89</td><td>3955.68</td><td>4640.28</td><td>4407.04</td><td>4251.92</td><td>5492.75</td><td>5533</td></tr>
<tr><td>Total</td><td>6042.61</td><td>6903.82</td><td>7052.05</td><td>10395</td><td>10534.84</td><td>11268.82</td><td>11213.24</td><td>10940.44</td><td>12160.73</td><td>12339.04</td></tr>
<tr><td>Receivables</td><td>1335.08</td><td>1434.58</td><td>1402.71</td><td>1794.64</td><td>1545.32</td><td>1945.1</td><td>1848.42</td><td>1575.42</td><td>1979.86</td><td>2283.22</td></tr>
<tr><td>Inventory</td><td>936.79</td><td>875.03</td><td>872.52</td><td>1320.42</td><td>1448.47</td><td>1689.09</td><td>1617.84</td><td>1789.29</td><td>2432.62</td><td>2170.53</td></tr>
<tr><td>Cash & Bank</td><td>236.25</td><td>190.58</td><td>139.43</td><td>295.3</td><td>130.72</td><td>169.67</td><td>136.52</td><td>173.79</td><td>175.65</td><td>265.8</td></tr>
<tr><td>No. of Equity Shares</td><td>41060000</td><td>226813480</td><td>226813480</td><td>226813480</td><td>226813480</td><td>246230880</td><td>246230880</td><td>246230880</td><td>246230880</td><td>246230880</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>654.81</td><td>734.15</td><td>903</td><td>105.69</td><td>637.44</td><td>796.81</td><td>1237.35</td><td>1598.44</td><td>346.05</td><td>1224.19</td></tr>
<tr><td>Cash from Investing Activity</td><td>-223.54</td><td>-805.7</td><td>-511.28</td><td>-807.38</td><td>-393.96</td><td>-261.21</td><td>-318.72</td><td>-134.41</td><td>-244.47</td><td>-397.76</td></tr>
<tr><td>Cash from Financing Activity</td><td>-335.19</td><td>-1.22</td><td>-422.38</td><td>829.95</td><td>-408.59</td><td>-521.59</td><td>-962.57</td><td>-1440.76</td><td>-96.19</td><td>-747.33</td></tr>
<tr><td>Net Cash Flow</td><td>96.08</td><td>-72.77</td><td>-30.66</td><td>128.26</td><td>-165.11</td><td>14.01</td><td>-43.94</td><td>23.27</td><td>5.39</td><td>79.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>35.47</td><td>105.1</td><td>84.2</td><td>131.95</td><td>162.95</td><td>91.85</td><td>40.6</td><td>109</td><td>117.35</td><td>155</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>20.53</td><td>22.68</td><td>22.68</td><td>22.68</td><td>22.68</td><td>24.62</td><td>24.62</td><td>24.62</td><td>24.62</td><td>24.62</td></tr>
</table>
</body>
</html>