<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\JSW Energy</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>JSW ENERGY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>530.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>92814.42</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9347.09</td><td>9824.49</td><td>8263.43</td><td>8048.96</td><td>9137.59</td><td>8272.71</td><td>6922.2</td><td>8167.15</td><td>10331.81</td><td>11485.91</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>124.79</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>-0.63</td></tr>
<tr><td>Power and Fuel</td><td>4968.75</td><td>4993.91</td><td>4122.73</td><td>4472.39</td><td>5496.18</td><td>4550.13</td><td>3349.96</td><td>3571.5</td><td>5644.05</td><td>4581.6</td></tr>
<tr><td>Other Mfr. Exp</td><td>451.33</td><td>384.32</td><td>334.03</td><td>257.06</td><td>229.12</td><td>232.69</td><td>196.9</td><td>399.61</td><td>737.09</td><td></td></tr>
<tr><td>Employee Cost</td><td>146.92</td><td>183.81</td><td>211.77</td><td>215.09</td><td>243.58</td><td>242.96</td><td>236.63</td><td>264.15</td><td>307.6</td><td>364.47</td></tr>
<tr><td>Selling and admin</td><td>128.35</td><td>131.71</td><td>95.17</td><td>109.89</td><td>114.16</td><td>151.77</td><td>133.39</td><td>165.01</td><td>235.15</td><td></td></tr>
<tr><td>Other Expenses</td><td>28.1</td><td>101.97</td><td>175.25</td><td>281.13</td><td>199.56</td><td>-431.91</td><td>92.46</td><td>195.25</td><td>125.93</td><td>1032.64</td></tr>
<tr><td>Other Income</td><td>195.65</td><td>340.12</td><td>220.94</td><td>46.73</td><td>398.03</td><td>376.48</td><td>248.32</td><td>574.6</td><td>674.38</td><td>471.94</td></tr>
<tr><td>Depreciation</td><td>789.76</td><td>854.25</td><td>969.15</td><td>966.08</td><td>1163.69</td><td>1738.26</td><td>1166.94</td><td>1131.05</td><td>1169.23</td><td>1633.41</td></tr>
<tr><td>Interest</td><td>1137.46</td><td>1498.11</td><td>1684.75</td><td>1455.91</td><td>1192.4</td><td>1051.07</td><td>895.65</td><td>776.91</td><td>844.3</td><td>2053.4</td></tr>
<tr><td>Profit before tax</td><td>1892.07</td><td>2016.53</td><td>891.52</td><td>338.14</td><td>896.93</td><td>1114.22</td><td>1098.59</td><td>2238.27</td><td>1942.84</td><td>2166.91</td></tr>
<tr><td>Tax</td><td>514.99</td><td>556.26</td><td>269.01</td><td>253.23</td><td>212.44</td><td>33.04</td><td>275.91</td><td>494.79</td><td>462.72</td><td>442.26</td></tr>
<tr><td>Net profit</td><td>1349.51</td><td>1447.36</td><td>629.03</td><td>77.97</td><td>695.13</td><td>1099.92</td><td>795.48</td><td>1728.62</td><td>1477.76</td><td>1722.71</td></tr>
<tr><td>Dividend Amount</td><td>328.01</td><td>325.36</td><td>81.4</td><td></td><td>164.09</td><td>164.19</td><td>328.47</td><td>327.93</td><td>328.11</td><td>328.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1905.16</td><td>2440.68</td><td>3026.27</td><td>2387.48</td><td>2248.09</td><td>2669.97</td><td>2927.85</td><td>3259.42</td><td>2542.77</td><td>2755.87</td></tr>
<tr><td>Expenses</td><td>1102.32</td><td>1308.95</td><td>2004.26</td><td>1497.9</td><td>1623.16</td><td>1930.68</td><td>1705.77</td><td>1379.04</td><td>1431.98</td><td>1587.34</td></tr>
<tr><td>Other Income</td><td>81.29</td><td>214.88</td><td>212.4</td><td>213.73</td><td>118.68</td><td>135.75</td><td>87.49</td><td>133.86</td><td>120.26</td><td>130.33</td></tr>
<tr><td>Depreciation</td><td>281.21</td><td>277.15</td><td>288.53</td><td>294.18</td><td>295.18</td><td>291.34</td><td>397.94</td><td>408.68</td><td>400.06</td><td>426.73</td></tr>
<tr><td>Interest</td><td>195.43</td><td>100.48</td><td>193.1</td><td>204.45</td><td>213.7</td><td>233.05</td><td>485.67</td><td>513.7</td><td>520.82</td><td>533.21</td></tr>
<tr><td>Profit before tax</td><td>407.49</td><td>968.98</td><td>752.78</td><td>604.68</td><td>234.73</td><td>350.65</td><td>425.96</td><td>1091.86</td><td>310.17</td><td>338.92</td></tr>
<tr><td>Tax</td><td>86.67</td><td>91.54</td><td>198</td><td>148.11</td><td>47.99</td><td>68.62</td><td>135.61</td><td>235.07</td><td>77.93</td><td>-6.35</td></tr>
<tr><td>Net profit</td><td>323.93</td><td>864.35</td><td>560.43</td><td>465.67</td><td>179.61</td><td>272.05</td><td>289.88</td><td>850.16</td><td>231.33</td><td>351.34</td></tr>
<tr><td>Operating Profit</td><td>802.84</td><td>1131.73</td><td>1022.01</td><td>889.58</td><td>624.93</td><td>739.29</td><td>1222.08</td><td>1880.38</td><td>1110.79</td><td>1168.53</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>1640.05</td><td>1626.79</td><td>1627.95</td><td>1640.05</td><td>1640.87</td><td>1641.9</td><td>1642.33</td><td>1639.67</td><td>1640.54</td><td>1641.22</td></tr>
<tr><td>Reserves</td><td>5877.97</td><td>8077.34</td><td>8740.51</td><td>9469.65</td><td>10181.37</td><td>10003.72</td><td>12864.67</td><td>15775.23</td><td>16988.27</td><td>19190.52</td></tr>
<tr><td>Borrowings</td><td>9294.1</td><td>14862.24</td><td>14349.27</td><td>11883.26</td><td>10554.88</td><td>9840.48</td><td>8371.24</td><td>8942.57</td><td>25051.07</td><td>31572.97</td></tr>
<tr><td>Other Liabilities</td><td>2607.88</td><td>3972.51</td><td>3671.61</td><td>3727.97</td><td>3548.96</td><td>3445.21</td><td>3328.33</td><td>4156.79</td><td>4737.38</td><td>5864.39</td></tr>
<tr><td>Total</td><td>19420</td><td>28538.88</td><td>28389.34</td><td>26720.93</td><td>25926.08</td><td>24931.31</td><td>26206.57</td><td>30514.26</td><td>48417.26</td><td>58269.1</td></tr>
<tr><td>Net Block</td><td>13190.68</td><td>20297.83</td><td>19490.59</td><td>18877.39</td><td>17824.54</td><td>16712.75</td><td>15636.76</td><td>14830.64</td><td>25029.18</td><td>28948.99</td></tr>
<tr><td>Capital Work in Progress</td><td>453.58</td><td>320.61</td><td>530.74</td><td>293.53</td><td>399.97</td><td>391.32</td><td>472.77</td><td>2090.6</td><td>4779.5</td><td>10282.3</td></tr>
<tr><td>Investments</td><td>1618.84</td><td>1012.27</td><td>1578.82</td><td>2415</td><td>2450.53</td><td>1853.55</td><td>4052.15</td><td>6623.17</td><td>6032.77</td><td>7034.86</td></tr>
<tr><td>Other Assets</td><td>4156.9</td><td>6908.17</td><td>6789.19</td><td>5135.01</td><td>5251.04</td><td>5973.69</td><td>6044.89</td><td>6969.85</td><td>12575.81</td><td>12002.95</td></tr>
<tr><td>Total</td><td>19420</td><td>28538.88</td><td>28389.34</td><td>26720.93</td><td>25926.08</td><td>24931.31</td><td>26206.57</td><td>30514.26</td><td>48417.26</td><td>58269.1</td></tr>
<tr><td>Receivables</td><td>1172.29</td><td>2906.34</td><td>2182.75</td><td>1151.22</td><td>1427.75</td><td>1565.2</td><td>964.46</td><td>670.22</td><td>1531.92</td><td>844.2</td></tr>
<tr><td>Inventory</td><td>548.26</td><td>635.83</td><td>592.9</td><td>535.54</td><td>454.73</td><td>639.58</td><td>395.08</td><td>901.02</td><td>987.08</td><td>830.67</td></tr>
<tr><td>Cash & Bank</td><td>351.45</td><td>357.43</td><td>784.3</td><td>311.03</td><td>203.57</td><td>200.73</td><td>479.18</td><td>1134.11</td><td>4013.88</td><td>4206.6</td></tr>
<tr><td>No. of Equity Shares</td><td>1640054795</td><td>1640054795</td><td>1627953191</td><td>1640054795</td><td>1640867512</td><td>1641902316</td><td>1642329255</td><td>1639670910</td><td>1640536238</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>3394.29</td><td>3537.62</td><td>3852.64</td><td>3933.81</td><td>2491.34</td><td>2085.54</td><td>3699.86</td><td>2952.03</td><td>2084.27</td><td>6233.63</td></tr>
<tr><td>Cash from Investing Activity</td><td>-422.2</td><td>-3271.9</td><td>-762.05</td><td>-214.73</td><td>-54.83</td><td>300.38</td><td>-1029.8</td><td>-1386.67</td><td>-6778.13</td><td>-8317.73</td></tr>
<tr><td>Cash from Financing Activity</td><td>-2327.22</td><td>-1622.42</td><td>-2594.92</td><td>-3967.59</td><td>-2523.18</td><td>-1964.59</td><td>-2514.75</td><td>-781.31</td><td>7327.48</td><td>1674.83</td></tr>
<tr><td>Net Cash Flow</td><td>644.87</td><td>-1356.7</td><td>495.67</td><td>-248.51</td><td>-86.67</td><td>421.33</td><td>155.31</td><td>784.05</td><td>2633.62</td><td>-409.27</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>119.2</td><td>69.55</td><td>62.7</td><td>72.8</td><td>72.6</td><td>42.7</td><td>87.85</td><td>302.2</td><td>240.85</td><td>528.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>164.01</td><td>164.01</td><td>164.01</td><td>164.01</td><td>164.1</td><td>164.24</td><td>164.28</td><td>164.4</td><td>164.47</td><td>164.47</td></tr>
</table>
</body>
</html>