<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\JTEKT India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>JTEKT INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>163.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4172.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1042.99</td><td>1078.64</td><td>1077.39</td><td>1164.6</td><td>1525.34</td><td>1773.09</td><td>1530.9</td><td>1350.2</td><td>1610.5</td><td>2073.24</td></tr>
<tr><td>Raw Material Cost</td><td>733.67</td><td>719.2</td><td>717.63</td><td>776.23</td><td>1015.61</td><td>1212.9</td><td>1071.87</td><td>973.78</td><td>1174.03</td><td>1525.23</td></tr>
<tr><td>Change in Inventory</td><td>12.43</td><td>0.17</td><td>3.8</td><td>3.78</td><td>-2.17</td><td>-1.49</td><td>-2.94</td><td>7.47</td><td>7.64</td><td>3.86</td></tr>
<tr><td>Power and Fuel</td><td>21.23</td><td>21.54</td><td>21.24</td><td>21.29</td><td>24.19</td><td>25.27</td><td>19.76</td><td>17.15</td><td>19.52</td><td>23.05</td></tr>
<tr><td>Other Mfr. Exp</td><td>35.19</td><td>37.79</td><td>39.31</td><td>49.06</td><td>56.15</td><td>66.45</td><td>55.17</td><td>47.79</td><td>64.32</td><td>76.43</td></tr>
<tr><td>Employee Cost</td><td>110.83</td><td>120.71</td><td>131.65</td><td>136.07</td><td>168.07</td><td>185.16</td><td>202.38</td><td>181.05</td><td>190.25</td><td>202.48</td></tr>
<tr><td>Selling and admin</td><td>49.66</td><td>51.78</td><td>51.28</td><td>43.71</td><td>53.85</td><td>75.33</td><td>53.98</td><td>42.22</td><td>56.37</td><td>76.61</td></tr>
<tr><td>Other Expenses</td><td>5.61</td><td>5.27</td><td>3.68</td><td>11.6</td><td>10.22</td><td>5.64</td><td>6.66</td><td>3.19</td><td>2.43</td><td>7.41</td></tr>
<tr><td>Other Income</td><td>40.06</td><td>4.18</td><td>15.98</td><td>4.2</td><td>6.83</td><td>12.57</td><td>10.9</td><td>7.78</td><td>3.57</td><td>9.29</td></tr>
<tr><td>Depreciation</td><td>49.1</td><td>78</td><td>71.9</td><td>74.77</td><td>91.95</td><td>90.6</td><td>86.51</td><td>77.93</td><td>65.91</td><td>67.62</td></tr>
<tr><td>Interest</td><td>31.89</td><td>24.93</td><td>28.23</td><td>24.26</td><td>21.33</td><td>15.52</td><td>9.89</td><td>4.66</td><td>3.67</td><td>4.72</td></tr>
<tr><td>Profit before tax</td><td>58.3</td><td>23.77</td><td>32.25</td><td>35.59</td><td>88.63</td><td>107.3</td><td>32.64</td><td>17.68</td><td>45.21</td><td>102.84</td></tr>
<tr><td>Tax</td><td>6.64</td><td>5.79</td><td>7.25</td><td>10.5</td><td>31.14</td><td>38.74</td><td>5.13</td><td>5.37</td><td>12.07</td><td>23.05</td></tr>
<tr><td>Net profit</td><td>51.66</td><td>17.98</td><td>25</td><td>25.09</td><td>57.5</td><td>68.56</td><td>27.51</td><td>12.32</td><td>33.14</td><td>79.79</td></tr>
<tr><td>Dividend Amount</td><td>15.9</td><td>12.92</td><td>9.94</td><td>9.94</td><td>9.94</td><td>19.56</td><td>8.56</td><td>3.67</td><td>9.78</td><td>12.22</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>390.73</td><td>418.2</td><td>476.79</td><td>479</td><td>579.68</td><td>471.03</td><td>537.17</td><td>485.36</td><td>583.88</td><td>552</td></tr>
<tr><td>Expenses</td><td>364.74</td><td>385.99</td><td>439.6</td><td>443.99</td><td>529.34</td><td>432.71</td><td>491.01</td><td>456.73</td><td>523.71</td><td>501.01</td></tr>
<tr><td>Other Income</td><td>3.88</td><td>2.3</td><td>-3.07</td><td>-0.69</td><td>6.55</td><td>1.79</td><td>1.67</td><td>10.76</td><td>2.19</td><td>1.46</td></tr>
<tr><td>Depreciation</td><td>17.07</td><td>16.01</td><td>15.44</td><td>15.78</td><td>16.4</td><td>19.09</td><td>17.75</td><td>17.54</td><td>19.58</td><td>19.89</td></tr>
<tr><td>Interest</td><td>0.88</td><td>0.82</td><td>1.17</td><td>1.21</td><td>1.24</td><td>1.06</td><td>1.21</td><td>1.29</td><td>1.21</td><td>1.47</td></tr>
<tr><td>Profit before tax</td><td>11.92</td><td>17.68</td><td>17.51</td><td>17.33</td><td>39.25</td><td>19.96</td><td>28.87</td><td>20.56</td><td>41.57</td><td>31.09</td></tr>
<tr><td>Tax</td><td>3.03</td><td>4.62</td><td>4.77</td><td>4.56</td><td>9.52</td><td>4.67</td><td>4.97</td><td>5.16</td><td>11.41</td><td>7.35</td></tr>
<tr><td>Net profit</td><td>8.88</td><td>13.06</td><td>12.74</td><td>12.77</td><td>29.73</td><td>15.29</td><td>23.89</td><td>15.39</td><td>30.16</td><td>23.75</td></tr>
<tr><td>Operating Profit</td><td>25.99</td><td>32.21</td><td>37.19</td><td>35.01</td><td>50.34</td><td>38.32</td><td>46.16</td><td>28.63</td><td>60.17</td><td>50.99</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>19.87</td><td>19.87</td><td>19.87</td><td>19.87</td><td>19.87</td><td>24.45</td><td>24.45</td><td>24.45</td><td>24.45</td><td>24.45</td></tr>
<tr><td>Reserves</td><td>246.56</td><td>242.28</td><td>255.32</td><td>278.72</td><td>508.76</td><td>548.79</td><td>549.35</td><td>552.79</td><td>582.24</td><td>651.62</td></tr>
<tr><td>Borrowings</td><td>275.72</td><td>256.65</td><td>279.38</td><td>245.49</td><td>232.19</td><td>188.38</td><td>78.13</td><td>48.51</td><td>70.99</td><td>61.76</td></tr>
<tr><td>Other Liabilities</td><td>237.83</td><td>217.83</td><td>218.77</td><td>220.66</td><td>251.9</td><td>272.38</td><td>185.03</td><td>260.93</td><td>269.18</td><td>284.38</td></tr>
<tr><td>Total</td><td>779.98</td><td>736.63</td><td>773.34</td><td>764.74</td><td>1012.72</td><td>1034</td><td>836.96</td><td>886.68</td><td>946.86</td><td>1022.21</td></tr>
<tr><td>Net Block</td><td>421.47</td><td>405.68</td><td>437.81</td><td>443.46</td><td>515.75</td><td>494.7</td><td>449.74</td><td>390.65</td><td>367.1</td><td>447.16</td></tr>
<tr><td>Capital Work in Progress</td><td>67.43</td><td>62.15</td><td>38.12</td><td>21.29</td><td>23.21</td><td>9.32</td><td>1.51</td><td>5.92</td><td>93.35</td><td>23.8</td></tr>
<tr><td>Investments</td><td>34.63</td><td>35.48</td><td>35.28</td><td>33.73</td><td>5.1</td><td>5.1</td><td>5.1</td><td>5.1</td><td>5.1</td><td>5.1</td></tr>
<tr><td>Other Assets</td><td>256.45</td><td>233.32</td><td>262.13</td><td>266.26</td><td>468.66</td><td>524.88</td><td>380.61</td><td>485.01</td><td>481.31</td><td>546.15</td></tr>
<tr><td>Total</td><td>779.98</td><td>736.63</td><td>773.34</td><td>764.74</td><td>1012.72</td><td>1034</td><td>836.96</td><td>886.68</td><td>946.86</td><td>1022.21</td></tr>
<tr><td>Receivables</td><td>139.09</td><td>116.65</td><td>138.36</td><td>149.53</td><td>261.59</td><td>270.93</td><td>196.39</td><td>259.19</td><td>245.15</td><td>283.67</td></tr>
<tr><td>Inventory</td><td>71.08</td><td>71.62</td><td>71.48</td><td>78.09</td><td>96.31</td><td>104.91</td><td>108.24</td><td>125.07</td><td>138.5</td><td>182.68</td></tr>
<tr><td>Cash & Bank</td><td>2.06</td><td>2.35</td><td>4.54</td><td>2.58</td><td>80.59</td><td>113.78</td><td>46.86</td><td>64.87</td><td>61.52</td><td>36.72</td></tr>
<tr><td>No. of Equity Shares</td><td>198741832</td><td>198741832</td><td>198741832</td><td>198741832</td><td>198741832</td><td>244480469</td><td>244480469</td><td>244480469</td><td>244480469</td><td>244480469</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>96.26</td><td>129.46</td><td>89.2</td><td>149.9</td><td>164.24</td><td>169.76</td><td>107.54</td><td>83.28</td><td>95.77</td><td>82.68</td></tr>
<tr><td>Cash from Investing Activity</td><td>-14.85</td><td>-63.47</td><td>-64.75</td><td>-61.08</td><td>-113.07</td><td>21.88</td><td>-25</td><td>-22.03</td><td>-114.18</td><td>-83.73</td></tr>
<tr><td>Cash from Financing Activity</td><td>-81.16</td><td>-66.04</td><td>-22.52</td><td>-90.79</td><td>-49.96</td><td>-83.22</td><td>-149.18</td><td>-41.95</td><td>15.06</td><td>-23.74</td></tr>
<tr><td>Net Cash Flow</td><td>0.25</td><td>-0.06</td><td>1.93</td><td>-1.96</td><td>1.22</td><td>108.42</td><td>-66.64</td><td>19.3</td><td>-3.35</td><td>-24.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>21.15</td><td>50.25</td><td>46.1</td><td>81.65</td><td>99</td><td>109.7</td><td>39.45</td><td>84.15</td><td>73.8</td><td>103.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>19.87</td><td>19.87</td><td>19.87</td><td>19.87</td><td>19.87</td><td>24.45</td><td>24.45</td><td>24.45</td><td>24.45</td><td>24.45</td></tr>
</table>
</body>
</html>