<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Jubilant Food</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>JUBILANT FOODWORKS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>455.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>30097.19</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1736.31</td><td>2092.76</td><td>2437.98</td><td>2583.39</td><td>3018.4</td><td>3563.14</td><td>3927.27</td><td>3311.87</td><td>4396.12</td><td>5158.25</td></tr>
<tr><td>Raw Material Cost</td><td>454.13</td><td>528.71</td><td>580.25</td><td>631.3</td><td>767.43</td><td>885.31</td><td>984.5</td><td>727.58</td><td>993.65</td><td>1253.47</td></tr>
<tr><td>Change in Inventory</td><td>0.72</td><td>0.82</td><td>0.19</td><td>0.53</td><td>1.47</td><td>-0.8</td><td>1.03</td><td>1.34</td><td>3.75</td><td>5.66</td></tr>
<tr><td>Power and Fuel</td><td>104.51</td><td>123.64</td><td>139.95</td><td>145.86</td><td>160.31</td><td>168.99</td><td>172.62</td><td>147.6</td><td>200.66</td><td>267.25</td></tr>
<tr><td>Other Mfr. Exp</td><td>113.3</td><td>136.12</td><td>156.5</td><td>174.48</td><td>188.89</td><td>233.07</td><td>246.25</td><td>261.9</td><td>304.49</td><td>365.27</td></tr>
<tr><td>Employee Cost</td><td>341.15</td><td>444.47</td><td>576.77</td><td>595.63</td><td>615.21</td><td>683.54</td><td>797.84</td><td>748.46</td><td>770.3</td><td>908.19</td></tr>
<tr><td>Selling and admin</td><td>404.16</td><td>521.63</td><td>620.24</td><td>726.91</td><td>769.62</td><td>893.84</td><td>745.31</td><td>570.78</td><td>914.89</td><td>1082.63</td></tr>
<tr><td>Other Expenses</td><td>69.83</td><td>82.53</td><td>99.04</td><td>65.17</td><td>76.41</td><td>94.97</td><td>99.06</td><td>76.85</td><td>109.52</td><td>151.15</td></tr>
<tr><td>Other Income</td><td>9.03</td><td>6.12</td><td>9.84</td><td>-0.87</td><td>21.17</td><td>44.5</td><td>37.58</td><td>64.23</td><td>26.04</td><td>39.9</td></tr>
<tr><td>Depreciation</td><td>78.72</td><td>101.12</td><td>128.24</td><td>155.43</td><td>160.11</td><td>157.45</td><td>352.28</td><td>375.4</td><td>393.05</td><td>485.89</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td>165.24</td><td>162.7</td><td>176.09</td><td>201.23</td></tr>
<tr><td>Profit before tax</td><td>180.26</td><td>161.48</td><td>147.02</td><td>88.27</td><td>303.06</td><td>489.67</td><td>402.78</td><td>306.17</td><td>563.26</td><td>488.73</td></tr>
<tr><td>Tax</td><td>62.01</td><td>50.4</td><td>50.13</td><td>30.5</td><td>106.83</td><td>171.7</td><td>123.99</td><td>75.65</td><td>145.18</td><td>135.7</td></tr>
<tr><td>Net profit</td><td>118.24</td><td>111.08</td><td>96.89</td><td>57.77</td><td>196.23</td><td>319.79</td><td>279.98</td><td>231.67</td><td>420.39</td><td>353.2</td></tr>
<tr><td>Dividend Amount</td><td></td><td>16.39</td><td>16.45</td><td>16.49</td><td>32.99</td><td>65.98</td><td>79.18</td><td>79.18</td><td>79.18</td><td>79.18</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1116.19</td><td>1210.77</td><td>1175.97</td><td>1255.1</td><td>1301.49</td><td>1331.82</td><td>1269.85</td><td>1334.54</td><td>1368.63</td><td>1378.12</td></tr>
<tr><td>Expenses</td><td>828.82</td><td>894.14</td><td>902.45</td><td>962.43</td><td>989.63</td><td>1045.5</td><td>1051.78</td><td>1099.53</td><td>1091.45</td><td>1098.01</td></tr>
<tr><td>Other Income</td><td>8.2</td><td>11</td><td>12.25</td><td>10.66</td><td>26.93</td><td>9.57</td><td>19.75</td><td>9.34</td><td>42.07</td><td>19.67</td></tr>
<tr><td>Depreciation</td><td>92.66</td><td>103.1</td><td>106.03</td><td>107.11</td><td>114.64</td><td>132.59</td><td>131.55</td><td>135.72</td><td>141.88</td><td>151.51</td></tr>
<tr><td>Interest</td><td>42.22</td><td>45.45</td><td>46.06</td><td>46.87</td><td>49.65</td><td>51.84</td><td>52.87</td><td>54.31</td><td>56.84</td><td>62.43</td></tr>
<tr><td>Profit before tax</td><td>160.69</td><td>179.08</td><td>133.68</td><td>149.35</td><td>174.5</td><td>111.46</td><td>53.4</td><td>54.32</td><td>120.53</td><td>85.84</td></tr>
<tr><td>Tax</td><td>40.87</td><td>45.88</td><td>37.67</td><td>36.76</td><td>42.97</td><td>31.1</td><td>24.86</td><td>25.4</td><td>23.33</td><td>20.13</td></tr>
<tr><td>Net profit</td><td>120.24</td><td>133.88</td><td>96.76</td><td>112.75</td><td>131.53</td><td>80.36</td><td>28.54</td><td>28.92</td><td>97.2</td><td>65.71</td></tr>
<tr><td>Operating Profit</td><td>287.37</td><td>316.63</td><td>273.52</td><td>292.67</td><td>311.86</td><td>286.32</td><td>218.07</td><td>235.01</td><td>277.18</td><td>280.11</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>65.44</td><td>65.57</td><td>65.8</td><td>65.95</td><td>65.98</td><td>131.97</td><td>131.97</td><td>131.97</td><td>131.97</td><td>131.97</td></tr>
<tr><td>Reserves</td><td>484.61</td><td>580.62</td><td>696.2</td><td>739.35</td><td>901.75</td><td>1127.67</td><td>990.06</td><td>1294.86</td><td>1813</td><td>1905.82</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1670.06</td><td>1619.98</td><td>2106.1</td><td>2553.74</td></tr>
<tr><td>Other Liabilities</td><td>311.93</td><td>428.51</td><td>460.03</td><td>485.34</td><td>529.01</td><td>596.1</td><td>577.79</td><td>719.96</td><td>730.6</td><td>790.6</td></tr>
<tr><td>Total</td><td>861.98</td><td>1074.7</td><td>1222.03</td><td>1290.64</td><td>1496.74</td><td>1855.74</td><td>3369.88</td><td>3766.77</td><td>4781.67</td><td>5382.13</td></tr>
<tr><td>Net Block</td><td>546.37</td><td>737.28</td><td>828.45</td><td>800.15</td><td>789.22</td><td>809.46</td><td>2188.72</td><td>2145.5</td><td>2736.6</td><td>3488.23</td></tr>
<tr><td>Capital Work in Progress</td><td>19.64</td><td>19.88</td><td>26.1</td><td>60.77</td><td>14.22</td><td>15.72</td><td>41.17</td><td>28.55</td><td>46.55</td><td>183.79</td></tr>
<tr><td>Investments</td><td>93.75</td><td>74.61</td><td>90.81</td><td>93.57</td><td>263.1</td><td>180.8</td><td>51.18</td><td>516.74</td><td>926.78</td><td>821.81</td></tr>
<tr><td>Other Assets</td><td>202.22</td><td>242.93</td><td>276.67</td><td>336.15</td><td>430.2</td><td>849.76</td><td>1088.81</td><td>1075.98</td><td>1071.74</td><td>888.3</td></tr>
<tr><td>Total</td><td>861.98</td><td>1074.7</td><td>1222.03</td><td>1290.64</td><td>1496.74</td><td>1855.74</td><td>3369.88</td><td>3766.77</td><td>4781.67</td><td>5382.13</td></tr>
<tr><td>Receivables</td><td>9.04</td><td>11.87</td><td>12.48</td><td>16.1</td><td>15.65</td><td>27.44</td><td>16.64</td><td>16.8</td><td>22.05</td><td>28.73</td></tr>
<tr><td>Inventory</td><td>33.08</td><td>43.34</td><td>55.17</td><td>60.72</td><td>64.21</td><td>77.08</td><td>94.72</td><td>133.13</td><td>161.18</td><td>177</td></tr>
<tr><td>Cash & Bank</td><td>24.22</td><td>38.91</td><td>33.17</td><td>35.39</td><td>129.03</td><td>494.27</td><td>655.88</td><td>539.18</td><td>563.36</td><td>256.91</td></tr>
<tr><td>No. of Equity Shares</td><td>65439030</td><td>65569790</td><td>65795106</td><td>65949070</td><td>65984520</td><td>131969040</td><td>131969040</td><td>131969040</td><td>131969040</td><td>659845200</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td>65984520</td><td>65984520</td><td>65984520</td><td>65984520</td><td>65984520</td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>225.05</td><td>276.11</td><td>211.68</td><td>203.59</td><td>409.01</td><td>423.52</td><td>727.79</td><td>750.64</td><td>930.03</td><td>1026.16</td></tr>
<tr><td>Cash from Investing Activity</td><td>-232.79</td><td>-262.29</td><td>-199.75</td><td>-188.3</td><td>-331.94</td><td>-457.49</td><td>-98.71</td><td>-602.14</td><td>-654.17</td><td>-594.86</td></tr>
<tr><td>Cash from Financing Activity</td><td>1.47</td><td>0.87</td><td>-17.67</td><td>-14.82</td><td>-34.72</td><td>-16.7</td><td>-461.43</td><td>-288.74</td><td>-306.62</td><td>-426.43</td></tr>
<tr><td>Net Cash Flow</td><td>-6.27</td><td>14.68</td><td>-5.74</td><td>0.47</td><td>42.35</td><td>-50.68</td><td>167.65</td><td>-140.24</td><td>-30.76</td><td>4.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>106.41</td><td>147.84</td><td>127.69</td><td>110.74</td><td>232.59</td><td>288.8</td><td>294.29</td><td>582.19</td><td>527.3</td><td>440.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>65.44</td><td>65.56</td><td>65.8</td><td>65.94</td><td>65.98</td><td>65.98</td><td>65.98</td><td>65.98</td><td>65.98</td><td>65.98</td></tr>
</table>
</body>
</html>