<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\K E C Intl</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>K E C INTERNATIONAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>736</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18907.59</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>8467.8</td><td>8517.8</td><td>8584.4</td><td>10052.63</td><td>11000.53</td><td>11965.37</td><td>13114.2</td><td>13742.26</td><td>17281.71</td><td>19914.17</td></tr>
<tr><td>Raw Material Cost</td><td>4527.35</td><td>4133.31</td><td>4173.7</td><td>5245.3</td><td>5344.45</td><td>5669.62</td><td>5696.99</td><td>6090.81</td><td>6969.83</td><td>8413.69</td></tr>
<tr><td>Change in Inventory</td><td>-39.06</td><td>-18.77</td><td>9.07</td><td>104.86</td><td>-65.23</td><td>78.03</td><td>-3.61</td><td>141.79</td><td>-98.77</td><td>5.7</td></tr>
<tr><td>Power and Fuel</td><td>94.8</td><td>75.29</td><td>63.87</td><td>74.83</td><td>92.9</td><td>91.66</td><td>79.63</td><td>110.98</td><td>151.98</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>1890.69</td><td>2042.58</td><td>1815.56</td><td>2153.19</td><td>2744.77</td><td>2854.58</td><td>3929.03</td><td>4515.9</td><td>6542</td><td></td></tr>
<tr><td>Employee Cost</td><td>586.88</td><td>639.65</td><td>733.31</td><td>798.99</td><td>832.87</td><td>1104.85</td><td>1115.7</td><td>1259.37</td><td>1356.94</td><td>1440.63</td></tr>
<tr><td>Selling and admin</td><td>491.42</td><td>526.8</td><td>546.99</td><td>550.18</td><td>643.62</td><td>854.72</td><td>779.23</td><td>717.61</td><td>944.3</td><td></td></tr>
<tr><td>Other Expenses</td><td>258.7</td><td>296.12</td><td>348.92</td><td>239.59</td><td>39.91</td><td>138.02</td><td>270.15</td><td>188.69</td><td>270.05</td><td>8850.98</td></tr>
<tr><td>Other Income</td><td>146.23</td><td>6.4</td><td>13.58</td><td>21.64</td><td>31.33</td><td>10.6</td><td>29.06</td><td>-30.88</td><td>30.37</td><td>52.41</td></tr>
<tr><td>Depreciation</td><td>88.11</td><td>131.78</td><td>129.69</td><td>109.74</td><td>117.13</td><td>147.2</td><td>152.53</td><td>157.86</td><td>161.48</td><td>185.36</td></tr>
<tr><td>Interest</td><td>375.96</td><td>368.48</td><td>331.57</td><td>317.88</td><td>398.14</td><td>403.08</td><td>360.48</td><td>412.52</td><td>655.75</td><td>655.13</td></tr>
<tr><td>Profit before tax</td><td>261.06</td><td>291.42</td><td>463.44</td><td>689.43</td><td>752.84</td><td>790.27</td><td>755.91</td><td>399.43</td><td>160.98</td><td>426.49</td></tr>
<tr><td>Tax</td><td>100.07</td><td>143.57</td><td>158.66</td><td>229.01</td><td>257.07</td><td>224.75</td><td>203.19</td><td>67.35</td><td>-15.05</td><td>79.71</td></tr>
<tr><td>Net profit</td><td>160.99</td><td>147.87</td><td>304.78</td><td>460.42</td><td>495.77</td><td>565.52</td><td>552.72</td><td>332.08</td><td>176.03</td><td>346.78</td></tr>
<tr><td>Dividend Amount</td><td>23.14</td><td>25.71</td><td>41.14</td><td>61.7</td><td>69.42</td><td>87.41</td><td>102.84</td><td>102.84</td><td>77.13</td><td>102.84</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3340.02</td><td>4274.78</td><td>3318.08</td><td>4064</td><td>4374.62</td><td>5525.01</td><td>4243.59</td><td>4499.03</td><td>5006.72</td><td>6164.83</td></tr>
<tr><td>Expenses</td><td>3101.04</td><td>4023.1</td><td>3149.65</td><td>3886.05</td><td>4174.74</td><td>5241.54</td><td>3999.23</td><td>4224.71</td><td>4698.83</td><td>5776.83</td></tr>
<tr><td>Other Income</td><td>5.04</td><td>3.39</td><td>7.95</td><td>16.14</td><td>1.72</td><td>5.52</td><td>2.83</td><td>15.82</td><td>25.98</td><td>7.79</td></tr>
<tr><td>Depreciation</td><td>39.27</td><td>41.9</td><td>39.29</td><td>39.86</td><td>40.83</td><td>41.5</td><td>41.79</td><td>46.52</td><td>48.8</td><td>48.25</td></tr>
<tr><td>Interest</td><td>82.43</td><td>95.38</td><td>99.98</td><td>127.66</td><td>149.34</td><td>161.61</td><td>158.7</td><td>177.84</td><td>164.35</td><td>154.25</td></tr>
<tr><td>Profit before tax</td><td>122.32</td><td>117.79</td><td>37.11</td><td>26.57</td><td>11.43</td><td>85.88</td><td>46.7</td><td>65.78</td><td>120.72</td><td>193.29</td></tr>
<tr><td>Tax</td><td>28.71</td><td>5.75</td><td>6.09</td><td>-28.67</td><td>-6.17</td><td>13.71</td><td>4.37</td><td>9.95</td><td>23.85</td><td>41.54</td></tr>
<tr><td>Net profit</td><td>93.61</td><td>112.04</td><td>31.02</td><td>55.24</td><td>17.6</td><td>72.17</td><td>42.33</td><td>55.83</td><td>96.87</td><td>151.75</td></tr>
<tr><td>Operating Profit</td><td>238.98</td><td>251.68</td><td>168.43</td><td>177.95</td><td>199.88</td><td>283.47</td><td>244.36</td><td>274.32</td><td>307.89</td><td>388</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td><td>51.42</td></tr>
<tr><td>Reserves</td><td>1278.38</td><td>1238.97</td><td>1534.94</td><td>1946.04</td><td>2383.68</td><td>2746.16</td><td>3308.27</td><td>3568.51</td><td>3720</td><td>4044.28</td></tr>
<tr><td>Borrowings</td><td>2214.1</td><td>3221.22</td><td>2105.73</td><td>1766.35</td><td>1839.44</td><td>2518.94</td><td>2065.69</td><td>3064.61</td><td>3383.37</td><td>3985.03</td></tr>
<tr><td>Other Liabilities</td><td>4183.29</td><td>4362.38</td><td>5022.72</td><td>6748.68</td><td>7388.59</td><td>7538.06</td><td>8566.3</td><td>9613.43</td><td>11506.55</td><td>10950.74</td></tr>
<tr><td>Total</td><td>7727.19</td><td>8873.99</td><td>8714.81</td><td>10512.49</td><td>11663.13</td><td>12854.58</td><td>13991.68</td><td>16297.97</td><td>18661.34</td><td>19031.47</td></tr>
<tr><td>Net Block</td><td>1258.9</td><td>1197.69</td><td>1148.75</td><td>1112.2</td><td>1182.39</td><td>1351.78</td><td>1397.51</td><td>1537.65</td><td>1582.81</td><td>1628.27</td></tr>
<tr><td>Capital Work in Progress</td><td>16.44</td><td>8.39</td><td>5.1</td><td>78.07</td><td>7.32</td><td>83.96</td><td>17.9</td><td>2.46</td><td>11.45</td><td>13.92</td></tr>
<tr><td>Investments</td><td>0.01</td><td>25.38</td><td>130.4</td><td>39.29</td><td>13.21</td><td>22.5</td><td>1.06</td><td>12.64</td><td></td><td></td></tr>
<tr><td>Other Assets</td><td>6451.84</td><td>7642.53</td><td>7430.56</td><td>9282.93</td><td>10460.21</td><td>11396.34</td><td>12575.21</td><td>14745.22</td><td>17067.08</td><td>17389.28</td></tr>
<tr><td>Total</td><td>7727.19</td><td>8873.99</td><td>8714.81</td><td>10512.49</td><td>11663.13</td><td>12854.58</td><td>13991.68</td><td>16297.97</td><td>18661.34</td><td>19031.47</td></tr>
<tr><td>Receivables</td><td>3852.93</td><td>4657.6</td><td>4200.35</td><td>5038.93</td><td>4875.26</td><td>5425.88</td><td>5384.69</td><td>5106.1</td><td>6896.06</td><td>4136.62</td></tr>
<tr><td>Inventory</td><td>476.39</td><td>360.16</td><td>394.67</td><td>627.41</td><td>641.01</td><td>775.82</td><td>842.2</td><td>1066.48</td><td>1137.16</td><td>1213.31</td></tr>
<tr><td>Cash & Bank</td><td>206.32</td><td>85.31</td><td>207.97</td><td>231.31</td><td>276.17</td><td>163.67</td><td>249.17</td><td>261.94</td><td>344.16</td><td>273.28</td></tr>
<tr><td>No. of Equity Shares</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td>257088370</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>152.85</td><td>-75.31</td><td>1661.59</td><td>659.62</td><td>198.74</td><td>87.45</td><td>839.57</td><td>-283.71</td><td>606.73</td><td>311.13</td></tr>
<tr><td>Cash from Investing Activity</td><td>124.84</td><td>-7.11</td><td>-181.63</td><td>-4</td><td>-66.6</td><td>-112.52</td><td>-133.54</td><td>-204.31</td><td>-132.39</td><td>-223.06</td></tr>
<tr><td>Cash from Financing Activity</td><td>-215.71</td><td>-27.59</td><td>-1378.99</td><td>-638.15</td><td>-149.91</td><td>2.52</td><td>-658.92</td><td>495.86</td><td>-400.81</td><td>-144.67</td></tr>
<tr><td>Net Cash Flow</td><td>61.98</td><td>-110.01</td><td>100.96</td><td>17.47</td><td>-17.77</td><td>-22.55</td><td>47.11</td><td>7.84</td><td>73.53</td><td>-56.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>80.05</td><td>122.3</td><td>208.6</td><td>389.75</td><td>299.75</td><td>185.5</td><td>410.85</td><td>378.95</td><td>456.35</td><td>694.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td><td>25.71</td></tr>
</table>
</body>
</html>