<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Kajaria Ceramics</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>KAJARIA CERAMICS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1184.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18757.77</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2186.89</td><td>2413.45</td><td>2549.63</td><td>2710.6</td><td>2956.2</td><td>2808.01</td><td>2780.9</td><td>3705.19</td><td>4381.93</td><td>4578.42</td></tr>
<tr><td>Raw Material Cost</td><td>827.22</td><td>805.75</td><td>793.34</td><td>936.05</td><td>1044.27</td><td>1074.55</td><td>1011.61</td><td>1473.76</td><td>1717.35</td><td>1961.87</td></tr>
<tr><td>Change in Inventory</td><td>91.86</td><td>65.72</td><td>-12.63</td><td>12.87</td><td>36.51</td><td>84.36</td><td>-133.3</td><td>74.44</td><td>91.63</td><td>-15.08</td></tr>
<tr><td>Power and Fuel</td><td>485.35</td><td>480.48</td><td>448.02</td><td>519.44</td><td>616.16</td><td>564.42</td><td>414.9</td><td>758.98</td><td>1055.37</td><td>866.09</td></tr>
<tr><td>Other Mfr. Exp</td><td>197.15</td><td>229.17</td><td>224.83</td><td>211.16</td><td>258.32</td><td>225.48</td><td>199.29</td><td>281.75</td><td>335.86</td><td></td></tr>
<tr><td>Employee Cost</td><td>207.32</td><td>252.28</td><td>288.71</td><td>317.65</td><td>345.45</td><td>356.86</td><td>324.65</td><td>407.67</td><td>461.24</td><td>505.26</td></tr>
<tr><td>Selling and admin</td><td>186.76</td><td>221.87</td><td>248.15</td><td>251.9</td><td>239.87</td><td>217.33</td><td>147.98</td><td>208.42</td><td>271.28</td><td></td></tr>
<tr><td>Other Expenses</td><td>19.5</td><td>26.65</td><td>33.71</td><td>29.89</td><td>33.65</td><td>36.82</td><td>34.19</td><td>37.06</td><td>39.39</td><td>531.63</td></tr>
<tr><td>Other Income</td><td>0.15</td><td>4.92</td><td>11.45</td><td>10.57</td><td>7.69</td><td>23.14</td><td>15.14</td><td>26.27</td><td>24.57</td><td>46.24</td></tr>
<tr><td>Depreciation</td><td>55.88</td><td>72.61</td><td>81.39</td><td>88.53</td><td>89.06</td><td>108.09</td><td>106.67</td><td>115.36</td><td>132.86</td><td>147.99</td></tr>
<tr><td>Interest</td><td>29.39</td><td>34.46</td><td>34</td><td>24.1</td><td>15.59</td><td>19.51</td><td>10.71</td><td>12.73</td><td>22.32</td><td>21.12</td></tr>
<tr><td>Profit before tax</td><td>270.33</td><td>360.82</td><td>396.3</td><td>355.32</td><td>358.03</td><td>312.45</td><td>412.74</td><td>510.17</td><td>462.46</td><td>575.62</td></tr>
<tr><td>Tax</td><td>85.43</td><td>124.71</td><td>142.49</td><td>126.72</td><td>129.28</td><td>58.92</td><td>103.84</td><td>127.43</td><td>116.26</td><td>143.46</td></tr>
<tr><td>Net profit</td><td>175.6</td><td>231.33</td><td>252.81</td><td>234.96</td><td>226.57</td><td>255.33</td><td>308.05</td><td>376.98</td><td>344.5</td><td>422.11</td></tr>
<tr><td>Dividend Amount</td><td>31.78</td><td>39.72</td><td>47.67</td><td>47.7</td><td>47.7</td><td>47.7</td><td>159.1</td><td>175.12</td><td>143.28</td><td>191.16</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1068.23</td><td>1101.75</td><td>1008.22</td><td>1077.76</td><td>1091.13</td><td>1204.82</td><td>1064.23</td><td>1121.62</td><td>1151.75</td><td>1240.82</td></tr>
<tr><td>Expenses</td><td>884.39</td><td>935.81</td><td>854.63</td><td>948.35</td><td>958.06</td><td>1028.96</td><td>895.02</td><td>942.13</td><td>973.28</td><td>1069.52</td></tr>
<tr><td>Other Income</td><td>7.42</td><td>7.03</td><td>8.09</td><td>3.97</td><td>7.48</td><td>6.17</td><td>9.28</td><td>8.27</td><td>11.27</td><td>17.44</td></tr>
<tr><td>Depreciation</td><td>28.07</td><td>32.62</td><td>32.36</td><td>33.65</td><td>32.53</td><td>34.32</td><td>30.52</td><td>36.07</td><td>38.91</td><td>42.49</td></tr>
<tr><td>Interest</td><td>3.01</td><td>3.98</td><td>3.61</td><td>3.16</td><td>8.31</td><td>7.24</td><td>5.27</td><td>4.26</td><td>4.98</td><td>6.61</td></tr>
<tr><td>Profit before tax</td><td>160.18</td><td>136.37</td><td>125.71</td><td>96.57</td><td>99.71</td><td>140.47</td><td>142.7</td><td>147.43</td><td>145.85</td><td>139.64</td></tr>
<tr><td>Tax</td><td>35.45</td><td>39.14</td><td>32.75</td><td>27.68</td><td>26.05</td><td>29.78</td><td>33.59</td><td>36.61</td><td>37.89</td><td>35.37</td></tr>
<tr><td>Net profit</td><td>122.02</td><td>95.76</td><td>92.3</td><td>69.86</td><td>74.32</td><td>108.02</td><td>107.52</td><td>107.96</td><td>104.19</td><td>102.44</td></tr>
<tr><td>Operating Profit</td><td>183.84</td><td>165.94</td><td>153.59</td><td>129.41</td><td>133.07</td><td>175.86</td><td>169.21</td><td>179.49</td><td>178.47</td><td>171.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>15.89</td><td>15.89</td><td>15.89</td><td>15.9</td><td>15.9</td><td>15.9</td><td>15.91</td><td>15.92</td><td>15.92</td><td>15.93</td></tr>
<tr><td>Reserves</td><td>725.05</td><td>956.01</td><td>1159.23</td><td>1335.12</td><td>1559</td><td>1698.37</td><td>1852.95</td><td>2106.46</td><td>2310.86</td><td>2600.6</td></tr>
<tr><td>Borrowings</td><td>243.43</td><td>293.66</td><td>213.16</td><td>170.33</td><td>120.33</td><td>166.01</td><td>126.03</td><td>164.89</td><td>249.82</td><td>238.94</td></tr>
<tr><td>Other Liabilities</td><td>574.87</td><td>652.57</td><td>651.84</td><td>618.94</td><td>676.65</td><td>556.84</td><td>530.44</td><td>698.52</td><td>751.25</td><td>687.44</td></tr>
<tr><td>Total</td><td>1559.24</td><td>1918.13</td><td>2040.12</td><td>2140.29</td><td>2371.88</td><td>2437.12</td><td>2525.33</td><td>2985.79</td><td>3327.85</td><td>3542.91</td></tr>
<tr><td>Net Block</td><td>860.08</td><td>1120.51</td><td>1177.29</td><td>1145.11</td><td>1077.83</td><td>1194.76</td><td>1192.43</td><td>1149.59</td><td>1446.56</td><td>1637.7</td></tr>
<tr><td>Capital Work in Progress</td><td>77.76</td><td>7.83</td><td>8.26</td><td>17.6</td><td>93.39</td><td>26.63</td><td>14.9</td><td>263.36</td><td>81.71</td><td>67.93</td></tr>
<tr><td>Investments</td><td>0.08</td><td>0.08</td><td>0.09</td><td>0.34</td><td>0.34</td><td>10.14</td><td>4.97</td><td></td><td>1.94</td><td>18.46</td></tr>
<tr><td>Other Assets</td><td>621.32</td><td>789.71</td><td>854.48</td><td>977.24</td><td>1200.32</td><td>1205.59</td><td>1313.03</td><td>1572.84</td><td>1797.64</td><td>1818.82</td></tr>
<tr><td>Total</td><td>1559.24</td><td>1918.13</td><td>2040.12</td><td>2140.29</td><td>2371.88</td><td>2437.12</td><td>2525.33</td><td>2985.79</td><td>3327.85</td><td>3542.91</td></tr>
<tr><td>Receivables</td><td>207.1</td><td>274.11</td><td>338.92</td><td>450.67</td><td>475.05</td><td>396.69</td><td>431.67</td><td>513.3</td><td>601.17</td><td>619.43</td></tr>
<tr><td>Inventory</td><td>303.32</td><td>384.17</td><td>372.02</td><td>378.47</td><td>405.8</td><td>512.72</td><td>373.08</td><td>465.88</td><td>564.68</td><td>532.19</td></tr>
<tr><td>Cash & Bank</td><td>11.16</td><td>21.52</td><td>51.96</td><td>82.47</td><td>252.38</td><td>225.17</td><td>442.75</td><td>424.38</td><td>393.78</td><td>514.11</td></tr>
<tr><td>No. of Equity Shares</td><td>79469000</td><td>79469000</td><td>158938000</td><td>158950300</td><td>158950300</td><td>158957200</td><td>159081000</td><td>159204050</td><td>159204050</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>180.27</td><td>315.62</td><td>337.68</td><td>238.17</td><td>317.36</td><td>224.43</td><td>508.76</td><td>425.52</td><td>295.5</td><td>601.65</td></tr>
<tr><td>Cash from Investing Activity</td><td>-263.02</td><td>-266.95</td><td>-139.71</td><td>-136.49</td><td>-260.86</td><td>-90.06</td><td>-295.54</td><td>-297.91</td><td>-182.48</td><td>-297.6</td></tr>
<tr><td>Cash from Financing Activity</td><td>87.43</td><td>-38.72</td><td>-167.88</td><td>-71.84</td><td>-114.14</td><td>-140.37</td><td>-204.51</td><td>-120.13</td><td>-134.79</td><td>-216.26</td></tr>
<tr><td>Net Cash Flow</td><td>4.68</td><td>9.95</td><td>30.09</td><td>29.84</td><td>-57.64</td><td>-6</td><td>8.71</td><td>7.48</td><td>-21.77</td><td>87.79</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>403.6</td><td>478.93</td><td>583.5</td><td>572.55</td><td>589.85</td><td>375.85</td><td>926.9</td><td>1019.3</td><td>1054.3</td><td>1154.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>15.89</td><td>15.89</td><td>15.89</td><td>15.9</td><td>15.9</td><td>15.9</td><td>15.91</td><td>15.92</td><td>15.92</td><td>15.93</td></tr>
</table>
</body>
</html>