<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Kaynes Tech</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>KAYNES TECHNOLOGY INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2449.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>15680.49</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td></td><td>367.77</td><td>420.63</td><td>705.99</td><td>1125.91</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td>260.34</td><td>282.3</td><td>497.83</td><td>856.96</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td>18.66</td><td>-3.82</td><td>3.68</td><td>67.72</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2.81</td><td>3</td><td>3.76</td><td>5.23</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td></td><td>19.45</td><td>18.3</td><td>28.99</td><td>49.28</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td>47.5</td><td>45.9</td><td>60.24</td><td>77.34</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td></td><td>16.12</td><td>8.66</td><td>22.48</td><td>31.98</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-2.97</td><td>16.58</td><td>1.2</td><td>2.98</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.08</td><td>4.04</td><td>4.11</td><td>11.4</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td>8.38</td><td>10.08</td><td>13.16</td><td>18.74</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td>24.6</td><td>25.16</td><td>27.09</td><td>36.48</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>11.28</td><td>10.87</td><td>59.03</td><td>126.04</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.93</td><td>1.14</td><td>17.36</td><td>30.84</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td></td><td>9.48</td><td>9.73</td><td>41.68</td><td>95.2</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td>183.42</td><td>238.47</td><td>199.27</td><td>289.09</td><td>364.59</td><td>297.18</td><td>360.85</td><td>509.29</td></tr>
<tr><td>Expenses</td><td></td><td></td><td>161.44</td><td>198.46</td><td>174.7</td><td>247.93</td><td>305.23</td><td>256.92</td><td>312.06</td><td>439.41</td></tr>
<tr><td>Other Income</td><td></td><td></td><td>2.21</td><td>-0.05</td><td>0.71</td><td>2.63</td><td>7.35</td><td>8.12</td><td>8.96</td><td>9.42</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td>3.73</td><td>3.73</td><td>4.57</td><td>4.6</td><td>4.84</td><td>5.26</td><td>6.53</td><td>5.96</td></tr>
<tr><td>Interest</td><td></td><td></td><td>6.93</td><td>7.14</td><td>7.27</td><td>9.21</td><td>8.14</td><td>11.25</td><td>11.81</td><td>14.85</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td>13.53</td><td>29.09</td><td>13.44</td><td>29.98</td><td>53.73</td><td>31.87</td><td>39.41</td><td>58.49</td></tr>
<tr><td>Tax</td><td></td><td></td><td>2.79</td><td>9.24</td><td>3.39</td><td>7.11</td><td>12.45</td><td>7.21</td><td>7.09</td><td>13.3</td></tr>
<tr><td>Net profit</td><td></td><td></td><td>10.74</td><td>19.85</td><td>10.05</td><td>22.87</td><td>41.28</td><td>24.65</td><td>32.31</td><td>45.19</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td>21.98</td><td>40.01</td><td>24.57</td><td>41.16</td><td>59.36</td><td>40.26</td><td>48.79</td><td>69.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td>6.8</td><td>6.8</td><td>46.16</td><td>58.14</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td></td><td>95.9</td><td>130.78</td><td>156.05</td><td>900.9</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td>153.21</td><td>139.47</td><td>189.08</td><td>154.74</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td></td><td>122.21</td><td>142.32</td><td>231.13</td><td>304.96</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>378.12</td><td>419.37</td><td>622.42</td><td>1418.74</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td></td><td>65.72</td><td>72.1</td><td>113.34</td><td>131.7</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td>11.95</td><td>12.62</td><td>8.33</td><td>29.34</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.6</td><td>1.69</td><td>1.52</td><td>3.28</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td></td><td>298.85</td><td>332.96</td><td>499.23</td><td>1254.42</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>378.12</td><td>419.37</td><td>622.42</td><td>1418.74</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td>93.65</td><td>121.75</td><td>197.73</td><td>227.07</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td>151.11</td><td>163.87</td><td>226.38</td><td>413.16</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td></td><td>12.28</td><td>14.26</td><td>21.59</td><td>486</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>6800002</td><td>6800002</td><td>46158006</td><td>58142496</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>45.25</td><td>25.6</td><td>21.11</td><td>-41.6</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-9.93</td><td>-24.09</td><td>-44.53</td><td>-493.65</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-35.41</td><td>0.8</td><td>27.24</td><td>554.31</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-0.09</td><td>2.31</td><td>3.82</td><td>19.06</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>962.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.68</td><td>0.68</td><td>4.62</td><td>5.81</td></tr>
</table>
</body>
</html>