<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Kesoram Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>KESORAM INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>175.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5471.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2009-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td>3881.53</td><td>3841.63</td><td>3873.17</td><td>2903.91</td><td>2645.64</td><td>2652.77</td><td>3605.88</td><td>3778.05</td><td>3986.88</td></tr>
<tr><td>Raw Material Cost</td><td></td><td>1741.48</td><td>1270.1</td><td>1290.95</td><td>374.92</td><td>369.16</td><td>325.49</td><td>392.54</td><td>485.84</td><td>519.68</td></tr>
<tr><td>Change in Inventory</td><td></td><td>87.96</td><td>-125.85</td><td>-26.2</td><td>-20.56</td><td>1.92</td><td>-33.38</td><td>14.43</td><td>55.71</td><td>26.78</td></tr>
<tr><td>Power and Fuel</td><td></td><td>60.8</td><td>642.71</td><td>727.98</td><td>727.24</td><td>694.96</td><td>647.62</td><td>1138.85</td><td>1463.72</td><td>1436.3</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td>723.03</td><td>141.88</td><td>154.26</td><td>133.73</td><td>122.28</td><td>909.64</td><td>1186.68</td><td>1190.1</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td>186.97</td><td>377.74</td><td>411.93</td><td>206.28</td><td>220.26</td><td>216.59</td><td>184.09</td><td>220.61</td><td>227.4</td></tr>
<tr><td>Selling and admin</td><td></td><td>526.53</td><td>1146.37</td><td>1132.24</td><td>1051.93</td><td>939.46</td><td>111.95</td><td>170.34</td><td>167.22</td><td>1148.7</td></tr>
<tr><td>Other Expenses</td><td></td><td>168.51</td><td>139.55</td><td>199.12</td><td>357.3</td><td>72.4</td><td>32.83</td><td>35.66</td><td>35.71</td><td>329.86</td></tr>
<tr><td>Other Income</td><td></td><td>79.66</td><td>172.3</td><td>79.1</td><td>57.28</td><td>39.67</td><td>-148.45</td><td>14.09</td><td>-102.81</td><td>-0.56</td></tr>
<tr><td>Depreciation</td><td></td><td>111.86</td><td>136.22</td><td>146.1</td><td>107.99</td><td>112.61</td><td>117.96</td><td>111.76</td><td>102.52</td><td>136.89</td></tr>
<tr><td>Interest</td><td></td><td>120.87</td><td>283.47</td><td>443.05</td><td>356.51</td><td>343.63</td><td>275.8</td><td>501.69</td><td>450.03</td><td>488.5</td></tr>
<tr><td>Profit before tax</td><td></td><td>409.1</td><td>-249.96</td><td>-579.56</td><td>-375.27</td><td>-187.53</td><td>-166.94</td><td>-87.21</td><td>-384.8</td><td>-274.23</td></tr>
<tr><td>Tax</td><td></td><td>30.37</td><td>-7.87</td><td>-2</td><td>-11.95</td><td></td><td>-307.05</td><td>-9.87</td><td>-190.53</td><td>109.86</td></tr>
<tr><td>Net profit</td><td></td><td>378.73</td><td>-242.09</td><td>-577.56</td><td>-363.32</td><td>-187.53</td><td>140.11</td><td>-77.34</td><td>-194.27</td><td>-384.09</td></tr>
<tr><td>Dividend Amount</td><td></td><td>25.16</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>876.01</td><td>1031.78</td><td>891.23</td><td>845.27</td><td>986.12</td><td>1055.43</td><td>998.87</td><td>953.8</td><td>960.65</td><td>1073.56</td></tr>
<tr><td>Expenses</td><td>765.64</td><td>934</td><td>860.75</td><td>793.15</td><td>906.42</td><td>947.17</td><td>894.29</td><td>884.72</td><td>858.9</td><td>997.25</td></tr>
<tr><td>Other Income</td><td>7.7</td><td>-12.34</td><td>25.97</td><td>15.09</td><td>-159.26</td><td>15.39</td><td>7.17</td><td>11.66</td><td>9.83</td><td>-29.22</td></tr>
<tr><td>Depreciation</td><td>28.03</td><td>28.15</td><td>27.11</td><td>24.96</td><td>106.74</td><td>25.84</td><td>31.26</td><td>32.49</td><td>33.13</td><td>40.01</td></tr>
<tr><td>Interest</td><td>127.85</td><td>123.69</td><td>110.68</td><td>109.64</td><td>24.61</td><td>122.97</td><td>115.72</td><td>119.15</td><td>129.75</td><td>123.88</td></tr>
<tr><td>Profit before tax</td><td>-37.81</td><td>-66.4</td><td>-81.34</td><td>-67.39</td><td>-210.91</td><td>-25.16</td><td>-35.23</td><td>-70.9</td><td>-51.3</td><td>-116.8</td></tr>
<tr><td>Tax</td><td>-5.84</td><td>-20.26</td><td>-20.09</td><td>-8.34</td><td>-162.93</td><td>0.97</td><td>-2.79</td><td>-12.53</td><td>-2.44</td><td>127.62</td></tr>
<tr><td>Net profit</td><td>-31.97</td><td>-46.14</td><td>-61.25</td><td>-59.05</td><td>-47.98</td><td>-26.13</td><td>-32.44</td><td>-58.37</td><td>-48.86</td><td>-244.42</td></tr>
<tr><td>Operating Profit</td><td>110.37</td><td>97.78</td><td>30.48</td><td>52.12</td><td>79.7</td><td>108.26</td><td>104.58</td><td>69.08</td><td>101.75</td><td>76.31</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2009-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td>45.74</td><td>117.27</td><td>137.34</td><td>142.59</td><td>142.59</td><td>164.81</td><td>244.41</td><td>310.66</td><td>310.66</td></tr>
<tr><td>Reserves</td><td></td><td>1299.83</td><td>680.39</td><td>307.41</td><td>-30.33</td><td>-239.84</td><td>32.67</td><td>266.2</td><td>162.53</td><td>-215.84</td></tr>
<tr><td>Borrowings</td><td></td><td>2141.92</td><td>3297.24</td><td>4098.71</td><td>3186.56</td><td>2237.05</td><td>1961.97</td><td>1811.3</td><td>1902.48</td><td>2270.25</td></tr>
<tr><td>Other Liabilities</td><td></td><td>834.55</td><td>1238.18</td><td>1573.5</td><td>1671.28</td><td>1071.99</td><td>1072.05</td><td>1111.07</td><td>1059.33</td><td>1011.05</td></tr>
<tr><td>Total</td><td></td><td>4322.04</td><td>5333.08</td><td>6116.96</td><td>4970.1</td><td>3211.79</td><td>3231.5</td><td>3432.98</td><td>3435</td><td>3376.12</td></tr>
<tr><td>Net Block</td><td></td><td>1873.91</td><td>2543.55</td><td>2890.07</td><td>2772.02</td><td>2166.78</td><td>2080.74</td><td>2004.83</td><td>1736.07</td><td>1728.34</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td>864.85</td><td>729.96</td><td>789.85</td><td>799.94</td><td>31.1</td><td>32.81</td><td>48.95</td><td>65.46</td><td>34.13</td></tr>
<tr><td>Investments</td><td></td><td>49.18</td><td>71.22</td><td>720.02</td><td>81.6</td><td>69.51</td><td>77.42</td><td>73.84</td><td>82.23</td><td>80.35</td></tr>
<tr><td>Other Assets</td><td></td><td>1534.1</td><td>1988.35</td><td>1717.02</td><td>1316.54</td><td>944.4</td><td>1040.53</td><td>1305.36</td><td>1551.24</td><td>1533.3</td></tr>
<tr><td>Total</td><td></td><td>4322.04</td><td>5333.08</td><td>6116.96</td><td>4970.1</td><td>3211.79</td><td>3231.5</td><td>3432.98</td><td>3435</td><td>3376.12</td></tr>
<tr><td>Receivables</td><td></td><td>380.17</td><td>526.68</td><td>572.92</td><td>586.78</td><td>196.86</td><td>304.93</td><td>320.26</td><td>372.13</td><td>468.1</td></tr>
<tr><td>Inventory</td><td></td><td>589.06</td><td>466.56</td><td>458.01</td><td>351.51</td><td>162.22</td><td>137.21</td><td>180.43</td><td>232.08</td><td>286.59</td></tr>
<tr><td>Cash & Bank</td><td></td><td>56.86</td><td>177.76</td><td>107.64</td><td>46.51</td><td>16.19</td><td>111.94</td><td>179.17</td><td>109.97</td><td>184</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td>45743318</td><td>117268650</td><td>137340079</td><td>142590079</td><td>142590079</td><td>164811341</td><td>244809096</td><td>310663663</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td>2009-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td>370.26</td><td>79.07</td><td>176.87</td><td>775.43</td><td>786.67</td><td>258.85</td><td>323.91</td><td>130.83</td><td>205.61</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td>-1034.69</td><td>1694.42</td><td>-1136.81</td><td>353.98</td><td>-876.81</td><td>-150.41</td><td>-63.3</td><td>48.74</td><td>-16.4</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td>680.75</td><td>-2116.96</td><td>662.06</td><td>-1822.66</td><td>-218.1</td><td>200.64</td><td>-224.36</td><td>-247.84</td><td>-148.45</td></tr>
<tr><td>Net Cash Flow</td><td></td><td>16.32</td><td>-343.47</td><td>-297.88</td><td>-693.25</td><td>-308.24</td><td>309.08</td><td>36.25</td><td>-68.27</td><td>40.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td>83.37</td><td>111.39</td><td>84.41</td><td>56.78</td><td>15.7</td><td>60.09</td><td>52.3</td><td>58.6</td><td>171.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td>16.3</td><td>17.42</td><td>20.4</td><td>21.18</td><td>21.18</td><td>24.48</td><td>24.34</td><td>31.07</td><td>31.07</td></tr>
</table>
</body>
</html>