<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\KRBL</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>KRBL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>281.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>6441.01</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2881.86</td><td>3142.82</td><td>3359.55</td><td>3145.09</td><td>3245.69</td><td>4120.49</td><td>4499.02</td><td>3991.88</td><td>4210.56</td><td>5363.23</td></tr>
<tr><td>Raw Material Cost</td><td>2192.61</td><td>2504.27</td><td>2747.96</td><td>2488.88</td><td>2266.75</td><td>3179.26</td><td>3048.04</td><td>3151.96</td><td>2962.35</td><td>4398.6</td></tr>
<tr><td>Change in Inventory</td><td>-69.57</td><td>103.19</td><td>106.29</td><td>259.38</td><td>98.41</td><td>285.58</td><td>-173.95</td><td>393</td><td>-99.42</td><td>613.7</td></tr>
<tr><td>Power and Fuel</td><td>10.04</td><td>8.12</td><td>6.48</td><td>10.22</td><td>9.63</td><td>17.71</td><td>22.13</td><td>18.19</td><td>18</td><td>18.16</td></tr>
<tr><td>Other Mfr. Exp</td><td>33.32</td><td>42.83</td><td>55.52</td><td>61.95</td><td>56.27</td><td>59.25</td><td>163.54</td><td>177.77</td><td>226.83</td><td>272.78</td></tr>
<tr><td>Employee Cost</td><td>45.65</td><td>54.34</td><td>63.02</td><td>71.54</td><td>69.18</td><td>77.02</td><td>85.62</td><td>92.21</td><td>104.44</td><td>120.83</td></tr>
<tr><td>Selling and admin</td><td>116.85</td><td>161.4</td><td>145.28</td><td>126.09</td><td>161.05</td><td>197.28</td><td>126.01</td><td>100.89</td><td>114.02</td><td>188.9</td></tr>
<tr><td>Other Expenses</td><td>-26.73</td><td>-50.78</td><td>0.75</td><td>2.25</td><td>7.29</td><td>25.67</td><td>9.37</td><td>21.64</td><td>23.46</td><td>38.41</td></tr>
<tr><td>Other Income</td><td>19.56</td><td>1.85</td><td>61.22</td><td>10.28</td><td>17.81</td><td>15.15</td><td>22.51</td><td>22.68</td><td>42.71</td><td>92.32</td></tr>
<tr><td>Depreciation</td><td>57.66</td><td>52.69</td><td>49.78</td><td>61.42</td><td>67.78</td><td>64.46</td><td>72.88</td><td>71.95</td><td>74.22</td><td>75.65</td></tr>
<tr><td>Interest</td><td>76.02</td><td>80.89</td><td>67.48</td><td>54.84</td><td>68.95</td><td>67.58</td><td>62.44</td><td>23.59</td><td>13.4</td><td>14.74</td></tr>
<tr><td>Profit before tax</td><td>326.43</td><td>394.1</td><td>390.79</td><td>537.56</td><td>655.01</td><td>732.99</td><td>757.55</td><td>749.36</td><td>617.13</td><td>941.18</td></tr>
<tr><td>Tax</td><td>71.32</td><td>72.38</td><td>97.66</td><td>138.16</td><td>220.57</td><td>229.97</td><td>199.36</td><td>190.45</td><td>157.73</td><td>240.2</td></tr>
<tr><td>Net profit</td><td>255.11</td><td>321.72</td><td>293.14</td><td>399.4</td><td>434.44</td><td>503.02</td><td>558.18</td><td>558.91</td><td>459.4</td><td>700.98</td></tr>
<tr><td>Dividend Amount</td><td>28.3</td><td>40.02</td><td>44.73</td><td>49.43</td><td>54.14</td><td>58.85</td><td>65.91</td><td>82.39</td><td>82.39</td><td>23.54</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1053.69</td><td>1153.56</td><td>987.4</td><td>1228.23</td><td>1319.28</td><td>1535.99</td><td>1279.73</td><td>1413.65</td><td>1213.39</td><td>1437.03</td></tr>
<tr><td>Expenses</td><td>855.46</td><td>1045.3</td><td>824.86</td><td>996.8</td><td>1034.57</td><td>1257.2</td><td>1135.87</td><td>1162.15</td><td>1018.87</td><td>1259.18</td></tr>
<tr><td>Other Income</td><td>5.53</td><td>15.12</td><td>7.09</td><td>11.03</td><td>20.61</td><td>17.94</td><td>43.2</td><td>26.9</td><td>33.1</td><td>28.24</td></tr>
<tr><td>Depreciation</td><td>18.61</td><td>18.77</td><td>18.54</td><td>18.65</td><td>18.93</td><td>18.74</td><td>19.33</td><td>19.57</td><td>19.94</td><td>19.97</td></tr>
<tr><td>Interest</td><td>1.69</td><td>4.25</td><td>3.85</td><td>2.01</td><td>1.46</td><td>3.45</td><td>7.82</td><td>1.47</td><td>0.83</td><td>7.48</td></tr>
<tr><td>Profit before tax</td><td>183.46</td><td>100.36</td><td>147.24</td><td>221.8</td><td>284.93</td><td>274.54</td><td>159.91</td><td>257.36</td><td>206.85</td><td>178.64</td></tr>
<tr><td>Tax</td><td>47.24</td><td>27</td><td>38.18</td><td>57.35</td><td>71.83</td><td>69.09</td><td>41.93</td><td>62.71</td><td>53.56</td><td>44.8</td></tr>
<tr><td>Net profit</td><td>136.22</td><td>73.36</td><td>109.06</td><td>164.45</td><td>213.1</td><td>205.45</td><td>117.98</td><td>194.65</td><td>153.29</td><td>133.84</td></tr>
<tr><td>Operating Profit</td><td>198.23</td><td>108.26</td><td>162.54</td><td>231.43</td><td>284.71</td><td>278.79</td><td>143.86</td><td>251.5</td><td>194.52</td><td>177.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>23.58</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td></tr>
<tr><td>Reserves</td><td>1020.39</td><td>1301.23</td><td>1474.8</td><td>1883.78</td><td>2264.36</td><td>2703.16</td><td>3104.1</td><td>3668.97</td><td>4046.7</td><td>4669.08</td></tr>
<tr><td>Borrowings</td><td>1379.5</td><td>1351.03</td><td>1167.45</td><td>1090.07</td><td>1245.25</td><td>1428.19</td><td>571.51</td><td>369.32</td><td>145.18</td><td>250</td></tr>
<tr><td>Other Liabilities</td><td>291.25</td><td>390.25</td><td>314.99</td><td>424.85</td><td>324.39</td><td>481.25</td><td>723.76</td><td>566</td><td>532.6</td><td>648.28</td></tr>
<tr><td>Total</td><td>2714.72</td><td>3066.05</td><td>2980.78</td><td>3422.24</td><td>3857.54</td><td>4636.14</td><td>4422.91</td><td>4627.83</td><td>4748.02</td><td>5590.9</td></tr>
<tr><td>Net Block</td><td>562.62</td><td>639.57</td><td>764.57</td><td>1013.18</td><td>981.94</td><td>941.22</td><td>979.45</td><td>946.74</td><td>923.59</td><td>899.06</td></tr>
<tr><td>Capital Work in Progress</td><td>14.4</td><td>113.74</td><td>100.26</td><td>1.71</td><td>2.25</td><td>0.59</td><td>12.14</td><td>9.07</td><td>2.35</td><td>15.98</td></tr>
<tr><td>Investments</td><td>6.3</td><td>6.59</td><td>12.69</td><td>10.11</td><td>8.99</td><td>7.65</td><td>5.84</td><td>18.89</td><td>20.79</td><td>30.88</td></tr>
<tr><td>Other Assets</td><td>2131.4</td><td>2306.15</td><td>2103.26</td><td>2397.24</td><td>2864.36</td><td>3686.68</td><td>3425.48</td><td>3653.13</td><td>3801.29</td><td>4644.98</td></tr>
<tr><td>Total</td><td>2714.72</td><td>3066.05</td><td>2980.78</td><td>3422.24</td><td>3857.54</td><td>4636.14</td><td>4422.91</td><td>4627.83</td><td>4748.02</td><td>5590.9</td></tr>
<tr><td>Receivables</td><td>287.26</td><td>339.98</td><td>154.46</td><td>230.02</td><td>246.68</td><td>397.29</td><td>230.2</td><td>201.29</td><td>289.34</td><td>285.06</td></tr>
<tr><td>Inventory</td><td>1690.02</td><td>1859.67</td><td>1795.66</td><td>2019.96</td><td>2462.72</td><td>3129.39</td><td>2852.42</td><td>2964.21</td><td>2816.1</td><td>4186.27</td></tr>
<tr><td>Cash & Bank</td><td>66.19</td><td>24.34</td><td>28.3</td><td>4.76</td><td>69.82</td><td>5.27</td><td>52.55</td><td>161.86</td><td>391</td><td>47.52</td></tr>
<tr><td>No. of Equity Shares</td><td>236244892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td><td>235389892</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-488.51</td><td>336.54</td><td>510.31</td><td>258.33</td><td>60.76</td><td>-114.86</td><td>1211.88</td><td>383.73</td><td>560.82</td><td>-360.1</td></tr>
<tr><td>Cash from Investing Activity</td><td>0.93</td><td>-231.46</td><td>-173.9</td><td>-207.91</td><td>-48.68</td><td>20.2</td><td>-53.53</td><td>-11.67</td><td>-206.32</td><td>206.36</td></tr>
<tr><td>Cash from Financing Activity</td><td>391.26</td><td>-146.92</td><td>-332.45</td><td>-73.68</td><td>24.68</td><td>59.49</td><td>-1148.17</td><td>-227.07</td><td>-322.24</td><td>4.78</td></tr>
<tr><td>Net Cash Flow</td><td>-96.32</td><td>-41.85</td><td>3.96</td><td>-23.26</td><td>36.76</td><td>-35.17</td><td>10.18</td><td>144.99</td><td>32.26</td><td>-148.96</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>49.8</td><td>166.45</td><td>223.5</td><td>413.3</td><td>436.15</td><td>336.45</td><td>134.8</td><td>179.5</td><td>201.6</td><td>345.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td><td>23.54</td></tr>
</table>
</body>
</html>