<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\LIC Housing Fin</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>LIC HOUSING FINANCE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>620.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>34101.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9339.24</td><td>10812.11</td><td>12490.51</td><td>14092.44</td><td>14876.44</td><td>17398.37</td><td>19740.12</td><td>19885.52</td><td>19977.86</td><td>22713.89</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>7.18</td><td>4.18</td><td>4.69</td><td>1.03</td><td>19.92</td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>4.78</td><td>5.31</td><td>5.35</td><td>5.77</td><td>5.59</td><td>5.69</td><td>5.7</td><td>5.09</td><td>5.27</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>28.14</td><td>11.53</td><td>8.97</td><td>5.78</td><td>40.54</td><td>284.45</td><td>105</td><td>128.6</td><td>165.11</td><td></td></tr>
<tr><td>Employee Cost</td><td>112.84</td><td>139.29</td><td>164.82</td><td>266.59</td><td>245.4</td><td>275.26</td><td>328.31</td><td>324.4</td><td>603.33</td><td>516.41</td></tr>
<tr><td>Selling and admin</td><td>186.61</td><td>220.57</td><td>280.83</td><td>301.71</td><td>137.33</td><td>147.19</td><td>115.16</td><td>141</td><td>141.41</td><td></td></tr>
<tr><td>Other Expenses</td><td>24.6</td><td>13.04</td><td>150.96</td><td>306.84</td><td>504.41</td><td>386.98</td><td>1033.31</td><td>1412.12</td><td>2076.74</td><td>2447.24</td></tr>
<tr><td>Other Income</td><td>33.75</td><td>16.81</td><td>12.13</td><td>8.54</td><td>0.02</td><td>0.09</td><td>-33.24</td><td>-5.3</td><td>27.45</td><td>14.32</td></tr>
<tr><td>Depreciation</td><td>7.8</td><td>9.65</td><td>10.01</td><td>9.7</td><td>10.21</td><td>11.92</td><td>51.11</td><td>52.47</td><td>55.19</td><td>69.04</td></tr>
<tr><td>Interest</td><td>7174.36</td><td>8310.22</td><td>9306.64</td><td>10231.41</td><td>11143.82</td><td>12891.04</td><td>14781.42</td><td>14450.38</td><td>14151.09</td><td>16134.75</td></tr>
<tr><td>Profit before tax</td><td>1833.86</td><td>2119.31</td><td>2575.06</td><td>2973.18</td><td>2781.98</td><td>3391.75</td><td>3282.18</td><td>3365.13</td><td>2787.25</td><td>3560.77</td></tr>
<tr><td>Tax</td><td>512.44</td><td>721.79</td><td>907.44</td><td>1031.36</td><td>773.82</td><td>957.38</td><td>878.52</td><td>624</td><td>501.25</td><td>669.6</td></tr>
<tr><td>Net profit</td><td>1318.2</td><td>1395.61</td><td>1667.7</td><td>1942.27</td><td>2007.93</td><td>2433.95</td><td>2403.26</td><td>2740.72</td><td>2285.65</td><td>2890.76</td></tr>
<tr><td>Dividend Amount</td><td>227.25</td><td>252.5</td><td>277.75</td><td>313.1</td><td>343.37</td><td>383.76</td><td>403.96</td><td>429.21</td><td>467.84</td><td>467.84</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4717.65</td><td>5064.27</td><td>5327.87</td><td>5296.28</td><td>5096.35</td><td>5890.15</td><td>6431.12</td><td>6759.13</td><td>6765.44</td><td>6804.19</td></tr>
<tr><td>Expenses</td><td>892.27</td><td>551.82</td><td>456.39</td><td>504.23</td><td>811.42</td><td>1069.3</td><td>581.55</td><td>601.79</td><td>669.76</td><td>685.64</td></tr>
<tr><td>Other Income</td><td>5.28</td><td>14.41</td><td>8.61</td><td>6.22</td><td>5.05</td><td>5.79</td><td>0.11</td><td></td><td>0.43</td><td></td></tr>
<tr><td>Depreciation</td><td>13.58</td><td>13.61</td><td>14.99</td><td>16.25</td><td>16</td><td>17.38</td><td>19.41</td><td>19.4</td><td>13.16</td><td>18.31</td></tr>
<tr><td>Interest</td><td>3505.15</td><td>3545.68</td><td>3551.12</td><td>3639.35</td><td>3885.81</td><td>4232.09</td><td>4377.5</td><td>4493.11</td><td>4599.91</td><td>4645.92</td></tr>
<tr><td>Profit before tax</td><td>311.93</td><td>967.57</td><td>1313.98</td><td>1142.67</td><td>388.17</td><td>577.17</td><td>1452.77</td><td>1644.83</td><td>1483.04</td><td>1454.32</td></tr>
<tr><td>Tax</td><td>62.07</td><td>196.25</td><td>200.22</td><td>215.78</td><td>76.73</td><td>115.2</td><td>261.89</td><td>325.79</td><td>291.18</td><td>287.72</td></tr>
<tr><td>Net profit</td><td>249.74</td><td>771.24</td><td>1113.68</td><td>926.06</td><td>312.72</td><td>461.85</td><td>1190.89</td><td>1318.98</td><td>1191.77</td><td>1166.52</td></tr>
<tr><td>Operating Profit</td><td>3825.38</td><td>4512.45</td><td>4871.48</td><td>4792.05</td><td>4284.93</td><td>4820.85</td><td>5849.57</td><td>6157.34</td><td>6095.68</td><td>6118.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>101</td><td>101</td><td>101</td><td>101</td><td>100.99</td><td>100.99</td><td>100.99</td><td>100.99</td><td>110.08</td><td>110.08</td></tr>
<tr><td>Reserves</td><td>7484.88</td><td>7779.06</td><td>9113.58</td><td>11054.85</td><td>14210.19</td><td>16229.83</td><td>18163.88</td><td>20500.44</td><td>24640.74</td><td>27074.59</td></tr>
<tr><td>Borrowings</td><td>82036.41</td><td>96531.87</td><td>110931.17</td><td>126337.06</td><td>150912.69</td><td>170657.14</td><td>191427.65</td><td>207925.2</td><td>223757.07</td><td>244912.88</td></tr>
<tr><td>Other Liabilities</td><td>6239.56</td><td>8218.32</td><td>10441.44</td><td>13504.12</td><td>6004.29</td><td>13719.46</td><td>7227.22</td><td>7194.85</td><td>6178.76</td><td>6461.42</td></tr>
<tr><td>Total</td><td>95861.85</td><td>112630.25</td><td>130587.19</td><td>150997.03</td><td>171228.16</td><td>200707.42</td><td>216919.74</td><td>235721.48</td><td>254686.65</td><td>278558.97</td></tr>
<tr><td>Net Block</td><td>86.36</td><td>90.17</td><td>102.4</td><td>102.37</td><td>129.46</td><td>168.08</td><td>294.43</td><td>281.87</td><td>314.82</td><td>388.48</td></tr>
<tr><td>Capital Work in Progress</td><td>0.25</td><td>0.25</td><td>0.25</td><td>5.06</td><td>2.74</td><td>2.19</td><td>2.92</td><td>6.34</td><td>4.3</td><td>0.84</td></tr>
<tr><td>Investments</td><td>194.08</td><td>241.44</td><td>280.38</td><td>537.4</td><td>2008.22</td><td>3617.34</td><td>5484.73</td><td>4643.9</td><td>6279.39</td><td>7049.71</td></tr>
<tr><td>Other Assets</td><td>95581.16</td><td>112298.39</td><td>130204.16</td><td>150352.2</td><td>169087.74</td><td>196919.81</td><td>211137.66</td><td>230789.37</td><td>248088.14</td><td>271119.94</td></tr>
<tr><td>Total</td><td>95861.85</td><td>112630.25</td><td>130587.19</td><td>150997.03</td><td>171228.16</td><td>200707.42</td><td>216919.74</td><td>235721.48</td><td>254686.65</td><td>278558.97</td></tr>
<tr><td>Receivables</td><td>71.81</td><td>72.51</td><td>87.66</td><td>112.19</td><td>13.5</td><td>11.99</td><td>21.8</td><td>7.7</td><td>8.38</td><td>0.72</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>3074.22</td><td>2992.91</td><td>3987.13</td><td>4522.54</td><td>2143.01</td><td>3053.13</td><td>2036.92</td><td>1384.96</td><td>984.66</td><td>821.56</td></tr>
<tr><td>No. of Equity Shares</td><td>504981738</td><td>504981738</td><td>504981738</td><td>504981738</td><td>504663000</td><td>504663000</td><td>504663000</td><td>504663000</td><td>550063000</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-11522.84</td><td>-14345.37</td><td>-13039.43</td><td>-14273.19</td><td>-18977.03</td><td>-21538.46</td><td>-14737.67</td><td>-17140.27</td><td>-16729.27</td><td>-19632.43</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1.52</td><td>-57.69</td><td>-57.58</td><td>-277.67</td><td>1367.96</td><td>-1642.34</td><td>-1851.41</td><td>858.22</td><td>-1628.52</td><td>-799.24</td></tr>
<tr><td>Cash from Financing Activity</td><td>13048.2</td><td>14231.64</td><td>14097.54</td><td>15072.1</td><td>18074.35</td><td>24068.29</td><td>15155.53</td><td>16244.62</td><td>17850.27</td><td>20248.69</td></tr>
<tr><td>Net Cash Flow</td><td>1523.84</td><td>-171.42</td><td>1000.52</td><td>521.24</td><td>465.28</td><td>887.49</td><td>-1433.55</td><td>-37.43</td><td>-507.52</td><td>-182.98</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>236.15</td><td>437.6</td><td>493.15</td><td>618.45</td><td>534.4</td><td>532.2</td><td>235.3</td><td>428.2</td><td>358.95</td><td>328.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>50.47</td><td>50.47</td><td>50.47</td><td>50.47</td><td>50.47</td><td>50.47</td><td>50.47</td><td>50.47</td><td>55.01</td><td>55.01</td></tr>
</table>
</body>
</html>