<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Lloyds Metals</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>LLOYDS METALS & ENERGY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>663.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>33496.66</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>638.91</td><td>376.87</td><td>368.94</td><td>402.62</td><td>472.82</td><td>370.15</td><td>251.35</td><td>691.65</td><td>3353.1</td><td>6521.65</td></tr>
<tr><td>Raw Material Cost</td><td>605.18</td><td>340.84</td><td>303.9</td><td>334.06</td><td>387.39</td><td>297.65</td><td>217.43</td><td>373.27</td><td>504.35</td><td>906.85</td></tr>
<tr><td>Change in Inventory</td><td>-9.14</td><td>24.44</td><td>7.74</td><td>6.99</td><td>3.16</td><td>9.77</td><td>14.45</td><td>60.4</td><td>-35.78</td><td>14.89</td></tr>
<tr><td>Power and Fuel</td><td>9.17</td><td>8.46</td><td>10.1</td><td>1.58</td><td>2.62</td><td>2.46</td><td>2.25</td><td>3.64</td><td>5.48</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>13.12</td><td>3.47</td><td>16.24</td><td>19.82</td><td>22.3</td><td>16.86</td><td>10.17</td><td>126.51</td><td>1117.94</td><td></td></tr>
<tr><td>Employee Cost</td><td>15.78</td><td>13.43</td><td>15.36</td><td>16.11</td><td>21.75</td><td>22.73</td><td>14.71</td><td>18.39</td><td>54.29</td><td>117.76</td></tr>
<tr><td>Selling and admin</td><td>12.84</td><td>17.33</td><td>12.07</td><td>16.13</td><td>26.64</td><td>18</td><td>10.61</td><td>85.34</td><td>848.02</td><td></td></tr>
<tr><td>Other Expenses</td><td>0.01</td><td>4.58</td><td>4.21</td><td>5.47</td><td>-0.56</td><td>1.09</td><td>-0.24</td><td>-0.73</td><td>-26.72</td><td>3783.62</td></tr>
<tr><td>Other Income</td><td>22.38</td><td>7.87</td><td>13.91</td><td>24.68</td><td>30.76</td><td>25.62</td><td>19.9</td><td>-21.71</td><td>-1123.6</td><td>52.92</td></tr>
<tr><td>Depreciation</td><td>10.67</td><td>10.65</td><td>12.97</td><td>13.68</td><td>15.08</td><td>17.55</td><td>13.83</td><td>17.98</td><td>23</td><td>48.88</td></tr>
<tr><td>Interest</td><td>6.2</td><td>9.7</td><td>10.16</td><td>10.41</td><td>10.89</td><td>16.1</td><td>16.82</td><td>18.14</td><td>65.04</td><td>5.64</td></tr>
<tr><td>Profit before tax</td><td>-20.82</td><td>0.72</td><td>5.58</td><td>17.03</td><td>20.63</td><td>13.1</td><td>0.12</td><td>87.8</td><td>-397.68</td><td>1726.71</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>-18.73</td><td></td><td>-9.5</td><td>-109.14</td><td>483.56</td></tr>
<tr><td>Net profit</td><td>-20.82</td><td>0.72</td><td>5.57</td><td>17.03</td><td>20.63</td><td>31.83</td><td>0.13</td><td>97.3</td><td>-288.54</td><td>1243.15</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>18.52</td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>168.27</td><td>333.21</td><td>842.68</td><td>673.76</td><td>999.62</td><td>876.25</td><td>1965.52</td><td>1091.31</td><td>1910.53</td><td>1554.29</td></tr>
<tr><td>Expenses</td><td>136.19</td><td>221.07</td><td>580.81</td><td>516.84</td><td>772.66</td><td>711.7</td><td>1429.65</td><td>804.99</td><td>1462.84</td><td>1095.87</td></tr>
<tr><td>Other Income</td><td>-48.28</td><td>10.4</td><td>-1181.79</td><td>12.6</td><td>29.78</td><td>19.46</td><td>11.86</td><td>19.92</td><td>13.08</td><td>8.06</td></tr>
<tr><td>Depreciation</td><td>4.57</td><td>4.34</td><td>5.02</td><td>5.46</td><td>5.69</td><td>6.83</td><td>7.57</td><td>10.2</td><td>14.65</td><td>16.46</td></tr>
<tr><td>Interest</td><td>5.42</td><td>4.34</td><td>5.39</td><td>21.35</td><td>21.02</td><td>17.28</td><td>0.51</td><td>0.99</td><td>1.86</td><td>2.28</td></tr>
<tr><td>Profit before tax</td><td>-26.19</td><td>113.86</td><td>-930.33</td><td>142.71</td><td>230.03</td><td>159.9</td><td>539.65</td><td>295.05</td><td>444.26</td><td>447.74</td></tr>
<tr><td>Tax</td><td></td><td>-9.51</td><td></td><td></td><td></td><td>-109.14</td><td>136.4</td><td>63.79</td><td>112.69</td><td>170.68</td></tr>
<tr><td>Net profit</td><td>-26.19</td><td>123.37</td><td>-930.33</td><td>142.71</td><td>230.03</td><td>269.04</td><td>403.25</td><td>231.26</td><td>331.57</td><td>277.06</td></tr>
<tr><td>Operating Profit</td><td>32.08</td><td>112.14</td><td>261.87</td><td>156.92</td><td>226.96</td><td>164.55</td><td>535.87</td><td>286.32</td><td>447.69</td><td>458.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>22.43</td><td>22.43</td><td>22.43</td><td>22.43</td><td>22.43</td><td>22.69</td><td>25.35</td><td>37.04</td><td>50.48</td><td>50.53</td></tr>
<tr><td>Reserves</td><td>38.82</td><td>39.54</td><td>45.19</td><td>62</td><td>85.82</td><td>121.72</td><td>141.14</td><td>444.54</td><td>1478.42</td><td>2760.41</td></tr>
<tr><td>Borrowings</td><td>23.1</td><td>12.19</td><td>26.03</td><td>29.51</td><td>92.51</td><td>123.67</td><td>154.95</td><td>96.06</td><td>4.37</td><td>32.2</td></tr>
<tr><td>Other Liabilities</td><td>345.18</td><td>389.1</td><td>409.04</td><td>442.18</td><td>390.13</td><td>374.03</td><td>398.81</td><td>246.09</td><td>492.53</td><td>1093.23</td></tr>
<tr><td>Total</td><td>429.53</td><td>463.26</td><td>502.69</td><td>556.12</td><td>590.89</td><td>642.11</td><td>720.25</td><td>823.73</td><td>2025.8</td><td>3936.37</td></tr>
<tr><td>Net Block</td><td>271.02</td><td>292.66</td><td>319.89</td><td>348.24</td><td>358.18</td><td>373.93</td><td>361.67</td><td>399.66</td><td>532.37</td><td>1233.77</td></tr>
<tr><td>Capital Work in Progress</td><td>5.4</td><td>7.26</td><td>8.46</td><td>22.99</td><td>36.2</td><td>42.37</td><td>84.71</td><td>85.88</td><td>373.1</td><td>1268.15</td></tr>
<tr><td>Investments</td><td>0.08</td><td>0.13</td><td>0.13</td><td>0.13</td><td>0.13</td><td>0.13</td><td>0.14</td><td>0.14</td><td>36.93</td><td>29.27</td></tr>
<tr><td>Other Assets</td><td>153.03</td><td>163.21</td><td>174.21</td><td>184.76</td><td>196.38</td><td>225.68</td><td>273.73</td><td>338.05</td><td>1083.4</td><td>1405.18</td></tr>
<tr><td>Total</td><td>429.53</td><td>463.26</td><td>502.69</td><td>556.12</td><td>590.89</td><td>642.11</td><td>720.25</td><td>823.73</td><td>2025.8</td><td>3936.37</td></tr>
<tr><td>Receivables</td><td>22.43</td><td>21.72</td><td>10.95</td><td>15.54</td><td>23.1</td><td>7.89</td><td>6.91</td><td>23.74</td><td>24.51</td><td>79.91</td></tr>
<tr><td>Inventory</td><td>30.71</td><td>56.54</td><td>68.14</td><td>67.86</td><td>73.64</td><td>84.12</td><td>115.71</td><td>166.84</td><td>269.75</td><td>231.09</td></tr>
<tr><td>Cash & Bank</td><td>10.16</td><td>7.47</td><td>8.16</td><td>7.13</td><td>8.45</td><td>18.6</td><td>8.04</td><td>21.87</td><td>264.54</td><td>286.95</td></tr>
<tr><td>No. of Equity Shares</td><td>111689165</td><td>111689165</td><td>222980455</td><td>222980455</td><td>222980455</td><td>225576275</td><td>252147875</td><td>369117095</td><td>504800000</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>18.84</td><td>45.88</td><td>-5.54</td><td>30.2</td><td>-38.26</td><td>51.57</td><td>-14.94</td><td>-78.21</td><td>-516.43</td><td>1700.92</td></tr>
<tr><td>Cash from Investing Activity</td><td>-6.44</td><td>-33.51</td><td>-40.72</td><td>-54.58</td><td>-37.88</td><td>-34.25</td><td>-62.18</td><td>-57.35</td><td>-612.27</td><td>-1725.49</td></tr>
<tr><td>Cash from Financing Activity</td><td>-12.1</td><td>-15.06</td><td>45.96</td><td>24.5</td><td>75.97</td><td>-5.69</td><td>65.7</td><td>148.89</td><td>1142.53</td><td>-0.58</td></tr>
<tr><td>Net Cash Flow</td><td>0.3</td><td>-2.69</td><td>-0.29</td><td>0.12</td><td>-0.16</td><td>11.63</td><td>-11.42</td><td>13.33</td><td>13.83</td><td>-25.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>3.2</td><td>10.1</td><td>15.3</td><td>15.3</td><td>12.46</td><td>5.76</td><td>11</td><td>132.65</td><td>284.7</td><td>602</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>22.26</td><td>22.26</td><td>22.26</td><td>22.26</td><td>22.26</td><td>22.52</td><td>25.17</td><td>36.87</td><td>50.48</td><td>50.53</td></tr>
</table>
</body>
</html>