<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Lux Industries</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>LUX INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1469.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4419.49</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>1077.51</td><td>1207.05</td><td>1667.8</td><td>1952.52</td><td>2295.88</td><td>2378.66</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>384.99</td><td>429.54</td><td>551.23</td><td>590.9</td><td>949.97</td><td>883.28</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>52.38</td><td>-32.96</td><td>74.9</td><td>-39.84</td><td>341.78</td><td>-123.57</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>5.52</td><td>4.82</td><td>6.74</td><td>7.09</td><td>8.8</td><td>8.81</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>155.94</td><td>117</td><td>617.65</td><td>656.27</td><td>838.25</td><td>684.48</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>37.47</td><td>43.92</td><td>67.6</td><td>69.9</td><td>88.91</td><td>120.79</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>374.94</td><td>383.34</td><td>206.39</td><td>182.28</td><td>246.25</td><td>298.95</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>16.71</td><td>17.53</td><td>23.73</td><td>23.78</td><td>32.16</td><td>43.31</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>1.75</td><td>9.03</td><td>5.88</td><td>10.23</td><td>16.95</td><td>17.68</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>9.63</td><td>11.25</td><td>15.13</td><td>17.86</td><td>18.34</td><td>19.78</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>25.42</td><td>23.61</td><td>21.06</td><td>12.72</td><td>16.01</td><td>24.49</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>121.02</td><td>152.11</td><td>239.05</td><td>362.11</td><td>455.92</td><td>188.88</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>43.14</td><td>53.32</td><td>61.8</td><td>92.73</td><td>117.86</td><td>51.41</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>77.88</td><td>98.8</td><td>177.65</td><td>271.39</td><td>339.67</td><td>142.03</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td>5.3</td><td>9.28</td><td>33.12</td><td></td><td>37.56</td><td>15.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>627.2</td><td>664.32</td><td>586.91</td><td>568.72</td><td>635.7</td><td>459.05</td><td>715.19</td><td>520.59</td><td>639.27</td><td>446.86</td></tr>
<tr><td>Expenses</td><td>489.86</td><td>522.77</td><td>479.89</td><td>493.89</td><td>571.03</td><td>426.54</td><td>673.02</td><td>492.19</td><td>584.25</td><td>412.58</td></tr>
<tr><td>Other Income</td><td>3.66</td><td>3.69</td><td>6.05</td><td>2.97</td><td>2.62</td><td>3.46</td><td>9.92</td><td>4.84</td><td>4.3</td><td>3.25</td></tr>
<tr><td>Depreciation</td><td>4.34</td><td>4.77</td><td>4.91</td><td>4.79</td><td>4.85</td><td>4.78</td><td>5.36</td><td>6.07</td><td>5.88</td><td>5.99</td></tr>
<tr><td>Interest</td><td>2.73</td><td>3.7</td><td>6.96</td><td>5.22</td><td>6.23</td><td>7.23</td><td>5.81</td><td>5.8</td><td>5.41</td><td>5.06</td></tr>
<tr><td>Profit before tax</td><td>133.93</td><td>136.77</td><td>101.2</td><td>67.79</td><td>56.21</td><td>23.96</td><td>40.92</td><td>21.37</td><td>48.03</td><td>26.48</td></tr>
<tr><td>Tax</td><td>33.89</td><td>35.57</td><td>28.1</td><td>17.8</td><td>15.12</td><td>7.4</td><td>11.08</td><td>6.25</td><td>12.13</td><td>6.99</td></tr>
<tr><td>Net profit</td><td>100.44</td><td>101.3</td><td>73.76</td><td>50.74</td><td>42.01</td><td>18.08</td><td>31.21</td><td>16.68</td><td>37.09</td><td>20.21</td></tr>
<tr><td>Operating Profit</td><td>137.34</td><td>141.55</td><td>107.02</td><td>74.83</td><td>64.67</td><td>32.51</td><td>42.17</td><td>28.4</td><td>55.02</td><td>34.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>5.3</td><td>5.3</td><td>5.3</td><td>6.26</td><td>6.26</td><td>6.26</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>313.32</td><td>406.11</td><td>734.05</td><td>999.3</td><td>1303.44</td><td>1445.5</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>329.14</td><td>180.89</td><td>237.21</td><td>134.84</td><td>347.52</td><td>265.79</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>224.31</td><td>209.33</td><td>273.51</td><td>351.33</td><td>355</td><td>401.29</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>872.07</td><td>801.63</td><td>1250.07</td><td>1491.73</td><td>2012.22</td><td>2118.84</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>126.35</td><td>132.38</td><td>161.92</td><td>199.47</td><td>235.85</td><td>287.89</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>5.31</td><td>0.41</td><td>0.76</td><td>9.23</td><td>33.77</td><td>49.82</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>0.85</td><td>4.51</td><td>38.67</td><td>75.3</td><td>61.58</td><td>103.45</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>739.56</td><td>664.33</td><td>1048.72</td><td>1207.73</td><td>1681.02</td><td>1677.68</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>872.07</td><td>801.63</td><td>1250.07</td><td>1491.73</td><td>2012.22</td><td>2118.84</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>389.1</td><td>366.6</td><td>440.99</td><td>458</td><td>646.9</td><td>800.75</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>299.18</td><td>253.42</td><td>498</td><td>477.11</td><td>835.53</td><td>682.07</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>2.22</td><td>2</td><td>7.02</td><td>186.13</td><td>69.01</td><td>27.24</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>27737500</td><td>27737500</td><td>27737500</td><td>27737500</td><td>32556181</td><td>32556181</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>-2.33</td><td>189.89</td><td>152.68</td><td>388.54</td><td>-228.47</td><td>180.82</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-18.76</td><td>-12.16</td><td>-18.08</td><td>-176.54</td><td>43.8</td><td>-88.46</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>16.22</td><td>-177.9</td><td>-130.48</td><td>-133.37</td><td>152.43</td><td>-117.66</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-4.86</td><td>-0.18</td><td>4.12</td><td>78.63</td><td>-32.24</td><td>-25.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td>1701.5</td><td>1373.25</td><td>944.95</td><td>1748.35</td><td>2190.95</td><td>1161.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>2.53</td><td>2.53</td><td>2.53</td><td>2.53</td><td>3.01</td><td>3.01</td></tr>
</table>
</body>
</html>