<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Mishra Dhatu Nig</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>MISHRA DHATU NIGAM LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>409.25</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7667.81</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>554.62</td><td>647.37</td><td>716.5</td><td>773.28</td><td>661.69</td><td>710.85</td><td>712.88</td><td>813.23</td><td>859.49</td><td>871.94</td></tr>
<tr><td>Raw Material Cost</td><td>196.08</td><td>211.96</td><td>244.91</td><td>193.83</td><td>153.55</td><td>292.76</td><td>376.61</td><td>170.07</td><td>344.9</td><td>391.18</td></tr>
<tr><td>Change in Inventory</td><td>9.56</td><td>-7.33</td><td>-37.97</td><td>-77.64</td><td>35.99</td><td>103.99</td><td>257.23</td><td>-41.59</td><td>154.1</td><td>228.32</td></tr>
<tr><td>Power and Fuel</td><td>43.11</td><td>52.37</td><td>52.1</td><td>59.3</td><td>53.95</td><td>56.24</td><td>62.02</td><td>42.32</td><td>63.01</td><td>102.79</td></tr>
<tr><td>Other Mfr. Exp</td><td>70.86</td><td>71.9</td><td>84.97</td><td>98.19</td><td>119.03</td><td>125.1</td><td>158.53</td><td>159.01</td><td>176.78</td><td>173.21</td></tr>
<tr><td>Employee Cost</td><td>96.7</td><td>98.87</td><td>90.76</td><td>109.39</td><td>128.43</td><td>108.52</td><td>123.56</td><td>121.01</td><td>122.55</td><td>125.9</td></tr>
<tr><td>Selling and admin</td><td>31.41</td><td>43.93</td><td>34.32</td><td>38.82</td><td>41.62</td><td>37.24</td><td>42.94</td><td>27.23</td><td>31.07</td><td>38.05</td></tr>
<tr><td>Other Expenses</td><td>19.69</td><td>31.82</td><td>19.53</td><td>10.08</td><td>9.7</td><td>10.43</td><td>7.41</td><td>6.05</td><td>11.9</td><td>10.45</td></tr>
<tr><td>Other Income</td><td>26.19</td><td>22.69</td><td>29</td><td>23.38</td><td>35.58</td><td>36.89</td><td>36.44</td><td>19.83</td><td>31.31</td><td>37.78</td></tr>
<tr><td>Depreciation</td><td>6.04</td><td>9.79</td><td>14.07</td><td>17.66</td><td>19.64</td><td>23.19</td><td>26.11</td><td>27</td><td>33</td><td>53</td></tr>
<tr><td>Interest</td><td>5.05</td><td>8.1</td><td>5.03</td><td>5.39</td><td>9.09</td><td>7.2</td><td>7.28</td><td>12.69</td><td>22.57</td><td>26.91</td></tr>
<tr><td>Profit before tax</td><td>121.43</td><td>133.99</td><td>161.84</td><td>186.36</td><td>198.25</td><td>191.05</td><td>202.09</td><td>226.09</td><td>239.12</td><td>216.55</td></tr>
<tr><td>Tax</td><td>38.97</td><td>34.82</td><td>42.48</td><td>60.04</td><td>66.99</td><td>60.49</td><td>42.35</td><td>59.8</td><td>62.81</td><td>60.67</td></tr>
<tr><td>Net profit</td><td>82.46</td><td>99.16</td><td>119.37</td><td>126.31</td><td>131.26</td><td>130.56</td><td>159.73</td><td>166.29</td><td>176.31</td><td>155.88</td></tr>
<tr><td>Dividend Amount</td><td>37.47</td><td>37.47</td><td>33.46</td><td>37.9</td><td>39.34</td><td>41.03</td><td>47.96</td><td>52.08</td><td>58.08</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>187.92</td><td>234.22</td><td>323.29</td><td>114.93</td><td>180.95</td><td>231.49</td><td>344.57</td><td>187.72</td><td>227.49</td><td>251.97</td></tr>
<tr><td>Expenses</td><td>136.06</td><td>171.21</td><td>201.38</td><td>81.91</td><td>122.28</td><td>165.81</td><td>244.41</td><td>146.19</td><td>191.19</td><td>216.07</td></tr>
<tr><td>Other Income</td><td>2.1</td><td>5.32</td><td>15.69</td><td>7.39</td><td>9.41</td><td>8.87</td><td>12.1</td><td>8.02</td><td>7.57</td><td>6.22</td></tr>
<tr><td>Depreciation</td><td>7.02</td><td>7.02</td><td>12.1</td><td>12.37</td><td>13.35</td><td>13.58</td><td>13.7</td><td>14.19</td><td>14.44</td><td>14.46</td></tr>
<tr><td>Interest</td><td>1.6</td><td>3.05</td><td>15.04</td><td>4.63</td><td>5.85</td><td>7.16</td><td>8.09</td><td>8.63</td><td>8.79</td><td>8.74</td></tr>
<tr><td>Profit before tax</td><td>45.34</td><td>58.26</td><td>110.46</td><td>23.41</td><td>48.88</td><td>53.81</td><td>90.47</td><td>26.73</td><td>20.64</td><td>18.92</td></tr>
<tr><td>Tax</td><td>11.71</td><td>15.38</td><td>29.47</td><td>5.7</td><td>15.32</td><td>15.31</td><td>24.35</td><td>8.19</td><td>6.79</td><td>6.43</td></tr>
<tr><td>Net profit</td><td>33.63</td><td>42.88</td><td>80.99</td><td>17.7</td><td>33.56</td><td>38.5</td><td>66.11</td><td>18.54</td><td>13.85</td><td>12.49</td></tr>
<tr><td>Operating Profit</td><td>51.86</td><td>63.01</td><td>121.91</td><td>33.02</td><td>58.67</td><td>65.68</td><td>100.16</td><td>41.53</td><td>36.3</td><td>35.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td><td>187.34</td></tr>
<tr><td>Reserves</td><td>257.79</td><td>352.72</td><td>432.33</td><td>517</td><td>601.7</td><td>647.37</td><td>771.05</td><td>885.29</td><td>1003.38</td><td>1098.85</td></tr>
<tr><td>Borrowings</td><td>56.57</td><td>58.88</td><td>13.07</td><td>21.29</td><td>92.85</td><td>106.66</td><td>133.62</td><td>160.44</td><td>359.8</td><td>488.65</td></tr>
<tr><td>Other Liabilities</td><td>848.63</td><td>564.12</td><td>488.11</td><td>375.41</td><td>483.31</td><td>883.3</td><td>1305.98</td><td>1227.66</td><td>1230.14</td><td>1088.77</td></tr>
<tr><td>Total</td><td>1350.33</td><td>1163.06</td><td>1120.85</td><td>1101.04</td><td>1365.2</td><td>1824.67</td><td>2397.99</td><td>2460.73</td><td>2780.66</td><td>2863.61</td></tr>
<tr><td>Net Block</td><td>115.48</td><td>244.28</td><td>262.96</td><td>327.38</td><td>344.43</td><td>424.95</td><td>440.75</td><td>428.92</td><td>938.49</td><td>1015.5</td></tr>
<tr><td>Capital Work in Progress</td><td>117.93</td><td>9.44</td><td>6.69</td><td>6.21</td><td>64.99</td><td>175.05</td><td>404.82</td><td>548.74</td><td>131.87</td><td>79.64</td></tr>
<tr><td>Investments</td><td>2.1</td><td>2.1</td><td>2.1</td><td>2.1</td><td>2.1</td><td>2.1</td><td>22.1</td><td>22.1</td><td>22.1</td><td>22.1</td></tr>
<tr><td>Other Assets</td><td>1114.82</td><td>907.24</td><td>849.1</td><td>765.35</td><td>953.68</td><td>1222.57</td><td>1530.32</td><td>1460.97</td><td>1688.2</td><td>1746.37</td></tr>
<tr><td>Total</td><td>1350.33</td><td>1163.06</td><td>1120.85</td><td>1101.04</td><td>1365.2</td><td>1824.67</td><td>2397.99</td><td>2460.73</td><td>2780.66</td><td>2863.61</td></tr>
<tr><td>Receivables</td><td>243.63</td><td>220.08</td><td>209.05</td><td>288.53</td><td>413.43</td><td>352.24</td><td>297.4</td><td>386.14</td><td>306.31</td><td>315.8</td></tr>
<tr><td>Inventory</td><td>452.79</td><td>423.02</td><td>288.55</td><td>206.04</td><td>241.38</td><td>508.84</td><td>910.5</td><td>800.84</td><td>1091.49</td><td>1224.84</td></tr>
<tr><td>Cash & Bank</td><td>105.65</td><td>89.4</td><td>195.86</td><td>207.93</td><td>180.08</td><td>198</td><td>110.9</td><td>93.95</td><td>62.58</td><td>14.42</td></tr>
<tr><td>No. of Equity Shares</td><td>1873400</td><td>1873400</td><td>1873400</td><td>1873400</td><td>187340000</td><td>187340000</td><td>187340000</td><td>187340000</td><td>187340000</td><td>187340000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1000</td><td>1000</td><td>1000</td><td>1000</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>118.94</td><td>20.26</td><td>296.03</td><td>204.44</td><td>175.88</td><td>5.11</td><td>-35.41</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-64.85</td><td>-78.05</td><td>-205.37</td><td>-195.24</td><td>-114.95</td><td>-67.77</td><td>-2.95</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-42.52</td><td>24.9</td><td>-77.96</td><td>-13.06</td><td>-36.92</td><td>38.66</td><td>42.78</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>11.57</td><td>-32.9</td><td>12.7</td><td>-3.87</td><td>24</td><td>-23.99</td><td>4.41</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td>141.1</td><td>178.85</td><td>176.85</td><td>165.65</td><td>184.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>0.19</td><td>0.19</td><td>0.19</td><td>0.19</td><td>18.73</td><td>18.73</td><td>18.73</td><td>18.73</td><td>18.73</td><td>18.73</td></tr>
</table>
</body>
</html>