<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\MRF</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>MRF LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>125750</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>53315.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-09-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>13329.3</td><td>20179.41</td><td>13411.98</td><td>14953.71</td><td>16061.72</td><td>16237.38</td><td>16162.49</td><td>19316.65</td><td>23008.33</td><td>25169.21</td></tr>
<tr><td>Raw Material Cost</td><td>8442.09</td><td>11288.89</td><td>7722.8</td><td>9031.34</td><td>10323.17</td><td>9599.63</td><td>8968.25</td><td>13436.89</td><td>15786.49</td><td>15265.35</td></tr>
<tr><td>Change in Inventory</td><td>-14.41</td><td>14.48</td><td>227.71</td><td>-77.61</td><td>613.83</td><td>-17.4</td><td>-354.25</td><td>856.15</td><td>346.91</td><td>184.32</td></tr>
<tr><td>Power and Fuel</td><td>665.57</td><td>843.37</td><td>580.94</td><td>638.23</td><td>763.53</td><td>721.56</td><td>655.2</td><td>931.94</td><td>1136.03</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>524.71</td><td>906.11</td><td>639.8</td><td>697.33</td><td>827.7</td><td>838.44</td><td>723.67</td><td>915.29</td><td>958.08</td><td></td></tr>
<tr><td>Employee Cost</td><td>742.5</td><td>1285.46</td><td>1000.55</td><td>1092.55</td><td>1165.48</td><td>1345.13</td><td>1415.26</td><td>1502.19</td><td>1595.63</td><td>1796.78</td></tr>
<tr><td>Selling and admin</td><td>905.01</td><td>1207.31</td><td>868.99</td><td>961.24</td><td>1073.69</td><td>1066</td><td>866.51</td><td>1113.3</td><td>1241.15</td><td></td></tr>
<tr><td>Other Expenses</td><td>89.62</td><td>226.18</td><td>177.57</td><td>166.98</td><td>204.63</td><td>267.2</td><td>225.13</td><td>212.2</td><td>233.65</td><td>4037.84</td></tr>
<tr><td>Other Income</td><td>63.28</td><td>317.05</td><td>327.49</td><td>329.68</td><td>415.83</td><td>335.38</td><td>205.03</td><td>314.79</td><td>245.02</td><td>316.84</td></tr>
<tr><td>Depreciation</td><td>423.88</td><td>737.12</td><td>610.58</td><td>706.72</td><td>807.6</td><td>982.32</td><td>1140.77</td><td>1205.05</td><td>1253.05</td><td>1429.97</td></tr>
<tr><td>Interest</td><td>231.7</td><td>360.6</td><td>256.58</td><td>258.74</td><td>273.4</td><td>300.83</td><td>281.64</td><td>262.8</td><td>326.44</td><td>353.01</td></tr>
<tr><td>Profit before tax</td><td>1353.09</td><td>3655.9</td><td>2109.37</td><td>1652.65</td><td>1652.18</td><td>1434.25</td><td>1736.84</td><td>907.93</td><td>1069.74</td><td>2787.42</td></tr>
<tr><td>Tax</td><td>444.76</td><td>1146.47</td><td>623.15</td><td>521.04</td><td>521.57</td><td>11.68</td><td>459.77</td><td>238.69</td><td>300.78</td><td>706.19</td></tr>
<tr><td>Net profit</td><td>908.32</td><td>2509.43</td><td>1486.22</td><td>1131.61</td><td>1130.6</td><td>1422.56</td><td>1277.06</td><td>669.23</td><td>768.95</td><td>2081.22</td></tr>
<tr><td>Dividend Amount</td><td>21.2</td><td>42.4</td><td>25.44</td><td>25.44</td><td>25.44</td><td>42.4</td><td>63.6</td><td>63.6</td><td>74.2</td><td>84.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4920.13</td><td>5304.82</td><td>5695.93</td><td>5826.3</td><td>5644.55</td><td>5841.72</td><td>6440.29</td><td>6217.1</td><td>6162.46</td><td>6349.36</td></tr>
<tr><td>Expenses</td><td>4427.15</td><td>4764.62</td><td>5202.53</td><td>5345.73</td><td>5082.96</td><td>4988.18</td><td>5310.44</td><td>5060.19</td><td>5107.69</td><td>5437.33</td></tr>
<tr><td>Other Income</td><td>69.54</td><td>66.01</td><td>34.44</td><td>77.08</td><td>71.36</td><td>69.79</td><td>74.69</td><td>70.72</td><td>77.62</td><td>93.81</td></tr>
<tr><td>Depreciation</td><td>295.71</td><td>310.77</td><td>298.08</td><td>309.48</td><td>315.85</td><td>329.63</td><td>333.26</td><td>351.48</td><td>359.98</td><td>385.25</td></tr>
<tr><td>Interest</td><td>64.47</td><td>67.4</td><td>66.02</td><td>74.61</td><td>85.91</td><td>92.47</td><td>84.22</td><td>85.54</td><td>90</td><td>93.25</td></tr>
<tr><td>Profit before tax</td><td>202.34</td><td>228.04</td><td>163.74</td><td>173.56</td><td>231.19</td><td>501.23</td><td>787.06</td><td>790.61</td><td>682.41</td><td>527.34</td></tr>
<tr><td>Tax</td><td>52.95</td><td>62.83</td><td>40.14</td><td>43.7</td><td>56.36</td><td>160.58</td><td>198.31</td><td>203.95</td><td>172.7</td><td>131.23</td></tr>
<tr><td>Net profit</td><td>149.39</td><td>165.2</td><td>123.6</td><td>129.86</td><td>174.83</td><td>340.64</td><td>588.75</td><td>586.66</td><td>509.71</td><td>396.1</td></tr>
<tr><td>Operating Profit</td><td>492.98</td><td>540.2</td><td>493.4</td><td>480.57</td><td>561.59</td><td>853.54</td><td>1129.85</td><td>1156.91</td><td>1054.77</td><td>912.03</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-09-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td><td>4.24</td></tr>
<tr><td>Reserves</td><td>4535.31</td><td>7220.1</td><td>8636.52</td><td>9733.95</td><td>10833.11</td><td>12210.47</td><td>13409.43</td><td>14027.51</td><td>14703.42</td><td>16698.75</td></tr>
<tr><td>Borrowings</td><td>1902.77</td><td>2463.9</td><td>2332.84</td><td>2162.9</td><td>2506.31</td><td>1854.14</td><td>2388.23</td><td>3228.95</td><td>3013.61</td><td>2821.5</td></tr>
<tr><td>Other Liabilities</td><td>3390.73</td><td>3565.57</td><td>4074.56</td><td>4577.13</td><td>5097.54</td><td>5373.49</td><td>6779.96</td><td>5799.04</td><td>6648.14</td><td>7324.94</td></tr>
<tr><td>Total</td><td>9833.05</td><td>13253.81</td><td>15048.16</td><td>16478.22</td><td>18441.2</td><td>19442.34</td><td>22581.86</td><td>23059.74</td><td>24369.41</td><td>26849.43</td></tr>
<tr><td>Net Block</td><td>3435.86</td><td>4608.29</td><td>5502.24</td><td>6092.17</td><td>6786</td><td>8869.76</td><td>9440.75</td><td>9521.82</td><td>10117.97</td><td>12046.22</td></tr>
<tr><td>Capital Work in Progress</td><td>627.54</td><td>1059.28</td><td>847.93</td><td>1078.91</td><td>1403.47</td><td>1740.94</td><td>1002.23</td><td>1233.07</td><td>3045.86</td><td>2384.53</td></tr>
<tr><td>Investments</td><td>1081.19</td><td>3137.9</td><td>3382.1</td><td>4145</td><td>3854.68</td><td>1519.33</td><td>5874.02</td><td>3656.46</td><td>3085.11</td><td>3382.97</td></tr>
<tr><td>Other Assets</td><td>4688.46</td><td>4448.34</td><td>5315.89</td><td>5162.14</td><td>6397.05</td><td>7312.31</td><td>6264.86</td><td>8648.39</td><td>8120.47</td><td>9035.71</td></tr>
<tr><td>Total</td><td>9833.05</td><td>13253.81</td><td>15048.16</td><td>16478.22</td><td>18441.2</td><td>19442.34</td><td>22581.86</td><td>23059.74</td><td>24369.41</td><td>26849.43</td></tr>
<tr><td>Receivables</td><td>1715.36</td><td>1838.72</td><td>1969</td><td>2149.93</td><td>2382.71</td><td>2299.4</td><td>2145.96</td><td>2332.68</td><td>2503.27</td><td>2911.96</td></tr>
<tr><td>Inventory</td><td>1826.25</td><td>1899.81</td><td>2425.27</td><td>2197.33</td><td>2993.2</td><td>2905.18</td><td>2938.81</td><td>4129.67</td><td>4141.05</td><td>4468.58</td></tr>
<tr><td>Cash & Bank</td><td>727.61</td><td>124.23</td><td>342.61</td><td>232.9</td><td>104.5</td><td>1181.14</td><td>169.39</td><td>256.13</td><td>258.49</td><td>345.38</td></tr>
<tr><td>No. of Equity Shares</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td>4241143</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-09-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>1699.48</td><td>3043.47</td><td>1955.72</td><td>2412.98</td><td>1252.85</td><td>2271.23</td><td>4324.58</td><td>-578.01</td><td>2755.47</td><td>3300.5</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1790.64</td><td>-3407.81</td><td>-1392.7</td><td>-2013.88</td><td>-1386.15</td><td>-162.31</td><td>-5086.57</td><td>168.73</td><td>-1921.81</td><td>-2379.18</td></tr>
<tr><td>Cash from Financing Activity</td><td>67.16</td><td>212.31</td><td>-437.62</td><td>-452.58</td><td>42.19</td><td>-1032.35</td><td>-249.68</td><td>423.74</td><td>-839.54</td><td>-868.22</td></tr>
<tr><td>Net Cash Flow</td><td>-24</td><td>-152.03</td><td>125.4</td><td>-53.48</td><td>-91.11</td><td>1076.57</td><td>-1011.67</td><td>14.46</td><td>-5.88</td><td>53.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>32681.95</td><td>38296.75</td><td>60954.45</td><td>72513.25</td><td>57987.15</td><td>58164.45</td><td>82259.45</td><td>65022.1</td><td>84047.2</td><td>133387.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td><td>0.42</td></tr>
</table>
</body>
</html>