<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\MTAR Technologie</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>MTAR TECHNOLOGIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1789.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5502.91</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>105.03</td><td>80.89</td><td>81.48</td><td>100.68</td><td>156.62</td><td>183.67</td><td>213.77</td><td>246.43</td><td>322.01</td><td>573.35</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>65.98</td><td>65.53</td><td>87.26</td><td>101.75</td><td>157.41</td><td>314.72</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>9.05</td><td>2.97</td><td>15.09</td><td>21.6</td><td>41.15</td><td>45.68</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>6.33</td><td>6.47</td><td>7.24</td><td>6.71</td><td>8.95</td><td>13.03</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>10.76</td><td>11.31</td><td>14.8</td><td>14.64</td><td>19.85</td><td>28.25</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>44.61</td><td>43.51</td><td>51.63</td><td>53.04</td><td>70.78</td><td>92.36</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>3.87</td><td>4.9</td><td>7.43</td><td>6.53</td><td>8.94</td><td>12.26</td></tr>
<tr><td>Other Expenses</td><td>85.77</td><td>79.01</td><td>70.83</td><td>112.76</td><td>2.24</td><td>1.2</td><td>2.54</td><td>2.27</td><td>2.79</td><td>4.27</td></tr>
<tr><td>Other Income</td><td>1.73</td><td>3.26</td><td>0.81</td><td>0.78</td><td>0.94</td><td>3.53</td><td>4.37</td><td>1.31</td><td>8.75</td><td>19.52</td></tr>
<tr><td>Depreciation</td><td>9.54</td><td>4.81</td><td>5.3</td><td>5</td><td>11.21</td><td>11.23</td><td>12.05</td><td>12.56</td><td>14.31</td><td>18.27</td></tr>
<tr><td>Interest</td><td>8.57</td><td>7.58</td><td>6.7</td><td>5.35</td><td>4.46</td><td>4.46</td><td>4.75</td><td>7</td><td>6.65</td><td>14.5</td></tr>
<tr><td>Profit before tax</td><td>2.88</td><td>-7.25</td><td>-0.54</td><td>-21.65</td><td>17.15</td><td>41.56</td><td>45.53</td><td>64.84</td><td>82.23</td><td>140.89</td></tr>
<tr><td>Tax</td><td>1.07</td><td>-2.63</td><td>-0.72</td><td>-6.59</td><td>11.73</td><td>2.35</td><td>14.22</td><td>18.77</td><td>21.35</td><td>36.82</td></tr>
<tr><td>Net profit</td><td>1.81</td><td>-4.62</td><td>0.18</td><td>-15.06</td><td>5.42</td><td>39.2</td><td>31.32</td><td>46.08</td><td>60.88</td><td>104.08</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td>8.46</td><td>13.38</td><td>18.46</td><td>9.23</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>91.3</td><td>78.1</td><td>98.58</td><td>91</td><td>125.85</td><td>160.17</td><td>196.33</td><td>152.16</td><td>166.72</td><td>118.22</td></tr>
<tr><td>Expenses</td><td>61.86</td><td>55.28</td><td>70.87</td><td>65.95</td><td>90.7</td><td>115.03</td><td>147.72</td><td>118.55</td><td>130.5</td><td>94.52</td></tr>
<tr><td>Other Income</td><td>2.57</td><td>1.15</td><td>2.44</td><td>3.82</td><td>5.42</td><td>5.81</td><td>4.66</td><td>4.21</td><td>1</td><td>0.59</td></tr>
<tr><td>Depreciation</td><td>3.52</td><td>3.7</td><td>3.75</td><td>4.05</td><td>4.49</td><td>4.72</td><td>5.02</td><td>5.49</td><td>5.65</td><td>5.72</td></tr>
<tr><td>Interest</td><td>1.39</td><td>1.52</td><td>2.57</td><td>2.39</td><td>2.65</td><td>3.86</td><td>5.6</td><td>5.68</td><td>5.44</td><td>5.54</td></tr>
<tr><td>Profit before tax</td><td>27.1</td><td>18.75</td><td>23.83</td><td>22.43</td><td>33.43</td><td>42.37</td><td>42.65</td><td>26.65</td><td>26.13</td><td>13.03</td></tr>
<tr><td>Tax</td><td>8.05</td><td>5.44</td><td>4.03</td><td>5.99</td><td>8.25</td><td>10.66</td><td>11.91</td><td>6.84</td><td>5.3</td><td>2.47</td></tr>
<tr><td>Net profit</td><td>19.06</td><td>13.31</td><td>19.81</td><td>16.43</td><td>25.18</td><td>31.72</td><td>30.74</td><td>19.81</td><td>20.83</td><td>10.56</td></tr>
<tr><td>Operating Profit</td><td>29.44</td><td>22.82</td><td>27.71</td><td>25.05</td><td>35.15</td><td>45.14</td><td>48.61</td><td>33.61</td><td>36.22</td><td>23.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>28.21</td><td>28.21</td><td>28.21</td><td>28.21</td><td>28.21</td><td>28.21</td><td>26.76</td><td>30.76</td><td>30.76</td><td>30.76</td></tr>
<tr><td>Reserves</td><td>185.25</td><td>180.5</td><td>180.62</td><td>165.56</td><td>177.31</td><td>206.77</td><td>198.32</td><td>446</td><td>489.01</td><td>590.05</td></tr>
<tr><td>Borrowings</td><td>43.69</td><td>48.76</td><td>25.61</td><td>29.12</td><td>19.79</td><td>28.73</td><td>29.13</td><td>16.98</td><td>95.89</td><td>142.79</td></tr>
<tr><td>Other Liabilities</td><td>72.84</td><td>48.04</td><td>38.32</td><td>71.18</td><td>55.72</td><td>41.45</td><td>92.06</td><td>92.58</td><td>112.11</td><td>299.34</td></tr>
<tr><td>Total</td><td>329.99</td><td>305.51</td><td>272.76</td><td>294.07</td><td>281.03</td><td>305.16</td><td>346.27</td><td>586.32</td><td>727.77</td><td>1062.94</td></tr>
<tr><td>Net Block</td><td>151.35</td><td>145.4</td><td>145.78</td><td>148.24</td><td>152.23</td><td>162.19</td><td>155.1</td><td>167.06</td><td>196.4</td><td>282.31</td></tr>
<tr><td>Capital Work in Progress</td><td>7.43</td><td>7.75</td><td>7.75</td><td>7.75</td><td>1.84</td><td>5.62</td><td>11.73</td><td>10.52</td><td>43.8</td><td>63.16</td></tr>
<tr><td>Investments</td><td>0.01</td><td>0.01</td><td>0.01</td><td>0.01</td><td>0.01</td><td>0.01</td><td>0.02</td><td>0.02</td><td>62.35</td><td>34.18</td></tr>
<tr><td>Other Assets</td><td>171.2</td><td>152.35</td><td>119.22</td><td>138.07</td><td>126.95</td><td>137.34</td><td>179.42</td><td>408.72</td><td>425.22</td><td>683.29</td></tr>
<tr><td>Total</td><td>329.99</td><td>305.51</td><td>272.76</td><td>294.07</td><td>281.03</td><td>305.16</td><td>346.27</td><td>586.32</td><td>727.77</td><td>1062.94</td></tr>
<tr><td>Receivables</td><td>16.25</td><td>15.63</td><td>19.61</td><td>38.66</td><td>48.97</td><td>50.42</td><td>61.64</td><td>77.28</td><td>135.98</td><td>208.12</td></tr>
<tr><td>Inventory</td><td>51.21</td><td>52.55</td><td>36.74</td><td>31.52</td><td>41.93</td><td>41.07</td><td>75.46</td><td>102.54</td><td>170.32</td><td>385.97</td></tr>
<tr><td>Cash & Bank</td><td>6.09</td><td>2.91</td><td>6.94</td><td>9.77</td><td>9.08</td><td>10.77</td><td>23.24</td><td>190.9</td><td>66.92</td><td>30.98</td></tr>
<tr><td>No. of Equity Shares</td><td>28213886</td><td>28213886</td><td>28214132</td><td>28214132</td><td>28214132</td><td>28214132</td><td>26759591</td><td>30759591</td><td>30759591</td><td>30759591</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>14.42</td><td>42.11</td><td>56.19</td><td>8.62</td><td>-29.8</td><td>8.87</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-1.33</td><td>-32.92</td><td>-12.06</td><td>-22.01</td><td>-145</td><td>-88.47</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-13.79</td><td>-7.49</td><td>-41.35</td><td>180.14</td><td>54.06</td><td>32.27</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-0.7</td><td>1.7</td><td>2.78</td><td>166.74</td><td>-120.74</td><td>-47.32</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1023.7</td><td>1753.75</td><td>1581.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>2.82</td><td>2.82</td><td>2.82</td><td>2.82</td><td>2.82</td><td>2.82</td><td>2.68</td><td>3.08</td><td>3.08</td><td>3.08</td></tr>
</table>
</body>
</html>