<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Natl</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>NATIONAL ALUMINIUM COMPANY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>170.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>31351.74</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>6780.85</td><td>7382.81</td><td>6817.66</td><td>7543.04</td><td>9509.45</td><td>11499.32</td><td>8471.84</td><td>8955.79</td><td>14214.58</td><td>14254.86</td></tr>
<tr><td>Raw Material Cost</td><td>1063.16</td><td>1031.59</td><td>1104.41</td><td>1181.79</td><td>1465.31</td><td>1919.68</td><td>1702.48</td><td>1315.43</td><td>1971.13</td><td>3172.12</td></tr>
<tr><td>Change in Inventory</td><td>-58.55</td><td>-2.9</td><td>8.99</td><td>96.59</td><td>-47.43</td><td>5.08</td><td>365.23</td><td>5.76</td><td>116.83</td><td>16.66</td></tr>
<tr><td>Power and Fuel</td><td>2038.26</td><td>1826.37</td><td>1888.79</td><td>2236.71</td><td>2774.63</td><td>2956.49</td><td>2996.64</td><td>2672.22</td><td>3423.05</td><td>4728.24</td></tr>
<tr><td>Other Mfr. Exp</td><td>733.97</td><td>738.91</td><td>720.11</td><td>714.18</td><td>813.72</td><td>897.4</td><td>869.6</td><td>848.27</td><td>1243.71</td><td>1354.7</td></tr>
<tr><td>Employee Cost</td><td>1245.33</td><td>1377.91</td><td>1398.33</td><td>1537.44</td><td>2261.2</td><td>2072.28</td><td>1994.07</td><td>1930.24</td><td>2386.07</td><td>1841.99</td></tr>
<tr><td>Selling and admin</td><td>437.61</td><td>427.31</td><td>444.94</td><td>497.04</td><td>522.96</td><td>543.16</td><td>572.83</td><td>579.61</td><td>601.16</td><td>584.41</td></tr>
<tr><td>Other Expenses</td><td>67.15</td><td>354.09</td><td>363.36</td><td>392.82</td><td>226.75</td><td>222.86</td><td>212.22</td><td>-166.22</td><td>155.79</td><td>141.98</td></tr>
<tr><td>Other Income</td><td>508.34</td><td>1070.1</td><td>711.33</td><td>368.12</td><td>1123.73</td><td>325.87</td><td>272.58</td><td>147.42</td><td>264.09</td><td>235.63</td></tr>
<tr><td>Depreciation</td><td>524.73</td><td>413.66</td><td>426.12</td><td>480.36</td><td>480.4</td><td>476.1</td><td>529.83</td><td>605.82</td><td>836.59</td><td>715.8</td></tr>
<tr><td>Interest</td><td>202.62</td><td>166.75</td><td>3.27</td><td>2.69</td><td>1.95</td><td>2.38</td><td>5.74</td><td>7.08</td><td>23.13</td><td>12.92</td></tr>
<tr><td>Profit before tax</td><td>917.81</td><td>2113.42</td><td>1188.65</td><td>964.72</td><td>2038.83</td><td>2739.92</td><td>226.24</td><td>1316.52</td><td>3954.87</td><td>1954.99</td></tr>
<tr><td>Tax</td><td>275.46</td><td>791.57</td><td>401.54</td><td>296.19</td><td>696.42</td><td>1007.52</td><td>88.01</td><td>16.99</td><td>1002.9</td><td>410.5</td></tr>
<tr><td>Net profit</td><td>642.35</td><td>1321.85</td><td>787.11</td><td>668.53</td><td>1342.41</td><td>1732.4</td><td>138.23</td><td>1299.53</td><td>2951.97</td><td>1544.49</td></tr>
<tr><td>Dividend Amount</td><td>386.59</td><td>451.02</td><td>515.45</td><td>541.22</td><td>1101.76</td><td>1072.73</td><td>279.84</td><td>642.82</td><td>1193.82</td><td>826.49</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3592.18</td><td>3773.26</td><td>4350.58</td><td>3795.15</td><td>3489.57</td><td>3297.19</td><td>3670.86</td><td>3178.36</td><td>3043.42</td><td>3346.9</td></tr>
<tr><td>Expenses</td><td>2464.91</td><td>2582.74</td><td>2723.72</td><td>2915.6</td><td>3155.2</td><td>2831.62</td><td>2904.34</td><td>2584.02</td><td>2646.91</td><td>2573.77</td></tr>
<tr><td>Other Income</td><td>42.41</td><td>71.99</td><td>141.54</td><td>52.02</td><td>69.26</td><td>60.52</td><td>55.9</td><td>48.52</td><td>68.6</td><td>50.97</td></tr>
<tr><td>Depreciation</td><td>151.79</td><td>151.47</td><td>384.19</td><td>149.65</td><td>153.65</td><td>157.06</td><td>255.44</td><td>169.69</td><td>186.15</td><td>153.79</td></tr>
<tr><td>Interest</td><td>1.82</td><td>1.91</td><td>16.15</td><td>3.87</td><td>4.1</td><td>4.23</td><td>0.72</td><td>2.26</td><td>3.99</td><td>2.1</td></tr>
<tr><td>Profit before tax</td><td>1016.07</td><td>1109.13</td><td>1368.06</td><td>778.05</td><td>245.88</td><td>364.8</td><td>566.26</td><td>470.91</td><td>274.97</td><td>668.21</td></tr>
<tr><td>Tax</td><td>268.37</td><td>278.27</td><td>342.38</td><td>199.41</td><td>75.76</td><td>90.95</td><td>44.38</td><td>121.52</td><td>68.71</td><td>179.74</td></tr>
<tr><td>Net profit</td><td>747.7</td><td>830.86</td><td>1025.68</td><td>578.64</td><td>170.12</td><td>273.85</td><td>521.88</td><td>349.39</td><td>206.26</td><td>488.47</td></tr>
<tr><td>Operating Profit</td><td>1127.27</td><td>1190.52</td><td>1626.86</td><td>879.55</td><td>334.37</td><td>465.57</td><td>766.52</td><td>594.34</td><td>396.51</td><td>773.13</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>1288.62</td><td>1288.62</td><td>1288.62</td><td>966.46</td><td>966.46</td><td>932.81</td><td>932.81</td><td>918.32</td><td>918.32</td><td>918.32</td></tr>
<tr><td>Reserves</td><td>10833.83</td><td>11508.68</td><td>11906.13</td><td>9239.33</td><td>9538.35</td><td>9551.7</td><td>9055.26</td><td>9762.38</td><td>11636.32</td><td>12320.13</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>51.09</td><td>44.99</td><td>66.79</td><td>12.31</td><td>102.08</td><td>77.1</td><td>104.61</td></tr>
<tr><td>Other Liabilities</td><td>4426.33</td><td>3380.37</td><td>3515.44</td><td>4244.77</td><td>4064</td><td>4595.66</td><td>4549.24</td><td>3927.8</td><td>4857.09</td><td>4395.63</td></tr>
<tr><td>Total</td><td>16548.78</td><td>16177.67</td><td>16710.19</td><td>14501.65</td><td>14613.8</td><td>15146.96</td><td>14549.62</td><td>14710.58</td><td>17488.83</td><td>17738.69</td></tr>
<tr><td>Net Block</td><td>6791.94</td><td>6645.42</td><td>6595.68</td><td>7144.43</td><td>7139.46</td><td>7285.78</td><td>7484.77</td><td>7660.46</td><td>7343.21</td><td>7302.83</td></tr>
<tr><td>Capital Work in Progress</td><td>768.74</td><td>549.73</td><td>687.7</td><td>566</td><td>915.22</td><td>882.71</td><td>1426.7</td><td>1575.45</td><td>2234.82</td><td>3268.92</td></tr>
<tr><td>Investments</td><td>1245.04</td><td>951.04</td><td>1010.36</td><td>1260.68</td><td>710.57</td><td>256.59</td><td>332.26</td><td>561.63</td><td>377.26</td><td>470.83</td></tr>
<tr><td>Other Assets</td><td>7743.06</td><td>8031.48</td><td>8416.45</td><td>5530.54</td><td>5848.55</td><td>6721.88</td><td>5305.89</td><td>4913.04</td><td>7533.54</td><td>6696.11</td></tr>
<tr><td>Total</td><td>16548.78</td><td>16177.67</td><td>16710.19</td><td>14501.65</td><td>14613.8</td><td>15146.96</td><td>14549.62</td><td>14710.58</td><td>17488.83</td><td>17738.69</td></tr>
<tr><td>Receivables</td><td>243.57</td><td>120.82</td><td>235.21</td><td>184.25</td><td>258.13</td><td>240.52</td><td>140.09</td><td>147.39</td><td>75.25</td><td>91.33</td></tr>
<tr><td>Inventory</td><td>1173.93</td><td>1165.56</td><td>1055.01</td><td>1155.93</td><td>1194.08</td><td>1210.01</td><td>1696.9</td><td>1476.32</td><td>1645.6</td><td>1840.22</td></tr>
<tr><td>Cash & Bank</td><td>4048.29</td><td>4627.98</td><td>5103.15</td><td>2287.23</td><td>2768.95</td><td>3496.35</td><td>1980.53</td><td>1749.78</td><td>3706.07</td><td>2117.5</td></tr>
<tr><td>No. of Equity Shares</td><td>2577238500</td><td>2577238512</td><td>2577238512</td><td>1932928884</td><td>1932928884</td><td>1865617498</td><td>1865617498</td><td>1836631787</td><td>1836631787</td><td>1836631787</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>981.34</td><td>520.47</td><td>880.81</td><td>1435.94</td><td>1590.33</td><td>2408.85</td><td>-348.56</td><td>2199.4</td><td>4049.61</td><td>908.24</td></tr>
<tr><td>Cash from Investing Activity</td><td>78.05</td><td>565.72</td><td>313.96</td><td>1550.34</td><td>-490.16</td><td>-531.85</td><td>872.72</td><td>-1403.7</td><td>-2735.92</td><td>-334.25</td></tr>
<tr><td>Cash from Financing Activity</td><td>-515.48</td><td>-506.5</td><td>-544.03</td><td>-3615.87</td><td>-1099.65</td><td>-1730.75</td><td>-677.29</td><td>-600.65</td><td>-1114.41</td><td>-923.5</td></tr>
<tr><td>Net Cash Flow</td><td>543.91</td><td>579.69</td><td>650.74</td><td>-629.59</td><td>0.52</td><td>146.25</td><td>-153.13</td><td>195.05</td><td>199.28</td><td>-349.51</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>39.75</td><td>46.65</td><td>39.5</td><td>76.5</td><td>66.45</td><td>55.45</td><td>29.1</td><td>54.05</td><td>121.8</td><td>78.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>257.72</td><td>257.72</td><td>257.72</td><td>193.29</td><td>193.29</td><td>186.56</td><td>186.56</td><td>183.66</td><td>183.66</td><td>183.66</td></tr>
</table>
</body>
</html>