<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Nava</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>NAVA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>495.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7195.56</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1727.56</td><td>1813.82</td><td>1612.5</td><td>1350.29</td><td>2347.78</td><td>2946.04</td><td>2758.72</td><td>2548.5</td><td>3347.66</td><td>3528.15</td></tr>
<tr><td>Raw Material Cost</td><td>909.06</td><td>1103.56</td><td>811.41</td><td>700.62</td><td>964.56</td><td>898.53</td><td>791.21</td><td>544.8</td><td>897.25</td><td>1100.94</td></tr>
<tr><td>Change in Inventory</td><td>-16.16</td><td>30.31</td><td>-9.46</td><td>32.52</td><td>-59.62</td><td>-59.48</td><td>6.37</td><td>3.85</td><td>-14.2</td><td>141.7</td></tr>
<tr><td>Power and Fuel</td><td>21.94</td><td>20.48</td><td>15.47</td><td>14.69</td><td>14.29</td><td>21.36</td><td>13.32</td><td>14.92</td><td>13.24</td><td>16.19</td></tr>
<tr><td>Other Mfr. Exp</td><td>114.46</td><td>128.7</td><td>176.84</td><td>182.07</td><td>209.36</td><td>265.21</td><td>306.55</td><td>288.12</td><td>379.47</td><td>504.69</td></tr>
<tr><td>Employee Cost</td><td>104.19</td><td>106.68</td><td>112.69</td><td>131.67</td><td>147.86</td><td>160.69</td><td>161.99</td><td>161.34</td><td>198.79</td><td>215.12</td></tr>
<tr><td>Selling and admin</td><td>72.39</td><td>85.4</td><td>92.66</td><td>122.32</td><td>123.97</td><td>111.48</td><td>103.93</td><td>108.42</td><td>157.04</td><td>201.7</td></tr>
<tr><td>Other Expenses</td><td>31.74</td><td>88.99</td><td>27.61</td><td>44.5</td><td>35.14</td><td>68.56</td><td>202.21</td><td>368.98</td><td>368.66</td><td>62.54</td></tr>
<tr><td>Other Income</td><td>92.31</td><td>113.37</td><td>84.86</td><td>134.57</td><td>69.39</td><td>34.72</td><td>11.95</td><td>249.93</td><td>210.78</td><td>400.44</td></tr>
<tr><td>Depreciation</td><td>111.94</td><td>78.76</td><td>83.71</td><td>90.4</td><td>228.42</td><td>276.28</td><td>288.65</td><td>299.78</td><td>295.32</td><td>306.21</td></tr>
<tr><td>Interest</td><td>126.27</td><td>111.68</td><td>87.68</td><td>72.17</td><td>246.34</td><td>362.09</td><td>318.77</td><td>348.15</td><td>338.08</td><td>397.18</td></tr>
<tr><td>Profit before tax</td><td>311.72</td><td>233.25</td><td>279.83</td><td>158.94</td><td>387.61</td><td>757.08</td><td>590.41</td><td>667.77</td><td>896.39</td><td>1265.72</td></tr>
<tr><td>Tax</td><td>35.49</td><td>24.22</td><td>-16.73</td><td>66.08</td><td>109.64</td><td>418.06</td><td>59.66</td><td>117.1</td><td>323.11</td><td>44.03</td></tr>
<tr><td>Net profit</td><td>279.91</td><td>206.04</td><td>283.64</td><td>87</td><td>238.02</td><td>276.19</td><td>395.46</td><td>423.24</td><td>517.7</td><td>927.67</td></tr>
<tr><td>Dividend Amount</td><td>44.68</td><td>44.68</td><td>26.8</td><td>17.86</td><td>26.8</td><td>26.8</td><td>26.44</td><td>37</td><td>87.09</td><td>87.09</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>823.35</td><td>949.92</td><td>1016.47</td><td>1025.02</td><td>741.68</td><td>880.01</td><td>881.44</td><td>1042.28</td><td>921.99</td><td>929.95</td></tr>
<tr><td>Expenses</td><td>485.29</td><td>541.78</td><td>613.74</td><td>562.36</td><td>470.69</td><td>480.6</td><td>534.22</td><td>506.03</td><td>562.89</td><td>519.76</td></tr>
<tr><td>Other Income</td><td>-49.05</td><td>24.99</td><td>173.69</td><td>89.09</td><td>141.35</td><td>141.53</td><td>116.85</td><td>37.09</td><td>40.31</td><td>180.4</td></tr>
<tr><td>Depreciation</td><td>72.6</td><td>74.38</td><td>76.29</td><td>75.11</td><td>74.74</td><td>78.09</td><td>78.27</td><td>77.69</td><td>77.98</td><td>80.55</td></tr>
<tr><td>Interest</td><td>88.5</td><td>84.24</td><td>82.67</td><td>89.3</td><td>107.61</td><td>109.56</td><td>90.7</td><td>80.08</td><td>95.35</td><td>46.35</td></tr>
<tr><td>Profit before tax</td><td>127.91</td><td>274.51</td><td>417.46</td><td>387.34</td><td>229.99</td><td>353.29</td><td>295.1</td><td>415.57</td><td>226.08</td><td>463.69</td></tr>
<tr><td>Tax</td><td>143.67</td><td>83.58</td><td>57.81</td><td>48.35</td><td>51.57</td><td>-9.51</td><td>-46.37</td><td>72.83</td><td>32.86</td><td>-1.34</td></tr>
<tr><td>Net profit</td><td>31.1</td><td>168.56</td><td>272.61</td><td>298.61</td><td>137.36</td><td>245.04</td><td>246.66</td><td>261.06</td><td>148.28</td><td>328.21</td></tr>
<tr><td>Operating Profit</td><td>338.06</td><td>408.14</td><td>402.73</td><td>462.66</td><td>270.99</td><td>399.41</td><td>347.22</td><td>536.25</td><td>359.1</td><td>410.19</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>17.87</td><td>17.87</td><td>17.87</td><td>35.73</td><td>35.73</td><td>35.73</td><td>35.26</td><td>29.6</td><td>29.03</td><td>29.03</td></tr>
<tr><td>Reserves</td><td>3009.47</td><td>2894.05</td><td>3204.59</td><td>3126.51</td><td>3348.95</td><td>3653.46</td><td>4149.89</td><td>4381.87</td><td>4924.21</td><td>5996.39</td></tr>
<tr><td>Borrowings</td><td>1178.32</td><td>1537.91</td><td>3707.63</td><td>4388.64</td><td>4007.6</td><td>3437.64</td><td>3491.92</td><td>3392.2</td><td>3586.92</td><td>3074.45</td></tr>
<tr><td>Other Liabilities</td><td>739.28</td><td>1462.59</td><td>792.4</td><td>889.95</td><td>838</td><td>1212.91</td><td>1605.45</td><td>1831.84</td><td>2160.78</td><td>2014.16</td></tr>
<tr><td>Total</td><td>4944.94</td><td>5912.42</td><td>7722.49</td><td>8440.83</td><td>8230.28</td><td>8339.74</td><td>9282.52</td><td>9635.51</td><td>10700.94</td><td>11114.03</td></tr>
<tr><td>Net Block</td><td>2047.52</td><td>2065.01</td><td>2156.18</td><td>2147.76</td><td>6143.11</td><td>5964.51</td><td>6019.05</td><td>5639.36</td><td>5546.28</td><td>5663.69</td></tr>
<tr><td>Capital Work in Progress</td><td>1320.98</td><td>2246.51</td><td>3573.99</td><td>3969.29</td><td>9.69</td><td>6.22</td><td>16.86</td><td>16.62</td><td>16.63</td><td>47.45</td></tr>
<tr><td>Investments</td><td>177.23</td><td>105.73</td><td>57.33</td><td>410.99</td><td>174.89</td><td>155.17</td><td>124.21</td><td>314.09</td><td>529.02</td><td>449.58</td></tr>
<tr><td>Other Assets</td><td>1399.21</td><td>1495.17</td><td>1934.99</td><td>1912.79</td><td>1902.59</td><td>2213.84</td><td>3122.4</td><td>3665.44</td><td>4609.01</td><td>4953.31</td></tr>
<tr><td>Total</td><td>4944.94</td><td>5912.42</td><td>7722.49</td><td>8440.83</td><td>8230.28</td><td>8339.74</td><td>9282.52</td><td>9635.51</td><td>10700.94</td><td>11114.03</td></tr>
<tr><td>Receivables</td><td>111.05</td><td>135.32</td><td>208.44</td><td>166.23</td><td>725.5</td><td>1378.48</td><td>2193.43</td><td>914.24</td><td>1074.99</td><td>2337.19</td></tr>
<tr><td>Inventory</td><td>538.66</td><td>631.78</td><td>406.77</td><td>399.78</td><td>404.28</td><td>419.67</td><td>398.63</td><td>295.34</td><td>370.67</td><td>688.42</td></tr>
<tr><td>Cash & Bank</td><td>198.22</td><td>165.76</td><td>662.34</td><td>646.55</td><td>318.55</td><td>248.85</td><td>291.57</td><td>359.14</td><td>342.08</td><td>435.52</td></tr>
<tr><td>No. of Equity Shares</td><td>89350741</td><td>89350741</td><td>89352741</td><td>178638482</td><td>178638482</td><td>178638482</td><td>176217020</td><td>147921828</td><td>145100638</td><td>145100638</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>716.19</td><td>890.86</td><td>-126.02</td><td>38.9</td><td>200.83</td><td>824.45</td><td>526.52</td><td>757.68</td><td>608.17</td><td>1223.44</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1167.53</td><td>-866.24</td><td>-1379.63</td><td>-689.52</td><td>267.4</td><td>1.3</td><td>7</td><td>-216.01</td><td>-212.35</td><td>28.02</td></tr>
<tr><td>Cash from Financing Activity</td><td>47.96</td><td>-57.09</td><td>2016.07</td><td>647.58</td><td>-813.13</td><td>-877.61</td><td>-481.57</td><td>-473.05</td><td>-415</td><td>-1184.29</td></tr>
<tr><td>Net Cash Flow</td><td>-403.38</td><td>-32.46</td><td>510.42</td><td>-3.04</td><td>-344.91</td><td>-51.86</td><td>51.95</td><td>68.61</td><td>-19.19</td><td>67.17</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>78.85</td><td>88.95</td><td>80.65</td><td>125.25</td><td>134.7</td><td>103.25</td><td>34.2</td><td>69.5</td><td>140.9</td><td>218.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>17.86</td><td>17.86</td><td>17.86</td><td>17.86</td><td>17.86</td><td>17.86</td><td>17.62</td><td>15.64</td><td>14.51</td><td>14.51</td></tr>
</table>
</body>
</html>