<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\NCC</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>NCC LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>236.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>14841.54</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>7271.98</td><td>9512.89</td><td>9527.25</td><td>9000.57</td><td>8390.64</td><td>12895.64</td><td>8901.07</td><td>7949.42</td><td>11137.96</td><td>15553.41</td></tr>
<tr><td>Raw Material Cost</td><td>3206.83</td><td>4836.32</td><td>4149.99</td><td>3280.12</td><td>3162.22</td><td>4875.1</td><td>3032.17</td><td>2426.56</td><td>3484.62</td><td>4855.11</td></tr>
<tr><td>Change in Inventory</td><td>313.49</td><td>228.34</td><td>201.77</td><td>-145.79</td><td>107.02</td><td>-155.23</td><td>-30.42</td><td>-48.9</td><td>-105.49</td><td>-69.35</td></tr>
<tr><td>Power and Fuel</td><td>22.89</td><td>7.66</td><td>10.33</td><td>14.68</td><td>11.13</td><td>9.18</td><td>9.19</td><td>9.28</td><td>8.75</td><td>10.79</td></tr>
<tr><td>Other Mfr. Exp</td><td>2947.52</td><td>3231.79</td><td>3810.34</td><td>4129.49</td><td>3745.12</td><td>5498.53</td><td>4009.55</td><td>3988.53</td><td>5850.12</td><td>8337.5</td></tr>
<tr><td>Employee Cost</td><td>381.05</td><td>396.59</td><td>470.77</td><td>459.54</td><td>453.67</td><td>495.46</td><td>484.21</td><td>381.04</td><td>453.07</td><td>546.1</td></tr>
<tr><td>Selling and admin</td><td>384.63</td><td>171.35</td><td>176.51</td><td>176.61</td><td>158.5</td><td>161.12</td><td>151.71</td><td>119.41</td><td>153.59</td><td>191.33</td></tr>
<tr><td>Other Expenses</td><td>-115.41</td><td>97.82</td><td>124.17</td><td>119.35</td><td>94.34</td><td>108.71</td><td>107.19</td><td>56.62</td><td>54.55</td><td>84.24</td></tr>
<tr><td>Other Income</td><td>104.57</td><td>126.7</td><td>71.26</td><td>87.23</td><td>-22.72</td><td>16.51</td><td>63.35</td><td>104.6</td><td>271.72</td><td>143.69</td></tr>
<tr><td>Depreciation</td><td>235.45</td><td>276.59</td><td>248.25</td><td>202.55</td><td>171.51</td><td>192.53</td><td>199.22</td><td>181.25</td><td>186.74</td><td>202.61</td></tr>
<tr><td>Interest</td><td>654.12</td><td>737.12</td><td>642.58</td><td>513.34</td><td>459.56</td><td>521.95</td><td>553.85</td><td>479.91</td><td>478.07</td><td>515.22</td></tr>
<tr><td>Profit before tax</td><td>-27.04</td><td>112.69</td><td>167.34</td><td>46.33</td><td>218.89</td><td>894.34</td><td>386.91</td><td>362.52</td><td>634.68</td><td>884.85</td></tr>
<tr><td>Tax</td><td>-37.39</td><td>51.2</td><td>85.73</td><td>37.93</td><td>80.16</td><td>326.77</td><td>72.8</td><td>79.48</td><td>140.65</td><td>238.64</td></tr>
<tr><td>Net profit</td><td>3.28</td><td>53.87</td><td>120.43</td><td>31.68</td><td>168.63</td><td>578.69</td><td>336.53</td><td>268.31</td><td>482.41</td><td>609.2</td></tr>
<tr><td>Dividend Amount</td><td>5.13</td><td>22.24</td><td>33.36</td><td>22.24</td><td>60.06</td><td>90.1</td><td>12.2</td><td>48.79</td><td>121.97</td><td>138.13</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2581.37</td><td>3014.94</td><td>3477.35</td><td>3321.35</td><td>3373.43</td><td>3909.6</td><td>4949.03</td><td>4380.39</td><td>4719.61</td><td>5260.08</td></tr>
<tr><td>Expenses</td><td>2314.92</td><td>2738.56</td><td>3208.2</td><td>3013.48</td><td>3063.32</td><td>3533.2</td><td>4484.42</td><td>3971.18</td><td>4415.87</td><td>4754.67</td></tr>
<tr><td>Other Income</td><td>51.4</td><td>18.33</td><td>186.84</td><td>32.15</td><td>32.24</td><td>55.51</td><td>23.79</td><td>28.31</td><td>28.22</td><td>29.08</td></tr>
<tr><td>Depreciation</td><td>47.25</td><td>47.08</td><td>46.5</td><td>48.23</td><td>49.68</td><td>51.62</td><td>53.08</td><td>52.81</td><td>53.21</td><td>53.48</td></tr>
<tr><td>Interest</td><td>120.4</td><td>121.3</td><td>126.65</td><td>110.97</td><td>123.43</td><td>138.16</td><td>142.66</td><td>132.29</td><td>153.49</td><td>155.87</td></tr>
<tr><td>Profit before tax</td><td>150.2</td><td>126.33</td><td>282.84</td><td>180.82</td><td>169.24</td><td>242.13</td><td>292.66</td><td>252.42</td><td>125.26</td><td>325.14</td></tr>
<tr><td>Tax</td><td>28.15</td><td>42.13</td><td>48.99</td><td>43.42</td><td>31.7</td><td>73.83</td><td>89.69</td><td>68.2</td><td>38.77</td><td>94.18</td></tr>
<tr><td>Net profit</td><td>113.91</td><td>76.42</td><td>242.13</td><td>129.64</td><td>131</td><td>157.7</td><td>190.86</td><td>173.54</td><td>77.34</td><td>220.65</td></tr>
<tr><td>Operating Profit</td><td>266.45</td><td>276.38</td><td>269.15</td><td>307.87</td><td>310.11</td><td>376.4</td><td>464.61</td><td>409.21</td><td>303.74</td><td>505.41</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>51.32</td><td>111.19</td><td>111.19</td><td>111.19</td><td>120.13</td><td>120.13</td><td>121.97</td><td>121.97</td><td>121.97</td><td>125.57</td></tr>
<tr><td>Reserves</td><td>2714.64</td><td>3290.68</td><td>3280.83</td><td>3336.48</td><td>3962.39</td><td>4447.79</td><td>4784.48</td><td>5022.78</td><td>5454.22</td><td>6041.26</td></tr>
<tr><td>Borrowings</td><td>3914.47</td><td>3389.67</td><td>3208</td><td>2571.93</td><td>2060.89</td><td>2691.4</td><td>2181.47</td><td>2062.04</td><td>1302.43</td><td>973.82</td></tr>
<tr><td>Other Liabilities</td><td>5434.65</td><td>5753.03</td><td>5720.99</td><td>5089.88</td><td>6264.96</td><td>7401.05</td><td>6723.97</td><td>6333.09</td><td>7579.37</td><td>9409.47</td></tr>
<tr><td>Total</td><td>12115.08</td><td>12544.57</td><td>12321.01</td><td>11109.48</td><td>12408.37</td><td>14660.37</td><td>13811.89</td><td>13539.88</td><td>14457.99</td><td>16550.12</td></tr>
<tr><td>Net Block</td><td>2608.04</td><td>2445.79</td><td>1674.2</td><td>1098.58</td><td>1158.04</td><td>1550.74</td><td>1413.29</td><td>1416.99</td><td>1442.55</td><td>1502.87</td></tr>
<tr><td>Capital Work in Progress</td><td>23.75</td><td>10.61</td><td>8.12</td><td>1.46</td><td>23.26</td><td>13.49</td><td>15.16</td><td>21.86</td><td>7.35</td><td>21.98</td></tr>
<tr><td>Investments</td><td>1108.01</td><td>1132.96</td><td>1128.35</td><td>728.75</td><td>619.46</td><td>475.49</td><td>448.24</td><td>439.63</td><td>345.82</td><td>352.04</td></tr>
<tr><td>Other Assets</td><td>8375.28</td><td>8955.21</td><td>9510.34</td><td>9280.69</td><td>10607.61</td><td>12620.65</td><td>11935.2</td><td>11661.4</td><td>12662.27</td><td>14673.23</td></tr>
<tr><td>Total</td><td>12115.08</td><td>12544.57</td><td>12321.01</td><td>11109.48</td><td>12408.37</td><td>14660.37</td><td>13811.89</td><td>13539.88</td><td>14457.99</td><td>16550.12</td></tr>
<tr><td>Receivables</td><td>1760.91</td><td>1657.36</td><td>3678.05</td><td>4117.92</td><td>4969.44</td><td>3428.68</td><td>2728.28</td><td>2739.62</td><td>2545.16</td><td>3175.51</td></tr>
<tr><td>Inventory</td><td>2470.23</td><td>2756.99</td><td>2862.71</td><td>2718.1</td><td>2830.44</td><td>1425.41</td><td>1391.29</td><td>1222.21</td><td>1153.34</td><td>1374.03</td></tr>
<tr><td>Cash & Bank</td><td>162.91</td><td>357.61</td><td>346.87</td><td>177</td><td>117.69</td><td>361.71</td><td>388.74</td><td>504.58</td><td>600.53</td><td>709.27</td></tr>
<tr><td>No. of Equity Shares</td><td>256583810</td><td>555931588</td><td>555931588</td><td>555931588</td><td>600646588</td><td>600646588</td><td>609846588</td><td>609846588</td><td>609846588</td><td>627846588</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>634.39</td><td>866.91</td><td>395.46</td><td>313.57</td><td>585.81</td><td>673.13</td><td>931.39</td><td>841.84</td><td>1415.55</td><td>1100.11</td></tr>
<tr><td>Cash from Investing Activity</td><td>-66.64</td><td>-95.25</td><td>192.51</td><td>375.57</td><td>-188.33</td><td>-618.91</td><td>10.55</td><td>-206.56</td><td>-66.04</td><td>-191.56</td></tr>
<tr><td>Cash from Financing Activity</td><td>-642.88</td><td>-642.54</td><td>-551.13</td><td>-817.83</td><td>-453.45</td><td>89.15</td><td>-1046.93</td><td>-558.08</td><td>-1274.61</td><td>-892.7</td></tr>
<tr><td>Net Cash Flow</td><td>-75.12</td><td>129.12</td><td>36.85</td><td>-128.69</td><td>-55.97</td><td>143.37</td><td>-104.99</td><td>77.2</td><td>74.9</td><td>15.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>21.73</td><td>112.05</td><td>75.8</td><td>81.95</td><td>117.55</td><td>112.85</td><td>18.75</td><td>79</td><td>58.55</td><td>106.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>55.59</td><td>55.59</td><td>55.59</td><td>55.59</td><td>60.06</td><td>60.06</td><td>60.98</td><td>60.98</td><td>60.98</td><td>62.78</td></tr>
</table>
</body>
</html>