<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\NESCO</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>NESCO LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>820.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5779.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>161.11</td><td>194.45</td><td>261.26</td><td>305.75</td><td>303.64</td><td>360.38</td><td>431.73</td><td>291.09</td><td>337.4</td><td>546</td></tr>
<tr><td>Raw Material Cost</td><td>8.8</td><td>10.82</td><td>13.67</td><td>15.35</td><td>10.97</td><td>22.51</td><td>17.62</td><td>15.54</td><td>25.35</td><td>37.47</td></tr>
<tr><td>Change in Inventory</td><td>0.08</td><td>1.76</td><td>1.69</td><td>-0.17</td><td>0.91</td><td>-1.14</td><td>-0.94</td><td>-1.48</td><td>-0.36</td><td>1.59</td></tr>
<tr><td>Power and Fuel</td><td>3.61</td><td>2.98</td><td>10.11</td><td>12.77</td><td>13.43</td><td>16.21</td><td>17.49</td><td>3.9</td><td>5.91</td><td>19.36</td></tr>
<tr><td>Other Mfr. Exp</td><td>8.87</td><td>6.27</td><td>12.88</td><td>20.6</td><td>14.51</td><td>19.03</td><td>28.5</td><td>17.6</td><td>25.07</td><td>43.18</td></tr>
<tr><td>Employee Cost</td><td>10.56</td><td>11.71</td><td>13.93</td><td>18.3</td><td>20.31</td><td>23.37</td><td>38.12</td><td>27.37</td><td>21.55</td><td>27.4</td></tr>
<tr><td>Selling and admin</td><td>16.87</td><td>21.54</td><td>18.38</td><td>20.53</td><td>16.3</td><td>25.94</td><td>34.74</td><td>31.17</td><td>31.81</td><td>42.2</td></tr>
<tr><td>Other Expenses</td><td>2.71</td><td>4.55</td><td>5.24</td><td>4.13</td><td>13.42</td><td>19.59</td><td>16</td><td>8.29</td><td>6.8</td><td>10.46</td></tr>
<tr><td>Other Income</td><td>18.26</td><td>28.27</td><td>32.65</td><td>42.98</td><td>36.06</td><td>31.68</td><td>42.36</td><td>64.56</td><td>43.46</td><td>44.43</td></tr>
<tr><td>Depreciation</td><td>11.03</td><td>6.7</td><td>6.7</td><td>8.13</td><td>11.03</td><td>11.87</td><td>22.44</td><td>25.73</td><td>28.29</td><td>32.77</td></tr>
<tr><td>Interest</td><td>0.11</td><td>0.13</td><td>3.96</td><td>5.03</td><td>5.55</td><td>4.71</td><td>6.02</td><td>8.22</td><td>9.21</td><td>12.21</td></tr>
<tr><td>Profit before tax</td><td>116.89</td><td>159.78</td><td>210.73</td><td>243.72</td><td>235.09</td><td>247.69</td><td>292.22</td><td>216.35</td><td>226.51</td><td>366.97</td></tr>
<tr><td>Tax</td><td>35.87</td><td>48.14</td><td>66.59</td><td>74.3</td><td>58.4</td><td>67.51</td><td>58.43</td><td>43.85</td><td>37.29</td><td>76.33</td></tr>
<tr><td>Net profit</td><td>81.02</td><td>111.63</td><td>144.14</td><td>169.42</td><td>176.69</td><td>180.18</td><td>233.79</td><td>172.5</td><td>189.22</td><td>290.64</td></tr>
<tr><td>Dividend Amount</td><td>7.04</td><td>9.16</td><td>11.98</td><td>15.5</td><td>16.2</td><td>17.61</td><td>21.14</td><td>21.14</td><td>21.14</td><td>31.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>80.76</td><td>93.36</td><td>91.07</td><td>103.06</td><td>142.87</td><td>142.83</td><td>157.24</td><td>136.59</td><td>174.85</td><td>177.76</td></tr>
<tr><td>Expenses</td><td>30.46</td><td>32.34</td><td>28.5</td><td>36.55</td><td>41.86</td><td>60.97</td><td>57.78</td><td>50.49</td><td>65.8</td><td>63.93</td></tr>
<tr><td>Other Income</td><td>9.79</td><td>9.6</td><td>11.93</td><td>7.79</td><td>15.63</td><td>19.35</td><td>20.35</td><td>24.54</td><td>22.65</td><td>26.85</td></tr>
<tr><td>Depreciation</td><td>7.1</td><td>6.75</td><td>7.96</td><td>7.7</td><td>7.6</td><td>8.26</td><td>9.22</td><td>14.03</td><td>14.23</td><td>14.07</td></tr>
<tr><td>Interest</td><td>2.32</td><td>2.47</td><td>2.52</td><td>3.2</td><td>4.6</td><td>2.81</td><td>1.6</td><td>3.03</td><td>5.05</td><td>5.64</td></tr>
<tr><td>Profit before tax</td><td>50.67</td><td>61.4</td><td>64.02</td><td>63.4</td><td>104.44</td><td>90.14</td><td>108.99</td><td>93.58</td><td>112.42</td><td>120.97</td></tr>
<tr><td>Tax</td><td>6.66</td><td>12.04</td><td>10.46</td><td>9.68</td><td>22.52</td><td>20.06</td><td>24.08</td><td>17.48</td><td>24.61</td><td>27.23</td></tr>
<tr><td>Net profit</td><td>44.01</td><td>49.36</td><td>53.56</td><td>53.73</td><td>81.92</td><td>70.08</td><td>84.91</td><td>76.1</td><td>87.82</td><td>93.75</td></tr>
<tr><td>Operating Profit</td><td>50.3</td><td>61.02</td><td>62.57</td><td>66.51</td><td>101.01</td><td>81.86</td><td>99.46</td><td>86.1</td><td>109.05</td><td>113.83</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td><td>14.09</td></tr>
<tr><td>Reserves</td><td>424.68</td><td>525.6</td><td>667.24</td><td>836.52</td><td>994.61</td><td>1153.7</td><td>1340.61</td><td>1512.4</td><td>1680.96</td><td>1950.43</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.55</td><td>0.41</td></tr>
<tr><td>Other Liabilities</td><td>121.74</td><td>136.57</td><td>158.91</td><td>180.95</td><td>170.02</td><td>178.18</td><td>252.22</td><td>292.55</td><td>273.38</td><td>297.64</td></tr>
<tr><td>Total</td><td>560.51</td><td>676.26</td><td>840.24</td><td>1031.56</td><td>1178.72</td><td>1345.97</td><td>1606.92</td><td>1819.04</td><td>1968.98</td><td>2262.57</td></tr>
<tr><td>Net Block</td><td>159.81</td><td>159.18</td><td>164.81</td><td>187.8</td><td>228.55</td><td>212.89</td><td>776.27</td><td>758.72</td><td>846.41</td><td>804.07</td></tr>
<tr><td>Capital Work in Progress</td><td>4.75</td><td>99.79</td><td>143.43</td><td>262.35</td><td>357</td><td>509.09</td><td>1.55</td><td>51</td><td>82.36</td><td>85.65</td></tr>
<tr><td>Investments</td><td>368.43</td><td>384.08</td><td>442.45</td><td>482.05</td><td>498.76</td><td>531.42</td><td>672.5</td><td>810.28</td><td>846.53</td><td>1161</td></tr>
<tr><td>Other Assets</td><td>27.52</td><td>33.21</td><td>89.55</td><td>99.36</td><td>94.41</td><td>92.57</td><td>156.6</td><td>199.04</td><td>193.68</td><td>211.85</td></tr>
<tr><td>Total</td><td>560.51</td><td>676.26</td><td>840.24</td><td>1031.56</td><td>1178.72</td><td>1345.97</td><td>1606.92</td><td>1819.04</td><td>1968.98</td><td>2262.57</td></tr>
<tr><td>Receivables</td><td>11.18</td><td>10.73</td><td>14.38</td><td>11.12</td><td>13.45</td><td>18.04</td><td>16.57</td><td>29.6</td><td>18.63</td><td>22.62</td></tr>
<tr><td>Inventory</td><td>4.4</td><td>7.7</td><td>10.98</td><td>13.31</td><td>12.41</td><td>9.03</td><td>8.56</td><td>7.35</td><td>7.52</td><td>11.73</td></tr>
<tr><td>Cash & Bank</td><td>4.35</td><td>4.76</td><td>6.21</td><td>4.76</td><td>6.82</td><td>4.23</td><td>10.2</td><td>5.83</td><td>6.51</td><td>17.75</td></tr>
<tr><td>No. of Equity Shares</td><td>14091992</td><td>14091992</td><td>14091992</td><td>14091992</td><td>70459960</td><td>70459960</td><td>70459960</td><td>70459960</td><td>70459960</td><td>70459960</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>117.14</td><td>102.63</td><td>136.58</td><td>151.96</td><td>143.46</td><td>171.24</td><td>208.35</td><td>138.67</td><td>163.64</td><td>296.7</td></tr>
<tr><td>Cash from Investing Activity</td><td>-106.58</td><td>-91.37</td><td>-110.18</td><td>-152.96</td><td>-122.72</td><td>-154.74</td><td>-157.11</td><td>-141.6</td><td>-142.41</td><td>-264.92</td></tr>
<tr><td>Cash from Financing Activity</td><td>-8.35</td><td>-10.85</td><td>-25.26</td><td>-0.08</td><td>-19.06</td><td>-19.8</td><td>-46.91</td><td>-0.17</td><td>-20.7</td><td>-23.66</td></tr>
<tr><td>Net Cash Flow</td><td>2.21</td><td>0.41</td><td>1.14</td><td>-1.08</td><td>1.67</td><td>-3.31</td><td>4.33</td><td>-3.1</td><td>0.53</td><td>8.13</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>162.27</td><td>305.73</td><td>302.22</td><td>469.64</td><td>550.7</td><td>482.65</td><td>489.15</td><td>526.2</td><td>552.5</td><td>517.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td><td>7.05</td></tr>
</table>
</body>
</html>