<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Nuvama Wealth</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>NUVAMA WEALTH MANAGEMENT LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>5035.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>17779.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td></td><td>780.26</td><td>1383.82</td><td>1778.09</td><td>2223.31</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td>56.39</td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.74</td><td>1.89</td><td>4.15</td><td>4.72</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td></td><td>6.55</td><td>32.42</td><td>66.2</td><td>64</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td>109.66</td><td>501.82</td><td>600.74</td><td>729.65</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td></td><td>97.97</td><td>325.23</td><td>432.52</td><td>505.02</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td></td><td>10.03</td><td>77.96</td><td>28.29</td><td>36.92</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td></td><td>75.86</td><td>-564.84</td><td>638.41</td><td>8.09</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td>14.57</td><td>50.11</td><td>71.32</td><td>88.58</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td>200.35</td><td>246.33</td><td>277.91</td><td>396.41</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>359.86</td><td>-416.78</td><td>935.37</td><td>406.1</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>73.9</td><td>58.21</td><td>77.98</td><td>101.02</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td></td><td>285.96</td><td>-474.98</td><td>857.39</td><td>305.09</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>460.68</td><td>562.71</td><td>578.54</td><td>612.79</td><td>647.71</td><td>735.26</td><td>840.64</td></tr>
<tr><td>Expenses</td><td></td><td></td><td></td><td>297.23</td><td>331.47</td><td>335.66</td><td>377.64</td><td>357.43</td><td>375.17</td><td>396.09</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>2.29</td><td>3.58</td><td>5.64</td><td>6.85</td><td>3.65</td><td>2.6</td><td>1.82</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>15.31</td><td>19.26</td><td>22.63</td><td>31.38</td><td>22.28</td><td>24.37</td><td>44.64</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>81.78</td><td>102.08</td><td>113.96</td><td>98.59</td><td>119.04</td><td>146.9</td><td>171.05</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>68.65</td><td>113.48</td><td>111.93</td><td>112.03</td><td>152.61</td><td>191.42</td><td>230.68</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>21.6</td><td>28.22</td><td>24.57</td><td>26.63</td><td>29.63</td><td>46.46</td><td>54.52</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>47.05</td><td>85.26</td><td>87.36</td><td>85.42</td><td>123.07</td><td>145.17</td><td>176.33</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td></td><td>163.45</td><td>231.24</td><td>242.88</td><td>235.15</td><td>290.28</td><td>360.09</td><td>444.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td>26.21</td><td>34.73</td><td>34.73</td><td>35.06</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1056.3</td><td>1592.31</td><td>1895.68</td><td>2219.18</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1287.3</td><td>1427.62</td><td>3548.95</td><td>5413.15</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2840.73</td><td>4396.52</td><td>5118.89</td><td>5048.29</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>5210.54</td><td>7451.18</td><td>10598.25</td><td>12715.68</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td></td><td>107.53</td><td>162.02</td><td>218.76</td><td>283.97</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td>4.45</td><td>22.39</td><td>17.76</td><td>25.09</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td></td><td>665.02</td><td>24.66</td><td>70.2</td><td>169.67</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td></td><td>4433.54</td><td>7242.11</td><td>10291.53</td><td>12236.95</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>5210.54</td><td>7451.18</td><td>10598.25</td><td>12715.68</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td>349.18</td><td>272.03</td><td>892.44</td><td>890.03</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td>212.91</td><td>207.44</td><td>889.58</td><td>1309.96</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2979.8</td><td>4553.62</td><td>4649.44</td><td>5327.85</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>26213876</td><td>34726823</td><td>34726823</td><td>35056255</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-499.69</td><td>-1107.68</td><td>-1425.25</td><td>-1864.91</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-111.56</td><td>-123.74</td><td>-80.51</td><td>-172.55</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>235.43</td><td>877.12</td><td>2138.52</td><td>1825.16</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-375.81</td><td>-354.3</td><td>632.76</td><td>-212.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
</table>
</body>
</html>