<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Oil India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>OIL INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>617.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>66945.76</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9689.83</td><td>9978.38</td><td>9821.13</td><td>9566.36</td><td>10697.75</td><td>13780.45</td><td>18612.45</td><td>17616.05</td><td>25905.59</td><td>36097.38</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>28.29</td><td>208.23</td><td>4047.6</td><td>3856.39</td><td>5653.42</td><td>9343.81</td></tr>
<tr><td>Change in Inventory</td><td>-7.87</td><td>17.36</td><td>-25.83</td><td>49.19</td><td>-20.68</td><td>26.17</td><td>465.86</td><td>245.37</td><td>266.5</td><td>1246.43</td></tr>
<tr><td>Power and Fuel</td><td>32.94</td><td>33.27</td><td>32.43</td><td>29.74</td><td>31.34</td><td>36.84</td><td>174.98</td><td>175.08</td><td>193.92</td><td>309.66</td></tr>
<tr><td>Other Mfr. Exp</td><td>846.4</td><td>848.11</td><td>1015.07</td><td>1086.17</td><td>1112.12</td><td>1301.94</td><td>1314.8</td><td>1814.4</td><td>1843.72</td><td>2061.12</td></tr>
<tr><td>Employee Cost</td><td>1957.74</td><td>2162.97</td><td>1927.48</td><td>2177.38</td><td>2183.14</td><td>2037.02</td><td>2621.41</td><td>2877.65</td><td>2567.79</td><td>2969.84</td></tr>
<tr><td>Selling and admin</td><td>2994.73</td><td>3045.35</td><td>2821.08</td><td>2565.49</td><td>2958</td><td>3890.88</td><td>3496.43</td><td>2574.64</td><td>4404.18</td><td>6042.48</td></tr>
<tr><td>Other Expenses</td><td>203.97</td><td>273.47</td><td>413.57</td><td>636.28</td><td>436.65</td><td>741.19</td><td>2107.95</td><td>874.73</td><td>1008.69</td><td>1348.83</td></tr>
<tr><td>Other Income</td><td>1588.66</td><td>1258.39</td><td>1197.55</td><td>792.58</td><td>1811.87</td><td>1250.93</td><td>2147.28</td><td>1184.71</td><td>1254.45</td><td>723.64</td></tr>
<tr><td>Depreciation</td><td>821.58</td><td>864.75</td><td>1070.48</td><td>1180.38</td><td>1326.64</td><td>1540.73</td><td>1785.71</td><td>1844.13</td><td>1824.48</td><td>1946.94</td></tr>
<tr><td>Interest</td><td>70.78</td><td>349.09</td><td>388.87</td><td>440.6</td><td>553.68</td><td>623.53</td><td>646.68</td><td>660.47</td><td>940.12</td><td>900.89</td></tr>
<tr><td>Profit before tax</td><td>4342.48</td><td>3677.12</td><td>3323.87</td><td>2292.09</td><td>3859.08</td><td>4677.19</td><td>5030.03</td><td>4368.64</td><td>8990.22</td><td>13143.88</td></tr>
<tr><td>Tax</td><td>1420.06</td><td>1192.24</td><td>1244.31</td><td>695.53</td><td>1124.46</td><td>1439.39</td><td>24.7</td><td>222.67</td><td>2271</td><td>3289.49</td></tr>
<tr><td>Net profit</td><td>2990.33</td><td>2608.4</td><td>2079.56</td><td>1596.56</td><td>2734.62</td><td>3237.8</td><td>4701.11</td><td>3527.84</td><td>5621.63</td><td>8728.59</td></tr>
<tr><td>Dividend Amount</td><td>1292.45</td><td>1202.28</td><td>961.82</td><td>1142.15</td><td>1134.9</td><td>1111.52</td><td>1149.47</td><td>542.2</td><td>1545.28</td><td>2168.82</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>7254.12</td><td>6782.6</td><td>8869.71</td><td>10677.99</td><td>8258.72</td><td>9301.98</td><td>7851.78</td><td>6208.22</td><td>7496.51</td><td>9614.29</td></tr>
<tr><td>Expenses</td><td>4939.71</td><td>4584.69</td><td>5421.86</td><td>5803.79</td><td>5555.46</td><td>5393.59</td><td>4548.82</td><td>3931.7</td><td>4027.38</td><td>6171.05</td></tr>
<tr><td>Other Income</td><td>267.15</td><td>692.42</td><td>424.81</td><td>171.33</td><td>727.46</td><td>131.56</td><td>172.55</td><td>258.59</td><td>-1983.2</td><td>635.29</td></tr>
<tr><td>Depreciation</td><td>499.21</td><td>542.83</td><td>310.36</td><td>467.85</td><td>511.4</td><td>529.97</td><td>437.72</td><td>477.58</td><td>499.04</td><td>576.08</td></tr>
<tr><td>Interest</td><td>225.64</td><td>213.49</td><td>240.88</td><td>244.4</td><td>257.58</td><td>245.97</td><td>152.94</td><td>214.18</td><td>278.92</td><td>236.22</td></tr>
<tr><td>Profit before tax</td><td>1856.71</td><td>2134.01</td><td>3321.42</td><td>4333.28</td><td>2661.74</td><td>3264.01</td><td>2884.85</td><td>1843.35</td><td>707.97</td><td>3266.23</td></tr>
<tr><td>Tax</td><td>402.43</td><td>611.05</td><td>794.09</td><td>1103.05</td><td>545.91</td><td>735.42</td><td>905.11</td><td>443.86</td><td>67.61</td><td>658.57</td></tr>
<tr><td>Net profit</td><td>1151.63</td><td>1297.79</td><td>2117.69</td><td>2805.16</td><td>1896.19</td><td>2284.41</td><td>1742.83</td><td>1426.6</td><td>420.66</td><td>2347.12</td></tr>
<tr><td>Operating Profit</td><td>2314.41</td><td>2197.91</td><td>3447.85</td><td>4874.2</td><td>2703.26</td><td>3908.39</td><td>3302.96</td><td>2276.52</td><td>3469.13</td><td>3443.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>601.14</td><td>601.14</td><td>601.14</td><td>801.51</td><td>756.6</td><td>1084.41</td><td>1084.41</td><td>1084.41</td><td>1084.41</td><td>1084.41</td></tr>
<tr><td>Reserves</td><td>20080.02</td><td>20900.31</td><td>24576.69</td><td>28717.85</td><td>28273.39</td><td>27890.06</td><td>22126.41</td><td>22582.01</td><td>29477.5</td><td>37397.08</td></tr>
<tr><td>Borrowings</td><td>10146.35</td><td>9070.14</td><td>9721.56</td><td>14183.83</td><td>12329.31</td><td>15113.71</td><td>12743.28</td><td>19718.42</td><td>16720.53</td><td>18831.75</td></tr>
<tr><td>Other Liabilities</td><td>4570.87</td><td>6548.7</td><td>5344.22</td><td>7600.12</td><td>7353.03</td><td>8429.63</td><td>20981.4</td><td>12150.54</td><td>13846.46</td><td>16865.82</td></tr>
<tr><td>Total</td><td>35398.38</td><td>37120.29</td><td>40243.61</td><td>51303.31</td><td>48712.33</td><td>52517.81</td><td>56935.5</td><td>55535.38</td><td>61128.9</td><td>74179.06</td></tr>
<tr><td>Net Block</td><td>6475.37</td><td>7251.31</td><td>2813.29</td><td>3827.35</td><td>5121.23</td><td>5236.49</td><td>8294.44</td><td>6096.79</td><td>6185.43</td><td>6884.89</td></tr>
<tr><td>Capital Work in Progress</td><td>2815.51</td><td>3754.81</td><td>1812.5</td><td>1893.64</td><td>988.08</td><td>1267.42</td><td>2368.06</td><td>3170.66</td><td>5899.66</td><td>11953.19</td></tr>
<tr><td>Investments</td><td>5223.46</td><td>5572.82</td><td>15052.27</td><td>27460.89</td><td>26656.73</td><td>26450.53</td><td>25718.22</td><td>24010.06</td><td>27099.32</td><td>27923.71</td></tr>
<tr><td>Other Assets</td><td>20884.04</td><td>20541.35</td><td>20565.55</td><td>18121.43</td><td>15946.29</td><td>19563.37</td><td>20554.78</td><td>22257.87</td><td>21944.49</td><td>27417.27</td></tr>
<tr><td>Total</td><td>35398.38</td><td>37120.29</td><td>40243.61</td><td>51303.31</td><td>48712.33</td><td>52517.81</td><td>56935.5</td><td>55535.38</td><td>61128.9</td><td>74179.06</td></tr>
<tr><td>Receivables</td><td>480.86</td><td>2384.35</td><td>1327.89</td><td>1011.36</td><td>1413.77</td><td>1317.74</td><td>1501.99</td><td>1855.57</td><td>1750.48</td><td>2400.34</td></tr>
<tr><td>Inventory</td><td>1038.88</td><td>1106.96</td><td>1052.99</td><td>1165.49</td><td>1156.12</td><td>1305.32</td><td>3265.4</td><td>3462.61</td><td>4222.78</td><td>5410.46</td></tr>
<tr><td>Cash & Bank</td><td>11660.11</td><td>8818.95</td><td>10020.47</td><td>6671.71</td><td>3319.97</td><td>6415.67</td><td>4230.77</td><td>1586.64</td><td>1550.27</td><td>3459.3</td></tr>
<tr><td>No. of Equity Shares</td><td>601136000</td><td>601135955</td><td>601135955</td><td>801514607</td><td>756602607</td><td>1084405194</td><td>1084405194</td><td>1084405194</td><td>1084405194</td><td>1084405194</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>2616.08</td><td>1753.55</td><td>3596.63</td><td>3113.94</td><td>3933.07</td><td>5023.08</td><td>6492.55</td><td>5235.27</td><td>9309.57</td><td>11410.41</td></tr>
<tr><td>Cash from Investing Activity</td><td>-10064.3</td><td>-1991.58</td><td>-2677.1</td><td>-5865.12</td><td>1777.58</td><td>-578.43</td><td>-2206.52</td><td>-8517.27</td><td>-4192.06</td><td>-9129.96</td></tr>
<tr><td>Cash from Financing Activity</td><td>6971.67</td><td>-2603.13</td><td>-871</td><td>2757.99</td><td>-5698.28</td><td>-940.17</td><td>-7331.32</td><td>3702.04</td><td>-5615.3</td><td>-2521.34</td></tr>
<tr><td>Net Cash Flow</td><td>-476.55</td><td>-2841.16</td><td>48.53</td><td>6.81</td><td>12.37</td><td>3504.48</td><td>-3045.29</td><td>420.04</td><td>-497.79</td><td>-240.89</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>242.03</td><td>227.48</td><td>156.5</td><td>222.53</td><td>216.35</td><td>185.45</td><td>82.65</td><td>122.8</td><td>238.4</td><td>251.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>120.23</td><td>120.23</td><td>120.23</td><td>120.23</td><td>113.49</td><td>108.44</td><td>108.44</td><td>108.44</td><td>108.44</td><td>108.44</td></tr>
</table>
</body>
</html>