<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\One 97</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ONE 97 COMMUNICATIONS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>333</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>21148.98</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td>449.19</td><td>624.76</td><td>2982.22</td><td>3049.87</td><td>3115.1</td><td>2667.1</td><td>3892.4</td><td>6027.7</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td>2.93</td><td>4.64</td><td>7.07</td><td>9.38</td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td>4.11</td><td>12.21</td><td>1675.49</td><td>71.71</td><td>2864.09</td><td>2428.5</td><td>2855.2</td><td>2749</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td>145.56</td><td>325.14</td><td>528.66</td><td>627.78</td><td>825.12</td><td>833.9</td><td>1907.2</td><td>3258.4</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td>1369.32</td><td>1052.32</td><td>2350.33</td><td>6078.58</td><td>1827.12</td><td>942.8</td><td>1272.9</td><td>1545.8</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td>646.91</td><td>994.56</td><td>123.81</td><td>376.83</td><td>63.46</td><td>138.5</td><td>152.6</td><td>175.4</td></tr>
<tr><td>Other Income</td><td></td><td></td><td>233.68</td><td>931.6</td><td>308.32</td><td>250.72</td><td>-174.77</td><td>309.9</td><td>238.9</td><td>336.4</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td>24.8</td><td>39.05</td><td>68.92</td><td>75.81</td><td>143.18</td><td>156.8</td><td>228.2</td><td>469.6</td></tr>
<tr><td>Interest</td><td></td><td></td><td>1.27</td><td>4.42</td><td>27.74</td><td>20.02</td><td>50.49</td><td>36.4</td><td>40</td><td>21.7</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td>-1512.03</td><td>-875.98</td><td>-1491.48</td><td>-3959.52</td><td>-2833.13</td><td>-1559.9</td><td>-2324.8</td><td>-1855.8</td></tr>
<tr><td>Tax</td><td></td><td></td><td>-1.7</td><td>3.65</td><td>-1.01</td><td>0.12</td><td>0.05</td><td>0.2</td><td>0.3</td><td></td></tr>
<tr><td>Net profit</td><td></td><td></td><td>-1510.33</td><td>-879.63</td><td>-1490.47</td><td>-3959.64</td><td>-2833.18</td><td>-1560.1</td><td>-2325.1</td><td>-1855.8</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1051.5</td><td>921</td><td>1073.1</td><td>1245.4</td><td>1404.4</td><td>1573.9</td><td>1804</td><td>1844.6</td><td>1980.3</td><td>2137.9</td></tr>
<tr><td>Expenses</td><td>1493.4</td><td>1711.4</td><td>1773</td><td>1876.9</td><td>1974.3</td><td>1932.2</td><td>1945</td><td>2140.5</td><td>2245.8</td><td>2330.1</td></tr>
<tr><td>Other Income</td><td>36.2</td><td>78.3</td><td>108.1</td><td>101.3</td><td>85.8</td><td>47.4</td><td>101.9</td><td>125.4</td><td>125</td><td>140.6</td></tr>
<tr><td>Depreciation</td><td>45.6</td><td>56</td><td>90</td><td>92.6</td><td>99.7</td><td>119.6</td><td>157.7</td><td>155.8</td><td>176.5</td><td>196.9</td></tr>
<tr><td>Interest</td><td>9.9</td><td>11.7</td><td>7.3</td><td>5.2</td><td>5</td><td>5.2</td><td>6.5</td><td>6.5</td><td>6.7</td><td>5.1</td></tr>
<tr><td>Profit before tax</td><td>-461.2</td><td>-779.8</td><td>-689.1</td><td>-628</td><td>-588.8</td><td>-435.7</td><td>-203.3</td><td>-332.8</td><td>-323.7</td><td>-253.6</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Net profit</td><td>-461.2</td><td>-779.8</td><td>-689.1</td><td>-628</td><td>-588.8</td><td>-435.7</td><td>-203.3</td><td>-332.8</td><td>-323.7</td><td>-253.6</td></tr>
<tr><td>Operating Profit</td><td>-441.9</td><td>-790.4</td><td>-699.9</td><td>-631.5</td><td>-569.9</td><td>-358.3</td><td>-141</td><td>-295.9</td><td>-265.5</td><td>-192.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td>46.23</td><td>46.99</td><td>55.32</td><td>57.53</td><td>60.43</td><td>60.5</td><td>64.9</td><td>63.4</td></tr>
<tr><td>Reserves</td><td></td><td></td><td>2770.71</td><td>2328.64</td><td>7520.23</td><td>5978.5</td><td>8351.02</td><td>6924</td><td>13647.6</td><td>12223.3</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td>14.98</td><td>90.27</td><td>241.65</td><td>722.46</td><td>405.09</td><td>588.4</td><td>204.2</td><td>206.6</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td>630.19</td><td>1422.38</td><td>739.07</td><td>1924.64</td><td>1690.48</td><td>1906.7</td><td>2439.9</td><td>3143.1</td></tr>
<tr><td>Total</td><td></td><td></td><td>3462.11</td><td>3888.28</td><td>8556.27</td><td>8683.13</td><td>10507.02</td><td>9479.6</td><td>16356.6</td><td>15636.4</td></tr>
<tr><td>Net Block</td><td></td><td></td><td>77.55</td><td>141.21</td><td>166.1</td><td>286.14</td><td>507.63</td><td>390.5</td><td>830</td><td>1137.1</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td>57.5</td><td>71.89</td><td>19.52</td><td>50.8</td><td>11.89</td><td>22.7</td><td>11.2</td><td>7.5</td></tr>
<tr><td>Investments</td><td></td><td></td><td>2363.47</td><td>971.88</td><td>5187.52</td><td>3440.38</td><td>4211.8</td><td>1299.3</td><td>1305.3</td><td>2493.4</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td>963.59</td><td>2703.3</td><td>3183.13</td><td>4905.81</td><td>5775.7</td><td>7767.1</td><td>14210.1</td><td>11998.4</td></tr>
<tr><td>Total</td><td></td><td></td><td>3462.11</td><td>3888.28</td><td>8556.27</td><td>8683.13</td><td>10507.02</td><td>9479.6</td><td>16356.6</td><td>15636.4</td></tr>
<tr><td>Receivables</td><td></td><td></td><td>107.85</td><td>92.71</td><td>504.76</td><td>242.21</td><td>327.5</td><td>491.5</td><td>705.9</td><td>1142.1</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td>245.4</td><td>556.97</td><td>286.92</td><td>241.43</td><td>369.36</td><td>2572.6</td><td>4835.4</td><td>6312.1</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td>46232832</td><td>46990653</td><td>55325271</td><td>57530000</td><td>60435025</td><td>60482404</td><td>648561414</td><td>633788217</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>43737374</td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>-1827.69</td><td>-2581.6</td><td>-4355.04</td><td>-2242.43</td><td>-2002.2</td><td>-1318</td><td>91.6</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>1671.78</td><td>-4266.74</td><td>1708.84</td><td>-2180.87</td><td>1718</td><td>-5471.9</td><td>2945.9</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>471.62</td><td>6400.81</td><td>2861.08</td><td>5169.18</td><td>-207.5</td><td>8062.4</td><td>-1101</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>315.71</td><td>-447.53</td><td>214.88</td><td>745.88</td><td>-491.7</td><td>1272.5</td><td>1936.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>528.45</td><td>636.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td>4.62</td><td>4.7</td><td>5.53</td><td>5.75</td><td>6.04</td><td>6.05</td><td>64.86</td><td>63.38</td></tr>
</table>
</body>
</html>