<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\P I Industries</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>P I INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>3514.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>53254.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1595.54</td><td>1940.26</td><td>2096.35</td><td>2276.83</td><td>2277.1</td><td>2840.9</td><td>3366.5</td><td>4577</td><td>5299.5</td><td>6492</td></tr>
<tr><td>Raw Material Cost</td><td>956.03</td><td>1138.11</td><td>1178.46</td><td>1204.07</td><td>1161.3</td><td>1500.2</td><td>1849.6</td><td>2671.8</td><td>3124.7</td><td>3622.4</td></tr>
<tr><td>Change in Inventory</td><td>36.26</td><td>22.76</td><td>19.94</td><td>40.89</td><td>-7.7</td><td>-50</td><td>2.2</td><td>100.6</td><td>201.9</td><td>69.7</td></tr>
<tr><td>Power and Fuel</td><td>74.62</td><td>76.91</td><td>60.84</td><td>69.2</td><td>75.5</td><td>91.2</td><td>112.4</td><td>127.2</td><td>153.1</td><td>190.1</td></tr>
<tr><td>Other Mfr. Exp</td><td>77.56</td><td>80.94</td><td>30.07</td><td>42.44</td><td>52.4</td><td>65.6</td><td>82.6</td><td>97</td><td>112.1</td><td>126.3</td></tr>
<tr><td>Employee Cost</td><td>111.52</td><td>143.83</td><td>193.96</td><td>223.79</td><td>244.6</td><td>266.6</td><td>322.4</td><td>418.5</td><td>494</td><td>541.5</td></tr>
<tr><td>Selling and admin</td><td>271.92</td><td>284.88</td><td>144.33</td><td>158.35</td><td>173.1</td><td>193.8</td><td>205.1</td><td>222</td><td>300.6</td><td>357.4</td></tr>
<tr><td>Other Expenses</td><td>-155.34</td><td>-143.9</td><td>73.62</td><td>64.79</td><td>66.5</td><td>93.7</td><td>76.8</td><td>123.1</td><td>171.2</td><td>179.6</td></tr>
<tr><td>Other Income</td><td>11.32</td><td>34.9</td><td>33.78</td><td>36.27</td><td>59.8</td><td>58.2</td><td>49.7</td><td>129.3</td><td>105</td><td>165.7</td></tr>
<tr><td>Depreciation</td><td>31.56</td><td>49.78</td><td>54.28</td><td>73.04</td><td>83</td><td>93</td><td>136.7</td><td>174.8</td><td>201.8</td><td>226.5</td></tr>
<tr><td>Interest</td><td>13.94</td><td>12.13</td><td>11.69</td><td>8.77</td><td>7.3</td><td>7.1</td><td>19</td><td>34</td><td>16.1</td><td>39.3</td></tr>
<tr><td>Profit before tax</td><td>261.31</td><td>355.24</td><td>402.82</td><td>509.54</td><td>465.5</td><td>537.9</td><td>613.8</td><td>938.5</td><td>1032.8</td><td>1444.3</td></tr>
<tr><td>Tax</td><td>73.31</td><td>109.35</td><td>91.28</td><td>50.09</td><td>97.9</td><td>127.7</td><td>157.2</td><td>200.2</td><td>189</td><td>214.8</td></tr>
<tr><td>Net profit</td><td>188</td><td>245.89</td><td>311.55</td><td>459.44</td><td>367.6</td><td>410.2</td><td>456.6</td><td>738.3</td><td>843.8</td><td>1229.5</td></tr>
<tr><td>Dividend Amount</td><td>27.22</td><td>34.15</td><td>42.5</td><td>55.04</td><td>55.2</td><td>55.2</td><td>55.2</td><td>76</td><td>91.2</td><td>152</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1354.2</td><td>1356.3</td><td>1395.2</td><td>1543.2</td><td>1770</td><td>1613.2</td><td>1565.6</td><td>1910.4</td><td>2116.9</td><td>1897.5</td></tr>
<tr><td>Expenses</td><td>1062.7</td><td>1059.8</td><td>1090.2</td><td>1197.6</td><td>1338.1</td><td>1198.1</td><td>1222.8</td><td>1442.6</td><td>1565.5</td><td>1343.9</td></tr>
<tr><td>Other Income</td><td>27.7</td><td>26.3</td><td>20.6</td><td>28</td><td>32.9</td><td>50.7</td><td>50.7</td><td>51.6</td><td>48.9</td><td>57.5</td></tr>
<tr><td>Depreciation</td><td>49.2</td><td>50.3</td><td>53.6</td><td>56</td><td>56</td><td>56.7</td><td>57.7</td><td>69.7</td><td>80.3</td><td>78.3</td></tr>
<tr><td>Interest</td><td>3.4</td><td>3.3</td><td>2.7</td><td>3.6</td><td>11.1</td><td>8.9</td><td>3.3</td><td>4.3</td><td>7.8</td><td>7</td></tr>
<tr><td>Profit before tax</td><td>266.6</td><td>269.2</td><td>269.3</td><td>314</td><td>397.7</td><td>400.2</td><td>332.5</td><td>445.4</td><td>512.2</td><td>525.8</td></tr>
<tr><td>Tax</td><td>37</td><td>46.6</td><td>64.9</td><td>51.6</td><td>62.9</td><td>48.4</td><td>51.9</td><td>62.5</td><td>31.7</td><td>77.2</td></tr>
<tr><td>Net profit</td><td>229.6</td><td>222.6</td><td>204.4</td><td>262.4</td><td>334.8</td><td>351.8</td><td>280.6</td><td>382.9</td><td>480.5</td><td>448.6</td></tr>
<tr><td>Operating Profit</td><td>291.5</td><td>296.5</td><td>305</td><td>345.6</td><td>431.9</td><td>415.1</td><td>342.8</td><td>467.8</td><td>551.4</td><td>553.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>13.61</td><td>13.66</td><td>13.71</td><td>13.76</td><td>13.8</td><td>13.8</td><td>13.8</td><td>15.2</td><td>15.2</td><td>15.2</td></tr>
<tr><td>Reserves</td><td>680.9</td><td>882.8</td><td>1157.21</td><td>1613.42</td><td>1911</td><td>2271.6</td><td>2605.3</td><td>5327.2</td><td>6105.2</td><td>7183.3</td></tr>
<tr><td>Borrowings</td><td>122.29</td><td>114.79</td><td>151.37</td><td>120.11</td><td>83.4</td><td>49.2</td><td>518.6</td><td>372.8</td><td>316.3</td><td>46.5</td></tr>
<tr><td>Other Liabilities</td><td>501.11</td><td>621.94</td><td>626.31</td><td>554.11</td><td>618.2</td><td>820.2</td><td>1087.1</td><td>1286.7</td><td>1354.4</td><td>1234.7</td></tr>
<tr><td>Total</td><td>1317.91</td><td>1633.19</td><td>1948.6</td><td>2301.4</td><td>2626.4</td><td>3154.8</td><td>4224.8</td><td>7001.9</td><td>7791.1</td><td>8479.7</td></tr>
<tr><td>Net Block</td><td>526.67</td><td>532.67</td><td>874.17</td><td>945.01</td><td>997.7</td><td>1185.7</td><td>1857.5</td><td>2138.2</td><td>2452.5</td><td>2605.5</td></tr>
<tr><td>Capital Work in Progress</td><td>42.48</td><td>133.24</td><td>71.3</td><td>77.32</td><td>89.9</td><td>182.8</td><td>270.7</td><td>287.5</td><td>114.5</td><td>132.4</td></tr>
<tr><td>Investments</td><td>0.52</td><td>0.52</td><td>0.32</td><td>83.29</td><td>160.6</td><td>129.1</td><td>150.4</td><td>872.4</td><td>899.5</td><td>1015.6</td></tr>
<tr><td>Other Assets</td><td>748.24</td><td>966.76</td><td>1002.81</td><td>1195.78</td><td>1378.2</td><td>1657.2</td><td>1946.2</td><td>3703.8</td><td>4324.6</td><td>4726.2</td></tr>
<tr><td>Total</td><td>1317.91</td><td>1633.19</td><td>1948.6</td><td>2301.4</td><td>2626.4</td><td>3154.8</td><td>4224.8</td><td>7001.9</td><td>7791.1</td><td>8479.7</td></tr>
<tr><td>Receivables</td><td>256.82</td><td>382.58</td><td>397.75</td><td>423.71</td><td>526.8</td><td>661.8</td><td>646.5</td><td>703.5</td><td>868.7</td><td>772</td></tr>
<tr><td>Inventory</td><td>318.76</td><td>378.21</td><td>394.8</td><td>431.95</td><td>452</td><td>535.7</td><td>798.9</td><td>1052.8</td><td>1423.4</td><td>1397.6</td></tr>
<tr><td>Cash & Bank</td><td>43.76</td><td>34.14</td><td>55.99</td><td>132.64</td><td>130.7</td><td>89.2</td><td>134.4</td><td>1475.7</td><td>1410.2</td><td>2242.9</td></tr>
<tr><td>No. of Equity Shares</td><td>136109080</td><td>136576182</td><td>137127222</td><td>137586624</td><td>137907318</td><td>138030651</td><td>138107993</td><td>151894693</td><td>151894693</td><td>151894693</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>219.11</td><td>184.15</td><td>366.81</td><td>338.85</td><td>319.4</td><td>390.8</td><td>698.1</td><td>724.9</td><td>528.7</td><td>1501.4</td></tr>
<tr><td>Cash from Investing Activity</td><td>-50.49</td><td>-146.18</td><td>-303.36</td><td>-235.14</td><td>-180.5</td><td>-321.6</td><td>-984.9</td><td>-2430.3</td><td>-110.4</td><td>-496.2</td></tr>
<tr><td>Cash from Financing Activity</td><td>-145.07</td><td>-52.58</td><td>-47.6</td><td>-53.44</td><td>-106.1</td><td>-125.1</td><td>350</td><td>1690.4</td><td>-177.3</td><td>-483.1</td></tr>
<tr><td>Net Cash Flow</td><td>23.55</td><td>-14.61</td><td>15.85</td><td>50.26</td><td>32.8</td><td>-55.9</td><td>63.2</td><td>-15</td><td>241</td><td>522.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>278.35</td><td>606.2</td><td>568.45</td><td>838.15</td><td>885.2</td><td>1031.95</td><td>1170.05</td><td>2258.15</td><td>2819.65</td><td>3030.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>13.61</td><td>13.66</td><td>13.71</td><td>13.76</td><td>13.79</td><td>13.8</td><td>13.81</td><td>15.17</td><td>15.17</td><td>15.17</td></tr>
</table>
</body>
</html>