<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Paradeep Phospha</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PARADEEP PHOSPHATES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>65.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5334.23</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>3619.84</td><td>3791.03</td><td>4357.91</td><td>4192.86</td><td>5164.73</td><td>7858.72</td><td>13340.72</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>2500.49</td><td>2587.88</td><td>3686.75</td><td>2685.55</td><td>3645.33</td><td>6674.5</td><td>10621.96</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>-17.54</td><td>562.45</td><td></td><td>-225.83</td><td>393.24</td><td>8.78</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>81.16</td><td>82.25</td><td>82.06</td><td>72.94</td><td>62.58</td><td>70.16</td><td>626.1</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>52.61</td><td>61.45</td><td>54.39</td><td>59.14</td><td>445.2</td><td>505.36</td><td>788.45</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>113.06</td><td>118.92</td><td>130.58</td><td>131.93</td><td>139.19</td><td>138.5</td><td>213.2</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>20.98</td><td>351.94</td><td>24.42</td><td>21.02</td><td>51.87</td><td>51.81</td><td>109.98</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>472.7</td><td>146.6</td><td>500.63</td><td>762.53</td><td>45.59</td><td>127.62</td><td>173.7</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>52.64</td><td>20.13</td><td>39.3</td><td>34.91</td><td>12.32</td><td>26.37</td><td>75.95</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>58.3</td><td>61.82</td><td>70.1</td><td>72.48</td><td>83.33</td><td>90.46</td><td>175.15</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>242</td><td>159.23</td><td>159.25</td><td>191.79</td><td>111.43</td><td>85.54</td><td>291.24</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>131.18</td><td>223.53</td><td>251.48</td><td>230.39</td><td>366.7</td><td>534.38</td><td>425.67</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>44.26</td><td>72.94</td><td>92.44</td><td>36.34</td><td>143.24</td><td>136.53</td><td>121.98</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>86.91</td><td>150.59</td><td>159.05</td><td>194.05</td><td>223.46</td><td>397.84</td><td>303.69</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>40.72</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1934.66</td><td>2709.32</td><td>1898.75</td><td>2434.66</td><td>2863.69</td><td>4398.43</td><td>3643.94</td><td>3054.33</td><td>3683.02</td><td>2595.03</td></tr>
<tr><td>Expenses</td><td>1666.66</td><td>2500.91</td><td>1806.37</td><td>2277.42</td><td>2682.3</td><td>4026.68</td><td>3553.33</td><td>3092.89</td><td>3427.02</td><td>2312.54</td></tr>
<tr><td>Other Income</td><td>2.95</td><td>6.34</td><td>25.55</td><td>9.73</td><td>6.12</td><td>5.54</td><td>69.68</td><td>19.18</td><td>10.99</td><td>8.64</td></tr>
<tr><td>Depreciation</td><td>22.5</td><td>23.18</td><td>23.38</td><td>30.83</td><td>46.77</td><td>47.08</td><td>50.47</td><td>47.02</td><td>50.68</td><td>55.16</td></tr>
<tr><td>Interest</td><td>14.58</td><td>21.37</td><td>42.47</td><td>51.39</td><td>72.74</td><td>87.35</td><td>79.76</td><td>92.36</td><td>95.94</td><td>82.46</td></tr>
<tr><td>Profit before tax</td><td>233.87</td><td>170.2</td><td>52.08</td><td>84.75</td><td>68</td><td>242.86</td><td>30.06</td><td>-158.76</td><td>120.37</td><td>153.51</td></tr>
<tr><td>Tax</td><td>59.01</td><td>42.39</td><td>16.42</td><td>22.1</td><td>17.26</td><td>62.04</td><td>20.59</td><td>-39.35</td><td>30.94</td><td>44.59</td></tr>
<tr><td>Net profit</td><td>174.86</td><td>127.81</td><td>35.66</td><td>62.65</td><td>50.74</td><td>180.82</td><td>9.47</td><td>-119.41</td><td>89.43</td><td>108.92</td></tr>
<tr><td>Operating Profit</td><td>268</td><td>208.41</td><td>92.38</td><td>157.24</td><td>181.39</td><td>371.75</td><td>90.61</td><td>-38.56</td><td>256</td><td>282.49</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td>575.45</td><td>575.45</td><td>575.45</td><td>575.45</td><td>575.45</td><td>575.45</td><td>814.5</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td>669.93</td><td>819.99</td><td>907.35</td><td>1028.62</td><td>1252.93</td><td>1650.31</td><td>2690.71</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>2511.12</td><td>1860.59</td><td>3053.77</td><td>2218.49</td><td>1251.17</td><td>2954.3</td><td>4647.92</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>827.76</td><td>875.47</td><td>1091.18</td><td>1188.29</td><td>1344.48</td><td>2748.88</td><td>2504.38</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>4584.26</td><td>4131.5</td><td>5627.75</td><td>5010.85</td><td>4424.03</td><td>7928.94</td><td>10657.51</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>932.32</td><td>1007.89</td><td>1024.34</td><td>1214.03</td><td>1226.21</td><td>1260.6</td><td>2871.75</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>243.41</td><td>214.58</td><td>254.81</td><td>149.04</td><td>220.06</td><td>336.29</td><td>696.86</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>0.09</td><td>3.66</td><td>125.7</td><td>554.02</td><td>3.66</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td>3408.53</td><td>2909.03</td><td>4348.51</td><td>3644.12</td><td>2852.06</td><td>5778.03</td><td>7085.24</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>4584.26</td><td>4131.5</td><td>5627.75</td><td>5010.85</td><td>4424.03</td><td>7928.94</td><td>10657.51</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>2232.49</td><td>1915.47</td><td>2342.15</td><td>2148.9</td><td>1155.59</td><td>902.48</td><td>3689.74</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>724.47</td><td>659.7</td><td>1421.82</td><td>1078.54</td><td>899.05</td><td>2293.22</td><td>2237.68</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td>15.12</td><td>29.82</td><td>20.11</td><td>5.82</td><td>93.2</td><td>597.71</td><td>109.85</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td>5754500</td><td>5754500</td><td>5754500</td><td>5754500</td><td>5754500</td><td>575450000</td><td>814497619</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td>1000</td><td>1000</td><td>1000</td><td>1000</td><td>1000</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>700.82</td><td>803.98</td><td>-920.36</td><td>1269.74</td><td>1501.15</td><td>-43.88</td><td>-2376.67</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-132.47</td><td>72.65</td><td>-103.27</td><td>-143.16</td><td>-289.32</td><td>-1098.78</td><td>-418.7</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-588.77</td><td>-867.83</td><td>1018.45</td><td>-1141.23</td><td>-1124.38</td><td>1588.97</td><td>2300.57</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>-20.41</td><td>8.79</td><td>-5.18</td><td>-14.65</td><td>87.44</td><td>446.32</td><td>-494.81</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>50.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td>0.58</td><td>0.58</td><td>0.58</td><td>0.58</td><td>0.58</td><td>57.54</td><td>81.45</td></tr>
</table>
</body>
</html>