<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\PDS</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PDS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>436.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5745.22</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3687.05</td><td>3872.35</td><td>4276.77</td><td>4616.01</td><td>4923.86</td><td>6485.86</td><td>6648.04</td><td>6212.87</td><td>8828.21</td><td>10577</td></tr>
<tr><td>Raw Material Cost</td><td>3152.67</td><td>3349.2</td><td>3684.35</td><td>4005.66</td><td>4262.31</td><td>5565.22</td><td>5599.08</td><td>5191.39</td><td>7457.8</td><td>8793.14</td></tr>
<tr><td>Change in Inventory</td><td>-11.9</td><td>12.09</td><td>-14.09</td><td>1.72</td><td>13.06</td><td>26.97</td><td>49.78</td><td>6.09</td><td>61.68</td><td>-12.38</td></tr>
<tr><td>Power and Fuel</td><td>0.04</td><td></td><td>0.2</td><td>0.73</td><td>0.87</td><td>1.81</td><td>4.14</td><td>6.55</td><td>8.5</td><td>8.38</td></tr>
<tr><td>Other Mfr. Exp</td><td>21.6</td><td>9.59</td><td>9.43</td><td>9.64</td><td>23.39</td><td>19.52</td><td>19.74</td><td>15.17</td><td>17.24</td><td>25.87</td></tr>
<tr><td>Employee Cost</td><td>233.36</td><td>221.01</td><td>237.09</td><td>259.95</td><td>306.38</td><td>379.42</td><td>435.96</td><td>414.25</td><td>620.87</td><td>761.27</td></tr>
<tr><td>Selling and admin</td><td>180.03</td><td>184.41</td><td>213.17</td><td>219.99</td><td>251.4</td><td>386.12</td><td>377.31</td><td>303.24</td><td>407.22</td><td>459</td></tr>
<tr><td>Other Expenses</td><td>86.87</td><td>65.84</td><td>76.88</td><td>64.84</td><td>54.78</td><td>25.18</td><td>57.33</td><td>47.6</td><td>44.57</td><td>42.42</td></tr>
<tr><td>Other Income</td><td>58.35</td><td>13.02</td><td>30.98</td><td>14.46</td><td>24.36</td><td>16.11</td><td>12.86</td><td>37.39</td><td>85.7</td><td>51.48</td></tr>
<tr><td>Depreciation</td><td>15.53</td><td>14.63</td><td>14.65</td><td>12.87</td><td>16.4</td><td>26.34</td><td>52.2</td><td>67.7</td><td>69.91</td><td>80.18</td></tr>
<tr><td>Interest</td><td>16.82</td><td>18.83</td><td>14.16</td><td>13.09</td><td>21.73</td><td>56.32</td><td>74.38</td><td>40.51</td><td>39.4</td><td>89.08</td></tr>
<tr><td>Profit before tax</td><td>26.58</td><td>33.95</td><td>43.73</td><td>45.42</td><td>24.02</td><td>69.01</td><td>90.54</td><td>169.94</td><td>310.08</td><td>356.76</td></tr>
<tr><td>Tax</td><td>2.82</td><td>5.41</td><td>0.66</td><td>5.09</td><td>3.18</td><td>0.13</td><td>9.46</td><td>21.52</td><td>17.25</td><td>29.98</td></tr>
<tr><td>Net profit</td><td>18.37</td><td>21.79</td><td>27.91</td><td>14.33</td><td>-7.84</td><td>43.84</td><td>46.02</td><td>84.32</td><td>248.41</td><td>264.98</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>41.03</td><td>62.11</td><td>66.71</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2194.89</td><td>2231.67</td><td>2775.44</td><td>2340.37</td><td>2921.22</td><td>2573.75</td><td>2741.66</td><td>2114.94</td><td>2462.75</td><td>2579.78</td></tr>
<tr><td>Expenses</td><td>2110.94</td><td>2130.59</td><td>2672.86</td><td>2267.78</td><td>2802.05</td><td>2442.36</td><td>2609.06</td><td>2047.66</td><td>2326.28</td><td>2505.2</td></tr>
<tr><td>Other Income</td><td>10.93</td><td>5.22</td><td>21.34</td><td>2.68</td><td>39.5</td><td>7.29</td><td>3.25</td><td>5.98</td><td>8.86</td><td>15.67</td></tr>
<tr><td>Depreciation</td><td>16.71</td><td>16.7</td><td>19.31</td><td>18.71</td><td>20.19</td><td>18.72</td><td>22.56</td><td>21.55</td><td>22.65</td><td>22.82</td></tr>
<tr><td>Interest</td><td>7.27</td><td>4.94</td><td>11.87</td><td>9.26</td><td>14.22</td><td>20.66</td><td>27.39</td><td>23.39</td><td>24.45</td><td>31.32</td></tr>
<tr><td>Profit before tax</td><td>70.9</td><td>84.66</td><td>92.74</td><td>47.3</td><td>124.26</td><td>99.3</td><td>85.9</td><td>28.32</td><td>98.23</td><td>36.11</td></tr>
<tr><td>Tax</td><td>4.08</td><td>4</td><td>6.5</td><td>3.12</td><td>10.97</td><td>6.6</td><td>9.3</td><td>4.99</td><td>9.77</td><td>10.61</td></tr>
<tr><td>Net profit</td><td>51.64</td><td>65.75</td><td>77.13</td><td>37.02</td><td>93.87</td><td>77.51</td><td>56.58</td><td>18.84</td><td>65.04</td><td>14.58</td></tr>
<tr><td>Operating Profit</td><td>83.95</td><td>101.08</td><td>102.58</td><td>72.59</td><td>119.17</td><td>131.39</td><td>132.6</td><td>67.28</td><td>136.47</td><td>74.58</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>0.05</td><td>26.05</td><td>26.05</td><td>26.05</td><td>26.05</td><td>26.05</td><td>26.05</td><td>26.05</td><td>26.04</td><td>26.16</td></tr>
<tr><td>Reserves</td><td>399.04</td><td>420.61</td><td>455.05</td><td>436.95</td><td>438.57</td><td>442.15</td><td>532.64</td><td>620.84</td><td>846.36</td><td>1027.52</td></tr>
<tr><td>Borrowings</td><td>465.54</td><td>475.05</td><td>485.08</td><td>464.88</td><td>552.12</td><td>700.09</td><td>747.18</td><td>561.55</td><td>740.48</td><td>719.01</td></tr>
<tr><td>Other Liabilities</td><td>409.39</td><td>468.89</td><td>478.4</td><td>509.48</td><td>643.31</td><td>1003.44</td><td>1037.96</td><td>1136.09</td><td>1782.35</td><td>1336.35</td></tr>
<tr><td>Total</td><td>1274.02</td><td>1390.6</td><td>1444.58</td><td>1437.36</td><td>1660.05</td><td>2171.73</td><td>2343.83</td><td>2344.53</td><td>3395.23</td><td>3109.04</td></tr>
<tr><td>Net Block</td><td>182.7</td><td>192.05</td><td>195.07</td><td>210.13</td><td>273.2</td><td>354.36</td><td>479.04</td><td>463.76</td><td>463.35</td><td>483.69</td></tr>
<tr><td>Capital Work in Progress</td><td>2.31</td><td>10.62</td><td>22.93</td><td>19.54</td><td>30.47</td><td>14.56</td><td>20.72</td><td>4.77</td><td>3.24</td><td>7.65</td></tr>
<tr><td>Investments</td><td>22.86</td><td>19.54</td><td>43.5</td><td>67.73</td><td>98.28</td><td>79.46</td><td>89</td><td>154.09</td><td>319.39</td><td>418.36</td></tr>
<tr><td>Other Assets</td><td>1066.15</td><td>1168.39</td><td>1183.08</td><td>1139.96</td><td>1258.1</td><td>1723.35</td><td>1755.07</td><td>1721.91</td><td>2609.25</td><td>2199.34</td></tr>
<tr><td>Total</td><td>1274.02</td><td>1390.6</td><td>1444.58</td><td>1437.36</td><td>1660.05</td><td>2171.73</td><td>2343.83</td><td>2344.53</td><td>3395.23</td><td>3109.04</td></tr>
<tr><td>Receivables</td><td>583.17</td><td>715.09</td><td>775.23</td><td>728.49</td><td>782.56</td><td>1028.71</td><td>832.44</td><td>909.81</td><td>1421.31</td><td>978.43</td></tr>
<tr><td>Inventory</td><td>120.72</td><td>88.51</td><td>50.27</td><td>34.63</td><td>64.73</td><td>135.96</td><td>183.02</td><td>197.13</td><td>305.25</td><td>255.74</td></tr>
<tr><td>Cash & Bank</td><td>211.89</td><td>177.16</td><td>198.75</td><td>248.33</td><td>225.41</td><td>370.24</td><td>502.47</td><td>430.65</td><td>664.85</td><td>729.13</td></tr>
<tr><td>No. of Equity Shares</td><td>50000</td><td>26046724</td><td>26046724</td><td>26046724</td><td>26046724</td><td>26046724</td><td>26046724</td><td>26046724</td><td>26046724</td><td>130795495</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>5.46</td><td>-10.18</td><td>120.77</td><td>120.99</td><td>58.27</td><td>213.15</td><td>280.76</td><td>379.31</td><td>407.26</td><td>509.88</td></tr>
<tr><td>Cash from Investing Activity</td><td>-309.7</td><td>6.81</td><td>-69.9</td><td>-46.12</td><td>-146.84</td><td>-199.72</td><td>-55.39</td><td>-87.7</td><td>-220.56</td><td>-129.95</td></tr>
<tr><td>Cash from Financing Activity</td><td>393.65</td><td>1.21</td><td>-69.73</td><td>-8.72</td><td>65.51</td><td>115.1</td><td>-128.04</td><td>-346.64</td><td>-26.49</td><td>-336.85</td></tr>
<tr><td>Net Cash Flow</td><td>89.41</td><td>-2.16</td><td>-18.87</td><td>66.15</td><td>-23.05</td><td>128.52</td><td>97.33</td><td>-55.03</td><td>160.21</td><td>43.08</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td>30.4</td><td>36.2</td><td>33.8</td><td>56.8</td><td>53.4</td><td>56.42</td><td>132.47</td><td>349.4</td><td>332.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>0.03</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.02</td><td>13.09</td></tr>
</table>
</body>
</html>