<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Petronet LNG</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PETRONET LNG LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>295.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>44349.21</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>37747.58</td><td>39500.95</td><td>27133.43</td><td>24616.03</td><td>30598.62</td><td>38395.43</td><td>35452</td><td>26022.9</td><td>43168.57</td><td>59899.35</td></tr>
<tr><td>Raw Material Cost</td><td>35849.49</td><td>37610.86</td><td>25075.65</td><td>21416.92</td><td>26690.19</td><td>34416.95</td><td>30495.94</td><td>20700.28</td><td>37077.47</td><td>53952.35</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>186.46</td><td>192.27</td><td>174.04</td><td>154.98</td><td>182.2</td><td>214.66</td><td>231.36</td><td>181.12</td><td>210.84</td><td>201.24</td></tr>
<tr><td>Other Mfr. Exp</td><td>40.61</td><td>25.17</td><td>30.82</td><td>93.45</td><td>86.05</td><td>75.39</td><td>78.72</td><td>101.61</td><td>112.13</td><td>96.76</td></tr>
<tr><td>Employee Cost</td><td>46.86</td><td>57.31</td><td>71.47</td><td>74.28</td><td>91.39</td><td>125.99</td><td>126</td><td>147.76</td><td>182.85</td><td>184.03</td></tr>
<tr><td>Selling and admin</td><td>64.45</td><td>84.36</td><td>82.5</td><td>72.97</td><td>85.34</td><td>79.03</td><td>72.96</td><td>68.67</td><td>64.92</td><td>62.21</td></tr>
<tr><td>Other Expenses</td><td>61.05</td><td>91.93</td><td>112.7</td><td>211.05</td><td>149.8</td><td>189.2</td><td>457.5</td><td>123.34</td><td>266.42</td><td>546.87</td></tr>
<tr><td>Other Income</td><td>83.54</td><td>154.72</td><td>173.34</td><td>346.53</td><td>316.1</td><td>449.53</td><td>300.46</td><td>387.57</td><td>305.66</td><td>573.5</td></tr>
<tr><td>Depreciation</td><td>308.1</td><td>315.38</td><td>321.6</td><td>369.07</td><td>411.65</td><td>411.24</td><td>776.13</td><td>784.09</td><td>768.45</td><td>764.34</td></tr>
<tr><td>Interest</td><td>219.58</td><td>293.49</td><td>238.75</td><td>209.65</td><td>162.99</td><td>98.92</td><td>403.2</td><td>335.95</td><td>317.33</td><td>330.51</td></tr>
<tr><td>Profit before tax</td><td>1054.52</td><td>984.9</td><td>1199.24</td><td>2360.19</td><td>3055.11</td><td>3233.58</td><td>3110.65</td><td>3967.65</td><td>4473.82</td><td>4334.54</td></tr>
<tr><td>Tax</td><td>342.6</td><td>102.38</td><td>285.98</td><td>654.52</td><td>977.26</td><td>1078.15</td><td>413.05</td><td>1018.28</td><td>1121.46</td><td>1094.6</td></tr>
<tr><td>Net profit</td><td>711.92</td><td>882.52</td><td>913.26</td><td>1705.67</td><td>2077.85</td><td>2155.43</td><td>2697.6</td><td>2949.37</td><td>3352.36</td><td>3239.94</td></tr>
<tr><td>Dividend Amount</td><td>150</td><td>150</td><td>187.5</td><td>375</td><td>675</td><td>1500</td><td>1875</td><td>1725</td><td>1725</td><td>1500</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>10813.08</td><td>12597.22</td><td>11160.37</td><td>14263.82</td><td>15985.73</td><td>15775.87</td><td>13873.93</td><td>11656.05</td><td>12532.01</td><td>14747.21</td></tr>
<tr><td>Expenses</td><td>9516.23</td><td>10865.07</td><td>9991.31</td><td>13199.43</td><td>14812.78</td><td>14100.51</td><td>12930.86</td><td>10474.27</td><td>11317.28</td><td>13041.22</td></tr>
<tr><td>Other Income</td><td>81.64</td><td>71.85</td><td>85.24</td><td>141.76</td><td>94.24</td><td>183.87</td><td>153.75</td><td>146.74</td><td>156.73</td><td>156.47</td></tr>
<tr><td>Depreciation</td><td>193.58</td><td>193.64</td><td>189.63</td><td>191.24</td><td>192.21</td><td>192.32</td><td>188.57</td><td>191.85</td><td>194.81</td><td>195.48</td></tr>
<tr><td>Interest</td><td>79.44</td><td>77.57</td><td>80.29</td><td>77.85</td><td>81.1</td><td>81.35</td><td>90.21</td><td>74.55</td><td>74.7</td><td>69.67</td></tr>
<tr><td>Profit before tax</td><td>1105.47</td><td>1532.79</td><td>984.38</td><td>937.06</td><td>993.88</td><td>1585.56</td><td>818.04</td><td>1062.12</td><td>1101.95</td><td>1597.31</td></tr>
<tr><td>Tax</td><td>282.45</td><td>389.27</td><td>234.24</td><td>236.16</td><td>249.63</td><td>405.02</td><td>203.79</td><td>272.27</td><td>283.85</td><td>406.64</td></tr>
<tr><td>Net profit</td><td>823.02</td><td>1143.52</td><td>750.14</td><td>700.9</td><td>744.25</td><td>1180.54</td><td>614.25</td><td>789.85</td><td>818.1</td><td>1190.67</td></tr>
<tr><td>Operating Profit</td><td>1296.85</td><td>1732.15</td><td>1169.06</td><td>1064.39</td><td>1172.95</td><td>1675.36</td><td>943.07</td><td>1181.78</td><td>1214.73</td><td>1705.99</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>750</td><td>750</td><td>750</td><td>750</td><td>1500</td><td>1500</td><td>1500</td><td>1500</td><td>1500</td><td>1500</td></tr>
<tr><td>Reserves</td><td>4236.12</td><td>4938.63</td><td>5863.97</td><td>7343.89</td><td>8220.47</td><td>8566.07</td><td>9452.97</td><td>10149.5</td><td>11925.48</td><td>13434.74</td></tr>
<tr><td>Borrowings</td><td>3266.94</td><td>2654.11</td><td>2614.55</td><td>2218</td><td>1453.05</td><td>733.4</td><td>3689.71</td><td>3652.93</td><td>3438.5</td><td>3345.01</td></tr>
<tr><td>Other Liabilities</td><td>3659.62</td><td>2780.83</td><td>3197.61</td><td>3517.21</td><td>4480.19</td><td>4285.36</td><td>4056.27</td><td>3630.21</td><td>4258.11</td><td>4164.04</td></tr>
<tr><td>Total</td><td>11912.68</td><td>11123.57</td><td>12426.13</td><td>13829.1</td><td>15653.71</td><td>15084.83</td><td>18698.95</td><td>18932.64</td><td>21122.09</td><td>22443.79</td></tr>
<tr><td>Net Block</td><td>6265.04</td><td>6942.59</td><td>6810.54</td><td>8423.04</td><td>8029.62</td><td>7665.08</td><td>11188.19</td><td>10313.14</td><td>9557.19</td><td>8790.31</td></tr>
<tr><td>Capital Work in Progress</td><td>879.93</td><td>746.9</td><td>1550.48</td><td>48.55</td><td>220.27</td><td>348.21</td><td>4.68</td><td>25.48</td><td>192.63</td><td>1125.88</td></tr>
<tr><td>Investments</td><td>139.88</td><td>90</td><td>90</td><td>2935.11</td><td>4122.22</td><td>989.27</td><td>349.05</td><td>1549.57</td><td>1050.22</td><td>1044.49</td></tr>
<tr><td>Other Assets</td><td>4627.83</td><td>3344.08</td><td>3975.11</td><td>2422.4</td><td>3281.6</td><td>6082.27</td><td>7157.03</td><td>7044.45</td><td>10322.05</td><td>11483.11</td></tr>
<tr><td>Total</td><td>11912.68</td><td>11123.57</td><td>12426.13</td><td>13829.1</td><td>15653.71</td><td>15084.83</td><td>18698.95</td><td>18932.64</td><td>21122.09</td><td>22443.79</td></tr>
<tr><td>Receivables</td><td>2015.69</td><td>1342.77</td><td>988.52</td><td>1210.79</td><td>1600.78</td><td>1382.45</td><td>1602.57</td><td>1874.53</td><td>2684.44</td><td>3839.7</td></tr>
<tr><td>Inventory</td><td>955.69</td><td>882.63</td><td>246.1</td><td>540.52</td><td>491.1</td><td>569.44</td><td>480.89</td><td>337.18</td><td>579.69</td><td>1174.25</td></tr>
<tr><td>Cash & Bank</td><td>1232.73</td><td>362.09</td><td>2182.89</td><td>327.34</td><td>862.52</td><td>2960.28</td><td>4432.01</td><td>4342.34</td><td>4319.55</td><td>5680.03</td></tr>
<tr><td>No. of Equity Shares</td><td>750000044</td><td>750000044</td><td>750000044</td><td>750000044</td><td>1500000088</td><td>1500000088</td><td>1500000088</td><td>1500000088</td><td>1500000088</td><td>1500000088</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td>750000044</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>963.57</td><td>829.76</td><td>3374.03</td><td>2067.58</td><td>2995.63</td><td>2141.42</td><td>2863.11</td><td>3559.23</td><td>3472.1</td><td>2519.89</td></tr>
<tr><td>Cash from Investing Activity</td><td>-802.77</td><td>-665.38</td><td>-853.77</td><td>-3175.07</td><td>-1277.62</td><td>-71.53</td><td>940.98</td><td>-927.31</td><td>-1063.31</td><td>-1136.71</td></tr>
<tr><td>Cash from Financing Activity</td><td>-196.52</td><td>-1034.02</td><td>-699.38</td><td>-748.23</td><td>-1334.7</td><td>-2547.61</td><td>-3054.65</td><td>-2758.61</td><td>-2210.92</td><td>-2368.06</td></tr>
<tr><td>Net Cash Flow</td><td>-35.72</td><td>-869.64</td><td>1820.88</td><td>-1855.72</td><td>383.31</td><td>-477.72</td><td>749.44</td><td>-126.69</td><td>197.87</td><td>-984.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>68.5</td><td>85.78</td><td>125.38</td><td>201.58</td><td>230.95</td><td>251.55</td><td>199.7</td><td>224.65</td><td>193.75</td><td>228.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td><td>150</td></tr>
</table>
</body>
</html>