<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\PG Electroplast</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PG ELECTROPLAST LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1966.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5145.43</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2013-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>424.07</td><td>221.83</td><td>302.64</td><td>703.21</td><td>1111.64</td><td>2159.95</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>370.16</td><td>193.61</td><td>265.24</td><td>553.33</td><td>913.12</td><td>1792.77</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>0.46</td><td>1.21</td><td>2.33</td><td>-3.19</td><td>29.08</td><td>28.26</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>4.08</td><td>5.23</td><td></td><td>16.13</td><td>20.62</td><td>28.68</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>10.44</td><td>5.73</td><td></td><td>11.45</td><td>15.51</td><td>33.7</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>8.77</td><td>11.64</td><td>15.87</td><td>55.08</td><td>77.94</td><td>122.94</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>2.88</td><td>3.53</td><td></td><td>11.1</td><td>17.78</td><td>24.67</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>0.3</td><td>0.7</td><td>18.88</td><td>3.1</td><td>6.69</td><td>8.91</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>2.97</td><td>3.97</td><td>6.58</td><td>1.74</td><td>5.22</td><td>3.88</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>2.07</td><td>4.51</td><td>9.23</td><td>18.01</td><td>22.11</td><td>34.95</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>5.66</td><td>10.64</td><td>11.12</td><td>18.44</td><td>23.13</td><td>47.93</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>23.14</td><td>-8.58</td><td>-8.79</td><td>15.12</td><td>49.04</td><td>97.54</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>5.28</td><td>0.04</td><td>-3.8</td><td>3.5</td><td>11.63</td><td>20.07</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>17.86</td><td>-8.62</td><td>-5</td><td>11.61</td><td>36.94</td><td>77.5</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>198.41</td><td>262</td><td>513.76</td><td>536.73</td><td>335.55</td><td>459.43</td><td>828.23</td><td>677.62</td><td>460.42</td><td>531.88</td></tr>
<tr><td>Expenses</td><td>185.56</td><td>245.46</td><td>463.78</td><td>500.35</td><td>308.7</td><td>422.36</td><td>752.5</td><td>611.82</td><td>422.86</td><td>489.92</td></tr>
<tr><td>Other Income</td><td>0.64</td><td>1.27</td><td>2.95</td><td>1.26</td><td>0.86</td><td>1.1</td><td>1.17</td><td>1.3</td><td>3.29</td><td>5.04</td></tr>
<tr><td>Depreciation</td><td>4.71</td><td>5.69</td><td>7.17</td><td>7.73</td><td>8.11</td><td>8.65</td><td>10.46</td><td>10.71</td><td>11.05</td><td>11.28</td></tr>
<tr><td>Interest</td><td>4.36</td><td>5.26</td><td>8.9</td><td>9.36</td><td>8.86</td><td>12.12</td><td>17.59</td><td>14.04</td><td>12.2</td><td>9.73</td></tr>
<tr><td>Profit before tax</td><td>4.42</td><td>6.86</td><td>36.86</td><td>20.55</td><td>10.74</td><td>17.4</td><td>48.85</td><td>42.35</td><td>17.6</td><td>25.99</td></tr>
<tr><td>Tax</td><td>0.78</td><td>1.31</td><td>9.22</td><td>4.14</td><td>3.56</td><td>3.67</td><td>8.69</td><td>8.55</td><td>5.21</td><td>6.75</td></tr>
<tr><td>Net profit</td><td>3.65</td><td>5.54</td><td>27.63</td><td>16.4</td><td>7.18</td><td>13.74</td><td>40.17</td><td>33.81</td><td>12.37</td><td>19.18</td></tr>
<tr><td>Operating Profit</td><td>12.85</td><td>16.54</td><td>49.98</td><td>36.38</td><td>26.85</td><td>37.07</td><td>75.73</td><td>65.8</td><td>37.56</td><td>41.96</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2013-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>10.67</td><td>16.41</td><td>16.41</td><td>19.69</td><td>21.22</td><td>22.74</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>34.75</td><td>131.02</td><td>126.09</td><td>171.14</td><td>290.7</td><td>373.19</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>68.21</td><td>77.65</td><td>80.1</td><td>184.83</td><td>398.63</td><td>576.99</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>46.17</td><td>62.5</td><td>65.43</td><td>204.4</td><td>358.83</td><td>536.17</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>159.8</td><td>287.58</td><td>288.03</td><td>580.06</td><td>1069.38</td><td>1509.09</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>61.98</td><td>121.88</td><td>122.55</td><td>273.13</td><td>440.96</td><td>577.79</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>17.47</td><td>20.91</td><td>22.14</td><td>6.01</td><td>4.89</td><td>1.98</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>0.35</td><td>29.5</td><td>26.16</td><td>0.15</td><td>0.69</td><td>2.18</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>80</td><td>115.29</td><td>117.18</td><td>300.77</td><td>622.84</td><td>927.14</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>159.8</td><td>287.58</td><td>288.03</td><td>580.06</td><td>1069.38</td><td>1509.09</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>32.91</td><td>17.73</td><td>35.36</td><td>147.26</td><td>213.33</td><td>437.87</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>16.66</td><td>23.88</td><td>27.86</td><td>93.29</td><td>286.89</td><td>354.31</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>6.03</td><td>11.86</td><td>4.57</td><td>17.41</td><td>39.18</td><td>39.63</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>10469332</td><td>16414332</td><td>16414332</td><td>19693916</td><td>21224866</td><td>22742617</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2013-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>23.13</td><td>-23.31</td><td></td><td>57.3</td><td>-78.8</td><td>45.74</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-50.21</td><td>-96.55</td><td></td><td>-43.74</td><td>-161</td><td>-172.97</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>22.24</td><td>125.83</td><td></td><td>-17.43</td><td>256.24</td><td>112.05</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-4.84</td><td>5.97</td><td></td><td>-3.87</td><td>16.43</td><td>-15.18</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td>207.85</td><td>82.2</td><td>406.95</td><td>731.1</td><td>1332.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>1.64</td><td>1.64</td><td>1.97</td><td>2.12</td><td>2.27</td></tr>
</table>
</body>
</html>