<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Piramal Pharma</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PIRAMAL PHARMA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>148</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>19598.74</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>6314.9</td><td>6559.1</td><td>7081.55</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2111.85</td><td>2396.03</td><td>2634.66</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>52.74</td><td>-55.21</td><td>-68.64</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>136.7</td><td>163.56</td><td>207.81</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>445.01</td><td>467.18</td><td>570.12</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1468.22</td><td>1589.87</td><td>1898.37</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>709.15</td><td>867.11</td><td>947.33</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>68.75</td><td>69.94</td><td>125.9</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>229.58</td><td>319.21</td><td>272</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>545.04</td><td>586.18</td><td>676.69</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>163.45</td><td>198.25</td><td>344.18</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>949.05</td><td>484.98</td><td>-120.15</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>114.02</td><td>109.02</td><td>66.31</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>835.03</td><td>375.96</td><td>-186.46</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>66.41</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1577.53</td><td>1539.12</td><td>2131.36</td><td>1481.99</td><td>1720.01</td><td>1715.97</td><td>2163.58</td><td>1748.85</td><td>1911.38</td><td>1958.57</td></tr>
<tr><td>Expenses</td><td>1380.96</td><td>1313.53</td><td>1733.3</td><td>1464.91</td><td>1547.45</td><td>1628.64</td><td>1812.31</td><td>1616.53</td><td>1645.74</td><td>1690.2</td></tr>
<tr><td>Other Income</td><td>34.24</td><td>169.74</td><td>97.2</td><td>91.74</td><td>50.35</td><td>98.11</td><td>32.28</td><td>52.7</td><td>68.3</td><td>43.19</td></tr>
<tr><td>Depreciation</td><td>138.07</td><td>147.15</td><td>165.16</td><td>161.66</td><td>166.19</td><td>164.43</td><td>184.41</td><td>173.61</td><td>184.51</td><td>186.32</td></tr>
<tr><td>Interest</td><td>49.16</td><td>50.13</td><td>57.16</td><td>62.3</td><td>82.98</td><td>94.65</td><td>104.25</td><td>118.52</td><td>109.87</td><td>105.88</td></tr>
<tr><td>Profit before tax</td><td>43.58</td><td>198.05</td><td>272.94</td><td>-115.14</td><td>-26.26</td><td>-73.64</td><td>94.89</td><td>-107.11</td><td>39.56</td><td>19.36</td></tr>
<tr><td>Tax</td><td>7.02</td><td>34.68</td><td>68.88</td><td>-6.09</td><td>11.08</td><td>16.54</td><td>44.78</td><td>-8.53</td><td>34.54</td><td>9.25</td></tr>
<tr><td>Net profit</td><td>36.56</td><td>163.37</td><td>204.06</td><td>-109.05</td><td>-37.34</td><td>-90.18</td><td>50.11</td><td>-98.58</td><td>5.02</td><td>10.11</td></tr>
<tr><td>Operating Profit</td><td>196.57</td><td>225.59</td><td>398.06</td><td>17.08</td><td>172.56</td><td>87.33</td><td>351.27</td><td>132.32</td><td>265.64</td><td>268.37</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>994.6</td><td>1185.91</td><td>1193.32</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>4610.3</td><td>5510.69</td><td>5580.18</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>3025.09</td><td>4127.92</td><td>5637.08</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2047.3</td><td>1780.51</td><td>1892.67</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10677.29</td><td>12605.03</td><td>14303.25</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>6105.49</td><td>6879.18</td><td>7468.6</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>626.65</td><td>1172.34</td><td>1418.58</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>122.67</td><td>267.17</td><td>638.98</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>3822.48</td><td>4286.34</td><td>4777.09</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10677.29</td><td>12605.03</td><td>14303.25</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1574.94</td><td>1785.28</td><td>1799.34</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1232</td><td>1388.8</td><td>1681.37</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>405.62</td><td>328.99</td><td>307.56</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>994600000</td><td>1185913506</td><td>1193318500</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>597.58</td><td>766.42</td><td>483.89</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>-4464.39</td><td>-1737.4</td><td>-1333.63</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>3976.83</td><td>794.19</td><td>817.79</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>110.02</td><td>-176.79</td><td>-31.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>66.84</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>132.3</td></tr>
</table>
</body>
</html>