<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\PNB Housing</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>PNB HOUSING FINANCE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>755.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>19642.91</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1780.38</td><td>2697.92</td><td>3907.7</td><td>5488.06</td><td>7480.86</td><td>8478.32</td><td>7565.2</td><td>6141.09</td><td>6490.55</td><td>7013.74</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>2.99</td><td>4.15</td><td>4.9</td><td></td><td></td><td></td><td>7.02</td><td>7.39</td><td>8.71</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>0.73</td><td>1.5</td><td>1.98</td><td>93.48</td><td>95.45</td><td>20.84</td><td>22.89</td><td>26.61</td><td>33.42</td><td></td></tr>
<tr><td>Employee Cost</td><td>67.19</td><td>75.73</td><td>101.8</td><td>143.99</td><td>212.95</td><td>196.41</td><td>177.81</td><td>182.15</td><td>217.26</td><td>264.13</td></tr>
<tr><td>Selling and admin</td><td>71.34</td><td>100.18</td><td>133.45</td><td>159.3</td><td>193.16</td><td>170.88</td><td>115.27</td><td>141.38</td><td>157.06</td><td></td></tr>
<tr><td>Other Expenses</td><td>70.34</td><td>138.57</td><td>199.43</td><td>296.03</td><td>206.29</td><td>1330.72</td><td>911.19</td><td>606.2</td><td>756.69</td><td>474.77</td></tr>
<tr><td>Other Income</td><td>-0.22</td><td>0.63</td><td>0.15</td><td>0.46</td><td>3.62</td><td>6.99</td><td>15.07</td><td>4.64</td><td>1.65</td><td>10.24</td></tr>
<tr><td>Depreciation</td><td>8.28</td><td>15.04</td><td>18.63</td><td>24.11</td><td>31.29</td><td>65.64</td><td>58.78</td><td>53.18</td><td>51.23</td><td>50.98</td></tr>
<tr><td>Interest</td><td>1264.84</td><td>1860.29</td><td>2643.65</td><td>3537.03</td><td>5167.29</td><td>5875.82</td><td>5100.59</td><td>4066.05</td><td>3901.02</td><td>4262.42</td></tr>
<tr><td>Profit before tax</td><td>294.45</td><td>503.09</td><td>804.01</td><td>1234.58</td><td>1578.05</td><td>825</td><td>1186.72</td><td>1062.77</td><td>1366.81</td><td>1971.68</td></tr>
<tr><td>Tax</td><td>100.38</td><td>176.62</td><td>280.28</td><td>392.44</td><td>496.67</td><td>142.69</td><td>261.5</td><td>240.85</td><td>310.54</td><td>444.26</td></tr>
<tr><td>Net profit</td><td>194.07</td><td>326.47</td><td>523.73</td><td>842.14</td><td>1081.38</td><td>682.31</td><td>925.22</td><td>821.92</td><td>1056.27</td><td>1527.42</td></tr>
<tr><td>Dividend Amount</td><td>31.16</td><td>43.15</td><td>99.38</td><td>149.93</td><td>150.72</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1482.23</td><td>1414.16</td><td>1404.34</td><td>1672.18</td><td>1787.22</td><td>1626.81</td><td>1698.83</td><td>1766.14</td><td>1748.05</td><td>1800.72</td></tr>
<tr><td>Expenses</td><td>224.37</td><td>246.56</td><td>148.74</td><td>356.08</td><td>409.1</td><td>260.85</td><td>187.35</td><td>189.75</td><td>206.21</td><td>155.59</td></tr>
<tr><td>Other Income</td><td>0.23</td><td>0.4</td><td>1.28</td><td>-0.62</td><td>0.18</td><td>1</td><td>0.13</td><td>1.67</td><td>3.42</td><td>5.02</td></tr>
<tr><td>Depreciation</td><td>13.08</td><td>13.96</td><td>12.97</td><td>13.14</td><td>12.55</td><td>12.57</td><td>12.56</td><td>11.27</td><td>13.02</td><td>14.13</td></tr>
<tr><td>Interest</td><td>997.5</td><td>930.96</td><td>930.48</td><td>964.13</td><td>996.64</td><td>1008.33</td><td>1047.82</td><td>1057.62</td><td>1086.99</td><td>1069.99</td></tr>
<tr><td>Profit before tax</td><td>247.51</td><td>223.08</td><td>313.43</td><td>338.21</td><td>369.11</td><td>346.06</td><td>451.23</td><td>509.17</td><td>445.25</td><td>566.03</td></tr>
<tr><td>Tax</td><td>63.82</td><td>53.12</td><td>75.23</td><td>75.3</td><td>96.86</td><td>63.15</td><td>98.55</td><td>124.77</td><td>98.71</td><td>122.23</td></tr>
<tr><td>Net profit</td><td>183.69</td><td>169.96</td><td>238.2</td><td>262.91</td><td>272.25</td><td>282.91</td><td>352.68</td><td>384.4</td><td>346.54</td><td>443.8</td></tr>
<tr><td>Operating Profit</td><td>1257.86</td><td>1167.6</td><td>1255.6</td><td>1316.1</td><td>1378.12</td><td>1365.96</td><td>1511.48</td><td>1576.39</td><td>1541.84</td><td>1645.13</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>103.85</td><td>126.92</td><td>165.64</td><td>166.59</td><td>167.47</td><td>168.19</td><td>168.27</td><td>168.6</td><td>168.86</td><td>259.72</td></tr>
<tr><td>Reserves</td><td>1474.88</td><td>2018.98</td><td>5411.67</td><td>6401.76</td><td>7267.54</td><td>7778.97</td><td>8698.91</td><td>9631.94</td><td>10783.71</td><td>14672.65</td></tr>
<tr><td>Borrowings</td><td>16480.76</td><td>26013.68</td><td>35497.14</td><td>53776.7</td><td>71858.85</td><td>67735.84</td><td>59393.82</td><td>52961.12</td><td>53621.1</td><td>55016.54</td></tr>
<tr><td>Other Liabilities</td><td>975.75</td><td>1511.37</td><td>1885.1</td><td>2672.84</td><td>4456.38</td><td>3191.18</td><td>3071.52</td><td>2887.64</td><td>2231.29</td><td>2422.3</td></tr>
<tr><td>Total</td><td>19035.24</td><td>29670.95</td><td>42959.55</td><td>63017.89</td><td>83750.24</td><td>78874.18</td><td>71332.52</td><td>65649.3</td><td>66804.96</td><td>72371.21</td></tr>
<tr><td>Net Block</td><td>39.58</td><td>58.11</td><td>58.4</td><td>254.66</td><td>102.31</td><td>250.25</td><td>180.65</td><td>149.99</td><td>145.85</td><td>216.26</td></tr>
<tr><td>Capital Work in Progress</td><td>18.1</td><td>4.05</td><td>2.03</td><td>9.69</td><td>5.17</td><td>4.06</td><td>2.38</td><td>3.54</td><td>3.16</td><td>5.43</td></tr>
<tr><td>Investments</td><td>1585.98</td><td>1622.27</td><td>3279.56</td><td>2413.15</td><td>4457.43</td><td>2048.32</td><td>2032.92</td><td>3472.02</td><td>3188.02</td><td>4345.26</td></tr>
<tr><td>Other Assets</td><td>17391.58</td><td>27986.52</td><td>39619.56</td><td>60340.39</td><td>79185.33</td><td>76571.55</td><td>69116.57</td><td>62023.75</td><td>63467.93</td><td>67804.26</td></tr>
<tr><td>Total</td><td>19035.24</td><td>29670.95</td><td>42959.55</td><td>63017.89</td><td>83750.24</td><td>78874.18</td><td>71332.52</td><td>65649.3</td><td>66804.96</td><td>72371.21</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>0.33</td><td>26.74</td><td>5.84</td><td>15.03</td><td>38.98</td><td></td><td>52.07</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>293.14</td><td>248.54</td><td>151.47</td><td>2816.93</td><td>4026.08</td><td>8512.53</td><td>6906.5</td><td>5114.84</td><td>3692.57</td><td>2498.63</td></tr>
<tr><td>No. of Equity Shares</td><td>126923000</td><td>126923000</td><td>165642309</td><td>166586482</td><td>167469016</td><td>168186908</td><td>168268123</td><td>168598555</td><td>168855818</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-6790.98</td><td>-9664.47</td><td>-12406.47</td><td>-15663.79</td><td>-16625.74</td><td>8911.14</td><td>6565.56</td><td>6216.35</td><td>-1772.04</td><td>-4644.14</td></tr>
<tr><td>Cash from Investing Activity</td><td>-37.34</td><td>-19.64</td><td>-16.88</td><td>-49.51</td><td>-53.25</td><td>-62.41</td><td>5.33</td><td>-1476.23</td><td>173.63</td><td>-1193.48</td></tr>
<tr><td>Cash from Financing Activity</td><td>6850.49</td><td>9803.9</td><td>12322.49</td><td>18464.32</td><td>17888.06</td><td>-4362.24</td><td>-8176.92</td><td>-6732.19</td><td>301.47</td><td>4178.64</td></tr>
<tr><td>Net Cash Flow</td><td>22.17</td><td>119.79</td><td>-100.86</td><td>2751.02</td><td>1209.07</td><td>4486.49</td><td>-1606.03</td><td>-1992.07</td><td>-1296.94</td><td>-1658.98</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td>985.95</td><td>1070.47</td><td>716.23</td><td>134.3</td><td>310.51</td><td>312.13</td><td>425.02</td><td>629.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>19.51</td><td>19.51</td><td>25.46</td><td>25.6</td><td>25.74</td><td>25.85</td><td>25.86</td><td>25.91</td><td>25.95</td><td>25.97</td></tr>
</table>
</body>
</html>