<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\R R Kabel</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>R R KABEL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5.0</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1601.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18063.67</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>1979.93</td><td>2388.07</td><td>2472.43</td><td>2715.94</td><td>4385.94</td><td>5599.2</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>1539.11</td><td>2000.44</td><td>1935.23</td><td>2301.26</td><td>3732.13</td><td>4738.64</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>2.74</td><td>117.93</td><td>13.09</td><td>153.84</td><td>124.15</td><td>162.94</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>20.48</td><td>26.44</td><td>29.91</td><td>30.66</td><td>37.02</td><td>48.79</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>10.5</td><td>13.74</td><td>61.09</td><td>63.89</td><td>19.17</td><td>27.49</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>73.14</td><td>107.16</td><td>135.77</td><td>148.58</td><td>189.08</td><td>264.89</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>96.92</td><td>151.6</td><td>80.32</td><td>61.94</td><td>197.98</td><td>300.33</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>19.66</td><td>30.08</td><td>36.27</td><td>31.26</td><td>30.5</td><td>58.95</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>13.58</td><td>24.76</td><td>27.02</td><td>22</td><td>46.28</td><td>34.44</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>24.55</td><td>30.58</td><td>38.8</td><td>44.75</td><td>46.09</td><td>59.63</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>27.83</td><td>38.31</td><td>37.39</td><td>29.11</td><td>24.25</td><td>42.81</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>184.06</td><td>132.41</td><td>157.76</td><td>180.33</td><td>280.15</td><td>255.05</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>62.46</td><td>46.77</td><td>35.28</td><td>46.03</td><td>70.43</td><td>66.12</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>121.61</td><td>85.65</td><td>122.48</td><td>134.3</td><td>209.74</td><td>188.93</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td>23.26</td><td></td><td>30.42</td><td></td><td></td><td>43.06</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>1367.24</td><td>1479.53</td><td>1597.31</td><td>1609.67</td><td>1633.52</td></tr>
<tr><td>Expenses</td><td></td><td></td><td></td><td></td><td></td><td>1302.84</td><td>1361.97</td><td>1484.36</td><td>1488.76</td><td>1520.97</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>9.48</td><td>3.72</td><td>16.28</td><td>14.76</td><td>12.24</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>14.96</td><td>16.52</td><td>16.09</td><td>16.6</td><td>16.48</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>9.63</td><td>11.43</td><td>14.42</td><td>14.18</td><td>12.43</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>49.29</td><td>93.33</td><td>98.72</td><td>104.89</td><td>95.88</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>12.72</td><td>23.91</td><td>25.04</td><td>30.95</td><td>24.96</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>36.57</td><td>69.41</td><td>73.68</td><td>73.94</td><td>70.93</td></tr>
<tr><td>Operating Profit</td><td></td><td></td><td></td><td></td><td></td><td>64.4</td><td>117.56</td><td>112.95</td><td>120.91</td><td>112.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>24.15</td><td>23.4</td><td>23.4</td><td>23.92</td><td>23.92</td><td>47.85</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>434.69</td><td>408.13</td><td>480.5</td><td>606.75</td><td>805.92</td><td>953.4</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>371.32</td><td>396.68</td><td>392.1</td><td>497.83</td><td>532.59</td><td>580.44</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>162.78</td><td>640.97</td><td>649.21</td><td>585.84</td><td>682.94</td><td>1048.67</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>992.94</td><td>1469.18</td><td>1545.21</td><td>1714.34</td><td>2045.37</td><td>2630.36</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>248.87</td><td>301.57</td><td>390.53</td><td>399.41</td><td>398.49</td><td>517.16</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>5.24</td><td>42.62</td><td>15.37</td><td>7.17</td><td>42.91</td><td>43.58</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>34.65</td><td>193.41</td><td>220.6</td><td>235.85</td><td>262.4</td><td>359.4</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>704.18</td><td>931.58</td><td>918.71</td><td>1071.91</td><td>1341.57</td><td>1710.22</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>992.94</td><td>1469.18</td><td>1545.21</td><td>1714.34</td><td>2045.37</td><td>2630.36</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>418.54</td><td>446.51</td><td>418.96</td><td>420.36</td><td>517.14</td><td>591.87</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>189.46</td><td>352.71</td><td>375.21</td><td>534.05</td><td>709.62</td><td>860.18</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>13.46</td><td>5.84</td><td>11.28</td><td>8.47</td><td>12.3</td><td>81.08</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>24146000</td><td>23395276</td><td>23395276</td><td>23924074</td><td>23924074</td><td>95696296</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>94.62</td><td>40.16</td><td>211.29</td><td>-71.06</td><td>98.17</td><td>453.75</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-43.71</td><td>-275.76</td><td>-122.28</td><td>-5.88</td><td>-62.66</td><td>-333.5</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-45.13</td><td>227.66</td><td>-83.58</td><td>74.12</td><td>-31.61</td><td>-101.51</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>5.78</td><td>-7.94</td><td>5.44</td><td>-2.81</td><td>3.9</td><td>18.74</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>2.41</td><td>2.34</td><td>2.34</td><td>2.39</td><td>2.39</td><td>9.57</td></tr>
</table>
</body>
</html>