<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Rain Industries</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>RAIN INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>160.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5423.24</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>11920.87</td><td>10204.79</td><td>9258.18</td><td>11303.19</td><td>14048.99</td><td>12360.66</td><td>10464.69</td><td>14526.78</td><td>21011</td><td>18141.49</td></tr>
<tr><td>Raw Material Cost</td><td>6771.5</td><td>5306.34</td><td>4326.11</td><td>5747.32</td><td>7977.03</td><td>6361.75</td><td>4758.95</td><td>7916.37</td><td>11903.83</td><td>10621.61</td></tr>
<tr><td>Change in Inventory</td><td>-118.93</td><td>17.35</td><td>-91.43</td><td>301.94</td><td>249.94</td><td>-366.4</td><td>-125.17</td><td>508.06</td><td>614.84</td><td>-480.13</td></tr>
<tr><td>Power and Fuel</td><td>605.18</td><td>541.09</td><td>537.41</td><td>558.46</td><td>668.24</td><td>544.72</td><td>518.47</td><td>973.78</td><td>1712.48</td><td>1154.86</td></tr>
<tr><td>Other Mfr. Exp</td><td>677.19</td><td>592.73</td><td>459.25</td><td>494.61</td><td>592.17</td><td>604.88</td><td>556.26</td><td>722.95</td><td>851.76</td><td>867.13</td></tr>
<tr><td>Employee Cost</td><td>978.78</td><td>963.41</td><td>974.1</td><td>1065.82</td><td>1239.35</td><td>1243.48</td><td>1217.51</td><td>1241.93</td><td>1355.93</td><td>1328.95</td></tr>
<tr><td>Selling and admin</td><td>1333.55</td><td>1272.57</td><td>1161.93</td><td>1180.52</td><td>1444.87</td><td>1496.07</td><td>1257.11</td><td>1508.4</td><td>1738.65</td><td>1785.45</td></tr>
<tr><td>Other Expenses</td><td>230.8</td><td>195.01</td><td>177.24</td><td>285.7</td><td>411.68</td><td>262.6</td><td>353.82</td><td>311.05</td><td>526.6</td><td>970.21</td></tr>
<tr><td>Other Income</td><td>-180.4</td><td>71.76</td><td>99.15</td><td>-68.47</td><td>41.66</td><td>156.37</td><td>455.84</td><td>193.12</td><td>104.73</td><td>179.86</td></tr>
<tr><td>Depreciation</td><td>346.98</td><td>327.82</td><td>518.97</td><td>525.63</td><td>555.09</td><td>594.02</td><td>791.72</td><td>798.15</td><td>790.31</td><td>776.27</td></tr>
<tr><td>Interest</td><td>619.87</td><td>596.45</td><td>630.85</td><td>594.67</td><td>456.51</td><td>452.4</td><td>490.54</td><td>478.91</td><td>523.74</td><td>819.13</td></tr>
<tr><td>Profit before tax</td><td>57.69</td><td>498.48</td><td>480.04</td><td>1083.93</td><td>995.65</td><td>590.71</td><td>850.98</td><td>1276.42</td><td>2327.27</td><td>-482.39</td></tr>
<tr><td>Tax</td><td>-12.06</td><td>196.21</td><td>179.2</td><td>291.8</td><td>364.32</td><td>128.27</td><td>262.75</td><td>582.88</td><td>750.37</td><td>313.81</td></tr>
<tr><td>Net profit</td><td>88.53</td><td>323.34</td><td>290.94</td><td>763.59</td><td>581.63</td><td>391.38</td><td>558.17</td><td>580.16</td><td>1438.65</td><td>-937.91</td></tr>
<tr><td>Dividend Amount</td><td>33.64</td><td>33.64</td><td>33.64</td><td>67.27</td><td>33.64</td><td>33.64</td><td>33.64</td><td>33.64</td><td>33.64</td><td>33.64</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3849.01</td><td>4026.05</td><td>4436.54</td><td>5540.55</td><td>5577.1</td><td>5456.81</td><td>5253.49</td><td>4627.15</td><td>4160.26</td><td>4100.58</td></tr>
<tr><td>Expenses</td><td>3216.25</td><td>3538.13</td><td>3644.52</td><td>4338.18</td><td>4662.1</td><td>4830.3</td><td>4719.75</td><td>3981.98</td><td>3794.25</td><td>4712.35</td></tr>
<tr><td>Other Income</td><td>58.69</td><td>54.62</td><td>16.94</td><td>22.56</td><td>18.64</td><td>47.28</td><td>24.8</td><td>33.32</td><td>48.66</td><td>73.09</td></tr>
<tr><td>Depreciation</td><td>199.03</td><td>199.86</td><td>198.21</td><td>200.87</td><td>202.83</td><td>188.41</td><td>192.73</td><td>195.67</td><td>192.52</td><td>195.35</td></tr>
<tr><td>Interest</td><td>117.79</td><td>119.22</td><td>120.31</td><td>122.39</td><td>131.14</td><td>149.9</td><td>162.78</td><td>169.33</td><td>241.68</td><td>245.34</td></tr>
<tr><td>Profit before tax</td><td>374.63</td><td>223.46</td><td>490.44</td><td>901.67</td><td>599.67</td><td>335.48</td><td>203.03</td><td>313.49</td><td>-19.53</td><td>-979.37</td></tr>
<tr><td>Tax</td><td>105.71</td><td>295.77</td><td>176.53</td><td>194.12</td><td>170.22</td><td>209.5</td><td>61.15</td><td>106.94</td><td>46.21</td><td>99.5</td></tr>
<tr><td>Net profit</td><td>235.56</td><td>-96.96</td><td>277.44</td><td>668.46</td><td>403.22</td><td>89.52</td><td>105.37</td><td>165.65</td><td>-90.17</td><td>-1118.75</td></tr>
<tr><td>Operating Profit</td><td>632.76</td><td>487.92</td><td>792.02</td><td>1202.37</td><td>915</td><td>626.51</td><td>533.74</td><td>645.17</td><td>366.01</td><td>-611.77</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td><td>67.27</td></tr>
<tr><td>Reserves</td><td>2878.51</td><td>2870.23</td><td>3097.54</td><td>3876.83</td><td>4555.47</td><td>4892.64</td><td>5466.23</td><td>6041.94</td><td>8359.57</td><td>7275.27</td></tr>
<tr><td>Borrowings</td><td>7672.6</td><td>7595.69</td><td>7326.18</td><td>7332.3</td><td>7779.49</td><td>7844.58</td><td>8858.7</td><td>8489.44</td><td>9731.42</td><td>8690.18</td></tr>
<tr><td>Other Liabilities</td><td>2734.03</td><td>2511.21</td><td>2354.18</td><td>3099.94</td><td>3297.17</td><td>3193.23</td><td>3471.11</td><td>3863.99</td><td>3786.83</td><td>3953.82</td></tr>
<tr><td>Total</td><td>13352.41</td><td>13044.4</td><td>12845.17</td><td>14376.34</td><td>15699.4</td><td>15997.72</td><td>17863.31</td><td>18462.64</td><td>21945.09</td><td>19986.54</td></tr>
<tr><td>Net Block</td><td>8711.79</td><td>8539.78</td><td>8922.6</td><td>8689.67</td><td>9261.01</td><td>9491.7</td><td>11124.38</td><td>10939.24</td><td>11976.8</td><td>11356.91</td></tr>
<tr><td>Capital Work in Progress</td><td>269.06</td><td>410.84</td><td>226.07</td><td>441.25</td><td>794.79</td><td>1362.41</td><td>931.36</td><td>790.76</td><td>466.92</td><td>431.94</td></tr>
<tr><td>Investments</td><td>26.37</td><td>19.44</td><td>32.36</td><td>34.8</td><td>12.65</td><td>38.64</td><td>14.55</td><td>13.19</td><td>14.04</td><td>17.11</td></tr>
<tr><td>Other Assets</td><td>4345.19</td><td>4074.34</td><td>3664.14</td><td>5210.62</td><td>5630.95</td><td>5104.97</td><td>5793.02</td><td>6719.45</td><td>9487.33</td><td>8180.58</td></tr>
<tr><td>Total</td><td>13352.41</td><td>13044.4</td><td>12845.17</td><td>14376.34</td><td>15699.4</td><td>15997.72</td><td>17863.31</td><td>18462.64</td><td>21945.09</td><td>19986.54</td></tr>
<tr><td>Receivables</td><td>1371.2</td><td>1196.82</td><td>1039.23</td><td>1671.72</td><td>1604.4</td><td>1105.05</td><td>1091.47</td><td>1698.54</td><td>2494.08</td><td>2170.1</td></tr>
<tr><td>Inventory</td><td>1533.72</td><td>1620.99</td><td>1267.81</td><td>1998.53</td><td>2368.33</td><td>1742.16</td><td>1585.67</td><td>2511.8</td><td>4514.7</td><td>3176.47</td></tr>
<tr><td>Cash & Bank</td><td>899.52</td><td>860.46</td><td>1043.87</td><td>941.59</td><td>851.24</td><td>1168.98</td><td>1799.84</td><td>1384.15</td><td>1670.61</td><td>2005.57</td></tr>
<tr><td>No. of Equity Shares</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td><td>336345679</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-12-31 00:00:00</td><td>2015-12-31 00:00:00</td><td>2016-12-31 00:00:00</td><td>2017-12-31 00:00:00</td><td>2018-12-31 00:00:00</td><td>2019-12-31 00:00:00</td><td>2020-12-31 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>1291.25</td><td>1238.23</td><td>1566.75</td><td>868.09</td><td>1705.51</td><td>2239.98</td><td>1822.55</td><td>833.59</td><td>1035.85</td><td>3063.49</td></tr>
<tr><td>Cash from Investing Activity</td><td>-381.64</td><td>-531.09</td><td>-504.06</td><td>-539.17</td><td>-1037.67</td><td>-1265.4</td><td>-797.97</td><td>-510.25</td><td>-575.6</td><td>-711.37</td></tr>
<tr><td>Cash from Financing Activity</td><td>-883.41</td><td>-795.41</td><td>-886.61</td><td>-520.48</td><td>-618.6</td><td>-652.84</td><td>-599.9</td><td>-740.05</td><td>-395.69</td><td>-2114.66</td></tr>
<tr><td>Net Cash Flow</td><td>26.2</td><td>-88.27</td><td>176.08</td><td>-191.57</td><td>49.25</td><td>321.74</td><td>424.67</td><td>-416.71</td><td>64.57</td><td>237.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>44.2</td><td>37.7</td><td>54.9</td><td>370.35</td><td>133.9</td><td>98.6</td><td>126.8</td><td>239.8</td><td>170.7</td><td>154.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td><td>33.63</td></tr>
</table>
</body>
</html>