<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Rategain Travel</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>RATEGAIN TRAVEL TECHNOLOGIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>668.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7878.88</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>261.57</td><td>398.71</td><td>250.79</td><td>366.59</td><td>565.13</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>0.43</td><td>0.68</td><td>0.23</td><td>0.3</td><td>0.36</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>20.09</td><td>46.51</td><td>14.52</td><td>24.52</td><td>27.52</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>120.83</td><td>205.8</td><td>151.26</td><td>191.37</td><td>252.76</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>90.44</td><td>107.32</td><td>61.3</td><td>108.24</td><td>184.43</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>7.02</td><td>62.53</td><td>16.21</td><td>10.07</td><td>13.44</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>11.13</td><td>58.9</td><td>13.29</td><td>15.58</td><td>19.93</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>20.22</td><td>42.7</td><td>35.88</td><td>30.06</td><td>35.81</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>4.18</td><td>9.84</td><td>9.31</td><td>6.77</td><td>3.48</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>9.49</td><td>-17.77</td><td>-24.63</td><td>10.84</td><td>67.26</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>-1.55</td><td>2.34</td><td>3.95</td><td>2.41</td><td>-1.15</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>11.03</td><td>-20.1</td><td>-28.58</td><td>8.42</td><td>68.4</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>84.76</td><td>99.01</td><td>107.88</td><td>119.3</td><td>124.61</td><td>138.29</td><td>182.93</td><td>214.48</td><td>234.72</td><td>252.02</td></tr>
<tr><td>Expenses</td><td>80.77</td><td>89.74</td><td>92.51</td><td>107.38</td><td>107.02</td><td>115.35</td><td>150.72</td><td>176.69</td><td>188.3</td><td>200.76</td></tr>
<tr><td>Other Income</td><td>3.01</td><td>0.78</td><td>6.07</td><td>7.75</td><td>6.83</td><td>0.56</td><td>4.8</td><td>5.99</td><td>3.65</td><td>10.87</td></tr>
<tr><td>Depreciation</td><td>7.02</td><td>7.96</td><td>8.18</td><td>8.21</td><td>8.38</td><td>8.42</td><td>10.81</td><td>11.33</td><td>10.43</td><td>9.76</td></tr>
<tr><td>Interest</td><td>1.36</td><td>1.68</td><td>0.91</td><td>0.43</td><td>0.38</td><td>0.36</td><td>0.35</td><td>0.34</td><td>0.36</td><td>0.35</td></tr>
<tr><td>Profit before tax</td><td>-1.38</td><td>0.41</td><td>12.35</td><td>11.03</td><td>15.66</td><td>14.72</td><td>25.85</td><td>32.11</td><td>39.28</td><td>52.02</td></tr>
<tr><td>Tax</td><td>0.52</td><td>0.33</td><td>0.74</td><td>2.62</td><td>2.7</td><td>1.48</td><td>-7.94</td><td>7.2</td><td>9.25</td><td>11.6</td></tr>
<tr><td>Net profit</td><td>-1.9</td><td>0.09</td><td>11.61</td><td>8.42</td><td>12.96</td><td>13.23</td><td>33.79</td><td>24.91</td><td>30.04</td><td>40.42</td></tr>
<tr><td>Operating Profit</td><td>3.99</td><td>9.27</td><td>15.37</td><td>11.92</td><td>17.59</td><td>22.94</td><td>32.21</td><td>37.79</td><td>46.42</td><td>51.26</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td>0.65</td><td>0.65</td><td>0.66</td><td>10.73</td><td>10.83</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>142.49</td><td>136.98</td><td>244.12</td><td>608.42</td><td>698.91</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>54.34</td><td>143.8</td><td>117.12</td><td>18.04</td><td>17.69</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>87.43</td><td>115.68</td><td>77.9</td><td>139.68</td><td>208.49</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>284.91</td><td>397.11</td><td>439.8</td><td>776.87</td><td>935.92</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>106.07</td><td>215.94</td><td>167.88</td><td>222.49</td><td>395.8</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.43</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>40.69</td><td>44.91</td><td>129.02</td><td>164.67</td><td>139.87</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>138.15</td><td>136.26</td><td>142.9</td><td>389.71</td><td>398.82</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>284.91</td><td>397.11</td><td>439.8</td><td>776.87</td><td>935.92</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>63.27</td><td>77.67</td><td>66.91</td><td>100.56</td><td>160.78</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>44.82</td><td>24.35</td><td>57.34</td><td>245.1</td><td>201.46</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td>655000</td><td>655000</td><td>655000</td><td>107310252</td><td>108317192</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td>36.21</td><td>19.14</td><td>20.6</td><td>16.81</td><td>51.92</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-2.85</td><td>-110.58</td><td>-80.68</td><td>-276.37</td><td>15.62</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-6.34</td><td>72.78</td><td>92.88</td><td>239.91</td><td>-1.7</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td>27.03</td><td>-18.66</td><td>32.8</td><td>-19.66</td><td>65.83</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>334.1</td><td>343.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>0.07</td><td>0.07</td><td>0.07</td><td>10.73</td><td>10.83</td></tr>
</table>
</body>
</html>