<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Redington</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>REDINGTON LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>202.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>15815.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>27944.88</td><td>31559.16</td><td>35442.18</td><td>41114.65</td><td>41602.58</td><td>46536.15</td><td>51465.17</td><td>56945.86</td><td>62644.01</td><td>79376.78</td></tr>
<tr><td>Raw Material Cost</td><td>26621.91</td><td>30301.98</td><td>34285.64</td><td>38437.43</td><td>38898.09</td><td>44598.99</td><td>48276.57</td><td>53110.66</td><td>60151.63</td><td>77073.02</td></tr>
<tr><td>Change in Inventory</td><td>332.09</td><td>569.08</td><td>913.82</td><td>-360.54</td><td>-301.71</td><td>786.15</td><td>-371.71</td><td>-690.31</td><td>1296.63</td><td>2440.19</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>38.23</td><td>85.39</td><td>101.53</td><td>127.6</td><td>119.64</td><td>172.51</td><td>215.5</td><td>219.48</td><td>214</td><td>388.75</td></tr>
<tr><td>Employee Cost</td><td>411.35</td><td>468.56</td><td>541.05</td><td>628.72</td><td>652.95</td><td>724.2</td><td>783.78</td><td>831.98</td><td>885.66</td><td>1168.41</td></tr>
<tr><td>Selling and admin</td><td>452.69</td><td>461.3</td><td>490.08</td><td>569.53</td><td>500.54</td><td>675.57</td><td>539.52</td><td>522.77</td><td>665.78</td><td>742.98</td></tr>
<tr><td>Other Expenses</td><td>68.8</td><td>94.49</td><td>132.05</td><td>139.78</td><td>283.82</td><td>185.05</td><td>185.62</td><td>178.97</td><td>184.69</td><td>241.23</td></tr>
<tr><td>Other Income</td><td>51.14</td><td>63.52</td><td>33.98</td><td>41.39</td><td>39.09</td><td>-7.83</td><td>43.93</td><td>89.39</td><td>87.56</td><td>141.76</td></tr>
<tr><td>Depreciation</td><td>38.5</td><td>42.59</td><td>46.82</td><td>54.68</td><td>56.94</td><td>63.36</td><td>155.4</td><td>148.2</td><td>141.28</td><td>155.4</td></tr>
<tr><td>Interest</td><td>211.51</td><td>181.99</td><td>202.5</td><td>183.25</td><td>197.41</td><td>271.45</td><td>288.72</td><td>204.75</td><td>162.8</td><td>355.47</td></tr>
<tr><td>Profit before tax</td><td>485.12</td><td>555.46</td><td>590.31</td><td>654.51</td><td>630.57</td><td>623.34</td><td>692.28</td><td>1128.13</td><td>1622.36</td><td>1833.47</td></tr>
<tr><td>Tax</td><td>127.18</td><td>145.05</td><td>146.23</td><td>177.77</td><td>146.15</td><td>138.87</td><td>158.36</td><td>339.63</td><td>307.49</td><td>394.08</td></tr>
<tr><td>Net profit</td><td>336.65</td><td>386.53</td><td>423.52</td><td>464.22</td><td>481.64</td><td>507.78</td><td>515.21</td><td>758.28</td><td>1279.91</td><td>1392.56</td></tr>
<tr><td>Dividend Amount</td><td>35.96</td><td>75.94</td><td>83.96</td><td>171.94</td><td>96.04</td><td>93.38</td><td>167.31</td><td>451.47</td><td>515.76</td><td>562.72</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>15287.46</td><td>16600.74</td><td>17301.76</td><td>16803.14</td><td>19050.74</td><td>21674.31</td><td>21848.59</td><td>21187.18</td><td>22220.15</td><td>23504.97</td></tr>
<tr><td>Expenses</td><td>14855.85</td><td>16075.49</td><td>16811.23</td><td>16341.32</td><td>18518.33</td><td>21092.89</td><td>21305.44</td><td>20768</td><td>21738.72</td><td>22987.67</td></tr>
<tr><td>Other Income</td><td>25.86</td><td>19.07</td><td>22.68</td><td>25.18</td><td>30.04</td><td>40.33</td><td>46.38</td><td>63.52</td><td>76.44</td><td>44.56</td></tr>
<tr><td>Depreciation</td><td>36.08</td><td>33.74</td><td>36.59</td><td>36.48</td><td>37.12</td><td>39.05</td><td>42.75</td><td>42.38</td><td>43.73</td><td>43.33</td></tr>
<tr><td>Interest</td><td>30.66</td><td>23.85</td><td>33.08</td><td>36.84</td><td>54.48</td><td>88.45</td><td>92.09</td><td>88.46</td><td>105.81</td><td>84.61</td></tr>
<tr><td>Profit before tax</td><td>390.73</td><td>486.73</td><td>443.54</td><td>413.68</td><td>470.85</td><td>494.25</td><td>454.69</td><td>351.86</td><td>408.33</td><td>433.92</td></tr>
<tr><td>Tax</td><td>67.64</td><td>89.67</td><td>87.97</td><td>87.34</td><td>78.94</td><td>101.5</td><td>126.3</td><td>96.66</td><td>96.69</td><td>86.04</td></tr>
<tr><td>Net profit</td><td>307.2</td><td>388.07</td><td>347.97</td><td>315.78</td><td>386.98</td><td>379.7</td><td>310.1</td><td>248.78</td><td>303.47</td><td>340.78</td></tr>
<tr><td>Operating Profit</td><td>431.61</td><td>525.25</td><td>490.53</td><td>461.82</td><td>532.41</td><td>581.42</td><td>543.15</td><td>419.18</td><td>481.43</td><td>517.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>79.9</td><td>79.94</td><td>79.96</td><td>79.97</td><td>80.03</td><td>77.82</td><td>77.82</td><td>77.84</td><td>156.29</td><td>156.31</td></tr>
<tr><td>Reserves</td><td>1941.4</td><td>2294.23</td><td>2869.39</td><td>3067.94</td><td>3450.53</td><td>3828.16</td><td>4231.03</td><td>4860.67</td><td>5628.66</td><td>6771.04</td></tr>
<tr><td>Borrowings</td><td>1786.15</td><td>1866.61</td><td>2349.11</td><td>1515.84</td><td>1457.79</td><td>1307.4</td><td>2774.71</td><td>621.91</td><td>830.76</td><td>3320.8</td></tr>
<tr><td>Other Liabilities</td><td>3500.23</td><td>4134.56</td><td>5226.41</td><td>5486.44</td><td>5874.95</td><td>7205.77</td><td>7567.77</td><td>8998.7</td><td>11791.72</td><td>13029.54</td></tr>
<tr><td>Total</td><td>7307.68</td><td>8375.34</td><td>10524.87</td><td>10150.19</td><td>10863.3</td><td>12419.15</td><td>14651.33</td><td>14559.12</td><td>18407.43</td><td>23277.69</td></tr>
<tr><td>Net Block</td><td>259.19</td><td>275.66</td><td>497.62</td><td>476.02</td><td>470.14</td><td>454.3</td><td>714.42</td><td>604.78</td><td>700.08</td><td>877.43</td></tr>
<tr><td>Capital Work in Progress</td><td>22.77</td><td>13.31</td><td>14.25</td><td>0.5</td><td>20.35</td><td>37.83</td><td>11.47</td><td>0.94</td><td>85.39</td><td>12.11</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>4.77</td><td>3.52</td><td>7.03</td><td></td><td></td><td></td><td>34.35</td></tr>
<tr><td>Other Assets</td><td>7025.72</td><td>8086.37</td><td>10013</td><td>9668.9</td><td>10369.29</td><td>11919.99</td><td>13925.44</td><td>13953.4</td><td>17621.96</td><td>22353.8</td></tr>
<tr><td>Total</td><td>7307.68</td><td>8375.34</td><td>10524.87</td><td>10150.19</td><td>10863.3</td><td>12419.15</td><td>14651.33</td><td>14559.12</td><td>18407.43</td><td>23277.69</td></tr>
<tr><td>Receivables</td><td>3925.68</td><td>4418.99</td><td>5344.54</td><td>5087.25</td><td>6041.93</td><td>6278.56</td><td>7032</td><td>6800.67</td><td>8675.16</td><td>12030.05</td></tr>
<tr><td>Inventory</td><td>2285.26</td><td>2854.34</td><td>3768.15</td><td>3374.56</td><td>3106.62</td><td>3859.17</td><td>3672.76</td><td>2902.11</td><td>4383.04</td><td>7085.26</td></tr>
<tr><td>Cash & Bank</td><td>484.61</td><td>531.37</td><td>550.56</td><td>721.21</td><td>541.27</td><td>877.19</td><td>2377.08</td><td>3492.97</td><td>3659.3</td><td>1950.64</td></tr>
<tr><td>No. of Equity Shares</td><td>399481820</td><td>399702790</td><td>399813230</td><td>399848460</td><td>400172685</td><td>389081315</td><td>389087750</td><td>389219272</td><td>781456581</td><td>781560771</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>241.32</td><td>256.83</td><td>-142.14</td><td>1360.47</td><td>185.62</td><td>1068.44</td><td>965.65</td><td>3496.89</td><td>989.2</td><td>-3233.52</td></tr>
<tr><td>Cash from Investing Activity</td><td>295.87</td><td>10.32</td><td>11.53</td><td>-85.72</td><td>-24.64</td><td>-93.73</td><td>54.28</td><td>-609.88</td><td>-166.97</td><td>242.66</td></tr>
<tr><td>Cash from Financing Activity</td><td>-522.93</td><td>-224.85</td><td>201.64</td><td>-1130.72</td><td>-199.02</td><td>-650.69</td><td>443.26</td><td>-2241.05</td><td>-476.11</td><td>1528.64</td></tr>
<tr><td>Net Cash Flow</td><td>14.26</td><td>42.3</td><td>71.03</td><td>144.03</td><td>-38.04</td><td>324.02</td><td>1463.19</td><td>645.96</td><td>346.12</td><td>-1462.22</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>39.4</td><td>65.63</td><td>57.33</td><td>55.03</td><td>73.4</td><td>51.28</td><td>34.3</td><td>95.43</td><td>144.95</td><td>166.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>79.9</td><td>79.94</td><td>79.96</td><td>79.97</td><td>80.03</td><td>77.82</td><td>77.82</td><td>77.84</td><td>78.15</td><td>78.16</td></tr>
</table>
</body>
</html>