<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\S C I</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SHIPPING CORPORATION OF INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>206.45</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9609.64</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4231.8</td><td>4186.44</td><td>4049.88</td><td>3447.35</td><td>3469.47</td><td>3872.85</td><td>4425.44</td><td>3703.25</td><td>4988.03</td><td>5793.95</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>1428.36</td><td>1192.75</td><td>621.93</td><td>669.28</td><td>867.76</td><td>1110.31</td><td>1129.13</td><td>719.91</td><td>978.39</td><td>1388.02</td></tr>
<tr><td>Other Mfr. Exp</td><td>1711.37</td><td>1628.42</td><td>1506.29</td><td>1535.73</td><td>1379.76</td><td>1446.2</td><td>1427.67</td><td>1298.18</td><td>1944.08</td><td>2109.05</td></tr>
<tr><td>Employee Cost</td><td>411.27</td><td>413.74</td><td>487</td><td>418.25</td><td>486.05</td><td>447.78</td><td>476.69</td><td>473.93</td><td>483.54</td><td>478.03</td></tr>
<tr><td>Selling and admin</td><td>44.4</td><td>42.39</td><td>79.58</td><td>52.83</td><td>43.83</td><td>40.45</td><td>62.14</td><td>30.11</td><td>31.14</td><td>34.1</td></tr>
<tr><td>Other Expenses</td><td>47.89</td><td>83.54</td><td>-6.57</td><td>-8.96</td><td>15.34</td><td>115.01</td><td>187.26</td><td>17.09</td><td>17.62</td><td>225.16</td></tr>
<tr><td>Other Income</td><td>254.29</td><td>401.17</td><td>164.79</td><td>145.23</td><td>143.14</td><td>232.23</td><td>242.95</td><td>120.72</td><td>96.87</td><td>111.48</td></tr>
<tr><td>Depreciation</td><td>856.44</td><td>770.15</td><td>542.25</td><td>566.07</td><td>610.25</td><td>658.46</td><td>671.27</td><td>627.94</td><td>635.25</td><td>753.16</td></tr>
<tr><td>Interest</td><td>207.75</td><td>180.49</td><td>194.77</td><td>173.62</td><td>180.14</td><td>361.72</td><td>366.72</td><td>22.04</td><td>160.86</td><td>184.93</td></tr>
<tr><td>Profit before tax</td><td>-221.39</td><td>276.13</td><td>789.42</td><td>185.76</td><td>29.48</td><td>-74.85</td><td>347.51</td><td>634.77</td><td>834.02</td><td>732.98</td></tr>
<tr><td>Tax</td><td>53.27</td><td>75.2</td><td>36.14</td><td>43.48</td><td>-224.27</td><td>47.14</td><td>45.16</td><td>16.67</td><td>43.91</td><td>-67.14</td></tr>
<tr><td>Net profit</td><td>-274.66</td><td>200.93</td><td>753.28</td><td>142.28</td><td>253.75</td><td>-121.99</td><td>302.35</td><td>618.1</td><td>790.11</td><td>800.12</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td>34.94</td><td>11.64</td><td>15.37</td><td>20.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1221.31</td><td>1431.26</td><td>1308.87</td><td>1462.14</td><td>1420.4</td><td>1496.23</td><td>1418.14</td><td>1200.11</td><td>1093.06</td><td>1340.53</td></tr>
<tr><td>Expenses</td><td>822.09</td><td>965.83</td><td>981.68</td><td>1162.94</td><td>1098.04</td><td>1026.82</td><td>953.26</td><td>836.92</td><td>857.11</td><td>923.37</td></tr>
<tr><td>Other Income</td><td>8.34</td><td>24.97</td><td>46.25</td><td>28.15</td><td>37.87</td><td>24.89</td><td>34.07</td><td>26.96</td><td>68.69</td><td>22.33</td></tr>
<tr><td>Depreciation</td><td>161.45</td><td>158.89</td><td>159.96</td><td>172.16</td><td>190.47</td><td>194.77</td><td>195.82</td><td>197.35</td><td>200.3</td><td>251.05</td></tr>
<tr><td>Interest</td><td>13.06</td><td>16.88</td><td>76.1</td><td>49.91</td><td>46.81</td><td>37.9</td><td>49.57</td><td>35.46</td><td>55.65</td><td>39.75</td></tr>
<tr><td>Profit before tax</td><td>233.05</td><td>314.63</td><td>137.38</td><td>105.28</td><td>122.95</td><td>261.63</td><td>253.56</td><td>157.34</td><td>48.69</td><td>148.69</td></tr>
<tr><td>Tax</td><td>5.01</td><td>24.32</td><td>10.64</td><td>11.65</td><td>12.11</td><td>15.81</td><td>-106.27</td><td>9.92</td><td>8</td><td>16.64</td></tr>
<tr><td>Net profit</td><td>228.04</td><td>290.31</td><td>126.74</td><td>93.63</td><td>110.84</td><td>245.82</td><td>359.83</td><td>147.42</td><td>40.69</td><td>132.05</td></tr>
<tr><td>Operating Profit</td><td>399.22</td><td>465.43</td><td>327.19</td><td>299.2</td><td>322.36</td><td>469.41</td><td>464.88</td><td>363.19</td><td>235.95</td><td>417.16</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td><td>465.8</td></tr>
<tr><td>Reserves</td><td>5874.02</td><td>6067.8</td><td>6257.68</td><td>6366.97</td><td>6631.76</td><td>6515.41</td><td>6832.38</td><td>7436.22</td><td>5111.17</td><td>5905.64</td></tr>
<tr><td>Borrowings</td><td>8256.95</td><td>6833.16</td><td>5844.76</td><td>5492.29</td><td>5585.37</td><td>5277.45</td><td>4767.23</td><td>3679</td><td>3200.37</td><td>2604.58</td></tr>
<tr><td>Other Liabilities</td><td>1934.77</td><td>1561.85</td><td>2148.28</td><td>2162.15</td><td>1685.61</td><td>1896.01</td><td>1667.71</td><td>1555.91</td><td>1683.68</td><td>1935.71</td></tr>
<tr><td>Total</td><td>16531.54</td><td>14928.61</td><td>14716.52</td><td>14487.21</td><td>14368.54</td><td>14154.67</td><td>13733.12</td><td>13136.93</td><td>10461.02</td><td>10911.73</td></tr>
<tr><td>Net Block</td><td>11934.73</td><td>11444.46</td><td>11827.21</td><td>11410.68</td><td>11348</td><td>11119.09</td><td>10653.13</td><td>10174.38</td><td>7624.06</td><td>7403.36</td></tr>
<tr><td>Capital Work in Progress</td><td>62.88</td><td>490.93</td><td></td><td>27.33</td><td>7.81</td><td>7.63</td><td>2.84</td><td>32.66</td><td>58.31</td><td>33.51</td></tr>
<tr><td>Investments</td><td>113.49</td><td>90.14</td><td>65.73</td><td>74.63</td><td>130.87</td><td>77.14</td><td>77.26</td><td>77.13</td><td>78.37</td><td>78.98</td></tr>
<tr><td>Other Assets</td><td>4420.44</td><td>2903.08</td><td>2823.58</td><td>2974.57</td><td>2881.86</td><td>2950.81</td><td>2999.89</td><td>2852.76</td><td>2700.28</td><td>3395.88</td></tr>
<tr><td>Total</td><td>16531.54</td><td>14928.61</td><td>14716.52</td><td>14487.21</td><td>14368.54</td><td>14154.67</td><td>13733.12</td><td>13136.93</td><td>10461.02</td><td>10911.73</td></tr>
<tr><td>Receivables</td><td>1059.99</td><td>787.82</td><td>681.83</td><td>658.7</td><td>662.64</td><td>598.92</td><td>606.23</td><td>630.46</td><td>637.21</td><td>1018.11</td></tr>
<tr><td>Inventory</td><td>190.45</td><td>91.93</td><td>85.58</td><td>115.21</td><td>116.53</td><td>159.79</td><td>131.38</td><td>87.6</td><td>174.79</td><td>150</td></tr>
<tr><td>Cash & Bank</td><td>1018.93</td><td>1256.16</td><td>1285.46</td><td>1375.65</td><td>1111.31</td><td>998.16</td><td>937.77</td><td>1035.15</td><td>385.74</td><td>553.36</td></tr>
<tr><td>No. of Equity Shares</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td><td>465799010</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>838.21</td><td>2099.65</td><td>1490.04</td><td>682.51</td><td>228.35</td><td>668.23</td><td>944.72</td><td>1340.52</td><td>1441.4</td><td>1466.19</td></tr>
<tr><td>Cash from Investing Activity</td><td>-965.67</td><td>-253.08</td><td>-11.13</td><td>-85.68</td><td>-470.67</td><td>-71.66</td><td>324.37</td><td>-206.85</td><td>-729.79</td><td>-502</td></tr>
<tr><td>Cash from Financing Activity</td><td>-118.39</td><td>-1609.34</td><td>-1094.62</td><td>-522.42</td><td>-87.13</td><td>-742.97</td><td>-1119.69</td><td>-1154.43</td><td>-652.67</td><td>-929.94</td></tr>
<tr><td>Net Cash Flow</td><td>-245.85</td><td>237.23</td><td>384.29</td><td>74.41</td><td>-329.45</td><td>-146.4</td><td>149.4</td><td>-20.76</td><td>58.94</td><td>34.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>31.94</td><td>35.75</td><td>49.98</td><td>58.99</td><td>49.37</td><td>29.09</td><td>28.86</td><td>85.19</td><td>88.77</td><td>93.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td><td>46.58</td></tr>
</table>
</body>
</html>