<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Samvardh</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SAMVARDHANA MOTHERSON INTERNATIONAL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>125.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>85110.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>30414.4</td><td>34660.7</td><td>37216.3</td><td>42375.5</td><td>56302.8</td><td>63522.9</td><td>60728.9</td><td>57369.9</td><td>63774</td><td>78700.7</td></tr>
<tr><td>Raw Material Cost</td><td>19665</td><td>22404.4</td><td>22391.5</td><td>25757.5</td><td>34539.6</td><td>36903.4</td><td>34995</td><td>32779.1</td><td>36987.7</td><td>45640.9</td></tr>
<tr><td>Change in Inventory</td><td>303.6</td><td>772.9</td><td>-17.8</td><td>6.8</td><td>227.5</td><td>165.1</td><td>26.2</td><td>181.2</td><td>251.4</td><td>323.5</td></tr>
<tr><td>Power and Fuel</td><td>594.5</td><td>615.2</td><td>622.8</td><td>650.4</td><td>780.4</td><td>976.3</td><td>990.5</td><td>919.7</td><td>1285.7</td><td>2101.8</td></tr>
<tr><td>Other Mfr. Exp</td><td>708.1</td><td>757.4</td><td>862.2</td><td>949</td><td>1440</td><td>1759.2</td><td>1469</td><td>1405.3</td><td>1940.3</td><td>2440.5</td></tr>
<tr><td>Employee Cost</td><td>5106.4</td><td>6365.2</td><td>7157.3</td><td>8090.9</td><td>11067.8</td><td>14169.4</td><td>14372.6</td><td>14099.6</td><td>15374.6</td><td>17931.4</td></tr>
<tr><td>Selling and admin</td><td>1292.5</td><td>1481.8</td><td>1565</td><td>1830.7</td><td>2301.9</td><td>2760</td><td>2388.1</td><td>2173.1</td><td>2783.8</td><td>3487.2</td></tr>
<tr><td>Other Expenses</td><td>954.4</td><td>965.7</td><td>1051.5</td><td>932.6</td><td>1272.1</td><td>1771.3</td><td>1885.9</td><td>1804.3</td><td>939.1</td><td>1258.4</td></tr>
<tr><td>Other Income</td><td>310.6</td><td>211.6</td><td>176.9</td><td>345.5</td><td>124.6</td><td>333.3</td><td>642.4</td><td>567.5</td><td>575</td><td>157.5</td></tr>
<tr><td>Depreciation</td><td>817.2</td><td>920.6</td><td>1087.2</td><td>1059.1</td><td>1575.2</td><td>2058.2</td><td>2721</td><td>2926</td><td>2958.2</td><td>3135.8</td></tr>
<tr><td>Interest</td><td>294.3</td><td>317.8</td><td>345</td><td>374.9</td><td>410.8</td><td>423.2</td><td>592.8</td><td>511.5</td><td>542.6</td><td>780.9</td></tr>
<tr><td>Profit before tax</td><td>1596.2</td><td>1817.1</td><td>2292.9</td><td>3082.7</td><td>3267.1</td><td>3200.3</td><td>1982.6</td><td>1500</td><td>1788.4</td><td>2404.8</td></tr>
<tr><td>Tax</td><td>499.4</td><td>525.6</td><td>519.2</td><td>910.3</td><td>1007.2</td><td>1102.2</td><td>688.1</td><td>-69.4</td><td>606.9</td><td>735.2</td></tr>
<tr><td>Net profit</td><td>765</td><td>862.5</td><td>1292.3</td><td>1554.3</td><td>1597</td><td>1613.1</td><td>1170.1</td><td>1039.2</td><td>873.8</td><td>1495.6</td></tr>
<tr><td>Dividend Amount</td><td>220.5</td><td>264.6</td><td>330.75</td><td>280.8</td><td>473.62</td><td>473.7</td><td>473.7</td><td>473.7</td><td>293.67</td><td>440.44</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>14076.39</td><td>16117.51</td><td>17241.4</td><td>17614.71</td><td>18302.24</td><td>20267.24</td><td>22476.85</td><td>22462.18</td><td>23473.79</td><td>25697.56</td></tr>
<tr><td>Expenses</td><td>13132.64</td><td>15050.45</td><td>15985.21</td><td>16537.89</td><td>16864.43</td><td>18664.97</td><td>20480.75</td><td>20537.56</td><td>21584.95</td><td>23327.96</td></tr>
<tr><td>Other Income</td><td>237.08</td><td>274.55</td><td>37.11</td><td>99.25</td><td>-45.8</td><td>80.08</td><td>74.99</td><td>76</td><td>-10.19</td><td>117.94</td></tr>
<tr><td>Depreciation</td><td>737.33</td><td>733.43</td><td>736.18</td><td>732.38</td><td>748.72</td><td>815.04</td><td>839.7</td><td>838.9</td><td>867.39</td><td>1016.38</td></tr>
<tr><td>Interest</td><td>131.32</td><td>129.36</td><td>161.15</td><td>169.39</td><td>183.71</td><td>149.4</td><td>278.44</td><td>252.63</td><td>487.94</td><td>620.26</td></tr>
<tr><td>Profit before tax</td><td>312.18</td><td>478.82</td><td>395.97</td><td>274.3</td><td>459.58</td><td>717.91</td><td>952.95</td><td>909.09</td><td>523.32</td><td>850.9</td></tr>
<tr><td>Tax</td><td>85.63</td><td>100.98</td><td>265.93</td><td>92.75</td><td>171.38</td><td>217.18</td><td>253.85</td><td>260.97</td><td>229.17</td><td>217.6</td></tr>
<tr><td>Net profit</td><td>216.86</td><td>245.08</td><td>121.62</td><td>141.22</td><td>246.43</td><td>453.93</td><td>653.96</td><td>600.87</td><td>201.55</td><td>541.96</td></tr>
<tr><td>Operating Profit</td><td>943.75</td><td>1067.06</td><td>1256.19</td><td>1076.82</td><td>1437.81</td><td>1602.27</td><td>1996.1</td><td>1924.62</td><td>1888.84</td><td>2369.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>88.2</td><td>88.2</td><td>132.3</td><td>140.4</td><td>210.5</td><td>315.8</td><td>315.8</td><td>315.8</td><td>451.8</td><td>677.6</td></tr>
<tr><td>Reserves</td><td>2871.1</td><td>3235.6</td><td>4264.8</td><td>8132.3</td><td>9673.6</td><td>10646.9</td><td>10945.1</td><td>12244.8</td><td>20136.5</td><td>21773.9</td></tr>
<tr><td>Borrowings</td><td>4839.7</td><td>5130.6</td><td>6068.7</td><td>10349.3</td><td>10373.6</td><td>11534.2</td><td>13136.4</td><td>11929.6</td><td>14129.7</td><td>13792.3</td></tr>
<tr><td>Other Liabilities</td><td>7444.9</td><td>8970.7</td><td>9198.8</td><td>13321.7</td><td>16716.4</td><td>20257.1</td><td>20635.8</td><td>23258.5</td><td>21007.6</td><td>25086.2</td></tr>
<tr><td>Total</td><td>15243.9</td><td>17425.1</td><td>19664.6</td><td>31943.7</td><td>36974.1</td><td>42754</td><td>45033.1</td><td>47748.7</td><td>55725.6</td><td>61330</td></tr>
<tr><td>Net Block</td><td>5918.9</td><td>6128.9</td><td>7146.9</td><td>12192.6</td><td>14712.3</td><td>18422.7</td><td>20750.1</td><td>20099.1</td><td>21411.2</td><td>23146.9</td></tr>
<tr><td>Capital Work in Progress</td><td>647.1</td><td>955.8</td><td>1397</td><td>1934.8</td><td>2584.9</td><td>1066.8</td><td>851.8</td><td>876.9</td><td>1309.7</td><td>1477.9</td></tr>
<tr><td>Investments</td><td>74.9</td><td>64.9</td><td>589.7</td><td>473.7</td><td>791.6</td><td>855.4</td><td>796.1</td><td>846.5</td><td>6461.7</td><td>6289.9</td></tr>
<tr><td>Other Assets</td><td>8603</td><td>10275.5</td><td>10531</td><td>17342.6</td><td>18885.3</td><td>22409.1</td><td>22635.1</td><td>25926.2</td><td>26543</td><td>30415.3</td></tr>
<tr><td>Total</td><td>15243.9</td><td>17425.1</td><td>19664.6</td><td>31943.7</td><td>36974.1</td><td>42754</td><td>45033.1</td><td>47748.7</td><td>55725.6</td><td>61330</td></tr>
<tr><td>Receivables</td><td>3238.4</td><td>3014.4</td><td>4653.7</td><td>4655.2</td><td>5623.6</td><td>6166.3</td><td>5178.4</td><td>5693.1</td><td>6573.1</td><td>8513.5</td></tr>
<tr><td>Inventory</td><td>3282.2</td><td>3750</td><td>2285</td><td>3071.6</td><td>4013.2</td><td>4663.4</td><td>5156.6</td><td>4995.6</td><td>6441.7</td><td>7822.8</td></tr>
<tr><td>Cash & Bank</td><td>906.1</td><td>1891.9</td><td>1771.7</td><td>4886.6</td><td>2781.5</td><td>3546.9</td><td>4878.9</td><td>5906.2</td><td>4999.4</td><td>4698.7</td></tr>
<tr><td>No. of Equity Shares</td><td>881919360</td><td>881919360</td><td>1322879040</td><td>1403526327</td><td>2105289491</td><td>3157934237</td><td>3157934237</td><td>3157934237</td><td>4517614244</td><td>6776421367</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td>440959680</td><td></td><td>701763164</td><td>1052644746</td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>2695</td><td>3389.7</td><td>2188.4</td><td>3799.7</td><td>3264</td><td>4312.4</td><td>6352</td><td>5051.3</td><td>2462.7</td><td>4643</td></tr>
<tr><td>Cash from Investing Activity</td><td>-1372.3</td><td>-2844.4</td><td>-1906.1</td><td>-6145.3</td><td>-3194.1</td><td>-3318.5</td><td>-2220.2</td><td>-1886</td><td>-2304.4</td><td>-2248.4</td></tr>
<tr><td>Cash from Financing Activity</td><td>-1080.1</td><td>494.5</td><td>-263.2</td><td>5517.6</td><td>-2221.4</td><td>-224.6</td><td>-2802.9</td><td>-2097.5</td><td>-1217.4</td><td>-2734</td></tr>
<tr><td>Net Cash Flow</td><td>242.6</td><td>1039.8</td><td>19.1</td><td>3172</td><td>-2151.5</td><td>769.3</td><td>1328.9</td><td>1067.8</td><td>-1059.1</td><td>-339.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>41.35</td><td>83.33</td><td>64.67</td><td>90.27</td><td>113.21</td><td>81.76</td><td>33.34</td><td>110.02</td><td>92.97</td><td>67.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>446.49</td><td>446.49</td><td>446.48</td><td>473.7</td><td>473.69</td><td>473.69</td><td>473.69</td><td>473.69</td><td>677.64</td><td>677.64</td></tr>
</table>
</body>
</html>