<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sanghvi Movers</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SANGHVI MOVERS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1263</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>5466.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>244.37</td><td>308.23</td><td>530.82</td><td>553.14</td><td>228.4</td><td>282.4</td><td>322.87</td><td>223.74</td><td>335.26</td><td>455.78</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>11.92</td><td>15.54</td><td>18.21</td><td>19.85</td><td>14.9</td><td>21.17</td><td>17.85</td><td>9.99</td><td>16.62</td><td>17.25</td></tr>
<tr><td>Other Mfr. Exp</td><td>50.62</td><td>66.38</td><td>105.66</td><td>110.27</td><td>68.73</td><td>92.37</td><td>93.58</td><td>77.27</td><td>109.29</td><td>115.32</td></tr>
<tr><td>Employee Cost</td><td>13.68</td><td>16.46</td><td>22.02</td><td>22.09</td><td>15.66</td><td>19.57</td><td>20.26</td><td>20.14</td><td>24.86</td><td>32.47</td></tr>
<tr><td>Selling and admin</td><td>12.92</td><td>12.39</td><td>16.81</td><td>18.04</td><td>14.67</td><td>18.03</td><td>17.56</td><td>16.04</td><td>19.17</td><td>20.95</td></tr>
<tr><td>Other Expenses</td><td>18.76</td><td>18.96</td><td>13.39</td><td>16.42</td><td>30.87</td><td>41.97</td><td>16.9</td><td>13.14</td><td>27.39</td><td>12.95</td></tr>
<tr><td>Other Income</td><td>5.36</td><td>7.39</td><td>-1.23</td><td>9.75</td><td>20.05</td><td>12.86</td><td>3.33</td><td>29.29</td><td>36.99</td><td>29.77</td></tr>
<tr><td>Depreciation</td><td>118.59</td><td>120.02</td><td>126.32</td><td>149.98</td><td>136.73</td><td>140.82</td><td>140.38</td><td>122.1</td><td>118.11</td><td>121.07</td></tr>
<tr><td>Interest</td><td>46.21</td><td>42.67</td><td>55.4</td><td>64.74</td><td>54.75</td><td>47.59</td><td>41.03</td><td>26.3</td><td>17.31</td><td>16.65</td></tr>
<tr><td>Profit before tax</td><td>-22.97</td><td>23.2</td><td>171.78</td><td>161.5</td><td>-87.86</td><td>-86.26</td><td>-21.36</td><td>-31.95</td><td>39.5</td><td>148.89</td></tr>
<tr><td>Tax</td><td>-8.46</td><td>15.15</td><td>64.83</td><td>52.32</td><td>-30.39</td><td>-28.19</td><td>-14.76</td><td>-9.53</td><td>10.07</td><td>36.85</td></tr>
<tr><td>Net profit</td><td>-14.5</td><td>8.06</td><td>106.96</td><td>109.18</td><td>-57.48</td><td>-58.06</td><td>-6.6</td><td>-22.42</td><td>29.43</td><td>112.04</td></tr>
<tr><td>Dividend Amount</td><td></td><td>2.16</td><td>12.99</td><td>17.32</td><td></td><td></td><td></td><td></td><td>4.33</td><td>17.32</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>70.54</td><td>79.34</td><td>109.32</td><td>97.24</td><td>109.24</td><td>122.48</td><td>126.83</td><td>146.07</td><td>139.98</td><td>167.04</td></tr>
<tr><td>Expenses</td><td>34.76</td><td>43.65</td><td>73.61</td><td>49.28</td><td>52.15</td><td>47.24</td><td>50.25</td><td>58</td><td>53.89</td><td>52.26</td></tr>
<tr><td>Other Income</td><td>6.46</td><td>7.87</td><td>22.08</td><td>3.67</td><td>14.91</td><td>6.49</td><td>4.7</td><td>6.03</td><td>4.75</td><td>5.96</td></tr>
<tr><td>Depreciation</td><td>29.77</td><td>29.05</td><td>28.84</td><td>28.83</td><td>30.51</td><td>31.05</td><td>30.68</td><td>32.56</td><td>34.23</td><td>31.87</td></tr>
<tr><td>Interest</td><td>4.32</td><td>4.62</td><td>4.14</td><td>3.43</td><td>3.92</td><td>4.24</td><td>5.05</td><td>5.47</td><td>6.65</td><td>6.86</td></tr>
<tr><td>Profit before tax</td><td>8.15</td><td>9.89</td><td>24.81</td><td>19.37</td><td>37.57</td><td>46.44</td><td>45.55</td><td>56.07</td><td>49.96</td><td>82.01</td></tr>
<tr><td>Tax</td><td>3.62</td><td>1.08</td><td>6.21</td><td>4.87</td><td>8.68</td><td>11.68</td><td>11.62</td><td>14.33</td><td>12.76</td><td>20.74</td></tr>
<tr><td>Net profit</td><td>4.53</td><td>8.81</td><td>18.6</td><td>14.49</td><td>28.9</td><td>34.75</td><td>33.93</td><td>41.74</td><td>37.2</td><td>61.28</td></tr>
<tr><td>Operating Profit</td><td>35.78</td><td>35.69</td><td>35.71</td><td>47.96</td><td>57.09</td><td>75.24</td><td>76.58</td><td>88.07</td><td>86.09</td><td>114.78</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td><td>8.66</td></tr>
<tr><td>Reserves</td><td>640.26</td><td>645.71</td><td>746.77</td><td>852.7</td><td>780.3</td><td>724.53</td><td>717.77</td><td>700.34</td><td>725.29</td><td>833.05</td></tr>
<tr><td>Borrowings</td><td>464.89</td><td>333.96</td><td>602.03</td><td>538.21</td><td>539.44</td><td>444.58</td><td>311.99</td><td>196.87</td><td>166.65</td><td>182.77</td></tr>
<tr><td>Other Liabilities</td><td>102.86</td><td>112.07</td><td>138.82</td><td>143.57</td><td>117.02</td><td>65.97</td><td>53.94</td><td>51.75</td><td>63.61</td><td>96.22</td></tr>
<tr><td>Total</td><td>1216.67</td><td>1100.4</td><td>1496.28</td><td>1543.14</td><td>1445.42</td><td>1243.74</td><td>1092.36</td><td>957.62</td><td>964.21</td><td>1120.7</td></tr>
<tr><td>Net Block</td><td>1004.83</td><td>891.29</td><td>1251.06</td><td>1290.78</td><td>1253.56</td><td>1107.91</td><td>961.41</td><td>832.53</td><td>769.28</td><td>858.5</td></tr>
<tr><td>Capital Work in Progress</td><td>0.25</td><td>17.5</td><td>4.54</td><td>0.49</td><td>3.86</td><td></td><td></td><td></td><td></td><td>6.95</td></tr>
<tr><td>Investments</td><td></td><td>7</td><td>8.04</td><td>15.01</td><td></td><td></td><td></td><td>12.25</td><td>30.31</td><td>35.64</td></tr>
<tr><td>Other Assets</td><td>211.59</td><td>184.61</td><td>232.64</td><td>236.86</td><td>188</td><td>135.83</td><td>130.95</td><td>112.84</td><td>164.62</td><td>219.61</td></tr>
<tr><td>Total</td><td>1216.67</td><td>1100.4</td><td>1496.28</td><td>1543.14</td><td>1445.42</td><td>1243.74</td><td>1092.36</td><td>957.62</td><td>964.21</td><td>1120.7</td></tr>
<tr><td>Receivables</td><td>148.83</td><td>123.53</td><td>155.07</td><td>165.82</td><td>134.52</td><td>73.28</td><td>62.21</td><td>56.58</td><td>79.27</td><td>98.89</td></tr>
<tr><td>Inventory</td><td>10.22</td><td>10.22</td><td>10.59</td><td>13.83</td><td>12.39</td><td>11.77</td><td>10.63</td><td>7.06</td><td>4.82</td><td>4.5</td></tr>
<tr><td>Cash & Bank</td><td>18.59</td><td>28.1</td><td>4.05</td><td>2.63</td><td>2.84</td><td>4.49</td><td>3.36</td><td>1.57</td><td>9.71</td><td>21.16</td></tr>
<tr><td>No. of Equity Shares</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td><td>43288000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>207.63</td><td>208.23</td><td>257.91</td><td>311.25</td><td>126.45</td><td>127.85</td><td>163.18</td><td>118.9</td><td>129.91</td><td>257.35</td></tr>
<tr><td>Cash from Investing Activity</td><td>-17.81</td><td>-34.31</td><td>-486.92</td><td>-188.79</td><td>-44.39</td><td>19.07</td><td>9.36</td><td>20.62</td><td>-75.78</td><td>-237.03</td></tr>
<tr><td>Cash from Financing Activity</td><td>-204.06</td><td>-150.58</td><td>204.6</td><td>-123.49</td><td>-81.93</td><td>-145.15</td><td>-173.68</td><td>-141.31</td><td>-48.31</td><td>-15.19</td></tr>
<tr><td>Net Cash Flow</td><td>-14.24</td><td>23.33</td><td>-24.41</td><td>-1.04</td><td>0.12</td><td>1.77</td><td>-1.14</td><td>-1.79</td><td>5.81</td><td>5.13</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>68.95</td><td>273</td><td>285</td><td>243.75</td><td>173.45</td><td>111.15</td><td>46.15</td><td>100.45</td><td>183.8</td><td>352.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td><td>4.33</td></tr>
</table>
</body>
</html>