<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sarda Energy</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SARDA ENERGY & MINERALS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>257.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9057.64</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1591.37</td><td>1759.88</td><td>1479.9</td><td>1434.22</td><td>2173.7</td><td>2323.89</td><td>2000.15</td><td>2198.81</td><td>3914.02</td><td>4211.9</td></tr>
<tr><td>Raw Material Cost</td><td>882.5</td><td>1001.93</td><td>811.19</td><td>974.38</td><td>1471.73</td><td>1531.55</td><td>1286.14</td><td>1347.48</td><td>2152.15</td><td>2501.34</td></tr>
<tr><td>Change in Inventory</td><td>34.45</td><td>119.21</td><td>-152.01</td><td>32.13</td><td>-6.07</td><td>38.38</td><td>-6.51</td><td>0.39</td><td>66.14</td><td>6.04</td></tr>
<tr><td>Power and Fuel</td><td>14.65</td><td>16.4</td><td>10.62</td><td>9.67</td><td>11.96</td><td>8.15</td><td>8.54</td><td>8.17</td><td>26.55</td><td>76.73</td></tr>
<tr><td>Other Mfr. Exp</td><td>241.57</td><td>303.67</td><td>145.33</td><td>125.45</td><td>115.22</td><td>152.57</td><td>151.86</td><td>153.34</td><td>197.77</td><td>245.9</td></tr>
<tr><td>Employee Cost</td><td>63.54</td><td>72.12</td><td>70.21</td><td>75.4</td><td>77.12</td><td>87.35</td><td>87.79</td><td>88.67</td><td>112.9</td><td>127.1</td></tr>
<tr><td>Selling and admin</td><td>84.73</td><td>97.15</td><td>61.64</td><td>51.8</td><td>80.87</td><td>90.06</td><td>86.44</td><td>96.18</td><td>151.34</td><td>211.83</td></tr>
<tr><td>Other Expenses</td><td>10.1</td><td>10.47</td><td>44.35</td><td>12.61</td><td>9.11</td><td>10.32</td><td>16.65</td><td>-14.2</td><td>-15.89</td><td>-5.17</td></tr>
<tr><td>Other Income</td><td>43.76</td><td>-76.73</td><td>41.43</td><td>95.55</td><td>62.53</td><td>16.85</td><td>-16.93</td><td>129.94</td><td>42.96</td><td>49.39</td></tr>
<tr><td>Depreciation</td><td>95.55</td><td>92.98</td><td>74.98</td><td>68.65</td><td>73.18</td><td>76.47</td><td>77.92</td><td>75.05</td><td>143.16</td><td>178.35</td></tr>
<tr><td>Interest</td><td>122.52</td><td>120.36</td><td>111.61</td><td>93.77</td><td>96.68</td><td>98.96</td><td>82.48</td><td>79.1</td><td>147.12</td><td>124.41</td></tr>
<tr><td>Profit before tax</td><td>154.42</td><td>87.28</td><td>39.39</td><td>150.17</td><td>294.29</td><td>323.69</td><td>178.89</td><td>495.35</td><td>1108.02</td><td>806.84</td></tr>
<tr><td>Tax</td><td>62.32</td><td>30.97</td><td>26.64</td><td>23.2</td><td>89.52</td><td>116.5</td><td>43.35</td><td>114.97</td><td>299.79</td><td>201.8</td></tr>
<tr><td>Net profit</td><td>91.03</td><td>54.91</td><td>12.58</td><td>131.88</td><td>202.49</td><td>203.18</td><td>126.34</td><td>374.89</td><td>804.16</td><td>602.11</td></tr>
<tr><td>Dividend Amount</td><td>10.76</td><td>10.78</td><td>17.99</td><td>14.41</td><td>18.02</td><td>18.02</td><td>18.02</td><td>27.04</td><td>27.04</td><td>52.86</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1025.13</td><td>998.58</td><td>1058.12</td><td>1261.05</td><td>966.54</td><td>908.04</td><td>1076.27</td><td>1052.12</td><td>1001.36</td><td>925.39</td></tr>
<tr><td>Expenses</td><td>614.05</td><td>677.62</td><td>706.6</td><td>891.51</td><td>685.45</td><td>712.53</td><td>862.22</td><td>837.22</td><td>758.95</td><td>737.2</td></tr>
<tr><td>Other Income</td><td>30.9</td><td>-15.88</td><td>30.11</td><td>-38.92</td><td>21.23</td><td>43.5</td><td>28.58</td><td>83.08</td><td>23.58</td><td>35.43</td></tr>
<tr><td>Depreciation</td><td>38.68</td><td>38.82</td><td>46.48</td><td>43.59</td><td>44.47</td><td>45</td><td>45.29</td><td>44.9</td><td>45.72</td><td>46.41</td></tr>
<tr><td>Interest</td><td>42.99</td><td>44.57</td><td>44.63</td><td>31.81</td><td>32.06</td><td>32.94</td><td>32.6</td><td>34.99</td><td>34.71</td><td>34.13</td></tr>
<tr><td>Profit before tax</td><td>360.31</td><td>221.69</td><td>290.52</td><td>255.22</td><td>225.79</td><td>161.07</td><td>164.74</td><td>218.09</td><td>185.56</td><td>143.08</td></tr>
<tr><td>Tax</td><td>95.82</td><td>52.55</td><td>85.83</td><td>80.74</td><td>41.48</td><td>30.35</td><td>49.23</td><td>43.6</td><td>34.94</td><td>35.81</td></tr>
<tr><td>Net profit</td><td>255.59</td><td>167.06</td><td>213.41</td><td>169.8</td><td>180.71</td><td>130.36</td><td>121.24</td><td>170.83</td><td>140.65</td><td>117.16</td></tr>
<tr><td>Operating Profit</td><td>411.08</td><td>320.96</td><td>351.52</td><td>369.54</td><td>281.09</td><td>195.51</td><td>214.05</td><td>214.9</td><td>242.41</td><td>188.19</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>35.85</td><td>35.95</td><td>35.98</td><td>36.03</td><td>36.05</td><td>36.05</td><td>36.05</td><td>36.05</td><td>36.05</td><td>35.24</td></tr>
<tr><td>Reserves</td><td>1112.3</td><td>1173.65</td><td>1187.45</td><td>1321.56</td><td>1540.42</td><td>1707.38</td><td>1833.65</td><td>2182.09</td><td>2967.67</td><td>3374.84</td></tr>
<tr><td>Borrowings</td><td>1736.55</td><td>1482.11</td><td>1221.33</td><td>1362.84</td><td>1385.52</td><td>1395.32</td><td>1694.44</td><td>1713.55</td><td>1580.57</td><td>1406.97</td></tr>
<tr><td>Other Liabilities</td><td>362.78</td><td>352.2</td><td>382.27</td><td>394.69</td><td>450.62</td><td>543.28</td><td>537.84</td><td>586.63</td><td>713.52</td><td>664.33</td></tr>
<tr><td>Total</td><td>3247.48</td><td>3043.91</td><td>2827.03</td><td>3115.12</td><td>3412.61</td><td>3682.03</td><td>4101.98</td><td>4518.32</td><td>5297.81</td><td>5481.38</td></tr>
<tr><td>Net Block</td><td>1382.9</td><td>1332.61</td><td>1225.5</td><td>1183.4</td><td>1358.5</td><td>1348.96</td><td>1323.01</td><td>1286.72</td><td>2853.19</td><td>2907.27</td></tr>
<tr><td>Capital Work in Progress</td><td>375.43</td><td>441.41</td><td>593.98</td><td>799.02</td><td>783.46</td><td>1063.27</td><td>1373.76</td><td>1616.31</td><td>132.54</td><td>130.8</td></tr>
<tr><td>Investments</td><td>571.67</td><td>278.96</td><td>204.62</td><td>225.95</td><td>240.71</td><td>212.93</td><td>190.86</td><td>266.15</td><td>500.17</td><td>422.28</td></tr>
<tr><td>Other Assets</td><td>917.48</td><td>990.93</td><td>802.93</td><td>906.75</td><td>1029.94</td><td>1056.87</td><td>1214.35</td><td>1349.14</td><td>1811.91</td><td>2021.03</td></tr>
<tr><td>Total</td><td>3247.48</td><td>3043.91</td><td>2827.03</td><td>3115.12</td><td>3412.61</td><td>3682.03</td><td>4101.98</td><td>4518.32</td><td>5297.81</td><td>5481.38</td></tr>
<tr><td>Receivables</td><td>64.85</td><td>97.3</td><td>124.83</td><td>106.48</td><td>131.24</td><td>92.56</td><td>123.89</td><td>138.24</td><td>168.75</td><td>182.02</td></tr>
<tr><td>Inventory</td><td>284.46</td><td>427.97</td><td>221.86</td><td>342.62</td><td>411.26</td><td>439.5</td><td>500.76</td><td>578.96</td><td>612.97</td><td>727.12</td></tr>
<tr><td>Cash & Bank</td><td>102.77</td><td>11.34</td><td>11.87</td><td>10.56</td><td>68.25</td><td>44.99</td><td>164.64</td><td>96.57</td><td>281.54</td><td>372.06</td></tr>
<tr><td>No. of Equity Shares</td><td>35850000</td><td>35952353</td><td>35978319</td><td>36030398</td><td>36049235</td><td>36049235</td><td>36049235</td><td>36049235</td><td>36049235</td><td>35238127</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>240.91</td><td>-36.46</td><td>469.46</td><td>177.12</td><td>300.5</td><td>480.08</td><td>336.14</td><td>187.86</td><td>917.23</td><td>701.44</td></tr>
<tr><td>Cash from Investing Activity</td><td>-384.7</td><td>329.98</td><td>-147.81</td><td>-241.05</td><td>-156.41</td><td>-398.55</td><td>-414.59</td><td>-186.25</td><td>-466.11</td><td>-431.14</td></tr>
<tr><td>Cash from Financing Activity</td><td>176.1</td><td>-384.99</td><td>-382.97</td><td>62.87</td><td>-86.45</td><td>-105.68</td><td>198.88</td><td>-69.68</td><td>-330.81</td><td>-478.6</td></tr>
<tr><td>Net Cash Flow</td><td>32.31</td><td>-91.47</td><td>-61.32</td><td>-1.05</td><td>57.64</td><td>-24.15</td><td>120.43</td><td>-68.07</td><td>120.31</td><td>-208.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>11.14</td><td>12.4</td><td>9.38</td><td>24.3</td><td>42.27</td><td>31.27</td><td>11.75</td><td>41.86</td><td>113.27</td><td>106.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>35.85</td><td>35.95</td><td>35.98</td><td>36.03</td><td>36.05</td><td>36.05</td><td>36.05</td><td>36.05</td><td>36.05</td><td>35.24</td></tr>
</table>
</body>
</html>