<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sheela Foam</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SHEELA FOAM LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>899.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9775.69</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1221.44</td><td>1358.71</td><td>1549.99</td><td>1679.71</td><td>1888.98</td><td>2066.13</td><td>2121.46</td><td>2437.19</td><td>2865.58</td><td>2873.32</td></tr>
<tr><td>Raw Material Cost</td><td>741.52</td><td>823.69</td><td>779.95</td><td>923.88</td><td>1061.2</td><td>1153.89</td><td>1026.23</td><td>1323.94</td><td>1811.2</td><td>1721.43</td></tr>
<tr><td>Change in Inventory</td><td>3.5</td><td>-4.47</td><td>-4.38</td><td>13.89</td><td>15.53</td><td>11.67</td><td>1.44</td><td>6</td><td>9.78</td><td>12.09</td></tr>
<tr><td>Power and Fuel</td><td>11.72</td><td>11.19</td><td>10.59</td><td>11.43</td><td>11.79</td><td>12.79</td><td>13.01</td><td>12.62</td><td>15.68</td><td>17.31</td></tr>
<tr><td>Other Mfr. Exp</td><td>76.99</td><td>99.02</td><td>113.17</td><td>116.66</td><td>123.78</td><td>115.77</td><td>146.69</td><td>115.75</td><td>132.26</td><td>141.14</td></tr>
<tr><td>Employee Cost</td><td>119.38</td><td>128.49</td><td>139.41</td><td>153.15</td><td>162.65</td><td>177.32</td><td>220.35</td><td>231.7</td><td>255.48</td><td>279.76</td></tr>
<tr><td>Selling and admin</td><td>212.28</td><td>238.9</td><td>298.94</td><td>316.13</td><td>375.89</td><td>455.86</td><td>436.07</td><td>360.34</td><td>300.59</td><td>363.38</td></tr>
<tr><td>Other Expenses</td><td>-21.97</td><td>-38.13</td><td>27.12</td><td>-23.77</td><td>-47.37</td><td>-48.85</td><td>-19.86</td><td>34.69</td><td>44.92</td><td>65.11</td></tr>
<tr><td>Other Income</td><td>0.28</td><td>10.58</td><td>16.42</td><td>23.13</td><td>20.83</td><td>27.55</td><td>28</td><td>50.24</td><td>78.88</td><td>86.5</td></tr>
<tr><td>Depreciation</td><td>30</td><td>27.95</td><td>29.27</td><td>30.39</td><td>35.24</td><td>39.53</td><td>59.04</td><td>72.87</td><td>80.78</td><td>89.62</td></tr>
<tr><td>Interest</td><td>19.16</td><td>16.19</td><td>11.67</td><td>10.97</td><td>8.67</td><td>9.62</td><td>13</td><td>17.68</td><td>16.97</td><td>21.07</td></tr>
<tr><td>Profit before tax</td><td>36.14</td><td>57.52</td><td>151.91</td><td>177.89</td><td>193.49</td><td>189.42</td><td>256.37</td><td>323.84</td><td>296.36</td><td>273.09</td></tr>
<tr><td>Tax</td><td>8.29</td><td>14.84</td><td>47.2</td><td>52.33</td><td>59.78</td><td>55.68</td><td>62.08</td><td>83.69</td><td>77.63</td><td>70.02</td></tr>
<tr><td>Net profit</td><td>27.84</td><td>42.67</td><td>104.71</td><td>125.55</td><td>133.71</td><td>133.74</td><td>193.43</td><td>237.72</td><td>217.33</td><td>201.16</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>785.64</td><td>881.3</td><td>736.76</td><td>700.67</td><td>722.16</td><td>760.92</td><td>729.04</td><td>645.09</td><td>613.19</td><td>878.89</td></tr>
<tr><td>Expenses</td><td>675.8</td><td>786.32</td><td>664.91</td><td>634.81</td><td>643.89</td><td>685.2</td><td>651.62</td><td>567.47</td><td>546.97</td><td>802.7</td></tr>
<tr><td>Other Income</td><td>17.83</td><td>27.71</td><td>15.76</td><td>17.97</td><td>22.52</td><td>28.02</td><td>18.49</td><td>13.24</td><td>24.39</td><td>31.83</td></tr>
<tr><td>Depreciation</td><td>18.6</td><td>19.91</td><td>23.73</td><td>20.65</td><td>20.5</td><td>22.4</td><td>26.07</td><td>22.66</td><td>21.88</td><td>29.91</td></tr>
<tr><td>Interest</td><td>4.2</td><td>5.76</td><td>2.13</td><td>4.81</td><td>5</td><td>4.72</td><td>7.04</td><td>7.88</td><td>8.55</td><td>25.21</td></tr>
<tr><td>Profit before tax</td><td>104.87</td><td>97.02</td><td>61.75</td><td>58.37</td><td>75.29</td><td>76.62</td><td>62.8</td><td>60.32</td><td>60.18</td><td>52.9</td></tr>
<tr><td>Tax</td><td>27.93</td><td>29.67</td><td>12.45</td><td>15.85</td><td>21.71</td><td>15.46</td><td>17</td><td>17</td><td>15.61</td><td>14.45</td></tr>
<tr><td>Net profit</td><td>76.4</td><td>66.87</td><td>49.23</td><td>42.09</td><td>53.09</td><td>60.53</td><td>45.44</td><td>43.07</td><td>44.01</td><td>30.75</td></tr>
<tr><td>Operating Profit</td><td>109.84</td><td>94.98</td><td>71.85</td><td>65.86</td><td>78.27</td><td>75.72</td><td>77.42</td><td>77.62</td><td>66.22</td><td>76.19</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>16.26</td><td>16.26</td><td>16.26</td><td>24.39</td><td>24.39</td><td>24.39</td><td>24.39</td><td>24.39</td><td>24.39</td><td>48.78</td></tr>
<tr><td>Reserves</td><td>180.3</td><td>228.78</td><td>322.17</td><td>439.26</td><td>572.87</td><td>705.71</td><td>895.35</td><td>1159.9</td><td>1368.17</td><td>1551.61</td></tr>
<tr><td>Borrowings</td><td>187.82</td><td>145.64</td><td>115.12</td><td>59.35</td><td>47.93</td><td>30.55</td><td>310.14</td><td>334.23</td><td>466.47</td><td>571.09</td></tr>
<tr><td>Other Liabilities</td><td>240.81</td><td>288.81</td><td>334.75</td><td>395.35</td><td>397.51</td><td>401.15</td><td>414</td><td>550.84</td><td>496.42</td><td>531</td></tr>
<tr><td>Total</td><td>625.19</td><td>679.49</td><td>788.3</td><td>918.35</td><td>1042.7</td><td>1161.8</td><td>1643.88</td><td>2069.36</td><td>2355.45</td><td>2702.48</td></tr>
<tr><td>Net Block</td><td>252.23</td><td>286.27</td><td>287.83</td><td>318.42</td><td>348.38</td><td>411.68</td><td>850.75</td><td>893.89</td><td>883.04</td><td>864.99</td></tr>
<tr><td>Capital Work in Progress</td><td>16.78</td><td>8.33</td><td>9.7</td><td>36.21</td><td>52.23</td><td>0.74</td><td>17.97</td><td>32.56</td><td>119.89</td><td>287.49</td></tr>
<tr><td>Investments</td><td></td><td></td><td>10</td><td></td><td>98.05</td><td>317.56</td><td>231.43</td><td>410.61</td><td>618.21</td><td>768.37</td></tr>
<tr><td>Other Assets</td><td>356.18</td><td>384.89</td><td>480.77</td><td>563.72</td><td>544.04</td><td>431.82</td><td>543.73</td><td>732.3</td><td>734.31</td><td>781.63</td></tr>
<tr><td>Total</td><td>625.19</td><td>679.49</td><td>788.3</td><td>918.35</td><td>1042.7</td><td>1161.8</td><td>1643.88</td><td>2069.36</td><td>2355.45</td><td>2702.48</td></tr>
<tr><td>Receivables</td><td>120.08</td><td>114.5</td><td>117.07</td><td>138.81</td><td>147.31</td><td>152.16</td><td>215.77</td><td>302.15</td><td>269.39</td><td>281.98</td></tr>
<tr><td>Inventory</td><td>124.12</td><td>118.16</td><td>104.61</td><td>146.53</td><td>172.58</td><td>187.14</td><td>226.86</td><td>315.31</td><td>314.46</td><td>331.33</td></tr>
<tr><td>Cash & Bank</td><td>76.84</td><td>116.98</td><td>217.16</td><td>209.39</td><td>158.24</td><td>20.3</td><td>44.62</td><td>58.1</td><td>41.13</td><td>42.54</td></tr>
<tr><td>No. of Equity Shares</td><td>16260936</td><td>16260936</td><td>16260936</td><td>48782808</td><td>48782808</td><td>48782808</td><td>48782808</td><td>48782808</td><td>48782808</td><td>97565616</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>16260936</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>124.43</td><td>147.31</td><td>159.31</td><td>122.02</td><td>133.72</td><td>137.87</td><td>157.3</td><td>253.87</td><td>197.15</td><td>212.01</td></tr>
<tr><td>Cash from Investing Activity</td><td>-26.93</td><td>-48.63</td><td>-34.07</td><td>1.98</td><td>-80.07</td><td>-245.68</td><td>-287.14</td><td>-208.27</td><td>-306.38</td><td>-266.67</td></tr>
<tr><td>Cash from Financing Activity</td><td>-52.86</td><td>-58.54</td><td>-25.06</td><td>-66.7</td><td>-20.1</td><td>-27</td><td>157.1</td><td>-32.35</td><td>92.68</td><td>56.12</td></tr>
<tr><td>Net Cash Flow</td><td>44.63</td><td>40.14</td><td>100.18</td><td>57.3</td><td>33.55</td><td>-134.82</td><td>27.27</td><td>13.26</td><td>-16.55</td><td>1.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td>562.6</td><td>746.03</td><td>629.75</td><td>642.95</td><td>988.53</td><td>1737.4</td><td>993.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>3.25</td><td>3.25</td><td>3.25</td><td>9.76</td><td>9.76</td><td>9.76</td><td>9.76</td><td>9.76</td><td>9.76</td><td>9.76</td></tr>
</table>
</body>
</html>