<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Shilpa Medicare</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SHILPA MEDICARE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>499.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4878.55</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>571.37</td><td>613.8</td><td>719.36</td><td>779.16</td><td>788.82</td><td>733.39</td><td>907.91</td><td>898.96</td><td>1141.44</td><td>1046.15</td></tr>
<tr><td>Raw Material Cost</td><td>329.76</td><td>327.67</td><td>374.23</td><td>418.27</td><td>313.83</td><td>256.81</td><td>293.78</td><td>329.56</td><td>390.24</td><td>404.42</td></tr>
<tr><td>Change in Inventory</td><td>15.34</td><td>2.97</td><td>6.8</td><td>46.46</td><td>-42.04</td><td>-0.22</td><td>16.05</td><td>58.83</td><td>7.02</td><td>-11.5</td></tr>
<tr><td>Power and Fuel</td><td>17.37</td><td>19.29</td><td>24.44</td><td>26.3</td><td>28.86</td><td>33.57</td><td>38.76</td><td>40.25</td><td>52.43</td><td>56.79</td></tr>
<tr><td>Other Mfr. Exp</td><td>14.67</td><td>16.4</td><td>19.31</td><td>25.86</td><td>29.82</td><td>38.56</td><td>40.68</td><td>53.3</td><td>62.88</td><td>59.3</td></tr>
<tr><td>Employee Cost</td><td>67.84</td><td>82.32</td><td>91.47</td><td>127.9</td><td>149.37</td><td>176.42</td><td>196.61</td><td>235.35</td><td>264.55</td><td>287.37</td></tr>
<tr><td>Selling and admin</td><td>28.43</td><td>35.23</td><td>49.31</td><td>48.36</td><td>59</td><td>54.48</td><td>115.67</td><td>104.28</td><td>158.03</td><td>116.48</td></tr>
<tr><td>Other Expenses</td><td>12.58</td><td>7.21</td><td>14.34</td><td>13.76</td><td>10.76</td><td>25.1</td><td>19.02</td><td>14.54</td><td>18.53</td><td>11.56</td></tr>
<tr><td>Other Income</td><td>6.13</td><td>4.65</td><td>4.53</td><td>15.1</td><td>21.51</td><td>33.19</td><td>16.95</td><td>90.39</td><td>21.44</td><td>17.14</td></tr>
<tr><td>Depreciation</td><td>23.22</td><td>21.41</td><td>28.63</td><td>30.64</td><td>37.22</td><td>42.06</td><td>43.78</td><td>53.98</td><td>79.8</td><td>95.5</td></tr>
<tr><td>Interest</td><td>3.52</td><td>4.05</td><td>6.86</td><td>3.13</td><td>2.66</td><td>3.68</td><td>4.56</td><td>21.87</td><td>41.17</td><td>58.65</td></tr>
<tr><td>Profit before tax</td><td>95.45</td><td>107.84</td><td>122.1</td><td>146.5</td><td>136.77</td><td>135.68</td><td>188.05</td><td>195.05</td><td>102.27</td><td>-38.28</td></tr>
<tr><td>Tax</td><td>20.3</td><td>35.21</td><td>23.39</td><td>42.04</td><td>33.9</td><td>26.18</td><td>33.5</td><td>48.85</td><td>41.68</td><td>-7.36</td></tr>
<tr><td>Net profit</td><td>75.67</td><td>73.69</td><td>103.78</td><td>107.58</td><td>105.24</td><td>112.26</td><td>156.15</td><td>147.78</td><td>60.66</td><td>-32.48</td></tr>
<tr><td>Dividend Amount</td><td>3.68</td><td>4.24</td><td>4.63</td><td>4.81</td><td>5.7</td><td>8.15</td><td>8.96</td><td>8.96</td><td>9.55</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>295.27</td><td>272.3</td><td>340.6</td><td>261.16</td><td>262.91</td><td>262.5</td><td>263.56</td><td>260.17</td><td>312.98</td><td>286.48</td></tr>
<tr><td>Expenses</td><td>243.25</td><td>227.97</td><td>267.87</td><td>241.32</td><td>252.91</td><td>231.22</td><td>226.54</td><td>213.91</td><td>254.59</td><td>221.6</td></tr>
<tr><td>Other Income</td><td>10.19</td><td>5.48</td><td>5.37</td><td>8.1</td><td>4.39</td><td>3.07</td><td>2.17</td><td>1.93</td><td>1.81</td><td>2.21</td></tr>
<tr><td>Depreciation</td><td>19.18</td><td>20.65</td><td>22.34</td><td>22.42</td><td>23.31</td><td>24.08</td><td>25.69</td><td>26.75</td><td>27.79</td><td>26.71</td></tr>
<tr><td>Interest</td><td>11.58</td><td>9.92</td><td>9.35</td><td>9.59</td><td>13.47</td><td>17.85</td><td>17.74</td><td>18.15</td><td>23.24</td><td>26.22</td></tr>
<tr><td>Profit before tax</td><td>31.45</td><td>19.24</td><td>46.41</td><td>-4.07</td><td>-22.39</td><td>-7.58</td><td>-4.24</td><td>3.29</td><td>9.17</td><td>14.16</td></tr>
<tr><td>Tax</td><td>11.56</td><td>9.71</td><td>16.86</td><td>-6.42</td><td>-3.82</td><td>-0.96</td><td>3.82</td><td>2.12</td><td>7.6</td><td>9.46</td></tr>
<tr><td>Net profit</td><td>19.96</td><td>9.57</td><td>29.55</td><td>0.85</td><td>-18.66</td><td>-6.62</td><td>-8.04</td><td>1.18</td><td>1.61</td><td>4.58</td></tr>
<tr><td>Operating Profit</td><td>52.02</td><td>44.33</td><td>72.73</td><td>19.84</td><td>10</td><td>31.28</td><td>37.02</td><td>46.26</td><td>58.39</td><td>64.88</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>7.36</td><td>7.71</td><td>7.71</td><td>8.01</td><td>8.15</td><td>8.15</td><td>8.15</td><td>8.15</td><td>8.68</td><td>8.68</td></tr>
<tr><td>Reserves</td><td>389.09</td><td>539.23</td><td>639.19</td><td>978.88</td><td>1076.88</td><td>1189.43</td><td>1321.21</td><td>1470.51</td><td>1813.51</td><td>1774.6</td></tr>
<tr><td>Borrowings</td><td>118.42</td><td>188.61</td><td>221.45</td><td>241.45</td><td>191.06</td><td>194.03</td><td>389.88</td><td>845.68</td><td>683.29</td><td>797.89</td></tr>
<tr><td>Other Liabilities</td><td>162.96</td><td>169</td><td>193.59</td><td>243.87</td><td>223.04</td><td>218.41</td><td>269.96</td><td>308.03</td><td>370.02</td><td>321.22</td></tr>
<tr><td>Total</td><td>677.83</td><td>904.55</td><td>1061.94</td><td>1472.21</td><td>1499.13</td><td>1610.02</td><td>1989.2</td><td>2632.37</td><td>2875.5</td><td>2902.39</td></tr>
<tr><td>Net Block</td><td>294.42</td><td>316.06</td><td>580.4</td><td>491.93</td><td>534.2</td><td>558.01</td><td>650.44</td><td>1110.53</td><td>1341.84</td><td>1368.33</td></tr>
<tr><td>Capital Work in Progress</td><td>111.03</td><td>221.62</td><td>94.73</td><td>140.51</td><td>209.85</td><td>429.12</td><td>666.25</td><td>541.29</td><td>506.18</td><td>655.33</td></tr>
<tr><td>Investments</td><td>10.34</td><td>65.54</td><td>52.97</td><td>252.62</td><td>140.33</td><td>2.26</td><td>10.45</td><td>21.22</td><td>34.23</td><td>42.66</td></tr>
<tr><td>Other Assets</td><td>262.04</td><td>301.33</td><td>333.84</td><td>587.15</td><td>614.75</td><td>620.63</td><td>662.06</td><td>959.33</td><td>993.25</td><td>836.07</td></tr>
<tr><td>Total</td><td>677.83</td><td>904.55</td><td>1061.94</td><td>1472.21</td><td>1499.13</td><td>1610.02</td><td>1989.2</td><td>2632.37</td><td>2875.5</td><td>2902.39</td></tr>
<tr><td>Receivables</td><td>67.96</td><td>81.37</td><td>84.59</td><td>170.93</td><td>220.27</td><td>203.73</td><td>246.79</td><td>217.5</td><td>386.33</td><td>324.35</td></tr>
<tr><td>Inventory</td><td>123.25</td><td>130.78</td><td>162.51</td><td>190</td><td>188.71</td><td>187.67</td><td>226.43</td><td>316.84</td><td>355.24</td><td>319.82</td></tr>
<tr><td>Cash & Bank</td><td>9.19</td><td>18.42</td><td>15.88</td><td>100.39</td><td>73.83</td><td>94.54</td><td>44.56</td><td>123.11</td><td>34.11</td><td>21.56</td></tr>
<tr><td>No. of Equity Shares</td><td>36786247</td><td>38550952</td><td>77101905</td><td>80126904</td><td>81526899</td><td>81526899</td><td>81526899</td><td>81526899</td><td>86801898</td><td>86801898</td></tr>
<tr><td>New Bonus Shares</td><td>12262082</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>70.04</td><td>68.81</td><td>128.7</td><td>37.48</td><td>44.92</td><td>146.78</td><td>124.38</td><td>46.93</td><td>105.13</td><td>226.17</td></tr>
<tr><td>Cash from Investing Activity</td><td>-49.38</td><td>-195.8</td><td>-106.23</td><td>-257.26</td><td>-10.16</td><td>-196.31</td><td>-289.7</td><td>-404.28</td><td>-285.5</td><td>-278.48</td></tr>
<tr><td>Cash from Financing Activity</td><td>-28.34</td><td>136.21</td><td>-19.65</td><td>312.7</td><td>-60.91</td><td>10.06</td><td>175.5</td><td>436.37</td><td>82.86</td><td>45.8</td></tr>
<tr><td>Net Cash Flow</td><td>-7.68</td><td>9.22</td><td>2.82</td><td>92.92</td><td>-26.15</td><td>-39.47</td><td>10.18</td><td>79.03</td><td>-97.51</td><td>-6.51</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>207.03</td><td>496.58</td><td>428.05</td><td>637.45</td><td>463.65</td><td>341.05</td><td>244.65</td><td>333.8</td><td>398.2</td><td>228.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>7.36</td><td>7.71</td><td>7.71</td><td>8.01</td><td>8.15</td><td>8.15</td><td>8.15</td><td>8.15</td><td>8.68</td><td>8.68</td></tr>
</table>
</body>
</html>