<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sona BLW Precis</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SONA BLW PRECISION FORGINGS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>605.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>35489.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>345.58</td><td>365.33</td><td>503.3</td><td>608.86</td><td>699.22</td><td>538.69</td><td>1400.04</td><td>1939.05</td><td>2468.62</td><td>2891.83</td></tr>
<tr><td>Raw Material Cost</td><td>144.12</td><td>155.34</td><td>197.47</td><td>186.04</td><td>192.84</td><td>149.23</td><td>616.15</td><td>864.82</td><td>1065.91</td><td>1266.36</td></tr>
<tr><td>Change in Inventory</td><td>-5.17</td><td>5.17</td><td>11.57</td><td>8.47</td><td>-12.22</td><td>-3.7</td><td>63.65</td><td>29.46</td><td>-27.09</td><td>36.71</td></tr>
<tr><td>Power and Fuel</td><td>20.85</td><td>21.99</td><td>23.9</td><td>32</td><td>39.32</td><td>27.97</td><td>38.81</td><td>47.95</td><td>64.79</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>26.37</td><td>27.3</td><td>39.15</td><td>107.27</td><td>159.46</td><td>123.13</td><td>208.02</td><td>288.46</td><td>348.21</td><td></td></tr>
<tr><td>Employee Cost</td><td>29.14</td><td>33.42</td><td>44.43</td><td>60.94</td><td>48.2</td><td>50.68</td><td>142.63</td><td>163.46</td><td>174.83</td><td>211.15</td></tr>
<tr><td>Selling and admin</td><td>36.96</td><td>38.68</td><td>45.7</td><td>64.68</td><td>46.76</td><td>29.64</td><td>60.27</td><td>81.75</td><td>117.86</td><td></td></tr>
<tr><td>Other Expenses</td><td>0.75</td><td>22.14</td><td>59.09</td><td>2.39</td><td>2.39</td><td>3.74</td><td>11.28</td><td>21.88</td><td>32.1</td><td>626.57</td></tr>
<tr><td>Other Income</td><td>1.82</td><td>-37.9</td><td>2.06</td><td>6.99</td><td>2.91</td><td>0.45</td><td>22.68</td><td>63.36</td><td>39.7</td><td>32.73</td></tr>
<tr><td>Depreciation</td><td>18.71</td><td>17.25</td><td>17.18</td><td>22.34</td><td>29.35</td><td>34.22</td><td>86.07</td><td>129.54</td><td>166.55</td><td>202.59</td></tr>
<tr><td>Interest</td><td>21.83</td><td>18.13</td><td>19.42</td><td>18.1</td><td>16.02</td><td>23.18</td><td>31.8</td><td>17.24</td><td>16.36</td><td>25.39</td></tr>
<tr><td>Profit before tax</td><td>43.5</td><td>-1.65</td><td>70.59</td><td>130.56</td><td>155.57</td><td>93.65</td><td>291.34</td><td>416.77</td><td>494.62</td><td>629.21</td></tr>
<tr><td>Tax</td><td>14.61</td><td>14.32</td><td>25.72</td><td>44.58</td><td>55</td><td>9.57</td><td>75.3</td><td>63.24</td><td>106.53</td><td>144.73</td></tr>
<tr><td>Net profit</td><td>28.88</td><td>-15.96</td><td>44.87</td><td>85.99</td><td>100.57</td><td>84.08</td><td>216.04</td><td>353.54</td><td>388.09</td><td>484.48</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td>199.92</td><td>1084.82</td><td>89.99</td><td>164.5</td><td>179.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>439.14</td><td>493.66</td><td>533.2</td><td>599.22</td><td>616.27</td><td>698.98</td><td>673.83</td><td>716.27</td><td>708.33</td><td>793.4</td></tr>
<tr><td>Expenses</td><td>323.53</td><td>377.59</td><td>411.66</td><td>452.7</td><td>456.33</td><td>510.11</td><td>487.63</td><td>515.7</td><td>493.76</td><td>570.29</td></tr>
<tr><td>Other Income</td><td>4.97</td><td>47.98</td><td>6.02</td><td>7.13</td><td>12.51</td><td>35</td><td>3.75</td><td>23.54</td><td>-0.92</td><td>6.38</td></tr>
<tr><td>Depreciation</td><td>32.86</td><td>34.61</td><td>37.13</td><td>40.05</td><td>44.14</td><td>45.23</td><td>48.24</td><td>49.94</td><td>51.14</td><td>53.27</td></tr>
<tr><td>Interest</td><td>3.05</td><td>3.19</td><td>2.66</td><td>4.05</td><td>4.87</td><td>4.78</td><td>5.25</td><td>5.99</td><td>7.03</td><td>7.12</td></tr>
<tr><td>Profit before tax</td><td>84.67</td><td>126.25</td><td>87.77</td><td>109.55</td><td>123.44</td><td>173.86</td><td>136.46</td><td>168.18</td><td>155.48</td><td>169.1</td></tr>
<tr><td>Tax</td><td>8.56</td><td>1.84</td><td>22.14</td><td>26.29</td><td>27.85</td><td>30.24</td><td>34.83</td><td>37.68</td><td>33.71</td><td>38.52</td></tr>
<tr><td>Net profit</td><td>76.11</td><td>124.42</td><td>65.62</td><td>83.26</td><td>95.59</td><td>143.62</td><td>101.63</td><td>130.5</td><td>121.77</td><td>130.59</td></tr>
<tr><td>Operating Profit</td><td>115.61</td><td>116.07</td><td>121.54</td><td>146.52</td><td>159.94</td><td>188.87</td><td>186.2</td><td>200.57</td><td>214.57</td><td>223.11</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>27.72</td><td>47.15</td><td>572.98</td><td>584.35</td><td>585.41</td><td>586.45</td></tr>
<tr><td>Reserves</td><td>183.07</td><td>167.1</td><td>211.97</td><td>297.96</td><td>398.55</td><td>1084.3</td><td>787.97</td><td>1388.8</td><td>1664.41</td><td>1987.58</td></tr>
<tr><td>Borrowings</td><td>155.88</td><td>148.52</td><td>157.87</td><td>161.32</td><td>145.26</td><td>329.6</td><td>442.86</td><td>146.73</td><td>291.37</td><td>387.81</td></tr>
<tr><td>Other Liabilities</td><td>61.39</td><td>72.55</td><td>91.22</td><td>127.37</td><td>166.86</td><td>104.94</td><td>318.1</td><td>385.8</td><td>435.04</td><td>623.45</td></tr>
<tr><td>Total</td><td>428.06</td><td>415.89</td><td>488.78</td><td>614.37</td><td>738.39</td><td>1565.99</td><td>2121.91</td><td>2505.68</td><td>2976.23</td><td>3585.29</td></tr>
<tr><td>Net Block</td><td>124.63</td><td>124.49</td><td>105.24</td><td>164.57</td><td>274.69</td><td>363.94</td><td>1085.27</td><td>1261.11</td><td>1472.74</td><td>1642.53</td></tr>
<tr><td>Capital Work in Progress</td><td>7.68</td><td>4.03</td><td>5.66</td><td>12.2</td><td>13.17</td><td>50.04</td><td>83.21</td><td>146.88</td><td>91.1</td><td>94.52</td></tr>
<tr><td>Investments</td><td>199.65</td><td>158.88</td><td>161.89</td><td>173.53</td><td>172.78</td><td>860.4</td><td>155.23</td><td>162.55</td><td>370.03</td><td>541.27</td></tr>
<tr><td>Other Assets</td><td>96.1</td><td>128.49</td><td>215.99</td><td>264.07</td><td>277.75</td><td>291.61</td><td>798.2</td><td>935.14</td><td>1042.36</td><td>1306.97</td></tr>
<tr><td>Total</td><td>428.06</td><td>415.89</td><td>488.78</td><td>614.37</td><td>738.39</td><td>1565.99</td><td>2121.91</td><td>2505.68</td><td>2976.23</td><td>3585.29</td></tr>
<tr><td>Receivables</td><td>54.76</td><td>66.45</td><td>119.5</td><td>141.81</td><td>152.1</td><td>133.44</td><td>398.64</td><td>437.49</td><td>586.45</td><td>582.14</td></tr>
<tr><td>Inventory</td><td>31.59</td><td>38.67</td><td>54.49</td><td>72.38</td><td>67.78</td><td>61.41</td><td>256.5</td><td>300.68</td><td>268.37</td><td>311.59</td></tr>
<tr><td>Cash & Bank</td><td>0.89</td><td>1.15</td><td>2.47</td><td>2.07</td><td>25.61</td><td>58.49</td><td>5.04</td><td>39.46</td><td>54.11</td><td>197.79</td></tr>
<tr><td>No. of Equity Shares</td><td>27718376</td><td>27718376</td><td>27718376</td><td>27718376</td><td>27716376</td><td>47153944</td><td>572980560</td><td>584352710</td><td>585404582</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td>38.03</td><td>22.83</td><td>112.44</td><td>142.6</td><td>160.85</td><td>121.21</td><td>395.38</td><td>500.24</td><td>639.34</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td>-12.01</td><td>-11.8</td><td>-97.85</td><td>-113.18</td><td>-886.06</td><td>-117.43</td><td>-317.73</td><td>-512.24</td><td>-452.51</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td>-25.37</td><td>-9.71</td><td>-14.97</td><td>-31.29</td><td>759.5</td><td>-78.62</td><td>-62.35</td><td>20.17</td><td>-190.61</td></tr>
<tr><td>Net Cash Flow</td><td></td><td>0.64</td><td>1.32</td><td>-0.39</td><td>-1.88</td><td>34.29</td><td>-74.84</td><td>15.3</td><td>8.17</td><td>-3.78</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>679.45</td><td>413.5</td><td>705.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>2.77</td><td>2.77</td><td>2.77</td><td>2.77</td><td>2.77</td><td>4.72</td><td>57.3</td><td>58.44</td><td>58.54</td><td>58.64</td></tr>
</table>
</body>
</html>