<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\South Ind</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SOUTH INDIAN BANK LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>27.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>7100</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>5286.22</td><td>5557.2</td><td>5847.08</td><td>6192.81</td><td>6876.52</td><td>7763.8</td><td>7305.44</td><td>6586.54</td><td>7233.18</td><td>8612.8</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>21.7</td><td>16.57</td><td>19.97</td><td>24.54</td><td>37.87</td><td>52.21</td><td>51.66</td><td>50.79</td><td>64.74</td><td></td></tr>
<tr><td>Employee Cost</td><td>634.46</td><td>693.34</td><td>677.64</td><td>714.26</td><td>823.04</td><td>942.92</td><td>1236.28</td><td>1199.87</td><td>1302.66</td><td>1692.85</td></tr>
<tr><td>Selling and admin</td><td>196.4</td><td>213.08</td><td>229.31</td><td>249.23</td><td>284.14</td><td>300.44</td><td>311.96</td><td>327.31</td><td>379.41</td><td></td></tr>
<tr><td>Other Expenses</td><td>543.93</td><td>527.43</td><td>798.47</td><td>1251.11</td><td>1150.72</td><td>1840.43</td><td>1866.86</td><td>1528.29</td><td>882.21</td><td>1625.97</td></tr>
<tr><td>Other Income</td><td>497.07</td><td>517.42</td><td>715.56</td><td>837.24</td><td>726.21</td><td>1045.75</td><td>1229.17</td><td>1034.1</td><td>812.63</td><td>1515.52</td></tr>
<tr><td>Depreciation</td><td>-1.11</td><td>67.03</td><td>65.38</td><td>63.73</td><td>69.64</td><td>77.7</td><td>82.65</td><td>84.02</td><td>87.48</td><td></td></tr>
<tr><td>Interest</td><td>3919.99</td><td>4047.5</td><td>4171.65</td><td>4227.29</td><td>4856.82</td><td>5446.3</td><td>4898.54</td><td>4346.78</td><td>4221.1</td><td>5280.75</td></tr>
<tr><td>Profit before tax</td><td>467.92</td><td>509.67</td><td>600.22</td><td>499.89</td><td>380.5</td><td>149.55</td><td>86.66</td><td>83.58</td><td>1108.21</td><td>1528.75</td></tr>
<tr><td>Tax</td><td>160.71</td><td>176.4</td><td>207.72</td><td>165</td><td>132.97</td><td>44.96</td><td>24.75</td><td>38.6</td><td>333.12</td><td>458.67</td></tr>
<tr><td>Net profit</td><td>307.2</td><td>333.27</td><td>392.5</td><td>334.89</td><td>247.53</td><td>104.59</td><td>61.91</td><td>44.98</td><td>775.09</td><td>1070.08</td></tr>
<tr><td>Dividend Amount</td><td>81.01</td><td>67.52</td><td>72.11</td><td>72.35</td><td>45.24</td><td></td><td></td><td></td><td>62.78</td><td>78.48</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1671.13</td><td>1635.43</td><td>1621.81</td><td>1740.14</td><td>1898.27</td><td>1972.96</td><td>2025.04</td><td>2129</td><td>2184.09</td><td>2274.67</td></tr>
<tr><td>Expenses</td><td>861.27</td><td>591.46</td><td>672.31</td><td>735.04</td><td>629.16</td><td>679.99</td><td>877.34</td><td>777.16</td><td>836.54</td><td>827.78</td></tr>
<tr><td>Other Income</td><td>221.98</td><td>203.95</td><td>246.34</td><td>255.1</td><td>-34.18</td><td>345.37</td><td>361.31</td><td>355.77</td><td>452.41</td><td>346.03</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>1098.26</td><td>1037.69</td><td>1018.43</td><td>1013.77</td><td>1073.12</td><td>1115.78</td><td>1217.27</td><td>1298.42</td><td>1365.06</td><td>1400</td></tr>
<tr><td>Profit before tax</td><td>-66.42</td><td>210.23</td><td>177.41</td><td>246.43</td><td>161.81</td><td>522.56</td><td>291.74</td><td>409.19</td><td>434.9</td><td>392.92</td></tr>
<tr><td>Tax</td><td>-16.11</td><td>-61.81</td><td>62.06</td><td>23.33</td><td>59.06</td><td>188.67</td><td>89.39</td><td>134.38</td><td>129.54</td><td>105.36</td></tr>
<tr><td>Net profit</td><td>-50.31</td><td>272.04</td><td>115.35</td><td>223.1</td><td>102.75</td><td>333.89</td><td>202.35</td><td>274.81</td><td>305.36</td><td>287.56</td></tr>
<tr><td>Operating Profit</td><td>809.86</td><td>1043.97</td><td>949.5</td><td>1005.1</td><td>1269.11</td><td>1292.97</td><td>1147.7</td><td>1351.84</td><td>1347.55</td><td>1446.89</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>135.02</td><td>135.03</td><td>180.28</td><td>180.88</td><td>180.97</td><td>180.97</td><td>209.27</td><td>209.27</td><td>209.27</td><td></td></tr>
<tr><td>Reserves</td><td>3456.77</td><td>3710.55</td><td>4668.21</td><td>5062.29</td><td>5156.11</td><td>5296.38</td><td>5599.97</td><td>5645.15</td><td>6465.42</td><td></td></tr>
<tr><td>Borrowings</td><td>54144.96</td><td>58335.69</td><td>68075.25</td><td>76072.97</td><td>85323.32</td><td>89927.12</td><td>86818.82</td><td>92436.6</td><td>98645.2</td><td></td></tr>
<tr><td>Other Liabilities</td><td>1379.57</td><td>1293.61</td><td>1388.41</td><td>1369.74</td><td>1618.82</td><td>1628.43</td><td>1521.12</td><td>1761.4</td><td>2378.29</td><td></td></tr>
<tr><td>Total</td><td>59116.32</td><td>63474.88</td><td>74312.15</td><td>82685.88</td><td>92279.22</td><td>97032.9</td><td>94149.18</td><td>100052.42</td><td>107698.18</td><td></td></tr>
<tr><td>Net Block</td><td>469.22</td><td>466.83</td><td>618.13</td><td>642.22</td><td>676.79</td><td>775.81</td><td>754.66</td><td>752.01</td><td>753.92</td><td></td></tr>
<tr><td>Capital Work in Progress</td><td>9.83</td><td>20.16</td><td>37.97</td><td>38.56</td><td>31.87</td><td>24.24</td><td>40.5</td><td>59.05</td><td>124</td><td></td></tr>
<tr><td>Investments</td><td>14086.14</td><td>14743.93</td><td>19429.67</td><td>18363.08</td><td>19081.38</td><td>20625.27</td><td>20321.08</td><td>21445.01</td><td>24641.8</td><td></td></tr>
<tr><td>Other Assets</td><td>44551.13</td><td>48243.96</td><td>54226.38</td><td>63642.02</td><td>72489.18</td><td>75607.58</td><td>73032.94</td><td>77796.35</td><td>82178.46</td><td></td></tr>
<tr><td>Total</td><td>59116.32</td><td>63474.88</td><td>74312.15</td><td>82685.88</td><td>92279.22</td><td>97032.9</td><td>94149.18</td><td>100052.42</td><td>107698.18</td><td></td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>3595.08</td><td>3274.47</td><td>3887.72</td><td>4221.05</td><td>4822.75</td><td>4189.76</td><td>8767.88</td><td>11203.43</td><td>7080.49</td><td></td></tr>
<tr><td>No. of Equity Shares</td><td>1350152036</td><td>1350309041</td><td>1802835959</td><td>1808831080</td><td>1809682151</td><td>1809722151</td><td>2092741018</td><td>2092741018</td><td>2092741018</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>686.98</td><td>109.36</td><td>1956.58</td><td>792.86</td><td>1677.92</td><td>656</td><td>5808.41</td><td>5165.32</td><td>-7260.82</td><td>7075.2</td></tr>
<tr><td>Cash from Investing Activity</td><td>-172.6</td><td>-1397.87</td><td>-1841.53</td><td>-823.77</td><td>-1174.53</td><td>-1577.49</td><td>-1092.2</td><td>-1740.58</td><td>-386.06</td><td>-1985.9</td></tr>
<tr><td>Cash from Financing Activity</td><td>-137.23</td><td>167.9</td><td>498.2</td><td>364.25</td><td>98.31</td><td>288.5</td><td>-138.09</td><td>-989.19</td><td>3523.93</td><td>-2147.61</td></tr>
<tr><td>Net Cash Flow</td><td>377.15</td><td>-1120.61</td><td>613.25</td><td>333.33</td><td>601.71</td><td>-632.99</td><td>4578.12</td><td>2435.55</td><td>-4122.94</td><td>2941.69</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>20.95</td><td>14.67</td><td>19.61</td><td>20.94</td><td>15.16</td><td>5.24</td><td>7.58</td><td>6.89</td><td>13.46</td><td>27.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>225.03</td><td>225.05</td><td>225.35</td><td>226.1</td><td>226.21</td><td>226.22</td><td>261.59</td><td>261.59</td><td>261.59</td><td>261.59</td></tr>
</table>
</body>
</html>