<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\SRF</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SRF LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>2291.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>67937.28</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4539.85</td><td>4592.72</td><td>4821.8</td><td>5589.04</td><td>7099.59</td><td>7209.41</td><td>8400.04</td><td>12433.66</td><td>14870.25</td><td>13138.52</td></tr>
<tr><td>Raw Material Cost</td><td>2574.71</td><td>2309.61</td><td>2440.24</td><td>3063.1</td><td>4041.16</td><td>3778.79</td><td>4090.6</td><td>6346.69</td><td>7402.43</td><td>6814.16</td></tr>
<tr><td>Change in Inventory</td><td>32.75</td><td>-20.96</td><td>21.43</td><td>31.1</td><td>74.03</td><td>91.82</td><td>71.66</td><td>279.75</td><td>8.92</td><td>105.38</td></tr>
<tr><td>Power and Fuel</td><td>434.15</td><td>398.07</td><td>417.8</td><td>500.79</td><td>585.09</td><td>672.55</td><td>717.34</td><td>1135.56</td><td>1472.25</td><td>1344.81</td></tr>
<tr><td>Other Mfr. Exp</td><td>192.7</td><td>197.52</td><td>210.06</td><td>266.84</td><td>275.41</td><td>315.13</td><td>324.12</td><td>406.3</td><td>440.42</td><td></td></tr>
<tr><td>Employee Cost</td><td>356.32</td><td>386.62</td><td>433.99</td><td>474.23</td><td>461</td><td>542.18</td><td>621.69</td><td>780.66</td><td>814.21</td><td>935.03</td></tr>
<tr><td>Selling and admin</td><td>209.85</td><td>220.2</td><td>272.75</td><td>335.3</td><td>374.09</td><td>389.98</td><td>438.07</td><td>737.57</td><td>835.69</td><td></td></tr>
<tr><td>Other Expenses</td><td>87.41</td><td>96.98</td><td>99</td><td>73.64</td><td>139.87</td><td>147.66</td><td>146.55</td><td>203.43</td><td>384.97</td><td>1565.79</td></tr>
<tr><td>Other Income</td><td>64.58</td><td>27.6</td><td>73.01</td><td>115.12</td><td>78.02</td><td>152.24</td><td>66.04</td><td>115.51</td><td>74.93</td><td>83.02</td></tr>
<tr><td>Depreciation</td><td>245.03</td><td>274.96</td><td>283.44</td><td>315.8</td><td>358.17</td><td>388.61</td><td>453.08</td><td>517.23</td><td>575.32</td><td>672.62</td></tr>
<tr><td>Interest</td><td>137.58</td><td>130.46</td><td>101.77</td><td>123.89</td><td>198.37</td><td>200.68</td><td>133.95</td><td>115.93</td><td>204.82</td><td>302.29</td></tr>
<tr><td>Profit before tax</td><td>399.43</td><td>584.94</td><td>657.19</td><td>581.67</td><td>818.48</td><td>1017.89</td><td>1612.34</td><td>2585.55</td><td>2823.99</td><td>1692.22</td></tr>
<tr><td>Tax</td><td>96.62</td><td>155.05</td><td>142.2</td><td>119.96</td><td>176.85</td><td>-1.2</td><td>414.4</td><td>696.63</td><td>661.65</td><td>356.51</td></tr>
<tr><td>Net profit</td><td>302.81</td><td>429.89</td><td>514.99</td><td>461.71</td><td>641.63</td><td>1019.09</td><td>1197.94</td><td>1888.92</td><td>2162.34</td><td>1335.71</td></tr>
<tr><td>Dividend Amount</td><td>58.44</td><td>58.44</td><td>70.13</td><td>70.13</td><td>70.2</td><td>81.9</td><td>144.62</td><td>498.21</td><td>214.16</td><td>213.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3345.87</td><td>3549.42</td><td>3894.72</td><td>3727.78</td><td>3469.66</td><td>3778.09</td><td>3338.38</td><td>3177.36</td><td>3053.04</td><td>3569.74</td></tr>
<tr><td>Expenses</td><td>2464.46</td><td>2601.42</td><td>2899.75</td><td>2958.67</td><td>2636.14</td><td>2846.49</td><td>2642.13</td><td>2551.15</td><td>2487.21</td><td>2873.92</td></tr>
<tr><td>Other Income</td><td>10.67</td><td>7.23</td><td>9.85</td><td>32.74</td><td>10.01</td><td>22.33</td><td>11.76</td><td>29.12</td><td>18.75</td><td>23.39</td></tr>
<tr><td>Depreciation</td><td>132.39</td><td>131.6</td><td>130.73</td><td>139.3</td><td>150.65</td><td>154.64</td><td>156.61</td><td>161.23</td><td>168.89</td><td>185.89</td></tr>
<tr><td>Interest</td><td>29.41</td><td>35.69</td><td>32.5</td><td>44.47</td><td>61.95</td><td>65.9</td><td>65.63</td><td>79.29</td><td>67.37</td><td>90</td></tr>
<tr><td>Profit before tax</td><td>730.28</td><td>787.94</td><td>841.59</td><td>618.08</td><td>630.93</td><td>733.39</td><td>485.77</td><td>414.81</td><td>348.32</td><td>443.32</td></tr>
<tr><td>Tax</td><td>224.74</td><td>182.29</td><td>233.59</td><td>137.09</td><td>120.03</td><td>170.94</td><td>126.48</td><td>114.03</td><td>94.89</td><td>21.11</td></tr>
<tr><td>Net profit</td><td>505.54</td><td>605.65</td><td>608</td><td>480.99</td><td>510.9</td><td>562.45</td><td>359.29</td><td>300.78</td><td>253.43</td><td>422.21</td></tr>
<tr><td>Operating Profit</td><td>881.41</td><td>948</td><td>994.97</td><td>769.11</td><td>833.52</td><td>931.6</td><td>696.25</td><td>626.21</td><td>565.83</td><td>695.82</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>58.44</td><td>58.44</td><td>58.44</td><td>58.44</td><td>58.5</td><td>58.5</td><td>60.26</td><td>297.44</td><td>297.44</td><td>297.44</td></tr>
<tr><td>Reserves</td><td>2237.9</td><td>2704.54</td><td>3124.22</td><td>3506.09</td><td>4070.77</td><td>4874.82</td><td>6796.16</td><td>8267.92</td><td>10029.61</td><td>11181.58</td></tr>
<tr><td>Borrowings</td><td>2434.89</td><td>2515.25</td><td>2396.21</td><td>3141.84</td><td>3730.19</td><td>4134.51</td><td>3468.59</td><td>3655.19</td><td>4477.53</td><td>5030.54</td></tr>
<tr><td>Other Liabilities</td><td>1151.9</td><td>1145.71</td><td>1389.46</td><td>1656.64</td><td>2028.44</td><td>1794.67</td><td>2586.26</td><td>3544.46</td><td>3931.29</td><td>3972.38</td></tr>
<tr><td>Total</td><td>5883.13</td><td>6423.94</td><td>6968.33</td><td>8363.01</td><td>9887.9</td><td>10862.5</td><td>12911.27</td><td>15765.01</td><td>18735.87</td><td>20481.94</td></tr>
<tr><td>Net Block</td><td>3922.33</td><td>4112.52</td><td>4404.91</td><td>5121.59</td><td>5609.39</td><td>6367.59</td><td>7826.96</td><td>8425.29</td><td>10049.8</td><td>13241.62</td></tr>
<tr><td>Capital Work in Progress</td><td>104.12</td><td>117.44</td><td>258.58</td><td>558.81</td><td>753.61</td><td>1393.29</td><td>772.26</td><td>1671.63</td><td>2405.54</td><td>805.33</td></tr>
<tr><td>Investments</td><td>94.27</td><td>164.93</td><td>195.88</td><td>121.82</td><td>100.6</td><td>202.66</td><td>416.68</td><td>320.9</td><td>494.21</td><td>526.7</td></tr>
<tr><td>Other Assets</td><td>1762.41</td><td>2029.05</td><td>2108.96</td><td>2560.79</td><td>3424.3</td><td>2898.96</td><td>3895.37</td><td>5347.19</td><td>5786.32</td><td>5908.29</td></tr>
<tr><td>Total</td><td>5883.13</td><td>6423.94</td><td>6968.33</td><td>8363.01</td><td>9887.9</td><td>10862.5</td><td>12911.27</td><td>15765.01</td><td>18735.87</td><td>20481.94</td></tr>
<tr><td>Receivables</td><td>610.66</td><td>514.48</td><td>656.89</td><td>680.65</td><td>1028.75</td><td>891.07</td><td>1274.56</td><td>1792.45</td><td>1785.62</td><td>1942.82</td></tr>
<tr><td>Inventory</td><td>763.5</td><td>671.05</td><td>838.14</td><td>958.18</td><td>1224.74</td><td>1201.23</td><td>1465.82</td><td>2138.47</td><td>2274.29</td><td>2326.47</td></tr>
<tr><td>Cash & Bank</td><td>107.3</td><td>389.23</td><td>96.12</td><td>96.74</td><td>198.88</td><td>125.47</td><td>282</td><td>459.35</td><td>616.46</td><td>407.54</td></tr>
<tr><td>No. of Equity Shares</td><td>58435600</td><td>58440500</td><td>58440500</td><td>58440500</td><td>58500500</td><td>58500500</td><td>60265205</td><td>297441025</td><td>297444825</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>542.35</td><td>1090.05</td><td>645.44</td><td>677.98</td><td>895.64</td><td>1304.44</td><td>1771.68</td><td>2105.72</td><td>2901.71</td><td>2093.86</td></tr>
<tr><td>Cash from Investing Activity</td><td>-499.79</td><td>-666.74</td><td>-613.25</td><td>-1173.74</td><td>-1038.87</td><td>-1178.56</td><td>-1498.72</td><td>-1586.25</td><td>-2963.79</td><td>-2227.33</td></tr>
<tr><td>Cash from Financing Activity</td><td>-18.1</td><td>-182.49</td><td>-284.44</td><td>495.14</td><td>245.77</td><td>-198.99</td><td>-251.11</td><td>-207.28</td><td>219.58</td><td>-71.7</td></tr>
<tr><td>Net Cash Flow</td><td>24.46</td><td>240.82</td><td>-252.25</td><td>-0.62</td><td>102.54</td><td>-73.11</td><td>21.85</td><td>312.19</td><td>157.5</td><td>-205.17</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>198.4</td><td>261.69</td><td>325.43</td><td>391.03</td><td>480.6</td><td>556.66</td><td>1082.16</td><td>2679.35</td><td>2411.85</td><td>2560.25</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>28.71</td><td>28.71</td><td>28.71</td><td>28.71</td><td>28.74</td><td>28.74</td><td>29.62</td><td>29.64</td><td>29.64</td><td>29.64</td></tr>
</table>
</body>
</html>