<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\St Bk of India</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>STATE BANK OF INDIA</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>819.8</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>732000.82</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>189062.44</td><td>207974.34</td><td>220632.75</td><td>230447.1</td><td>228970.28</td><td>253322.17</td><td>269851.66</td><td>278115.48</td><td>289972.69</td><td>350844.58</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>591.76</td><td>730.46</td><td>797.06</td><td>870.96</td><td>971.9</td><td>1057.77</td><td>1121.27</td><td>1116.5</td><td>1219.04</td><td>1305.59</td></tr>
<tr><td>Employee Cost</td><td>29874.91</td><td>31123.2</td><td>32533.31</td><td>35700.74</td><td>35417.16</td><td>43804.72</td><td>48861.7</td><td>54344.09</td><td>61457.96</td><td>61934.09</td></tr>
<tr><td>Selling and admin</td><td>8441.07</td><td>9333.86</td><td>9750.12</td><td>10596.89</td><td>12597.96</td><td>12823.59</td><td>13665.28</td><td>14050.25</td><td>15354.12</td><td>17241.04</td></tr>
<tr><td>Other Expenses</td><td>43289.82</td><td>55487.29</td><td>66904.29</td><td>98497.5</td><td>120077.51</td><td>108417.44</td><td>109260.45</td><td>123309.85</td><td>119317.73</td><td>123822.44</td></tr>
<tr><td>Other Income</td><td>37882.13</td><td>49315.17</td><td>52828.39</td><td>68193.17</td><td>77557.39</td><td>77365.19</td><td>98158.99</td><td>107222.41</td><td>117000.4</td><td>122533.56</td></tr>
<tr><td>Depreciation</td><td>1942.43</td><td>1581.49</td><td>2252.21</td><td>2914.68</td><td>3105.07</td><td>3495.89</td><td>3661.56</td><td>3711.06</td><td>3691.27</td><td>3695.6</td></tr>
<tr><td>Interest</td><td>121479.04</td><td>133178.64</td><td>143047.36</td><td>149114.67</td><td>146602.98</td><td>155867.46</td><td>161123.8</td><td>156010.17</td><td>156194.34</td><td>189980.82</td></tr>
<tr><td>Profit before tax</td><td>21325.54</td><td>25854.57</td><td>18176.79</td><td>944.83</td><td>-12244.91</td><td>5220.49</td><td>30316.59</td><td>32795.97</td><td>49738.63</td><td>75398.56</td></tr>
<tr><td>Tax</td><td>6836.07</td><td>8337.2</td><td>5433.5</td><td>1335.5</td><td>-8057.5</td><td>2151.41</td><td>12139.76</td><td>8516.25</td><td>13382.46</td><td>18840.13</td></tr>
<tr><td>Net profit</td><td>14173.78</td><td>16994.3</td><td>12224.6</td><td>241.23</td><td>-4556.29</td><td>2299.64</td><td>19767.8</td><td>22405.46</td><td>35373.88</td><td>55648.17</td></tr>
<tr><td>Dividend Amount</td><td>2239.71</td><td>2613</td><td>2018.33</td><td>2073.11</td><td></td><td></td><td></td><td>3569.84</td><td>6336.47</td><td>10084.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>73029.13</td><td>73376.04</td><td>74607.57</td><td>76780.86</td><td>84462.87</td><td>91517.66</td><td>98083.19</td><td>101460.01</td><td>107390.78</td><td>112868.34</td></tr>
<tr><td>Expenses</td><td>42675.56</td><td>52015.21</td><td>54233.13</td><td>42328.03</td><td>49207.81</td><td>56497.58</td><td>59965.34</td><td>49080.2</td><td>59365.26</td><td>62634.87</td></tr>
<tr><td>Other Income</td><td>20695.73</td><td>31152.18</td><td>33427.11</td><td>17743.44</td><td>30319.61</td><td>35701.31</td><td>38769.2</td><td>30872.77</td><td>36865.34</td><td>33103.3</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Interest</td><td>38638.14</td><td>39363.25</td><td>39943.86</td><td>41931.16</td><td>45232.19</td><td>49365.99</td><td>53451.48</td><td>58044.94</td><td>62955.15</td><td>68091.94</td></tr>
<tr><td>Profit before tax</td><td>12411.16</td><td>13149.76</td><td>13857.69</td><td>10265.11</td><td>20342.48</td><td>21355.4</td><td>23435.57</td><td>25207.64</td><td>21935.71</td><td>15244.83</td></tr>
<tr><td>Tax</td><td>3279.93</td><td>3457.8</td><td>3863.93</td><td>2736.86</td><td>5325.2</td><td>5685.75</td><td>5092.32</td><td>6471.69</td><td>5552.53</td><td>3962.17</td></tr>
<tr><td>Net profit</td><td>8889.84</td><td>9555</td><td>9549.13</td><td>7325.11</td><td>14752</td><td>15477.22</td><td>18093.84</td><td>18536.8</td><td>16099.58</td><td>11064.14</td></tr>
<tr><td>Operating Profit</td><td>30353.57</td><td>21360.83</td><td>20374.44</td><td>34452.83</td><td>35255.06</td><td>35020.08</td><td>38117.85</td><td>52379.81</td><td>48025.52</td><td>50233.47</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>746.57</td><td>746.57</td><td>776.28</td><td>797.35</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td></tr>
<tr><td>Reserves</td><td>146623.96</td><td>160640.97</td><td>179816.09</td><td>216394.8</td><td>229429.49</td><td>233603.2</td><td>250167.66</td><td>274669.1</td><td>304695.58</td><td>358038.86</td></tr>
<tr><td>Borrowings</td><td>2062612.07</td><td>2297624.26</td><td>2615256.95</td><td>2936176.32</td><td>3091257.62</td><td>3354288.72</td><td>3607061.3</td><td>4149127.45</td><td>4536570.38</td><td>4989687.46</td></tr>
<tr><td>Other Liabilities</td><td>185573.42</td><td>240148.73</td><td>276472.16</td><td>288391.04</td><td>294859.6</td><td>299675.65</td><td>339364.31</td><td>420925.83</td><td>518719.42</td><td>605795.73</td></tr>
<tr><td>Total</td><td>2395556.02</td><td>2699160.53</td><td>3072321.48</td><td>3441759.51</td><td>3616439.17</td><td>3888460.03</td><td>4197485.73</td><td>4845614.84</td><td>5360877.84</td><td>5954414.51</td></tr>
<tr><td>Net Block</td><td>10222.51</td><td>12924.2</td><td>15415.21</td><td>51189.24</td><td>42034.79</td><td>39940.76</td><td>39608.41</td><td>41600.44</td><td>41032.49</td><td>45879.72</td></tr>
<tr><td>Capital Work in Progress</td><td>337.27</td><td>400.32</td><td>785.7</td><td>694.92</td><td>925.07</td><td>762.3</td><td>469.76</td><td>116.35</td><td>27.57</td><td>66.02</td></tr>
<tr><td>Investments</td><td>579401.26</td><td>673507.48</td><td>807374.58</td><td>1027280.87</td><td>1183794.24</td><td>1119269.82</td><td>1228284.28</td><td>1595100.27</td><td>1776489.9</td><td>1913107.86</td></tr>
<tr><td>Other Assets</td><td>1805594.98</td><td>2012328.53</td><td>2248745.99</td><td>2362594.48</td><td>2389685.07</td><td>2728487.15</td><td>2929123.28</td><td>3208797.78</td><td>3543327.88</td><td>3995360.91</td></tr>
<tr><td>Total</td><td>2395556.02</td><td>2699160.53</td><td>3072321.48</td><td>3441759.51</td><td>3616439.17</td><td>3888460.03</td><td>4197485.73</td><td>4845614.84</td><td>5360877.84</td><td>5954414.51</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>167161.34</td><td>188481.05</td><td>204559.47</td><td>273197.16</td><td>195289.11</td><td>225512.26</td><td>254315.26</td><td>347707.04</td><td>398905.12</td><td>318311.91</td></tr>
<tr><td>No. of Equity Shares</td><td>746573092</td><td>7465730920</td><td>7762777042</td><td>7973504442</td><td>8924587534</td><td>8924611534</td><td>8924611534</td><td>8924611534</td><td>8924611534</td><td>8924611534</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>19141.68</td><td>26297.37</td><td>14476.68</td><td>77406</td><td>-96507.91</td><td>29556.01</td><td>23928.53</td><td>89918.93</td><td>57694.85</td><td>-86013.68</td></tr>
<tr><td>Cash from Investing Activity</td><td>-791.12</td><td>-3424.4</td><td>-2746.71</td><td>-4571.83</td><td>13052.7</td><td>219.51</td><td>-555.05</td><td>-3669.83</td><td>-2652.25</td><td>-965.91</td></tr>
<tr><td>Cash from Financing Activity</td><td>3583.06</td><td>-1553.27</td><td>4348.45</td><td>-4196.48</td><td>5547.16</td><td>447.64</td><td>5429.52</td><td>7142.67</td><td>-3844.51</td><td>6386.38</td></tr>
<tr><td>Net Cash Flow</td><td>21933.62</td><td>21319.7</td><td>16078.42</td><td>68637.69</td><td>-77908.05</td><td>30223.16</td><td>28803</td><td>93391.77</td><td>51198.09</td><td>-80593.21</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>191.77</td><td>267.05</td><td>194.25</td><td>293.4</td><td>249.9</td><td>320.75</td><td>196.85</td><td>364.3</td><td>493.55</td><td>523.75</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>746.57</td><td>746.57</td><td>776.28</td><td>797.35</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td><td>892.46</td></tr>
</table>
</body>
</html>