<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sula Vineyards</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SULA VINEYARDS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>496.75</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4193.83</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>418.16</td><td>501.08</td><td>386.95</td><td>305.91</td><td>389.97</td><td>492.8</td><td>548.12</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>136.26</td><td>172.86</td><td>157.85</td><td>47.16</td><td>72.11</td><td>86.39</td><td>152.19</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td>-7.06</td><td>6.85</td><td>19.8</td><td>-18.56</td><td>11.22</td><td>10.26</td><td>11.85</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>4.32</td><td>5.19</td><td>4.88</td><td>5.16</td><td>7.42</td><td>8.89</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>12.6</td><td>31.77</td><td>20.62</td><td>42.87</td><td>60.96</td><td>75.5</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>60.51</td><td>63.39</td><td>64</td><td>54.15</td><td>64.24</td><td>76.28</td><td>83.15</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>61.92</td><td>76.83</td><td>90.03</td><td>73.75</td><td>74.61</td><td>87.35</td><td>64.26</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>77.99</td><td>79.48</td><td>15.83</td><td>7.37</td><td>14.68</td><td>12.34</td><td>92.88</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>2.89</td><td>3.05</td><td>0.34</td><td>0.46</td><td>2.83</td><td>5.23</td><td>10.07</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>14.92</td><td>19.33</td><td>34.5</td><td>25.36</td><td>22.41</td><td>23.84</td><td>26.81</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>16.8</td><td>23.76</td><td>31.43</td><td>32.26</td><td>21.33</td><td>19.44</td><td>23.59</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>28.67</td><td>38.37</td><td>-12.05</td><td>-0.27</td><td>66.26</td><td>118.26</td><td>127.16</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>10.14</td><td>18.74</td><td>-3.89</td><td>0.35</td><td>17.4</td><td>29.94</td><td>32.47</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>18.54</td><td>19.62</td><td>-8.16</td><td>-0.63</td><td>48.86</td><td>88.32</td><td>94.69</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>18.86</td><td>70.35</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>158.73</td><td>97.04</td><td>86.36</td><td>115.6</td><td>180.35</td><td>110.5</td><td>107.56</td><td>129.58</td><td>193.49</td><td>117.49</td></tr>
<tr><td>Expenses</td><td>104.45</td><td>71.12</td><td>62.24</td><td>77.79</td><td>118.09</td><td>78.99</td><td>75.74</td><td>87.56</td><td>126.57</td><td>90.76</td></tr>
<tr><td>Other Income</td><td>1.2</td><td>1.17</td><td>1.35</td><td>1.23</td><td>1.65</td><td>1.61</td><td>1.72</td><td>1.78</td><td>2.23</td><td>4.34</td></tr>
<tr><td>Depreciation</td><td>5.42</td><td>5.58</td><td>5.75</td><td>5.85</td><td>5.96</td><td>6.28</td><td>6.79</td><td>6.45</td><td>6.87</td><td>6.7</td></tr>
<tr><td>Interest</td><td>5.15</td><td>4.34</td><td>4.56</td><td>5.09</td><td>5.35</td><td>4.45</td><td>5.01</td><td>5.95</td><td>7.06</td><td>5.57</td></tr>
<tr><td>Profit before tax</td><td>44.91</td><td>17.17</td><td>15.16</td><td>28.1</td><td>52.6</td><td>22.39</td><td>21.74</td><td>31.4</td><td>55.22</td><td>18.8</td></tr>
<tr><td>Tax</td><td>11.28</td><td>5.03</td><td>3.88</td><td>6.87</td><td>13.37</td><td>5.84</td><td>5.36</td><td>7.87</td><td>14.07</td><td>5.17</td></tr>
<tr><td>Net profit</td><td>33.63</td><td>12.15</td><td>11.28</td><td>21.23</td><td>39.23</td><td>16.55</td><td>16.38</td><td>23.53</td><td>41.15</td><td>13.63</td></tr>
<tr><td>Operating Profit</td><td>54.28</td><td>25.92</td><td>24.12</td><td>37.81</td><td>62.26</td><td>31.51</td><td>31.82</td><td>42.02</td><td>66.92</td><td>26.73</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td>14.73</td><td>15.01</td><td>15.04</td><td>15.08</td><td>15.72</td><td>16.85</td><td>16.88</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td>309.7</td><td>327.84</td><td>310.56</td><td>311.89</td><td>398.99</td><td>539.06</td><td>558.39</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>220.42</td><td>275.2</td><td>357.08</td><td>310.1</td><td>225.66</td><td>192.13</td><td>292</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>129.51</td><td>143.27</td><td>160.43</td><td>110.14</td><td>116.42</td><td>141.78</td><td>140.32</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>674.36</td><td>761.32</td><td>843.11</td><td>747.21</td><td>756.79</td><td>889.82</td><td>1007.59</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>275.67</td><td>316.68</td><td>349</td><td>317.5</td><td>342.08</td><td>394.16</td><td>416.92</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>1.22</td><td>1.76</td><td>0.12</td><td>0.11</td><td>0.98</td><td>1.82</td><td>4.64</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>20.99</td><td>26.33</td><td>26.33</td><td>21</td><td>26.99</td><td>27.46</td><td>27.69</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td>376.48</td><td>416.55</td><td>467.66</td><td>408.6</td><td>386.74</td><td>466.38</td><td>558.34</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>674.36</td><td>761.32</td><td>843.11</td><td>747.21</td><td>756.79</td><td>889.82</td><td>1007.59</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>144.45</td><td>156.34</td><td>133.6</td><td>109.84</td><td>90.59</td><td>104.74</td><td>160.36</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>128.8</td><td>138.1</td><td>158.92</td><td>135.38</td><td>150.85</td><td>169.24</td><td>182.66</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td>15.23</td><td>3.82</td><td>35.91</td><td>45.32</td><td>14.76</td><td>28.97</td><td>101.71</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td>14725733</td><td>15008942</td><td>15044188</td><td>15080374</td><td>78598091</td><td>84257798</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td>10</td><td>10</td><td>10</td><td>10</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>17.49</td><td>18.28</td><td>34.7</td><td>113.28</td><td>77.49</td><td>78.81</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-59.2</td><td>-59.28</td><td>-43.09</td><td>-12.28</td><td>-39.15</td><td>-69.12</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>39.75</td><td>29.91</td><td>40.64</td><td>-95.68</td><td>-69.32</td><td>-3.82</td><td></td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>-1.96</td><td>-11.08</td><td>32.25</td><td>5.33</td><td>-30.98</td><td>5.88</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>366.65</td><td>551.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td>1.47</td><td>1.5</td><td>1.5</td><td>1.51</td><td>7.86</td><td>8.43</td><td>8.44</td></tr>
</table>
</body>
</html>