<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Sundaram Finance</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SUNDARAM FINANCE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>4418.6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>48952.41</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4106.59</td><td>4285.19</td><td>5027.26</td><td>5588.17</td><td>6330.74</td><td>3696.21</td><td>4706.8</td><td>5292.44</td><td>5110.64</td><td>5500.98</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>12.53</td><td>12.68</td><td>14.12</td><td>14.37</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>539.87</td><td>543.92</td><td>50.24</td><td>1405.98</td><td>2763.71</td><td>180.03</td><td>154.77</td><td>122.16</td><td>114.88</td><td>123.99</td></tr>
<tr><td>Employee Cost</td><td>364.41</td><td>404.98</td><td>447.36</td><td>496.72</td><td>515.88</td><td>431.03</td><td>504.13</td><td>563.15</td><td>621.21</td><td>675.05</td></tr>
<tr><td>Selling and admin</td><td>316.38</td><td>350.83</td><td>567.45</td><td>649.44</td><td>484.78</td><td>175.67</td><td>161.18</td><td>116.83</td><td>164.31</td><td>194.85</td></tr>
<tr><td>Other Expenses</td><td>155.85</td><td>192.66</td><td>1142.13</td><td>168.69</td><td>141.99</td><td>145.46</td><td>402.13</td><td>432.67</td><td>491.27</td><td>294.34</td></tr>
<tr><td>Other Income</td><td>-5.08</td><td>-26.6</td><td>7.46</td><td>8.21</td><td>13.29</td><td>482.16</td><td>48.18</td><td>24.3</td><td>35.03</td><td>43.44</td></tr>
<tr><td>Depreciation</td><td>111.96</td><td>112.05</td><td>106.33</td><td>103.97</td><td>78.82</td><td>58.07</td><td>89.53</td><td>92.97</td><td>101.17</td><td>138.84</td></tr>
<tr><td>Interest</td><td>1724.21</td><td>1781.53</td><td>1814.37</td><td>1735.05</td><td>1344.44</td><td>1770.32</td><td>2427.45</td><td>2659.39</td><td>2236.2</td><td>2406.38</td></tr>
<tr><td>Profit before tax</td><td>876.3</td><td>859.94</td><td>892.72</td><td>1022.16</td><td>1014.41</td><td>1417.79</td><td>1015.79</td><td>1329.57</td><td>1416.63</td><td>1710.97</td></tr>
<tr><td>Tax</td><td>295.81</td><td>286.93</td><td>307.84</td><td>345.12</td><td>347.94</td><td>387.96</td><td>210.49</td><td>327.53</td><td>350.01</td><td>439.22</td></tr>
<tr><td>Net profit</td><td>581.06</td><td>575.88</td><td>583.17</td><td>683.48</td><td>729.91</td><td>1160.85</td><td>791.54</td><td>1165.09</td><td>1173.34</td><td>1317.81</td></tr>
<tr><td>Dividend Amount</td><td>111.1</td><td>116.66</td><td>122.21</td><td>127.76</td><td>132.14</td><td>192.74</td><td>143.21</td><td>198.32</td><td>220.38</td><td>297.54</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1293.19</td><td>1286.26</td><td>1271.79</td><td>1246.03</td><td>1336.74</td><td>1409.64</td><td>1483.59</td><td>1582.72</td><td>1708.13</td><td>1821.36</td></tr>
<tr><td>Expenses</td><td>426.36</td><td>366.55</td><td>274.02</td><td>330.83</td><td>328.63</td><td>326.98</td><td>300.87</td><td>382.81</td><td>375.2</td><td>350.51</td></tr>
<tr><td>Other Income</td><td>5.8</td><td>3.54</td><td>22.78</td><td>6.64</td><td>2.79</td><td>0.75</td><td>58.08</td><td>7.88</td><td>2.44</td><td>6.68</td></tr>
<tr><td>Depreciation</td><td>21.82</td><td>25.32</td><td>33.93</td><td>28.74</td><td>32.56</td><td>36.22</td><td>41.31</td><td>38.68</td><td>43.59</td><td>47.67</td></tr>
<tr><td>Interest</td><td>546.8</td><td>550.99</td><td>545.63</td><td>540.51</td><td>578.11</td><td>622.32</td><td>666.22</td><td>738.2</td><td>821.21</td><td>909.82</td></tr>
<tr><td>Profit before tax</td><td>304.01</td><td>346.94</td><td>440.99</td><td>352.59</td><td>400.23</td><td>424.87</td><td>533.27</td><td>430.91</td><td>470.57</td><td>520.04</td></tr>
<tr><td>Tax</td><td>89.87</td><td>84.07</td><td>94.73</td><td>95.12</td><td>119.26</td><td>102.77</td><td>122.07</td><td>122.1</td><td>142.76</td><td>121.88</td></tr>
<tr><td>Net profit</td><td>259.04</td><td>288.83</td><td>340</td><td>245.66</td><td>306.13</td><td>332.84</td><td>433.18</td><td>375.24</td><td>365.42</td><td>427.45</td></tr>
<tr><td>Operating Profit</td><td>866.83</td><td>919.71</td><td>997.77</td><td>915.2</td><td>1008.11</td><td>1082.66</td><td>1182.72</td><td>1199.91</td><td>1332.93</td><td>1470.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>111.1</td><td>111.1</td><td>111.1</td><td>111.1</td><td>110.12</td><td>110.14</td><td>110.16</td><td>110.18</td><td>110.19</td><td>110.2</td></tr>
<tr><td>Reserves</td><td>2969.13</td><td>3638.65</td><td>4083.54</td><td>4698.11</td><td>5539.12</td><td>6149.15</td><td>6566.66</td><td>7620.07</td><td>8684.64</td><td>9799.65</td></tr>
<tr><td>Borrowings</td><td>17828.47</td><td>18794.62</td><td>18758</td><td>20216.38</td><td>21068.61</td><td>25023.31</td><td>35939.33</td><td>36461.07</td><td>36356.09</td><td>42693.9</td></tr>
<tr><td>Other Liabilities</td><td>3005.35</td><td>3241.08</td><td>5095.46</td><td>5723.81</td><td>7268.16</td><td>2388.23</td><td>2104.76</td><td>2368.51</td><td>3003.11</td><td>3462.15</td></tr>
<tr><td>Total</td><td>23914.05</td><td>25785.45</td><td>28048.1</td><td>30749.4</td><td>33986.01</td><td>33670.83</td><td>44720.91</td><td>46559.83</td><td>48154.03</td><td>56065.9</td></tr>
<tr><td>Net Block</td><td>558.72</td><td>515.29</td><td>817.1</td><td>861.84</td><td>820.73</td><td>451.43</td><td>903.17</td><td>864.63</td><td>1116.53</td><td>1295.82</td></tr>
<tr><td>Capital Work in Progress</td><td>2.8</td><td>2.13</td><td>4.06</td><td>2.81</td><td>3.19</td><td></td><td>0.02</td><td></td><td></td><td>0.6</td></tr>
<tr><td>Investments</td><td>2449.63</td><td>2730.94</td><td>4026.14</td><td>4814.86</td><td>8693.09</td><td>4539.32</td><td>5095.84</td><td>6056.84</td><td>8087.53</td><td>8082.07</td></tr>
<tr><td>Other Assets</td><td>20902.9</td><td>22537.09</td><td>23200.8</td><td>25069.89</td><td>24469</td><td>28680.08</td><td>38721.88</td><td>39638.36</td><td>38949.97</td><td>46687.41</td></tr>
<tr><td>Total</td><td>23914.05</td><td>25785.45</td><td>28048.1</td><td>30749.4</td><td>33986.01</td><td>33670.83</td><td>44720.91</td><td>46559.83</td><td>48154.03</td><td>56065.9</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>44.54</td><td>44.28</td><td>42.23</td><td>57.41</td><td>43.9</td><td>74.51</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>1281.87</td><td>1088.41</td><td>959.53</td><td>1013.62</td><td>1074.3</td><td>859.09</td><td>785.37</td><td>788.94</td><td>714.54</td><td>1145.18</td></tr>
<tr><td>No. of Equity Shares</td><td>111103860</td><td>111103860</td><td>111103860</td><td>111103860</td><td>110124350</td><td>110142900</td><td>110162150</td><td>110180900</td><td>110189675</td><td>110197315</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-563.55</td><td>-1429.7</td><td>310.32</td><td>-964.68</td><td>-5546.74</td><td>-4199.58</td><td>8.78</td><td>449.51</td><td>1780.8</td><td>-6504.29</td></tr>
<tr><td>Cash from Investing Activity</td><td>-227.74</td><td>445.72</td><td>-82.65</td><td>-553.71</td><td>-1181.86</td><td>1000.33</td><td>-1982.53</td><td>-242.62</td><td>-1596.76</td><td>668.51</td></tr>
<tr><td>Cash from Financing Activity</td><td>1003.86</td><td>756.78</td><td>-260.51</td><td>1394.32</td><td>6755.83</td><td>3211.51</td><td>1862.32</td><td>-121.79</td><td>-199.57</td><td>5890.14</td></tr>
<tr><td>Net Cash Flow</td><td>212.57</td><td>-227.2</td><td>-32.85</td><td>-124.06</td><td>27.23</td><td>12.27</td><td>-111.44</td><td>85.1</td><td>-15.53</td><td>54.36</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>597.35</td><td>1368.5</td><td>1172.97</td><td>1456.29</td><td>1677.2</td><td>1558.7</td><td>1203.25</td><td>2570.45</td><td>1940.2</td><td>2299.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td><td>11.11</td></tr>
</table>
</body>
</html>