<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Supreme Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SUPREME INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>5345.45</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>67883.11</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>4253.88</td><td>2959.74</td><td>4461.77</td><td>4969.14</td><td>5611.71</td><td>5511.54</td><td>6355.2</td><td>7772.82</td><td>9201.59</td><td>10134.26</td></tr>
<tr><td>Raw Material Cost</td><td>2839.4</td><td>1969.11</td><td>2940.19</td><td>3159.5</td><td>3710.25</td><td>3647.63</td><td>3791.42</td><td>5437.73</td><td>6403.98</td><td>6864.24</td></tr>
<tr><td>Change in Inventory</td><td>0.3</td><td>71.43</td><td>121.98</td><td>-37.49</td><td>9.14</td><td>175.14</td><td>-150.53</td><td>212.27</td><td>-45.83</td><td>5.84</td></tr>
<tr><td>Power and Fuel</td><td>147.19</td><td>115.92</td><td>163.83</td><td>175.03</td><td>206.64</td><td>217.19</td><td>199.7</td><td>213.43</td><td>266.65</td><td>328.82</td></tr>
<tr><td>Other Mfr. Exp</td><td>205.43</td><td>171.05</td><td>254.01</td><td>293.07</td><td>343.54</td><td>344.48</td><td>340.7</td><td>405.05</td><td>491</td><td></td></tr>
<tr><td>Employee Cost</td><td>168.53</td><td>146.61</td><td>212.16</td><td>242.7</td><td>255.2</td><td>280.44</td><td>311.69</td><td>346.58</td><td>376.14</td><td>442.15</td></tr>
<tr><td>Selling and admin</td><td>217.32</td><td>155.13</td><td>239.69</td><td>260.59</td><td>303.1</td><td>301.15</td><td>257.92</td><td>305.09</td><td>374.03</td><td></td></tr>
<tr><td>Other Expenses</td><td>10.07</td><td>11.18</td><td>12</td><td>13.66</td><td>17.55</td><td>60.51</td><td>19.06</td><td>35.1</td><td>44.28</td><td>957.56</td></tr>
<tr><td>Other Income</td><td>4.66</td><td>-4.05</td><td>8.41</td><td>38.14</td><td>89.35</td><td>31.91</td><td>162.88</td><td>224.34</td><td>183.02</td><td>172.55</td></tr>
<tr><td>Depreciation</td><td>138.96</td><td>104.57</td><td>154.29</td><td>167.15</td><td>183.54</td><td>205.68</td><td>212.79</td><td>229.52</td><td>263.39</td><td>298.38</td></tr>
<tr><td>Interest</td><td>60.19</td><td>31.57</td><td>33.54</td><td>20.64</td><td>26</td><td>20.19</td><td>22.05</td><td>5.15</td><td>8.02</td><td>16.12</td></tr>
<tr><td>Profit before tax</td><td>471.75</td><td>321.98</td><td>582.45</td><td>637.45</td><td>664.38</td><td>641.32</td><td>1212.22</td><td>1231.78</td><td>1111.29</td><td>1405.38</td></tr>
<tr><td>Tax</td><td>160.04</td><td>117.64</td><td>205.78</td><td>205.7</td><td>215.75</td><td>173.92</td><td>234.08</td><td>263.33</td><td>245.96</td><td>335.66</td></tr>
<tr><td>Net profit</td><td>322.36</td><td>221.38</td><td>430.4</td><td>431.75</td><td>448.63</td><td>467.4</td><td>978.14</td><td>968.45</td><td>865.33</td><td>1069.72</td></tr>
<tr><td>Dividend Amount</td><td>114.34</td><td>95.29</td><td>190.58</td><td>152.46</td><td>165.16</td><td>177.87</td><td>279.51</td><td>304.92</td><td>330.33</td><td>381.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1945.11</td><td>2557.09</td><td>2205.98</td><td>2086.6</td><td>2310.71</td><td>2598.3</td><td>2368.58</td><td>2308.69</td><td>2449.1</td><td>3007.89</td></tr>
<tr><td>Expenses</td><td>1627.23</td><td>2165.66</td><td>1937.07</td><td>1939.47</td><td>2007.35</td><td>2118.02</td><td>2046.99</td><td>1952.46</td><td>2070.26</td><td>2517.22</td></tr>
<tr><td>Other Income</td><td>53.59</td><td>78.21</td><td>62.55</td><td>24.08</td><td>35.87</td><td>60.52</td><td>35.52</td><td>36.72</td><td>41.53</td><td>58.78</td></tr>
<tr><td>Depreciation</td><td>57.47</td><td>58.82</td><td>61.68</td><td>64.85</td><td>64.76</td><td>72.1</td><td>72.05</td><td>71.92</td><td>77.24</td><td>77.17</td></tr>
<tr><td>Interest</td><td>0.46</td><td>1.88</td><td>1.63</td><td>1.2</td><td>1.15</td><td>4.04</td><td>1.69</td><td>1.55</td><td>5.16</td><td>7.72</td></tr>
<tr><td>Profit before tax</td><td>313.54</td><td>408.94</td><td>268.15</td><td>105.16</td><td>273.32</td><td>464.66</td><td>283.37</td><td>319.48</td><td>337.97</td><td>464.56</td></tr>
<tr><td>Tax</td><td>67.82</td><td>85.08</td><td>54.3</td><td>23.14</td><td>63.29</td><td>105.23</td><td>67.83</td><td>76.29</td><td>81.8</td><td>109.74</td></tr>
<tr><td>Net profit</td><td>245.72</td><td>323.86</td><td>213.85</td><td>82.02</td><td>210.03</td><td>359.43</td><td>215.54</td><td>243.19</td><td>256.17</td><td>354.82</td></tr>
<tr><td>Operating Profit</td><td>317.88</td><td>391.43</td><td>268.91</td><td>147.13</td><td>303.36</td><td>480.28</td><td>321.59</td><td>356.23</td><td>378.84</td><td>490.67</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td><td>25.41</td></tr>
<tr><td>Reserves</td><td>1186.09</td><td>1290.31</td><td>1670.31</td><td>1869.49</td><td>2128.56</td><td>2235.78</td><td>3143.8</td><td>3818.95</td><td>4376.71</td><td>5083.42</td></tr>
<tr><td>Borrowings</td><td>392.85</td><td>412.1</td><td>278.98</td><td>247.74</td><td>162.41</td><td>440.77</td><td>37.67</td><td>45.68</td><td>51.17</td><td>55.06</td></tr>
<tr><td>Other Liabilities</td><td>752.67</td><td>697.23</td><td>831.89</td><td>793.47</td><td>912.89</td><td>916.58</td><td>1075.41</td><td>1105.83</td><td>1240.93</td><td>1391.82</td></tr>
<tr><td>Total</td><td>2357.02</td><td>2425.05</td><td>2806.59</td><td>2936.11</td><td>3229.27</td><td>3618.54</td><td>4282.29</td><td>4995.87</td><td>5694.22</td><td>6555.71</td></tr>
<tr><td>Net Block</td><td>1032.51</td><td>1184.65</td><td>1263.3</td><td>1353.39</td><td>1520.97</td><td>1607.74</td><td>1714.28</td><td>1767.28</td><td>2064.24</td><td>2327.35</td></tr>
<tr><td>Capital Work in Progress</td><td>99.8</td><td>68.21</td><td>46.73</td><td>75.02</td><td>90.04</td><td>92.92</td><td>51.02</td><td>155.77</td><td>83.71</td><td>143.7</td></tr>
<tr><td>Investments</td><td>120.69</td><td>126.17</td><td>174.64</td><td>193.68</td><td>222.34</td><td>207.28</td><td>336.59</td><td>475.89</td><td>577.35</td><td>638.14</td></tr>
<tr><td>Other Assets</td><td>1104.02</td><td>1046.02</td><td>1321.92</td><td>1314.02</td><td>1395.92</td><td>1710.6</td><td>2180.4</td><td>2596.93</td><td>2968.92</td><td>3446.52</td></tr>
<tr><td>Total</td><td>2357.02</td><td>2425.05</td><td>2806.59</td><td>2936.11</td><td>3229.27</td><td>3618.54</td><td>4282.29</td><td>4995.87</td><td>5694.22</td><td>6555.71</td></tr>
<tr><td>Receivables</td><td>237.97</td><td>236.22</td><td>275.33</td><td>381.94</td><td>387.42</td><td>312.84</td><td>389.9</td><td>466.81</td><td>492.38</td><td>511.44</td></tr>
<tr><td>Inventory</td><td>464.67</td><td>557.85</td><td>776.85</td><td>696.98</td><td>750.44</td><td>890.57</td><td>760.76</td><td>1260.16</td><td>1385.64</td><td>1358.59</td></tr>
<tr><td>Cash & Bank</td><td>181.83</td><td>28.87</td><td>79.83</td><td>36.31</td><td>37.3</td><td>231.39</td><td>768.39</td><td>526.23</td><td>746.08</td><td>1187.29</td></tr>
<tr><td>No. of Equity Shares</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td>127026870</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>600.82</td><td>296.39</td><td>464.98</td><td>507.58</td><td>555.74</td><td>539.33</td><td>1246.36</td><td>470.26</td><td>890.34</td><td>1412.9</td></tr>
<tr><td>Cash from Investing Activity</td><td>-185.98</td><td>-218.05</td><td>-202.2</td><td>-266.87</td><td>-239.61</td><td>-195.98</td><td>-199.24</td><td>-402.59</td><td>-344.68</td><td>-608.53</td></tr>
<tr><td>Cash from Financing Activity</td><td>-259.63</td><td>-233.54</td><td>-210.37</td><td>-283.84</td><td>-316.03</td><td>-155.53</td><td>-505.5</td><td>-310.31</td><td>-326.57</td><td>-381.7</td></tr>
<tr><td>Net Cash Flow</td><td>155.21</td><td>-155.2</td><td>52.41</td><td>-43.13</td><td>0.1</td><td>187.82</td><td>541.62</td><td>-242.64</td><td>219.09</td><td>422.67</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>675.25</td><td>739.65</td><td>1092.65</td><td>1194.05</td><td>1117.35</td><td>867.7</td><td>2042.7</td><td>2047.2</td><td>2513.55</td><td>4232.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td><td>12.7</td></tr>
</table>
</body>
</html>