<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Supreme Petroch</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SUPREME PETROCHEM LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>689.45</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>12943.93</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>2652.54</td><td>2068.05</td><td>2918.62</td><td>3026.61</td><td>3193.81</td><td>2724.25</td><td>3185.17</td><td>5032.3</td><td>5287.2</td><td>5253.35</td></tr>
<tr><td>Raw Material Cost</td><td>2386.21</td><td>1778.21</td><td>2502.18</td><td>2625.95</td><td>2821.2</td><td>2343.88</td><td>2288.14</td><td>3836.28</td><td>4405.68</td><td>4449.22</td></tr>
<tr><td>Change in Inventory</td><td>35.97</td><td>-28.24</td><td>88.68</td><td>7.28</td><td>-56.83</td><td>-13.13</td><td>-6.72</td><td>-8.14</td><td>106.7</td><td>6.15</td></tr>
<tr><td>Power and Fuel</td><td>41.43</td><td>33.65</td><td>36.6</td><td>40.35</td><td>47.49</td><td>46.55</td><td>41.72</td><td>53.58</td><td>64.9</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>17.72</td><td>9.42</td><td>32.8</td><td>20.02</td><td>21.59</td><td>22.12</td><td>21.37</td><td>24.94</td><td>28.99</td><td></td></tr>
<tr><td>Employee Cost</td><td>32.22</td><td>26.52</td><td>35.56</td><td>39.8</td><td>39.97</td><td>42.05</td><td>46.08</td><td>48.94</td><td>55.37</td><td>63.49</td></tr>
<tr><td>Selling and admin</td><td>71.7</td><td>58.31</td><td>81.58</td><td>79.83</td><td>83.3</td><td>80.67</td><td>92.15</td><td>135.34</td><td>139.84</td><td></td></tr>
<tr><td>Other Expenses</td><td>45.8</td><td>29.96</td><td>21.11</td><td>31.68</td><td>30.08</td><td>27.36</td><td>13.6</td><td>18.53</td><td>38.32</td><td>280.01</td></tr>
<tr><td>Other Income</td><td>3.1</td><td>3.47</td><td>7.3</td><td>8.02</td><td>10.03</td><td>11.93</td><td>15.89</td><td>30.5</td><td>58.94</td><td>68.14</td></tr>
<tr><td>Depreciation</td><td>23.64</td><td>17.05</td><td>22.22</td><td>20.75</td><td>23.27</td><td>36.03</td><td>39.14</td><td>41.85</td><td>46.6</td><td>59.49</td></tr>
<tr><td>Interest</td><td>16.6</td><td>5.31</td><td>4.7</td><td>4.6</td><td>3.94</td><td>6.49</td><td>8.35</td><td>7.38</td><td>6.25</td><td>7.22</td></tr>
<tr><td>Profit before tax</td><td>56.29</td><td>84.85</td><td>277.85</td><td>178.93</td><td>76.17</td><td>117.9</td><td>643.79</td><td>887.82</td><td>666.89</td><td>468.21</td></tr>
<tr><td>Tax</td><td>20.59</td><td>27.8</td><td>98.44</td><td>62.82</td><td>26.96</td><td>15.24</td><td>166.29</td><td>224.56</td><td>168.75</td><td>121.73</td></tr>
<tr><td>Net profit</td><td>35.7</td><td>57.05</td><td>179.41</td><td>116.12</td><td>49.21</td><td>102.65</td><td>477.49</td><td>663.26</td><td>498.14</td><td>346.49</td></tr>
<tr><td>Dividend Amount</td><td>14.48</td><td>28.95</td><td>43.42</td><td>43.42</td><td>28.95</td><td>53.04</td><td>141.03</td><td>169.24</td><td>206.86</td><td>169.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1296.02</td><td>1497.74</td><td>1485.39</td><td>1234.58</td><td>1180.38</td><td>1386.86</td><td>1225.14</td><td>1277.67</td><td>1187.69</td><td>1562.85</td></tr>
<tr><td>Expenses</td><td>1071.79</td><td>1190.42</td><td>1233.65</td><td>1155.66</td><td>1061.16</td><td>1178.59</td><td>1134.66</td><td>1171.41</td><td>1092.85</td><td>1387.64</td></tr>
<tr><td>Other Income</td><td>8.33</td><td>9.39</td><td>12.05</td><td>11.74</td><td>14.19</td><td>20.95</td><td>17.89</td><td>15.58</td><td>15.64</td><td>19.04</td></tr>
<tr><td>Depreciation</td><td>10.6</td><td>10.38</td><td>10.54</td><td>11.49</td><td>11.02</td><td>13.55</td><td>14.17</td><td>14.26</td><td>15.08</td><td>15.98</td></tr>
<tr><td>Interest</td><td>1.39</td><td>1.24</td><td>0.92</td><td>0.92</td><td>0.96</td><td>0.78</td><td>0.62</td><td>1.92</td><td>2.99</td><td>1.7</td></tr>
<tr><td>Profit before tax</td><td>220.57</td><td>305.09</td><td>252.33</td><td>78.25</td><td>121.43</td><td>214.89</td><td>93.58</td><td>105.66</td><td>92.41</td><td>176.57</td></tr>
<tr><td>Tax</td><td>56.03</td><td>79.69</td><td>63.17</td><td>18.44</td><td>31.59</td><td>55.56</td><td>24.31</td><td>27.61</td><td>24.74</td><td>45.06</td></tr>
<tr><td>Net profit</td><td>164.54</td><td>225.4</td><td>189.15</td><td>59.81</td><td>89.85</td><td>159.33</td><td>69.26</td><td>78.06</td><td>67.67</td><td>131.5</td></tr>
<tr><td>Operating Profit</td><td>224.23</td><td>307.32</td><td>251.74</td><td>78.92</td><td>119.22</td><td>208.27</td><td>90.48</td><td>106.26</td><td>94.84</td><td>175.21</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>96.5</td><td>96.5</td><td>96.5</td><td>96.5</td><td>96.5</td><td>96.44</td><td>94.02</td><td>37.61</td><td>37.61</td><td>37.61</td></tr>
<tr><td>Reserves</td><td>279.86</td><td>318.23</td><td>485.6</td><td>549.09</td><td>545.93</td><td>576.84</td><td>970.82</td><td>1478.02</td><td>1806.26</td><td>1981.5</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>29.28</td><td>41.06</td><td>37.23</td><td>16.66</td><td>114.15</td></tr>
<tr><td>Other Liabilities</td><td>505.06</td><td>523.24</td><td>547.61</td><td>650.16</td><td>578.43</td><td>552.5</td><td>649.44</td><td>725.44</td><td>870.49</td><td>931.57</td></tr>
<tr><td>Total</td><td>881.42</td><td>937.97</td><td>1129.71</td><td>1295.75</td><td>1220.86</td><td>1255.06</td><td>1755.34</td><td>2278.3</td><td>2731.02</td><td>3064.83</td></tr>
<tr><td>Net Block</td><td>345.13</td><td>332.79</td><td>336.78</td><td>333.4</td><td>331.13</td><td>370.9</td><td>358.84</td><td>336.9</td><td>526.6</td><td>768.75</td></tr>
<tr><td>Capital Work in Progress</td><td>4.27</td><td>10.28</td><td>12.68</td><td>9.65</td><td>23.76</td><td>8.4</td><td>9.07</td><td>178.94</td><td>108.04</td><td>232.61</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>110.6</td><td>250.8</td><td>134.81</td><td>470.28</td><td>483.79</td><td>562.55</td><td>571.8</td></tr>
<tr><td>Other Assets</td><td>532.02</td><td>594.9</td><td>780.25</td><td>842.1</td><td>615.17</td><td>740.95</td><td>917.15</td><td>1278.67</td><td>1533.83</td><td>1491.67</td></tr>
<tr><td>Total</td><td>881.42</td><td>937.97</td><td>1129.71</td><td>1295.75</td><td>1220.86</td><td>1255.06</td><td>1755.34</td><td>2278.3</td><td>2731.02</td><td>3064.83</td></tr>
<tr><td>Receivables</td><td>238.96</td><td>281.16</td><td>307.39</td><td>295.26</td><td>284.69</td><td>248.08</td><td>384.99</td><td>411.78</td><td>362.29</td><td>394.97</td></tr>
<tr><td>Inventory</td><td>188</td><td>181.44</td><td>305.86</td><td>312.86</td><td>245.05</td><td>258.43</td><td>317.81</td><td>300.76</td><td>646.93</td><td>480.6</td></tr>
<tr><td>Cash & Bank</td><td>32.5</td><td>70.92</td><td>97.79</td><td>128.39</td><td>38.3</td><td>175.85</td><td>106.75</td><td>447.45</td><td>349.52</td><td>520.37</td></tr>
<tr><td>No. of Equity Shares</td><td>96501958</td><td>96501958</td><td>96501958</td><td>96501958</td><td>96501958</td><td>96501958</td><td>94020671</td><td>94020671</td><td>188041342</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>4</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-06-30 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>79.83</td><td>83.75</td><td>68.64</td><td>212.71</td><td>132.97</td><td>119.03</td><td>434.71</td><td>670.75</td><td>323.58</td><td>557.03</td></tr>
<tr><td>Cash from Investing Activity</td><td>-4.79</td><td>-5.07</td><td>-25.45</td><td>-14.64</td><td>-26.61</td><td>-6.97</td><td>-63.92</td><td>-140.02</td><td>-149.12</td><td>-181.77</td></tr>
<tr><td>Cash from Financing Activity</td><td>-65.72</td><td>-40.15</td><td>-16.32</td><td>-56.87</td><td>-56.26</td><td>-90.49</td><td>-104.42</td><td>-176.53</td><td>-193.63</td><td>-196.9</td></tr>
<tr><td>Net Cash Flow</td><td>9.33</td><td>38.53</td><td>26.87</td><td>141.2</td><td>50.1</td><td>21.57</td><td>266.37</td><td>354.21</td><td>-19.17</td><td>178.36</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>41.78</td><td>54.63</td><td>151.48</td><td>160.78</td><td>111.23</td><td>65.05</td><td>208.98</td><td>462.78</td><td>370.3</td><td>624.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>19.3</td><td>19.3</td><td>19.3</td><td>19.3</td><td>19.3</td><td>19.3</td><td>18.8</td><td>18.8</td><td>18.8</td><td>18.8</td></tr>
</table>
</body>
</html>