<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Suven Pharma</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>SUVEN PHARMACEUTICALS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>645.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>16575.14</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td>377.83</td><td>833.79</td><td>1009.72</td><td>1320.22</td><td>1340.33</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td>124.52</td><td>240.24</td><td>310.32</td><td>459.46</td><td>430.08</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td>21.32</td><td>11.05</td><td>8.37</td><td>60.35</td><td>20.94</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td>18.06</td><td>38.24</td><td>44.2</td><td>59.55</td><td>73.93</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td>33.83</td><td>66.49</td><td>90.76</td><td>115.25</td><td>104.06</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td>29.63</td><td>65.1</td><td>76.23</td><td>100.73</td><td>110.72</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td>16.23</td><td>44.76</td><td>44.96</td><td>52.93</td><td>55.04</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td>5.33</td><td>5.23</td><td>8.61</td><td>10.72</td><td>13.52</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td>0.6</td><td>66.31</td><td>67.97</td><td>133.29</td><td>46.35</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td>11.5</td><td>23.51</td><td>31.64</td><td>39.1</td><td>47.73</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td>2.79</td><td>23.07</td><td>11.67</td><td>8.53</td><td>12.81</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td>157.86</td><td>404.51</td><td>467.67</td><td>667.59</td><td>559.73</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td>48.59</td><td>87.51</td><td>105.34</td><td>213.78</td><td>148.44</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td>109.27</td><td>317</td><td>362.34</td><td>453.8</td><td>411.29</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td>63.65</td><td>50.92</td><td>127.3</td><td>152.76</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>300.99</td><td>391.59</td><td>363.85</td><td>338.8</td><td>278.4</td><td>353.77</td><td>369.36</td><td>347.55</td><td>231.05</td><td>219.82</td></tr>
<tr><td>Expenses</td><td>179.21</td><td>205.58</td><td>206.83</td><td>187.92</td><td>178.52</td><td>207.08</td><td>200.28</td><td>180.59</td><td>133.09</td><td>154.67</td></tr>
<tr><td>Other Income</td><td>22.5</td><td>64.69</td><td>16.87</td><td>11.03</td><td>10.92</td><td>13.01</td><td>11.4</td><td>10.67</td><td>19.84</td><td>14.34</td></tr>
<tr><td>Depreciation</td><td>9.18</td><td>10.51</td><td>10.42</td><td>11.5</td><td>12.03</td><td>12.24</td><td>11.96</td><td>12.54</td><td>11.89</td><td>12.75</td></tr>
<tr><td>Interest</td><td>1.18</td><td>0.74</td><td>2.19</td><td>1.45</td><td>0.29</td><td>1.38</td><td>2.31</td><td>1.15</td><td>0.5</td><td>1.27</td></tr>
<tr><td>Profit before tax</td><td>133.92</td><td>239.45</td><td>161.28</td><td>148.96</td><td>98.48</td><td>146.08</td><td>166.21</td><td>163.94</td><td>105.41</td><td>65.47</td></tr>
<tr><td>Tax</td><td>36.94</td><td>79.39</td><td>69.62</td><td>41.41</td><td>26.42</td><td>38.37</td><td>42.24</td><td>43.35</td><td>25.84</td><td>18.71</td></tr>
<tr><td>Net profit</td><td>96.98</td><td>160.07</td><td>91.67</td><td>107.54</td><td>72.06</td><td>107.72</td><td>123.97</td><td>120.59</td><td>79.56</td><td>46.75</td></tr>
<tr><td>Operating Profit</td><td>121.78</td><td>186.01</td><td>157.02</td><td>150.88</td><td>99.88</td><td>146.69</td><td>169.08</td><td>166.96</td><td>97.96</td><td>65.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td>12.73</td><td>25.46</td><td>25.46</td><td>25.46</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td>577.56</td><td>832.03</td><td>1155.34</td><td>1501.72</td><td>1709.73</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td>82.79</td><td>186.2</td><td>143.04</td><td>97.12</td><td>70.34</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td>122.67</td><td>141.85</td><td>150.63</td><td>205.29</td><td>160.22</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>783.02</td><td>1172.81</td><td>1474.47</td><td>1829.59</td><td>1965.75</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td>270.9</td><td>356.74</td><td>441.16</td><td>534.19</td><td>663.33</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td>111.07</td><td>101.71</td><td>96.33</td><td>29.99</td><td>165.09</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td>7.13</td><td>338.13</td><td>541.79</td><td>598.32</td><td>536.03</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td>393.92</td><td>376.23</td><td>395.19</td><td>667.09</td><td>601.3</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td>783.02</td><td>1172.81</td><td>1474.47</td><td>1829.59</td><td>1965.75</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td>147.5</td><td>117.2</td><td>102.38</td><td>236.37</td><td>110.94</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td>157.1</td><td>174.87</td><td>201.08</td><td>283.42</td><td>312.81</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td>12.9</td><td>14.08</td><td>9.65</td><td>47.31</td><td>68.01</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>127282478</td><td>254564960</td><td>254564960</td><td>254564960</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td>50.4</td><td>406.92</td><td>382.55</td><td>330</td><td>450.91</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td>-65.48</td><td>-413.45</td><td>-311.4</td><td>-136.14</td><td>-194.84</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td>25.98</td><td>7.32</td><td>-75.66</td><td>-156.48</td><td>-235.83</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td>10.9</td><td>0.79</td><td>-4.51</td><td>37.38</td><td>20.24</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td>100.53</td><td>496.8</td><td>618.45</td><td>472.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td>0.02</td><td>25.46</td><td>25.46</td><td>25.46</td><td>25.46</td></tr>
</table>
</body>
</html>