<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\TARC Ltd</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TARC LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>143.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4225.88</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td></td><td></td><td>137.33</td><td>190.96</td><td>250.61</td><td>368.66</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>116.2</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td></td><td></td><td>0.97</td><td>1.04</td><td>2.98</td><td>2.94</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td></td><td></td><td>92.59</td><td>167.03</td><td>281.57</td><td>169.6</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td>11.06</td><td>10.71</td><td>9.14</td><td>11.12</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td></td><td></td><td>11</td><td>11.95</td><td>35.39</td><td>19.23</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-3.75</td><td>0.45</td><td>105.97</td><td>122.41</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td></td><td></td><td>72.02</td><td>29.91</td><td>50.08</td><td>6</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td></td><td></td><td>7.55</td><td>8.16</td><td>8.66</td><td>7.19</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td></td><td></td><td>25.22</td><td>20.6</td><td>86.3</td><td>117.22</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>64.71</td><td>0.93</td><td>-229.32</td><td>41.15</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td></td><td></td><td>11.61</td><td>-5.24</td><td>3.42</td><td>20.78</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td></td><td></td><td>53.1</td><td>6.18</td><td>-232.74</td><td>20.34</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>159.75</td><td>53.12</td><td>11.44</td><td>67.91</td><td>41.67</td><td>94.21</td><td>134.99</td><td>62.94</td><td>29.72</td><td>9.3</td></tr>
<tr><td>Expenses</td><td>98.82</td><td>30.88</td><td>282.09</td><td>13.26</td><td>18.82</td><td>80.11</td><td>96.99</td><td>21.83</td><td>25.71</td><td>3.76</td></tr>
<tr><td>Other Income</td><td>1.27</td><td>16.82</td><td>31</td><td>3.37</td><td>16.55</td><td>15.43</td><td>0.55</td><td>1.63</td><td>4.96</td><td>2.49</td></tr>
<tr><td>Depreciation</td><td>1.63</td><td>1.87</td><td>3.11</td><td>2.42</td><td>2.06</td><td>1.21</td><td>1.5</td><td>1.19</td><td>1.88</td><td>1.51</td></tr>
<tr><td>Interest</td><td>15.42</td><td>24.99</td><td>40.17</td><td>37.29</td><td>26.99</td><td>24.19</td><td>28.69</td><td>34.06</td><td>25.2</td><td>34.89</td></tr>
<tr><td>Profit before tax</td><td>45.15</td><td>12.2</td><td>-282.93</td><td>18.31</td><td>10.35</td><td>4.13</td><td>8.36</td><td>7.49</td><td>-18.11</td><td>-28.37</td></tr>
<tr><td>Tax</td><td>39.84</td><td>3.68</td><td>-40.2</td><td>8.99</td><td>2.17</td><td>2.78</td><td>6.82</td><td>0.38</td><td>-19.19</td><td>5.12</td></tr>
<tr><td>Net profit</td><td>5.3</td><td>8.51</td><td>-242.73</td><td>9.31</td><td>8.17</td><td>1.31</td><td>1.54</td><td>7.11</td><td>1.08</td><td>-33.49</td></tr>
<tr><td>Operating Profit</td><td>60.93</td><td>22.24</td><td>-270.65</td><td>54.65</td><td>22.85</td><td>14.1</td><td>38</td><td>41.11</td><td>4.01</td><td>5.54</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td></td><td></td><td>59.02</td><td>59.02</td><td>59.02</td><td>59.02</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1498.61</td><td>1505.25</td><td>1272.74</td><td>1292.63</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1298.01</td><td>1321.02</td><td>1179.39</td><td>1386.46</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td></td><td></td><td>471.2</td><td>521.33</td><td>468.01</td><td>418.95</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>3326.84</td><td>3406.62</td><td>2979.16</td><td>3157.06</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1563.63</td><td>1662.26</td><td>1052.85</td><td>1065.95</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td></td><td></td><td>73.28</td><td>0.06</td><td>0.13</td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td></td><td></td><td>137.69</td><td>137.76</td><td>68.38</td><td>67.86</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1552.24</td><td>1606.54</td><td>1857.8</td><td>2023.25</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td></td><td></td><td>3326.84</td><td>3406.62</td><td>2979.16</td><td>3157.06</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td></td><td></td><td>3.01</td><td>16.87</td><td>4.81</td><td>9.57</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td>829.23</td><td>847.84</td><td>1065.23</td><td>1106.2</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td></td><td></td><td>9.05</td><td>14.96</td><td>27.69</td><td>114.89</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td>295096335</td><td>295096335</td><td>295096335</td><td>295096335</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td></td><td></td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>116.4</td><td>144.33</td><td>-81.17</td><td>-81.01</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>17.46</td><td>22.97</td><td>366.97</td><td>74.52</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-143.14</td><td>-160.81</td><td>-278.96</td><td>95.89</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td></td><td></td><td>-9.28</td><td>6.48</td><td>6.84</td><td>89.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>29.05</td><td>36.6</td><td>34.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>29.51</td><td>29.51</td><td>29.51</td></tr>
</table>
</body>
</html>