<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tata Consumer</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TATA CONSUMER PRODUCTS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1085.05</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>103429.09</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>7993.39</td><td>6636.54</td><td>6779.55</td><td>6815.35</td><td>7251.5</td><td>9637.42</td><td>11602.03</td><td>12425.37</td><td>13783.16</td><td>15205.85</td></tr>
<tr><td>Raw Material Cost</td><td>3416.05</td><td>3601.49</td><td>3165.65</td><td>3746.11</td><td>4022.05</td><td>5402.9</td><td>6367.79</td><td>6323.22</td><td>7107.06</td><td>8685.51</td></tr>
<tr><td>Change in Inventory</td><td>51.25</td><td>-20.11</td><td>0.69</td><td>46.8</td><td>14.41</td><td>-7.78</td><td>149.54</td><td>39.78</td><td>273.88</td><td>121.6</td></tr>
<tr><td>Power and Fuel</td><td>84.78</td><td>81.26</td><td>83.19</td><td>87.07</td><td>89.28</td><td>103.84</td><td>97.36</td><td>123.9</td><td>149.43</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>691.21</td><td>190.32</td><td>597.61</td><td>194.69</td><td>209.59</td><td>238.47</td><td>941.75</td><td>1139.59</td><td>1578.2</td><td></td></tr>
<tr><td>Employee Cost</td><td>857.67</td><td>805.06</td><td>834.95</td><td>821.37</td><td>806.3</td><td>884.8</td><td>970.23</td><td>1048</td><td>1120.36</td><td>1258.59</td></tr>
<tr><td>Selling and admin</td><td>1919.35</td><td>922.88</td><td>926.92</td><td>857.64</td><td>968.23</td><td>1278.16</td><td>1421.46</td><td>1691.83</td><td>1785.26</td><td></td></tr>
<tr><td>Other Expenses</td><td>283.38</td><td>649.51</td><td>380.79</td><td>316.36</td><td>384.55</td><td>429.32</td><td>409.22</td><td>419.83</td><td>460.26</td><td>3099.25</td></tr>
<tr><td>Other Income</td><td>-77.36</td><td>37.54</td><td>88.4</td><td>73.02</td><td>123.84</td><td>-163.2</td><td>90.73</td><td>88</td><td>328.33</td><td>-81.42</td></tr>
<tr><td>Depreciation</td><td>133.1</td><td>116.79</td><td>126.04</td><td>116.04</td><td>122.57</td><td>241.71</td><td>254.74</td><td>278.01</td><td>304.08</td><td>377.15</td></tr>
<tr><td>Interest</td><td>81.86</td><td>116.9</td><td>91.53</td><td>42.76</td><td>52.47</td><td>77.86</td><td>68.69</td><td>72.78</td><td>87.16</td><td>129.81</td></tr>
<tr><td>Profit before tax</td><td>499.88</td><td>169.76</td><td>661.96</td><td>753.13</td><td>734.71</td><td>809.38</td><td>1311.06</td><td>1455.99</td><td>1793.56</td><td>1695.72</td></tr>
<tr><td>Tax</td><td>215.52</td><td>200.01</td><td>198.31</td><td>185.87</td><td>260.88</td><td>274.19</td><td>317.27</td><td>377.04</td><td>447.04</td><td>394.73</td></tr>
<tr><td>Net profit</td><td>247.82</td><td>-5.52</td><td>389.44</td><td>495.56</td><td>408.19</td><td>459.76</td><td>856.69</td><td>935.78</td><td>1203.77</td><td>1150.33</td></tr>
<tr><td>Dividend Amount</td><td>13.91</td><td>142</td><td>148.31</td><td>148.31</td><td>157.78</td><td>248.83</td><td>373.25</td><td>557.57</td><td>785</td><td>738.42</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3208.38</td><td>3175.41</td><td>3326.83</td><td>3363.05</td><td>3474.55</td><td>3618.73</td><td>3741.21</td><td>3733.78</td><td>3803.92</td><td>3926.94</td></tr>
<tr><td>Expenses</td><td>2746.72</td><td>2731.08</td><td>2869.53</td><td>2929.21</td><td>3020.89</td><td>3107.06</td><td>3196.18</td><td>3196.69</td><td>3231.54</td><td>3297.34</td></tr>
<tr><td>Other Income</td><td>11.86</td><td>28.74</td><td>11.37</td><td>140.53</td><td>127.5</td><td>48.93</td><td>52.59</td><td>75.28</td><td>-31.94</td><td>-177.35</td></tr>
<tr><td>Depreciation</td><td>69.8</td><td>72.11</td><td>72.92</td><td>73.14</td><td>75.16</td><td>82.86</td><td>81.95</td><td>93.93</td><td>85.51</td><td>115.76</td></tr>
<tr><td>Interest</td><td>16.16</td><td>16.41</td><td>16.27</td><td>19.55</td><td>23.68</td><td>27.66</td><td>26.23</td><td>27.56</td><td>33.19</td><td>42.83</td></tr>
<tr><td>Profit before tax</td><td>387.56</td><td>384.55</td><td>379.48</td><td>481.68</td><td>482.32</td><td>450.08</td><td>489.44</td><td>490.88</td><td>421.74</td><td>293.66</td></tr>
<tr><td>Tax</td><td>99.88</td><td>95.32</td><td>102.97</td><td>126.7</td><td>112.87</td><td>104.5</td><td>130.87</td><td>131.7</td><td>106.21</td><td>25.95</td></tr>
<tr><td>Net profit</td><td>265.05</td><td>217.54</td><td>255.46</td><td>327.96</td><td>351.76</td><td>268.59</td><td>316.59</td><td>338.24</td><td>278.87</td><td>216.63</td></tr>
<tr><td>Operating Profit</td><td>461.66</td><td>444.33</td><td>457.3</td><td>433.84</td><td>453.66</td><td>511.67</td><td>545.03</td><td>537.09</td><td>572.38</td><td>629.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>61.84</td><td>63.11</td><td>63.11</td><td>63.11</td><td>63.11</td><td>92.16</td><td>92.16</td><td>92.16</td><td>92.9</td><td>95.28</td></tr>
<tr><td>Reserves</td><td>5430.95</td><td>6184.06</td><td>6202.39</td><td>6968.49</td><td>7268.58</td><td>13722.7</td><td>14442.35</td><td>15049.78</td><td>16183.81</td><td>15961.51</td></tr>
<tr><td>Borrowings</td><td>1324.02</td><td>1354.05</td><td>786.56</td><td>1067.58</td><td>1141.1</td><td>1586.32</td><td>1633.55</td><td>1412.01</td><td>1600.04</td><td>3477.22</td></tr>
<tr><td>Other Liabilities</td><td>2640.77</td><td>2293.54</td><td>2499.35</td><td>2361.58</td><td>2407.89</td><td>3071.86</td><td>4049.76</td><td>4520.92</td><td>4885.74</td><td>8486.93</td></tr>
<tr><td>Total</td><td>9457.58</td><td>9894.76</td><td>9551.41</td><td>10460.76</td><td>10880.68</td><td>18473.04</td><td>20217.82</td><td>21074.87</td><td>22762.49</td><td>28020.94</td></tr>
<tr><td>Net Block</td><td>4921.69</td><td>4661.8</td><td>4572.59</td><td>4798.18</td><td>4913.31</td><td>11656.04</td><td>12023.13</td><td>12599.35</td><td>13070.04</td><td>19376.11</td></tr>
<tr><td>Capital Work in Progress</td><td>47.17</td><td>39.42</td><td>63.19</td><td>135.16</td><td>424.41</td><td>95.35</td><td>112.85</td><td>246.97</td><td>294.9</td><td>171.39</td></tr>
<tr><td>Investments</td><td>622.02</td><td>1365.94</td><td>1451.04</td><td>1161.33</td><td>1187.66</td><td>1322.85</td><td>805.89</td><td>797.28</td><td>1432.97</td><td>870.55</td></tr>
<tr><td>Other Assets</td><td>3866.7</td><td>3827.6</td><td>3464.59</td><td>4366.09</td><td>4355.3</td><td>5398.8</td><td>7275.95</td><td>7431.27</td><td>7964.58</td><td>7602.89</td></tr>
<tr><td>Total</td><td>9457.58</td><td>9894.76</td><td>9551.41</td><td>10460.76</td><td>10880.68</td><td>18473.04</td><td>20217.82</td><td>21074.87</td><td>22762.49</td><td>28020.94</td></tr>
<tr><td>Receivables</td><td>616.09</td><td>592.43</td><td>592.45</td><td>648.28</td><td>680.55</td><td>922.41</td><td>761.32</td><td>835.15</td><td>798.33</td><td>896.75</td></tr>
<tr><td>Inventory</td><td>1625.3</td><td>1629.01</td><td>1452.96</td><td>1448.31</td><td>1608.54</td><td>1712.03</td><td>2249.16</td><td>2266.51</td><td>2701.67</td><td>2769.35</td></tr>
<tr><td>Cash & Bank</td><td>544.24</td><td>501.03</td><td>574.82</td><td>1238.14</td><td>1033.61</td><td>1621.46</td><td>3074.88</td><td>2599.89</td><td>2796.94</td><td>2454.49</td></tr>
<tr><td>No. of Equity Shares</td><td>618398570</td><td>631129729</td><td>631129729</td><td>631129729</td><td>631129729</td><td>921551715</td><td>921551715</td><td>921551715</td><td>929011650</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>417.81</td><td>115.98</td><td>741.2</td><td>355.58</td><td>209.87</td><td>1082.23</td><td>1656.37</td><td>1515.81</td><td>1461.29</td><td>1936.68</td></tr>
<tr><td>Cash from Investing Activity</td><td>-207.05</td><td>144.62</td><td>145.05</td><td>-31.1</td><td>53.17</td><td>-622.04</td><td>-346.5</td><td>-1317.11</td><td>-833.61</td><td>-1930.92</td></tr>
<tr><td>Cash from Financing Activity</td><td>-392.38</td><td>-281.8</td><td>-815.84</td><td>-30.39</td><td>-223.73</td><td>-308.33</td><td>-426.03</td><td>-994.77</td><td>-714.4</td><td>255.55</td></tr>
<tr><td>Net Cash Flow</td><td>-181.62</td><td>-21.2</td><td>70.41</td><td>294.09</td><td>39.31</td><td>151.86</td><td>883.84</td><td>-796.07</td><td>-86.72</td><td>261.31</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>148.8</td><td>121.25</td><td>150.55</td><td>258.75</td><td>203.95</td><td>294.85</td><td>638.9</td><td>777.4</td><td>708.85</td><td>1096.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>61.84</td><td>63.11</td><td>63.11</td><td>63.11</td><td>63.11</td><td>92.16</td><td>92.16</td><td>92.16</td><td>92.9</td><td>95.28</td></tr>
</table>
</body>
</html>