<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tata Power Co</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TATA POWER COMPANY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>413.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>132005.92</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>33592.79</td><td>29494.3</td><td>27587.59</td><td>26840.27</td><td>29881.06</td><td>29136.37</td><td>32703.31</td><td>42815.67</td><td>55109.08</td><td>61448.9</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>5479.55</td></tr>
<tr><td>Change in Inventory</td><td>-120.72</td><td>-34.16</td><td>-28.34</td><td>8.51</td><td>-24.37</td><td>15.64</td><td>-0.41</td><td>199.22</td><td>-43.53</td><td>51.78</td></tr>
<tr><td>Power and Fuel</td><td>16644.14</td><td>17088.59</td><td>17921.05</td><td>16356.15</td><td>18918.9</td><td>17100.03</td><td>20037.56</td><td>26764.37</td><td>36708.56</td><td>34144.93</td></tr>
<tr><td>Other Mfr. Exp</td><td>5904.72</td><td>3146.34</td><td>1720.75</td><td>2041.68</td><td>2056.1</td><td>2013.68</td><td>2533.43</td><td>3942.93</td><td>5007.21</td><td></td></tr>
<tr><td>Employee Cost</td><td>1686.88</td><td>1375.45</td><td>1342.92</td><td>1475</td><td>1497.6</td><td>1541.05</td><td>2414.24</td><td>3731.29</td><td>3801.4</td><td>4036.09</td></tr>
<tr><td>Selling and admin</td><td>2820.36</td><td>570.39</td><td>481.89</td><td>511.78</td><td>466.39</td><td>401.51</td><td>942.43</td><td>1010.17</td><td>1460.6</td><td></td></tr>
<tr><td>Other Expenses</td><td>114.77</td><td>5174.14</td><td>619.37</td><td>4169.34</td><td>3847.79</td><td>2806.31</td><td>-181.26</td><td>535.24</td><td>360.02</td><td>7056.08</td></tr>
<tr><td>Other Income</td><td>1056.02</td><td>4060.02</td><td>1297.37</td><td>6585.64</td><td>7186.47</td><td>3795.79</td><td>1739.36</td><td>2485.5</td><td>5540.09</td><td>3367.58</td></tr>
<tr><td>Depreciation</td><td>2174.15</td><td>1648.73</td><td>1955.59</td><td>2346.17</td><td>2393.13</td><td>2633.56</td><td>2744.94</td><td>3122.2</td><td>3439.2</td><td>3786.37</td></tr>
<tr><td>Interest</td><td>3698.72</td><td>3235.81</td><td>3364.96</td><td>3761.48</td><td>4170</td><td>4493.73</td><td>4010.39</td><td>3859.02</td><td>4371.65</td><td>4633.22</td></tr>
<tr><td>Profit before tax</td><td>1484.35</td><td>1280.71</td><td>1450.09</td><td>2772.82</td><td>3693.25</td><td>1957.93</td><td>1940.53</td><td>2535.17</td><td>5457</td><td>5732.02</td></tr>
<tr><td>Tax</td><td>1074.92</td><td>680.31</td><td>350.46</td><td>161.97</td><td>1087.59</td><td>641.49</td><td>501.88</td><td>379.56</td><td>1647.33</td><td>1451.92</td></tr>
<tr><td>Net profit</td><td>167.83</td><td>662.2</td><td>896.55</td><td>2408.3</td><td>2356.19</td><td>1017.38</td><td>1127.38</td><td>1741.46</td><td>3336.44</td><td>3696.25</td></tr>
<tr><td>Dividend Amount</td><td>351.62</td><td>351.62</td><td>351.65</td><td>351.65</td><td>351.65</td><td>419.28</td><td>495.32</td><td>559.23</td><td>639.12</td><td>639.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>10913.14</td><td>11959.96</td><td>14495.48</td><td>14030.72</td><td>14129.12</td><td>12453.76</td><td>15213.29</td><td>15738.03</td><td>14651</td><td>15846.58</td></tr>
<tr><td>Expenses</td><td>9279.38</td><td>10091.37</td><td>12812.09</td><td>12270.28</td><td>11810.48</td><td>10526.05</td><td>12499.94</td><td>12966.92</td><td>12233.58</td><td>13539.69</td></tr>
<tr><td>Other Income</td><td>865.45</td><td>62.45</td><td>1226.72</td><td>1501.8</td><td>1496.93</td><td>1352.22</td><td>877.05</td><td>567.29</td><td>1091.87</td><td>1406.62</td></tr>
<tr><td>Depreciation</td><td>758.12</td><td>845.71</td><td>822.01</td><td>837.63</td><td>853.26</td><td>926.3</td><td>893.44</td><td>925.89</td><td>926.27</td><td>1040.77</td></tr>
<tr><td>Interest</td><td>952.6</td><td>1014.6</td><td>1026.04</td><td>1051.76</td><td>1098.29</td><td>1195.56</td><td>1221.41</td><td>1181.83</td><td>1094.26</td><td>1135.72</td></tr>
<tr><td>Profit before tax</td><td>788.49</td><td>70.73</td><td>1062.06</td><td>1372.85</td><td>1864.02</td><td>1158.07</td><td>1475.55</td><td>1230.68</td><td>1488.76</td><td>1537.02</td></tr>
<tr><td>Tax</td><td>236.6</td><td>-561.64</td><td>178.52</td><td>437.67</td><td>811.88</td><td>219.26</td><td>334.58</td><td>213.27</td><td>412.64</td><td>491.44</td></tr>
<tr><td>Net profit</td><td>425.81</td><td>503.11</td><td>794.6</td><td>819.09</td><td>945.02</td><td>777.73</td><td>972.49</td><td>875.53</td><td>953.01</td><td>895.21</td></tr>
<tr><td>Operating Profit</td><td>1633.76</td><td>1868.59</td><td>1683.39</td><td>1760.44</td><td>2318.64</td><td>1927.71</td><td>2713.35</td><td>2771.11</td><td>2417.42</td><td>2306.89</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>270.48</td><td>270.48</td><td>270.5</td><td>270.5</td><td>270.5</td><td>270.5</td><td>319.56</td><td>319.56</td><td>319.56</td><td>319.56</td></tr>
<tr><td>Reserves</td><td>14048.41</td><td>11362.9</td><td>12944.05</td><td>16129.38</td><td>18035.01</td><td>19295.52</td><td>22002.7</td><td>22122</td><td>28467.87</td><td>32035.73</td></tr>
<tr><td>Borrowings</td><td>40606.7</td><td>38848.59</td><td>48815.41</td><td>48344.24</td><td>48506.04</td><td>51936.15</td><td>46707.95</td><td>51195.12</td><td>52923</td><td>53689.45</td></tr>
<tr><td>Other Liabilities</td><td>20259.75</td><td>19574.54</td><td>20799.3</td><td>17147.68</td><td>17261.89</td><td>18171.74</td><td>29624.63</td><td>38913.31</td><td>46385.71</td><td>53508.75</td></tr>
<tr><td>Total</td><td>75185.34</td><td>70056.51</td><td>82829.26</td><td>81891.8</td><td>84073.44</td><td>89673.91</td><td>98654.84</td><td>112549.99</td><td>128096.14</td><td>139553.49</td></tr>
<tr><td>Net Block</td><td>44725.7</td><td>36413.72</td><td>46594.79</td><td>44656.26</td><td>44304.89</td><td>47666.36</td><td>52179.15</td><td>57389.44</td><td>61746.66</td><td>67209.56</td></tr>
<tr><td>Capital Work in Progress</td><td>3323.19</td><td>1344.91</td><td>2177.92</td><td>1652.6</td><td>2575.7</td><td>1611.52</td><td>3270.26</td><td>4635.1</td><td>5376.36</td><td>11561.31</td></tr>
<tr><td>Investments</td><td>3444.57</td><td>11785.35</td><td>11873.01</td><td>12428.93</td><td>13541.87</td><td>14534.84</td><td>13149.05</td><td>14160.33</td><td>16669.69</td><td>16295.99</td></tr>
<tr><td>Other Assets</td><td>23691.88</td><td>20512.53</td><td>22183.54</td><td>23154.01</td><td>23650.98</td><td>25861.19</td><td>30056.38</td><td>36365.12</td><td>44303.43</td><td>44486.63</td></tr>
<tr><td>Total</td><td>75185.34</td><td>70056.51</td><td>82829.26</td><td>81891.8</td><td>84073.44</td><td>89673.91</td><td>98654.84</td><td>112549.99</td><td>128096.14</td><td>139553.49</td></tr>
<tr><td>Receivables</td><td>5563.95</td><td>3540.24</td><td>3832.12</td><td>2788.93</td><td>4445.26</td><td>4425.9</td><td>5200.08</td><td>5979.74</td><td>6952.15</td><td>7401.69</td></tr>
<tr><td>Inventory</td><td>1844.17</td><td>1373.4</td><td>1599.56</td><td>1623.08</td><td>1706.42</td><td>1752.35</td><td>1885.62</td><td>4231.52</td><td>3942.88</td><td>4419.63</td></tr>
<tr><td>Cash & Bank</td><td>1483.45</td><td>663.16</td><td>954.3</td><td>1185.78</td><td>787.45</td><td>2094.18</td><td>5870.67</td><td>6640.7</td><td>11206.53</td><td>9151.91</td></tr>
<tr><td>No. of Equity Shares</td><td>2706277554</td><td>2704629398</td><td>2706281698</td><td>2706425810</td><td>2706425810</td><td>2706425810</td><td>3196991847</td><td>3196991847</td><td>3196991847</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>5980.91</td><td>7415.12</td><td>7014.18</td><td>6363.85</td><td>4573.79</td><td>7375.32</td><td>8345.12</td><td>6692.73</td><td>7159.13</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>-3865.18</td><td>-1805.22</td><td>-7372.73</td><td>-1511.65</td><td>-272.34</td><td>-492.88</td><td>993.33</td><td>-6250.47</td><td>-7256.64</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>-2238.59</td><td>-6183.45</td><td>937.34</td><td>-4726.26</td><td>-5184.45</td><td>-5109.57</td><td>-7602.88</td><td>-1183.2</td><td>1340.77</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>-122.86</td><td>-573.55</td><td>578.79</td><td>125.94</td><td>-883</td><td>1772.87</td><td>1735.57</td><td>-740.94</td><td>1243.26</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>77.1</td><td>64.65</td><td>90.35</td><td>79</td><td>73.8</td><td>32.85</td><td>103.25</td><td>238.65</td><td>190.25</td><td>394.2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>270.46</td><td>270.46</td><td>270.48</td><td>270.48</td><td>270.48</td><td>270.48</td><td>319.53</td><td>319.53</td><td>319.53</td><td>319.53</td></tr>
</table>
</body>
</html>