<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tata Steel</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TATA STEEL LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>161.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>202108.31</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>148613.55</td><td>139503.73</td><td>101964.72</td><td>112299.42</td><td>123249.07</td><td>157668.99</td><td>139816.65</td><td>156294.18</td><td>243959.17</td><td>243352.69</td></tr>
<tr><td>Raw Material Cost</td><td>63251.19</td><td>54545.26</td><td>38696.27</td><td>43843.03</td><td>46137.01</td><td>60877.05</td><td>58039.99</td><td>55423.38</td><td>91076.61</td><td>116597.19</td></tr>
<tr><td>Change in Inventory</td><td>514.67</td><td>-1122.18</td><td>-1925.19</td><td>4538.13</td><td>-99.31</td><td>96.71</td><td>565.24</td><td>-1516.77</td><td>7597.87</td><td>3358.89</td></tr>
<tr><td>Power and Fuel</td><td>7125.2</td><td>6845.38</td><td>4993.89</td><td>5220.83</td><td>4440.43</td><td>5316.56</td><td>5319.92</td><td>5788.48</td><td>8028.29</td><td>9526.91</td></tr>
<tr><td>Other Mfr. Exp</td><td>20662.36</td><td>20370.48</td><td>16034.28</td><td>15799.14</td><td>16955.79</td><td>20734.28</td><td>21232.69</td><td>20744.92</td><td>28834.06</td><td>36578.93</td></tr>
<tr><td>Employee Cost</td><td>20303.41</td><td>21407.64</td><td>17587.63</td><td>17252.22</td><td>17077.51</td><td>18758.87</td><td>18533.58</td><td>19908.81</td><td>23264.1</td><td>22419.32</td></tr>
<tr><td>Selling and admin</td><td>16160.96</td><td>15868.37</td><td>12908.42</td><td>13772.32</td><td>14423.87</td><td>16917.14</td><td>15599.07</td><td>16923.93</td><td>27445.67</td><td>25519.92</td></tr>
<tr><td>Other Expenses</td><td>5441.1</td><td>15935.54</td><td>10444.28</td><td>7806.38</td><td>2681.96</td><td>5843.58</td><td>4193.58</td><td>5483.63</td><td>9418.36</td><td>3769.15</td></tr>
<tr><td>Other Income</td><td>716.18</td><td>5994.38</td><td>10345.87</td><td>-3789.11</td><td>10898.41</td><td>1524.31</td><td>-2883.63</td><td>179.78</td><td>1299.99</td><td>1568.86</td></tr>
<tr><td>Depreciation</td><td>5841.22</td><td>5943.6</td><td>5306.35</td><td>5672.88</td><td>5741.7</td><td>7341.83</td><td>8440.73</td><td>9233.64</td><td>9100.87</td><td>9335.2</td></tr>
<tr><td>Interest</td><td>4336.83</td><td>4847.75</td><td>4221.41</td><td>5072.2</td><td>5454.74</td><td>7660.1</td><td>7533.46</td><td>7606.71</td><td>5462.2</td><td>6298.7</td></tr>
<tr><td>Profit before tax</td><td>6722.13</td><td>-1388.09</td><td>192.87</td><td>-1390.56</td><td>21135.16</td><td>15840.6</td><td>-1394.76</td><td>13843.69</td><td>50226.87</td><td>18235.12</td></tr>
<tr><td>Tax</td><td>3058.16</td><td>2567.41</td><td>689.96</td><td>2778.01</td><td>3392.33</td><td>6718.43</td><td>-2568.41</td><td>5653.9</td><td>8477.55</td><td>10159.77</td></tr>
<tr><td>Net profit</td><td>3594.89</td><td>-3925.52</td><td>-382.78</td><td>-4240.8</td><td>13434.33</td><td>10218.33</td><td>1556.54</td><td>7490.22</td><td>40153.93</td><td>8760.4</td></tr>
<tr><td>Dividend Amount</td><td>971.41</td><td>777.13</td><td>776.19</td><td>970.24</td><td>1144.95</td><td>1488.42</td><td>1144.95</td><td>2994.02</td><td>6228.17</td><td>4396.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>60387.13</td><td>60783.11</td><td>69323.5</td><td>63430.07</td><td>59877.52</td><td>57083.56</td><td>62961.54</td><td>59489.66</td><td>55681.93</td><td>55311.88</td></tr>
<tr><td>Expenses</td><td>43931.01</td><td>44889.44</td><td>54293.89</td><td>48457.27</td><td>53817.2</td><td>53035.72</td><td>55742.34</td><td>54587.06</td><td>51414.11</td><td>49048.31</td></tr>
<tr><td>Other Income</td><td>972.07</td><td>48.49</td><td>177.26</td><td>388.36</td><td>411.69</td><td>491.43</td><td>277.38</td><td>1190.24</td><td>-6567.77</td><td>-32.84</td></tr>
<tr><td>Depreciation</td><td>2288.85</td><td>2244.09</td><td>2243.39</td><td>2236.79</td><td>2347.82</td><td>2368.38</td><td>2382.21</td><td>2412.32</td><td>2479.85</td><td>2422.04</td></tr>
<tr><td>Interest</td><td>1019.77</td><td>1532.49</td><td>1098.51</td><td>1218.11</td><td>1519.07</td><td>1767.92</td><td>1793.6</td><td>1825.15</td><td>1959.39</td><td>1880.78</td></tr>
<tr><td>Profit before tax</td><td>14119.57</td><td>12165.58</td><td>11864.97</td><td>11906.26</td><td>2605.12</td><td>402.97</td><td>3320.77</td><td>1855.37</td><td>-6739.19</td><td>1927.91</td></tr>
<tr><td>Tax</td><td>1571.87</td><td>2567.42</td><td>2029.85</td><td>4192.26</td><td>1308.06</td><td>2904.92</td><td>1754.53</td><td>1330.52</td><td>-228.03</td><td>1405.77</td></tr>
<tr><td>Net profit</td><td>11918.11</td><td>9572.67</td><td>9756.2</td><td>7764.96</td><td>1514.42</td><td>-2223.84</td><td>1704.86</td><td>633.95</td><td>-6196.24</td><td>513.37</td></tr>
<tr><td>Operating Profit</td><td>16456.12</td><td>15893.67</td><td>15029.61</td><td>14972.8</td><td>6060.32</td><td>4047.84</td><td>7219.2</td><td>4902.6</td><td>4267.82</td><td>6263.57</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>971.41</td><td>971.41</td><td>970.24</td><td>970.24</td><td>1144.95</td><td>1144.94</td><td>1144.95</td><td>1197.61</td><td>1221.21</td><td>1221.24</td></tr>
<tr><td>Reserves</td><td>39560.55</td><td>30378</td><td>42762.31</td><td>36849.08</td><td>59725.67</td><td>67780.14</td><td>72431.35</td><td>73041.16</td><td>113221.83</td><td>101860.86</td></tr>
<tr><td>Borrowings</td><td>81608.65</td><td>80701.29</td><td>81986.93</td><td>83014.49</td><td>92127.08</td><td>100802.91</td><td>116328.2</td><td>88501.41</td><td>75561.35</td><td>84893.05</td></tr>
<tr><td>Other Liabilities</td><td>49463.07</td><td>47058.6</td><td>51164.51</td><td>51613.56</td><td>55724.44</td><td>63045.45</td><td>59244.62</td><td>81169.01</td><td>92417.28</td><td>97420.63</td></tr>
<tr><td>Total</td><td>171603.68</td><td>159109.3</td><td>176883.99</td><td>172447.37</td><td>208722.14</td><td>232773.44</td><td>249149.12</td><td>243909.19</td><td>282421.67</td><td>285395.78</td></tr>
<tr><td>Net Block</td><td>74906.93</td><td>68100.33</td><td>72199.76</td><td>92006.55</td><td>96104.89</td><td>124441.91</td><td>134550.66</td><td>135775.18</td><td>133287.83</td><td>146621.46</td></tr>
<tr><td>Capital Work in Progress</td><td>26822.45</td><td>28678.12</td><td>35996.09</td><td>15784.13</td><td>16614.41</td><td>18641.21</td><td>19496.83</td><td>19007.4</td><td>22045.55</td><td>31213.02</td></tr>
<tr><td>Investments</td><td>5093.47</td><td>3455.05</td><td>10713.71</td><td>12457.12</td><td>17899.47</td><td>5738.17</td><td>6285.18</td><td>10681.93</td><td>13139.85</td><td>8410.31</td></tr>
<tr><td>Other Assets</td><td>64780.83</td><td>58875.8</td><td>57974.43</td><td>52199.57</td><td>78103.37</td><td>83952.15</td><td>88816.45</td><td>78444.68</td><td>113948.44</td><td>99150.99</td></tr>
<tr><td>Total</td><td>171603.68</td><td>159109.3</td><td>176883.99</td><td>172447.37</td><td>208722.14</td><td>232773.44</td><td>249149.12</td><td>243909.19</td><td>282421.67</td><td>285395.78</td></tr>
<tr><td>Receivables</td><td>16005.77</td><td>13309.87</td><td>12066.22</td><td>11586.82</td><td>12415.52</td><td>11811</td><td>7884.91</td><td>9539.84</td><td>12246.43</td><td>8257.24</td></tr>
<tr><td>Inventory</td><td>26880</td><td>25149.91</td><td>20013.33</td><td>24803.82</td><td>28331.04</td><td>31656.1</td><td>31068.72</td><td>33276.38</td><td>48824.39</td><td>54415.33</td></tr>
<tr><td>Cash & Bank</td><td>8604.5</td><td>8749.94</td><td>6186.34</td><td>4921.05</td><td>7937.85</td><td>3341.37</td><td>8054.72</td><td>5782.18</td><td>15898.93</td><td>13357.26</td></tr>
<tr><td>No. of Equity Shares</td><td>971604900</td><td>971604916</td><td>970436562</td><td>970436562</td><td>1203340563</td><td>1203331928</td><td>1203332459</td><td>1203334622</td><td>1221566453</td><td>12212353070</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>13145.89</td><td>11879.77</td><td>11455.35</td><td>10824.36</td><td>8023.39</td><td>25335.95</td><td>20168.72</td><td>44326.68</td><td>44380.99</td><td>21683.08</td></tr>
<tr><td>Cash from Investing Activity</td><td>-15378.25</td><td>-9021.13</td><td>-8794.31</td><td>-9489.65</td><td>-11730.31</td><td>-29176.45</td><td>-14012.06</td><td>-9437.27</td><td>-10905.02</td><td>-18179.45</td></tr>
<tr><td>Cash from Financing Activity</td><td>1014.56</td><td>-2617.19</td><td>-4729.12</td><td>-2579.36</td><td>6639.94</td><td>-672.7</td><td>-1694.62</td><td>-37089.67</td><td>-23401.09</td><td>-6980.69</td></tr>
<tr><td>Net Cash Flow</td><td>-1217.8</td><td>241.45</td><td>-2068.08</td><td>-1244.65</td><td>2933.02</td><td>-4513.2</td><td>4462.04</td><td>-2200.26</td><td>10074.88</td><td>-3477.06</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>37.54</td><td>30.18</td><td>30.46</td><td>45.99</td><td>57.11</td><td>52.1</td><td>26.96</td><td>81.19</td><td>130.72</td><td>104.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1126.62</td><td>1126.62</td><td>1126.62</td><td>1126.62</td><td>1126.48</td><td>1126.49</td><td>1126.49</td><td>1196.59</td><td>1221.3</td><td>1222.15</td></tr>
</table>
</body>
</html>