<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tejas Networks</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TEJAS NETWORKS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>1079.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>18436.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>386.82</td><td>627.45</td><td>874.63</td><td>749.8</td><td>900.32</td><td>390.54</td><td>526.6</td><td>550.59</td><td>919.57</td><td>2470.92</td></tr>
<tr><td>Raw Material Cost</td><td>198.98</td><td>355.73</td><td>514.05</td><td>389.95</td><td>463.7</td><td>203.58</td><td>268.74</td><td>314.43</td><td>565.69</td><td>1605.92</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>3.65</td><td>4.99</td><td>20.82</td></tr>
<tr><td>Power and Fuel</td><td>2.97</td><td>3.42</td><td>3.6</td><td>4.16</td><td>5.02</td><td>5.07</td><td>4.56</td><td>5.09</td><td>5.82</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>9.21</td><td>16.96</td><td>19.54</td><td>37.31</td><td>37.22</td><td>21.95</td><td>20.13</td><td>37.82</td><td>72.35</td><td></td></tr>
<tr><td>Employee Cost</td><td>81.7</td><td>100.38</td><td>124.14</td><td>140.84</td><td>186.59</td><td>176.59</td><td>182.42</td><td>214.84</td><td>395.27</td><td>351.49</td></tr>
<tr><td>Selling and admin</td><td>32.09</td><td>49.86</td><td>60.22</td><td>57.55</td><td>62.57</td><td>45.13</td><td>44.94</td><td>47.39</td><td>61.77</td><td></td></tr>
<tr><td>Other Expenses</td><td>-6.2</td><td>-11.95</td><td>-10.65</td><td>-32.89</td><td>-51.02</td><td>25.67</td><td>-47.68</td><td>15.13</td><td>-190.38</td><td>268.4</td></tr>
<tr><td>Other Income</td><td>9.59</td><td>3.52</td><td>-21.81</td><td>27.83</td><td>36.66</td><td>33.65</td><td>24.85</td><td>43.3</td><td>81.01</td><td>64.66</td></tr>
<tr><td>Depreciation</td><td>48.57</td><td>38.24</td><td>56.42</td><td>61.27</td><td>65.88</td><td>77.05</td><td>52.12</td><td>76.78</td><td>122.5</td><td>182.45</td></tr>
<tr><td>Interest</td><td>46.96</td><td>49.32</td><td>31.81</td><td>13.4</td><td>17</td><td>7.72</td><td>3.7</td><td>3.19</td><td>15.2</td><td>47.92</td></tr>
<tr><td>Profit before tax</td><td>-17.87</td><td>29.01</td><td>53.69</td><td>106.04</td><td>150.02</td><td>-138.57</td><td>22.52</td><td>-117.13</td><td>-42.65</td><td>100.22</td></tr>
<tr><td>Tax</td><td></td><td></td><td>-39.29</td><td>-0.48</td><td>2.78</td><td>98.55</td><td>-15.02</td><td>-54.42</td><td>-6.24</td><td>37.24</td></tr>
<tr><td>Net profit</td><td>-17.87</td><td>29.01</td><td>92.98</td><td>106.52</td><td>147.24</td><td>-237.12</td><td>37.54</td><td>-62.71</td><td>-36.41</td><td>62.98</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td>9.5</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>107.06</td><td>126.5</td><td>125.76</td><td>219.94</td><td>274.55</td><td>299.32</td><td>187.89</td><td>395.95</td><td>559.96</td><td>1326.88</td></tr>
<tr><td>Expenses</td><td>135.36</td><td>214.61</td><td>133.08</td><td>198.4</td><td>266.54</td><td>307.51</td><td>234.16</td><td>382.98</td><td>567.47</td><td>1020.38</td></tr>
<tr><td>Other Income</td><td>16.39</td><td>14.36</td><td>18.69</td><td>20.05</td><td>21</td><td>21.27</td><td>19.48</td><td>17.97</td><td>15.16</td><td>12.29</td></tr>
<tr><td>Depreciation</td><td>20.22</td><td>21.89</td><td>23.37</td><td>30.05</td><td>33.62</td><td>35.47</td><td>34.42</td><td>41.68</td><td>48.17</td><td>58.18</td></tr>
<tr><td>Interest</td><td>0.78</td><td>0.25</td><td>0.94</td><td>4.87</td><td>4.74</td><td>4.65</td><td>4.67</td><td>7</td><td>8.25</td><td>28</td></tr>
<tr><td>Profit before tax</td><td>-32.91</td><td>-95.89</td><td>-12.94</td><td>6.67</td><td>-9.35</td><td>-27.04</td><td>-65.88</td><td>-17.74</td><td>-48.77</td><td>232.61</td></tr>
<tr><td>Tax</td><td>-8.61</td><td>-46.27</td><td>-6.3</td><td>9.83</td><td>5.8</td><td>-15.57</td><td>-39.59</td><td>-5.1</td><td>-3.9</td><td>85.83</td></tr>
<tr><td>Net profit</td><td>-24.3</td><td>-49.62</td><td>-6.64</td><td>-3.16</td><td>-15.15</td><td>-11.47</td><td>-26.29</td><td>-12.64</td><td>-44.87</td><td>146.78</td></tr>
<tr><td>Operating Profit</td><td>-28.3</td><td>-88.11</td><td>-7.32</td><td>21.54</td><td>8.01</td><td>-8.19</td><td>-46.27</td><td>12.97</td><td>-7.51</td><td>306.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>61.55</td><td>66.52</td><td>74.01</td><td>94.09</td><td>94.99</td><td>95.48</td><td>96.51</td><td>117.82</td><td>171.64</td><td>173.98</td></tr>
<tr><td>Reserves</td><td>205.63</td><td>294.01</td><td>518.93</td><td>1057.99</td><td>1225.25</td><td>985.46</td><td>1037.69</td><td>1474.93</td><td>2801.32</td><td>2975.51</td></tr>
<tr><td>Borrowings</td><td>250.49</td><td>259</td><td>281.48</td><td>2.27</td><td>1.19</td><td>27.88</td><td>21.9</td><td>19.76</td><td>49.82</td><td>1884.32</td></tr>
<tr><td>Other Liabilities</td><td>210.39</td><td>218.78</td><td>160.04</td><td>175.42</td><td>263.85</td><td>132.33</td><td>155.78</td><td>497.61</td><td>579.25</td><td>3168.72</td></tr>
<tr><td>Total</td><td>728.06</td><td>838.31</td><td>1034.46</td><td>1329.77</td><td>1585.28</td><td>1241.15</td><td>1311.88</td><td>2110.12</td><td>3602.03</td><td>8202.53</td></tr>
<tr><td>Net Block</td><td>50.88</td><td>94.3</td><td>92.08</td><td>74.73</td><td>99.12</td><td>78.65</td><td>111.01</td><td>137.85</td><td>646.82</td><td>1180.92</td></tr>
<tr><td>Capital Work in Progress</td><td>87.8</td><td>51.81</td><td>18.62</td><td>46.85</td><td>41.38</td><td>26.99</td><td>24.49</td><td>39.61</td><td>153.58</td><td>15.03</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>76.52</td><td>86.55</td><td>50.97</td><td>37.37</td><td>401.78</td><td>262.24</td><td>333.71</td></tr>
<tr><td>Other Assets</td><td>589.38</td><td>692.2</td><td>923.76</td><td>1131.67</td><td>1358.23</td><td>1084.54</td><td>1139.01</td><td>1530.88</td><td>2539.39</td><td>6672.87</td></tr>
<tr><td>Total</td><td>728.06</td><td>838.31</td><td>1034.46</td><td>1329.77</td><td>1585.28</td><td>1241.15</td><td>1311.88</td><td>2110.12</td><td>3602.03</td><td>8202.53</td></tr>
<tr><td>Receivables</td><td>207.62</td><td>254.24</td><td>382.87</td><td>275.71</td><td>622.12</td><td>375.63</td><td>341.03</td><td>285.09</td><td>498.93</td><td>1410.15</td></tr>
<tr><td>Inventory</td><td>220.91</td><td>231.68</td><td>181.72</td><td>190.89</td><td>181.39</td><td>251.99</td><td>213.65</td><td>278.02</td><td>646.86</td><td>3737.74</td></tr>
<tr><td>Cash & Bank</td><td>49.95</td><td>69.38</td><td>71.02</td><td>235.95</td><td>123.05</td><td>143.19</td><td>217.52</td><td>347.24</td><td>741.81</td><td>301.9</td></tr>
<tr><td>No. of Equity Shares</td><td>91001377</td><td>95978151</td><td>74010000</td><td>94090000</td><td>94989579</td><td>95480835</td><td>125968274</td><td>147277838</td><td>201098783</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>75.78</td><td>127.43</td><td>149.69</td><td>239.49</td><td>-81.59</td><td>0.61</td><td>157.65</td><td>-17.33</td><td>-380.14</td><td>-2036.48</td></tr>
<tr><td>Cash from Investing Activity</td><td>-28.58</td><td>-50.38</td><td>-139.74</td><td>-212.92</td><td>-104.39</td><td>71.28</td><td>-167.26</td><td>-827.97</td><td>-580.88</td><td>430.54</td></tr>
<tr><td>Cash from Financing Activity</td><td>-39.56</td><td>-40.54</td><td>-28.18</td><td>156.56</td><td>-11.31</td><td>-22.31</td><td>-3.44</td><td>839.43</td><td>998.85</td><td>1713.41</td></tr>
<tr><td>Net Cash Flow</td><td>7.64</td><td>36.51</td><td>-18.23</td><td>183.13</td><td>-197.29</td><td>49.58</td><td>-13.05</td><td>-5.87</td><td>37.83</td><td>107.47</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td>365.65</td><td>169.85</td><td>31.9</td><td>158.95</td><td>426.75</td><td>580.8</td><td>656.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>5.83</td><td>6.33</td><td>7.07</td><td>9.08</td><td>9.17</td><td>9.22</td><td>9.32</td><td>11.45</td><td>16.84</td><td>17.07</td></tr>
</table>
</body>
</html>