<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Thomas Cook (I)</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>THOMAS COOK (INDIA) LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>199.3</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9408.04</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1287.03</td><td>3244.28</td><td>6093.93</td><td>8762.42</td><td>11248.34</td><td>6603.25</td><td>6832.56</td><td>795</td><td>1888.25</td><td>5047.67</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>6.99</td><td>15.6</td><td>24.9</td><td>40.13</td><td>47.68</td><td>33.23</td><td>32.15</td><td>15.79</td><td>21.75</td><td>30.84</td></tr>
<tr><td>Other Mfr. Exp</td><td>39.88</td><td>111.19</td><td>1979.11</td><td>3607.14</td><td>4682.83</td><td>5124.14</td><td>5185.63</td><td>391.64</td><td>1242.47</td><td>3660.45</td></tr>
<tr><td>Employee Cost</td><td>951.79</td><td>2577.98</td><td>3378.8</td><td>4144.84</td><td>5303.93</td><td>774.04</td><td>938.08</td><td>495.14</td><td>583.61</td><td>771.34</td></tr>
<tr><td>Selling and admin</td><td>129.17</td><td>269.68</td><td>481.14</td><td>584.81</td><td>738.82</td><td>521.57</td><td>484.68</td><td>174.08</td><td>202.74</td><td>312.58</td></tr>
<tr><td>Other Expenses</td><td>11.95</td><td>26.87</td><td>45.57</td><td>47.65</td><td>103.09</td><td>67.3</td><td>85.01</td><td>70.34</td><td>24.76</td><td>94.62</td></tr>
<tr><td>Other Income</td><td>6.24</td><td>40.67</td><td>-30.75</td><td>84.47</td><td>6004.57</td><td>167.52</td><td>75.97</td><td>145.79</td><td>55.12</td><td>62.17</td></tr>
<tr><td>Depreciation</td><td>17.55</td><td>41.43</td><td>60.59</td><td>91.49</td><td>136.72</td><td>67.23</td><td>150.58</td><td>148.05</td><td>128.67</td><td>124.03</td></tr>
<tr><td>Interest</td><td>33.68</td><td>71.21</td><td>92.14</td><td>132.22</td><td>149</td><td>72.97</td><td>101.03</td><td>62.21</td><td>61.58</td><td>89.14</td></tr>
<tr><td>Profit before tax</td><td>102.26</td><td>170.99</td><td>0.93</td><td>198.61</td><td>6090.84</td><td>110.29</td><td>-68.63</td><td>-416.46</td><td>-322.21</td><td>26.84</td></tr>
<tr><td>Tax</td><td>33.54</td><td>58.65</td><td>59.45</td><td>112.51</td><td>-40.55</td><td>21.45</td><td>-50.99</td><td>-121.26</td><td>-68.31</td><td>16.48</td></tr>
<tr><td>Net profit</td><td>62.22</td><td>90.15</td><td>-77.89</td><td>43.42</td><td>5968.01</td><td>84.82</td><td>-0.69</td><td>-254.11</td><td>-229.2</td><td>6.46</td></tr>
<tr><td>Dividend Amount</td><td>0.09</td><td>13.64</td><td>13.72</td><td>13.76</td><td>13.88</td><td>13.9</td><td></td><td></td><td></td><td>18.82</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>330.07</td><td>748.09</td><td>522.06</td><td>976.17</td><td>1221.93</td><td>1536.34</td><td>1313.22</td><td>1898.98</td><td>1843.42</td><td>1893.1</td></tr>
<tr><td>Expenses</td><td>412.5</td><td>737.16</td><td>529.56</td><td>939.95</td><td>1180.29</td><td>1472.43</td><td>1277.09</td><td>1775.01</td><td>1740.55</td><td>1776.64</td></tr>
<tr><td>Other Income</td><td>21.25</td><td>2.16</td><td>3.74</td><td>11.61</td><td>13.14</td><td>26.04</td><td>10.72</td><td>32.87</td><td>27.92</td><td>47.71</td></tr>
<tr><td>Depreciation</td><td>32.73</td><td>33.06</td><td>30.76</td><td>30.48</td><td>31.38</td><td>32.31</td><td>29.87</td><td>30.17</td><td>31.46</td><td>33.19</td></tr>
<tr><td>Interest</td><td>16.08</td><td>16.48</td><td>17.25</td><td>19.65</td><td>18.52</td><td>27.81</td><td>23.16</td><td>25.85</td><td>22.73</td><td>24.16</td></tr>
<tr><td>Profit before tax</td><td>-109.99</td><td>-36.45</td><td>-51.77</td><td>-2.3</td><td>4.88</td><td>29.83</td><td>-6.18</td><td>100.82</td><td>76.6</td><td>106.82</td></tr>
<tr><td>Tax</td><td>-24.72</td><td>-12.08</td><td>-0.48</td><td>3.53</td><td>4.89</td><td>3.48</td><td>4.57</td><td>28.29</td><td>24.15</td><td>17.17</td></tr>
<tr><td>Net profit</td><td>-74.12</td><td>-23.15</td><td>-48.5</td><td>-5.87</td><td>0.82</td><td>18.53</td><td>-7.02</td><td>72.9</td><td>47.08</td><td>82.39</td></tr>
<tr><td>Operating Profit</td><td>-82.43</td><td>10.93</td><td>-7.5</td><td>36.22</td><td>41.64</td><td>63.91</td><td>36.13</td><td>123.97</td><td>102.87</td><td>116.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>24.77</td><td>27.27</td><td>36.59</td><td>36.68</td><td>37.02</td><td>37.07</td><td>37.83</td><td>37.83</td><td>44.23</td><td>47.04</td></tr>
<tr><td>Reserves</td><td>663.45</td><td>1302.05</td><td>1211.07</td><td>1949.62</td><td>8634.39</td><td>8856.35</td><td>1626.64</td><td>1891.41</td><td>1650.98</td><td>1666.31</td></tr>
<tr><td>Borrowings</td><td>181.25</td><td>375.66</td><td>1042.01</td><td>1403.75</td><td>424.71</td><td>361.05</td><td>761.73</td><td>612.14</td><td>598.13</td><td>538.73</td></tr>
<tr><td>Other Liabilities</td><td>653.56</td><td>1420.95</td><td>2609.11</td><td>3574.73</td><td>3000.26</td><td>3753.49</td><td>3066.2</td><td>2194.32</td><td>2321.37</td><td>3404.44</td></tr>
<tr><td>Total</td><td>1523.03</td><td>3125.93</td><td>4898.78</td><td>6964.78</td><td>12096.38</td><td>13007.96</td><td>5492.4</td><td>4735.7</td><td>4614.71</td><td>5656.52</td></tr>
<tr><td>Net Block</td><td>474.99</td><td>1200.23</td><td>1903.06</td><td>2842.85</td><td>1722.8</td><td>2403.29</td><td>2707.27</td><td>2628.35</td><td>2579.58</td><td>2576.13</td></tr>
<tr><td>Capital Work in Progress</td><td>4.79</td><td>96.73</td><td>52.63</td><td>56.02</td><td>13.41</td><td>7.33</td><td>11.9</td><td>5.89</td><td>13.61</td><td>26.39</td></tr>
<tr><td>Investments</td><td>208.1</td><td>339.57</td><td>133.55</td><td>219.32</td><td>7398.25</td><td>7416.99</td><td>100.14</td><td>130.31</td><td>129.17</td><td>106.23</td></tr>
<tr><td>Other Assets</td><td>835.15</td><td>1489.4</td><td>2809.54</td><td>3846.59</td><td>2961.92</td><td>3180.35</td><td>2673.09</td><td>1971.15</td><td>1892.35</td><td>2947.77</td></tr>
<tr><td>Total</td><td>1523.03</td><td>3125.93</td><td>4898.78</td><td>6964.78</td><td>12096.38</td><td>13007.96</td><td>5492.4</td><td>4735.7</td><td>4614.71</td><td>5656.52</td></tr>
<tr><td>Receivables</td><td>330.09</td><td>644.94</td><td>827.7</td><td>1001.36</td><td>857.42</td><td>829.28</td><td>474.14</td><td>128.38</td><td>235.29</td><td>567.5</td></tr>
<tr><td>Inventory</td><td>0.44</td><td>3.03</td><td>3.68</td><td>8.89</td><td>1.09</td><td>15.79</td><td>22.98</td><td>17.6</td><td>21.58</td><td>30.15</td></tr>
<tr><td>Cash & Bank</td><td>159.58</td><td>277.73</td><td>983.92</td><td>1379.01</td><td>1092.63</td><td>1034.17</td><td>1060.82</td><td>847.22</td><td>547.63</td><td>761.08</td></tr>
<tr><td>No. of Equity Shares</td><td>247680897</td><td>272730827</td><td>365880229</td><td>366760000</td><td>370210000</td><td>370730000</td><td>378280000</td><td>378280000</td><td>442280000</td><td>470380000</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2013-12-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>219.03</td><td>131.43</td><td>383.25</td><td>272.67</td><td>-244.23</td><td>252.81</td><td>120.32</td><td>-581.12</td><td>-138.93</td><td>648.67</td></tr>
<tr><td>Cash from Investing Activity</td><td>-366.23</td><td>-607.45</td><td>-165.31</td><td>-253.29</td><td>-457.92</td><td>-263.17</td><td>-183.93</td><td>350.66</td><td>-123.49</td><td>-179.34</td></tr>
<tr><td>Cash from Financing Activity</td><td>88.37</td><td>565.08</td><td>548.47</td><td>161.45</td><td>476.74</td><td>-167.26</td><td>-170.48</td><td>335.32</td><td>-84.75</td><td>-230.31</td></tr>
<tr><td>Net Cash Flow</td><td>-58.83</td><td>89.07</td><td>766.41</td><td>180.83</td><td>-225.41</td><td>-177.62</td><td>-234.09</td><td>104.85</td><td>-347.17</td><td>239.02</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>38.74</td><td>95.86</td><td>86.59</td><td>107.1</td><td>130</td><td>118.09</td><td>23.8</td><td>49.1</td><td>68.6</td><td>56.15</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>24.77</td><td>27.27</td><td>36.59</td><td>36.68</td><td>37.02</td><td>37.07</td><td>37.83</td><td>37.83</td><td>44.23</td><td>47.04</td></tr>
</table>
</body>
</html>