<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tilaknagar Inds</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TILAKNAGAR INDUSTRIES LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>222.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4273.16</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>824.17</td><td>748.23</td><td>457.79</td><td>515.03</td><td>577.77</td><td>661.33</td><td>652.83</td><td>548.75</td><td>783.37</td><td>1164.36</td></tr>
<tr><td>Raw Material Cost</td><td>389.2</td><td>198.08</td><td>259.66</td><td>149.3</td><td>147.87</td><td>159.24</td><td>159.19</td><td>145.24</td><td>179.44</td><td>296.32</td></tr>
<tr><td>Change in Inventory</td><td>-1.47</td><td>3.84</td><td>-16.9</td><td>-16.49</td><td>5.89</td><td>17.75</td><td>-31.12</td><td>13.94</td><td>-4.43</td><td>16.98</td></tr>
<tr><td>Power and Fuel</td><td>4.87</td><td>4.93</td><td>5.43</td><td>4.68</td><td>3.6</td><td>6.53</td><td>3.79</td><td>3.63</td><td>4.75</td><td>5.82</td></tr>
<tr><td>Other Mfr. Exp</td><td>42.98</td><td>226.1</td><td>15.36</td><td>198.46</td><td>170.21</td><td>218.77</td><td>192.47</td><td>181.69</td><td>241.24</td><td>403.14</td></tr>
<tr><td>Employee Cost</td><td>34.49</td><td>21.31</td><td>34.11</td><td>28.31</td><td>22.03</td><td>33.3</td><td>29.64</td><td>25.62</td><td>32.59</td><td>37.93</td></tr>
<tr><td>Selling and admin</td><td>171.49</td><td>194.42</td><td>162.03</td><td>161.2</td><td>162.66</td><td>128.64</td><td>133.52</td><td>131.14</td><td>185.97</td><td>275.43</td></tr>
<tr><td>Other Expenses</td><td>9.78</td><td>12.16</td><td>86.34</td><td>50.68</td><td>74.33</td><td>76.46</td><td>155.05</td><td>21.16</td><td>22.83</td><td>25.47</td></tr>
<tr><td>Other Income</td><td>4.25</td><td>2.23</td><td>2.74</td><td>1.61</td><td>33.45</td><td>5.2</td><td>485.13</td><td>11.31</td><td>23.68</td><td>85.2</td></tr>
<tr><td>Depreciation</td><td>25.48</td><td>27.68</td><td>38.55</td><td>38.14</td><td>37.31</td><td>36.75</td><td>32.98</td><td>33.12</td><td>32.74</td><td>32.35</td></tr>
<tr><td>Interest</td><td>64.12</td><td>97.46</td><td>125.03</td><td>157.24</td><td>151.94</td><td>184.21</td><td>128.93</td><td>70.97</td><td>61.87</td><td>40.19</td></tr>
<tr><td>Profit before tax</td><td>84.54</td><td>-27.84</td><td>-282.88</td><td>-287.86</td><td>-152.84</td><td>-159.62</td><td>271.27</td><td>-38.57</td><td>41.19</td><td>149.89</td></tr>
<tr><td>Tax</td><td>26.29</td><td>12.32</td><td>-1.14</td><td>-8.29</td><td>-1.72</td><td>-0.1</td><td>1.54</td><td>-0.18</td><td>-4</td><td>-0.01</td></tr>
<tr><td>Net profit</td><td>58.26</td><td>-40.16</td><td>-281.74</td><td>-279.58</td><td>-151.13</td><td>-159.51</td><td>269.73</td><td>-38.4</td><td>45.19</td><td>149.9</td></tr>
<tr><td>Dividend Amount</td><td>9.9</td><td>0.62</td><td></td><td></td><td></td><td></td><td></td><td></td><td>1.59</td><td>4.63</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>201.11</td><td>205.9</td><td>241.06</td><td>229.55</td><td>274.5</td><td>302.87</td><td>357.45</td><td>304.1</td><td>354.39</td><td>376.69</td></tr>
<tr><td>Expenses</td><td>170.57</td><td>173.48</td><td>215.27</td><td>207.84</td><td>243.07</td><td>262.31</td><td>313.98</td><td>265.7</td><td>306.97</td><td>325.3</td></tr>
<tr><td>Other Income</td><td>1.33</td><td>1.12</td><td>21.04</td><td>0.67</td><td>0.59</td><td>52.5</td><td>31.49</td><td>1.17</td><td>5.61</td><td>8.43</td></tr>
<tr><td>Depreciation</td><td>8.25</td><td>8.22</td><td>8.08</td><td>8.05</td><td>8.22</td><td>8.16</td><td>7.92</td><td>7.81</td><td>8.25</td><td>8</td></tr>
<tr><td>Interest</td><td>15.83</td><td>15.53</td><td>15.5</td><td>13.3</td><td>9.91</td><td>9.02</td><td>7.95</td><td>6.02</td><td>7.74</td><td>8.05</td></tr>
<tr><td>Profit before tax</td><td>7.79</td><td>9.79</td><td>23.25</td><td>1.03</td><td>13.89</td><td>75.88</td><td>59.09</td><td>25.74</td><td>37.04</td><td>43.77</td></tr>
<tr><td>Tax</td><td>-3.52</td><td>-0.48</td><td></td><td></td><td></td><td></td><td>-0.01</td><td></td><td></td><td></td></tr>
<tr><td>Net profit</td><td>11.3</td><td>10.27</td><td>23.25</td><td>1.04</td><td>13.88</td><td>75.88</td><td>59.1</td><td>25.75</td><td>37.04</td><td>43.77</td></tr>
<tr><td>Operating Profit</td><td>30.54</td><td>32.42</td><td>25.79</td><td>21.71</td><td>31.43</td><td>40.56</td><td>43.47</td><td>38.4</td><td>47.42</td><td>51.39</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>123.77</td><td>124.76</td><td>124.76</td><td>124.76</td><td>124.76</td><td>125.13</td><td>125.13</td><td>125.43</td><td>158.62</td><td>185.34</td></tr>
<tr><td>Reserves</td><td>459.1</td><td>417.46</td><td>131.02</td><td>-104.32</td><td>-254.8</td><td>-412.35</td><td>-142.51</td><td>-181.15</td><td>-37.36</td><td>288.78</td></tr>
<tr><td>Borrowings</td><td>831.84</td><td>825.02</td><td>884.89</td><td>1072.12</td><td>1031.49</td><td>1110.89</td><td>578.61</td><td>702.46</td><td>585.18</td><td>255.54</td></tr>
<tr><td>Other Liabilities</td><td>249.9</td><td>349.12</td><td>387.33</td><td>257.79</td><td>382.65</td><td>457.39</td><td>518.83</td><td>364.78</td><td>306.84</td><td>281.88</td></tr>
<tr><td>Total</td><td>1664.61</td><td>1716.36</td><td>1528</td><td>1350.35</td><td>1284.1</td><td>1281.06</td><td>1080.06</td><td>1011.52</td><td>1013.28</td><td>1011.54</td></tr>
<tr><td>Net Block</td><td>460.87</td><td>608.4</td><td>579.35</td><td>541.58</td><td>587.48</td><td>551.59</td><td>501.72</td><td>468.57</td><td>439.28</td><td>420.03</td></tr>
<tr><td>Capital Work in Progress</td><td>233.75</td><td>123.13</td><td>124.41</td><td>124.13</td><td>113.25</td><td>114.28</td><td>100.36</td><td>100.1</td><td>100.22</td><td>0.11</td></tr>
<tr><td>Investments</td><td>1.73</td><td>2.7</td><td>0.04</td><td>0.04</td><td>0.04</td><td>3.48</td><td>0.04</td><td>0.04</td><td>0.04</td><td>22.61</td></tr>
<tr><td>Other Assets</td><td>968.26</td><td>982.13</td><td>824.2</td><td>684.6</td><td>583.33</td><td>611.71</td><td>477.94</td><td>442.81</td><td>473.74</td><td>568.79</td></tr>
<tr><td>Total</td><td>1664.61</td><td>1716.36</td><td>1528</td><td>1350.35</td><td>1284.1</td><td>1281.06</td><td>1080.06</td><td>1011.52</td><td>1013.28</td><td>1011.54</td></tr>
<tr><td>Receivables</td><td>222.43</td><td>148.5</td><td>114.72</td><td>149.66</td><td>173.14</td><td>240.99</td><td>243.38</td><td>181.1</td><td>236.77</td><td>338.81</td></tr>
<tr><td>Inventory</td><td>132.56</td><td>126.2</td><td>101.68</td><td>88.22</td><td>79.98</td><td>97.8</td><td>60.1</td><td>72.08</td><td>72.32</td><td>116.21</td></tr>
<tr><td>Cash & Bank</td><td>18.73</td><td>33.48</td><td>10.5</td><td>6.01</td><td>68.33</td><td>53.06</td><td>39.71</td><td>48.11</td><td>70.62</td><td>44.17</td></tr>
<tr><td>No. of Equity Shares</td><td>123769640</td><td>124756120</td><td>124756120</td><td>124756115</td><td>124756115</td><td>125133765</td><td>125133765</td><td>125434603</td><td>158621804</td><td>185339999</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>55.99</td><td>213.1</td><td>13.42</td><td>25.92</td><td>174.75</td><td>90.77</td><td>190.79</td><td>85.47</td><td>65.11</td><td>71.29</td></tr>
<tr><td>Cash from Investing Activity</td><td>-122.51</td><td>-85.08</td><td>-3.44</td><td>-2.35</td><td>-7.83</td><td>-3.13</td><td>4.64</td><td>-0.32</td><td>-25.89</td><td>-11.77</td></tr>
<tr><td>Cash from Financing Activity</td><td>54.56</td><td>-112.68</td><td>-27.06</td><td>-28.19</td><td>-104.96</td><td>-104.31</td><td>-208.26</td><td>-77.62</td><td>-41.34</td><td>-67.45</td></tr>
<tr><td>Net Cash Flow</td><td>-11.96</td><td>15.34</td><td>-17.09</td><td>-4.62</td><td>61.96</td><td>-16.67</td><td>-12.83</td><td>7.53</td><td>-2.12</td><td>-7.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>55.6</td><td>19.8</td><td>16.05</td><td>13.7</td><td>18.75</td><td>14.5</td><td>15.1</td><td>29.45</td><td>66.65</td><td>112.7</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>12.38</td><td>12.48</td><td>12.48</td><td>12.48</td><td>12.48</td><td>12.51</td><td>12.51</td><td>12.54</td><td>15.86</td><td>18.53</td></tr>
</table>
</body>
</html>