<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Titan Company</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TITAN COMPANY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>3244.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>287997.92</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>11913.41</td><td>11275.89</td><td>13260.83</td><td>16119.77</td><td>19778.52</td><td>21052</td><td>21644</td><td>28799</td><td>40575</td><td>51084</td></tr>
<tr><td>Raw Material Cost</td><td>8955.86</td><td>8372.17</td><td>9821.14</td><td>12664.83</td><td>15170.66</td><td>16033</td><td>16292</td><td>26436</td><td>32589</td><td>42103</td></tr>
<tr><td>Change in Inventory</td><td>204.37</td><td>191.43</td><td>313.71</td><td>978.61</td><td>776.41</td><td>878</td><td>-122</td><td>4795</td><td>2234</td><td>2671</td></tr>
<tr><td>Power and Fuel</td><td>40.18</td><td>41.2</td><td>43.84</td><td>45.32</td><td>48.51</td><td>52</td><td>37</td><td>45</td><td>59</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>187.15</td><td>261.7</td><td>160.42</td><td>124.83</td><td>193.28</td><td>215</td><td>141</td><td>183</td><td>225</td><td></td></tr>
<tr><td>Employee Cost</td><td>636.48</td><td>699.69</td><td>894.32</td><td>906.26</td><td>1024.44</td><td>1204</td><td>1069</td><td>1356</td><td>1656</td><td>1864</td></tr>
<tr><td>Selling and admin</td><td>833.49</td><td>846.43</td><td>1211.16</td><td>1277.81</td><td>1454.32</td><td>1470</td><td>1029</td><td>1697</td><td>2715</td><td>1148</td></tr>
<tr><td>Other Expenses</td><td>312.04</td><td>306.8</td><td>279.76</td><td>435.13</td><td>669.93</td><td>493</td><td>1229</td><td>533</td><td>683</td><td>3348</td></tr>
<tr><td>Other Income</td><td>66.57</td><td>69.33</td><td>-42.38</td><td>69.93</td><td>178.48</td><td>153</td><td>180</td><td>177</td><td>306</td><td>534</td></tr>
<tr><td>Depreciation</td><td>89.57</td><td>98.19</td><td>110.53</td><td>131.43</td><td>162.84</td><td>348</td><td>375</td><td>399</td><td>441</td><td>584</td></tr>
<tr><td>Interest</td><td>80.69</td><td>42.36</td><td>37.74</td><td>52.92</td><td>52.54</td><td>166</td><td>203</td><td>218</td><td>300</td><td>619</td></tr>
<tr><td>Profit before tax</td><td>1048.89</td><td>868.11</td><td>973.25</td><td>1529.78</td><td>1956.89</td><td>2102</td><td>1327</td><td>2904</td><td>4447</td><td>4623</td></tr>
<tr><td>Tax</td><td>232.64</td><td>191.59</td><td>275.97</td><td>427.87</td><td>568.24</td><td>609</td><td>353</td><td>706</td><td>1173</td><td>1127</td></tr>
<tr><td>Net profit</td><td>816.26</td><td>674.52</td><td>711.47</td><td>1130.09</td><td>1404.15</td><td>1501</td><td>973</td><td>2173</td><td>3250</td><td>3496</td></tr>
<tr><td>Dividend Amount</td><td>204.19</td><td>195.32</td><td>230.83</td><td>332.92</td><td>443.9</td><td>356</td><td>356</td><td>667.5</td><td>890</td><td>979</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>10037</td><td>7796</td><td>9443</td><td>9163</td><td>11609</td><td>10360</td><td>11897</td><td>12529</td><td>14164</td><td>12494</td></tr>
<tr><td>Expenses</td><td>8595</td><td>7002</td><td>8247</td><td>7916</td><td>10262</td><td>9271</td><td>10772</td><td>11118</td><td>12599</td><td>11303</td></tr>
<tr><td>Other Income</td><td>57</td><td>22</td><td>44</td><td>61</td><td>90</td><td>114</td><td>114</td><td>125</td><td>136</td><td>159</td></tr>
<tr><td>Depreciation</td><td>98</td><td>102</td><td>103</td><td>106</td><td>113</td><td>119</td><td>128</td><td>144</td><td>154</td><td>158</td></tr>
<tr><td>Interest</td><td>57</td><td>61</td><td>65</td><td>60</td><td>79</td><td>96</td><td>109</td><td>140</td><td>169</td><td>201</td></tr>
<tr><td>Profit before tax</td><td>1344</td><td>653</td><td>1072</td><td>1142</td><td>1245</td><td>988</td><td>1002</td><td>1252</td><td>1378</td><td>991</td></tr>
<tr><td>Tax</td><td>332</td><td>126</td><td>282</td><td>307</td><td>332</td><td>252</td><td>246</td><td>336</td><td>325</td><td>220</td></tr>
<tr><td>Net profit</td><td>1004</td><td>510</td><td>785</td><td>831</td><td>904</td><td>730</td><td>753</td><td>915</td><td>1053</td><td>771</td></tr>
<tr><td>Operating Profit</td><td>1442</td><td>794</td><td>1196</td><td>1247</td><td>1347</td><td>1089</td><td>1125</td><td>1411</td><td>1565</td><td>1191</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>89</td><td>89</td><td>89</td><td>89</td><td>89</td></tr>
<tr><td>Reserves</td><td>2995.09</td><td>3417.5</td><td>4143.6</td><td>5001.1</td><td>5981.37</td><td>6580</td><td>7408</td><td>9214</td><td>11762</td><td>9304</td></tr>
<tr><td>Borrowings</td><td>99.79</td><td>113.05</td><td>1882.43</td><td>1691.01</td><td>2392.98</td><td>3562</td><td>5638</td><td>7275</td><td>9367</td><td>15528</td></tr>
<tr><td>Other Liabilities</td><td>2684.3</td><td>2722.58</td><td>2292.76</td><td>2740.15</td><td>3246.71</td><td>3313</td><td>3309</td><td>4610</td><td>5802</td><td>6629</td></tr>
<tr><td>Total</td><td>5867.96</td><td>6341.91</td><td>8407.57</td><td>9521.04</td><td>11709.84</td><td>13544</td><td>16444</td><td>21188</td><td>27020</td><td>31550</td></tr>
<tr><td>Net Block</td><td>699.11</td><td>770.54</td><td>1188.72</td><td>1473.81</td><td>1566.63</td><td>2633</td><td>2523</td><td>2544</td><td>2998</td><td>3718</td></tr>
<tr><td>Capital Work in Progress</td><td>55.19</td><td>106.71</td><td>152.07</td><td>43.37</td><td>31.77</td><td>18</td><td>32</td><td>85</td><td>144</td><td>88</td></tr>
<tr><td>Investments</td><td>3.1</td><td>30.41</td><td>430.73</td><td>35.99</td><td>108.42</td><td>158</td><td>2824</td><td>294</td><td>2515</td><td>2345</td></tr>
<tr><td>Other Assets</td><td>5110.56</td><td>5434.25</td><td>6636.05</td><td>7967.87</td><td>10003.02</td><td>10735</td><td>11065</td><td>18265</td><td>21363</td><td>25399</td></tr>
<tr><td>Total</td><td>5867.96</td><td>6341.91</td><td>8407.57</td><td>9521.04</td><td>11709.84</td><td>13544</td><td>16444</td><td>21188</td><td>27020</td><td>31550</td></tr>
<tr><td>Receivables</td><td>189.73</td><td>192.5</td><td>207.6</td><td>295.69</td><td>420.45</td><td>312</td><td>366</td><td>565</td><td>674</td><td>1018</td></tr>
<tr><td>Inventory</td><td>4049.3</td><td>4447.15</td><td>4925.74</td><td>5924.84</td><td>7038.82</td><td>8103</td><td>8408</td><td>13609</td><td>16584</td><td>19051</td></tr>
<tr><td>Cash & Bank</td><td>213.81</td><td>116.35</td><td>778.93</td><td>617.91</td><td>1066.48</td><td>381</td><td>560</td><td>1573</td><td>1343</td><td>1526</td></tr>
<tr><td>No. of Equity Shares</td><td>887786160</td><td>887786160</td><td>887786160</td><td>887786160</td><td>887786160</td><td>887786160</td><td>887786160</td><td>887786160</td><td>890000000</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>502.6</td><td>576.09</td><td>1712.3</td><td>-51.12</td><td>1242.92</td><td>-348</td><td>4139</td><td>-724</td><td>1370</td><td>1695</td></tr>
<tr><td>Cash from Investing Activity</td><td>-118.03</td><td>-158.79</td><td>-953.15</td><td>97.62</td><td>-796.61</td><td>235</td><td>-2799</td><td>1165</td><td>-1814</td><td>-189</td></tr>
<tr><td>Cash from Financing Activity</td><td>-1004.65</td><td>-504.84</td><td>-165.6</td><td>-252.45</td><td>-488.83</td><td>-242</td><td>-1234</td><td>-403</td><td>457</td><td>-1329</td></tr>
<tr><td>Net Cash Flow</td><td>-620.08</td><td>-87.54</td><td>593.55</td><td>-205.95</td><td>-42.52</td><td>-355</td><td>106</td><td>38</td><td>13</td><td>177</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>392</td><td>338.8</td><td>462.75</td><td>942.3</td><td>1141.85</td><td>933.7</td><td>1558.05</td><td>2536.15</td><td>2514.9</td><td>3801.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td><td>88.78</td></tr>
</table>
</body>
</html>