<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Tube Investments</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>TUBE INVESTMENTS OF INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>3948.35</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>76664.95</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>4479.42</td><td>4999.95</td><td>5773.05</td><td>4750.39</td><td>6083.29</td><td>12447.43</td><td>14964.73</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>2749.99</td><td>2997.3</td><td>3571.98</td><td>2560.97</td><td>3749.68</td><td>8419.65</td><td>9858.16</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td>115.44</td><td>-0.89</td><td>38.6</td><td>-142.83</td><td>107.65</td><td>131.5</td><td>27.9</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>157.51</td><td>176.39</td><td>194.37</td><td>157.41</td><td>163.52</td><td>240.1</td><td>273.47</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>408.91</td><td>432.48</td><td>445.07</td><td>368.93</td><td>438.58</td><td>697.81</td><td>826.06</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>514.6</td><td>564.55</td><td>607.28</td><td>611.63</td><td>734.57</td><td>1036.69</td><td>1206.29</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>299.64</td><td>351.95</td><td>358.87</td><td>265.5</td><td>281.13</td><td>599.28</td><td>689.14</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>58.12</td><td>102.59</td><td>101.19</td><td>61.34</td><td>182.57</td><td>135.16</td><td>256.17</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>40.96</td><td>55.31</td><td>62.33</td><td>40.35</td><td>69.58</td><td>147.13</td><td>317.95</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>148.9</td><td>153.54</td><td>161.58</td><td>185.27</td><td>251.3</td><td>346.58</td><td>395.86</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>77.05</td><td>61.74</td><td>56</td><td>33.65</td><td>46.95</td><td>98.92</td><td>57.78</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>221.1</td><td>213.83</td><td>377.64</td><td>403.21</td><td>412.22</td><td>1151.87</td><td>1747.65</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>46.75</td><td>58.32</td><td>126.81</td><td>89.94</td><td>107.53</td><td>160.83</td><td>422.59</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>167.62</td><td>147.39</td><td>240.42</td><td>306.34</td><td>286.32</td><td>768.83</td><td>955.58</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td>24.38</td><td>46.92</td><td>65.76</td><td>67.48</td><td>67.52</td><td>67.58</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>3262.76</td><td>3410.1</td><td>3392.93</td><td>3776.35</td><td>3766.98</td><td>3643.16</td><td>3778.24</td><td>3897.66</td><td>4305.62</td><td>4196.94</td></tr>
<tr><td>Expenses</td><td>2882.7</td><td>2969.29</td><td>3041.94</td><td>3379.34</td><td>3256.24</td><td>3173.67</td><td>3287.46</td><td>3430.78</td><td>3743.67</td><td>3728.07</td></tr>
<tr><td>Other Income</td><td>26.37</td><td>45.66</td><td>36.76</td><td>28.96</td><td>6.87</td><td>95.31</td><td>186.81</td><td>42.02</td><td>58.85</td><td>609.32</td></tr>
<tr><td>Depreciation</td><td>91.39</td><td>91.04</td><td>75.86</td><td>85.18</td><td>91.63</td><td>94.64</td><td>124.41</td><td>109.18</td><td>118.15</td><td>123.33</td></tr>
<tr><td>Interest</td><td>20.72</td><td>21.76</td><td>19.59</td><td>8.61</td><td>11.88</td><td>10.54</td><td>11.43</td><td>10.74</td><td>13.08</td><td>13.45</td></tr>
<tr><td>Profit before tax</td><td>294.32</td><td>373.67</td><td>292.3</td><td>332.18</td><td>414.1</td><td>459.62</td><td>541.75</td><td>388.98</td><td>489.57</td><td>941.41</td></tr>
<tr><td>Tax</td><td>62.34</td><td>-16.37</td><td>67.08</td><td>85.64</td><td>137.17</td><td>135.44</td><td>64.35</td><td>105.38</td><td>148.57</td><td>117.55</td></tr>
<tr><td>Net profit</td><td>186.05</td><td>278.88</td><td>178.8</td><td>194.56</td><td>213.89</td><td>235.29</td><td>311.84</td><td>214.88</td><td>263.37</td><td>531.06</td></tr>
<tr><td>Operating Profit</td><td>380.06</td><td>440.81</td><td>350.99</td><td>397.01</td><td>510.74</td><td>469.49</td><td>490.78</td><td>466.88</td><td>561.95</td><td>468.87</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td>0.11</td><td>18.74</td><td>18.75</td><td>18.77</td><td>18.79</td><td>19.28</td><td>19.29</td><td>19.31</td></tr>
<tr><td>Reserves</td><td></td><td></td><td>-0.06</td><td>1168.85</td><td>1253.56</td><td>1456.63</td><td>1714.91</td><td>2152.5</td><td>3051.79</td><td>3931.32</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>850.56</td><td>776.36</td><td>611.29</td><td>414.24</td><td>1972.4</td><td>870.91</td><td>726.07</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>1096.8</td><td>1262.94</td><td>1262.7</td><td>932.33</td><td>4892.15</td><td>4932.27</td><td>5543.31</td></tr>
<tr><td>Total</td><td></td><td></td><td>0.05</td><td>3134.95</td><td>3311.61</td><td>3349.39</td><td>3080.27</td><td>9036.33</td><td>8874.26</td><td>10220.01</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>1306.2</td><td>1357.66</td><td>1428.83</td><td>1514.6</td><td>3477.45</td><td>3324.47</td><td>3592.62</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>33.87</td><td>90.1</td><td>68.86</td><td>58.49</td><td>135.34</td><td>128.28</td><td>191.37</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>201.68</td><td>133.54</td><td>132.45</td><td>185.8</td><td>369.06</td><td>541.76</td><td>729.24</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td>0.05</td><td>1593.2</td><td>1730.31</td><td>1719.25</td><td>1321.38</td><td>5054.48</td><td>4879.75</td><td>5706.78</td></tr>
<tr><td>Total</td><td></td><td></td><td>0.05</td><td>3134.95</td><td>3311.61</td><td>3349.39</td><td>3080.27</td><td>9036.33</td><td>8874.26</td><td>10220.01</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>614.99</td><td>697.01</td><td>648.13</td><td>524.64</td><td>1278.52</td><td>1785.34</td><td>2128.9</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>731.27</td><td>760.86</td><td>814.79</td><td>558.62</td><td>1109.36</td><td>1327.11</td><td>1352.91</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td>0.05</td><td>23.94</td><td>32.46</td><td>56.01</td><td>37.81</td><td>575.54</td><td>572.66</td><td>953.6</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td>110000</td><td>187447871</td><td>187536368</td><td>187711281</td><td>187875429</td><td>192816871</td><td>193121076</td><td>193121076</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td>10</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td>-0.01</td><td>382.88</td><td>409.07</td><td>493.39</td><td>596.06</td><td>268.44</td><td>895.58</td><td>1385.69</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td>0.06</td><td>316</td><td>-181.09</td><td>-195.64</td><td>-245.89</td><td>-62.95</td><td>-78.7</td><td>-849.87</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>-684.57</td><td>-290.81</td><td>-280.37</td><td>-284.12</td><td>285.71</td><td>-920.85</td><td>-74.68</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td>0.05</td><td>14.31</td><td>-62.83</td><td>17.38</td><td>66.05</td><td>491.2</td><td>-103.97</td><td>461.14</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td>222.4</td><td>383.2</td><td>273.9</td><td>1193.35</td><td>1624.7</td><td>2546.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>18.75</td><td>18.77</td><td>18.79</td><td>19.28</td><td>19.3</td><td>19.31</td></tr>
</table>
</body>
</html>