<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\UTI AMC</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>UTI ASSET MANAGEMENT COMPANY LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>898.15</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>11431.47</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>497.4</td><td>502.01</td><td>934.21</td><td>1134.45</td><td>1050.51</td><td>854.08</td><td>1168.55</td><td>1319.13</td><td>1266.91</td><td>1736.96</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>3.6</td><td>3.61</td><td>4.98</td><td>5.78</td><td>5.4</td><td>5.71</td><td>3.5</td><td>4.1</td><td>4.63</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>6.65</td><td>8.08</td><td>15.11</td><td>16.15</td><td>21.33</td><td>22.18</td><td>20.9</td><td>21.06</td><td>23.52</td><td></td></tr>
<tr><td>Employee Cost</td><td>166.82</td><td>171.62</td><td>285.43</td><td>305.44</td><td>307.52</td><td>341.22</td><td>382.08</td><td>409.31</td><td>417.82</td><td>439.33</td></tr>
<tr><td>Selling and admin</td><td>61.99</td><td>62.69</td><td>123.76</td><td>120.73</td><td>120.73</td><td>125.46</td><td>92.33</td><td>171.2</td><td>189.66</td><td></td></tr>
<tr><td>Other Expenses</td><td>52.76</td><td>52.28</td><td>69.63</td><td>128.49</td><td>97.27</td><td>10.97</td><td>27.09</td><td>15.33</td><td>19.19</td><td>264.23</td></tr>
<tr><td>Other Income</td><td>2.43</td><td>1.01</td><td>12.65</td><td>22.12</td><td>30.32</td><td>35.7</td><td>4.22</td><td>8.05</td><td>23.02</td><td>6.97</td></tr>
<tr><td>Depreciation</td><td>9.19</td><td>9.55</td><td>12.8</td><td>14.41</td><td>29.15</td><td>33.59</td><td>35.78</td><td>36.82</td><td>39.94</td><td>42.26</td></tr>
<tr><td>Interest</td><td></td><td></td><td>0.04</td><td></td><td>8.19</td><td>9.35</td><td>8.06</td><td>9.18</td><td>9.55</td><td>11.27</td></tr>
<tr><td>Profit before tax</td><td>198.82</td><td>195.19</td><td>435.11</td><td>565.57</td><td>491.24</td><td>341.3</td><td>603.03</td><td>660.18</td><td>585.62</td><td>986.84</td></tr>
<tr><td>Tax</td><td>60.08</td><td>48.56</td><td>114.43</td><td>163.95</td><td>143.32</td><td>66.38</td><td>108.7</td><td>125.59</td><td>145.94</td><td>184.81</td></tr>
<tr><td>Net profit</td><td>138.94</td><td>146.63</td><td>320.68</td><td>401.62</td><td>352.83</td><td>271.46</td><td>494.14</td><td>534.29</td><td>437.36</td><td>765.68</td></tr>
<tr><td>Dividend Amount</td><td>34.38</td><td>34.38</td><td>50.72</td><td>63.4</td><td>63.4</td><td>88.75</td><td>215.54</td><td>266.6</td><td>279.36</td><td>598.12</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>308.59</td><td>301.09</td><td>293.09</td><td>435</td><td>295.15</td><td>300.69</td><td>467.77</td><td>404.06</td><td>449.05</td><td>416.08</td></tr>
<tr><td>Expenses</td><td>148.71</td><td>195.87</td><td>190.51</td><td>165</td><td>177.82</td><td>178.72</td><td>167.98</td><td>172.54</td><td>176.2</td><td>187.58</td></tr>
<tr><td>Other Income</td><td>-0.02</td><td>3.83</td><td>12.87</td><td>4.13</td><td>-1.76</td><td>7.99</td><td>0.8</td><td>1.52</td><td>1.16</td><td>4.23</td></tr>
<tr><td>Depreciation</td><td>9.3</td><td>9.47</td><td>9.57</td><td>9.97</td><td>10.28</td><td>10.12</td><td>9.63</td><td>10.44</td><td>10.43</td><td>11.76</td></tr>
<tr><td>Interest</td><td>2.55</td><td>2.24</td><td>2.3</td><td>2.38</td><td>2.46</td><td>2.41</td><td>2.54</td><td>2.84</td><td>2.88</td><td>3.01</td></tr>
<tr><td>Profit before tax</td><td>148.01</td><td>97.34</td><td>103.58</td><td>261.78</td><td>102.83</td><td>117.43</td><td>288.42</td><td>219.76</td><td>260.7</td><td>217.96</td></tr>
<tr><td>Tax</td><td>21.08</td><td>43.43</td><td>12.08</td><td>59.74</td><td>42.39</td><td>31.73</td><td>54.01</td><td>36.95</td><td>57.33</td><td>36.52</td></tr>
<tr><td>Net profit</td><td>126.53</td><td>53.99</td><td>91.51</td><td>199.71</td><td>60.44</td><td>85.7</td><td>234.41</td><td>182.81</td><td>185.7</td><td>162.76</td></tr>
<tr><td>Operating Profit</td><td>159.88</td><td>105.22</td><td>102.58</td><td>270</td><td>117.33</td><td>121.97</td><td>299.79</td><td>231.52</td><td>272.85</td><td>228.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>125</td><td>125</td><td>126.79</td><td>126.79</td><td>126.79</td><td>126.79</td><td>126.79</td><td>126.95</td><td>126.98</td><td>127.26</td></tr>
<tr><td>Reserves</td><td>743.13</td><td>854.71</td><td>1789.04</td><td>2160.9</td><td>2477.59</td><td>2645.51</td><td>3125.18</td><td>3493.22</td><td>3740.86</td><td>4260.91</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Liabilities</td><td>218.34</td><td>202.36</td><td>204.76</td><td>262.41</td><td>408.89</td><td>392.98</td><td>398.38</td><td>362.87</td><td>307.09</td><td>952.85</td></tr>
<tr><td>Total</td><td>1086.47</td><td>1182.07</td><td>2120.59</td><td>2550.1</td><td>3013.27</td><td>3165.28</td><td>3650.35</td><td>3983.04</td><td>4174.93</td><td>5341.02</td></tr>
<tr><td>Net Block</td><td>208.33</td><td>201.41</td><td>277.67</td><td>272.81</td><td>351.22</td><td>372.67</td><td>359.58</td><td>357.33</td><td>368.41</td><td>411.63</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td>3.12</td><td>5.44</td><td>0.88</td><td>1.04</td><td>5.13</td><td>8.33</td><td>9.06</td><td>3.07</td></tr>
<tr><td>Investments</td><td>645.64</td><td>720.31</td><td>1542.78</td><td>1932.48</td><td>2261.37</td><td>2355.75</td><td>2746.88</td><td>2994.44</td><td>3247.9</td><td>4428.33</td></tr>
<tr><td>Other Assets</td><td>232.5</td><td>260.35</td><td>297.02</td><td>339.37</td><td>399.8</td><td>435.82</td><td>538.76</td><td>622.94</td><td>549.56</td><td>497.99</td></tr>
<tr><td>Total</td><td>1086.47</td><td>1182.07</td><td>2120.59</td><td>2550.1</td><td>3013.27</td><td>3165.28</td><td>3650.35</td><td>3983.04</td><td>4174.93</td><td>5341.02</td></tr>
<tr><td>Receivables</td><td>6.58</td><td>25.21</td><td>7.55</td><td>27.74</td><td>27.55</td><td>45.61</td><td>45.52</td><td>80.09</td><td>93.81</td><td>83.34</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Cash & Bank</td><td>46.95</td><td>62.48</td><td>110.17</td><td>149.24</td><td>124.18</td><td>119.25</td><td>331.74</td><td>398.55</td><td>357.21</td><td>319.98</td></tr>
<tr><td>No. of Equity Shares</td><td>125000000</td><td>125000000</td><td>126790000</td><td>126790000</td><td>126790000</td><td>126790000</td><td>126790000</td><td>126949041</td><td>126983695</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2011-03-31 00:00:00</td><td>2012-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td>72.45</td><td>323.66</td><td>316.45</td><td>122.71</td><td>180.53</td><td>152.93</td><td>337.04</td><td>395.43</td><td>325.12</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td>-21.88</td><td>-242.08</td><td>-232.89</td><td>-25.78</td><td>-101.82</td><td>-56.64</td><td>-59.81</td><td>-92.51</td><td>-145.79</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td>-35.04</td><td>-65.22</td><td>-44.49</td><td>-122.94</td><td>-83.64</td><td>-104.14</td><td>-215.23</td><td>-266.89</td><td>-237.88</td></tr>
<tr><td>Net Cash Flow</td><td></td><td>15.53</td><td>16.36</td><td>39.07</td><td>-26.01</td><td>-4.93</td><td>-7.85</td><td>62</td><td>36.03</td><td>-58.55</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td>583</td><td>994.6</td><td>641.95</td><td>813</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>12.5</td><td>12.5</td><td>12.68</td><td>12.68</td><td>12.68</td><td>12.68</td><td>12.68</td><td>12.69</td><td>12.7</td><td>12.73</td></tr>
</table>
</body>
</html>