<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Valor Estate</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>VALOR ESTATE LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>193</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>10379.34</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>318.2</td><td>263.44</td><td>205.9</td><td>140.91</td><td>119.86</td><td>365.21</td><td>169.19</td><td>24.56</td><td>219.43</td><td>698.24</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td>35.98</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td>52.59</td><td>311.6</td><td>312.94</td><td>147.92</td><td>414.28</td><td>165.41</td><td>-32.06</td><td>223.98</td><td>65.2</td><td>-765.83</td></tr>
<tr><td>Power and Fuel</td><td>0.37</td><td>4.03</td><td>0.52</td><td>0.44</td><td>0.58</td><td>0.5</td><td>0.41</td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>288.37</td><td>498.98</td><td>387.86</td><td>282.51</td><td>538.58</td><td>493.38</td><td>53.77</td><td>206.85</td><td>189.65</td><td>494.09</td></tr>
<tr><td>Employee Cost</td><td>12.16</td><td>18.23</td><td>21.91</td><td>19.87</td><td>22.4</td><td>14.4</td><td>10.99</td><td>8.73</td><td>6.96</td><td>12.7</td></tr>
<tr><td>Selling and admin</td><td>26.26</td><td>33.54</td><td>26.75</td><td>27.16</td><td>19.49</td><td>30.95</td><td>18.55</td><td>8.98</td><td>10.87</td><td>24.79</td></tr>
<tr><td>Other Expenses</td><td>2.45</td><td>3.48</td><td>104.55</td><td>41.85</td><td>191.29</td><td>91.95</td><td>288.9</td><td>132.97</td><td>174.93</td><td>115.4</td></tr>
<tr><td>Other Income</td><td>26.99</td><td>29.02</td><td>140.02</td><td>141.99</td><td>73.8</td><td>-33.52</td><td>96.94</td><td>282.3</td><td>526.69</td><td>708.87</td></tr>
<tr><td>Depreciation</td><td>8.25</td><td>14.32</td><td>14.37</td><td>10.79</td><td>5.89</td><td>1.91</td><td>1.19</td><td>1.32</td><td>0.69</td><td>0.42</td></tr>
<tr><td>Interest</td><td>37.83</td><td>52.83</td><td>86.15</td><td>95.6</td><td>119.02</td><td>160.3</td><td>260.94</td><td>333.81</td><td>285.72</td><td>54.41</td></tr>
<tr><td>Profit before tax</td><td>22.09</td><td>-21.35</td><td>-19.23</td><td>-47.4</td><td>-289.31</td><td>-296.29</td><td>-400.68</td><td>-161.82</td><td>142.5</td><td>-60.53</td></tr>
<tr><td>Tax</td><td>5.89</td><td>-23.87</td><td>3.73</td><td>26.98</td><td>11.66</td><td>-49.14</td><td>38.82</td><td>5.03</td><td>120.72</td><td>29.47</td></tr>
<tr><td>Net profit</td><td>11.55</td><td>0.57</td><td>-18.46</td><td>-59.72</td><td>-250.62</td><td>-265.16</td><td>-418.41</td><td>-169.73</td><td>26.93</td><td>-90.38</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>8.8</td><td>8.03</td><td>195.66</td><td>6.94</td><td>10.16</td><td>622.8</td><td>58.35</td><td>2.43</td><td>68.02</td><td>142.8</td></tr>
<tr><td>Expenses</td><td>124.76</td><td>28.74</td><td>155.44</td><td>19.93</td><td>25.42</td><td>1271.74</td><td>102.73</td><td>11.57</td><td>19.02</td><td>62.52</td></tr>
<tr><td>Other Income</td><td>15.73</td><td>6.6</td><td>527.04</td><td>39.42</td><td>598.99</td><td>45.49</td><td>31.96</td><td>6.26</td><td>915.3</td><td>401.07</td></tr>
<tr><td>Depreciation</td><td>0.19</td><td>0.15</td><td>0.14</td><td>0.09</td><td>0.11</td><td>0.12</td><td>0.11</td><td>0.13</td><td>0.09</td><td>13.6</td></tr>
<tr><td>Interest</td><td>190.83</td><td>22.13</td><td>6.2</td><td>12.47</td><td>8.76</td><td>13.48</td><td>19.7</td><td>21.78</td><td>23.38</td><td>5.09</td></tr>
<tr><td>Profit before tax</td><td>-291.25</td><td>-36.39</td><td>560.92</td><td>13.87</td><td>574.86</td><td>-617.05</td><td>-32.23</td><td>-24.79</td><td>940.83</td><td>462.66</td></tr>
<tr><td>Tax</td><td>60.85</td><td>-0.05</td><td>54.51</td><td>5.42</td><td>9.07</td><td>5.66</td><td>9.32</td><td>1.12</td><td>47.09</td><td>0.02</td></tr>
<tr><td>Net profit</td><td>-352.5</td><td>-34.49</td><td>506.3</td><td>12</td><td>568.67</td><td>-619.44</td><td>-51.62</td><td>-22.55</td><td>884.2</td><td>464.27</td></tr>
<tr><td>Operating Profit</td><td>-115.96</td><td>-20.71</td><td>40.22</td><td>-12.99</td><td>-15.26</td><td>-648.94</td><td>-44.38</td><td>-9.14</td><td>49</td><td>80.28</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>243.26</td><td>243.26</td><td>243.26</td><td>243.26</td><td>243.26</td><td>243.26</td><td>243.26</td><td>243.26</td><td>259.06</td><td>352.15</td></tr>
<tr><td>Reserves</td><td>3167.71</td><td>3168.27</td><td>2595.31</td><td>2531.05</td><td>2259.88</td><td>1996.5</td><td>1314.16</td><td>1092.54</td><td>1260.65</td><td>1534.45</td></tr>
<tr><td>Borrowings</td><td>657.53</td><td>1195.34</td><td>1269.6</td><td>1549.27</td><td>1687.17</td><td>2040.47</td><td>2127.8</td><td>2458</td><td>3662.04</td><td>2897.78</td></tr>
<tr><td>Other Liabilities</td><td>1441.33</td><td>1863.33</td><td>1887.67</td><td>2188.03</td><td>2455.77</td><td>2702.47</td><td>3012.13</td><td>3551.04</td><td>3579.52</td><td>3663.29</td></tr>
<tr><td>Total</td><td>5509.83</td><td>6470.2</td><td>5995.84</td><td>6511.61</td><td>6646.08</td><td>6982.7</td><td>6697.35</td><td>7344.84</td><td>8761.27</td><td>8447.67</td></tr>
<tr><td>Net Block</td><td>455.46</td><td>480.79</td><td>242.9</td><td>430.88</td><td>353.45</td><td>347.65</td><td>211.71</td><td>152.99</td><td>75.02</td><td>72.13</td></tr>
<tr><td>Capital Work in Progress</td><td>28.36</td><td>30.32</td><td>29.83</td><td></td><td>0.15</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Investments</td><td>1699.4</td><td>1706.68</td><td>1561.63</td><td>1556.01</td><td>1730.27</td><td>1741.26</td><td>1509.52</td><td>1399.34</td><td>1563.56</td><td>1727.96</td></tr>
<tr><td>Other Assets</td><td>3326.61</td><td>4252.41</td><td>4161.48</td><td>4524.72</td><td>4562.21</td><td>4893.79</td><td>4976.12</td><td>5792.51</td><td>7122.69</td><td>6647.58</td></tr>
<tr><td>Total</td><td>5509.83</td><td>6470.2</td><td>5995.84</td><td>6511.61</td><td>6646.08</td><td>6982.7</td><td>6697.35</td><td>7344.84</td><td>8761.27</td><td>8447.67</td></tr>
<tr><td>Receivables</td><td>157.58</td><td>136.2</td><td>57.76</td><td>78.31</td><td>56.04</td><td>90.19</td><td>84</td><td>74.61</td><td>223.4</td><td>68.55</td></tr>
<tr><td>Inventory</td><td>1621.3</td><td>2304.83</td><td>2172.61</td><td>2321.57</td><td>2734</td><td>2244.11</td><td>2158.68</td><td>2381.43</td><td>3348.03</td><td>2582.19</td></tr>
<tr><td>Cash & Bank</td><td>38.95</td><td>18.77</td><td>22.09</td><td>11.66</td><td>26.56</td><td>9.65</td><td>12.15</td><td>20.38</td><td>112.07</td><td>61.96</td></tr>
<tr><td>No. of Equity Shares</td><td>243258782</td><td>243258782</td><td>243258782</td><td>243258782</td><td>243258782</td><td>243258782</td><td>243258782</td><td>243258782</td><td>259058782</td><td>352154782</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>236.14</td><td>-208.41</td><td>-71.43</td><td>554.58</td><td>-40.5</td><td>-194.85</td><td>227</td><td>95.2</td><td>-266.62</td><td>96.34</td></tr>
<tr><td>Cash from Investing Activity</td><td>-225.57</td><td>-230.75</td><td>-393.59</td><td>-587.97</td><td>164.93</td><td>-36.23</td><td>-159.62</td><td>-165.41</td><td>274.52</td><td>-199.58</td></tr>
<tr><td>Cash from Financing Activity</td><td>0.67</td><td>416.91</td><td>472.29</td><td>-93.54</td><td>-102.37</td><td>326.01</td><td>-62.57</td><td>75.45</td><td>86.22</td><td>51.7</td></tr>
<tr><td>Net Cash Flow</td><td>11.24</td><td>-22.25</td><td>7.28</td><td>-126.93</td><td>22.06</td><td>94.93</td><td>4.82</td><td>5.24</td><td>94.12</td><td>-51.54</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>60.45</td><td>66.8</td><td>42.75</td><td>41.7</td><td>46.05</td><td>19.6</td><td>5.05</td><td>24.2</td><td>105.15</td><td>64.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>24.33</td><td>24.33</td><td>24.33</td><td>24.33</td><td>24.33</td><td>24.33</td><td>24.33</td><td>24.33</td><td>25.91</td><td>35.22</td></tr>
</table>
</body>
</html>