<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Vedant Fashions</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>VEDANT FASHIONS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>957.5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>23265.6</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td>758.08</td><td>800.74</td><td>915.55</td><td>564.82</td><td>1040.84</td><td>1354.93</td><td>1367.53</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td>232.13</td><td>210.95</td><td>261.1</td><td>126.25</td><td>285.85</td><td>371.74</td><td>334.92</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td>-0.27</td><td>0.38</td><td>24.52</td><td>-10</td><td>36.6</td><td>38.86</td><td>-28.6</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td>2.23</td><td>1.15</td><td>1.66</td><td>1.2</td><td>1.03</td><td>1.23</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td>68.52</td><td>70.26</td><td>81.2</td><td>52.88</td><td>97.21</td><td>110.87</td><td></td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td>48.96</td><td>47.21</td><td>53.3</td><td>38.11</td><td>58.04</td><td>57.83</td><td>56.78</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td>165.44</td><td>184</td><td>130.33</td><td>75.44</td><td>120.12</td><td>156.23</td><td></td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td>8.87</td><td>13.93</td><td>18.56</td><td>17.87</td><td>19.32</td><td>25.05</td><td>289.14</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td>10.51</td><td>19.06</td><td>32.27</td><td>60.2</td><td>49.93</td><td>40.24</td><td>69.67</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td>9.67</td><td>8.58</td><td>88.73</td><td>95.53</td><td>94.36</td><td>103.79</td><td>134.85</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td>6.04</td><td>4.35</td><td>25.61</td><td>25.82</td><td>28.43</td><td>31.46</td><td>44.5</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td>226.46</td><td>279.75</td><td>311.85</td><td>181.92</td><td>423.01</td><td>575.83</td><td>548.41</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td>78.57</td><td>97.58</td><td>75.2</td><td>49.01</td><td>108.1</td><td>146.73</td><td>134.23</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td>147.89</td><td>182.16</td><td>236.64</td><td>132.9</td><td>314.91</td><td>429.11</td><td>414.17</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td>50.1</td><td></td><td>121.35</td><td>218.52</td><td>206.46</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>384.75</td><td>296.25</td><td>324.95</td><td>246.92</td><td>441.43</td><td>341.63</td><td>311.62</td><td>218.3</td><td>474.46</td><td>363.16</td></tr>
<tr><td>Expenses</td><td>193.27</td><td>152.24</td><td>161.9</td><td>131.49</td><td>216.95</td><td>173.74</td><td>163.46</td><td>125.49</td><td>232.41</td><td>188.07</td></tr>
<tr><td>Other Income</td><td>11.38</td><td>11.1</td><td>7.11</td><td>9.71</td><td>9.98</td><td>13.44</td><td>14.98</td><td>15.11</td><td>15.47</td><td>24.11</td></tr>
<tr><td>Depreciation</td><td>24.36</td><td>26.89</td><td>26.4</td><td>24.89</td><td>25.05</td><td>27.44</td><td>29.91</td><td>32.46</td><td>34.43</td><td>38.06</td></tr>
<tr><td>Interest</td><td>7.55</td><td>8.64</td><td>7.84</td><td>7.73</td><td>7.46</td><td>8.44</td><td>9.42</td><td>10.69</td><td>11.18</td><td>13.22</td></tr>
<tr><td>Profit before tax</td><td>170.95</td><td>119.58</td><td>135.92</td><td>92.52</td><td>201.95</td><td>145.45</td><td>123.81</td><td>64.77</td><td>211.91</td><td>147.92</td></tr>
<tr><td>Tax</td><td>43.15</td><td>30.89</td><td>35.05</td><td>23.5</td><td>51.6</td><td>36.59</td><td>31.87</td><td>16.06</td><td>54.2</td><td>32.13</td></tr>
<tr><td>Net profit</td><td>127.8</td><td>88.7</td><td>100.87</td><td>69.02</td><td>150.35</td><td>108.87</td><td>91.95</td><td>48.72</td><td>157.71</td><td>115.79</td></tr>
<tr><td>Operating Profit</td><td>191.48</td><td>144.01</td><td>163.05</td><td>115.43</td><td>224.48</td><td>167.89</td><td>148.16</td><td>92.81</td><td>242.05</td><td>175.09</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td>23.12</td><td>25.05</td><td>25.05</td><td>24.79</td><td>24.27</td><td>24.28</td><td>24.29</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td>681.87</td><td>863.46</td><td>1040.97</td><td>1066.62</td><td>1058.47</td><td>1375.6</td><td>1577.59</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td>12.69</td><td></td><td>316.42</td><td>210.37</td><td>278.7</td><td>293.38</td><td>444.42</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td>220.85</td><td>257.26</td><td>208.51</td><td>322.31</td><td>407.02</td><td>472.02</td><td>462.46</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>938.53</td><td>1145.77</td><td>1590.95</td><td>1624.09</td><td>1768.46</td><td>2165.28</td><td>2508.76</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td>316.27</td><td>253.06</td><td>506.62</td><td>458.92</td><td>514.6</td><td>520.44</td><td>663.49</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td>0.67</td><td>2.48</td><td>0.25</td><td>0.39</td><td>0.1</td><td>2.19</td><td></td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td>138.2</td><td>194.41</td><td>400.98</td><td>535.57</td><td>512.42</td><td>787.13</td><td>959.22</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td>483.39</td><td>695.82</td><td>683.1</td><td>629.21</td><td>741.34</td><td>855.52</td><td>886.05</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td>938.53</td><td>1145.77</td><td>1590.95</td><td>1624.09</td><td>1768.46</td><td>2165.28</td><td>2508.76</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td>316.59</td><td>332.74</td><td>372.06</td><td>361.24</td><td>396.74</td><td>473.44</td><td>564.52</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td>89.39</td><td>90.95</td><td>120.86</td><td>101.24</td><td>143</td><td>173.65</td><td>138.63</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td>5.02</td><td>119.39</td><td>19.9</td><td>7.11</td><td>3.87</td><td>10.01</td><td>21.71</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td>115585170</td><td>125227420</td><td>125227420</td><td>123933299</td><td>242703089</td><td>242779990</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td><td>1</td><td>1</td><td>1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td>52.39</td><td>176.71</td><td>243.45</td><td>252.62</td><td>351.02</td><td>469.81</td><td>483.08</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td>-279.41</td><td>-162.89</td><td>-95.74</td><td>-88.42</td><td>56.46</td><td>-231.93</td><td>-109.52</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td>223.55</td><td>-12.86</td><td>-140.98</td><td>-166.46</td><td>-410.48</td><td>-231.75</td><td>-361.6</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td>-3.46</td><td>0.96</td><td>6.73</td><td>-2.26</td><td>-3</td><td>6.14</td><td>11.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>966.95</td><td>1139.15</td><td>926.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td>12.51</td><td>12.52</td><td>12.52</td><td>12.39</td><td>24.27</td><td>24.28</td><td>24.29</td></tr>
</table>
</body>
</html>