<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Vodafone Idea</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>VODAFONE IDEA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>12.65</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>84035.4</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>26518.91</td><td>31570.89</td><td>35949.41</td><td>35575.74</td><td>28278.9</td><td>37092.5</td><td>44957.5</td><td>41952.2</td><td>38515.5</td><td>42177.2</td></tr>
<tr><td>Raw Material Cost</td><td>194.14</td><td>138.33</td><td>28.9</td><td>27.92</td><td>7.3</td><td>26</td><td>3.9</td><td>3</td><td>7</td><td>7.8</td></tr>
<tr><td>Change in Inventory</td><td>1.44</td><td>-6.83</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>2317.44</td><td>2458.96</td><td>2577.72</td><td>3118.74</td><td>3114</td><td>5805.8</td><td>6189</td><td>5603.9</td><td>5720.6</td><td>5825.8</td></tr>
<tr><td>Other Mfr. Exp</td><td>13345.11</td><td>15479.97</td><td>18498.84</td><td>18568.29</td><td>15977.8</td><td>22425.2</td><td>18997.7</td><td>15546.1</td><td>13522</td><td>16182.9</td></tr>
<tr><td>Employee Cost</td><td>1312.26</td><td>1555.15</td><td>1627.23</td><td>1798.13</td><td>1543.4</td><td>2295</td><td>2165.4</td><td>2030.9</td><td>1736.3</td><td>1867.3</td></tr>
<tr><td>Selling and admin</td><td>824.72</td><td>866.41</td><td>888.03</td><td>1392.58</td><td>1223.3</td><td>1633</td><td>1550.2</td><td>933.2</td><td>1124.7</td><td>1132.4</td></tr>
<tr><td>Other Expenses</td><td>244.75</td><td>265.55</td><td>660.51</td><td>442.62</td><td>358.6</td><td>791.2</td><td>1135.5</td><td>888.8</td><td>436.7</td><td>408.2</td></tr>
<tr><td>Other Income</td><td>247.33</td><td>496.67</td><td>641.2</td><td>746.38</td><td>702.8</td><td>1789.1</td><td>-36963.7</td><td>-19563</td><td>362.8</td><td>353.6</td></tr>
<tr><td>Depreciation</td><td>4519.4</td><td>5303.62</td><td>6256.07</td><td>7827.2</td><td>8409.1</td><td>14535.6</td><td>24356.4</td><td>23638.5</td><td>23584.3</td><td>23049.7</td></tr>
<tr><td>Interest</td><td>965.59</td><td>1060.21</td><td>1803.18</td><td>4009.87</td><td>4847.4</td><td>9545.2</td><td>15392.7</td><td>17998.2</td><td>20980.8</td><td>23354.3</td></tr>
<tr><td>Profit before tax</td><td>3044.27</td><td>4932.53</td><td>4250.13</td><td>-863.23</td><td>-6499.2</td><td>-18175.4</td><td>-61797</td><td>-44253.4</td><td>-28234.1</td><td>-29297.6</td></tr>
<tr><td>Tax</td><td>1076.44</td><td>1739.63</td><td>1522</td><td>-463.54</td><td>-2331</td><td>-3571.5</td><td>12081.1</td><td>-20.3</td><td>11.3</td><td>3.5</td></tr>
<tr><td>Net profit</td><td>1967.82</td><td>3192.91</td><td>2728.13</td><td>-399.7</td><td>-4168.2</td><td>-14603.9</td><td>-73878.1</td><td>-44233.1</td><td>-28245.4</td><td>-29301.1</td></tr>
<tr><td>Dividend Amount</td><td>132.79</td><td>215.87</td><td>216.03</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>9406.4</td><td>9717.3</td><td>10239.5</td><td>10410.1</td><td>10614.6</td><td>10620.6</td><td>10531.9</td><td>10655.5</td><td>10716.3</td><td>10673.1</td></tr>
<tr><td>Expenses</td><td>5543.5</td><td>5900.8</td><td>5590.5</td><td>6081.7</td><td>6517.2</td><td>6439.8</td><td>6321.6</td><td>6499.1</td><td>6434.7</td><td>6323.8</td></tr>
<tr><td>Other Income</td><td>42.9</td><td>21.2</td><td>18.9</td><td>83.9</td><td>96</td><td>38.2</td><td>71.4</td><td>21.3</td><td>34.5</td><td>780.4</td></tr>
<tr><td>Depreciation</td><td>5922.7</td><td>5738.8</td><td>5913</td><td>5804.3</td><td>5655.7</td><td>5886</td><td>5703.7</td><td>5616.5</td><td>5667.3</td><td>5598.4</td></tr>
<tr><td>Interest</td><td>5111.4</td><td>5324.8</td><td>5316.2</td><td>5900.9</td><td>6129.1</td><td>6322.7</td><td>5001.6</td><td>6398.2</td><td>6569</td><td>6518</td></tr>
<tr><td>Profit before tax</td><td>-7128.3</td><td>-7225.9</td><td>-6561.3</td><td>-7292.9</td><td>-7591.4</td><td>-7989.7</td><td>-6423.6</td><td>-7837</td><td>-7920.2</td><td>-6986.7</td></tr>
<tr><td>Tax</td><td>4</td><td>5</td><td>1.8</td><td>3.8</td><td>4.1</td><td>0.3</td><td>-4.7</td><td>3</td><td>817.7</td><td>-0.8</td></tr>
<tr><td>Net profit</td><td>-7132.3</td><td>-7230.9</td><td>-6563.1</td><td>-7296.7</td><td>-7595.5</td><td>-7990</td><td>-6418.9</td><td>-7840</td><td>-8737.9</td><td>-6985.9</td></tr>
<tr><td>Operating Profit</td><td>3862.9</td><td>3816.5</td><td>4649</td><td>4328.4</td><td>4097.4</td><td>4180.8</td><td>4210.3</td><td>4156.4</td><td>4281.6</td><td>4349.3</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>3319.63</td><td>3597.84</td><td>3600.51</td><td>3605.33</td><td>4359.3</td><td>8735.6</td><td>28735.4</td><td>28735.4</td><td>32118.8</td><td>48679.7</td></tr>
<tr><td>Reserves</td><td>13205.42</td><td>19429.47</td><td>19949.98</td><td>21126.92</td><td>22903.2</td><td>50899.2</td><td>-22755.5</td><td>-66963.4</td><td>-94083.6</td><td>-123038.8</td></tr>
<tr><td>Borrowings</td><td>20634.92</td><td>26859.09</td><td>40541.31</td><td>55054.55</td><td>57985.1</td><td>125939.9</td><td>114995.5</td><td>201720.2</td><td>213761.1</td><td>237766</td></tr>
<tr><td>Other Liabilities</td><td>9397.49</td><td>10580.42</td><td>16033.71</td><td>16881</td><td>13263.7</td><td>44077.7</td><td>105942.2</td><td>39986.2</td><td>42232.8</td><td>43835.8</td></tr>
<tr><td>Total</td><td>46557.46</td><td>60466.82</td><td>80125.51</td><td>96667.8</td><td>98511.3</td><td>229652.4</td><td>226917.6</td><td>203478.4</td><td>194029.1</td><td>207242.7</td></tr>
<tr><td>Net Block</td><td>29601.97</td><td>35539.73</td><td>65190.16</td><td>76763.24</td><td>79691.9</td><td>177800.1</td><td>185836.5</td><td>167490.4</td><td>156818.6</td><td>156255.2</td></tr>
<tr><td>Capital Work in Progress</td><td>11419.41</td><td>5140.53</td><td>6039.73</td><td>7535.1</td><td>3585.3</td><td>5103</td><td>1138.1</td><td>605.9</td><td>364.3</td><td>17876.4</td></tr>
<tr><td>Investments</td><td>215.53</td><td>11526.73</td><td>3470.91</td><td>6378.23</td><td>7290.5</td><td>8238.6</td><td>1979.2</td><td>4.1</td><td>5.3</td><td>5.8</td></tr>
<tr><td>Other Assets</td><td>5320.55</td><td>8259.83</td><td>5424.71</td><td>5991.23</td><td>7943.6</td><td>38510.7</td><td>37963.8</td><td>35378</td><td>36840.9</td><td>33105.3</td></tr>
<tr><td>Total</td><td>46557.46</td><td>60466.82</td><td>80125.51</td><td>96667.8</td><td>98511.3</td><td>229652.4</td><td>226917.6</td><td>203478.4</td><td>194029.1</td><td>207242.7</td></tr>
<tr><td>Receivables</td><td>800.62</td><td>978.91</td><td>1142.35</td><td>1313.92</td><td>887.4</td><td>3300</td><td>3094.3</td><td>2507</td><td>2443.9</td><td>2164</td></tr>
<tr><td>Inventory</td><td>68.31</td><td>71.03</td><td>106.54</td><td>58.8</td><td>36.7</td><td>4.2</td><td>2.5</td><td>0.6</td><td>2.3</td><td>16.3</td></tr>
<tr><td>Cash & Bank</td><td>188.1</td><td>1553.72</td><td>769.13</td><td>82.74</td><td>29.1</td><td>990.8</td><td>2663</td><td>2216.5</td><td>3496.6</td><td>855.4</td></tr>
<tr><td>No. of Equity Shares</td><td>3319631760</td><td>3597844427</td><td>3600509378</td><td>3605328231</td><td>4359320930</td><td>8735558329</td><td>28735389240</td><td>28735389240</td><td>32118847885</td><td>48679689205</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>8219.21</td><td>10417.86</td><td>10948.61</td><td>10475.67</td><td>5332.4</td><td>5347.8</td><td>7327.5</td><td>15639.7</td><td>17387</td><td>18868.7</td></tr>
<tr><td>Cash from Investing Activity</td><td>-6564.62</td><td>-5725.63</td><td>-2388.99</td><td>-15555.69</td><td>-9303.2</td><td>-1640.2</td><td>-2697.7</td><td>1075.1</td><td>-5730.3</td><td>-5413.6</td></tr>
<tr><td>Cash from Financing Activity</td><td>-2466.08</td><td>8027.98</td><td>-9330.08</td><td>4506.13</td><td>3924.9</td><td>-2949.4</td><td>-5018.7</td><td>-16731.4</td><td>-10553.8</td><td>-14679.5</td></tr>
<tr><td>Net Cash Flow</td><td>-811.49</td><td>12720.21</td><td>-770.46</td><td>-573.89</td><td>-45.9</td><td>758.2</td><td>-388.9</td><td>-16.6</td><td>1102.9</td><td>-1224.4</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>83.04</td><td>111.16</td><td>66.58</td><td>51.87</td><td>45.85</td><td>18.25</td><td>3.1</td><td>9.25</td><td>9.65</td><td>5.8</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1091.98</td><td>1183.5</td><td>1184.38</td><td>1185.96</td><td>1433.99</td><td>2873.54</td><td>2873.54</td><td>2873.54</td><td>3211.88</td><td>4867.97</td></tr>
</table>
</body>
</html>