<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Volt</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>VOLTAMP TRANSFORMERS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>9773.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>9887.73</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>516.89</td><td>563.3</td><td>610.93</td><td>638.79</td><td>828.83</td><td>858.58</td><td>692.31</td><td>1127.21</td><td>1385.1</td><td>1616.22</td></tr>
<tr><td>Raw Material Cost</td><td>440.17</td><td>455.15</td><td>474.96</td><td>370.64</td><td>479.27</td><td>466.23</td><td>366.47</td><td>652.5</td><td>760.94</td><td>1191.64</td></tr>
<tr><td>Change in Inventory</td><td>14.64</td><td>11.85</td><td>-3.33</td><td>1.26</td><td>12.32</td><td>15.13</td><td>-11.51</td><td>32.83</td><td>-3.54</td><td>61.29</td></tr>
<tr><td>Power and Fuel</td><td>3.82</td><td>3.57</td><td>3.99</td><td>4.52</td><td>4.45</td><td>4.59</td><td>3.14</td><td>4.81</td><td>6.15</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>24.18</td><td>27.02</td><td>13.41</td><td>140.1</td><td>199.42</td><td>215.46</td><td>167.62</td><td>277.65</td><td>292.37</td><td></td></tr>
<tr><td>Employee Cost</td><td>21.22</td><td>21.24</td><td>22.06</td><td>24.48</td><td>29.45</td><td>33.29</td><td>33.23</td><td>38.88</td><td>40.13</td><td>53.87</td></tr>
<tr><td>Selling and admin</td><td>22.19</td><td>29.81</td><td>28.51</td><td>27.01</td><td>29.82</td><td>32.48</td><td>26.7</td><td>36.93</td><td>40.16</td><td></td></tr>
<tr><td>Other Expenses</td><td>0.2</td><td>0.92</td><td>4.5</td><td>5.98</td><td>4.57</td><td>7.19</td><td>6.2</td><td>10.28</td><td>10.94</td><td>109.65</td></tr>
<tr><td>Other Income</td><td>21.16</td><td>28.27</td><td>38.98</td><td>39.38</td><td>36.25</td><td>8.61</td><td>72.47</td><td>42.95</td><td>40.08</td><td>88.98</td></tr>
<tr><td>Depreciation</td><td>7.22</td><td>5.98</td><td>5.82</td><td>6</td><td>7.15</td><td>8.99</td><td>8.85</td><td>7.93</td><td>9.69</td><td>11.37</td></tr>
<tr><td>Interest</td><td>0.3</td><td>0.44</td><td>0.51</td><td>0.56</td><td>0.59</td><td>0.73</td><td>0.6</td><td>0.8</td><td>0.89</td><td>2.08</td></tr>
<tr><td>Profit before tax</td><td>33.39</td><td>59.29</td><td>92.82</td><td>100.14</td><td>122.68</td><td>113.36</td><td>140.46</td><td>173.21</td><td>260.37</td><td>397.88</td></tr>
<tr><td>Tax</td><td>4.98</td><td>15.31</td><td>20.62</td><td>26.66</td><td>37.84</td><td>23.97</td><td>28.24</td><td>40.37</td><td>60.42</td><td>90.52</td></tr>
<tr><td>Net profit</td><td>28.41</td><td>43.98</td><td>72.21</td><td>73.48</td><td>84.84</td><td>89.38</td><td>112.22</td><td>132.84</td><td>199.94</td><td>307.36</td></tr>
<tr><td>Dividend Amount</td><td>10.12</td><td>12.65</td><td>15.18</td><td>15.18</td><td>22.77</td><td>25.3</td><td>25.3</td><td>35.42</td><td>60.72</td><td>91.08</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>314.95</td><td>387.2</td><td>270.14</td><td>317.63</td><td>357.47</td><td>439.86</td><td>322.19</td><td>381.39</td><td>408.48</td><td>504.16</td></tr>
<tr><td>Expenses</td><td>280.57</td><td>320.49</td><td>233.86</td><td>271.26</td><td>302.06</td><td>347.04</td><td>274.2</td><td>312.61</td><td>303.65</td><td>403.42</td></tr>
<tr><td>Other Income</td><td>7.66</td><td>7.81</td><td>-0.41</td><td>15.92</td><td>13.73</td><td>10.83</td><td>23.03</td><td>17.91</td><td>24.8</td><td>23.24</td></tr>
<tr><td>Depreciation</td><td>1.98</td><td>2.21</td><td>2.2</td><td>2.41</td><td>2.51</td><td>2.57</td><td>2.32</td><td>2.74</td><td>2.96</td><td>3.35</td></tr>
<tr><td>Interest</td><td>0.24</td><td>0.23</td><td>0.24</td><td>0.2</td><td>0.22</td><td>0.23</td><td>0.24</td><td>0.31</td><td>0.28</td><td>1.25</td></tr>
<tr><td>Profit before tax</td><td>39.82</td><td>72.08</td><td>33.43</td><td>59.68</td><td>66.41</td><td>100.85</td><td>68.46</td><td>83.64</td><td>126.39</td><td>119.38</td></tr>
<tr><td>Tax</td><td>9.71</td><td>20.22</td><td>6.75</td><td>13.74</td><td>15.66</td><td>24.28</td><td>17.68</td><td>15.2</td><td>31.78</td><td>25.85</td></tr>
<tr><td>Net profit</td><td>30.11</td><td>51.86</td><td>26.68</td><td>45.94</td><td>50.76</td><td>76.57</td><td>50.78</td><td>68.44</td><td>94.61</td><td>93.53</td></tr>
<tr><td>Operating Profit</td><td>34.38</td><td>66.71</td><td>36.28</td><td>46.37</td><td>55.41</td><td>92.82</td><td>47.99</td><td>68.78</td><td>104.83</td><td>100.74</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td><td>10.12</td></tr>
<tr><td>Reserves</td><td>430.7</td><td>459.46</td><td>554.9</td><td>610.01</td><td>676.61</td><td>738.1</td><td>824.04</td><td>932.03</td><td>1097.11</td><td>1343.5</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>3.21</td></tr>
<tr><td>Other Liabilities</td><td>54.51</td><td>51.08</td><td>47.69</td><td>49.84</td><td>63.87</td><td>68.67</td><td>81.96</td><td>119.08</td><td>115.29</td><td>164.25</td></tr>
<tr><td>Total</td><td>495.33</td><td>520.66</td><td>612.71</td><td>669.97</td><td>750.6</td><td>816.89</td><td>916.12</td><td>1061.23</td><td>1222.52</td><td>1521.08</td></tr>
<tr><td>Net Block</td><td>41.09</td><td>38.97</td><td>38.18</td><td>42.99</td><td>48.13</td><td>57.72</td><td>52.68</td><td>61.51</td><td>67.33</td><td>76.67</td></tr>
<tr><td>Capital Work in Progress</td><td>1.39</td><td>0.49</td><td>1.23</td><td>2.93</td><td>0.22</td><td>1.22</td><td>8.29</td><td>7.78</td><td>0.23</td><td>0.68</td></tr>
<tr><td>Investments</td><td>210.65</td><td>219.63</td><td>312.8</td><td>351.9</td><td>381.29</td><td>453.92</td><td>492.26</td><td>561.27</td><td>717.61</td><td>921.74</td></tr>
<tr><td>Other Assets</td><td>242.2</td><td>261.57</td><td>260.5</td><td>272.15</td><td>320.96</td><td>304.03</td><td>362.89</td><td>430.67</td><td>437.35</td><td>521.99</td></tr>
<tr><td>Total</td><td>495.33</td><td>520.66</td><td>612.71</td><td>669.97</td><td>750.6</td><td>816.89</td><td>916.12</td><td>1061.23</td><td>1222.52</td><td>1521.08</td></tr>
<tr><td>Receivables</td><td>144.45</td><td>148.93</td><td>153.83</td><td>144.41</td><td>176.58</td><td>150.28</td><td>170.72</td><td>190.45</td><td>226.42</td><td>238.75</td></tr>
<tr><td>Inventory</td><td>81.63</td><td>94.57</td><td>82.53</td><td>96.98</td><td>107.68</td><td>115.55</td><td>127.31</td><td>209.37</td><td>174.77</td><td>226.22</td></tr>
<tr><td>Cash & Bank</td><td>3.32</td><td>1.83</td><td>4.22</td><td>8.03</td><td>11.39</td><td>6</td><td>25.47</td><td>13.47</td><td>17.91</td><td>29.42</td></tr>
<tr><td>No. of Equity Shares</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td>10117120</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>-10.17</td><td>-1.19</td><td>78.09</td><td>42.55</td><td>32.48</td><td>107.79</td><td>19.61</td><td>65.57</td><td>167.97</td><td>216.28</td></tr>
<tr><td>Cash from Investing Activity</td><td>24.02</td><td>11.87</td><td>-59.97</td><td>-20.2</td><td>-10.91</td><td>-85.73</td><td>20.75</td><td>-46.3</td><td>-127.25</td><td>-141.44</td></tr>
<tr><td>Cash from Financing Activity</td><td>-11.84</td><td>-12.19</td><td>-15.75</td><td>-18.23</td><td>-18.28</td><td>-27.45</td><td>-25.89</td><td>-26.09</td><td>-36.3</td><td>-63.33</td></tr>
<tr><td>Net Cash Flow</td><td>2.01</td><td>-1.51</td><td>2.37</td><td>4.11</td><td>3.29</td><td>-5.4</td><td>14.48</td><td>-6.82</td><td>4.42</td><td>11.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>639.65</td><td>784.45</td><td>1051.05</td><td>1066.4</td><td>1147.75</td><td>880.05</td><td>1095.05</td><td>1960.1</td><td>2692.45</td><td>9670.95</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td><td>1.01</td></tr>
</table>
</body>
</html>