<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\VRL Logistics</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>VRL LOGISTICS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>10</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>548.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4796.81</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1493.79</td><td>1672.83</td><td>1722.52</td><td>1803.09</td><td>1922.32</td><td>2109.54</td><td>2118.54</td><td>1762.92</td><td>2163.56</td><td>2648.52</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>3.2</td><td>3.51</td><td>4.37</td><td>477.62</td><td>502.29</td><td>586.16</td><td>582.96</td><td>518.71</td><td>653.37</td><td>818</td></tr>
<tr><td>Other Mfr. Exp</td><td>238.72</td><td>276.08</td><td>308.28</td><td>779.94</td><td>778.74</td><td>851.1</td><td>790.85</td><td>637.61</td><td>746.03</td><td>960.79</td></tr>
<tr><td>Employee Cost</td><td>174.5</td><td>198.04</td><td>240.96</td><td>266.16</td><td>345.85</td><td>366.78</td><td>380.62</td><td>314.76</td><td>347.02</td><td>415</td></tr>
<tr><td>Selling and admin</td><td>867.07</td><td>917.3</td><td>894.79</td><td>57.89</td><td>58.36</td><td>58.02</td><td>56.86</td><td>40.5</td><td>37.42</td><td>48.2</td></tr>
<tr><td>Other Expenses</td><td>1.61</td><td>0.64</td><td>2.55</td><td>1.93</td><td>2.26</td><td>2.64</td><td>3.96</td><td>3.27</td><td>3.75</td><td>2.71</td></tr>
<tr><td>Other Income</td><td>15.84</td><td>7.91</td><td>8.5</td><td>8.57</td><td>14.23</td><td>7.57</td><td>5.88</td><td>12.86</td><td>20.77</td><td>171.13</td></tr>
<tr><td>Depreciation</td><td>86.62</td><td>87.66</td><td>89.7</td><td>98.18</td><td>97.63</td><td>100.58</td><td>167.53</td><td>159.79</td><td>144.5</td><td>159.14</td></tr>
<tr><td>Interest</td><td>61.15</td><td>59.61</td><td>32.38</td><td>24.64</td><td>12.03</td><td>11.35</td><td>37.32</td><td>37.4</td><td>43.58</td><td>56.23</td></tr>
<tr><td>Profit before tax</td><td>76.76</td><td>137.9</td><td>157.99</td><td>105.3</td><td>139.39</td><td>140.48</td><td>104.32</td><td>63.74</td><td>208.66</td><td>359.58</td></tr>
<tr><td>Tax</td><td>19.75</td><td>46.68</td><td>53.76</td><td>34.83</td><td>46.82</td><td>48.56</td><td>14.2</td><td>18.67</td><td>48.55</td><td>36.38</td></tr>
<tr><td>Net profit</td><td>57.01</td><td>91.22</td><td>104.24</td><td>70.47</td><td>92.56</td><td>91.92</td><td>90.11</td><td>45.07</td><td>160.11</td><td>323.2</td></tr>
<tr><td>Dividend Amount</td><td>34.22</td><td>34.22</td><td>45.62</td><td>36.5</td><td></td><td>49.69</td><td>63.24</td><td>35.34</td><td>70.67</td><td>44.17</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>636.37</td><td>601.45</td><td>593.92</td><td>614.33</td><td>654.47</td><td>681.53</td><td>698.19</td><td>674.22</td><td>709.33</td><td>736.67</td></tr>
<tr><td>Expenses</td><td>523.08</td><td>483.9</td><td>478.97</td><td>523.07</td><td>561.44</td><td>578.25</td><td>584.1</td><td>572.3</td><td>617.49</td><td>642.32</td></tr>
<tr><td>Other Income</td><td>1.77</td><td>8.97</td><td>10.51</td><td>15.86</td><td>2.96</td><td>15.92</td><td>136.9</td><td>8.88</td><td>6.27</td><td>2.41</td></tr>
<tr><td>Depreciation</td><td>39.57</td><td>38.39</td><td>40.83</td><td>33.37</td><td>38.39</td><td>42.11</td><td>45.28</td><td>48.92</td><td>52.21</td><td>56.75</td></tr>
<tr><td>Interest</td><td>9.81</td><td>11.55</td><td>11.77</td><td>12.05</td><td>13.94</td><td>15.07</td><td>13.28</td><td>16.27</td><td>18.52</td><td>21.32</td></tr>
<tr><td>Profit before tax</td><td>65.68</td><td>76.58</td><td>72.86</td><td>61.7</td><td>43.66</td><td>62.02</td><td>192.43</td><td>45.61</td><td>27.38</td><td>18.69</td></tr>
<tr><td>Tax</td><td>16.21</td><td>16.09</td><td>16.66</td><td>12.34</td><td>12.2</td><td>12.82</td><td>-0.75</td><td>11.66</td><td>7.67</td><td>5.03</td></tr>
<tr><td>Net profit</td><td>49.48</td><td>60.49</td><td>56.19</td><td>49.37</td><td>31.46</td><td>49.2</td><td>193.18</td><td>33.95</td><td>19.71</td><td>13.65</td></tr>
<tr><td>Operating Profit</td><td>113.29</td><td>117.55</td><td>114.95</td><td>91.26</td><td>93.03</td><td>103.28</td><td>114.09</td><td>101.92</td><td>91.84</td><td>94.35</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>85.54</td><td>85.54</td><td>91.24</td><td>91.24</td><td>90.34</td><td>90.34</td><td>90.34</td><td>88.34</td><td>88.34</td><td>88.34</td></tr>
<tr><td>Reserves</td><td>220.86</td><td>270.65</td><td>422.68</td><td>449.99</td><td>502.88</td><td>555.59</td><td>526.53</td><td>508.8</td><td>563.29</td><td>887.5</td></tr>
<tr><td>Borrowings</td><td>505.47</td><td>443.35</td><td>261.96</td><td>184.67</td><td>81.17</td><td>140.68</td><td>454.43</td><td>421.76</td><td>536.6</td><td>719.72</td></tr>
<tr><td>Other Liabilities</td><td>165.81</td><td>153.57</td><td>165.83</td><td>170.78</td><td>187.88</td><td>191.21</td><td>153.91</td><td>179.68</td><td>192.05</td><td>196.16</td></tr>
<tr><td>Total</td><td>977.68</td><td>953.11</td><td>941.71</td><td>896.68</td><td>862.27</td><td>977.82</td><td>1225.21</td><td>1198.58</td><td>1380.28</td><td>1891.72</td></tr>
<tr><td>Net Block</td><td>740.34</td><td>706.86</td><td>712.15</td><td>693.88</td><td>624.96</td><td>705.05</td><td>990.32</td><td>954.35</td><td>1097.99</td><td>1482.21</td></tr>
<tr><td>Capital Work in Progress</td><td>14.04</td><td>9.07</td><td>16.23</td><td>1.77</td><td>7.64</td><td>41.64</td><td>4.39</td><td>6.08</td><td>34.98</td><td>38.37</td></tr>
<tr><td>Investments</td><td>0.11</td><td>0.11</td><td>2.7</td><td>0.06</td><td>0.06</td><td>0.06</td><td>0.06</td><td>0.05</td><td>0.05</td><td>15.07</td></tr>
<tr><td>Other Assets</td><td>223.19</td><td>237.07</td><td>210.63</td><td>200.97</td><td>229.61</td><td>231.07</td><td>230.44</td><td>238.1</td><td>247.26</td><td>356.07</td></tr>
<tr><td>Total</td><td>977.68</td><td>953.11</td><td>941.71</td><td>896.68</td><td>862.27</td><td>977.82</td><td>1225.21</td><td>1198.58</td><td>1380.28</td><td>1891.72</td></tr>
<tr><td>Receivables</td><td>79.96</td><td>90.18</td><td>73.02</td><td>75.42</td><td>80.75</td><td>79.53</td><td>85.63</td><td>63.94</td><td>67.26</td><td>81.69</td></tr>
<tr><td>Inventory</td><td>13.48</td><td>15</td><td>18.33</td><td>18.32</td><td>24.13</td><td>29.8</td><td>29.27</td><td>39.51</td><td>45.86</td><td>52.79</td></tr>
<tr><td>Cash & Bank</td><td>15.09</td><td>16.61</td><td>19.59</td><td>12.25</td><td>19.35</td><td>13.14</td><td>13.41</td><td>18.96</td><td>14.49</td><td>75.24</td></tr>
<tr><td>No. of Equity Shares</td><td>85536000</td><td>85536000</td><td>91243495</td><td>91243495</td><td>90343495</td><td>90343495</td><td>90343495</td><td>88343495</td><td>88343495</td><td>88343495</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td><td>10</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>203.26</td><td>235.28</td><td>264.2</td><td>197.98</td><td>205.48</td><td>192.19</td><td>257.28</td><td>271.62</td><td>370.76</td><td>318.34</td></tr>
<tr><td>Cash from Investing Activity</td><td>-91.07</td><td>-49.06</td><td>-107.2</td><td>-59.08</td><td>-44.22</td><td>-209.15</td><td>-118.55</td><td>-31.51</td><td>-180.13</td><td>-144.46</td></tr>
<tr><td>Cash from Financing Activity</td><td>-111.83</td><td>-184.69</td><td>-155.18</td><td>-145.72</td><td>-154.3</td><td>11.04</td><td>-138.43</td><td>-234.36</td><td>-200.75</td><td>-170.91</td></tr>
<tr><td>Net Cash Flow</td><td>0.36</td><td>1.53</td><td>1.81</td><td>-6.83</td><td>6.96</td><td>-5.92</td><td>0.31</td><td>5.76</td><td>-10.13</td><td>2.97</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td>368.8</td><td>312.25</td><td>385</td><td>283.2</td><td>154.4</td><td>232.05</td><td>494.3</td><td>632.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>8.55</td><td>8.55</td><td>9.12</td><td>9.12</td><td>9.03</td><td>9.03</td><td>9.03</td><td>8.83</td><td>8.83</td><td>8.83</td></tr>
</table>
</body>
</html>