<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Westlife Food</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>WESTLIFE FOODWORLD LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>849</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>13251.98</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>764.33</td><td>833.43</td><td>930.79</td><td>1134.87</td><td>1402.04</td><td>1547.79</td><td>986.03</td><td>1576.49</td><td>2278.18</td><td>2391.81</td></tr>
<tr><td>Raw Material Cost</td><td>317.75</td><td>333.3</td><td>366.31</td><td>424.97</td><td>511.59</td><td>538.24</td><td>348.28</td><td>512.94</td><td>686</td><td>710.69</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Power and Fuel</td><td>83.82</td><td>83.77</td><td>85.16</td><td>94.34</td><td>104.35</td><td>113.95</td><td>73.3</td><td>97.36</td><td>135.13</td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>41.25</td><td>45.38</td><td>59.24</td><td>74.68</td><td>218.16</td><td>155.77</td><td>167.1</td><td>286.32</td><td>365.43</td><td></td></tr>
<tr><td>Employee Cost</td><td>113.66</td><td>124.02</td><td>140.73</td><td>171.55</td><td>197.45</td><td>219.6</td><td>178.68</td><td>209.97</td><td>311.15</td><td>328.54</td></tr>
<tr><td>Selling and admin</td><td>162.43</td><td>169.1</td><td>199.23</td><td>242.67</td><td>170.14</td><td>184.71</td><td>120.06</td><td>176.37</td><td>263.85</td><td></td></tr>
<tr><td>Other Expenses</td><td>26.28</td><td>30.21</td><td>30.2</td><td>42.16</td><td>75.76</td><td>116.76</td><td>37.62</td><td>96.07</td><td>134.51</td><td>983.25</td></tr>
<tr><td>Other Income</td><td>12.49</td><td>28.08</td><td>17.06</td><td>10.63</td><td>8.03</td><td>-8.35</td><td>34.44</td><td>19.5</td><td>12.28</td><td>18.46</td></tr>
<tr><td>Depreciation</td><td>50.44</td><td>57.65</td><td>63.72</td><td>67.26</td><td>79.72</td><td>138.36</td><td>139.65</td><td>136.4</td><td>152.19</td><td>182.22</td></tr>
<tr><td>Interest</td><td>10.22</td><td>14.99</td><td>15.38</td><td>15.01</td><td>17.73</td><td>80.82</td><td>84.52</td><td>82.63</td><td>92.75</td><td>109.72</td></tr>
<tr><td>Profit before tax</td><td>-29.03</td><td>3.09</td><td>-12.12</td><td>12.86</td><td>35.17</td><td>-8.77</td><td>-128.74</td><td>-2.07</td><td>149.45</td><td>95.85</td></tr>
<tr><td>Tax</td><td>0.09</td><td>0.26</td><td></td><td></td><td>13.88</td><td>-1.43</td><td>-29.31</td><td>-0.4</td><td>37.87</td><td>26.63</td></tr>
<tr><td>Net profit</td><td>-29.11</td><td>2.83</td><td>-12.12</td><td>12.86</td><td>21.29</td><td>-7.35</td><td>-99.42</td><td>-1.67</td><td>111.58</td><td>69.21</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td>53.8</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>476.83</td><td>455.07</td><td>537.92</td><td>572.43</td><td>611.45</td><td>556.37</td><td>614.54</td><td>614.73</td><td>600.25</td><td>562.28</td></tr>
<tr><td>Expenses</td><td>397.48</td><td>392.15</td><td>450.66</td><td>476.5</td><td>509.26</td><td>467.7</td><td>510.38</td><td>516.51</td><td>508.23</td><td>487.35</td></tr>
<tr><td>Other Income</td><td>4.27</td><td>13.11</td><td>1.81</td><td>5.19</td><td>7.75</td><td>5.59</td><td>5.28</td><td>3.3</td><td>4.7</td><td>5.18</td></tr>
<tr><td>Depreciation</td><td>34.75</td><td>34.63</td><td>35.79</td><td>36.63</td><td>38.56</td><td>41.2</td><td>42.85</td><td>43.94</td><td>45.5</td><td>49.94</td></tr>
<tr><td>Interest</td><td>21.01</td><td>20.86</td><td>21.52</td><td>22.54</td><td>23.37</td><td>25.33</td><td>26.01</td><td>27.38</td><td>28.12</td><td>28.21</td></tr>
<tr><td>Profit before tax</td><td>27.86</td><td>20.54</td><td>31.76</td><td>41.95</td><td>48.01</td><td>27.73</td><td>40.58</td><td>30.2</td><td>23.1</td><td>1.96</td></tr>
<tr><td>Tax</td><td>7.04</td><td>5.23</td><td>8.18</td><td>10.41</td><td>11.64</td><td>7.64</td><td>11.76</td><td>7.84</td><td>5.85</td><td>1.19</td></tr>
<tr><td>Net profit</td><td>20.82</td><td>15.32</td><td>23.58</td><td>31.54</td><td>36.37</td><td>20.09</td><td>28.83</td><td>22.37</td><td>17.24</td><td>0.76</td></tr>
<tr><td>Operating Profit</td><td>79.35</td><td>62.92</td><td>87.26</td><td>95.93</td><td>102.19</td><td>88.67</td><td>104.16</td><td>98.22</td><td>92.02</td><td>74.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>31.11</td><td>31.11</td><td>31.11</td><td>31.12</td><td>31.12</td><td>31.13</td><td>31.16</td><td>31.19</td><td>31.19</td><td>31.19</td></tr>
<tr><td>Reserves</td><td>502.5</td><td>506.99</td><td>496.41</td><td>511.14</td><td>552.55</td><td>545.89</td><td>450.07</td><td>430.92</td><td>534.73</td><td>557.07</td></tr>
<tr><td>Borrowings</td><td>134.23</td><td>149.5</td><td>190.4</td><td>183.52</td><td>233.92</td><td>965.93</td><td>967.99</td><td>1054.56</td><td>1203</td><td>1362.53</td></tr>
<tr><td>Other Liabilities</td><td>105.46</td><td>150.24</td><td>162.37</td><td>203.34</td><td>206.44</td><td>220.1</td><td>274.41</td><td>280.88</td><td>329.99</td><td>335</td></tr>
<tr><td>Total</td><td>773.3</td><td>837.84</td><td>880.29</td><td>929.12</td><td>1024.03</td><td>1763.05</td><td>1723.63</td><td>1797.55</td><td>2098.91</td><td>2285.79</td></tr>
<tr><td>Net Block</td><td>464.19</td><td>502.46</td><td>530.74</td><td>553.92</td><td>595.22</td><td>1408.56</td><td>1284.27</td><td>1362.27</td><td>1622.95</td><td>1816.98</td></tr>
<tr><td>Capital Work in Progress</td><td>20.91</td><td>18.43</td><td>17.16</td><td>19.74</td><td>28.37</td><td>22.58</td><td>25.6</td><td>35.53</td><td>56.68</td><td>44.7</td></tr>
<tr><td>Investments</td><td>148.07</td><td>156.15</td><td>170.02</td><td>184.28</td><td>204.02</td><td>157.08</td><td>198.44</td><td>150.42</td><td>129.85</td><td>138.03</td></tr>
<tr><td>Other Assets</td><td>140.13</td><td>160.8</td><td>162.37</td><td>171.18</td><td>196.42</td><td>174.83</td><td>215.32</td><td>249.33</td><td>289.43</td><td>286.08</td></tr>
<tr><td>Total</td><td>773.3</td><td>837.84</td><td>880.29</td><td>929.12</td><td>1024.03</td><td>1763.05</td><td>1723.63</td><td>1797.55</td><td>2098.91</td><td>2285.79</td></tr>
<tr><td>Receivables</td><td>4.24</td><td>4.2</td><td>4.92</td><td>6.43</td><td>9.76</td><td>4.73</td><td>8.79</td><td>13.31</td><td>10.69</td><td>17.33</td></tr>
<tr><td>Inventory</td><td>24.08</td><td>27.82</td><td>30.24</td><td>33.68</td><td>40.99</td><td>41.14</td><td>46.53</td><td>55.95</td><td>71.43</td><td>63.24</td></tr>
<tr><td>Cash & Bank</td><td>7.26</td><td>6.95</td><td>7.06</td><td>10.94</td><td>9.21</td><td>2.99</td><td>11.01</td><td>23.24</td><td>28.41</td><td>14.12</td></tr>
<tr><td>No. of Equity Shares</td><td>155533595</td><td>155551795</td><td>155569005</td><td>155587945</td><td>155668665</td><td>155668665</td><td>155802865</td><td>155926665</td><td>155936165</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>18.77</td><td>79.87</td><td>65.67</td><td>137.12</td><td>112.14</td><td>199.63</td><td>129.24</td><td>170.58</td><td>348.52</td><td></td></tr>
<tr><td>Cash from Investing Activity</td><td>-84.15</td><td>-80.14</td><td>-91.46</td><td>-111.39</td><td>-145.18</td><td>-67.62</td><td>-74.19</td><td>-56.47</td><td>-265.32</td><td></td></tr>
<tr><td>Cash from Financing Activity</td><td>60.57</td><td>-0.25</td><td>26</td><td>-21.73</td><td>31.8</td><td>-138.68</td><td>-45.32</td><td>-101.85</td><td>-98.07</td><td></td></tr>
<tr><td>Net Cash Flow</td><td>-4.8</td><td>-0.52</td><td>0.2</td><td>3.99</td><td>-1.24</td><td>-6.67</td><td>9.73</td><td>12.26</td><td>-14.88</td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>290</td><td>195</td><td>213.55</td><td>320</td><td>428.7</td><td>323</td><td>459.7</td><td>479.35</td><td>683.35</td><td>804.45</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>15.55</td><td>15.56</td><td>15.56</td><td>15.56</td><td>15.56</td><td>15.57</td><td>15.58</td><td>15.59</td><td>15.59</td><td>15.59</td></tr>
</table>
</body>
</html>