<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\West Coast Paper</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>WEST COAST PAPER MILLS LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>620.85</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>4092.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td></td><td></td><td></td><td></td><td>1710.2</td><td>1979.15</td><td>2492.85</td><td>2244.53</td><td>3377.67</td><td>4920.76</td></tr>
<tr><td>Raw Material Cost</td><td></td><td></td><td></td><td></td><td>903.84</td><td>1004.78</td><td>1295.54</td><td>1095.03</td><td>1649.39</td><td>2070.67</td></tr>
<tr><td>Change in Inventory</td><td></td><td></td><td></td><td></td><td>-6.51</td><td>22.63</td><td>96.23</td><td>-78.3</td><td>-47.1</td><td>28.49</td></tr>
<tr><td>Power and Fuel</td><td></td><td></td><td></td><td></td><td>168.53</td><td>178.01</td><td>218.61</td><td>252.76</td><td>356.71</td><td>468.59</td></tr>
<tr><td>Other Mfr. Exp</td><td></td><td></td><td></td><td></td><td>89.84</td><td>94.26</td><td>132.73</td><td>148.19</td><td>196.28</td><td>238.7</td></tr>
<tr><td>Employee Cost</td><td></td><td></td><td></td><td></td><td>132.85</td><td>153.89</td><td>237.49</td><td>313.83</td><td>368.89</td><td>413.27</td></tr>
<tr><td>Selling and admin</td><td></td><td></td><td></td><td></td><td>26.35</td><td>26.93</td><td>33.66</td><td>49.88</td><td>72.43</td><td>55.04</td></tr>
<tr><td>Other Expenses</td><td></td><td></td><td></td><td></td><td>19.93</td><td>32.79</td><td>53.15</td><td>45.3</td><td>49.29</td><td>56.23</td></tr>
<tr><td>Other Income</td><td></td><td></td><td></td><td></td><td>18.01</td><td>19.81</td><td>51.93</td><td>12.05</td><td>54.05</td><td>57.62</td></tr>
<tr><td>Depreciation</td><td></td><td></td><td></td><td></td><td>116.22</td><td>176.02</td><td>197.86</td><td>229.35</td><td>212.53</td><td>189.47</td></tr>
<tr><td>Interest</td><td></td><td></td><td></td><td></td><td>41.65</td><td>29.25</td><td>74.96</td><td>70.11</td><td>58.7</td><td>37.07</td></tr>
<tr><td>Profit before tax</td><td></td><td></td><td></td><td></td><td>222.49</td><td>325.66</td><td>397.01</td><td>-26.17</td><td>420.4</td><td>1477.83</td></tr>
<tr><td>Tax</td><td></td><td></td><td></td><td></td><td>-0.67</td><td>29.64</td><td>-9.48</td><td>-21.79</td><td>74.53</td><td>390.82</td></tr>
<tr><td>Net profit</td><td></td><td></td><td></td><td></td><td>223.15</td><td>296</td><td>370.38</td><td>-3.1</td><td>307.04</td><td>941.98</td></tr>
<tr><td>Dividend Amount</td><td></td><td></td><td></td><td></td><td>26.42</td><td>33.02</td><td>33.02</td><td>6.6</td><td>39.63</td><td>66.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>900.49</td><td>872.2</td><td>1067.37</td><td>1114.15</td><td>1209.97</td><td>1239.16</td><td>1357.48</td><td>1138.62</td><td>1193.84</td><td>1045.13</td></tr>
<tr><td>Expenses</td><td>758.41</td><td>711.95</td><td>836.35</td><td>793.02</td><td>842.65</td><td>777.93</td><td>864.96</td><td>744.1</td><td>883.63</td><td>827.54</td></tr>
<tr><td>Other Income</td><td>11.49</td><td>10.86</td><td>21.78</td><td>11.26</td><td>17.02</td><td>23.6</td><td>10.3</td><td>35.1</td><td>35.34</td><td>41.38</td></tr>
<tr><td>Depreciation</td><td>53.96</td><td>53.72</td><td>52.58</td><td>46.1</td><td>47.14</td><td>48.28</td><td>47.96</td><td>43.73</td><td>46.02</td><td>46.36</td></tr>
<tr><td>Interest</td><td>11.39</td><td>11.58</td><td>17.39</td><td>6.14</td><td>6.68</td><td>13.85</td><td>10.41</td><td>6.63</td><td>5.86</td><td>5.84</td></tr>
<tr><td>Profit before tax</td><td>88.22</td><td>105.81</td><td>182.83</td><td>280.15</td><td>330.52</td><td>422.7</td><td>444.45</td><td>379.26</td><td>293.67</td><td>206.77</td></tr>
<tr><td>Tax</td><td>10.49</td><td>17.39</td><td>42.32</td><td>71.2</td><td>84.4</td><td>111.72</td><td>123.49</td><td>100.91</td><td>75.12</td><td>48.01</td></tr>
<tr><td>Net profit</td><td>72.48</td><td>78.06</td><td>124.55</td><td>185.34</td><td>214.67</td><td>263.74</td><td>278.23</td><td>245.52</td><td>190.77</td><td>135.93</td></tr>
<tr><td>Operating Profit</td><td>142.08</td><td>160.25</td><td>231.02</td><td>321.13</td><td>367.32</td><td>461.23</td><td>492.52</td><td>394.52</td><td>310.21</td><td>217.59</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td></td><td></td><td></td><td></td><td>13.21</td><td>13.21</td><td>13.21</td><td>13.21</td><td>13.21</td><td>13.21</td></tr>
<tr><td>Reserves</td><td></td><td></td><td></td><td></td><td>825.73</td><td>1090.19</td><td>1375.04</td><td>1372.88</td><td>1670.22</td><td>2564.76</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td>315.26</td><td>361.24</td><td>752.71</td><td>675.74</td><td>478.34</td><td>231.03</td></tr>
<tr><td>Other Liabilities</td><td></td><td></td><td></td><td></td><td>436.3</td><td>455.22</td><td>1043.17</td><td>1007.21</td><td>1096.83</td><td>1363.66</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>1590.5</td><td>1919.86</td><td>3184.13</td><td>3069.04</td><td>3258.6</td><td>4172.66</td></tr>
<tr><td>Net Block</td><td></td><td></td><td></td><td></td><td>1035.28</td><td>991.26</td><td>2010.11</td><td>1873.35</td><td>1756.93</td><td>1658.98</td></tr>
<tr><td>Capital Work in Progress</td><td></td><td></td><td></td><td></td><td>3.39</td><td>37.05</td><td>56.92</td><td>33.68</td><td>21.75</td><td>54.73</td></tr>
<tr><td>Investments</td><td></td><td></td><td></td><td></td><td>1</td><td>222.64</td><td>44.8</td><td>219.79</td><td>471.94</td><td>1309.92</td></tr>
<tr><td>Other Assets</td><td></td><td></td><td></td><td></td><td>550.83</td><td>668.91</td><td>1072.3</td><td>942.22</td><td>1007.98</td><td>1149.03</td></tr>
<tr><td>Total</td><td></td><td></td><td></td><td></td><td>1590.5</td><td>1919.86</td><td>3184.13</td><td>3069.04</td><td>3258.6</td><td>4172.66</td></tr>
<tr><td>Receivables</td><td></td><td></td><td></td><td></td><td>118.93</td><td>163.27</td><td>142.01</td><td>203.94</td><td>242.29</td><td>332.3</td></tr>
<tr><td>Inventory</td><td></td><td></td><td></td><td></td><td>342.89</td><td>428.27</td><td>548.29</td><td>411.84</td><td>395.78</td><td>492.31</td></tr>
<tr><td>Cash & Bank</td><td></td><td></td><td></td><td></td><td>10.08</td><td>10.16</td><td>175.04</td><td>91.47</td><td>60.14</td><td>75.04</td></tr>
<tr><td>No. of Equity Shares</td><td></td><td></td><td></td><td></td><td>66048908</td><td>66048908</td><td>66048908</td><td>66048908</td><td>66048908</td><td>66048908</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td></td><td></td><td></td><td></td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td></td><td></td><td></td><td></td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td></td><td></td><td></td><td></td><td>326.23</td><td>394.16</td><td>649.1</td><td>337.82</td><td>590.56</td><td>1237.71</td></tr>
<tr><td>Cash from Investing Activity</td><td></td><td></td><td></td><td></td><td>-138.66</td><td>-382.48</td><td>-858.45</td><td>-165.95</td><td>-290.66</td><td>-894</td></tr>
<tr><td>Cash from Financing Activity</td><td></td><td></td><td></td><td></td><td>-193.92</td><td>-12.28</td><td>218.2</td><td>-166.64</td><td>-294.73</td><td>-333.79</td></tr>
<tr><td>Net Cash Flow</td><td></td><td></td><td></td><td></td><td>-6.35</td><td>-0.6</td><td>8.84</td><td>5.23</td><td>5.17</td><td>9.93</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td></td><td></td><td></td><td></td><td>238.75</td><td>267.15</td><td>130.95</td><td>241.45</td><td>334.25</td><td>530.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td></td><td></td><td></td><td></td><td>6.6</td><td>6.6</td><td>6.6</td><td>6.6</td><td>6.6</td><td>6.6</td></tr>
</table>
</body>
</html>