<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\Wipro</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>WIPRO LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>455.9</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>238462.06</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>46951</td><td>51244</td><td>55448.4</td><td>54487.1</td><td>59018.9</td><td>61137.6</td><td>61934.9</td><td>79312</td><td>90487.6</td><td>89760.3</td></tr>
<tr><td>Raw Material Cost</td><td>3440.7</td><td>3055.4</td><td>2556</td><td>1843.4</td><td>1407.3</td><td>936</td><td>695.7</td><td>673.5</td><td>649.4</td><td>383.2</td></tr>
<tr><td>Change in Inventory</td><td>258.8</td><td>60.5</td><td>-141.1</td><td>-50.5</td><td>67.3</td><td>-202.2</td><td>-31.5</td><td>36.9</td><td>-15</td><td>-27.8</td></tr>
<tr><td>Power and Fuel</td><td>293.2</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Mfr. Exp</td><td>5518.7</td><td></td><td></td><td></td><td></td><td></td><td></td><td>12186.8</td><td>13396.4</td><td></td></tr>
<tr><td>Employee Cost</td><td>22511.5</td><td>24553.4</td><td>26808.1</td><td>27222.3</td><td>29977.4</td><td>32657.1</td><td>33237.1</td><td>45007.5</td><td>53764.4</td><td>54930.1</td></tr>
<tr><td>Selling and admin</td><td>3974</td><td>10517.7</td><td>13775.7</td><td>13853.3</td><td>14796.3</td><td>14350.4</td><td>12523.8</td><td>4665.4</td><td>5599.2</td><td>3309.4</td></tr>
<tr><td>Other Expenses</td><td>1172.5</td><td>2382.2</td><td>846.6</td><td>1130.5</td><td>1292.6</td><td>649.6</td><td>675.4</td><td>131.5</td><td>215.3</td><td>14357.3</td></tr>
<tr><td>Other Income</td><td>2449.7</td><td>2752.2</td><td>2622.6</td><td>2549.8</td><td>2613.8</td><td>2727.9</td><td>2403.7</td><td>2066.9</td><td>2265.7</td><td>2630.8</td></tr>
<tr><td>Depreciation</td><td>1174.9</td><td>1496.1</td><td>2310</td><td>2111.7</td><td>1946.7</td><td>2085.5</td><td>2763.4</td><td>3077.8</td><td>3340.2</td><td>3407.1</td></tr>
<tr><td>Interest</td><td>349.9</td><td>558.2</td><td>594.2</td><td>583</td><td>737.5</td><td>732.8</td><td>508.8</td><td>532.5</td><td>1007.7</td><td>1255.2</td></tr>
<tr><td>Profit before tax</td><td>11224.1</td><td>11493.7</td><td>11039.3</td><td>10242.2</td><td>11542.2</td><td>12251.9</td><td>13902.9</td><td>15140.8</td><td>14765.7</td><td>14721</td></tr>
<tr><td>Tax</td><td>2510.1</td><td>2536.6</td><td>2521.4</td><td>2239.1</td><td>2524.3</td><td>2480.1</td><td>3034.9</td><td>2897.4</td><td>3399.2</td><td>3608.9</td></tr>
<tr><td>Net profit</td><td>8660.9</td><td>8907.9</td><td>8493.1</td><td>8002.8</td><td>9003.7</td><td>9722.3</td><td>10796.4</td><td>12229.6</td><td>11350</td><td>11045.2</td></tr>
<tr><td>Dividend Amount</td><td>2962.2</td><td>1482.3</td><td>486.1</td><td>452.4</td><td>603.4</td><td>571.35</td><td>547.9</td><td>3289.2</td><td>548.8</td><td>522.5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>20315</td><td>20860.7</td><td>21528.6</td><td>22539.7</td><td>23229</td><td>23190.3</td><td>22831</td><td>22515.9</td><td>22205.1</td><td>22208.3</td></tr>
<tr><td>Expenses</td><td>16134.3</td><td>16724.2</td><td>17670.7</td><td>18608</td><td>18689.8</td><td>18670.9</td><td>18627.4</td><td>18546.2</td><td>18006.8</td><td>17827.7</td></tr>
<tr><td>Other Income</td><td>484.1</td><td>502.1</td><td>472.4</td><td>512.3</td><td>649.1</td><td>631.6</td><td>640.5</td><td>739.8</td><td>597.9</td><td>652.9</td></tr>
<tr><td>Depreciation</td><td>745.9</td><td>734.5</td><td>773.8</td><td>796.9</td><td>922.9</td><td>846.6</td><td>738</td><td>897</td><td>931.6</td><td>840.5</td></tr>
<tr><td>Interest</td><td>140.3</td><td>171.7</td><td>204.5</td><td>227</td><td>290.2</td><td>286</td><td>308.6</td><td>303.3</td><td>312.5</td><td>330.8</td></tr>
<tr><td>Profit before tax</td><td>3778.6</td><td>3732.4</td><td>3352</td><td>3420.1</td><td>3975.2</td><td>4018.4</td><td>3797.5</td><td>3509.2</td><td>3552.1</td><td>3862.2</td></tr>
<tr><td>Tax</td><td>806.3</td><td>639.9</td><td>793.1</td><td>771</td><td>910.2</td><td>924.9</td><td>911.5</td><td>841.9</td><td>851.5</td><td>1004</td></tr>
<tr><td>Net profit</td><td>2969</td><td>3087.3</td><td>2563.6</td><td>2659</td><td>3052.9</td><td>3074.5</td><td>2870.1</td><td>2646.3</td><td>2694.2</td><td>2834.6</td></tr>
<tr><td>Operating Profit</td><td>4180.7</td><td>4136.5</td><td>3857.9</td><td>3931.7</td><td>4539.2</td><td>4519.4</td><td>4203.6</td><td>3969.7</td><td>4198.3</td><td>4380.6</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>493.7</td><td>494.1</td><td>486.1</td><td>904.8</td><td>1206.8</td><td>1142.7</td><td>1095.8</td><td>1096.4</td><td>1097.6</td><td>1045</td></tr>
<tr><td>Reserves</td><td>36598.3</td><td>45650.7</td><td>51184.1</td><td>47021.5</td><td>55215.8</td><td>54179</td><td>53805.2</td><td>64306.6</td><td>76570.3</td><td>73488</td></tr>
<tr><td>Borrowings</td><td>7891.2</td><td>12522.1</td><td>14241.2</td><td>13901.2</td><td>9946.7</td><td>9724</td><td>10451.4</td><td>17592.9</td><td>17466.6</td><td>16464.9</td></tr>
<tr><td>Other Liabilities</td><td>13366.7</td><td>12923.5</td><td>12760.8</td><td>13563.3</td><td>16217.1</td><td>15953.9</td><td>17213.4</td><td>24279.7</td><td>21789.2</td><td>23792.7</td></tr>
<tr><td>Total</td><td>58349.9</td><td>71590.4</td><td>78672.2</td><td>75390.8</td><td>82586.4</td><td>80999.6</td><td>82565.8</td><td>107275.6</td><td>116923.7</td><td>114790.6</td></tr>
<tr><td>Net Block</td><td>10837.1</td><td>17279.1</td><td>19886.5</td><td>18126.7</td><td>17464.7</td><td>22062.1</td><td>23040.3</td><td>37989.6</td><td>44756.8</td><td>43628</td></tr>
<tr><td>Capital Work in Progress</td><td>395.1</td><td>380.6</td><td>737.7</td><td>1377.7</td><td>2141.8</td><td>1881.1</td><td>1853.2</td><td>1601.5</td><td>617.1</td><td>723.4</td></tr>
<tr><td>Investments</td><td>5532.1</td><td>20915.1</td><td>29913.3</td><td>25796.8</td><td>22886.7</td><td>20032</td><td>18774.7</td><td>26153.8</td><td>33073.2</td><td>33384.4</td></tr>
<tr><td>Other Assets</td><td>41585.6</td><td>33015.6</td><td>28134.7</td><td>30089.6</td><td>40093.2</td><td>37024.4</td><td>38897.6</td><td>41530.7</td><td>38476.6</td><td>37054.8</td></tr>
<tr><td>Total</td><td>58349.9</td><td>71590.4</td><td>78672.2</td><td>75390.8</td><td>82586.4</td><td>80999.6</td><td>82565.8</td><td>107275.6</td><td>116923.7</td><td>114790.6</td></tr>
<tr><td>Receivables</td><td>9154.8</td><td>9961.4</td><td>9484.6</td><td>10099</td><td>10048.9</td><td>10447.4</td><td>9429.8</td><td>11521.9</td><td>12635</td><td>11547.7</td></tr>
<tr><td>Inventory</td><td>484.9</td><td>539</td><td>391.5</td><td>337</td><td>395.1</td><td>186.5</td><td>106.4</td><td>133.4</td><td>118.8</td><td>90.7</td></tr>
<tr><td>Cash & Bank</td><td>16619</td><td>9904.9</td><td>5271</td><td>4492.5</td><td>15852.9</td><td>14449.9</td><td>16979.3</td><td>10383.6</td><td>9188</td><td>9695.3</td></tr>
<tr><td>No. of Equity Shares</td><td>2469043038</td><td>2470713290</td><td>2430900565</td><td>4523784491</td><td>6033935388</td><td>5713357390</td><td>5479138555</td><td>5482070115</td><td>5487917741</td><td></td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td>2433074327</td><td>1508469180</td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td><td>2</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2024-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>7840.4</td><td>7887.3</td><td>9277.3</td><td>8423.3</td><td>11631.6</td><td>10064.3</td><td>14755</td><td>11079.7</td><td>13060.1</td><td>17621.6</td></tr>
<tr><td>Cash from Investing Activity</td><td>-2536.8</td><td>-13760.7</td><td>-11769.5</td><td>3595.3</td><td>5065.2</td><td>3593.4</td><td>684.9</td><td>-22321.3</td><td>-8169.2</td><td>1168</td></tr>
<tr><td>Cash from Financing Activity</td><td>-829.7</td><td>-158.7</td><td>-2275.2</td><td>-12997.8</td><td>-4936.9</td><td>-15099.8</td><td>-12884</td><td>4658.6</td><td>-6088.1</td><td>-18256.7</td></tr>
<tr><td>Net Cash Flow</td><td>4473.9</td><td>-6032.1</td><td>-4767.4</td><td>-979.2</td><td>11759.9</td><td>-1442.1</td><td>2555.9</td><td>-6583</td><td>-1197.2</td><td>532.9</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>235.82</td><td>211.6</td><td>193.39</td><td>210.86</td><td>254.8</td><td>196.7</td><td>414.15</td><td>591.9</td><td>365.25</td><td>480.1</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>658.42</td><td>658.86</td><td>648.24</td><td>603.17</td><td>603.39</td><td>571.34</td><td>547.91</td><td>548.21</td><td>548.79</td><td>522.51</td></tr>
</table>
</body>
</html>