<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>src/stocks\ZF Commercial</title>
</head>
<body>
<table border="1">
<tr><td>COMPANY NAME</td><td>ZF COMMERCIAL VEHICLE CONTROL SYSTEM INDIA LTD</td><td>Unnamed: 2</td><td>Unnamed: 3</td><td>Unnamed: 4</td><td>Unnamed: 5</td><td>Unnamed: 6</td><td>Unnamed: 7</td><td>Unnamed: 8</td><td>Unnamed: 9</td><td>Unnamed: 10</td></tr>
<tr><td>LATEST VERSION</td><td>2.1</td><td></td><td></td><td>PLEASE DO NOT MAKE ANY CHANGES TO THIS SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CURRENT VERSION</td><td>2.1</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>META</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Number of shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face Value</td><td>5</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Current Price</td><td>13295</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Market Capitalization</td><td>25244.43</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PROFIT & LOSS</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Sales</td><td>1110.06</td><td>1347.36</td><td>1832.46</td><td>2067.49</td><td>2573.33</td><td>2854.14</td><td>1929.56</td><td>1863.5</td><td>2543.35</td><td>3444.59</td></tr>
<tr><td>Raw Material Cost</td><td>632.88</td><td>790.03</td><td>1126.4</td><td>1275.67</td><td>1551.43</td><td>1834.54</td><td>1126.36</td><td>1135.83</td><td>1649.34</td><td>2196.76</td></tr>
<tr><td>Change in Inventory</td><td>-0.99</td><td>-2.91</td><td>26.71</td><td>37.59</td><td>-50.47</td><td>12.37</td><td>-22.32</td><td>1.6</td><td>6.02</td><td>-0.3</td></tr>
<tr><td>Power and Fuel</td><td>19.66</td><td>19.92</td><td>20.91</td><td>19.73</td><td>20.73</td><td>21.84</td><td>17.66</td><td>14.8</td><td>19.08</td><td>24.93</td></tr>
<tr><td>Other Mfr. Exp</td><td>57.76</td><td>63.58</td><td>127.86</td><td>125.71</td><td>155.91</td><td>162.38</td><td>114.89</td><td>102.01</td><td>122.31</td><td>143.19</td></tr>
<tr><td>Employee Cost</td><td>125.28</td><td>143.52</td><td>187.91</td><td>191.17</td><td>229.15</td><td>253.7</td><td>265.79</td><td>290.6</td><td>328.78</td><td>376.89</td></tr>
<tr><td>Selling and admin</td><td>75.61</td><td>39.18</td><td>79.68</td><td>138.49</td><td>147.1</td><td>157.98</td><td>115.53</td><td>96.01</td><td>156.63</td><td>209.95</td></tr>
<tr><td>Other Expenses</td><td>31.65</td><td>84.87</td><td>29.84</td><td>27.84</td><td>19.69</td><td>25.27</td><td>13.19</td><td>19.86</td><td>20.69</td><td>22.26</td></tr>
<tr><td>Other Income</td><td>27.13</td><td>20.3</td><td>40.12</td><td>36.07</td><td>46.29</td><td>71.55</td><td>61.55</td><td>38.66</td><td>37.53</td><td>67.01</td></tr>
<tr><td>Depreciation</td><td>32.15</td><td>46.66</td><td>56.2</td><td>61.63</td><td>61.74</td><td>71.44</td><td>90.11</td><td>90.4</td><td>92.43</td><td>104.76</td></tr>
<tr><td>Interest</td><td>0.14</td><td>0.36</td><td>0.15</td><td>0.46</td><td>1.62</td><td></td><td>1.92</td><td>1.99</td><td>1.9</td><td>5.67</td></tr>
<tr><td>Profit before tax</td><td>161.07</td><td>176.63</td><td>270.34</td><td>300.45</td><td>381.78</td><td>410.91</td><td>223.34</td><td>152.26</td><td>195.74</td><td>426.89</td></tr>
<tr><td>Tax</td><td>43.59</td><td>55.97</td><td>66.97</td><td>86.97</td><td>108.96</td><td>128.74</td><td>64.53</td><td>48.46</td><td>53.67</td><td>109.22</td></tr>
<tr><td>Net profit</td><td>117.48</td><td>120.66</td><td>203.37</td><td>213.48</td><td>272.83</td><td>282.17</td><td>158.81</td><td>103.8</td><td>142.07</td><td>317.67</td></tr>
<tr><td>Dividend Amount</td><td>9.48</td><td>9.48</td><td>11.38</td><td>13.27</td><td>15.17</td><td>17.06</td><td>18.96</td><td>20.86</td><td>22.75</td><td>24.65</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Quarters</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2021-09-30 00:00:00</td><td>2021-12-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2022-06-30 00:00:00</td><td>2022-09-30 00:00:00</td><td>2022-12-31 00:00:00</td><td>2023-03-31 00:00:00</td><td>2023-06-30 00:00:00</td><td>2023-09-30 00:00:00</td><td>2023-12-31 00:00:00</td></tr>
<tr><td>Sales</td><td>616.53</td><td>652.92</td><td>781.98</td><td>798.42</td><td>792.83</td><td>876.06</td><td>977.28</td><td>960.54</td><td>980.83</td><td>886.82</td></tr>
<tr><td>Expenses</td><td>553.81</td><td>594.25</td><td>692.94</td><td>699.71</td><td>685.28</td><td>756</td><td>833.29</td><td>819.34</td><td>836.84</td><td>755.77</td></tr>
<tr><td>Other Income</td><td>7.61</td><td>8.89</td><td>9.14</td><td>11.15</td><td>12.21</td><td>25.59</td><td>18.07</td><td>21.41</td><td>24.22</td><td>30.15</td></tr>
<tr><td>Depreciation</td><td>24.94</td><td>23.95</td><td>20.93</td><td>22.67</td><td>27.32</td><td>28.05</td><td>26.73</td><td>27.64</td><td>27.02</td><td>26.15</td></tr>
<tr><td>Interest</td><td>0.44</td><td>0.39</td><td>0.53</td><td>1.11</td><td>2.14</td><td>1.96</td><td>0.47</td><td>1.32</td><td>1.33</td><td>1.38</td></tr>
<tr><td>Profit before tax</td><td>44.95</td><td>43.22</td><td>76.72</td><td>86.08</td><td>90.3</td><td>115.64</td><td>134.86</td><td>133.65</td><td>139.86</td><td>133.67</td></tr>
<tr><td>Tax</td><td>12.7</td><td>11.39</td><td>20.12</td><td>23.68</td><td>21.67</td><td>30.22</td><td>33.64</td><td>33.89</td><td>35.52</td><td>34.05</td></tr>
<tr><td>Net profit</td><td>32.25</td><td>31.84</td><td>56.6</td><td>62.4</td><td>68.64</td><td>85.42</td><td>101.21</td><td>99.76</td><td>104.33</td><td>99.62</td></tr>
<tr><td>Operating Profit</td><td>62.72</td><td>58.67</td><td>89.04</td><td>98.71</td><td>107.55</td><td>120.06</td><td>143.99</td><td>141.2</td><td>143.99</td><td>131.05</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>BALANCE SHEET</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Equity Share Capital</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td><td>9.48</td></tr>
<tr><td>Reserves</td><td>745.7</td><td>853.55</td><td>1058.3</td><td>1256.94</td><td>1516.4</td><td>1770.49</td><td>1885.06</td><td>1986.92</td><td>2104.59</td><td>2399.63</td></tr>
<tr><td>Borrowings</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Other Liabilities</td><td>201.75</td><td>250.46</td><td>455.47</td><td>470.66</td><td>643.05</td><td>555.57</td><td>286.17</td><td>499.91</td><td>522.61</td><td>610.7</td></tr>
<tr><td>Total</td><td>956.93</td><td>1113.49</td><td>1523.25</td><td>1737.08</td><td>2168.93</td><td>2335.54</td><td>2180.71</td><td>2496.31</td><td>2636.68</td><td>3019.81</td></tr>
<tr><td>Net Block</td><td>306.46</td><td>323.74</td><td>335.09</td><td>317.94</td><td>358.95</td><td>439.96</td><td>470.99</td><td>432.24</td><td>535.66</td><td>585.52</td></tr>
<tr><td>Capital Work in Progress</td><td>11.1</td><td>17.63</td><td>37.45</td><td>61.66</td><td>52.38</td><td>19.31</td><td>29.96</td><td>49.74</td><td>20.26</td><td>76.83</td></tr>
<tr><td>Investments</td><td>50.2</td><td>39.2</td><td>218.35</td><td>298.14</td><td>445.65</td><td>313.43</td><td>542.37</td><td>639.97</td><td>399.11</td><td>101.14</td></tr>
<tr><td>Other Assets</td><td>589.17</td><td>732.92</td><td>932.36</td><td>1059.34</td><td>1311.95</td><td>1562.84</td><td>1137.39</td><td>1374.36</td><td>1681.65</td><td>2256.32</td></tr>
<tr><td>Total</td><td>956.93</td><td>1113.49</td><td>1523.25</td><td>1737.08</td><td>2168.93</td><td>2335.54</td><td>2180.71</td><td>2496.31</td><td>2636.68</td><td>3019.81</td></tr>
<tr><td>Receivables</td><td>231.47</td><td>299.15</td><td>436.96</td><td>517.98</td><td>648.34</td><td>634</td><td>363.54</td><td>585.45</td><td>666.38</td><td>757.86</td></tr>
<tr><td>Inventory</td><td>112.44</td><td>117.97</td><td>175.64</td><td>145.34</td><td>132.38</td><td>151.04</td><td>112.57</td><td>113.72</td><td>144.77</td><td>155.21</td></tr>
<tr><td>Cash & Bank</td><td>155.41</td><td>223.05</td><td>213.04</td><td>266.83</td><td>356.08</td><td>549.65</td><td>461.19</td><td>461.98</td><td>669.1</td><td>1168.7</td></tr>
<tr><td>No. of Equity Shares</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td><td>18967584</td></tr>
<tr><td>New Bonus Shares</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Face value</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>CASH FLOW:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Report Date</td><td>2014-03-31 00:00:00</td><td>2015-03-31 00:00:00</td><td>2016-03-31 00:00:00</td><td>2017-03-31 00:00:00</td><td>2018-03-31 00:00:00</td><td>2019-03-31 00:00:00</td><td>2020-03-31 00:00:00</td><td>2021-03-31 00:00:00</td><td>2022-03-31 00:00:00</td><td>2023-03-31 00:00:00</td></tr>
<tr><td>Cash from Operating Activity</td><td>143.03</td><td>124.1</td><td>242.16</td><td>179.58</td><td>310.78</td><td>149.96</td><td>224.3</td><td>138.42</td><td>138.08</td><td>298.75</td></tr>
<tr><td>Cash from Investing Activity</td><td>-75.52</td><td>-45.06</td><td>-240.54</td><td>-119.91</td><td>-205.2</td><td>-428.65</td><td>-165.3</td><td>-23.8</td><td>-178.17</td><td>-270.15</td></tr>
<tr><td>Cash from Financing Activity</td><td>-11.24</td><td>-11.39</td><td>-11.62</td><td>-14.16</td><td>-17.61</td><td>-18.29</td><td>-47.58</td><td>-18.57</td><td>-28.45</td><td>-31.07</td></tr>
<tr><td>Net Cash Flow</td><td>56.27</td><td>67.65</td><td>-10</td><td>45.51</td><td>87.98</td><td>-296.98</td><td>11.42</td><td>96.05</td><td>-68.54</td><td>-2.47</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>PRICE:</td><td>2033.95</td><td>5710.85</td><td>6247.9</td><td>5826.1</td><td>7930.8</td><td>6662.05</td><td>6141.3</td><td>6590.05</td><td>7631.7</td><td>10408.85</td></tr>
<tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>DERIVED:</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td>Adjusted Equity Shares in Cr</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td><td>1.9</td></tr>
</table>
</body>
</html>